In [1]:
from pyclbr import Class
from networkx.algorithms.centrality import group

from descriptive import Person_links

import main
from itertools import product
import math
import random
import pandas as pd
import networkx as nx
import numpy as np
import multiprocessing as mp
import matplotlib.pyplot as plt
from pathlib import Path
import time

In [2]:
df = pd.read_csv('Data/Spatial_data/bbga_latest_and_greatest_948e83a9fa.csv', sep=';')

In [3]:
df.columns

Index(['jaar', 'gebiedcode15', 'variabele', 'waarde'], dtype='object')

In [4]:
df = df[df['jaar'] == 2021]

In [5]:
possibilities = list(df['variabele'].unique())

for possible in possibilities:

    if possible[-2:] == '_P' and possible[0:3] == 'BEV':
        print(possible)

BEVMAN_P
BEVVROUW_P
BEVINST_P
BEVINST65PLUS_P
BEVPOTBBV15_74_P
BEVSUR_P
BEVANTIL_P
BEVTURK_P
BEVMAROK_P
BEVOVNW_P
BEVWEST_P
BEVAUTOCH_P
BEVNW_P
BEVNSTEDELING_P
BEVEENOUDERHH_P
BEVALLEENHH_P
BEVPAARZKINDHH_P
BEVPAARMKINDHH_P
BEVOVERIGHH_P
BEVHHMKIND_P
BEV1P75PLUS_P
BEV0_3_P
BEV65PLUS_P
BEV4_12_P
BEV13_17_P
BEV0_17_P
BEV0_18_P
BEV18_26_P
BEV18_64_P
BEV27_65_P
BEV66PLUS_P
BEV65_74_P
BEV75PLUS_P
BEV80PLUS_P
BEV17AUTO_P
BEV18_22NL_P
BEV23_39NL_P
BEV40_64NL_P
BEV65PLUSNL_P
BEV65_79NL_P
BEV80PLUSNL_P
BEV17W_P
BEV18_22W_P
BEV23_39W_P
BEV40_64W_P
BEV65PLUSW_P
BEV65_79W_P
BEV80PLUSW_P
BEV17NW_P
BEV18_22NW_P
BEV23_39NW_P
BEV40_64NW_P
BEV65PLUSNW_P
BEV65_79NW_P
BEV80PLUSNW_P

In [6]:
groepen = ['BEVSUR_P',
'BEVANTIL_P',
'BEVTURK_P',
'BEVMAROK_P',
'BEVOVNW_P',
'BEVWEST_P',
'BEVAUTOCH_P',
]

In [7]:
x = 0

wijken = []
for i in df['gebiedcode15'].unique():
#     print(i)
    
    if i == 'DX01':
        x = 1
    
    if i == 'ZX99':
        break
        
    if x == 1:
        wijken.append(i)

print(wijken)

['DX01', 'DX02', 'DX03', 'DX04', 'DX05', 'DX06', 'DX07', 'DX08', 'DX09', 'DX10', 'DX11', 'DX12', 'DX13', 'DX14', 'DX15', 'DX16', 'DX17', 'DX18', 'DX19', 'DX20', 'DX21', 'DX22']

In [8]:

df_sp = df[df['jaar'] == 2021]

In [9]:
df_sp = df_sp.loc[df['variabele'].isin(groepen)]

In [10]:
df_sp = df_sp.loc[df['gebiedcode15'].isin(wijken)]

In [11]:
df_sp

        jaar gebiedcode15    variabele  waarde
339343  2021         DX01     BEVSUR_P     2.4
339344  2021         DX02     BEVSUR_P     3.6
339345  2021         DX03     BEVSUR_P     4.7
339346  2021         DX04     BEVSUR_P     4.3
339347  2021         DX05     BEVSUR_P     4.3
...      ...          ...          ...     ...
436686  2021         DX18  BEVAUTOCH_P    53.0
436687  2021         DX19  BEVAUTOCH_P    39.4
436688  2021         DX20  BEVAUTOCH_P    17.5
436689  2021         DX21  BEVAUTOCH_P    20.8
436690  2021         DX22  BEVAUTOCH_P    33.7

[154 rows x 4 columns]

In [12]:
sum(df_sp[df_sp['gebiedcode15'] == 'DX01']['waarde'])

100.0

In [13]:
df_t = df[df['variabele'] == 'BEVDICHT']

df_t = df_t.loc[df['gebiedcode15'].isin(wijken)]

df_t['amount_of_persons'] = round(df_t['waarde']/sum(df_t['waarde']) * 861000)

In [14]:
df_t

        jaar gebiedcode15 variabele   waarde  amount_of_persons
100400  2021         DX01  BEVDICHT  15959.0            69346.0
100401  2021         DX02  BEVDICHT  12390.0            53838.0
100402  2021         DX03  BEVDICHT  12387.0            53825.0
100403  2021         DX04  BEVDICHT  11072.0            48111.0
100404  2021         DX05  BEVDICHT  23831.0           103552.0
100405  2021         DX06  BEVDICHT   3402.0            14783.0
100406  2021         DX07  BEVDICHT   4775.0            20749.0
100407  2021         DX08  BEVDICHT   4689.0            20375.0
100408  2021         DX09  BEVDICHT   8543.0            37122.0
100409  2021         DX10  BEVDICHT  11039.0            47968.0
100410  2021         DX11  BEVDICHT   3967.0            17238.0
100411  2021         DX12  BEVDICHT  17398.0            75599.0
100412  2021         DX13  BEVDICHT  17438.0            75773.0
100413  2021         DX14  BEVDICHT  14237.0            61864.0
100414  2021         DX15  BEVDICHT   4398.0            19111.0
100415  2021         DX16  BEVDICHT   5621.0            24425.0
100416  2021         DX17  BEVDICHT   5614.0            24394.0
100417  2021         DX18  BEVDICHT   4740.0            20597.0
100418  2021         DX19  BEVDICHT   1113.0             4836.0
100419  2021         DX20  BEVDICHT   3350.0            14557.0
100420  2021         DX21  BEVDICHT   8064.0            35040.0
100421  2021         DX22  BEVDICHT   4119.0            17898.0

In [15]:
df_sp = df_sp.replace(['BEVANTIL_P',
'BEVOVNW_P',
'BEVWEST_P'], 'OVERIG')

In [16]:
df_sp = df_sp.groupby(['variabele', 'gebiedcode15'], as_index=False).sum()

In [17]:
df_sp = df_sp.replace(['BEVAUTOCH_P','BEVSUR_P','BEVMAROK_P','BEVTURK_P', 'OVERIG' ],['Autochtoon','Surinaams','Marokkaans','Turks', 'Overig'])

In [18]:
hash_dict, rehash_dict =main.hash_groups()

df_nodes = pd.read_csv('Data/tab_n(with oplniv).csv')
all_nodes, group_nodes, etn_dict = main.initialize_nodes(df_nodes, hash_dict)

In [19]:
amount = []

for i in df_sp.iterrows():
    row = i[1]
    area = row['gebiedcode15']
    waarde = row['waarde']
    etn = row['variabele']
    
    total = df_t[df_t['gebiedcode15'] == area]['amount_of_persons']
    

    amount.append(math.ceil((float(total)*float(waarde)/100)) )

df_sp['amount_per_area'] = amount

print(sum(amount))

860834

In [20]:
df_sp['area_code'] = [i%22 for i in range(110)]

In [21]:
df_sp

      variabele gebiedcode15  jaar  waarde  amount_per_area  area_code
0    Autochtoon         DX01  2021    54.0            37447          0
1    Autochtoon         DX02  2021    54.1            29127          1
2    Autochtoon         DX03  2021    50.8            27344          2
3    Autochtoon         DX04  2021    37.1            17850          3
4    Autochtoon         DX05  2021    49.4            51155          4
..          ...          ...   ...     ...              ...        ...
105      Overig         DX18  6063    29.7             6118         17
106      Overig         DX19  6063    32.5             1572         18
107      Overig         DX20  6063    51.4             7483         19
108      Overig         DX21  6063    45.6            15979         20
109      Overig         DX22  6063    37.3             6676         21

[110 rows x 6 columns]

In [22]:
df_n = pd.read_csv('Data/tab_n(with oplniv).csv')

In [23]:
df_sp.to_csv('Data/spatial_data/spatial_data.csv')

In [24]:
df_sp = pd.read_csv('Data\Spatial_data\spatial_data.csv')

In [25]:
amount = []

for i in df_sp.iterrows():
    row = i[1]
    area = row['gebiedcode15']
    waarde = row['waarde']
    etn = row['variabele']
    
    total = df_t[df_t['gebiedcode15'] == area]['amount_of_persons']
    mv =len(etn_dict[etn])/sum(df_sp[df_sp['variabele'] == etn]['amount_per_area'])
    

    mv+=0.01
    print(total)
    print(total, waarde)
    amount.append(math.ceil((float(total)*float(waarde)/100)* mv) )

df_sp['amount_per_area'] = amount

print(sum(amount))

100400    69346.0
Name: amount_of_persons, dtype: float64
100400    69346.0
Name: amount_of_persons, dtype: float64 54.0
100401    53838.0
Name: amount_of_persons, dtype: float64
100401    53838.0
Name: amount_of_persons, dtype: float64 54.1
100402    53825.0
Name: amount_of_persons, dtype: float64
100402    53825.0
Name: amount_of_persons, dtype: float64 50.8
100403    48111.0
Name: amount_of_persons, dtype: float64
100403    48111.0
Name: amount_of_persons, dtype: float64 37.1
100404    103552.0
Name: amount_of_persons, dtype: float64
100404    103552.0
Name: amount_of_persons, dtype: float64 49.4
100405    14783.0
Name: amount_of_persons, dtype: float64
100405    14783.0
Name: amount_of_persons, dtype: float64 23.8
100406    20749.0
Name: amount_of_persons, dtype: float64
100406    20749.0
Name: amount_of_persons, dtype: float64 27.8
100407    20375.0
Name: amount_of_persons, dtype: float64
100407    20375.0
Name: amount_of_persons, dtype: float64 46.8
100408    37122.0
Name: amount_of_persons, dtype: float64
100408    37122.0
Name: amount_of_persons, dtype: float64 32.6
100409    47968.0
Name: amount_of_persons, dtype: float64
100409    47968.0
Name: amount_of_persons, dtype: float64 56.4
100410    17238.0
Name: amount_of_persons, dtype: float64
100410    17238.0
Name: amount_of_persons, dtype: float64 44.1
100411    75599.0
Name: amount_of_persons, dtype: float64
100411    75599.0
Name: amount_of_persons, dtype: float64 54.7
100412    75773.0
Name: amount_of_persons, dtype: float64
100412    75773.0
Name: amount_of_persons, dtype: float64 44.6
100413    61864.0
Name: amount_of_persons, dtype: float64
100413    61864.0
Name: amount_of_persons, dtype: float64 45.7
100414    19111.0
Name: amount_of_persons, dtype: float64
100414    19111.0
Name: amount_of_persons, dtype: float64 58.1
100415    24425.0
Name: amount_of_persons, dtype: float64
100415    24425.0
Name: amount_of_persons, dtype: float64 45.6
100416    24394.0
Name: amount_of_persons, dtype: float64
100416    24394.0
Name: amount_of_persons, dtype: float64 50.2
100417    20597.0
Name: amount_of_persons, dtype: float64
100417    20597.0
Name: amount_of_persons, dtype: float64 53.0
100418    4836.0
Name: amount_of_persons, dtype: float64
100418    4836.0
Name: amount_of_persons, dtype: float64 39.4
100419    14557.0
Name: amount_of_persons, dtype: float64
100419    14557.0
Name: amount_of_persons, dtype: float64 17.5
100420    35040.0
Name: amount_of_persons, dtype: float64
100420    35040.0
Name: amount_of_persons, dtype: float64 20.8
100421    17898.0
Name: amount_of_persons, dtype: float64
100421    17898.0
Name: amount_of_persons, dtype: float64 33.7
100400    69346.0
Name: amount_of_persons, dtype: float64
100400    69346.0
Name: amount_of_persons, dtype: float64 1.5
100401    53838.0
Name: amount_of_persons, dtype: float64
100401    53838.0
Name: amount_of_persons, dtype: float64 2.2
100402    53825.0
Name: amount_of_persons, dtype: float64
100402    53825.0
Name: amount_of_persons, dtype: float64 6.5
100403    48111.0
Name: amount_of_persons, dtype: float64
100403    48111.0
Name: amount_of_persons, dtype: float64 18.1
100404    103552.0
Name: amount_of_persons, dtype: float64
100404    103552.0
Name: amount_of_persons, dtype: float64 6.8
100405    14783.0
Name: amount_of_persons, dtype: float64
100405    14783.0
Name: amount_of_persons, dtype: float64 25.8
100406    20749.0
Name: amount_of_persons, dtype: float64
100406    20749.0
Name: amount_of_persons, dtype: float64 22.3
100407    20375.0
Name: amount_of_persons, dtype: float64
100407    20375.0
Name: amount_of_persons, dtype: float64 11.4
100408    37122.0
Name: amount_of_persons, dtype: float64
100408    37122.0
Name: amount_of_persons, dtype: float64 19.4
100409    47968.0
Name: amount_of_persons, dtype: float64
100409    47968.0
Name: amount_of_persons, dtype: float64 1.8
100410    17238.0
Name: amount_of_persons, dtype: float64
100410    17238.0
Name: amount_of_persons, dtype: float64 2.0
100411    75599.0
Name: amount_of_persons, dtype: float64
100411    75599.0
Name: amount_of_persons, dtype: float64 4.1
100412    75773.0
Name: amount_of_persons, dtype: float64
100412    75773.0
Name: amount_of_persons, dtype: float64 10.6
100413    61864.0
Name: amount_of_persons, dtype: float64
100413    61864.0
Name: amount_of_persons, dtype: float64 11.9
100414    19111.0
Name: amount_of_persons, dtype: float64
100414    19111.0
Name: amount_of_persons, dtype: float64 3.9
100415    24425.0
Name: amount_of_persons, dtype: float64
100415    24425.0
Name: amount_of_persons, dtype: float64 8.6
100416    24394.0
Name: amount_of_persons, dtype: float64
100416    24394.0
Name: amount_of_persons, dtype: float64 9.4
100417    20597.0
Name: amount_of_persons, dtype: float64
100417    20597.0
Name: amount_of_persons, dtype: float64 8.4
100418    4836.0
Name: amount_of_persons, dtype: float64
100418    4836.0
Name: amount_of_persons, dtype: float64 12.0
100419    14557.0
Name: amount_of_persons, dtype: float64
100419    14557.0
Name: amount_of_persons, dtype: float64 2.9
100420    35040.0
Name: amount_of_persons, dtype: float64
100420    35040.0
Name: amount_of_persons, dtype: float64 2.4
100421    17898.0
Name: amount_of_persons, dtype: float64
100421    17898.0
Name: amount_of_persons, dtype: float64 2.1
100400    69346.0
Name: amount_of_persons, dtype: float64
100400    69346.0
Name: amount_of_persons, dtype: float64 2.4
100401    53838.0
Name: amount_of_persons, dtype: float64
100401    53838.0
Name: amount_of_persons, dtype: float64 3.6
100402    53825.0
Name: amount_of_persons, dtype: float64
100402    53825.0
Name: amount_of_persons, dtype: float64 4.7
100403    48111.0
Name: amount_of_persons, dtype: float64
100403    48111.0
Name: amount_of_persons, dtype: float64 4.3
100404    103552.0
Name: amount_of_persons, dtype: float64
100404    103552.0
Name: amount_of_persons, dtype: float64 4.3
100405    14783.0
Name: amount_of_persons, dtype: float64
100405    14783.0
Name: amount_of_persons, dtype: float64 5.1
100406    20749.0
Name: amount_of_persons, dtype: float64
100406    20749.0
Name: amount_of_persons, dtype: float64 6.7
100407    20375.0
Name: amount_of_persons, dtype: float64
100407    20375.0
Name: amount_of_persons, dtype: float64 7.3
100408    37122.0
Name: amount_of_persons, dtype: float64
100408    37122.0
Name: amount_of_persons, dtype: float64 4.9
100409    47968.0
Name: amount_of_persons, dtype: float64
100409    47968.0
Name: amount_of_persons, dtype: float64 2.3
100410    17238.0
Name: amount_of_persons, dtype: float64
100410    17238.0
Name: amount_of_persons, dtype: float64 3.4
100411    75599.0
Name: amount_of_persons, dtype: float64
100411    75599.0
Name: amount_of_persons, dtype: float64 3.8
100412    75773.0
Name: amount_of_persons, dtype: float64
100412    75773.0
Name: amount_of_persons, dtype: float64 6.8
100413    61864.0
Name: amount_of_persons, dtype: float64
100413    61864.0
Name: amount_of_persons, dtype: float64 6.4
100414    19111.0
Name: amount_of_persons, dtype: float64
100414    19111.0
Name: amount_of_persons, dtype: float64 4.2
100415    24425.0
Name: amount_of_persons, dtype: float64
100415    24425.0
Name: amount_of_persons, dtype: float64 7.8
100416    24394.0
Name: amount_of_persons, dtype: float64
100416    24394.0
Name: amount_of_persons, dtype: float64 6.8
100417    20597.0
Name: amount_of_persons, dtype: float64
100417    20597.0
Name: amount_of_persons, dtype: float64 5.8
100418    4836.0
Name: amount_of_persons, dtype: float64
100418    4836.0
Name: amount_of_persons, dtype: float64 7.7
100419    14557.0
Name: amount_of_persons, dtype: float64
100419    14557.0
Name: amount_of_persons, dtype: float64 26.3
100420    35040.0
Name: amount_of_persons, dtype: float64
100420    35040.0
Name: amount_of_persons, dtype: float64 29.8
100421    17898.0
Name: amount_of_persons, dtype: float64
100421    17898.0
Name: amount_of_persons, dtype: float64 26.0
100400    69346.0
Name: amount_of_persons, dtype: float64
100400    69346.0
Name: amount_of_persons, dtype: float64 1.2
100401    53838.0
Name: amount_of_persons, dtype: float64
100401    53838.0
Name: amount_of_persons, dtype: float64 1.4
100402    53825.0
Name: amount_of_persons, dtype: float64
100402    53825.0
Name: amount_of_persons, dtype: float64 2.1
100403    48111.0
Name: amount_of_persons, dtype: float64
100403    48111.0
Name: amount_of_persons, dtype: float64 10.2
100404    103552.0
Name: amount_of_persons, dtype: float64
100404    103552.0
Name: amount_of_persons, dtype: float64 3.9
100405    14783.0
Name: amount_of_persons, dtype: float64
100405    14783.0
Name: amount_of_persons, dtype: float64 19.1
100406    20749.0
Name: amount_of_persons, dtype: float64
100406    20749.0
Name: amount_of_persons, dtype: float64 13.0
100407    20375.0
Name: amount_of_persons, dtype: float64
100407    20375.0
Name: amount_of_persons, dtype: float64 8.1
100408    37122.0
Name: amount_of_persons, dtype: float64
100408    37122.0
Name: amount_of_persons, dtype: float64 8.3
100409    47968.0
Name: amount_of_persons, dtype: float64
100409    47968.0
Name: amount_of_persons, dtype: float64 1.5
100410    17238.0
Name: amount_of_persons, dtype: float64
100410    17238.0
Name: amount_of_persons, dtype: float64 2.3
100411    75599.0
Name: amount_of_persons, dtype: float64
100411    75599.0
Name: amount_of_persons, dtype: float64 2.0
100412    75773.0
Name: amount_of_persons, dtype: float64
100412    75773.0
Name: amount_of_persons, dtype: float64 5.0
100413    61864.0
Name: amount_of_persons, dtype: float64
100413    61864.0
Name: amount_of_persons, dtype: float64 5.6
100414    19111.0
Name: amount_of_persons, dtype: float64
100414    19111.0
Name: amount_of_persons, dtype: float64 1.6
100415    24425.0
Name: amount_of_persons, dtype: float64
100415    24425.0
Name: amount_of_persons, dtype: float64 3.4
100416    24394.0
Name: amount_of_persons, dtype: float64
100416    24394.0
Name: amount_of_persons, dtype: float64 6.6
100417    20597.0
Name: amount_of_persons, dtype: float64
100417    20597.0
Name: amount_of_persons, dtype: float64 3.1
100418    4836.0
Name: amount_of_persons, dtype: float64
100418    4836.0
Name: amount_of_persons, dtype: float64 8.3
100419    14557.0
Name: amount_of_persons, dtype: float64
100419    14557.0
Name: amount_of_persons, dtype: float64 1.9
100420    35040.0
Name: amount_of_persons, dtype: float64
100420    35040.0
Name: amount_of_persons, dtype: float64 1.3
100421    17898.0
Name: amount_of_persons, dtype: float64
100421    17898.0
Name: amount_of_persons, dtype: float64 0.9
100400    69346.0
Name: amount_of_persons, dtype: float64
100400    69346.0
Name: amount_of_persons, dtype: float64 40.90000000000001
100401    53838.0
Name: amount_of_persons, dtype: float64
100401    53838.0
Name: amount_of_persons, dtype: float64 38.7
100402    53825.0
Name: amount_of_persons, dtype: float64
100402    53825.0
Name: amount_of_persons, dtype: float64 35.8
100403    48111.0
Name: amount_of_persons, dtype: float64
100403    48111.0
Name: amount_of_persons, dtype: float64 30.3
100404    103552.0
Name: amount_of_persons, dtype: float64
100404    103552.0
Name: amount_of_persons, dtype: float64 35.59999999999999
100405    14783.0
Name: amount_of_persons, dtype: float64
100405    14783.0
Name: amount_of_persons, dtype: float64 26.1
100406    20749.0
Name: amount_of_persons, dtype: float64
100406    20749.0
Name: amount_of_persons, dtype: float64 30.2
100407    20375.0
Name: amount_of_persons, dtype: float64
100407    20375.0
Name: amount_of_persons, dtype: float64 26.3
100408    37122.0
Name: amount_of_persons, dtype: float64
100408    37122.0
Name: amount_of_persons, dtype: float64 34.8
100409    47968.0
Name: amount_of_persons, dtype: float64
100409    47968.0
Name: amount_of_persons, dtype: float64 37.8
100410    17238.0
Name: amount_of_persons, dtype: float64
100410    17238.0
Name: amount_of_persons, dtype: float64 48.3
100411    75599.0
Name: amount_of_persons, dtype: float64
100411    75599.0
Name: amount_of_persons, dtype: float64 35.4
100412    75773.0
Name: amount_of_persons, dtype: float64
100412    75773.0
Name: amount_of_persons, dtype: float64 32.9
100413    61864.0
Name: amount_of_persons, dtype: float64
100413    61864.0
Name: amount_of_persons, dtype: float64 30.5
100414    19111.0
Name: amount_of_persons, dtype: float64
100414    19111.0

Name: amount_of_persons, dtype: float64 32.2
100415    24425.0
Name: amount_of_persons, dtype: float64
100415    24425.0
Name: amount_of_persons, dtype: float64 34.7
100416    24394.0
Name: amount_of_persons, dtype: float64
100416    24394.0
Name: amount_of_persons, dtype: float64 26.9
100417    20597.0
Name: amount_of_persons, dtype: float64
100417    20597.0
Name: amount_of_persons, dtype: float64 29.7
100418    4836.0
Name: amount_of_persons, dtype: float64
100418    4836.0
Name: amount_of_persons, dtype: float64 32.5
100419    14557.0
Name: amount_of_persons, dtype: float64
100419    14557.0
Name: amount_of_persons, dtype: float64 51.39999999999999
100420    35040.0
Name: amount_of_persons, dtype: float64
100420    35040.0
Name: amount_of_persons, dtype: float64 45.6
100421    17898.0
Name: amount_of_persons, dtype: float64
100421    17898.0
Name: amount_of_persons, dtype: float64 37.3
869603

In [26]:
for i in etn_dict:
    print(i)
    print(len(etn_dict[i]))
    
    
    print(sum(df_sp[df_sp['variabele'] == i]['amount_per_area']))
    
    mv = len(etn_dict[i])/sum(df_sp[df_sp['variabele'] == i]['amount_per_area'])

    print(mv)
    print('\n')

Autochtoon
394250
398202
0.9900753888729841


Marokkaans
76647
77326
0.9912189949046892


Surinaams
64340
64904
0.9913102428201652


Turks
43929
44292
0.9918043890544568


Overig
281834
284879
0.9893112514435953

In [27]:
df_sp.to_csv('Data/spatial_data/spatial_data.csv')

In [32]:
def spatial(etn_dict, group_nodes):
    df_sp = pd.read_csv('Data\Spatial_data\spatial_data.csv')
    area_list = df_sp['area_code'].unique()
    etn_list = df_sp['variabele'].unique()
    groups = list(group_nodes.keys())

    areas_groups = {}
    node_area = {}
    areas_df = {} 
    areas = {}

    for area in area_list:
        areas[area] = {}
        areas_df[area] = {}
        areas_groups[area] = {}

        for etn in etn_list:
            areas_df[area][etn] = int(df_sp[(df_sp['variabele'] == etn) & (df_sp['area_code'] == area)]['amount_per_area'])
            areas[area][etn] = []
        for group in groups:
            areas_groups[area][group] = []

    total = 0
    x = 0
    for etn in etn_dict:
        random.shuffle(etn_dict[etn])
        random.shuffle(area_list)
        total+=len(etn_dict[etn])
        print(etn)
        
        area = 0
        i = 0
     
        while i < len(etn_dict[etn]):

            node = etn_dict[etn][i]
            if len(areas[area][etn]) < areas_df[area][etn] and area < 22:
                areas[area][etn].append(node)
                areas_groups[area][node[1]].append(node[0])
                node_area[node[0]] = area
                i+=1
              
    

            else:
                area+=1
                x += 1
                
                if area > 21:
                    area = 0
                    


    return areas_groups, node_area

In [33]:
total = 0
for x in ['Autochtoon', 'Marokkaans', 'Turks', 'Overig', 'Surinaams']:
    
    print(sum(df_sp[df_sp['variabele'] == i]['amount_per_area']))
    total+=len(etn_dict[x])

total

# print(len(etn_dict['Autochtoon']))

# print()
area_dict, node_area = spatial(etn_dict, group_nodes)

284879
284879
284879
284879
284879
Autochtoon
Marokkaans
Surinaams
Turks
Overig
861000 103

In [30]:
len(node_area)

NameError: name 'node_area' is not defined

In [ ]:
# areas = spatial(etn_dict,)

In [ ]:
# TODO
# Spatial
# Interlayer correlation
import main



'''
Hash function
'''

hash_dict, rehash_dict =main.hash_groups()

'''
Initialize nodes 
'''

df_nodes = pd.read_csv('Data/tab_n(with oplniv).csv')
all_nodes, group_nodes, etn_dict = main.initialize_nodes(df_nodes, hash_dict)

In [ ]:
'''
Initialize edges for multiple layers
'''

layers ='buren', 'c'

barabasi = 0

percentage = 1

reciprocity = 0

In [ ]:
def initialize_edges_links(df_edges,all_nodes, layer ,group_nodes, hash_dict, area_dict,node_area, id_source = None, id_destination = None, source = None, destination = None, barabasi = False, percentage=1, reciprocity=0):     
    '''
    Initializes the links based on the links per group instead of the probability
    '''   
    
    # Initialize all nodes with own link dictionary
    link_dictionary = {}

    for node in all_nodes:
        link_dictionary[node] = set()
      
    

    # Make from all strings integers so we do not have toe loop over pandas dataframe but over numpy array
    initial_list = []

    symetry_dict = {}


    for row in df_edges.iterrows():


        row = row[1]

        dst = hash_dict[f"{row['lft_dst']}, {row['etngrp_dst']}, {row['geslacht_dst']}, {row['oplniv_dst']}"]
        src = hash_dict[f"{row['lft_src']}, {row['etngrp_src']}, {row['geslacht_src']}, {row['oplniv_src']}"]

        initial_list.append(
            (
            dst,
            src,
            int(row['n'])
            )
            )
        
        symetry_dict[(src,dst)] = 0
    initial_list = np.array(initial_list)


    # If layer is huishouden or familie set symetric to True
    if layer == 'huishouden' or layer == 'familie':
        reciprocity = 1

    
    # Initializes the source and destinations lists if not multiprocessed
    if source == None and destination == None:
        source = []
        destination = []
        id_source = []
        id_destination = []

    total_edges = sum(df_edges['n'])

    edges_layd = 0
  
    # Loops through all connections (generated by the initialize node function) and makes links
    for row in initial_list:

        # Identifies source and destination group
        src_group = row[0]
        dst_group = row[1]
        connections = row[2]

        # If te data is symetric (familie, household), initiate a dictionary for the destination group
        if reciprocity:
            connections = connections - symetry_dict[(dst_group, src_group)]
     
        # If there are no connections between the source group and the destination group we continue
        if connections == 0:
            continue

        # Initialize dictionary with the node id as key and initial edges, 1, as value
        dst_nodes = group_nodes[dst_group]
        src_nodes = group_nodes[src_group]
        
        # If Barabasi parameter is on take a sample to put in the initial bin (1 percent is standard)
        if barabasi: 
            dst_nodes_bin = random.sample(dst_nodes, k=(math.ceil(len(dst_nodes)*(percentage/100))))
        
        i = 0
        while i < connections:

            if edges_layd % 10000 == 0:
                print(edges_layd/total_edges)
                print(edges_layd)
            
            while True:
                
                # Take random source node and destination node based on the groups
                if len(src_nodes) > 0 and len(dst_nodes) > 0:
                    
                    src_node = random.choices(src_nodes)[0]
                    dst_node = random.choices(dst_nodes)[0]
                    
                    # CHECK IN WHICH AREA HE IS FROM ==> MAKE DICTIONARY WHERE NODE IS KEY AND AREA IS VALUE
                    # CHOOSE A RANDOM OTHE NODE FROM THAT AREA WITH GROUP SPECIFICS ==> MAKE DICTIONARY WHERE AREA AND GROUP IS KEY AND LIST OF NODES IS VALUE

             
                    if layer == 'buren':
                        area = node_area[src_node]
                        x = 0
# #                         
                        while True:
                           
                            x +=1
                            if x == 1000:
                                dst_node = random.choices(dst_nodes)[0]
                                print(area, src_group, dst_group, connections)
#                                 print(x)
#                                 break
#                             
                            dst_area_nodes = area_dict[area][src_group]
                            if len(dst_area_nodes) > 0:
# 
                                dst_node = random.choices(dst_area_nodes)[0]
                               
                                break
                                
                            else:
                                  break
                                  area+=1
                                  area= area%99
     
                                      
                    
                    # Take random node from the bin
                    if barabasi: dst_node = random.choices(dst_nodes_bin)[0]
                   

                else:
                    break


                # Checks if the source and destination node are not the same and checks if they aren't already linked
                if dst_node != src_node and dst_node not in link_dictionary[src_node]:
                    
                    # If Barabasi append a random node to the bin
                    if barabasi:
                        dst_nodes_bin.append(random.choices(dst_nodes)[0])
               
                        # Add the chosen node to the bin so the chosen node gets a higher weight 
                        if np.random.uniform() < barabasi : dst_nodes_bin.append(dst_node)

                        

                    # Appends both nodes to lists
                    if reciprocity > np.random.uniform() and src_node not in link_dictionary[dst_node]:


                        source.append(dst_group)
                        destination.append(src_group)
                        link_dictionary[dst_node].add(src_node)
                    
                        id_source.append(dst_node)
                        id_destination.append(src_node)
                        
                        symetry_dict[(src_group, dst_group)] += 1

                        if dst_nodes == src_nodes:
                            i += 1
                    source.append(src_group)
                    destination.append(dst_group)
                
                    id_source.append(src_node)
                    id_destination.append(dst_node)

                    link_dictionary[src_node].add(dst_node)

                    break
                
            edges_layd += 1
            i += 1

    print(edges_layd)   
    return source, destination, id_source, id_destination



if __name__ == '__main__':


    for layer_number, layer in enumerate(layers):
        
    
        df_edges = pd.read_csv(f'Data/tab_{layer}.csv')
        source, destination, source_id, destination_id = initialize_edges_links(df_edges, all_nodes, layer ,group_nodes, hash_dict,area_dict,node_area, id_source = None, id_destination = None, source = None, destination = None, barabasi = barabasi, percentage = percentage, reciprocity = reciprocity)


        d = {'source_id': list(source_id), 'destination_id':list(destination_id), 'source_group': list(source), 'destination_group': list(destination)}

        df_ = pd.DataFrame(d)
        
        df_.to_csv(f'Data/NW_data/{layer}_nw_b={barabasi}_{percentage}_percentage.csv')


#     areas

In [ ]:
rehash_dict[8], rehash_dict[6]

In [ ]:
for i in range(98):
    print(area_dict[i][8])

In [ ]:
# x = 0
# for etn in etn_list:
#     print(len(etn_dict[etn]))
#     x += len(etn_dict[etn])
# # len(node_area)
x = 0
for i in group_nodes:
    print(len(group_nodes[i]))
    
    x+= len(group_nodes[i])

x

In [ ]:
len(node_area)

node_area[92303]

In [ ]:
92303 in all_nodes