In [3]:
from pyclbr import Class
from networkx.algorithms.centrality import group


# from CLS_thesis.static_network.node_initialization import hash_groups
from itertools import product
import math
import random
import pandas as pd
import networkx as nx
import numpy as np
import multiprocessing as mp
import matplotlib.pyplot as plt
from pathlib import Path
import time

import sys

sys.path.append('../')
# C:\Users\KGulp\Documents\Computational Science\CLS_thesis\static_network\node_initialization.py
# from CLS_thesis.static_network.node_initialization import hash_groups
from static_network import node_initialization

## Import data and check what kind of possible variables there are in the data

In [31]:
df = pd.read_csv('../Data/Spatial_data/bbga_latest_and_greatest_948e83a9fa.csv', sep=';')

In [455]:
df.columns

Index(['jaar', 'gebiedcode15', 'variabele', 'waarde'], dtype='object')

In [32]:
df = df[df['jaar'] == 2019]

In [456]:
possibilities = list(df['variabele'].unique())

for possible in possibilities:

    if possible[-2:] == '_P' and possible[0:3] == 'BEV':
        print(possible)

BEVMAN_P
BEVVROUW_P
BEVINST_P
BEVINST65PLUS_P
BEVPOTBBV15_74_P
BEVSUR_P
BEVANTIL_P
BEVTURK_P
BEVMAROK_P
BEVOVNW_P
BEVWEST_P
BEVAUTOCH_P
BEVNW_P
BEVNSTEDELING_P
BEVOPLLAAG_P
BEVOPLMID_P
BEVOPLHOOG_P
BEVEENOUDERHH_P
BEVALLEENHH_P
BEVPAARZKINDHH_P
BEVPAARMKINDHH_P
BEVOVERIGHH_P
BEVHHMKIND_P
BEV1P75PLUS_P
BEVMUTNL_P
BEVMUTTOT_P
BEV0_3_P
BEV65PLUS_P
BEV4_12_P
BEV13_17_P
BEV0_17_P
BEV0_18_P
BEV18_26_P
BEV18_64_P
BEV27_65_P
BEV66PLUS_P
BEV65_74_P
BEV75PLUS_P
BEV80PLUS_P
BEV17AUTO_P
BEV18_22NL_P
BEV23_39NL_P
BEV40_64NL_P
BEV65PLUSNL_P
BEV65_79NL_P
BEV80PLUSNL_P
BEV17W_P
BEV18_22W_P
BEV23_39W_P
BEV40_64W_P
BEV65PLUSW_P
BEV65_79W_P
BEV80PLUSW_P
BEV17NW_P
BEV18_22NW_P
BEV23_39NW_P
BEV40_64NW_P
BEV65PLUSNW_P
BEV65_79NW_P
BEV80PLUSNW_P

# Choose the area based on the fisrt and last code

This can be Gebieden, Buurten or Wijken

In [40]:

area = 'wijken'

if area == 'buurten':
    begin = 'A00a'
    end = 'Z99z'
elif area == 'wijken':
    begin = 'A00'
    end = 'Z99'
elif area == 'gebieden':
    begin = 'DX01'
    end = 'ZX99'

x = 0

wijken = []

for i in df['gebiedcode15'].unique():

    if i == begin:
        x = 1
    
    if i == end:
        break
        
    if x == 1:
        wijken.append(i)

print(len(wijken))

99

# Get amount of persons per area

In [42]:
df_t = df[df['variabele'] == 'BEVDICHT']

df_t = df_t[df_t['jaar'] == 2019]
df_t = df_t.loc[df['gebiedcode15'].isin(wijken)]

df_t['amount_of_persons'] = (df_t['waarde']/df_t.waarde.sum()) * 861000

df_t

        jaar gebiedcode15 variabele   waarde  amount_of_persons
102107  2019          A00  BEVDICHT  12321.0        9543.378170
102108  2019          A01  BEVDICHT   7367.0        5706.198115
102109  2019          A02  BEVDICHT  14234.0       11025.115240
102110  2019          A03  BEVDICHT  10355.0        8020.589315
102111  2019          A04  BEVDICHT  13951.0       10805.914199
...      ...          ...       ...      ...                ...
102201  2019          T94  BEVDICHT   7954.0        6160.865998
102202  2019          T95  BEVDICHT   1374.0        1064.248162
102203  2019          T96  BEVDICHT   7068.0        5474.604083
102204  2019          T97  BEVDICHT   6289.0        4871.220299
102205  2019          T98  BEVDICHT    929.0         719.568080

[99 rows x 5 columns]

# Get area distribution based on ethnicity

In [43]:
groepen = ['BEVSUR_P',
'BEVANTIL_P',
'BEVTURK_P',
'BEVMAROK_P',
'BEVOVNW_P',
'BEVWEST_P',
'BEVAUTOCH_P',
]

df_sp = df[df['jaar'] == 2019]


df_sp = df_sp.loc[df['variabele'].isin(groepen)]

df_sp = df_sp.loc[df['gebiedcode15'].isin(wijken)]

df_sp = df_sp.replace(['BEVANTIL_P',
'BEVOVNW_P',
'BEVWEST_P'], 'OVERIG')

df_sp = df_sp.groupby(['variabele', 'gebiedcode15'], as_index=False).sum()

df_sp = df_sp.replace(['BEVAUTOCH_P','BEVSUR_P','BEVMAROK_P','BEVTURK_P', 'OVERIG' ],['Autochtoon','Surinaams','Marokkaans','Turks', 'Overig'])


amount = []

for i in df_sp.iterrows():
    row = i[1]
    area = row['gebiedcode15']
    waarde = row['waarde']
    etn = row['variabele']
    
    print(i)
    total = df_t[df_t['gebiedcode15'] == area]['amount_of_persons']
    print(total)
    if math.isnan(total):
        amount.append(0)
        continue
        
    if int(total) == 0:
        amount.append(0)
        continue
    

    amount.append(math.ceil((float(total)*float(waarde)/100)) )

df_sp['amount_per_area'] = amount


df_sp['area_code'] = [i%len(wijken) for i in range(len(wijken)*5)]
df_sp = df_sp.fillna(0)
df_sp

# df_sp.to_csv('../Data/Spatial_data/Ethnic_data.csv')

(0, variabele       Autochtoon
gebiedcode15           A00
jaar                  2019
waarde                50.9
Name: 0, dtype: object)
102107    9543.37817
Name: amount_of_persons, dtype: float64
(1, variabele       Autochtoon
gebiedcode15           A01
jaar                  2019
waarde                45.4
Name: 1, dtype: object)
102108    5706.198115
Name: amount_of_persons, dtype: float64
(2, variabele       Autochtoon
gebiedcode15           A02
jaar                  2019
waarde                56.2
Name: 2, dtype: object)
102109    11025.11524
Name: amount_of_persons, dtype: float64
(3, variabele       Autochtoon
gebiedcode15           A03
jaar                  2019
waarde                55.2
Name: 3, dtype: object)
102110    8020.589315
Name: amount_of_persons, dtype: float64
(4, variabele       Autochtoon
gebiedcode15           A04
jaar                  2019
waarde                57.4
Name: 4, dtype: object)
102111    10805.914199
Name: amount_of_persons, dtype: float64
(5, variabele       Autochtoon
gebiedcode15           A05
jaar                  2019
waarde                57.5
Name: 5, dtype: object)
102112    13499.066208
Name: amount_of_persons, dtype: float64
(6, variabele       Autochtoon
gebiedcode15           A06
jaar                  2019
waarde                  59
Name: 6, dtype: object)
102113    18073.629268
Name: amount_of_persons, dtype: float64
(7, variabele       Autochtoon
gebiedcode15           A07
jaar                  2019
waarde                57.5
Name: 7, dtype: object)
102114    10155.282135
Name: amount_of_persons, dtype: float64
(8, variabele       Autochtoon
gebiedcode15           A08
jaar                  2019
waarde                56.4
Name: 8, dtype: object)
102115    7823.850572
Name: amount_of_persons, dtype: float64
(9, variabele       Autochtoon
gebiedcode15           A09
jaar                  2019
waarde                54.9
Name: 9, dtype: object)
102116    10441.095506
Name: amount_of_persons, dtype: float64
(10, variabele       Autochtoon
gebiedcode15           B10
jaar                  2019
waarde                  52
Name: 10, dtype: object)
102117    6.971058
Name: amount_of_persons, dtype: float64
(11, variabele       Autochtoon
gebiedcode15           E12
jaar                  2019
waarde                  65
Name: 11, dtype: object)
102118    4721.729837
Name: amount_of_persons, dtype: float64
(12, variabele       Autochtoon
gebiedcode15           E13
jaar                  2019
waarde                49.6
Name: 12, dtype: object)
102119    6307.258213
Name: amount_of_persons, dtype: float64
(13, variabele       Autochtoon
gebiedcode15           E14
jaar                  2019
waarde                51.6
Name: 13, dtype: object)
102120    21562.256431
Name: amount_of_persons, dtype: float64
(14, variabele       Autochtoon
gebiedcode15           E15
jaar                  2019
waarde                54.3
Name: 14, dtype: object)
102121    3714.799262
Name: amount_of_persons, dtype: float64
(15, variabele       Autochtoon
gebiedcode15           E16
jaar                  2019
waarde                  55
Name: 15, dtype: object)
102122    18017.860806
Name: amount_of_persons, dtype: float64
(16, variabele       Autochtoon
gebiedcode15           E17
jaar                  2019
waarde                  58
Name: 16, dtype: object)
102123    16568.655339
Name: amount_of_persons, dtype: float64
(17, variabele       Autochtoon
gebiedcode15           E18
jaar                  2019
waarde                53.9
Name: 17, dtype: object)
102124    20049.536882
Name: amount_of_persons, dtype: float64
(18, variabele       Autochtoon
gebiedcode15           E19
jaar                  2019
waarde                47.1
Name: 18, dtype: object)
102125    21832.578563
Name: amount_of_persons, dtype: float64
(19, variabele       Autochtoon
gebiedcode15           E20
jaar                  2019
waarde                59.8
Name: 19, dtype: object)
102126    17271.957618
Name: amount_of_persons, dtype: float64
(20, variabele       Autochtoon
gebiedcode15           E21
jaar                  2019
waarde                58.7
Name: 20, dtype: object)
102127    20587.082897
Name: amount_of_persons, dtype: float64
(21, variabele       Autochtoon
gebiedcode15           E22
jaar                  2019
waarde                55.4
Name: 21, dtype: object)
102128    6585.325964
Name: amount_of_persons, dtype: float64
(22, variabele       Autochtoon
gebiedcode15           E36
jaar                  2019
waarde                  59
Name: 22, dtype: object)
102129    357.073073
Name: amount_of_persons, dtype: float64
(23, variabele       Autochtoon
gebiedcode15           E37
jaar                  2019
waarde                39.6
Name: 23, dtype: object)
102130    14323.974717
Name: amount_of_persons, dtype: float64
(24, variabele       Autochtoon
gebiedcode15           E38
jaar                  2019
waarde                50.5
Name: 24, dtype: object)
102131    12605.221681
Name: amount_of_persons, dtype: float64
(25, variabele       Autochtoon
gebiedcode15           E39
jaar                  2019
waarde                26.9
Name: 25, dtype: object)
102132    11166.860082
Name: amount_of_persons, dtype: float64
(26, variabele       Autochtoon
gebiedcode15           E40
jaar                  2019
waarde                57.1
Name: 26, dtype: object)
102133    19183.576587
Name: amount_of_persons, dtype: float64
(27, variabele       Autochtoon
gebiedcode15           E41
jaar                  2019
waarde                36.5
Name: 27, dtype: object)
102134    20305.142336
Name: amount_of_persons, dtype: float64
(28, variabele       Autochtoon
gebiedcode15           E42
jaar                  2019
waarde                45.7
Name: 28, dtype: object)
102135    20126.99308
Name: amount_of_persons, dtype: float64
(29, variabele       Autochtoon
gebiedcode15           E43
jaar                  2019
waarde                  58
Name: 29, dtype: object)
102136    16875.381883
Name: amount_of_persons, dtype: float64
(30, variabele       Autochtoon
gebiedcode15           E75
jaar                  2019
waarde                47.4
Name: 30, dtype: object)
102137    18947.335183
Name: amount_of_persons, dtype: float64
(31, variabele       Autochtoon
gebiedcode15           F11
jaar                  2019
waarde                22.8
Name: 31, dtype: object)
102138    95.271124
Name: amount_of_persons, dtype: float64
(32, variabele       Autochtoon
gebiedcode15           F76
jaar                  2019
waarde                23.5
Name: 32, dtype: object)
102139    7603.874969
Name: amount_of_persons, dtype: float64
(33, variabele       Autochtoon
gebiedcode15           F77
jaar                  2019
waarde                25.6
Name: 33, dtype: object)
102140    6184.102858
Name: amount_of_persons, dtype: float64
(34, variabele       Autochtoon
gebiedcode15           F78
jaar                  2019
waarde                21.5
Name: 34, dtype: object)
102141    9574.360649
Name: amount_of_persons, dtype: float64
(35, variabele       Autochtoon
gebiedcode15           F79
jaar                  2019
waarde                40.6
Name: 35, dtype: object)
102142    881.451535
Name: amount_of_persons, dtype: float64
(36, variabele       Autochtoon
gebiedcode15           F80
jaar                  2019
waarde                56.4
Name: 36, dtype: object)
102143    168.854512
Name: amount_of_persons, dtype: float64
(37, variabele       Autochtoon
gebiedcode15           F81
jaar                  2019
waarde                35.3
Name: 37, dtype: object)
102144    8027.560373
Name: amount_of_persons, dtype: float64
(38, variabele       Autochtoon
gebiedcode15           F82
jaar                  2019
waarde                21.6
Name: 38, dtype: object)
102145    11791.157039
Name: amount_of_persons, dtype: float64
(39, variabele       Autochtoon
gebiedcode15           F83
jaar                  2019
waarde                29.8
Name: 39, dtype: object)
102146    8280.84214
Name: amount_of_persons, dtype: float64
(40, variabele       Autochtoon
gebiedcode15           F84
jaar                  2019
waarde                43.3
Name: 40, dtype: object)
102147    7603.100407
Name: amount_of_persons, dtype: float64
(41, variabele       Autochtoon
gebiedcode15           F85
jaar                  2019
waarde                38.1
Name: 41, dtype: object)
102148    5545.089223
Name: amount_of_persons, dtype: float64
(42, variabele       Autochtoon
gebiedcode15           F86
jaar                  2019
waarde                29.3
Name: 42, dtype: object)
102149    7438.893267
Name: amount_of_persons, dtype: float64
(43, variabele       Autochtoon
gebiedcode15           F87
jaar                  2019
waarde                  37
Name: 43, dtype: object)
102150    5864.983321
Name: amount_of_persons, dtype: float64
(44, variabele       Autochtoon
gebiedcode15           F88
jaar                  2019
waarde                54.5
Name: 44, dtype: object)
102151    2360.090357
Name: amount_of_persons, dtype: float64
(45, variabele       Autochtoon
gebiedcode15           F89
jaar                  2019
waarde                33.2
Name: 45, dtype: object)
102152    6630.250559
Name: amount_of_persons, dtype: float64
(46, variabele       Autochtoon
gebiedcode15           K23
jaar                  2019
waarde                34.6
Name: 46, dtype: object)
102153    1444.558095
Name: amount_of_persons, dtype: float64
(47, variabele       Autochtoon
gebiedcode15           K24
jaar                  2019
waarde                53.5
Name: 47, dtype: object)
102154    18213.824987
Name: amount_of_persons, dtype: float64
(48, variabele       Autochtoon
gebiedcode15           K25
jaar                  2019
waarde                53.9
Name: 48, dtype: object)
102155    18684.758671
Name: amount_of_persons, dtype: float64
(49, variabele       Autochtoon
gebiedcode15           K26
jaar                  2019
waarde                46.5
Name: 49, dtype: object)
102156    18017.086244
Name: amount_of_persons, dtype: float64
(50, variabele       Autochtoon
gebiedcode15           K44
jaar                  2019
waarde                62.4
Name: 50, dtype: object)
102157    10802.815951
Name: amount_of_persons, dtype: float64
(51, variabele       Autochtoon
gebiedcode15           K45
jaar                  2019
waarde                  56
Name: 51, dtype: object)
102158    10396.170911
Name: amount_of_persons, dtype: float64
(52, variabele       Autochtoon
gebiedcode15           K46
jaar                  2019
waarde                56.7
Name: 52, dtype: object)
102159    6689.117269
Name: amount_of_persons, dtype: float64
(53, variabele       Autochtoon
gebiedcode15           K47
jaar                  2019
waarde                59.1
Name: 53, dtype: object)
102160    7531.066143
Name: amount_of_persons, dtype: float64
(54, variabele       Autochtoon
gebiedcode15           K48
jaar                  2019
waarde                55.3
Name: 54, dtype: object)
102161    9683.573888
Name: amount_of_persons, dtype: float64
(55, variabele       Autochtoon
gebiedcode15           K49
jaar                  2019
waarde                58.3
Name: 55, dtype: object)
102162    7578.314424
Name: amount_of_persons, dtype: float64
(56, variabele       Autochtoon
gebiedcode15           K52
jaar                  2019
waarde                65.4
Name: 56, dtype: object)
102163    11843.827254
Name: amount_of_persons, dtype: float64
(57, variabele       Autochtoon
gebiedcode15           K53
jaar                  2019
waarde                  59
Name: 57, dtype: object)
102164    16082.230415
Name: amount_of_persons, dtype: float64
(58, variabele       Autochtoon
gebiedcode15           K54
jaar                  2019
waarde                61.3
Name: 58, dtype: object)
102165    7366.084441
Name: amount_of_persons, dtype: float64
(59, variabele       Autochtoon
gebiedcode15           K59
jaar                  2019
waarde                56.2
Name: 59, dtype: object)
102166    2721.810802
Name: amount_of_persons, dtype: float64
(60, variabele       Autochtoon
gebiedcode15           K90
jaar                  2019
waarde                48.5
Name: 60, dtype: object)
102167    3699.308022
Name: amount_of_persons, dtype: float64
(61, variabele       Autochtoon
gebiedcode15           K91
jaar                  2019
waarde                46.4
Name: 61, dtype: object)
102168    4104.403938
Name: amount_of_persons, dtype: float64
(62, variabele       Autochtoon
gebiedcode15           M27
jaar                  2019
waarde                56.1
Name: 62, dtype: object)
102169    12413.904872
Name: amount_of_persons, dtype: float64
(63, variabele       Autochtoon
gebiedcode15           M28
jaar                  2019
waarde                46.5
Name: 63, dtype: object)
102170    11671.099932
Name: amount_of_persons, dtype: float64
(64, variabele       Autochtoon
gebiedcode15           M29
jaar                  2019
waarde                46.3
Name: 64, dtype: object)
102171    13326.338886
Name: amount_of_persons, dtype: float64
(65, variabele       Autochtoon
gebiedcode15           M30
jaar                  2019
waarde                41.1
Name: 65, dtype: object)
102172    19434.534669
Name: amount_of_persons, dtype: float64
(66, variabele       Autochtoon
gebiedcode15           M31
jaar                  2019
waarde                37.6
Name: 66, dtype: object)
102173    20900.005937
Name: amount_of_persons, dtype: float64
(67, variabele       Autochtoon
gebiedcode15           M32
jaar                  2019
waarde                34.1
Name: 67, dtype: object)
102174    8622.423974
Name: amount_of_persons, dtype: float64
(68, variabele       Autochtoon
gebiedcode15           M33
jaar                  2019
waarde                58.7
Name: 68, dtype: object)
102175    9668.082649
Name: amount_of_persons, dtype: float64
(69, variabele       Autochtoon
gebiedcode15           M34
jaar                  2019
waarde                49.7
Name: 69, dtype: object)
102176    1181.207021
Name: amount_of_persons, dtype: float64
(70, variabele       Autochtoon
gebiedcode15           M35
jaar                  2019
waarde                48.4
Name: 70, dtype: object)
102177    10719.163257
Name: amount_of_persons, dtype: float64
(71, variabele       Autochtoon
gebiedcode15           M50
jaar                  2019
waarde                   0
Name: 71, dtype: object)
102178   NaN
Name: amount_of_persons, dtype: float64
(72, variabele       Autochtoon
gebiedcode15           M51
jaar                  2019
waarde                46.2
Name: 72, dtype: object)
102179    9774.972202
Name: amount_of_persons, dtype: float64
(73, variabele       Autochtoon
gebiedcode15           M55
jaar                  2019
waarde                  55
Name: 73, dtype: object)
102180    5634.938413
Name: amount_of_persons, dtype: float64
(74, variabele       Autochtoon
gebiedcode15           M56
jaar                  2019
waarde                63.8
Name: 74, dtype: object)
102181    4473.870003
Name: amount_of_persons, dtype: float64
(75, variabele       Autochtoon
gebiedcode15           M57
jaar                  2019
waarde                61.1
Name: 75, dtype: object)
102182    2376.356158
Name: amount_of_persons, dtype: float64
(76, variabele       Autochtoon
gebiedcode15           M58
jaar                  2019
waarde                56.6
Name: 76, dtype: object)
102183    1334.570294
Name: amount_of_persons, dtype: float64
(77, variabele       Autochtoon
gebiedcode15           N60
jaar                  2019
waarde                47.4
Name: 77, dtype: object)
102184    6354.506493
Name: amount_of_persons, dtype: float64
(78, variabele       Autochtoon
gebiedcode15           N61
jaar                  2019
waarde                41.5
Name: 78, dtype: object)
102185    5464.534777
Name: amount_of_persons, dtype: float64
(79, variabele       Autochtoon
gebiedcode15           N62
jaar                  2019
waarde                74.5
Name: 79, dtype: object)
102186    6394.783716
Name: amount_of_persons, dtype: float64
(80, variabele       Autochtoon
gebiedcode15           N63
jaar                  2019
waarde                68.1
Name: 80, dtype: object)
102187    8651.857329
Name: amount_of_persons, dtype: float64
(81, variabele       Autochtoon
gebiedcode15           N64
jaar                  2019
waarde                79.6
Name: 81, dtype: object)
102188    3729.515939
Name: amount_of_persons, dtype: float64
(82, variabele       Autochtoon
gebiedcode15           N65
jaar                  2019
waarde                61.7
Name: 82, dtype: object)
102189    5772.810446
Name: amount_of_persons, dtype: float64
(83, variabele       Autochtoon
gebiedcode15           N66
jaar                  2019
waarde                55.9
Name: 83, dtype: object)
102190    2811.659992
Name: amount_of_persons, dtype: float64
(84, variabele       Autochtoon
gebiedcode15           N67
jaar                  2019
waarde                71.1
Name: 84, dtype: object)
102191    1935.630391
Name: amount_of_persons, dtype: float64
(85, variabele       Autochtoon
gebiedcode15           N68
jaar                  2019
waarde                30.5
Name: 85, dtype: object)
102192    7318.061598
Name: amount_of_persons, dtype: float64
(86, variabele       Autochtoon
gebiedcode15           N69
jaar                  2019
waarde                40.1
Name: 86, dtype: object)
102193    5872.728941
Name: amount_of_persons, dtype: float64
(87, variabele       Autochtoon
gebiedcode15           N70
jaar                  2019
waarde                37.4
Name: 87, dtype: object)
102194    6792.908575
Name: amount_of_persons, dtype: float64
(88, variabele       Autochtoon
gebiedcode15           N71
jaar                  2019
waarde                59.2
Name: 88, dtype: object)
102195    1264.859715
Name: amount_of_persons, dtype: float64
(89, variabele       Autochtoon
gebiedcode15           N72
jaar                  2019
waarde                34.4
Name: 89, dtype: object)
102196    368.691503
Name: amount_of_persons, dtype: float64
(90, variabele       Autochtoon
gebiedcode15           N73
jaar                  2019
waarde                85.4
Name: 90, dtype: object)
102197    74.35795
Name: amount_of_persons, dtype: float64
(91, variabele       Autochtoon
gebiedcode15           N74
jaar                  2019
waarde                53.2
Name: 91, dtype: object)
102198    2808.561744
Name: amount_of_persons, dtype: float64
(92, variabele       Autochtoon
gebiedcode15           T92
jaar                  2019
waarde                43.6
Name: 92, dtype: object)
102199    113.860611
Name: amount_of_persons, dtype: float64
(93, variabele       Autochtoon
gebiedcode15           T93
jaar                  2019
waarde                16.8
Name: 93, dtype: object)
102200    6328.171386
Name: amount_of_persons, dtype: float64
(94, variabele       Autochtoon
gebiedcode15           T94
jaar                  2019
waarde                21.4
Name: 94, dtype: object)
102201    6160.865998
Name: amount_of_persons, dtype: float64
(95, variabele       Autochtoon
gebiedcode15           T95
jaar                  2019
waarde                  47
Name: 95, dtype: object)
102202    1064.248162
Name: amount_of_persons, dtype: float64
(96, variabele       Autochtoon
gebiedcode15           T96
jaar                  2019
waarde                27.8
Name: 96, dtype: object)
102203    5474.604083
Name: amount_of_persons, dtype: float64
(97, variabele       Autochtoon
gebiedcode15           T97
jaar                  2019
waarde                35.8
Name: 97, dtype: object)
102204    4871.220299
Name: amount_of_persons, dtype: float64
(98, variabele       Autochtoon
gebiedcode15           T98
jaar                  2019
waarde                79.2
Name: 98, dtype: object)
102205    719.56808
Name: amount_of_persons, dtype: float64
(99, variabele       Marokkaans
gebiedcode15           A00
jaar                  2019
waarde                 0.8
Name: 99, dtype: object)
102107    9543.37817
Name: amount_of_persons, dtype: float64

102156    18017.086244
Name: amount_of_persons, dtype: float64
(149, variabele       Marokkaans
gebiedcode15           K44
jaar                  2019
waarde                 1.8
Name: 149, dtype: object)
102157    10802.815951
Name: amount_of_persons, dtype: float64
(150, variabele       Marokkaans
gebiedcode15           K45
jaar                  2019
waarde                 2.7
Name: 150, dtype: object)
102158    10396.170911
Name: amount_of_persons, dtype: float64
(151, variabele       Marokkaans
gebiedcode15           K46
jaar                  2019
waarde                   1
Name: 151, dtype: object)
102159    6689.117269
Name: amount_of_persons, dtype: float64
(152, variabele       Marokkaans
gebiedcode15           K47
jaar                  2019
waarde                 0.3
Name: 152, dtype: object)
102160    7531.066143
Name: amount_of_persons, dtype: float64
(153, variabele       Marokkaans
gebiedcode15           K48
jaar                  2019
waarde                 4.7
Name: 153, dtype: object)
102161    9683.573888
Name: amount_of_persons, dtype: float64
(154, variabele       Marokkaans
gebiedcode15           K49
jaar                  2019
waarde                 0.3
Name: 154, dtype: object)
102162    7578.314424
Name: amount_of_persons, dtype: float64
(155, variabele       Marokkaans
gebiedcode15           K52
jaar                  2019
waarde                 1.8
Name: 155, dtype: object)
102163    11843.827254
Name: amount_of_persons, dtype: float64
(156, variabele       Marokkaans
gebiedcode15           K53
jaar                  2019
waarde                 5.1
Name: 156, dtype: object)
102164    16082.230415
Name: amount_of_persons, dtype: float64
(157, variabele       Marokkaans
gebiedcode15           K54
jaar                  2019
waarde                 4.2
Name: 157, dtype: object)
102165    7366.084441
Name: amount_of_persons, dtype: float64
(158, variabele       Marokkaans
gebiedcode15           K59
jaar                  2019
waarde                   1
Name: 158, dtype: object)
102166    2721.810802
Name: amount_of_persons, dtype: float64
(159, variabele       Marokkaans
gebiedcode15           K90
jaar                  2019
waarde                 1.8
Name: 159, dtype: object)
102167    3699.308022
Name: amount_of_persons, dtype: float64
(160, variabele       Marokkaans
gebiedcode15           K91
jaar                  2019
waarde                 2.3
Name: 160, dtype: object)
102168    4104.403938
Name: amount_of_persons, dtype: float64
(161, variabele       Marokkaans
gebiedcode15           M27
jaar                  2019
waarde                   4
Name: 161, dtype: object)
102169    12413.904872
Name: amount_of_persons, dtype: float64
(162, variabele       Marokkaans
gebiedcode15           M28
jaar                  2019
waarde                 9.8
Name: 162, dtype: object)
102170    11671.099932
Name: amount_of_persons, dtype: float64
(163, variabele       Marokkaans
gebiedcode15           M29
jaar                  2019
waarde                  11
Name: 163, dtype: object)
102171    13326.338886
Name: amount_of_persons, dtype: float64
(164, variabele       Marokkaans
gebiedcode15           M30
jaar                  2019
waarde                16.5
Name: 164, dtype: object)
102172    19434.534669
Name: amount_of_persons, dtype: float64
(165, variabele       Marokkaans
gebiedcode15           M31
jaar                  2019
waarde                17.6
Name: 165, dtype: object)
102173    20900.005937
Name: amount_of_persons, dtype: float64
(166, variabele       Marokkaans
gebiedcode15           M32
jaar                  2019
waarde                20.4
Name: 166, dtype: object)
102174    8622.423974
Name: amount_of_persons, dtype: float64
(167, variabele       Marokkaans
gebiedcode15           M33
jaar                  2019
waarde                 4.3
Name: 167, dtype: object)
102175    9668.082649
Name: amount_of_persons, dtype: float64
(168, variabele       Marokkaans
gebiedcode15           M34
jaar                  2019
waarde                 2.9
Name: 168, dtype: object)
102176    1181.207021
Name: amount_of_persons, dtype: float64
(169, variabele       Marokkaans
gebiedcode15           M35
jaar                  2019
waarde                 8.7
Name: 169, dtype: object)
102177    10719.163257
Name: amount_of_persons, dtype: float64
(170, variabele       Marokkaans
gebiedcode15           M50
jaar                  2019
waarde                   0
Name: 170, dtype: object)
102178   NaN
Name: amount_of_persons, dtype: float64
(171, variabele       Marokkaans
gebiedcode15           M51
jaar                  2019
waarde                10.5
Name: 171, dtype: object)
102179    9774.972202
Name: amount_of_persons, dtype: float64
(172, variabele       Marokkaans
gebiedcode15           M55
jaar                  2019
waarde                 6.5
Name: 172, dtype: object)
102180    5634.938413
Name: amount_of_persons, dtype: float64
(173, variabele       Marokkaans
gebiedcode15           M56
jaar                  2019
waarde                 2.1
Name: 173, dtype: object)
102181    4473.870003
Name: amount_of_persons, dtype: float64
(174, variabele       Marokkaans
gebiedcode15           M57
jaar                  2019
waarde                 6.1
Name: 174, dtype: object)
102182    2376.356158
Name: amount_of_persons, dtype: float64
(175, variabele       Marokkaans
gebiedcode15           M58
jaar                  2019
waarde                 1.5
Name: 175, dtype: object)
102183    1334.570294
Name: amount_of_persons, dtype: float64
(176, variabele       Marokkaans
gebiedcode15           N60
jaar                  2019
waarde                11.3
Name: 176, dtype: object)
102184    6354.506493
Name: amount_of_persons, dtype: float64
(177, variabele       Marokkaans
gebiedcode15           N61
jaar                  2019
waarde                  14
Name: 177, dtype: object)
102185    5464.534777
Name: amount_of_persons, dtype: float64
(178, variabele       Marokkaans
gebiedcode15           N62
jaar                  2019
waarde                 2.9
Name: 178, dtype: object)
102186    6394.783716
Name: amount_of_persons, dtype: float64
(179, variabele       Marokkaans
gebiedcode15           N63
jaar                  2019
waarde                 4.7
Name: 179, dtype: object)
102187    8651.857329
Name: amount_of_persons, dtype: float64
(180, variabele       Marokkaans
gebiedcode15           N64
jaar                  2019
waarde                 0.5
Name: 180, dtype: object)
102188    3729.515939
Name: amount_of_persons, dtype: float64
(181, variabele       Marokkaans
gebiedcode15           N65
jaar                  2019
waarde                 7.5
Name: 181, dtype: object)
102189    5772.810446
Name: amount_of_persons, dtype: float64
(182, variabele       Marokkaans
gebiedcode15           N66
jaar                  2019
waarde                 5.9
Name: 182, dtype: object)
102190    2811.659992
Name: amount_of_persons, dtype: float64
(183, variabele       Marokkaans
gebiedcode15           N67
jaar                  2019
waarde                 4.2
Name: 183, dtype: object)
102191    1935.630391
Name: amount_of_persons, dtype: float64
(184, variabele       Marokkaans
gebiedcode15           N68
jaar                  2019
waarde                17.2
Name: 184, dtype: object)
102192    7318.061598
Name: amount_of_persons, dtype: float64
(185, variabele       Marokkaans
gebiedcode15           N69
jaar                  2019
waarde                 9.6
Name: 185, dtype: object)
102193    5872.728941
Name: amount_of_persons, dtype: float64
(186, variabele       Marokkaans
gebiedcode15           N70
jaar                  2019
waarde                13.9
Name: 186, dtype: object)
102194    6792.908575
Name: amount_of_persons, dtype: float64
(187, variabele       Marokkaans
gebiedcode15           N71
jaar                  2019
waarde                 1.8
Name: 187, dtype: object)
102195    1264.859715
Name: amount_of_persons, dtype: float64
(188, variabele       Marokkaans
gebiedcode15           N72
jaar                  2019
waarde                 0.3
Name: 188, dtype: object)
102196    368.691503
Name: amount_of_persons, dtype: float64
(189, variabele       Marokkaans
gebiedcode15           N73
jaar                  2019
waarde                   0
Name: 189, dtype: object)
102197    74.35795
Name: amount_of_persons, dtype: float64
(190, variabele       Marokkaans
gebiedcode15           N74
jaar                  2019
waarde                 5.7
Name: 190, dtype: object)
102198    2808.561744
Name: amount_of_persons, dtype: float64
(191, variabele       Marokkaans
gebiedcode15           T92
jaar                  2019
waarde                 5.7
Name: 191, dtype: object)
102199    113.860611
Name: amount_of_persons, dtype: float64
(192, variabele       Marokkaans
gebiedcode15           T93
jaar                  2019
waarde                 2.9
Name: 192, dtype: object)
102200    6328.171386
Name: amount_of_persons, dtype: float64
(193, variabele       Marokkaans
gebiedcode15           T94
jaar                  2019
waarde                 2.2
Name: 193, dtype: object)
102201    6160.865998
Name: amount_of_persons, dtype: float64
(194, variabele       Marokkaans
gebiedcode15           T95
jaar                  2019
waarde                 0.8
Name: 194, dtype: object)
102202    1064.248162
Name: amount_of_persons, dtype: float64
(195, variabele       Marokkaans
gebiedcode15           T96
jaar                  2019
waarde                 2.3
Name: 195, dtype: object)
102203    5474.604083
Name: amount_of_persons, dtype: float64
(196, variabele       Marokkaans
gebiedcode15           T97
jaar                  2019
waarde                 1.8
Name: 196, dtype: object)
102204    4871.220299
Name: amount_of_persons, dtype: float64
(197, variabele       Marokkaans
gebiedcode15           T98
jaar                  2019
waarde                 1.1
Name: 197, dtype: object)
102205    719.56808
Name: amount_of_persons, dtype: float64
(198, variabele       Surinaams
gebiedcode15          A00
jaar                 2019
waarde                  2
Name: 198, dtype: object)
102107    9543.37817
Name: amount_of_persons, dtype: float64
(199, variabele       Surinaams
gebiedcode15          A01
jaar                 2019
waarde                1.7
Name: 199, dtype: object)
102108    5706.198115
Name: amount_of_persons, dtype: float64
(200, variabele       Surinaams
gebiedcode15          A02
jaar                 2019
waarde                0.8
Name: 200, dtype: object)
102109    11025.11524
Name: amount_of_persons, dtype: float64
(201, variabele       Surinaams
gebiedcode15          A03
jaar                 2019
waarde                0.8
Name: 201, dtype: object)
102110    8020.589315
Name: amount_of_persons, dtype: float64
(202, variabele       Surinaams
gebiedcode15          A04
jaar                 2019
waarde                2.7
Name: 202, dtype: object)
102111    10805.914199
Name: amount_of_persons, dtype: float64
(203, variabele       Surinaams
gebiedcode15          A05
jaar                 2019
waarde                  4
Name: 203, dtype: object)
102112    13499.066208
Name: amount_of_persons, dtype: float64
(204, variabele       Surinaams
gebiedcode15          A06
jaar                 2019
waarde                2.4
Name: 204, dtype: object)
102113    18073.629268
Name: amount_of_persons, dtype: float64
(205, variabele       Surinaams
gebiedcode15          A07
jaar                 2019
waarde                1.4
Name: 205, dtype: object)
102114    10155.282135
Name: amount_of_persons, dtype: float64
(206, variabele       Surinaams
gebiedcode15          A08
jaar                 2019
waarde                3.3
Name: 206, dtype: object)
102115    7823.850572
Name: amount_of_persons, dtype: float64
(207, variabele       Surinaams
gebiedcode15          A09
jaar                 2019
waarde                6.1
Name: 207, dtype: object)
102116    10441.095506
Name: amount_of_persons, dtype: float64
(208, variabele       Surinaams
gebiedcode15          B10
jaar                 2019
waarde                4.5
Name: 208, dtype: object)
102117    6.971058
Name: amount_of_persons, dtype: float64
(209, variabele       Surinaams
gebiedcode15          E12
jaar                 2019
waarde                2.5
Name: 209, dtype: object)
102118    4721.729837
Name: amount_of_persons, dtype: float64
(210, variabele       Surinaams
gebiedcode15          E13
jaar                 2019
waarde                7.9
Name: 210, dtype: object)
102119    6307.258213
Name: amount_of_persons, dtype: float64
(211, variabele       Surinaams
gebiedcode15          E14
jaar                 2019
waarde                4.5
Name: 211, dtype: object)
102120    21562.256431
Name: amount_of_persons, dtype: float64
(212, variabele       Surinaams
gebiedcode15          E15
jaar                 2019
waarde                4.2
Name: 212, dtype: object)
102121    3714.799262
Name: amount_of_persons, dtype: float64
(213, variabele       Surinaams
gebiedcode15          E16
jaar                 2019
waarde                2.7
Name: 213, dtype: object)
102122    18017.860806
Name: amount_of_persons, dtype: float64
(214, variabele       Surinaams
gebiedcode15          E17
jaar                 2019
waarde                2.9
Name: 214, dtype: object)
102123    16568.655339
Name: amount_of_persons, dtype: float64
(215, variabele       Surinaams
gebiedcode15          E18
jaar                 2019
waarde                  4
Name: 215, dtype: object)
102124    20049.536882
Name: amount_of_persons, dtype: float64
(216, variabele       Surinaams
gebiedcode15          E19
jaar                 2019
waarde                5.8
Name: 216, dtype: object)
102125    21832.578563
Name: amount_of_persons, dtype: float64
(217, variabele       Surinaams
gebiedcode15          E20
jaar                 2019
waarde                2.4
Name: 217, dtype: object)
102126    17271.957618
Name: amount_of_persons, dtype: float64
(218, variabele       Surinaams
gebiedcode15          E21
jaar                 2019
waarde                2.1
Name: 218, dtype: object)
102127    20587.082897
Name: amount_of_persons, dtype: float64
(219, variabele       Surinaams
gebiedcode15          E22
jaar                 2019
waarde                2.6
Name: 219, dtype: object)
102128    6585.325964
Name: amount_of_persons, dtype: float64
(220, variabele       Surinaams
gebiedcode15          E36
jaar                 2019
waarde                3.5
Name: 220, dtype: object)
102129    357.073073
Name: amount_of_persons, dtype: float64
(221, variabele       Surinaams
gebiedcode15          E37
jaar                 2019
waarde                4.6
Name: 221, dtype: object)
102130    14323.974717
Name: amount_of_persons, dtype: float64
(222, variabele       Surinaams
gebiedcode15          E38
jaar                 2019
waarde                2.5
Name: 222, dtype: object)
102131    12605.221681
Name: amount_of_persons, dtype: float64
(223, variabele       Surinaams
gebiedcode15          E39
jaar                 2019
waarde                5.3
Name: 223, dtype: object)
102132    11166.860082
Name: amount_of_persons, dtype: float64
(224, variabele       Surinaams
gebiedcode15          E40
jaar                 2019
waarde                3.2
Name: 224, dtype: object)
102133    19183.576587
Name: amount_of_persons, dtype: float64
(225, variabele       Surinaams
gebiedcode15          E41
jaar                 2019
waarde                9.9
Name: 225, dtype: object)
102134    20305.142336
Name: amount_of_persons, dtype: float64
(226, variabele       Surinaams
gebiedcode15          E42
jaar                 2019
waarde                  5
Name: 226, dtype: object)
102135    20126.99308
Name: amount_of_persons, dtype: float64
(227, variabele       Surinaams
gebiedcode15          E43
jaar                 2019
waarde                  3
Name: 227, dtype: object)
102136    16875.381883
Name: amount_of_persons, dtype: float64
(228, variabele       Surinaams
gebiedcode15          E75
jaar                 2019
waarde                3.9
Name: 228, dtype: object)
102137    18947.335183
Name: amount_of_persons, dtype: float64
(229, variabele       Surinaams
gebiedcode15          F11
jaar                 2019
waarde                3.6
Name: 229, dtype: object)
102138    95.271124
Name: amount_of_persons, dtype: float64
(230, variabele       Surinaams
gebiedcode15          F76
jaar                 2019
waarde                5.6
Name: 230, dtype: object)
102139    7603.874969
Name: amount_of_persons, dtype: float64
(231, variabele       Surinaams
gebiedcode15          F77
jaar                 2019
waarde                5.1
Name: 231, dtype: object)
102140    6184.102858
Name: amount_of_persons, dtype: float64
(232, variabele       Surinaams
gebiedcode15          F78
jaar                 2019
waarde                5.2
Name: 232, dtype: object)
102141    9574.360649
Name: amount_of_persons, dtype: float64
(233, variabele       Surinaams
gebiedcode15          F79
jaar                 2019
waarde                7.3
Name: 233, dtype: object)
102142    881.451535
Name: amount_of_persons, dtype: float64
(234, variabele       Surinaams
gebiedcode15          F80
jaar                 2019
waarde                2.5
Name: 234, dtype: object)
102143    168.854512
Name: amount_of_persons, dtype: float64
(235, variabele       Surinaams
gebiedcode15          F81
jaar                 2019
waarde                6.5
Name: 235, dtype: object)
102144    8027.560373
Name: amount_of_persons, dtype: float64
(236, variabele       Surinaams
gebiedcode15          F82
jaar                 2019
waarde                7.5
Name: 236, dtype: object)
102145    11791.157039
Name: amount_of_persons, dtype: float64
(237, variabele       Surinaams
gebiedcode15          F83
jaar                 2019
waarde                7.9
Name: 237, dtype: object)
102146    8280.84214
Name: amount_of_persons, dtype: float64
(238, variabele       Surinaams
gebiedcode15          F84
jaar                 2019
waarde                9.2
Name: 238, dtype: object)
102147    7603.100407
Name: amount_of_persons, dtype: float64
(239, variabele       Surinaams
gebiedcode15          F85
jaar                 2019
waarde                5.8
Name: 239, dtype: object)
102148    5545.089223
Name: amount_of_persons, dtype: float64
(240, variabele       Surinaams
gebiedcode15          F86
jaar                 2019
waarde                4.3
Name: 240, dtype: object)
102149    7438.893267
Name: amount_of_persons, dtype: float64
(241, variabele       Surinaams
gebiedcode15          F87
jaar                 2019
waarde                  4
Name: 241, dtype: object)
102150    5864.983321
Name: amount_of_persons, dtype: float64
(242, variabele       Surinaams
gebiedcode15          F88
jaar                 2019
waarde                6.3
Name: 242, dtype: object)
102151    2360.090357
Name: amount_of_persons, dtype: float64
(243, variabele       Surinaams
gebiedcode15          F89
jaar                 2019
waarde                6.4
Name: 243, dtype: object)
102152    6630.250559
Name: amount_of_persons, dtype: float64
(244, variabele       Surinaams
gebiedcode15          K23
jaar                 2019
waarde                2.5
Name: 244, dtype: object)
102153    1444.558095
Name: amount_of_persons, dtype: float64
(245, variabele       Surinaams
gebiedcode15          K24
jaar                 2019
waarde                3.1
Name: 245, dtype: object)
102154    18213.824987
Name: amount_of_persons, dtype: float64
(246, variabele       Surinaams
gebiedcode15          K25
jaar                 2019
waarde                4.3
Name: 246, dtype: object)
102155    18684.758671
Name: amount_of_persons, dtype: float64
(247, variabele       Surinaams
gebiedcode15          K26
jaar                 2019
waarde                7.2
Name: 247, dtype: object)
102156    18017.086244
Name: amount_of_persons, dtype: float64
(248, variabele       Surinaams
gebiedcode15          K44
jaar                 2019
waarde                2.4

(310, variabele       Turks
gebiedcode15      E14
jaar             2019
waarde            2.1
Name: 310, dtype: object)
102120    21562.256431
Name: amount_of_persons, dtype: float64
(311, variabele       Turks
gebiedcode15      E15
jaar             2019
waarde            2.1
Name: 311, dtype: object)
102121    3714.799262
Name: amount_of_persons, dtype: float64
(312, variabele       Turks
gebiedcode15      E16
jaar             2019
waarde            1.8
Name: 312, dtype: object)
102122    18017.860806
Name: amount_of_persons, dtype: float64
(313, variabele       Turks
gebiedcode15      E17
jaar             2019
waarde            1.5
Name: 313, dtype: object)
102123    16568.655339
Name: amount_of_persons, dtype: float64
(314, variabele       Turks
gebiedcode15      E18
jaar             2019
waarde              3
Name: 314, dtype: object)
102124    20049.536882
Name: amount_of_persons, dtype: float64
(315, variabele       Turks
gebiedcode15      E19
jaar             2019
waarde            3.6
Name: 315, dtype: object)
102125    21832.578563
Name: amount_of_persons, dtype: float64
(316, variabele       Turks
gebiedcode15      E20
jaar             2019
waarde            1.1
Name: 316, dtype: object)
102126    17271.957618
Name: amount_of_persons, dtype: float64
(317, variabele       Turks
gebiedcode15      E21
jaar             2019
waarde            1.4
Name: 317, dtype: object)
102127    20587.082897
Name: amount_of_persons, dtype: float64
(318, variabele       Turks
gebiedcode15      E22
jaar             2019
waarde            0.9
Name: 318, dtype: object)
102128    6585.325964
Name: amount_of_persons, dtype: float64
(319, variabele       Turks
gebiedcode15      E36
jaar             2019
waarde            1.1
Name: 319, dtype: object)
102129    357.073073
Name: amount_of_persons, dtype: float64
(320, variabele       Turks
gebiedcode15      E37
jaar             2019
waarde            9.5
Name: 320, dtype: object)
102130    14323.974717
Name: amount_of_persons, dtype: float64
(321, variabele       Turks
gebiedcode15      E38
jaar             2019
waarde            8.6
Name: 321, dtype: object)
102131    12605.221681
Name: amount_of_persons, dtype: float64
(322, variabele       Turks
gebiedcode15      E39
jaar             2019
waarde           15.2
Name: 322, dtype: object)
102132    11166.860082
Name: amount_of_persons, dtype: float64
(323, variabele       Turks
gebiedcode15      E40
jaar             2019
waarde            2.8
Name: 323, dtype: object)
102133    19183.576587
Name: amount_of_persons, dtype: float64
(324, variabele       Turks
gebiedcode15      E41
jaar             2019
waarde            7.4
Name: 324, dtype: object)
102134    20305.142336
Name: amount_of_persons, dtype: float64
(325, variabele       Turks
gebiedcode15      E42
jaar             2019
waarde            7.7
Name: 325, dtype: object)
102135    20126.99308
Name: amount_of_persons, dtype: float64
(326, variabele       Turks
gebiedcode15      E43
jaar             2019
waarde            3.1
Name: 326, dtype: object)
102136    16875.381883
Name: amount_of_persons, dtype: float64
(327, variabele       Turks
gebiedcode15      E75
jaar             2019
waarde            7.2
Name: 327, dtype: object)
102137    18947.335183
Name: amount_of_persons, dtype: float64
(328, variabele       Turks
gebiedcode15      F11
jaar             2019
waarde            2.5
Name: 328, dtype: object)
102138    95.271124
Name: amount_of_persons, dtype: float64
(329, variabele       Turks
gebiedcode15      F76
jaar             2019
waarde           17.7
Name: 329, dtype: object)
102139    7603.874969
Name: amount_of_persons, dtype: float64
(330, variabele       Turks
gebiedcode15      F77
jaar             2019
waarde           16.5
Name: 330, dtype: object)
102140    6184.102858
Name: amount_of_persons, dtype: float64
(331, variabele       Turks
gebiedcode15      F78
jaar             2019
waarde             24
Name: 331, dtype: object)
102141    9574.360649
Name: amount_of_persons, dtype: float64
(332, variabele       Turks
gebiedcode15      F79
jaar             2019
waarde           16.9
Name: 332, dtype: object)
102142    881.451535
Name: amount_of_persons, dtype: float64
(333, variabele       Turks
gebiedcode15      F80
jaar             2019
waarde            3.6
Name: 333, dtype: object)
102143    168.854512
Name: amount_of_persons, dtype: float64
(334, variabele       Turks
gebiedcode15      F81
jaar             2019
waarde           10.6
Name: 334, dtype: object)
102144    8027.560373
Name: amount_of_persons, dtype: float64
(335, variabele       Turks
gebiedcode15      F82
jaar             2019
waarde           16.4
Name: 335, dtype: object)
102145    11791.157039
Name: amount_of_persons, dtype: float64
(336, variabele       Turks
gebiedcode15      F83
jaar             2019
waarde           14.4
Name: 336, dtype: object)
102146    8280.84214
Name: amount_of_persons, dtype: float64
(337, variabele       Turks
gebiedcode15      F84
jaar             2019
waarde           10.3
Name: 337, dtype: object)
102147    7603.100407
Name: amount_of_persons, dtype: float64
(338, variabele       Turks
gebiedcode15      F85
jaar             2019
waarde           11.1
Name: 338, dtype: object)
102148    5545.089223
Name: amount_of_persons, dtype: float64
(339, variabele       Turks
gebiedcode15      F86
jaar             2019
waarde             10
Name: 339, dtype: object)
102149    7438.893267
Name: amount_of_persons, dtype: float64
(340, variabele       Turks
gebiedcode15      F87
jaar             2019
waarde            5.6
Name: 340, dtype: object)
102150    5864.983321
Name: amount_of_persons, dtype: float64
(341, variabele       Turks
gebiedcode15      F88
jaar             2019
waarde            4.9
Name: 341, dtype: object)
102151    2360.090357
Name: amount_of_persons, dtype: float64
(342, variabele       Turks
gebiedcode15      F89
jaar             2019
waarde              8
Name: 342, dtype: object)
102152    6630.250559
Name: amount_of_persons, dtype: float64
(343, variabele       Turks
gebiedcode15      K23
jaar             2019
waarde            2.7
Name: 343, dtype: object)
102153    1444.558095
Name: amount_of_persons, dtype: float64
(344, variabele       Turks
gebiedcode15      K24
jaar             2019
waarde            1.8
Name: 344, dtype: object)
102154    18213.824987
Name: amount_of_persons, dtype: float64
(345, variabele       Turks
gebiedcode15      K25
jaar             2019
waarde              2
Name: 345, dtype: object)
102155    18684.758671
Name: amount_of_persons, dtype: float64
(346, variabele       Turks
gebiedcode15      K26
jaar             2019
waarde            3.9
Name: 346, dtype: object)
102156    18017.086244
Name: amount_of_persons, dtype: float64
(347, variabele       Turks
gebiedcode15      K44
jaar             2019
waarde            1.4
Name: 347, dtype: object)
102157    10802.815951
Name: amount_of_persons, dtype: float64
(348, variabele       Turks
gebiedcode15      K45
jaar             2019
waarde            1.9
Name: 348, dtype: object)
102158    10396.170911
Name: amount_of_persons, dtype: float64
(349, variabele       Turks
gebiedcode15      K46
jaar             2019
waarde            1.2
Name: 349, dtype: object)
102159    6689.117269
Name: amount_of_persons, dtype: float64
(350, variabele       Turks
gebiedcode15      K47
jaar             2019
waarde            0.8
Name: 350, dtype: object)
102160    7531.066143
Name: amount_of_persons, dtype: float64
(351, variabele       Turks
gebiedcode15      K48
jaar             2019
waarde            2.6
Name: 351, dtype: object)
102161    9683.573888
Name: amount_of_persons, dtype: float64
(352, variabele       Turks
gebiedcode15      K49
jaar             2019
waarde            1.1
Name: 352, dtype: object)
102162    7578.314424
Name: amount_of_persons, dtype: float64
(353, variabele       Turks
gebiedcode15      K52
jaar             2019
waarde              1
Name: 353, dtype: object)
102163    11843.827254
Name: amount_of_persons, dtype: float64
(354, variabele       Turks
gebiedcode15      K53
jaar             2019
waarde            2.2
Name: 354, dtype: object)
102164    16082.230415
Name: amount_of_persons, dtype: float64
(355, variabele       Turks
gebiedcode15      K54
jaar             2019
waarde            1.4
Name: 355, dtype: object)
102165    7366.084441
Name: amount_of_persons, dtype: float64
(356, variabele       Turks
gebiedcode15      K59
jaar             2019
waarde            1.2
Name: 356, dtype: object)
102166    2721.810802
Name: amount_of_persons, dtype: float64
(357, variabele       Turks
gebiedcode15      K90
jaar             2019
waarde            1.6
Name: 357, dtype: object)
102167    3699.308022
Name: amount_of_persons, dtype: float64
(358, variabele       Turks
gebiedcode15      K91
jaar             2019
waarde            2.1
Name: 358, dtype: object)
102168    4104.403938
Name: amount_of_persons, dtype: float64
(359, variabele       Turks
gebiedcode15      M27
jaar             2019
waarde            1.7
Name: 359, dtype: object)
102169    12413.904872
Name: amount_of_persons, dtype: float64
(360, variabele       Turks
gebiedcode15      M28
jaar             2019
waarde            4.7
Name: 360, dtype: object)
102170    11671.099932
Name: amount_of_persons, dtype: float64
(361, variabele       Turks
gebiedcode15      M29
jaar             2019
waarde              6
Name: 361, dtype: object)
102171    13326.338886
Name: amount_of_persons, dtype: float64
(362, variabele       Turks
gebiedcode15      M30
jaar             2019
waarde            6.9
Name: 362, dtype: object)
102172    19434.534669
Name: amount_of_persons, dtype: float64
(363, variabele       Turks
gebiedcode15      M31
jaar             2019
waarde            7.3
Name: 363, dtype: object)
102173    20900.005937
Name: amount_of_persons, dtype: float64
(364, variabele       Turks
gebiedcode15      M32
jaar             2019
waarde           10.2
Name: 364, dtype: object)
102174    8622.423974
Name: amount_of_persons, dtype: float64
(365, variabele       Turks
gebiedcode15      M33
jaar             2019
waarde            2.3
Name: 365, dtype: object)
102175    9668.082649
Name: amount_of_persons, dtype: float64
(366, variabele       Turks
gebiedcode15      M34
jaar             2019
waarde            2.5
Name: 366, dtype: object)
102176    1181.207021
Name: amount_of_persons, dtype: float64
(367, variabele       Turks
gebiedcode15      M35
jaar             2019
waarde            3.1
Name: 367, dtype: object)
102177    10719.163257
Name: amount_of_persons, dtype: float64
(368, variabele       Turks
gebiedcode15      M50
jaar             2019
waarde              0
Name: 368, dtype: object)
102178   NaN
Name: amount_of_persons, dtype: float64
(369, variabele       Turks
gebiedcode15      M51
jaar             2019
waarde            4.4
Name: 369, dtype: object)
102179    9774.972202
Name: amount_of_persons, dtype: float64
(370, variabele       Turks
gebiedcode15      M55
jaar             2019
waarde              2
Name: 370, dtype: object)
102180    5634.938413
Name: amount_of_persons, dtype: float64
(371, variabele       Turks
gebiedcode15      M56
jaar             2019
waarde              1
Name: 371, dtype: object)
102181    4473.870003
Name: amount_of_persons, dtype: float64
(372, variabele       Turks
gebiedcode15      M57
jaar             2019
waarde            1.8
Name: 372, dtype: object)
102182    2376.356158
Name: amount_of_persons, dtype: float64
(373, variabele       Turks
gebiedcode15      M58
jaar             2019
waarde            1.8
Name: 373, dtype: object)
102183    1334.570294
Name: amount_of_persons, dtype: float64
(374, variabele       Turks
gebiedcode15      N60
jaar             2019
waarde            4.7
Name: 374, dtype: object)
102184    6354.506493
Name: amount_of_persons, dtype: float64
(375, variabele       Turks
gebiedcode15      N61
jaar             2019
waarde            4.3
Name: 375, dtype: object)
102185    5464.534777
Name: amount_of_persons, dtype: float64
(376, variabele       Turks
gebiedcode15      N62
jaar             2019
waarde            0.9
Name: 376, dtype: object)
102186    6394.783716
Name: amount_of_persons, dtype: float64
(377, variabele       Turks
gebiedcode15      N63
jaar             2019
waarde            1.7
Name: 377, dtype: object)
102187    8651.857329
Name: amount_of_persons, dtype: float64
(378, variabele       Turks
gebiedcode15      N64
jaar             2019
waarde            0.1
Name: 378, dtype: object)
102188    3729.515939
Name: amount_of_persons, dtype: float64
(379, variabele       Turks
gebiedcode15      N65
jaar             2019
waarde            3.3
Name: 379, dtype: object)
102189    5772.810446
Name: amount_of_persons, dtype: float64
(380, variabele       Turks
gebiedcode15      N66
jaar             2019
waarde              6
Name: 380, dtype: object)
102190    2811.659992
Name: amount_of_persons, dtype: float64
(381, variabele       Turks
gebiedcode15      N67
jaar             2019
waarde            2.5
Name: 381, dtype: object)
102191    1935.630391
Name: amount_of_persons, dtype: float64
(382, variabele       Turks
gebiedcode15      N68
jaar             2019
waarde           12.3
Name: 382, dtype: object)
102192    7318.061598
Name: amount_of_persons, dtype: float64
(383, variabele       Turks
gebiedcode15      N69
jaar             2019
waarde            6.7
Name: 383, dtype: object)
102193    5872.728941
Name: amount_of_persons, dtype: float64
(384, variabele       Turks
gebiedcode15      N70
jaar             2019
waarde           11.2
Name: 384, dtype: object)
102194    6792.908575
Name: amount_of_persons, dtype: float64
(385, variabele       Turks
gebiedcode15      N71
jaar             2019
waarde            1.7
Name: 385, dtype: object)
102195    1264.859715
Name: amount_of_persons, dtype: float64
(386, variabele       Turks
gebiedcode15      N72
jaar             2019
waarde            1.8
Name: 386, dtype: object)
102196    368.691503
Name: amount_of_persons, dtype: float64
(387, variabele       Turks
gebiedcode15      N73
jaar             2019
waarde            0.4
Name: 387, dtype: object)
102197    74.35795
Name: amount_of_persons, dtype: float64
(388, variabele       Turks
gebiedcode15      N74
jaar             2019
waarde            5.3
Name: 388, dtype: object)
102198    2808.561744
Name: amount_of_persons, dtype: float64
(389, variabele       Turks
gebiedcode15      T92
jaar             2019
waarde            3.1
Name: 389, dtype: object)
102199    113.860611
Name: amount_of_persons, dtype: float64
(390, variabele       Turks
gebiedcode15      T93
jaar             2019
waarde            1.8
Name: 390, dtype: object)
102200    6328.171386
Name: amount_of_persons, dtype: float64
(391, variabele       Turks
gebiedcode15      T94
jaar             2019
waarde            1.2
Name: 391, dtype: object)
102201    6160.865998
Name: amount_of_persons, dtype: float64
(392, variabele       Turks
gebiedcode15      T95
jaar             2019
waarde            1.1
Name: 392, dtype: object)
102202    1064.248162
Name: amount_of_persons, dtype: float64
(393, variabele       Turks
gebiedcode15      T96
jaar             2019
waarde            0.9
Name: 393, dtype: object)
102203    5474.604083
Name: amount_of_persons, dtype: float64
(394, variabele       Turks
gebiedcode15      T97
jaar             2019
waarde            0.6
Name: 394, dtype: object)
102204    4871.220299
Name: amount_of_persons, dtype: float64
(395, variabele       Turks
gebiedcode15      T98
jaar             2019
waarde            0.6
Name: 395, dtype: object)
102205    719.56808
Name: amount_of_persons, dtype: float64
(396, variabele       Overig
gebiedcode15       A00
jaar              6057
waarde            45.4
Name: 396, dtype: object)
102107    9543.37817
Name: amount_of_persons, dtype: float64
(397, variabele       Overig
gebiedcode15       A01
jaar              6057
waarde            50.9
Name: 397, dtype: object)
102108    5706.198115
Name: amount_of_persons, dtype: float64
(398, variabele       Overig
gebiedcode15       A02
jaar              6057
waarde              42
Name: 398, dtype: object)
102109    11025.11524
Name: amount_of_persons, dtype: float64
(399, variabele       Overig
gebiedcode15       A03
jaar              6057
waarde            42.3
Name: 399, dtype: object)
102110    8020.589315
Name: amount_of_persons, dtype: float64
(400, variabele       Overig
gebiedcode15       A04
jaar              6057
waarde            37.9
Name: 400, dtype: object)
102111    10805.914199
Name: amount_of_persons, dtype: float64
(401, variabele       Overig
gebiedcode15       A05
jaar              6057
waarde            35.4
Name: 401, dtype: object)
102112    13499.066208
Name: amount_of_persons, dtype: float64
(402, variabele       Overig
gebiedcode15       A06
jaar              6057
waarde            35.8
Name: 402, dtype: object)
102113    18073.629268
Name: amount_of_persons, dtype: float64
(403, variabele       Overig
gebiedcode15       A07
jaar              6057
waarde            39.6
Name: 403, dtype: object)
102114    10155.282135
Name: amount_of_persons, dtype: float64
(404, variabele       Overig
gebiedcode15       A08
jaar              6057
waarde            37.3
Name: 404, dtype: object)
102115    7823.850572
Name: amount_of_persons, dtype: float64
(405, variabele       Overig
gebiedcode15       A09
jaar              6057
waarde              33
Name: 405, dtype: object)
102116    10441.095506
Name: amount_of_persons, dtype: float64
(406, variabele       Overig
gebiedcode15       B10
jaar              6057
waarde            39.5
Name: 406, dtype: object)
102117    6.971058
Name: amount_of_persons, dtype: float64
(407, variabele       Overig
gebiedcode15       E12
jaar              6057
waarde            29.8
Name: 407, dtype: object)
102118    4721.729837
Name: amount_of_persons, dtype: float64
(408, variabele       Overig
gebiedcode15       E13
jaar              6057
waarde            31.8
Name: 408, dtype: object)
102119    6307.258213
Name: amount_of_persons, dtype: float64
(409, variabele       Overig
gebiedcode15       E14
jaar              6057
waarde              35
Name: 409, dtype: object)
102120    21562.256431
Name: amount_of_persons, dtype: float64
(410, variabele       Overig
gebiedcode15       E15
jaar              6057
waarde            31.1
Name: 410, dtype: object)
102121    3714.799262
Name: amount_of_persons, dtype: float64
(411, variabele       Overig
gebiedcode15       E16
jaar              6057
waarde            34.5
Name: 411, dtype: object)
102122    18017.860806
Name: amount_of_persons, dtype: float64
(412, variabele       Overig
gebiedcode15       E17
jaar              6057
waarde            34.8
Name: 412, dtype: object)
102123    16568.655339
Name: amount_of_persons, dtype: float64
(413, variabele       Overig
gebiedcode15       E18
jaar              6057
waarde            32.9
Name: 413, dtype: object)
102124    20049.536882
Name: amount_of_persons, dtype: float64
(414, variabele       Overig
gebiedcode15       E19
jaar              6057
waarde            34.7
Name: 414, dtype: object)
102125    21832.578563
Name: amount_of_persons, dtype: float64
(415, variabele       Overig
gebiedcode15       E20
jaar              6057
waarde            35.4
Name: 415, dtype: object)
102126    17271.957618
Name: amount_of_persons, dtype: float64
(416, variabele       Overig
gebiedcode15       E21
jaar              6057
waarde            36.1
Name: 416, dtype: object)
102127    20587.082897
Name: amount_of_persons, dtype: float64
(417, variabele       Overig
gebiedcode15       E22
jaar              6057
waarde            38.9
Name: 417, dtype: object)
102128    6585.325964
Name: amount_of_persons, dtype: float64
(418, variabele       Overig
gebiedcode15       E36
jaar              6057
waarde            35.5
Name: 418, dtype: object)
102129    357.073073
Name: amount_of_persons, dtype: float64
(419, variabele       Overig
gebiedcode15       E37

102170    11671.099932
Name: amount_of_persons, dtype: float64
(460, variabele       Overig
gebiedcode15       M29
jaar              6057
waarde            28.9
Name: 460, dtype: object)
102171    13326.338886
Name: amount_of_persons, dtype: float64
(461, variabele       Overig
gebiedcode15       M30
jaar              6057
waarde            27.3
Name: 461, dtype: object)
102172    19434.534669
Name: amount_of_persons, dtype: float64
(462, variabele       Overig
gebiedcode15       M31
jaar              6057
waarde            30.1
Name: 462, dtype: object)
102173    20900.005937
Name: amount_of_persons, dtype: float64
(463, variabele       Overig
gebiedcode15       M32
jaar              6057
waarde            27.1
Name: 463, dtype: object)
102174    8622.423974
Name: amount_of_persons, dtype: float64
(464, variabele       Overig
gebiedcode15       M33
jaar              6057
waarde            29.5
Name: 464, dtype: object)
102175    9668.082649
Name: amount_of_persons, dtype: float64
(465, variabele       Overig
gebiedcode15       M34
jaar              6057
waarde            39.6
Name: 465, dtype: object)
102176    1181.207021
Name: amount_of_persons, dtype: float64
(466, variabele       Overig
gebiedcode15       M35
jaar              6057
waarde            31.1
Name: 466, dtype: object)
102177    10719.163257
Name: amount_of_persons, dtype: float64
(467, variabele       Overig
gebiedcode15       M50
jaar              6057
waarde               0
Name: 467, dtype: object)
102178   NaN
Name: amount_of_persons, dtype: float64
(468, variabele       Overig
gebiedcode15       M51
jaar              6057
waarde            30.6
Name: 468, dtype: object)
102179    9774.972202
Name: amount_of_persons, dtype: float64
(469, variabele       Overig
gebiedcode15       M55
jaar              6057
waarde            30.8
Name: 469, dtype: object)
102180    5634.938413
Name: amount_of_persons, dtype: float64
(470, variabele       Overig
gebiedcode15       M56
jaar              6057
waarde            30.6
Name: 470, dtype: object)
102181    4473.870003
Name: amount_of_persons, dtype: float64
(471, variabele       Overig
gebiedcode15       M57
jaar              6057
waarde            24.1
Name: 471, dtype: object)
102182    2376.356158
Name: amount_of_persons, dtype: float64
(472, variabele       Overig
gebiedcode15       M58
jaar              6057
waarde            36.7
Name: 472, dtype: object)
102183    1334.570294
Name: amount_of_persons, dtype: float64
(473, variabele       Overig
gebiedcode15       N60
jaar              6057
waarde            29.2
Name: 473, dtype: object)
102184    6354.506493
Name: amount_of_persons, dtype: float64
(474, variabele       Overig
gebiedcode15       N61
jaar              6057
waarde            31.9
Name: 474, dtype: object)
102185    5464.534777
Name: amount_of_persons, dtype: float64
(475, variabele       Overig
gebiedcode15       N62
jaar              6057
waarde              18
Name: 475, dtype: object)
102186    6394.783716
Name: amount_of_persons, dtype: float64
(476, variabele       Overig
gebiedcode15       N63
jaar              6057
waarde            21.1
Name: 476, dtype: object)
102187    8651.857329
Name: amount_of_persons, dtype: float64
(477, variabele       Overig
gebiedcode15       N64
jaar              6057
waarde            19.2
Name: 477, dtype: object)
102188    3729.515939
Name: amount_of_persons, dtype: float64
(478, variabele       Overig
gebiedcode15       N65
jaar              6057
waarde            21.7
Name: 478, dtype: object)
102189    5772.810446
Name: amount_of_persons, dtype: float64
(479, variabele       Overig
gebiedcode15       N66
jaar              6057
waarde            25.2
Name: 479, dtype: object)
102190    2811.659992
Name: amount_of_persons, dtype: float64
(480, variabele       Overig
gebiedcode15       N67
jaar              6057
waarde            17.8
Name: 480, dtype: object)
102191    1935.630391
Name: amount_of_persons, dtype: float64
(481, variabele       Overig
gebiedcode15       N68
jaar              6057
waarde              31
Name: 481, dtype: object)
102192    7318.061598
Name: amount_of_persons, dtype: float64
(482, variabele       Overig
gebiedcode15       N69
jaar              6057
waarde            35.4
Name: 482, dtype: object)
102193    5872.728941
Name: amount_of_persons, dtype: float64
(483, variabele       Overig
gebiedcode15       N70
jaar              6057
waarde            28.9
Name: 483, dtype: object)
102194    6792.908575
Name: amount_of_persons, dtype: float64
(484, variabele       Overig
gebiedcode15       N71
jaar              6057
waarde            33.9
Name: 484, dtype: object)
102195    1264.859715
Name: amount_of_persons, dtype: float64
(485, variabele       Overig
gebiedcode15       N72
jaar              6057
waarde            61.3
Name: 485, dtype: object)
102196    368.691503
Name: amount_of_persons, dtype: float64
(486, variabele       Overig
gebiedcode15       N73
jaar              6057
waarde              13
Name: 486, dtype: object)
102197    74.35795
Name: amount_of_persons, dtype: float64
(487, variabele       Overig
gebiedcode15       N74
jaar              6057
waarde            28.2
Name: 487, dtype: object)
102198    2808.561744
Name: amount_of_persons, dtype: float64
(488, variabele       Overig
gebiedcode15       T92
jaar              6057
waarde            38.1
Name: 488, dtype: object)
102199    113.860611
Name: amount_of_persons, dtype: float64
(489, variabele       Overig
gebiedcode15       T93
jaar              6057
waarde            49.4
Name: 489, dtype: object)
102200    6328.171386
Name: amount_of_persons, dtype: float64
(490, variabele       Overig
gebiedcode15       T94
jaar              6057
waarde            44.3
Name: 490, dtype: object)
102201    6160.865998
Name: amount_of_persons, dtype: float64
(491, variabele       Overig
gebiedcode15       T95
jaar              6057
waarde            38.7
Name: 491, dtype: object)
102202    1064.248162
Name: amount_of_persons, dtype: float64
(492, variabele       Overig
gebiedcode15       T96
jaar              6057
waarde            37.1
Name: 492, dtype: object)
102203    5474.604083
Name: amount_of_persons, dtype: float64
(493, variabele       Overig
gebiedcode15       T97
jaar              6057
waarde            36.6
Name: 493, dtype: object)
102204    4871.220299
Name: amount_of_persons, dtype: float64
(494, variabele       Overig
gebiedcode15       T98
jaar              6057
waarde            13.8
Name: 494, dtype: object)
102205    719.56808
Name: amount_of_persons, dtype: float64

      variabele gebiedcode15  jaar  waarde  amount_per_area  area_code
0    Autochtoon          A00  2019    50.9             4858          0
1    Autochtoon          A01  2019    45.4             2591          1
2    Autochtoon          A02  2019    56.2             6197          2
3    Autochtoon          A03  2019    55.2             4428          3
4    Autochtoon          A04  2019    57.4             6203          4
..          ...          ...   ...     ...              ...        ...
490      Overig          T94  6057    44.3             2730         94
491      Overig          T95  6057    38.7              412         95
492      Overig          T96  6057    37.1             2032         96
493      Overig          T97  6057    36.6             1783         97
494      Overig          T98  6057    13.8              100         98

[495 rows x 6 columns]

In [62]:
df_sp.sort_values(by='variabele')[df_sp['variabele'] == 'Turks']

school = {}
for ethniciteit in df_sp['variabele'].unique():
    school[ethniciteit] = []
    for i in df_sp[df_sp['variabele'] == ethniciteit].itertuples():
        print(i[-2])
        school[ethniciteit].extend([i[-1]] * (i[-2]/10))
   
print(school)

4858
2591
6197
4428
6203
7762
10664
5840
4413
5733
4
3070
3129
11127
2018
9910
9610
10807
10284
10329
12085
3649
211
5673
6366
3004
10954
7412
9199
9788
8982
22
1787
1584
2059
358
96
2834
2547
2468
3293
2113
2180
2171
1287
2202
500
9745
10072
8378
6741
5822
3793
4451
5356
4419
7746
9489
4516
1530
1795
1905
6965
5428
6171
7988
7859
2941
5676
588
5189
0
4517
3100
2855
1452
756
3013
2268
4765
5892
2969
3562
1572
1377
2233
2355
2541
749
127
64
1495
50
1064
1319
501
1522
1744
570
77
46
23
33
109
297
308
61
141
460
1
71
530
1445
309
1082
481
1224
1900
242
350
145
4
2464
1211
3038
902
2823
2214
676
2483
3
2023
1713
2566
113
5
1646
3290
1499
1073
1010
1972
575
173
1406
22
474
860
1784
195
281
67
23
456
23
214
821
310
28
67
95
497
1144
1466
3207
3679
1759
416
35
933
0
1027
367
94
145
21
719
766
186
407
19
433
166
82
1259
564
945
23
2
0
161
7
184
136
9
126
88
8
191
98
89
65
292
540
434
143
259
637
1
119
499
971
157
487
481
802
1267
415
433
172
13
659
316
592
614
2011
1007
507
739
4
426
316
498
65
5
522
885
655
700
322
320
235
149
425
37
565
804
1298
260
479
101
98
446
84
261
724
288
25
137
148
398
876
1040
1594
1547
725
503
63
933
0
812
327
117
164
46
464
460
237
381
23
341
195
86
666
488
578
42
8
1
214
11
1848
1898
132
1741
1228
39
86
63
89
97
119
122
199
92
87
168
1
57
152
453
79
325
249
602
786
190
289
60
4
1361
1085
1698
538
1503
1550
524
1365
3
1346
1021
2298
149
7
851
1934
1193
784
616
744
329
116
531
40
328
374
703
152
198
81
61
252
84
119
354
104
33
60
87
212
549
800
1341
1526
880
223
30
333
0
431
113
45
43
25
299
235
58
148
4
191
169
49
901
394
761
22
7
1
149
4
114
74
12
50
30
5
4333
2905
4631
3393
4096
4779
6471
4022
2919
3446
3
1408
2006
7547
1156
6217
5766
6597
7576
6115
7432
2562
127
4154
3643
2837
6158
6559
6139
5384
5382
66
2016
1553
2164
197
60
2184
3137
2468
1749
1492
2225
2558
638
2076
848
7104
6578
5874
3457
3618
2649
2907
3186
2979
3530
4713
2144
1108
1647
1876
4358
3689
3852
5306
6291
2337
2853
468
3334
0
2992
1736
1370
573
490
1856
1744
1152
1826
717
1253
709
345
2269
2079
1964
429
227
10
793
44
3127
2730
412
2032
1783
100

<ipython-input-62-1c6ce1eddc1d>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_sp.sort_values(by='variabele')[df_sp['variabele'] == 'Turks']

# Get Area distribution based on gender

In [16]:
groepen = ['BEVMAN_P', 'BEVVROUW_P']
df_sp = df[df['jaar'] == 2019]


df_sp = df_sp.loc[df['variabele'].isin(groepen)]

df_sp = df_sp.loc[df['gebiedcode15'].isin(wijken)]
df_sp = df_sp.replace(['BEVMAN_P','BEVVROUW_P'],['Man','Vrouw'])

df_sp = df_sp.groupby(['variabele', 'gebiedcode15'], as_index=False).sum()


amount = []

for i in df_sp.iterrows():
    row = i[1]
    area = row['gebiedcode15']
    waarde = row['waarde']
    etn = row['variabele']
    
    total = df_t[df_t['gebiedcode15'] == area]['amount_of_persons']
    
    print(total)
    if math.isnan(total):
        amount.append(0)
        continue
        
    if int(total) == 0:
        amount.append(0)
        continue
    amount.append(math.ceil((float(total)*float(waarde)/100)) )

df_sp['amount_per_area'] = amount

print(sum(amount))

df_sp['area_code'] = [i%len(wijken) for i in range(len(wijken)*2)]



df_sp.to_csv('../Data/Spatial_data/Gender_data.csv')

102434    3005.278208
Name: amount_of_persons, dtype: float64
102435    1381.177869
Name: amount_of_persons, dtype: float64
102436    4368.96843
Name: amount_of_persons, dtype: float64
102437    1139.467413
Name: amount_of_persons, dtype: float64
102438    1285.42867
Name: amount_of_persons, dtype: float64
102439    2.597175
Name: amount_of_persons, dtype: float64
102440    1903.556411
Name: amount_of_persons, dtype: float64
102441    1503.591402
Name: amount_of_persons, dtype: float64
102442    2797.504178
Name: amount_of_persons, dtype: float64
102443    1698.379556
Name: amount_of_persons, dtype: float64
102444    2121.545998
Name: amount_of_persons, dtype: float64
102445    1041.986764
Name: amount_of_persons, dtype: float64
102446    873.689799
Name: amount_of_persons, dtype: float64
102447    3282.656539
Name: amount_of_persons, dtype: float64
102448    2303.86771
Name: amount_of_persons, dtype: float64
102449    2188.553123
Name: amount_of_persons, dtype: float64
102450    2217.814632
Name: amount_of_persons, dtype: float64
102451    1767.810711
Name: amount_of_persons, dtype: float64
102452   NaN
Name: amount_of_persons, dtype: float64
102453    1903.902701
Name: amount_of_persons, dtype: float64
102454    2344.729936
Name: amount_of_persons, dtype: float64
102455    1416.326309
Name: amount_of_persons, dtype: float64
102456   NaN
Name: amount_of_persons, dtype: float64
102457    2062.676689
Name: amount_of_persons, dtype: float64
102458    713.18436
Name: amount_of_persons, dtype: float64
102459   NaN
Name: amount_of_persons, dtype: float64
102460    1915.849708
Name: amount_of_persons, dtype: float64
102461    3541.162063
Name: amount_of_persons, dtype: float64
102462    4755.428127
Name: amount_of_persons, dtype: float64
102463    2535.535754
Name: amount_of_persons, dtype: float64
102464    3095.140477
Name: amount_of_persons, dtype: float64
102465    3843.473277
Name: amount_of_persons, dtype: float64
102466    1351.223779
Name: amount_of_persons, dtype: float64
102467    2166.909995
Name: amount_of_persons, dtype: float64
102468    2833.345198
Name: amount_of_persons, dtype: float64
102469    3940.953927
Name: amount_of_persons, dtype: float64
102470    3369.748487
Name: amount_of_persons, dtype: float64
102471   NaN
Name: amount_of_persons, dtype: float64
102472   NaN
Name: amount_of_persons, dtype: float64
102473    4787.633101
Name: amount_of_persons, dtype: float64
102474    4466.795369
Name: amount_of_persons, dtype: float64
102475    4635.784914
Name: amount_of_persons, dtype: float64
102476   NaN
Name: amount_of_persons, dtype: float64
102477   NaN
Name: amount_of_persons, dtype: float64
102478    3971.773741
Name: amount_of_persons, dtype: float64
102479   NaN
Name: amount_of_persons, dtype: float64
102480   NaN
Name: amount_of_persons, dtype: float64
102481   NaN
Name: amount_of_persons, dtype: float64
102482    3842.607552
Name: amount_of_persons, dtype: float64
102483    4632.495159
Name: amount_of_persons, dtype: float64
102484   NaN
Name: amount_of_persons, dtype: float64
102485   NaN
Name: amount_of_persons, dtype: float64
102486    3182.578715
Name: amount_of_persons, dtype: float64
102487   NaN
Name: amount_of_persons, dtype: float64
102488    3529.041911
Name: amount_of_persons, dtype: float64
102489    1952.556453
Name: amount_of_persons, dtype: float64
102490    3479.176143
Name: amount_of_persons, dtype: float64
102491    1183.44625
Name: amount_of_persons, dtype: float64
102492    2725.648992
Name: amount_of_persons, dtype: float64
102493    2064.75443
Name: amount_of_persons, dtype: float64
102494    957.318846
Name: amount_of_persons, dtype: float64
102495   NaN
Name: amount_of_persons, dtype: float64
102496    86.572513
Name: amount_of_persons, dtype: float64
102497    3347.066489
Name: amount_of_persons, dtype: float64
102498    3066.052112
Name: amount_of_persons, dtype: float64
102499    1476.753923
Name: amount_of_persons, dtype: float64
102500    3983.547603
Name: amount_of_persons, dtype: float64
102501    3227.423276
Name: amount_of_persons, dtype: float64
102502    3067.956708
Name: amount_of_persons, dtype: float64
102503    2887.020156
Name: amount_of_persons, dtype: float64
102504    3.636046
Name: amount_of_persons, dtype: float64
102505    3.982336
Name: amount_of_persons, dtype: float64
102506    0.173145
Name: amount_of_persons, dtype: float64
102507    1.212015
Name: amount_of_persons, dtype: float64
102508    2.250885
Name: amount_of_persons, dtype: float64
102509    2.07774
Name: amount_of_persons, dtype: float64
102510    0.173145
Name: amount_of_persons, dtype: float64
102511    4.501771
Name: amount_of_persons, dtype: float64
102512    806.855819
Name: amount_of_persons, dtype: float64
102513   NaN
Name: amount_of_persons, dtype: float64
102514    3963.11649
Name: amount_of_persons, dtype: float64
102515    4807.025344
Name: amount_of_persons, dtype: float64
102516   NaN
Name: amount_of_persons, dtype: float64
102517    3820.271844
Name: amount_of_persons, dtype: float64
102518    3922.427409
Name: amount_of_persons, dtype: float64
102519    2877.324035
Name: amount_of_persons, dtype: float64
102520   NaN
Name: amount_of_persons, dtype: float64
102521    2.597175
Name: amount_of_persons, dtype: float64
102522    3812.653463
Name: amount_of_persons, dtype: float64
102523   NaN
Name: amount_of_persons, dtype: float64
102524    3549.819314
Name: amount_of_persons, dtype: float64
102525    6197.553045
Name: amount_of_persons, dtype: float64
102526    5047.523785
Name: amount_of_persons, dtype: float64
102527    4734.477579
Name: amount_of_persons, dtype: float64
102528    3726.77353
Name: amount_of_persons, dtype: float64
102529    10.042411
Name: amount_of_persons, dtype: float64
102530    87.611383
Name: amount_of_persons, dtype: float64
102531    3143.794229
Name: amount_of_persons, dtype: float64
102532    3656.13036
Name: amount_of_persons, dtype: float64
102533    5002.332933
Name: amount_of_persons, dtype: float64
102534    3357.282045
Name: amount_of_persons, dtype: float64
102535    3703.745242
Name: amount_of_persons, dtype: float64
102536    4920.954771
Name: amount_of_persons, dtype: float64
102537    4211.579601
Name: amount_of_persons, dtype: float64
102538    5387.40747
Name: amount_of_persons, dtype: float64
102539    4396.671634
Name: amount_of_persons, dtype: float64
102540    5164.223532
Name: amount_of_persons, dtype: float64
102541    4419.873067
Name: amount_of_persons, dtype: float64
102542    2658.295577
Name: amount_of_persons, dtype: float64
102543    5932.8143
Name: amount_of_persons, dtype: float64
102544    5027.438962
Name: amount_of_persons, dtype: float64
102545    3774.388412
Name: amount_of_persons, dtype: float64
102546    1294.951646
Name: amount_of_persons, dtype: float64
102547    1716.386638
Name: amount_of_persons, dtype: float64
102548    153.233348
Name: amount_of_persons, dtype: float64
102549    24.759739
Name: amount_of_persons, dtype: float64
102550    887.195111
Name: amount_of_persons, dtype: float64
102551    2936.539633
Name: amount_of_persons, dtype: float64
102552    3422.038285
Name: amount_of_persons, dtype: float64
102553    4056.268514
Name: amount_of_persons, dtype: float64
102554    3841.568682
Name: amount_of_persons, dtype: float64
102555    4242.053126
Name: amount_of_persons, dtype: float64
102556    2403.77239
Name: amount_of_persons, dtype: float64
102557    4673.011095
Name: amount_of_persons, dtype: float64
102558    2569.299034
Name: amount_of_persons, dtype: float64
102559    2563.412103
Name: amount_of_persons, dtype: float64
102560    3056.009701
Name: amount_of_persons, dtype: float64
102561    2203.789885
Name: amount_of_persons, dtype: float64
102562    3641.413032
Name: amount_of_persons, dtype: float64
102563    4502.982679
Name: amount_of_persons, dtype: float64
102564    4651.367966
Name: amount_of_persons, dtype: float64
102565    4707.29381
Name: amount_of_persons, dtype: float64
102566    4992.463667
Name: amount_of_persons, dtype: float64
102567   NaN
Name: amount_of_persons, dtype: float64
102568    3509.822813
Name: amount_of_persons, dtype: float64
102569    4577.608185
Name: amount_of_persons, dtype: float64
102570    4162.233269
Name: amount_of_persons, dtype: float64
102571    5535.619612
Name: amount_of_persons, dtype: float64
102572    4192.014214
Name: amount_of_persons, dtype: float64
102573    4335.55144
Name: amount_of_persons, dtype: float64
102574    3228.981581
Name: amount_of_persons, dtype: float64
102575    4034.971675
Name: amount_of_persons, dtype: float64
102576   NaN
Name: amount_of_persons, dtype: float64
102577    4477.010926
Name: amount_of_persons, dtype: float64
102578   NaN
Name: amount_of_persons, dtype: float64
102579    10.042411
Name: amount_of_persons, dtype: float64
102580   NaN
Name: amount_of_persons, dtype: float64
102581    7.098946
Name: amount_of_persons, dtype: float64
102582    4.155481
Name: amount_of_persons, dtype: float64
102583    149.424157
Name: amount_of_persons, dtype: float64
102584    0.519435
Name: amount_of_persons, dtype: float64
102585   NaN
Name: amount_of_persons, dtype: float64
102586    1589.64448
Name: amount_of_persons, dtype: float64
102587    1962.07943
Name: amount_of_persons, dtype: float64
102588    1466.365221
Name: amount_of_persons, dtype: float64
102589    1609.729303
Name: amount_of_persons, dtype: float64
102590    1857.672979
Name: amount_of_persons, dtype: float64
102591    2912.29933
Name: amount_of_persons, dtype: float64
102592    13.678457
Name: amount_of_persons, dtype: float64
102593    2186.821673
Name: amount_of_persons, dtype: float64
102594    2019.563578
Name: amount_of_persons, dtype: float64
102595    1722.273569
Name: amount_of_persons, dtype: float64
102596    2864.165013
Name: amount_of_persons, dtype: float64
102597    2585.920957
Name: amount_of_persons, dtype: float64
102598    436.671754
Name: amount_of_persons, dtype: float64
102599    2.77032
Name: amount_of_persons, dtype: float64
102600    1445.760963
Name: amount_of_persons, dtype: float64
102601    66.660835
Name: amount_of_persons, dtype: float64
102602    57.484148
Name: amount_of_persons, dtype: float64
102603    5.713786
Name: amount_of_persons, dtype: float64
102604    2721.493512
Name: amount_of_persons, dtype: float64
102605    2586.959827
Name: amount_of_persons, dtype: float64
102606    1718.464379
Name: amount_of_persons, dtype: float64
102607    815.85936
Name: amount_of_persons, dtype: float64
102608    1429.485331
Name: amount_of_persons, dtype: float64
102609    2348.539127
Name: amount_of_persons, dtype: float64
102610    2569.125889
Name: amount_of_persons, dtype: float64
102611    2391.305948
Name: amount_of_persons, dtype: float64
102612    3005.624499
Name: amount_of_persons, dtype: float64
102613    2249.846462
Name: amount_of_persons, dtype: float64
102614    193.056703
Name: amount_of_persons, dtype: float64
102615    2081.722642
Name: amount_of_persons, dtype: float64
102616    1561.594985
Name: amount_of_persons, dtype: float64
102617    1613.711638
Name: amount_of_persons, dtype: float64
102618    1152.107
Name: amount_of_persons, dtype: float64
102619    868.668593
Name: amount_of_persons, dtype: float64
102620    1879.662397
Name: amount_of_persons, dtype: float64
102621    3094.794187
Name: amount_of_persons, dtype: float64
102622    2479.436766
Name: amount_of_persons, dtype: float64
102623    603.237269
Name: amount_of_persons, dtype: float64
102624    533.632969
Name: amount_of_persons, dtype: float64
102625    1403.859867
Name: amount_of_persons, dtype: float64
102626    1082.84899
Name: amount_of_persons, dtype: float64
102627    1872.390306
Name: amount_of_persons, dtype: float64
102628    1575.273442
Name: amount_of_persons, dtype: float64
102629    1582.718679
Name: amount_of_persons, dtype: float64
102630    1845.552827
Name: amount_of_persons, dtype: float64
102631    246.039081
Name: amount_of_persons, dtype: float64
102632    1675.351267
Name: amount_of_persons, dtype: float64
102633    23.720869
Name: amount_of_persons, dtype: float64
102634    1524.88824
Name: amount_of_persons, dtype: float64
102635    22.335708
Name: amount_of_persons, dtype: float64
102636    56.964713
Name: amount_of_persons, dtype: float64
102637    1569.040222
Name: amount_of_persons, dtype: float64
102638    1255.994015
Name: amount_of_persons, dtype: float64
102639    2287.245788
Name: amount_of_persons, dtype: float64
102640    1869.446841
Name: amount_of_persons, dtype: float64
102641    1587.047304
Name: amount_of_persons, dtype: float64
102642    232.014334
Name: amount_of_persons, dtype: float64
102643    1576.485458
Name: amount_of_persons, dtype: float64
102644    2098.690855
Name: amount_of_persons, dtype: float64
102645    1697.860121
Name: amount_of_persons, dtype: float64
102646    503.332589
Name: amount_of_persons, dtype: float64
102647    106.137901
Name: amount_of_persons, dtype: float64
102648   NaN
Name: amount_of_persons, dtype: float64
102649    63.890514
Name: amount_of_persons, dtype: float64
102650    1894.033434
Name: amount_of_persons, dtype: float64
102651    604.968719
Name: amount_of_persons, dtype: float64
102652    3851.611093
Name: amount_of_persons, dtype: float64
102653    3509.822813
Name: amount_of_persons, dtype: float64
102654    3992.724289
Name: amount_of_persons, dtype: float64
102655    5575.442968
Name: amount_of_persons, dtype: float64
102656    3930.04579
Name: amount_of_persons, dtype: float64
102657    4243.784576
Name: amount_of_persons, dtype: float64
102658    4835.940564
Name: amount_of_persons, dtype: float64
102659    3406.108943
Name: amount_of_persons, dtype: float64
102660    4165.69617
Name: amount_of_persons, dtype: float64
102661    3955.844399
Name: amount_of_persons, dtype: float64
102662    4141.629011
Name: amount_of_persons, dtype: float64
102663    3991.858564
Name: amount_of_persons, dtype: float64
102664    3167.515097
Name: amount_of_persons, dtype: float64
102665    3968.310841
Name: amount_of_persons, dtype: float64
102666    4505.926145
Name: amount_of_persons, dtype: float64
102667    3311.918049
Name: amount_of_persons, dtype: float64
102668    4194.438244
Name: amount_of_persons, dtype: float64
102669    141.805776
Name: amount_of_persons, dtype: float64
102670    4195.477114
Name: amount_of_persons, dtype: float64
102671    1352.95523
Name: amount_of_persons, dtype: float64
102672    2075.489421
Name: amount_of_persons, dtype: float64
102673    3267.592922
Name: amount_of_persons, dtype: float64
102674    1429.658476
Name: amount_of_persons, dtype: float64
102675   NaN
Name: amount_of_persons, dtype: float64
102676    1689.722304
Name: amount_of_persons, dtype: float64
102677    1231.926857

Name: amount_of_persons, dtype: float64
102678    2410.525046
Name: amount_of_persons, dtype: float64
102679    2603.408604
Name: amount_of_persons, dtype: float64
102680    1339.276773
Name: amount_of_persons, dtype: float64
102681    2866.935333
Name: amount_of_persons, dtype: float64
102682    2464.892584
Name: amount_of_persons, dtype: float64
102683    10.908137
Name: amount_of_persons, dtype: float64
102684    3.462901
Name: amount_of_persons, dtype: float64
102685    4096.957595
Name: amount_of_persons, dtype: float64
102686    3413.727324
Name: amount_of_persons, dtype: float64
102687    1702.881326
Name: amount_of_persons, dtype: float64
102688    3561.07374
Name: amount_of_persons, dtype: float64
102689    1916.022853
Name: amount_of_persons, dtype: float64
102690    312.180481
Name: amount_of_persons, dtype: float64
102691    3612.151523
Name: amount_of_persons, dtype: float64
102692    711.626055
Name: amount_of_persons, dtype: float64
102693    1484.026014
Name: amount_of_persons, dtype: float64
102694    141.459486
Name: amount_of_persons, dtype: float64
102695    1664.962566
Name: amount_of_persons, dtype: float64
102696    2810.31691
Name: amount_of_persons, dtype: float64
102697    3024.151016
Name: amount_of_persons, dtype: float64
102698    3751.706414
Name: amount_of_persons, dtype: float64
102699    3030.730527
Name: amount_of_persons, dtype: float64
102700    3408.706118
Name: amount_of_persons, dtype: float64
102701    2973.592669
Name: amount_of_persons, dtype: float64
102702    1992.552954
Name: amount_of_persons, dtype: float64
102703    639.944014
Name: amount_of_persons, dtype: float64
102704    3364.900427
Name: amount_of_persons, dtype: float64
102705    3810.402577
Name: amount_of_persons, dtype: float64
102706    2582.631201
Name: amount_of_persons, dtype: float64
102707    2468.009194
Name: amount_of_persons, dtype: float64
102708    1460.478291
Name: amount_of_persons, dtype: float64
102709    3749.109238
Name: amount_of_persons, dtype: float64
102710    29.261509
Name: amount_of_persons, dtype: float64
102711    948.14216
Name: amount_of_persons, dtype: float64
102712   NaN
Name: amount_of_persons, dtype: float64
102713    1795.34077
Name: amount_of_persons, dtype: float64
102714    1322.481705
Name: amount_of_persons, dtype: float64
102715    1028.481452
Name: amount_of_persons, dtype: float64
102716    15.063617
Name: amount_of_persons, dtype: float64
102717    706.085414
Name: amount_of_persons, dtype: float64
102718    20.777403
Name: amount_of_persons, dtype: float64
102719    1041.640474
Name: amount_of_persons, dtype: float64
102720    1971.775551
Name: amount_of_persons, dtype: float64
102721    1140.333138
Name: amount_of_persons, dtype: float64
102722    4.155481
Name: amount_of_persons, dtype: float64
102723    3082.50089
Name: amount_of_persons, dtype: float64
102724    3121.631666
Name: amount_of_persons, dtype: float64
102725    1360.054176
Name: amount_of_persons, dtype: float64
102726    3144.659954
Name: amount_of_persons, dtype: float64
102727    93.325169
Name: amount_of_persons, dtype: float64
102728    4145.438202
Name: amount_of_persons, dtype: float64
102729    4391.130993
Name: amount_of_persons, dtype: float64
102730    3839.837232
Name: amount_of_persons, dtype: float64
102731    3795.512105
Name: amount_of_persons, dtype: float64
102732    1579.428923
Name: amount_of_persons, dtype: float64
102733    4104.402831
Name: amount_of_persons, dtype: float64
102734    4561.332553
Name: amount_of_persons, dtype: float64
102735    4074.448741
Name: amount_of_persons, dtype: float64
102736    5528.520666
Name: amount_of_persons, dtype: float64
102737    4504.540985
Name: amount_of_persons, dtype: float64
102738    4057.307384
Name: amount_of_persons, dtype: float64
102739    4520.470327
Name: amount_of_persons, dtype: float64
102740    972.728754
Name: amount_of_persons, dtype: float64
102741    6.925801
Name: amount_of_persons, dtype: float64
102742    1151.76071
Name: amount_of_persons, dtype: float64
102743    1618.559699
Name: amount_of_persons, dtype: float64
102744    3200.066362
Name: amount_of_persons, dtype: float64
102745    3214.610544
Name: amount_of_persons, dtype: float64
102746    3534.582552
Name: amount_of_persons, dtype: float64
102747    4142.494736
Name: amount_of_persons, dtype: float64
102748    2363.949034
Name: amount_of_persons, dtype: float64
102749    3007.009659
Name: amount_of_persons, dtype: float64
102750   NaN
Name: amount_of_persons, dtype: float64
102751    452.947387
Name: amount_of_persons, dtype: float64
102752   NaN
Name: amount_of_persons, dtype: float64
102753    11.947007
Name: amount_of_persons, dtype: float64
102754    406.89081
Name: amount_of_persons, dtype: float64
102755    322.049748
Name: amount_of_persons, dtype: float64
102756    10.908137
Name: amount_of_persons, dtype: float64
102757    1744.782422
Name: amount_of_persons, dtype: float64
102758   NaN
Name: amount_of_persons, dtype: float64
102759    1858.019269
Name: amount_of_persons, dtype: float64
102760    2060.079514
Name: amount_of_persons, dtype: float64
102761    1803.998021
Name: amount_of_persons, dtype: float64
102762    2912.29933
Name: amount_of_persons, dtype: float64
102763    3123.536261
Name: amount_of_persons, dtype: float64
102764   NaN
Name: amount_of_persons, dtype: float64
102765   NaN
Name: amount_of_persons, dtype: float64
102766   NaN
Name: amount_of_persons, dtype: float64
102767   NaN
Name: amount_of_persons, dtype: float64
102768   NaN
Name: amount_of_persons, dtype: float64
102769   NaN
Name: amount_of_persons, dtype: float64
102770   NaN
Name: amount_of_persons, dtype: float64
102771    548.177151
Name: amount_of_persons, dtype: float64
102772    2420.394312
Name: amount_of_persons, dtype: float64
102773    2770.666699
Name: amount_of_persons, dtype: float64
102774    2402.214084
Name: amount_of_persons, dtype: float64
102775    960.608602
Name: amount_of_persons, dtype: float64
102776    2357.888958
Name: amount_of_persons, dtype: float64
102777    7.272091
Name: amount_of_persons, dtype: float64
102778    1364.382801
Name: amount_of_persons, dtype: float64
102779    1224.654766
Name: amount_of_persons, dtype: float64
102780    1160.071671
Name: amount_of_persons, dtype: float64
102781    1481.082549
Name: amount_of_persons, dtype: float64
102782    2712.14368
Name: amount_of_persons, dtype: float64
102783    2753.179051
Name: amount_of_persons, dtype: float64
102784    2266.98782
Name: amount_of_persons, dtype: float64
102785    266.123904
Name: amount_of_persons, dtype: float64
102786    184.918887
Name: amount_of_persons, dtype: float64
102787    1184.311975
Name: amount_of_persons, dtype: float64
102788   NaN
Name: amount_of_persons, dtype: float64
102789    1173.576983
Name: amount_of_persons, dtype: float64
102790    68.56543
Name: amount_of_persons, dtype: float64
102791    1291.315601
Name: amount_of_persons, dtype: float64
102792    2.77032
Name: amount_of_persons, dtype: float64
102793   NaN
Name: amount_of_persons, dtype: float64
102794    543.502235
Name: amount_of_persons, dtype: float64
102795    30.819815
Name: amount_of_persons, dtype: float64
102796    6.925801
Name: amount_of_persons, dtype: float64
102797    1132.022177
Name: amount_of_persons, dtype: float64
102798    1132.887902
Name: amount_of_persons, dtype: float64
102799    25.106029
Name: amount_of_persons, dtype: float64
102800    590.770827
Name: amount_of_persons, dtype: float64
102801    1717.944944
Name: amount_of_persons, dtype: float64
102802    1182.926815
Name: amount_of_persons, dtype: float64
102803    1237.121208
Name: amount_of_persons, dtype: float64
102804    2195.478924
Name: amount_of_persons, dtype: float64
102805    2324.818258
Name: amount_of_persons, dtype: float64
102806    760.452952
Name: amount_of_persons, dtype: float64
102807    86.053078
Name: amount_of_persons, dtype: float64
102808    1619.425424
Name: amount_of_persons, dtype: float64
102809    1362.305061
Name: amount_of_persons, dtype: float64
102810    1934.029935
Name: amount_of_persons, dtype: float64
102811   NaN
Name: amount_of_persons, dtype: float64
102812   NaN
Name: amount_of_persons, dtype: float64
102813    1824.429134
Name: amount_of_persons, dtype: float64
102814    952.817076
Name: amount_of_persons, dtype: float64
102815    8.830396
Name: amount_of_persons, dtype: float64
102816    1186.56286
Name: amount_of_persons, dtype: float64
102817    1460.132
Name: amount_of_persons, dtype: float64
102818    1075.057464
Name: amount_of_persons, dtype: float64
102819    1575.100297
Name: amount_of_persons, dtype: float64
102820    164.660919
Name: amount_of_persons, dtype: float64
102821    520.993382
Name: amount_of_persons, dtype: float64
102822    1165.612312
Name: amount_of_persons, dtype: float64
102823    33.936425
Name: amount_of_persons, dtype: float64
102824    1893.340854
Name: amount_of_persons, dtype: float64
102825    1516.404134
Name: amount_of_persons, dtype: float64
102826    333.477319
Name: amount_of_persons, dtype: float64
102827    1066.400212
Name: amount_of_persons, dtype: float64
102828    938.272893
Name: amount_of_persons, dtype: float64
102829    575.01463
Name: amount_of_persons, dtype: float64
102830    2397.712314
Name: amount_of_persons, dtype: float64
102831    1576.485458
Name: amount_of_persons, dtype: float64
102832    1672.234657
Name: amount_of_persons, dtype: float64
102833    1466.884656
Name: amount_of_persons, dtype: float64
102834    232.187479
Name: amount_of_persons, dtype: float64
102835    1693.531495
Name: amount_of_persons, dtype: float64
102836    752.488281
Name: amount_of_persons, dtype: float64
102837    1992.726099
Name: amount_of_persons, dtype: float64
102838    2108.733266
Name: amount_of_persons, dtype: float64
102839    1006.492034
Name: amount_of_persons, dtype: float64
102840    1930.0476
Name: amount_of_persons, dtype: float64
102841    1277.117708
Name: amount_of_persons, dtype: float64
102842    1522.291065
Name: amount_of_persons, dtype: float64
102843    1596.050846
Name: amount_of_persons, dtype: float64
102844    705.739124
Name: amount_of_persons, dtype: float64
102845   NaN
Name: amount_of_persons, dtype: float64
102846    289.152193
Name: amount_of_persons, dtype: float64
102847   NaN
Name: amount_of_persons, dtype: float64
102848    719.763871
Name: amount_of_persons, dtype: float64
102849    88.477108
Name: amount_of_persons, dtype: float64
102850    797.852278
Name: amount_of_persons, dtype: float64
102851    159.639714
Name: amount_of_persons, dtype: float64
102852    6.406366
Name: amount_of_persons, dtype: float64
102853    43.459401
Name: amount_of_persons, dtype: float64
102854    83.975337
Name: amount_of_persons, dtype: float64
102855    161.024874
Name: amount_of_persons, dtype: float64
102856    2.943465
Name: amount_of_persons, dtype: float64
102857    34.80215
Name: amount_of_persons, dtype: float64
102858    2.77032
Name: amount_of_persons, dtype: float64
102859    30.64667
Name: amount_of_persons, dtype: float64
102860    6.233221
Name: amount_of_persons, dtype: float64
102861    10.215557
Name: amount_of_persons, dtype: float64
102862    3.462901
Name: amount_of_persons, dtype: float64
102863    3.289755
Name: amount_of_persons, dtype: float64
102864   NaN
Name: amount_of_persons, dtype: float64
102865    203.791695
Name: amount_of_persons, dtype: float64
102866    914.03259
Name: amount_of_persons, dtype: float64
102867    10.388702
Name: amount_of_persons, dtype: float64
102868    11.773862
Name: amount_of_persons, dtype: float64
102869    4.501771
Name: amount_of_persons, dtype: float64
102870    211.236931
Name: amount_of_persons, dtype: float64
102871    1.558305
Name: amount_of_persons, dtype: float64
102872    7.964671
Name: amount_of_persons, dtype: float64
102873    18.526518
Name: amount_of_persons, dtype: float64
102874    2009.867457
Name: amount_of_persons, dtype: float64
102875    1917.234868
Name: amount_of_persons, dtype: float64
102876    1288.372135
Name: amount_of_persons, dtype: float64
102877    3070.553883
Name: amount_of_persons, dtype: float64
102878    593.021713
Name: amount_of_persons, dtype: float64
102879    1411.478248
Name: amount_of_persons, dtype: float64
102880    2741.75148
Name: amount_of_persons, dtype: float64
102881    1664.962566
Name: amount_of_persons, dtype: float64
102882    319.972007
Name: amount_of_persons, dtype: float64
102883    1797.591655
Name: amount_of_persons, dtype: float64
102884   NaN
Name: amount_of_persons, dtype: float64
102885    1243.873864
Name: amount_of_persons, dtype: float64
102886    1619.425424
Name: amount_of_persons, dtype: float64
102887    2793.868132
Name: amount_of_persons, dtype: float64
102888    2162.927659
Name: amount_of_persons, dtype: float64
102889    834.212733
Name: amount_of_persons, dtype: float64
102890    2614.143596
Name: amount_of_persons, dtype: float64
102891    1270.711343
Name: amount_of_persons, dtype: float64
102892    1581.333518
Name: amount_of_persons, dtype: float64
102893    2526.012778
Name: amount_of_persons, dtype: float64
102894    653.103036
Name: amount_of_persons, dtype: float64
102895    733.269183
Name: amount_of_persons, dtype: float64
102896    413.816611
Name: amount_of_persons, dtype: float64
102897    4141.629011
Name: amount_of_persons, dtype: float64
102898    2270.970155
Name: amount_of_persons, dtype: float64
102899    723.053627
Name: amount_of_persons, dtype: float64
102900    5.713786
Name: amount_of_persons, dtype: float64
102901    8.484106
Name: amount_of_persons, dtype: float64
102902    1469.135542
Name: amount_of_persons, dtype: float64
102903    2038.436386
Name: amount_of_persons, dtype: float64
102904    698.120743
Name: amount_of_persons, dtype: float64
102905    1465.672641
Name: amount_of_persons, dtype: float64
102906    1362.305061
Name: amount_of_persons, dtype: float64
102907    1777.333687
Name: amount_of_persons, dtype: float64
102908    760.279807
Name: amount_of_persons, dtype: float64
102909    1705.824792
Name: amount_of_persons, dtype: float64
102910    1666.694016
Name: amount_of_persons, dtype: float64
102911    917.322345
Name: amount_of_persons, dtype: float64
102912    832.308138
Name: amount_of_persons, dtype: float64
102913    887.021966
Name: amount_of_persons, dtype: float64
102914    14.371037
Name: amount_of_persons, dtype: float64
102434    3005.278208
Name: amount_of_persons, dtype: float64
102435    1381.177869
Name: amount_of_persons, dtype: float64
102436    4368.96843
Name: amount_of_persons, dtype: float64
102437    1139.467413
Name: amount_of_persons, dtype: float64
102438    1285.42867
Name: amount_of_persons, dtype: float64
102439    2.597175
Name: amount_of_persons, dtype: float64
102440    1903.556411
Name: amount_of_persons, dtype: float64
102441    1503.591402
Name: amount_of_persons, dtype: float64
102442    2797.504178
Name: amount_of_persons, dtype: float64
102443    1698.379556
Name: amount_of_persons, dtype: float64
102444    2121.545998
Name: amount_of_persons, dtype: float64
102445    1041.986764
Name: amount_of_persons, dtype: float64
102446    873.689799
Name: amount_of_persons, dtype: float64
102447    3282.656539
Name: amount_of_persons, dtype: float64
102448    2303.86771
Name: amount_of_persons, dtype: float64
102449    2188.553123
Name: amount_of_persons, dtype: float64
102450    2217.814632
Name: amount_of_persons, dtype: float64
102451    1767.810711
Name: amount_of_persons, dtype: float64
102452   NaN
Name: amount_of_persons, dtype: float64
102453    1903.902701
Name: amount_of_persons, dtype: float64
102454    2344.729936
Name: amount_of_persons, dtype: float64
102455    1416.326309
Name: amount_of_persons, dtype: float64
102456   NaN
Name: amount_of_persons, dtype: float64
102457    2062.676689
Name: amount_of_persons, dtype: float64
102458    713.18436
Name: amount_of_persons, dtype: float64
102459   NaN
Name: amount_of_persons, dtype: float64
102460    1915.849708
Name: amount_of_persons, dtype: float64
102461    3541.162063
Name: amount_of_persons, dtype: float64
102462    4755.428127
Name: amount_of_persons, dtype: float64
102463    2535.535754
Name: amount_of_persons, dtype: float64
102464    3095.140477
Name: amount_of_persons, dtype: float64
102465    3843.473277
Name: amount_of_persons, dtype: float64
102466    1351.223779
Name: amount_of_persons, dtype: float64
102467    2166.909995
Name: amount_of_persons, dtype: float64

102468    2833.345198
Name: amount_of_persons, dtype: float64
102469    3940.953927
Name: amount_of_persons, dtype: float64
102470    3369.748487
Name: amount_of_persons, dtype: float64
102471   NaN
Name: amount_of_persons, dtype: float64
102472   NaN
Name: amount_of_persons, dtype: float64
102473    4787.633101
Name: amount_of_persons, dtype: float64
102474    4466.795369
Name: amount_of_persons, dtype: float64
102475    4635.784914
Name: amount_of_persons, dtype: float64
102476   NaN
Name: amount_of_persons, dtype: float64
102477   NaN
Name: amount_of_persons, dtype: float64
102478    3971.773741
Name: amount_of_persons, dtype: float64
102479   NaN
Name: amount_of_persons, dtype: float64
102480   NaN
Name: amount_of_persons, dtype: float64
102481   NaN
Name: amount_of_persons, dtype: float64
102482    3842.607552
Name: amount_of_persons, dtype: float64
102483    4632.495159
Name: amount_of_persons, dtype: float64
102484   NaN
Name: amount_of_persons, dtype: float64
102485   NaN
Name: amount_of_persons, dtype: float64
102486    3182.578715
Name: amount_of_persons, dtype: float64
102487   NaN
Name: amount_of_persons, dtype: float64
102488    3529.041911
Name: amount_of_persons, dtype: float64
102489    1952.556453
Name: amount_of_persons, dtype: float64
102490    3479.176143
Name: amount_of_persons, dtype: float64
102491    1183.44625
Name: amount_of_persons, dtype: float64
102492    2725.648992
Name: amount_of_persons, dtype: float64
102493    2064.75443
Name: amount_of_persons, dtype: float64
102494    957.318846
Name: amount_of_persons, dtype: float64
102495   NaN
Name: amount_of_persons, dtype: float64
102496    86.572513
Name: amount_of_persons, dtype: float64
102497    3347.066489
Name: amount_of_persons, dtype: float64
102498    3066.052112
Name: amount_of_persons, dtype: float64
102499    1476.753923
Name: amount_of_persons, dtype: float64
102500    3983.547603
Name: amount_of_persons, dtype: float64
102501    3227.423276
Name: amount_of_persons, dtype: float64
102502    3067.956708
Name: amount_of_persons, dtype: float64
102503    2887.020156
Name: amount_of_persons, dtype: float64
102504    3.636046
Name: amount_of_persons, dtype: float64
102505    3.982336
Name: amount_of_persons, dtype: float64
102506    0.173145
Name: amount_of_persons, dtype: float64
102507    1.212015
Name: amount_of_persons, dtype: float64
102508    2.250885
Name: amount_of_persons, dtype: float64
102509    2.07774
Name: amount_of_persons, dtype: float64
102510    0.173145
Name: amount_of_persons, dtype: float64
102511    4.501771
Name: amount_of_persons, dtype: float64
102512    806.855819
Name: amount_of_persons, dtype: float64
102513   NaN
Name: amount_of_persons, dtype: float64
102514    3963.11649
Name: amount_of_persons, dtype: float64
102515    4807.025344
Name: amount_of_persons, dtype: float64
102516   NaN
Name: amount_of_persons, dtype: float64
102517    3820.271844
Name: amount_of_persons, dtype: float64
102518    3922.427409
Name: amount_of_persons, dtype: float64
102519    2877.324035
Name: amount_of_persons, dtype: float64
102520   NaN
Name: amount_of_persons, dtype: float64
102521    2.597175
Name: amount_of_persons, dtype: float64
102522    3812.653463
Name: amount_of_persons, dtype: float64
102523   NaN
Name: amount_of_persons, dtype: float64
102524    3549.819314
Name: amount_of_persons, dtype: float64
102525    6197.553045
Name: amount_of_persons, dtype: float64
102526    5047.523785
Name: amount_of_persons, dtype: float64
102527    4734.477579
Name: amount_of_persons, dtype: float64
102528    3726.77353
Name: amount_of_persons, dtype: float64
102529    10.042411
Name: amount_of_persons, dtype: float64
102530    87.611383
Name: amount_of_persons, dtype: float64
102531    3143.794229
Name: amount_of_persons, dtype: float64
102532    3656.13036
Name: amount_of_persons, dtype: float64
102533    5002.332933
Name: amount_of_persons, dtype: float64
102534    3357.282045
Name: amount_of_persons, dtype: float64
102535    3703.745242
Name: amount_of_persons, dtype: float64
102536    4920.954771
Name: amount_of_persons, dtype: float64
102537    4211.579601
Name: amount_of_persons, dtype: float64
102538    5387.40747
Name: amount_of_persons, dtype: float64
102539    4396.671634
Name: amount_of_persons, dtype: float64
102540    5164.223532
Name: amount_of_persons, dtype: float64
102541    4419.873067
Name: amount_of_persons, dtype: float64
102542    2658.295577
Name: amount_of_persons, dtype: float64
102543    5932.8143
Name: amount_of_persons, dtype: float64
102544    5027.438962
Name: amount_of_persons, dtype: float64
102545    3774.388412
Name: amount_of_persons, dtype: float64
102546    1294.951646
Name: amount_of_persons, dtype: float64
102547    1716.386638
Name: amount_of_persons, dtype: float64
102548    153.233348
Name: amount_of_persons, dtype: float64
102549    24.759739
Name: amount_of_persons, dtype: float64
102550    887.195111
Name: amount_of_persons, dtype: float64
102551    2936.539633
Name: amount_of_persons, dtype: float64
102552    3422.038285
Name: amount_of_persons, dtype: float64
102553    4056.268514
Name: amount_of_persons, dtype: float64
102554    3841.568682
Name: amount_of_persons, dtype: float64
102555    4242.053126
Name: amount_of_persons, dtype: float64
102556    2403.77239
Name: amount_of_persons, dtype: float64
102557    4673.011095
Name: amount_of_persons, dtype: float64
102558    2569.299034
Name: amount_of_persons, dtype: float64
102559    2563.412103
Name: amount_of_persons, dtype: float64
102560    3056.009701
Name: amount_of_persons, dtype: float64
102561    2203.789885
Name: amount_of_persons, dtype: float64
102562    3641.413032
Name: amount_of_persons, dtype: float64
102563    4502.982679
Name: amount_of_persons, dtype: float64
102564    4651.367966
Name: amount_of_persons, dtype: float64
102565    4707.29381
Name: amount_of_persons, dtype: float64
102566    4992.463667
Name: amount_of_persons, dtype: float64
102567   NaN
Name: amount_of_persons, dtype: float64
102568    3509.822813
Name: amount_of_persons, dtype: float64
102569    4577.608185
Name: amount_of_persons, dtype: float64
102570    4162.233269
Name: amount_of_persons, dtype: float64
102571    5535.619612
Name: amount_of_persons, dtype: float64
102572    4192.014214
Name: amount_of_persons, dtype: float64
102573    4335.55144
Name: amount_of_persons, dtype: float64
102574    3228.981581
Name: amount_of_persons, dtype: float64
102575    4034.971675
Name: amount_of_persons, dtype: float64
102576   NaN
Name: amount_of_persons, dtype: float64
102577    4477.010926
Name: amount_of_persons, dtype: float64
102578   NaN
Name: amount_of_persons, dtype: float64
102579    10.042411
Name: amount_of_persons, dtype: float64
102580   NaN
Name: amount_of_persons, dtype: float64
102581    7.098946
Name: amount_of_persons, dtype: float64
102582    4.155481
Name: amount_of_persons, dtype: float64
102583    149.424157
Name: amount_of_persons, dtype: float64
102584    0.519435
Name: amount_of_persons, dtype: float64
102585   NaN
Name: amount_of_persons, dtype: float64
102586    1589.64448
Name: amount_of_persons, dtype: float64
102587    1962.07943
Name: amount_of_persons, dtype: float64
102588    1466.365221
Name: amount_of_persons, dtype: float64
102589    1609.729303
Name: amount_of_persons, dtype: float64
102590    1857.672979
Name: amount_of_persons, dtype: float64
102591    2912.29933
Name: amount_of_persons, dtype: float64
102592    13.678457
Name: amount_of_persons, dtype: float64
102593    2186.821673
Name: amount_of_persons, dtype: float64
102594    2019.563578
Name: amount_of_persons, dtype: float64
102595    1722.273569
Name: amount_of_persons, dtype: float64
102596    2864.165013
Name: amount_of_persons, dtype: float64
102597    2585.920957
Name: amount_of_persons, dtype: float64
102598    436.671754
Name: amount_of_persons, dtype: float64
102599    2.77032
Name: amount_of_persons, dtype: float64
102600    1445.760963
Name: amount_of_persons, dtype: float64
102601    66.660835
Name: amount_of_persons, dtype: float64
102602    57.484148
Name: amount_of_persons, dtype: float64
102603    5.713786
Name: amount_of_persons, dtype: float64
102604    2721.493512
Name: amount_of_persons, dtype: float64
102605    2586.959827
Name: amount_of_persons, dtype: float64
102606    1718.464379
Name: amount_of_persons, dtype: float64
102607    815.85936
Name: amount_of_persons, dtype: float64
102608    1429.485331
Name: amount_of_persons, dtype: float64
102609    2348.539127
Name: amount_of_persons, dtype: float64
102610    2569.125889
Name: amount_of_persons, dtype: float64
102611    2391.305948
Name: amount_of_persons, dtype: float64
102612    3005.624499
Name: amount_of_persons, dtype: float64
102613    2249.846462
Name: amount_of_persons, dtype: float64
102614    193.056703
Name: amount_of_persons, dtype: float64
102615    2081.722642
Name: amount_of_persons, dtype: float64
102616    1561.594985
Name: amount_of_persons, dtype: float64
102617    1613.711638
Name: amount_of_persons, dtype: float64
102618    1152.107
Name: amount_of_persons, dtype: float64
102619    868.668593
Name: amount_of_persons, dtype: float64

102620    1879.662397
Name: amount_of_persons, dtype: float64
102621    3094.794187
Name: amount_of_persons, dtype: float64
102622    2479.436766
Name: amount_of_persons, dtype: float64
102623    603.237269
Name: amount_of_persons, dtype: float64
102624    533.632969
Name: amount_of_persons, dtype: float64
102625    1403.859867
Name: amount_of_persons, dtype: float64
102626    1082.84899
Name: amount_of_persons, dtype: float64
102627    1872.390306
Name: amount_of_persons, dtype: float64
102628    1575.273442
Name: amount_of_persons, dtype: float64
102629    1582.718679
Name: amount_of_persons, dtype: float64
102630    1845.552827
Name: amount_of_persons, dtype: float64
102631    246.039081
Name: amount_of_persons, dtype: float64
102632    1675.351267
Name: amount_of_persons, dtype: float64
102633    23.720869
Name: amount_of_persons, dtype: float64
102634    1524.88824
Name: amount_of_persons, dtype: float64
102635    22.335708
Name: amount_of_persons, dtype: float64
102636    56.964713
Name: amount_of_persons, dtype: float64
102637    1569.040222
Name: amount_of_persons, dtype: float64
102638    1255.994015
Name: amount_of_persons, dtype: float64
102639    2287.245788
Name: amount_of_persons, dtype: float64
102640    1869.446841
Name: amount_of_persons, dtype: float64
102641    1587.047304
Name: amount_of_persons, dtype: float64
102642    232.014334
Name: amount_of_persons, dtype: float64
102643    1576.485458
Name: amount_of_persons, dtype: float64
102644    2098.690855
Name: amount_of_persons, dtype: float64
102645    1697.860121
Name: amount_of_persons, dtype: float64
102646    503.332589
Name: amount_of_persons, dtype: float64
102647    106.137901
Name: amount_of_persons, dtype: float64
102648   NaN
Name: amount_of_persons, dtype: float64
102649    63.890514
Name: amount_of_persons, dtype: float64
102650    1894.033434
Name: amount_of_persons, dtype: float64
102651    604.968719
Name: amount_of_persons, dtype: float64
102652    3851.611093
Name: amount_of_persons, dtype: float64
102653    3509.822813
Name: amount_of_persons, dtype: float64
102654    3992.724289
Name: amount_of_persons, dtype: float64
102655    5575.442968
Name: amount_of_persons, dtype: float64
102656    3930.04579
Name: amount_of_persons, dtype: float64
102657    4243.784576
Name: amount_of_persons, dtype: float64
102658    4835.940564
Name: amount_of_persons, dtype: float64
102659    3406.108943
Name: amount_of_persons, dtype: float64
102660    4165.69617
Name: amount_of_persons, dtype: float64
102661    3955.844399
Name: amount_of_persons, dtype: float64
102662    4141.629011
Name: amount_of_persons, dtype: float64
102663    3991.858564
Name: amount_of_persons, dtype: float64
102664    3167.515097
Name: amount_of_persons, dtype: float64
102665    3968.310841
Name: amount_of_persons, dtype: float64
102666    4505.926145
Name: amount_of_persons, dtype: float64
102667    3311.918049
Name: amount_of_persons, dtype: float64
102668    4194.438244
Name: amount_of_persons, dtype: float64
102669    141.805776
Name: amount_of_persons, dtype: float64
102670    4195.477114
Name: amount_of_persons, dtype: float64
102671    1352.95523
Name: amount_of_persons, dtype: float64
102672    2075.489421
Name: amount_of_persons, dtype: float64
102673    3267.592922
Name: amount_of_persons, dtype: float64
102674    1429.658476
Name: amount_of_persons, dtype: float64
102675   NaN
Name: amount_of_persons, dtype: float64
102676    1689.722304
Name: amount_of_persons, dtype: float64
102677    1231.926857
Name: amount_of_persons, dtype: float64
102678    2410.525046
Name: amount_of_persons, dtype: float64
102679    2603.408604
Name: amount_of_persons, dtype: float64
102680    1339.276773
Name: amount_of_persons, dtype: float64
102681    2866.935333
Name: amount_of_persons, dtype: float64
102682    2464.892584
Name: amount_of_persons, dtype: float64
102683    10.908137
Name: amount_of_persons, dtype: float64
102684    3.462901
Name: amount_of_persons, dtype: float64
102685    4096.957595
Name: amount_of_persons, dtype: float64
102686    3413.727324
Name: amount_of_persons, dtype: float64
102687    1702.881326
Name: amount_of_persons, dtype: float64
102688    3561.07374
Name: amount_of_persons, dtype: float64
102689    1916.022853
Name: amount_of_persons, dtype: float64
102690    312.180481
Name: amount_of_persons, dtype: float64
102691    3612.151523
Name: amount_of_persons, dtype: float64
102692    711.626055
Name: amount_of_persons, dtype: float64
102693    1484.026014
Name: amount_of_persons, dtype: float64
102694    141.459486
Name: amount_of_persons, dtype: float64
102695    1664.962566
Name: amount_of_persons, dtype: float64
102696    2810.31691
Name: amount_of_persons, dtype: float64
102697    3024.151016
Name: amount_of_persons, dtype: float64
102698    3751.706414
Name: amount_of_persons, dtype: float64
102699    3030.730527
Name: amount_of_persons, dtype: float64
102700    3408.706118
Name: amount_of_persons, dtype: float64
102701    2973.592669
Name: amount_of_persons, dtype: float64
102702    1992.552954
Name: amount_of_persons, dtype: float64
102703    639.944014
Name: amount_of_persons, dtype: float64
102704    3364.900427
Name: amount_of_persons, dtype: float64
102705    3810.402577
Name: amount_of_persons, dtype: float64
102706    2582.631201
Name: amount_of_persons, dtype: float64
102707    2468.009194
Name: amount_of_persons, dtype: float64
102708    1460.478291
Name: amount_of_persons, dtype: float64
102709    3749.109238
Name: amount_of_persons, dtype: float64
102710    29.261509
Name: amount_of_persons, dtype: float64
102711    948.14216
Name: amount_of_persons, dtype: float64
102712   NaN
Name: amount_of_persons, dtype: float64
102713    1795.34077
Name: amount_of_persons, dtype: float64
102714    1322.481705
Name: amount_of_persons, dtype: float64
102715    1028.481452
Name: amount_of_persons, dtype: float64
102716    15.063617
Name: amount_of_persons, dtype: float64
102717    706.085414
Name: amount_of_persons, dtype: float64
102718    20.777403
Name: amount_of_persons, dtype: float64
102719    1041.640474
Name: amount_of_persons, dtype: float64
102720    1971.775551
Name: amount_of_persons, dtype: float64
102721    1140.333138
Name: amount_of_persons, dtype: float64
102722    4.155481
Name: amount_of_persons, dtype: float64
102723    3082.50089
Name: amount_of_persons, dtype: float64
102724    3121.631666
Name: amount_of_persons, dtype: float64
102725    1360.054176
Name: amount_of_persons, dtype: float64
102726    3144.659954
Name: amount_of_persons, dtype: float64
102727    93.325169
Name: amount_of_persons, dtype: float64
102728    4145.438202
Name: amount_of_persons, dtype: float64
102729    4391.130993
Name: amount_of_persons, dtype: float64
102730    3839.837232
Name: amount_of_persons, dtype: float64
102731    3795.512105
Name: amount_of_persons, dtype: float64
102732    1579.428923
Name: amount_of_persons, dtype: float64
102733    4104.402831
Name: amount_of_persons, dtype: float64
102734    4561.332553
Name: amount_of_persons, dtype: float64
102735    4074.448741
Name: amount_of_persons, dtype: float64
102736    5528.520666
Name: amount_of_persons, dtype: float64
102737    4504.540985
Name: amount_of_persons, dtype: float64
102738    4057.307384
Name: amount_of_persons, dtype: float64
102739    4520.470327
Name: amount_of_persons, dtype: float64
102740    972.728754
Name: amount_of_persons, dtype: float64
102741    6.925801
Name: amount_of_persons, dtype: float64
102742    1151.76071
Name: amount_of_persons, dtype: float64
102743    1618.559699
Name: amount_of_persons, dtype: float64
102744    3200.066362
Name: amount_of_persons, dtype: float64
102745    3214.610544
Name: amount_of_persons, dtype: float64
102746    3534.582552
Name: amount_of_persons, dtype: float64
102747    4142.494736
Name: amount_of_persons, dtype: float64
102748    2363.949034
Name: amount_of_persons, dtype: float64
102749    3007.009659
Name: amount_of_persons, dtype: float64
102750   NaN
Name: amount_of_persons, dtype: float64
102751    452.947387
Name: amount_of_persons, dtype: float64
102752   NaN
Name: amount_of_persons, dtype: float64
102753    11.947007
Name: amount_of_persons, dtype: float64
102754    406.89081
Name: amount_of_persons, dtype: float64
102755    322.049748
Name: amount_of_persons, dtype: float64
102756    10.908137
Name: amount_of_persons, dtype: float64
102757    1744.782422
Name: amount_of_persons, dtype: float64
102758   NaN
Name: amount_of_persons, dtype: float64
102759    1858.019269
Name: amount_of_persons, dtype: float64
102760    2060.079514
Name: amount_of_persons, dtype: float64
102761    1803.998021
Name: amount_of_persons, dtype: float64
102762    2912.29933
Name: amount_of_persons, dtype: float64
102763    3123.536261
Name: amount_of_persons, dtype: float64
102764   NaN
Name: amount_of_persons, dtype: float64
102765   NaN
Name: amount_of_persons, dtype: float64
102766   NaN
Name: amount_of_persons, dtype: float64
102767   NaN
Name: amount_of_persons, dtype: float64
102768   NaN
Name: amount_of_persons, dtype: float64
102769   NaN
Name: amount_of_persons, dtype: float64
102770   NaN
Name: amount_of_persons, dtype: float64
102771    548.177151
Name: amount_of_persons, dtype: float64
102772    2420.394312
Name: amount_of_persons, dtype: float64
102773    2770.666699
Name: amount_of_persons, dtype: float64
102774    2402.214084
Name: amount_of_persons, dtype: float64
102775    960.608602
Name: amount_of_persons, dtype: float64
102776    2357.888958
Name: amount_of_persons, dtype: float64
102777    7.272091
Name: amount_of_persons, dtype: float64
102778    1364.382801
Name: amount_of_persons, dtype: float64
102779    1224.654766
Name: amount_of_persons, dtype: float64
102780    1160.071671
Name: amount_of_persons, dtype: float64
102781    1481.082549
Name: amount_of_persons, dtype: float64
102782    2712.14368
Name: amount_of_persons, dtype: float64
102783    2753.179051
Name: amount_of_persons, dtype: float64
102784    2266.98782
Name: amount_of_persons, dtype: float64
102785    266.123904
Name: amount_of_persons, dtype: float64
102786    184.918887
Name: amount_of_persons, dtype: float64
102787    1184.311975
Name: amount_of_persons, dtype: float64
102788   NaN
Name: amount_of_persons, dtype: float64
102789    1173.576983
Name: amount_of_persons, dtype: float64
102790    68.56543
Name: amount_of_persons, dtype: float64
102791    1291.315601
Name: amount_of_persons, dtype: float64
102792    2.77032
Name: amount_of_persons, dtype: float64
102793   NaN
Name: amount_of_persons, dtype: float64
102794    543.502235
Name: amount_of_persons, dtype: float64
102795    30.819815
Name: amount_of_persons, dtype: float64
102796    6.925801
Name: amount_of_persons, dtype: float64
102797    1132.022177
Name: amount_of_persons, dtype: float64
102798    1132.887902
Name: amount_of_persons, dtype: float64
102799    25.106029
Name: amount_of_persons, dtype: float64
102800    590.770827
Name: amount_of_persons, dtype: float64
102801    1717.944944
Name: amount_of_persons, dtype: float64
102802    1182.926815
Name: amount_of_persons, dtype: float64
102803    1237.121208
Name: amount_of_persons, dtype: float64
102804    2195.478924
Name: amount_of_persons, dtype: float64
102805    2324.818258
Name: amount_of_persons, dtype: float64
102806    760.452952
Name: amount_of_persons, dtype: float64
102807    86.053078
Name: amount_of_persons, dtype: float64
102808    1619.425424
Name: amount_of_persons, dtype: float64
102809    1362.305061
Name: amount_of_persons, dtype: float64
102810    1934.029935
Name: amount_of_persons, dtype: float64
102811   NaN
Name: amount_of_persons, dtype: float64
102812   NaN
Name: amount_of_persons, dtype: float64
102813    1824.429134
Name: amount_of_persons, dtype: float64
102814    952.817076
Name: amount_of_persons, dtype: float64
102815    8.830396
Name: amount_of_persons, dtype: float64
102816    1186.56286
Name: amount_of_persons, dtype: float64
102817    1460.132
Name: amount_of_persons, dtype: float64
102818    1075.057464
Name: amount_of_persons, dtype: float64
102819    1575.100297
Name: amount_of_persons, dtype: float64
102820    164.660919
Name: amount_of_persons, dtype: float64
102821    520.993382
Name: amount_of_persons, dtype: float64
102822    1165.612312
Name: amount_of_persons, dtype: float64
102823    33.936425
Name: amount_of_persons, dtype: float64
102824    1893.340854
Name: amount_of_persons, dtype: float64
102825    1516.404134
Name: amount_of_persons, dtype: float64
102826    333.477319
Name: amount_of_persons, dtype: float64
102827    1066.400212
Name: amount_of_persons, dtype: float64
102828    938.272893
Name: amount_of_persons, dtype: float64
102829    575.01463
Name: amount_of_persons, dtype: float64
102830    2397.712314
Name: amount_of_persons, dtype: float64
102831    1576.485458
Name: amount_of_persons, dtype: float64
102832    1672.234657
Name: amount_of_persons, dtype: float64
102833    1466.884656
Name: amount_of_persons, dtype: float64
102834    232.187479
Name: amount_of_persons, dtype: float64
102835    1693.531495
Name: amount_of_persons, dtype: float64
102836    752.488281
Name: amount_of_persons, dtype: float64
102837    1992.726099
Name: amount_of_persons, dtype: float64
102838    2108.733266
Name: amount_of_persons, dtype: float64
102839    1006.492034
Name: amount_of_persons, dtype: float64
102840    1930.0476
Name: amount_of_persons, dtype: float64
102841    1277.117708
Name: amount_of_persons, dtype: float64
102842    1522.291065
Name: amount_of_persons, dtype: float64
102843    1596.050846
Name: amount_of_persons, dtype: float64
102844    705.739124
Name: amount_of_persons, dtype: float64
102845   NaN
Name: amount_of_persons, dtype: float64
102846    289.152193
Name: amount_of_persons, dtype: float64
102847   NaN
Name: amount_of_persons, dtype: float64
102848    719.763871
Name: amount_of_persons, dtype: float64
102849    88.477108
Name: amount_of_persons, dtype: float64
102850    797.852278
Name: amount_of_persons, dtype: float64
102851    159.639714
Name: amount_of_persons, dtype: float64
102852    6.406366
Name: amount_of_persons, dtype: float64
102853    43.459401
Name: amount_of_persons, dtype: float64
102854    83.975337
Name: amount_of_persons, dtype: float64
102855    161.024874
Name: amount_of_persons, dtype: float64
102856    2.943465
Name: amount_of_persons, dtype: float64
102857    34.80215
Name: amount_of_persons, dtype: float64
102858    2.77032
Name: amount_of_persons, dtype: float64
102859    30.64667
Name: amount_of_persons, dtype: float64
102860    6.233221
Name: amount_of_persons, dtype: float64
102861    10.215557
Name: amount_of_persons, dtype: float64
102862    3.462901
Name: amount_of_persons, dtype: float64
102863    3.289755
Name: amount_of_persons, dtype: float64
102864   NaN
Name: amount_of_persons, dtype: float64
102865    203.791695
Name: amount_of_persons, dtype: float64
102866    914.03259
Name: amount_of_persons, dtype: float64
102867    10.388702
Name: amount_of_persons, dtype: float64
102868    11.773862
Name: amount_of_persons, dtype: float64
102869    4.501771
Name: amount_of_persons, dtype: float64
102870    211.236931
Name: amount_of_persons, dtype: float64
102871    1.558305
Name: amount_of_persons, dtype: float64
102872    7.964671
Name: amount_of_persons, dtype: float64
102873    18.526518
Name: amount_of_persons, dtype: float64
102874    2009.867457
Name: amount_of_persons, dtype: float64
102875    1917.234868
Name: amount_of_persons, dtype: float64

102876    1288.372135
Name: amount_of_persons, dtype: float64
102877    3070.553883
Name: amount_of_persons, dtype: float64
102878    593.021713
Name: amount_of_persons, dtype: float64
102879    1411.478248
Name: amount_of_persons, dtype: float64
102880    2741.75148
Name: amount_of_persons, dtype: float64
102881    1664.962566
Name: amount_of_persons, dtype: float64
102882    319.972007
Name: amount_of_persons, dtype: float64
102883    1797.591655
Name: amount_of_persons, dtype: float64
102884   NaN
Name: amount_of_persons, dtype: float64
102885    1243.873864
Name: amount_of_persons, dtype: float64
102886    1619.425424
Name: amount_of_persons, dtype: float64
102887    2793.868132
Name: amount_of_persons, dtype: float64
102888    2162.927659
Name: amount_of_persons, dtype: float64
102889    834.212733
Name: amount_of_persons, dtype: float64
102890    2614.143596
Name: amount_of_persons, dtype: float64
102891    1270.711343
Name: amount_of_persons, dtype: float64
102892    1581.333518
Name: amount_of_persons, dtype: float64
102893    2526.012778
Name: amount_of_persons, dtype: float64
102894    653.103036
Name: amount_of_persons, dtype: float64
102895    733.269183
Name: amount_of_persons, dtype: float64
102896    413.816611
Name: amount_of_persons, dtype: float64
102897    4141.629011
Name: amount_of_persons, dtype: float64
102898    2270.970155
Name: amount_of_persons, dtype: float64
102899    723.053627
Name: amount_of_persons, dtype: float64
102900    5.713786
Name: amount_of_persons, dtype: float64
102901    8.484106
Name: amount_of_persons, dtype: float64
102902    1469.135542
Name: amount_of_persons, dtype: float64
102903    2038.436386
Name: amount_of_persons, dtype: float64
102904    698.120743
Name: amount_of_persons, dtype: float64
102905    1465.672641
Name: amount_of_persons, dtype: float64
102906    1362.305061
Name: amount_of_persons, dtype: float64
102907    1777.333687
Name: amount_of_persons, dtype: float64
102908    760.279807
Name: amount_of_persons, dtype: float64
102909    1705.824792
Name: amount_of_persons, dtype: float64
102910    1666.694016
Name: amount_of_persons, dtype: float64
102911    917.322345
Name: amount_of_persons, dtype: float64
102912    832.308138
Name: amount_of_persons, dtype: float64
102913    887.021966
Name: amount_of_persons, dtype: float64
102914    14.371037
Name: amount_of_persons, dtype: float64
861428

# Get area distribution based on education level

In [17]:
#get groups

groepen = ['BEVOPLLAAG_P',
'BEVOPLMID_P',
'BEVOPLHOOG_P']

# use year 2018 because 2019 is not available

df_sp = df[df['jaar'] == 2018]

df_sp = df_sp.loc[df['variabele'].isin(groepen)]


df_sp = df_sp.loc[df['gebiedcode15'].isin(wijken)]

df_sp = df_sp.replace(['BEVOPLLAAG_P','BEVOPLMID_P','BEVOPLHOOG_P'],[1,2,3])


amount = []

# get amount per area for each group
for i in df_sp.iterrows():
 
    row = i[1]
    area = row['gebiedcode15']
    waarde = row['waarde']
    etn = row['variabele']
    
    total = df_t[df_t['gebiedcode15'] == area]['amount_of_persons']

    if math.isnan(total) or math.isnan(waarde):
        amount.append(0)
        continue
        
    if int(total) == 0:
        amount.append(0)
        continue
    amount.append(math.ceil((float(total)*float(waarde)/100)) )

df_sp['amount_per_area'] = amount


# Include area code

df_sp['area_code'] = [i%len(wijken) for i in range(len(wijken)*3)]
df_sp = df_sp.fillna(0)


# Because there is a bias in the data towards education level 
# Because in our data the people with age 0-20 (almost) all have education level 1
# Therefor bias needs to be fixed

# groepen  = ['BEV0_17']
# df_sp2 = df[df['jaar'] == 2018]

# df_sp2 = df_sp2.loc[df['variabele'].isin(groepen)]



# df_sp2 = df_sp2.loc[df['gebiedcode15'].isin(wijken)]

# df_sp2 = df_sp2.replace(['BEV0_17'],['[0,20)'])


# df_sp.amount_per_area.sum()

# d = df_sp[df_sp['variabele'] == 1].copy()




# y = df_sp[df_sp['variabele'] == 1]['amount_per_area']+ (np.array(df_sp2['waarde']))



# d['amount_per_area'] += y



# df_sp[df_sp['variabele'] == 3]
# x = df_sp[(df_sp['variabele'] == 2) | (df_sp['variabele'] == 3)]

# x
# df_sp = pd.concat([x, d])


# df_sp = df_sp.drop('waarde', axis=1 )

# df_sp = df_sp.sort_values(by='area_code').reset_index()

# print(df_sp.amount_per_area.sum()/861000)
# df_sp.amount_per_area = df_sp.amount_per_area/( df_sp.amount_per_area.sum()/861000)


df_sp.to_csv('../Data/Spatial_data/Edu_data_withbias.csv', index=False)

# Make one dataframe based on all three distributions

In [19]:
gender_data = pd.read_csv('../Data/Spatial_data/Gender_data.csv')

etn_data = pd.read_csv('../Data/Spatial_data/Ethnic_data.csv')

edu_data = pd.read_csv('../Data/Spatial_data/Edu_data_withbias.csv')
codes = []
etnicities = []
amounts = []
percentages = []
genders = []
educations = []

df = pd.DataFrame()
for i in etn_data.itertuples():
#     print(i)
    e = i[2]
    c = i[-1]

    amount = i[-2]
    
    waarde = round(i[-3]/100,100)
    
    
    for j in ['Man', 'Vrouw']:
        
        gender = gender_data[gender_data['area_code'] == c ]
        gender = gender[gender['variabele'] == j]
        gender_waarde = round(float((gender['waarde'])/100),100)

        for k in [1,2,3]:
            
            education = edu_data[edu_data['area_code'] == c]
            education = education[education['variabele'] == k]
            
           

            print(amount, (education['amount_per_area']),)
            amount2 = amount + float(education['amount_per_area']) + float(gender['amount_per_area'])
        
            amounts.append(amount2)
            codes.append(c)
#             percentages.append(waarde2)
            etnicities.append(e)
            genders.append(j)
            educations.append(k)
        
df['etngrp'] = etnicities
df['code'] = codes
df['geslacht'] = genders
df['amount'] = amounts
df['oplniv'] = educations
df['percentage'] = percentages

1515 0    241
Name: amount_per_area, dtype: int64
1515 481    872
Name: amount_per_area, dtype: int64
1515 962    1864
Name: amount_per_area, dtype: int64
1515 0    241
Name: amount_per_area, dtype: int64
1515 481    872
Name: amount_per_area, dtype: int64
1515 962    1864
Name: amount_per_area, dtype: int64
673 1    139
Name: amount_per_area, dtype: int64
673 482    484
Name: amount_per_area, dtype: int64
673 963    760
Name: amount_per_area, dtype: int64
673 1    139
Name: amount_per_area, dtype: int64
673 482    484
Name: amount_per_area, dtype: int64
673 963    760
Name: amount_per_area, dtype: int64
2128 2    568
Name: amount_per_area, dtype: int64
2128 483    1442
Name: amount_per_area, dtype: int64
2128 964    2360
Name: amount_per_area, dtype: int64
2128 2    568
Name: amount_per_area, dtype: int64
2128 483    1442
Name: amount_per_area, dtype: int64
2128 964    2360
Name: amount_per_area, dtype: int64
628 3    57
Name: amount_per_area, dtype: int64
628 484    320
Name: amount_per_area, dtype: int64
628 965    764
Name: amount_per_area, dtype: int64
628 3    57
Name: amount_per_area, dtype: int64
628 484    320
Name: amount_per_area, dtype: int64
628 965    764
Name: amount_per_area, dtype: int64
734 4    103
Name: amount_per_area, dtype: int64
734 485    373
Name: amount_per_area, dtype: int64
734 966    810
Name: amount_per_area, dtype: int64
734 4    103
Name: amount_per_area, dtype: int64
734 485    373
Name: amount_per_area, dtype: int64
734 966    810
Name: amount_per_area, dtype: int64
0 5    0
Name: amount_per_area, dtype: int64
0 486    0
Name: amount_per_area, dtype: int64
0 967    0
Name: amount_per_area, dtype: int64
0 5    0
Name: amount_per_area, dtype: int64
0 486    0
Name: amount_per_area, dtype: int64
0 967    0
Name: amount_per_area, dtype: int64
853 6    210
Name: amount_per_area, dtype: int64
853 487    514
Name: amount_per_area, dtype: int64
853 968    1181
Name: amount_per_area, dtype: int64
853 6    210
Name: amount_per_area, dtype: int64
853 487    514
Name: amount_per_area, dtype: int64
853 968    1181
Name: amount_per_area, dtype: int64
594 7    106
Name: amount_per_area, dtype: int64
594 488    542
Name: amount_per_area, dtype: int64
594 969    843
Name: amount_per_area, dtype: int64
594 7    106
Name: amount_per_area, dtype: int64
594 488    542
Name: amount_per_area, dtype: int64
594 969    843
Name: amount_per_area, dtype: int64
1273 8    196
Name: amount_per_area, dtype: int64
1273 489    812
Name: amount_per_area, dtype: int64
1273 970    1791
Name: amount_per_area, dtype: int64
1273 8    196
Name: amount_per_area, dtype: int64
1273 489    812
Name: amount_per_area, dtype: int64
1273 970    1791
Name: amount_per_area, dtype: int64
772 9    170
Name: amount_per_area, dtype: int64
772 490    459
Name: amount_per_area, dtype: int64
772 971    1087
Name: amount_per_area, dtype: int64
772 9    170
Name: amount_per_area, dtype: int64
772 490    459
Name: amount_per_area, dtype: int64
772 971    1087
Name: amount_per_area, dtype: int64
987 10    170
Name: amount_per_area, dtype: int64
987 491    679
Name: amount_per_area, dtype: int64
987 972    1295
Name: amount_per_area, dtype: int64
987 10    170
Name: amount_per_area, dtype: int64
987 491    679
Name: amount_per_area, dtype: int64
987 972    1295
Name: amount_per_area, dtype: int64
537 11    94
Name: amount_per_area, dtype: int64
537 492    282
Name: amount_per_area, dtype: int64
537 973    667
Name: amount_per_area, dtype: int64
537 11    94
Name: amount_per_area, dtype: int64
537 492    282
Name: amount_per_area, dtype: int64
537 973    667
Name: amount_per_area, dtype: int64
395 12    70
Name: amount_per_area, dtype: int64
395 493    315
Name: amount_per_area, dtype: int64
395 974    490
Name: amount_per_area, dtype: int64
395 12    70
Name: amount_per_area, dtype: int64
395 493    315
Name: amount_per_area, dtype: int64
395 974    490
Name: amount_per_area, dtype: int64
2006 13    230
Name: amount_per_area, dtype: int64
2006 494    854
Name: amount_per_area, dtype: int64
2006 975    2200
Name: amount_per_area, dtype: int64
2006 13    230
Name: amount_per_area, dtype: int64
2006 494    854
Name: amount_per_area, dtype: int64
2006 975    2200
Name: amount_per_area, dtype: int64
1187 14    185
Name: amount_per_area, dtype: int64
1187 495    600
Name: amount_per_area, dtype: int64
1187 976    1521
Name: amount_per_area, dtype: int64
1187 14    185
Name: amount_per_area, dtype: int64
1187 495    600
Name: amount_per_area, dtype: int64
1187 976    1521
Name: amount_per_area, dtype: int64
1220 15    154
Name: amount_per_area, dtype: int64
1220 496    591
Name: amount_per_area, dtype: int64
1220 977    1423
Name: amount_per_area, dtype: int64
1220 15    154
Name: amount_per_area, dtype: int64
1220 496    591
Name: amount_per_area, dtype: int64
1220 977    1423
Name: amount_per_area, dtype: int64
1262 16    111
Name: amount_per_area, dtype: int64
1262 497    621
Name: amount_per_area, dtype: int64
1262 978    1486
Name: amount_per_area, dtype: int64
1262 16    111
Name: amount_per_area, dtype: int64
1262 497    621
Name: amount_per_area, dtype: int64
1262 978    1486
Name: amount_per_area, dtype: int64
846 17    195
Name: amount_per_area, dtype: int64
846 498    442
Name: amount_per_area, dtype: int64
846 979    1132
Name: amount_per_area, dtype: int64
846 17    195
Name: amount_per_area, dtype: int64
846 498    442
Name: amount_per_area, dtype: int64
846 979    1132
Name: amount_per_area, dtype: int64
0 18    0
Name: amount_per_area, dtype: int64
0 499    0
Name: amount_per_area, dtype: int64
0 980    0
Name: amount_per_area, dtype: int64
0 18    0
Name: amount_per_area, dtype: int64
0 499    0
Name: amount_per_area, dtype: int64
0 980    0
Name: amount_per_area, dtype: int64
1185 19    153
Name: amount_per_area, dtype: int64
1185 500    496
Name: amount_per_area, dtype: int64
1185 981    1257
Name: amount_per_area, dtype: int64
1185 19    153
Name: amount_per_area, dtype: int64
1185 500    496
Name: amount_per_area, dtype: int64
1185 981    1257
Name: amount_per_area, dtype: int64
1445 20    212
Name: amount_per_area, dtype: int64
1445 501    704
Name: amount_per_area, dtype: int64
1445 982    1431
Name: amount_per_area, dtype: int64
1445 20    212
Name: amount_per_area, dtype: int64
1445 501    704
Name: amount_per_area, dtype: int64
1445 982    1431
Name: amount_per_area, dtype: int64
587 21    114
Name: amount_per_area, dtype: int64
587 502    397
Name: amount_per_area, dtype: int64
587 983    907
Name: amount_per_area, dtype: int64
587 21    114
Name: amount_per_area, dtype: int64
587 502    397
Name: amount_per_area, dtype: int64
587 983    907
Name: amount_per_area, dtype: int64
0 22    0
Name: amount_per_area, dtype: int64
0 503    0
Name: amount_per_area, dtype: int64
0 984    0
Name: amount_per_area, dtype: int64
0 22    0
Name: amount_per_area, dtype: int64
0 503    0
Name: amount_per_area, dtype: int64
0 984    0
Name: amount_per_area, dtype: int64
1147 23    145
Name: amount_per_area, dtype: int64
1147 504    578
Name: amount_per_area, dtype: int64
1147 985    1341
Name: amount_per_area, dtype: int64
1147 23    145
Name: amount_per_area, dtype: int64
1147 504    578
Name: amount_per_area, dtype: int64
1147 985    1341
Name: amount_per_area, dtype: int64
354 24    86
Name: amount_per_area, dtype: int64
354 505    193
Name: amount_per_area, dtype: int64
354 986    436
Name: amount_per_area, dtype: int64
354 24    86
Name: amount_per_area, dtype: int64
354 505    193
Name: amount_per_area, dtype: int64
354 986    436
Name: amount_per_area, dtype: int64
0 25    0
Name: amount_per_area, dtype: int64
0 506    0
Name: amount_per_area, dtype: int64
0 987    0
Name: amount_per_area, dtype: int64
0 25    0
Name: amount_per_area, dtype: int64
0 506    0
Name: amount_per_area, dtype: int64
0 987    0
Name: amount_per_area, dtype: int64
922 26    192
Name: amount_per_area, dtype: int64
922 507    518
Name: amount_per_area, dtype: int64
922 988    1207
Name: amount_per_area, dtype: int64
922 26    192
Name: amount_per_area, dtype: int64
922 507    518
Name: amount_per_area, dtype: int64
922 988    1207
Name: amount_per_area, dtype: int64
2260 27    213
Name: amount_per_area, dtype: int64
2260 508    1063
Name: amount_per_area, dtype: int64
2260 989    2267
Name: amount_per_area, dtype: int64
2260 27    213
Name: amount_per_area, dtype: int64
2260 508    1063
Name: amount_per_area, dtype: int64
2260 989    2267
Name: amount_per_area, dtype: int64
2906 28    761
Name: amount_per_area, dtype: int64
2906 509    1427
Name: amount_per_area, dtype: int64
2906 990    2568
Name: amount_per_area, dtype: int64
2906 28    761
Name: amount_per_area, dtype: int64
2906 509    1427
Name: amount_per_area, dtype: int64
2906 990    2568
Name: amount_per_area, dtype: int64
1365 29    254
Name: amount_per_area, dtype: int64
1365 510    736
Name: amount_per_area, dtype: int64
1365 991    1547
Name: amount_per_area, dtype: int64
1365 29    254
Name: amount_per_area, dtype: int64
1365 510    736
Name: amount_per_area, dtype: int64
1365 991    1547
Name: amount_per_area, dtype: int64
1712 30    310
Name: amount_per_area, dtype: int64
1712 511    836
Name: amount_per_area, dtype: int64

1712 992    1950
Name: amount_per_area, dtype: int64
1712 30    310
Name: amount_per_area, dtype: int64
1712 511    836
Name: amount_per_area, dtype: int64
1712 992    1950
Name: amount_per_area, dtype: int64
2314 31    500
Name: amount_per_area, dtype: int64
2314 512    1230
Name: amount_per_area, dtype: int64
2314 993    2114
Name: amount_per_area, dtype: int64
2314 31    500
Name: amount_per_area, dtype: int64
2314 512    1230
Name: amount_per_area, dtype: int64
2314 993    2114
Name: amount_per_area, dtype: int64
767 32    176
Name: amount_per_area, dtype: int64
767 513    419
Name: amount_per_area, dtype: int64
767 994    771
Name: amount_per_area, dtype: int64
767 32    176
Name: amount_per_area, dtype: int64
767 513    419
Name: amount_per_area, dtype: int64
767 994    771
Name: amount_per_area, dtype: int64
1162 33    347
Name: amount_per_area, dtype: int64
1162 514    542
Name: amount_per_area, dtype: int64
1162 995    1279
Name: amount_per_area, dtype: int64
1162 33    347
Name: amount_per_area, dtype: int64
1162 514    542
Name: amount_per_area, dtype: int64
1162 995    1279
Name: amount_per_area, dtype: int64
1678 34    312
Name: amount_per_area, dtype: int64
1678 515    794
Name: amount_per_area, dtype: int64
1678 996    1729
Name: amount_per_area, dtype: int64
1678 34    312
Name: amount_per_area, dtype: int64
1678 515    794
Name: amount_per_area, dtype: int64
1678 996    1729
Name: amount_per_area, dtype: int64
2207 35    670
Name: amount_per_area, dtype: int64
2207 516    1262
Name: amount_per_area, dtype: int64
2207 997    2010
Name: amount_per_area, dtype: int64
2207 35    670
Name: amount_per_area, dtype: int64
2207 516    1262
Name: amount_per_area, dtype: int64
2207 997    2010
Name: amount_per_area, dtype: int64
2049 36    405
Name: amount_per_area, dtype: int64
2049 517    978
Name: amount_per_area, dtype: int64
2049 998    1989
Name: amount_per_area, dtype: int64
2049 36    405
Name: amount_per_area, dtype: int64
2049 517    978
Name: amount_per_area, dtype: int64
2049 998    1989
Name: amount_per_area, dtype: int64
0 37    0
Name: amount_per_area, dtype: int64
0 518    0
Name: amount_per_area, dtype: int64
0 999    0
Name: amount_per_area, dtype: int64
0 37    0
Name: amount_per_area, dtype: int64
0 518    0
Name: amount_per_area, dtype: int64
0 999    0
Name: amount_per_area, dtype: int64
0 38    0
Name: amount_per_area, dtype: int64
0 519    0
Name: amount_per_area, dtype: int64
0 1000    0
Name: amount_per_area, dtype: int64
0 38    0
Name: amount_per_area, dtype: int64
0 519    0
Name: amount_per_area, dtype: int64
0 1000    0
Name: amount_per_area, dtype: int64
2887 39    575
Name: amount_per_area, dtype: int64
2887 520    1341
Name: amount_per_area, dtype: int64
2887 1001    2873
Name: amount_per_area, dtype: int64
2887 39    575
Name: amount_per_area, dtype: int64
2887 520    1341
Name: amount_per_area, dtype: int64
2887 1001    2873
Name: amount_per_area, dtype: int64
2658 40    492
Name: amount_per_area, dtype: int64
2658 521    1251
Name: amount_per_area, dtype: int64
2658 1002    2681
Name: amount_per_area, dtype: int64
2658 40    492
Name: amount_per_area, dtype: int64
2658 521    1251
Name: amount_per_area, dtype: int64
2658 1002    2681
Name: amount_per_area, dtype: int64
2578 41    789
Name: amount_per_area, dtype: int64
2578 522    1484
Name: amount_per_area, dtype: int64
2578 1003    2365
Name: amount_per_area, dtype: int64
2578 41    789
Name: amount_per_area, dtype: int64
2578 522    1484
Name: amount_per_area, dtype: int64
2578 1003    2365
Name: amount_per_area, dtype: int64
0 42    0
Name: amount_per_area, dtype: int64
0 523    0
Name: amount_per_area, dtype: int64
0 1004    0
Name: amount_per_area, dtype: int64
0 42    0
Name: amount_per_area, dtype: int64
0 523    0
Name: amount_per_area, dtype: int64
0 1004    0
Name: amount_per_area, dtype: int64
0 43    0
Name: amount_per_area, dtype: int64
0 524    0
Name: amount_per_area, dtype: int64
0 1005    0
Name: amount_per_area, dtype: int64
0 43    0
Name: amount_per_area, dtype: int64
0 524    0
Name: amount_per_area, dtype: int64
0 1005    0
Name: amount_per_area, dtype: int64
2272 44    517
Name: amount_per_area, dtype: int64
2272 525    1152
Name: amount_per_area, dtype: int64
2272 1006    2304
Name: amount_per_area, dtype: int64
2272 44    517
Name: amount_per_area, dtype: int64
2272 525    1152
Name: amount_per_area, dtype: int64
2272 1006    2304
Name: amount_per_area, dtype: int64
0 45    0
Name: amount_per_area, dtype: int64
0 526    0
Name: amount_per_area, dtype: int64
0 1007    0
Name: amount_per_area, dtype: int64
0 45    0
Name: amount_per_area, dtype: int64
0 526    0
Name: amount_per_area, dtype: int64
0 1007    0
Name: amount_per_area, dtype: int64
0 46    0
Name: amount_per_area, dtype: int64
0 527    0
Name: amount_per_area, dtype: int64
0 1008    0
Name: amount_per_area, dtype: int64
0 46    0
Name: amount_per_area, dtype: int64
0 527    0
Name: amount_per_area, dtype: int64
0 1008    0
Name: amount_per_area, dtype: int64
0 47    0
Name: amount_per_area, dtype: int64
0 528    0
Name: amount_per_area, dtype: int64
0 1009    0
Name: amount_per_area, dtype: int64
0 47    0
Name: amount_per_area, dtype: int64
0 528    0
Name: amount_per_area, dtype: int64
0 1009    0
Name: amount_per_area, dtype: int64
2479 48    538
Name: amount_per_area, dtype: int64
2479 529    1038
Name: amount_per_area, dtype: int64
2479 1010    2268
Name: amount_per_area, dtype: int64
2479 48    538
Name: amount_per_area, dtype: int64
2479 529    1038
Name: amount_per_area, dtype: int64
2479 1010    2268
Name: amount_per_area, dtype: int64
2877 49    603
Name: amount_per_area, dtype: int64
2877 530    1390
Name: amount_per_area, dtype: int64
2877 1011    2687
Name: amount_per_area, dtype: int64
2877 49    603
Name: amount_per_area, dtype: int64
2877 530    1390
Name: amount_per_area, dtype: int64
2877 1011    2687
Name: amount_per_area, dtype: int64
0 50    0
Name: amount_per_area, dtype: int64
0 531    0
Name: amount_per_area, dtype: int64
0 1012    0
Name: amount_per_area, dtype: int64
0 50    0
Name: amount_per_area, dtype: int64
0 531    0
Name: amount_per_area, dtype: int64
0 1012    0
Name: amount_per_area, dtype: int64
0 51    0
Name: amount_per_area, dtype: int64
0 532    0
Name: amount_per_area, dtype: int64
0 1013    0
Name: amount_per_area, dtype: int64
0 51    0
Name: amount_per_area, dtype: int64
0 532    0
Name: amount_per_area, dtype: int64
0 1013    0
Name: amount_per_area, dtype: int64
1579 52    255
Name: amount_per_area, dtype: int64
1579 533    1019
Name: amount_per_area, dtype: int64
1579 1014    1910
Name: amount_per_area, dtype: int64
1579 52    255
Name: amount_per_area, dtype: int64
1579 533    1019
Name: amount_per_area, dtype: int64
1579 1014    1910
Name: amount_per_area, dtype: int64
0 53    0
Name: amount_per_area, dtype: int64
0 534    0
Name: amount_per_area, dtype: int64
0 1015    0
Name: amount_per_area, dtype: int64
0 53    0
Name: amount_per_area, dtype: int64
0 534    0
Name: amount_per_area, dtype: int64
0 1015    0
Name: amount_per_area, dtype: int64
2061 54    248
Name: amount_per_area, dtype: int64
2061 535    918
Name: amount_per_area, dtype: int64
2061 1016    2365
Name: amount_per_area, dtype: int64
2061 54    248
Name: amount_per_area, dtype: int64
2061 535    918
Name: amount_per_area, dtype: int64
2061 1016    2365
Name: amount_per_area, dtype: int64
1195 55    215
Name: amount_per_area, dtype: int64
1195 536    547
Name: amount_per_area, dtype: int64
1195 1017    1192
Name: amount_per_area, dtype: int64
1195 55    215
Name: amount_per_area, dtype: int64
1195 536    547
Name: amount_per_area, dtype: int64
1195 1017    1192
Name: amount_per_area, dtype: int64
2168 56    418
Name: amount_per_area, dtype: int64
2168 537    870
Name: amount_per_area, dtype: int64
2168 1018    2192
Name: amount_per_area, dtype: int64
2168 56    418
Name: amount_per_area, dtype: int64
2168 537    870
Name: amount_per_area, dtype: int64
2168 1018    2192
Name: amount_per_area, dtype: int64
703 57    131
Name: amount_per_area, dtype: int64
703 538    308
Name: amount_per_area, dtype: int64
703 1019    746
Name: amount_per_area, dtype: int64
703 57    131
Name: amount_per_area, dtype: int64
703 538    308
Name: amount_per_area, dtype: int64
703 1019    746
Name: amount_per_area, dtype: int64
1508 58    409
Name: amount_per_area, dtype: int64
1508 539    764
Name: amount_per_area, dtype: int64
1508 1020    1554
Name: amount_per_area, dtype: int64
1508 58    409
Name: amount_per_area, dtype: int64
1508 539    764
Name: amount_per_area, dtype: int64
1508 1020    1554
Name: amount_per_area, dtype: int64
1107 59    331
Name: amount_per_area, dtype: int64
1107 540    579
Name: amount_per_area, dtype: int64
1107 1021    1157
Name: amount_per_area, dtype: int64
1107 59    331
Name: amount_per_area, dtype: int64
1107 540    579
Name: amount_per_area, dtype: int64
1107 1021    1157
Name: amount_per_area, dtype: int64
584 60    115
Name: amount_per_area, dtype: int64
584 541    230
Name: amount_per_area, dtype: int64
584 1022    613
Name: amount_per_area, dtype: int64
584 60    115
Name: amount_per_area, dtype: int64
584 541    230
Name: amount_per_area, dtype: int64
584 1022    613
Name: amount_per_area, dtype: int64
0 61    0
Name: amount_per_area, dtype: int64
0 542    0
Name: amount_per_area, dtype: int64
0 1023    0
Name: amount_per_area, dtype: int64
0 61    0
Name: amount_per_area, dtype: int64
0 542    0
Name: amount_per_area, dtype: int64
0 1023    0
Name: amount_per_area, dtype: int64
61 62    0
Name: amount_per_area, dtype: int64
61 543    0
Name: amount_per_area, dtype: int64
61 1024    0
Name: amount_per_area, dtype: int64
61 62    0
Name: amount_per_area, dtype: int64
61 543    0
Name: amount_per_area, dtype: int64
61 1024    0
Name: amount_per_area, dtype: int64
1965 63    636
Name: amount_per_area, dtype: int64
1965 544    1172
Name: amount_per_area, dtype: int64
1965 1025    1540
Name: amount_per_area, dtype: int64
1965 63    636
Name: amount_per_area, dtype: int64
1965 544    1172
Name: amount_per_area, dtype: int64
1965 1025    1540
Name: amount_per_area, dtype: int64
1561 64    552
Name: amount_per_area, dtype: int64
1561 545    951
Name: amount_per_area, dtype: int64
1561 1026    1564
Name: amount_per_area, dtype: int64
1561 64    552
Name: amount_per_area, dtype: int64
1561 545    951
Name: amount_per_area, dtype: int64
1561 1026    1564
Name: amount_per_area, dtype: int64
708 65    325
Name: amount_per_area, dtype: int64
708 546    429
Name: amount_per_area, dtype: int64
708 1027    739
Name: amount_per_area, dtype: int64
708 65    325
Name: amount_per_area, dtype: int64
708 546    429
Name: amount_per_area, dtype: int64
708 1027    739
Name: amount_per_area, dtype: int64
1964 66    718
Name: amount_per_area, dtype: int64
1964 547    1196
Name: amount_per_area, dtype: int64
1964 1028    2072
Name: amount_per_area, dtype: int64
1964 66    718
Name: amount_per_area, dtype: int64
1964 547    1196
Name: amount_per_area, dtype: int64
1964 1028    2072
Name: amount_per_area, dtype: int64
1730 67    420
Name: amount_per_area, dtype: int64
1730 548    807
Name: amount_per_area, dtype: int64
1730 1029    2002
Name: amount_per_area, dtype: int64
1730 67    420
Name: amount_per_area, dtype: int64
1730 548    807
Name: amount_per_area, dtype: int64
1730 1029    2002
Name: amount_per_area, dtype: int64
1835 68    553
Name: amount_per_area, dtype: int64
1835 549    829
Name: amount_per_area, dtype: int64
1835 1030    1688
Name: amount_per_area, dtype: int64
1835 68    553
Name: amount_per_area, dtype: int64

1835 549    829
Name: amount_per_area, dtype: int64
1835 1030    1688
Name: amount_per_area, dtype: int64
1825 69    318
Name: amount_per_area, dtype: int64
1825 550    751
Name: amount_per_area, dtype: int64
1825 1031    1819
Name: amount_per_area, dtype: int64
1825 69    318
Name: amount_per_area, dtype: int64
1825 550    751
Name: amount_per_area, dtype: int64
1825 1031    1819
Name: amount_per_area, dtype: int64
2 70    0
Name: amount_per_area, dtype: int64
2 551    0
Name: amount_per_area, dtype: int64
2 1032    0
Name: amount_per_area, dtype: int64
2 70    0
Name: amount_per_area, dtype: int64
2 551    0
Name: amount_per_area, dtype: int64
2 1032    0
Name: amount_per_area, dtype: int64
1 71    0
Name: amount_per_area, dtype: int64
1 552    0
Name: amount_per_area, dtype: int64
1 1033    0
Name: amount_per_area, dtype: int64
1 71    0
Name: amount_per_area, dtype: int64
1 552    0
Name: amount_per_area, dtype: int64
1 1033    0
Name: amount_per_area, dtype: int64
0 72    0
Name: amount_per_area, dtype: int64
0 553    0
Name: amount_per_area, dtype: int64
0 1034    0
Name: amount_per_area, dtype: int64
0 72    0
Name: amount_per_area, dtype: int64
0 553    0
Name: amount_per_area, dtype: int64
0 1034    0
Name: amount_per_area, dtype: int64
1 73    0
Name: amount_per_area, dtype: int64
1 554    0
Name: amount_per_area, dtype: int64
1 1035    0
Name: amount_per_area, dtype: int64
1 73    0
Name: amount_per_area, dtype: int64
1 554    0
Name: amount_per_area, dtype: int64
1 1035    0
Name: amount_per_area, dtype: int64
2 74    0
Name: amount_per_area, dtype: int64
2 555    0
Name: amount_per_area, dtype: int64
2 1036    0
Name: amount_per_area, dtype: int64
2 74    0
Name: amount_per_area, dtype: int64
2 555    0
Name: amount_per_area, dtype: int64
2 1036    0
Name: amount_per_area, dtype: int64
2 75    0
Name: amount_per_area, dtype: int64
2 556    0
Name: amount_per_area, dtype: int64
2 1037    0
Name: amount_per_area, dtype: int64
2 75    0
Name: amount_per_area, dtype: int64
2 556    0
Name: amount_per_area, dtype: int64
2 1037    0
Name: amount_per_area, dtype: int64
0 76    0
Name: amount_per_area, dtype: int64
0 557    0
Name: amount_per_area, dtype: int64
0 1038    0
Name: amount_per_area, dtype: int64
0 76    0
Name: amount_per_area, dtype: int64
0 557    0
Name: amount_per_area, dtype: int64
0 1038    0
Name: amount_per_area, dtype: int64
2 77    0
Name: amount_per_area, dtype: int64
2 558    0
Name: amount_per_area, dtype: int64
2 1039    0
Name: amount_per_area, dtype: int64
2 77    0
Name: amount_per_area, dtype: int64
2 558    0
Name: amount_per_area, dtype: int64
2 1039    0
Name: amount_per_area, dtype: int64
529 78    33
Name: amount_per_area, dtype: int64
529 559    154
Name: amount_per_area, dtype: int64
529 1040    614
Name: amount_per_area, dtype: int64
529 78    33
Name: amount_per_area, dtype: int64
529 559    154
Name: amount_per_area, dtype: int64
529 1040    614
Name: amount_per_area, dtype: int64
0 79    0
Name: amount_per_area, dtype: int64
0 560    0
Name: amount_per_area, dtype: int64
0 1041    0
Name: amount_per_area, dtype: int64
0 79    0
Name: amount_per_area, dtype: int64
0 560    0
Name: amount_per_area, dtype: int64
0 1041    0
Name: amount_per_area, dtype: int64
1812 80    912
Name: amount_per_area, dtype: int64
1812 561    1071
Name: amount_per_area, dtype: int64
1812 1042    1982
Name: amount_per_area, dtype: int64
1812 80    912
Name: amount_per_area, dtype: int64
1812 561    1071
Name: amount_per_area, dtype: int64
1812 1042    1982
Name: amount_per_area, dtype: int64
2269 81    1298
Name: amount_per_area, dtype: int64
2269 562    1587
Name: amount_per_area, dtype: int64
2269 1043    1971
Name: amount_per_area, dtype: int64
2269 81    1298
Name: amount_per_area, dtype: int64
2269 562    1587
Name: amount_per_area, dtype: int64
2269 1043    1971
Name: amount_per_area, dtype: int64
0 82    0
Name: amount_per_area, dtype: int64
0 563    0
Name: amount_per_area, dtype: int64
0 1044    0
Name: amount_per_area, dtype: int64
0 82    0
Name: amount_per_area, dtype: int64
0 563    0
Name: amount_per_area, dtype: int64
0 1044    0
Name: amount_per_area, dtype: int64
2132 83    688
Name: amount_per_area, dtype: int64
2132 564    994
Name: amount_per_area, dtype: int64
2132 1045    2140
Name: amount_per_area, dtype: int64
2132 83    688
Name: amount_per_area, dtype: int64
2132 564    994
Name: amount_per_area, dtype: int64
2132 1045    2140
Name: amount_per_area, dtype: int64
2056 84    863
Name: amount_per_area, dtype: int64
2056 565    1099
Name: amount_per_area, dtype: int64
2056 1046    1962
Name: amount_per_area, dtype: int64
2056 84    863
Name: amount_per_area, dtype: int64
2056 565    1099
Name: amount_per_area, dtype: int64
2056 1046    1962
Name: amount_per_area, dtype: int64
1373 85    720
Name: amount_per_area, dtype: int64
1373 566    777
Name: amount_per_area, dtype: int64
1373 1047    1382
Name: amount_per_area, dtype: int64
1373 85    720
Name: amount_per_area, dtype: int64
1373 566    777
Name: amount_per_area, dtype: int64
1373 1047    1382
Name: amount_per_area, dtype: int64
0 86    0
Name: amount_per_area, dtype: int64
0 567    0
Name: amount_per_area, dtype: int64
0 1048    0
Name: amount_per_area, dtype: int64
0 86    0
Name: amount_per_area, dtype: int64
0 567    0
Name: amount_per_area, dtype: int64
0 1048    0
Name: amount_per_area, dtype: int64
2 87    0
Name: amount_per_area, dtype: int64
2 568    0
Name: amount_per_area, dtype: int64
2 1049    0
Name: amount_per_area, dtype: int64
2 87    0
Name: amount_per_area, dtype: int64
2 568    0
Name: amount_per_area, dtype: int64
2 1049    0
Name: amount_per_area, dtype: int64
2056 88    611
Name: amount_per_area, dtype: int64
2056 569    1030
Name: amount_per_area, dtype: int64
2056 1050    2174
Name: amount_per_area, dtype: int64
2056 88    611
Name: amount_per_area, dtype: int64
2056 569    1030
Name: amount_per_area, dtype: int64
2056 1050    2174
Name: amount_per_area, dtype: int64
0 89    0
Name: amount_per_area, dtype: int64
0 570    0
Name: amount_per_area, dtype: int64
0 1051    0
Name: amount_per_area, dtype: int64
0 89    0
Name: amount_per_area, dtype: int64
0 570    0
Name: amount_per_area, dtype: int64
0 1051    0
Name: amount_per_area, dtype: int64
1680 90    994
Name: amount_per_area, dtype: int64
1680 571    1030
Name: amount_per_area, dtype: int64
1680 1052    1527
Name: amount_per_area, dtype: int64
1680 90    994
Name: amount_per_area, dtype: int64
1680 571    1030
Name: amount_per_area, dtype: int64
1680 1052    1527
Name: amount_per_area, dtype: int64
3019 91    1116
Name: amount_per_area, dtype: int64
3019 572    1736
Name: amount_per_area, dtype: int64
3019 1053    3347
Name: amount_per_area, dtype: int64
3019 91    1116
Name: amount_per_area, dtype: int64
3019 572    1736
Name: amount_per_area, dtype: int64
3019 1053    3347
Name: amount_per_area, dtype: int64
2575 92    808
Name: amount_per_area, dtype: int64
2575 573    1363
Name: amount_per_area, dtype: int64
2575 1054    2878
Name: amount_per_area, dtype: int64
2575 92    808
Name: amount_per_area, dtype: int64
2575 573    1363
Name: amount_per_area, dtype: int64
2575 1054    2878
Name: amount_per_area, dtype: int64
2642 93    805
Name: amount_per_area, dtype: int64
2642 574    1137
Name: amount_per_area, dtype: int64
2642 1055    2794
Name: amount_per_area, dtype: int64
2642 93    805
Name: amount_per_area, dtype: int64
2642 574    1137
Name: amount_per_area, dtype: int64
2642 1055    2794
Name: amount_per_area, dtype: int64
2155 94    709
Name: amount_per_area, dtype: int64
2155 575    1119
Name: amount_per_area, dtype: int64
2155 1056    1901
Name: amount_per_area, dtype: int64
2155 94    709
Name: amount_per_area, dtype: int64
2155 575    1119
Name: amount_per_area, dtype: int64
2155 1056    1901
Name: amount_per_area, dtype: int64
7 95    0
Name: amount_per_area, dtype: int64
7 576    0
Name: amount_per_area, dtype: int64
7 1057    0
Name: amount_per_area, dtype: int64
7 95    0
Name: amount_per_area, dtype: int64
7 576    0
Name: amount_per_area, dtype: int64
7 1057    0
Name: amount_per_area, dtype: int64
71 96    0
Name: amount_per_area, dtype: int64
71 577    0
Name: amount_per_area, dtype: int64
71 1058    0
Name: amount_per_area, dtype: int64
71 96    0
Name: amount_per_area, dtype: int64
71 577    0
Name: amount_per_area, dtype: int64
71 1058    0
Name: amount_per_area, dtype: int64
1503 97    598
Name: amount_per_area, dtype: int64
1503 578    818
Name: amount_per_area, dtype: int64
1503 1059    1730
Name: amount_per_area, dtype: int64
1503 97    598
Name: amount_per_area, dtype: int64
1503 578    818
Name: amount_per_area, dtype: int64
1503 1059    1730
Name: amount_per_area, dtype: int64
2026 98    549
Name: amount_per_area, dtype: int64
2026 579    878
Name: amount_per_area, dtype: int64
2026 1060    2231
Name: amount_per_area, dtype: int64
2026 98    549
Name: amount_per_area, dtype: int64
2026 579    878
Name: amount_per_area, dtype: int64
2026 1060    2231
Name: amount_per_area, dtype: int64
2632 99    851
Name: amount_per_area, dtype: int64
2632 580    1351
Name: amount_per_area, dtype: int64
2632 1061    2802
Name: amount_per_area, dtype: int64
2632 99    851
Name: amount_per_area, dtype: int64
2632 580    1351
Name: amount_per_area, dtype: int64
2632 1061    2802
Name: amount_per_area, dtype: int64
2032 100    471
Name: amount_per_area, dtype: int64
2032 581    1041
Name: amount_per_area, dtype: int64
2032 1062    1847
Name: amount_per_area, dtype: int64
2032 100    471
Name: amount_per_area, dtype: int64
2032 581    1041
Name: amount_per_area, dtype: int64
2032 1062    1847
Name: amount_per_area, dtype: int64
2149 101    445
Name: amount_per_area, dtype: int64
2149 582    889
Name: amount_per_area, dtype: int64
2149 1063    2371
Name: amount_per_area, dtype: int64
2149 101    445
Name: amount_per_area, dtype: int64
2149 582    889
Name: amount_per_area, dtype: int64
2149 1063    2371
Name: amount_per_area, dtype: int64
2707 102    1132
Name: amount_per_area, dtype: int64
2707 583    1280
Name: amount_per_area, dtype: int64
2707 1064    2510
Name: amount_per_area, dtype: int64
2707 102    1132
Name: amount_per_area, dtype: int64
2707 583    1280
Name: amount_per_area, dtype: int64
2707 1064    2510
Name: amount_per_area, dtype: int64
2237 103    548
Name: amount_per_area, dtype: int64
2237 584    1096
Name: amount_per_area, dtype: int64
2237 1065    2570
Name: amount_per_area, dtype: int64
2237 103    548
Name: amount_per_area, dtype: int64
2237 584    1096
Name: amount_per_area, dtype: int64
2237 1065    2570
Name: amount_per_area, dtype: int64
2883 104    539
Name: amount_per_area, dtype: int64
2883 585    1455
Name: amount_per_area, dtype: int64
2883 1066    3395
Name: amount_per_area, dtype: int64
2883 104    539
Name: amount_per_area, dtype: int64
2883 585    1455
Name: amount_per_area, dtype: int64
2883 1066    3395
Name: amount_per_area, dtype: int64

1781 105    1407
Name: amount_per_area, dtype: int64
1781 586    1320
Name: amount_per_area, dtype: int64
1781 1067    1671
Name: amount_per_area, dtype: int64
1781 105    1407
Name: amount_per_area, dtype: int64
1781 586    1320
Name: amount_per_area, dtype: int64
1781 1067    1671
Name: amount_per_area, dtype: int64
2567 106    930
Name: amount_per_area, dtype: int64
2567 587    1343
Name: amount_per_area, dtype: int64
2567 1068    2841
Name: amount_per_area, dtype: int64
2567 106    930
Name: amount_per_area, dtype: int64
2567 587    1343
Name: amount_per_area, dtype: int64
2567 1068    2841
Name: amount_per_area, dtype: int64
2679 107    354
Name: amount_per_area, dtype: int64
2679 588    1061
Name: amount_per_area, dtype: int64
2679 1069    3006
Name: amount_per_area, dtype: int64
2679 107    354
Name: amount_per_area, dtype: int64
2679 588    1061
Name: amount_per_area, dtype: int64
2679 1069    3006
Name: amount_per_area, dtype: int64
1577 108    373
Name: amount_per_area, dtype: int64
1577 589    665
Name: amount_per_area, dtype: int64
1577 1070    1622
Name: amount_per_area, dtype: int64
1577 108    373
Name: amount_per_area, dtype: int64
1577 589    665
Name: amount_per_area, dtype: int64
1577 1070    1622
Name: amount_per_area, dtype: int64
3519 109    534
Name: amount_per_area, dtype: int64
3519 590    1306
Name: amount_per_area, dtype: int64
3519 1071    4094
Name: amount_per_area, dtype: int64
3519 109    534
Name: amount_per_area, dtype: int64
3519 590    1306
Name: amount_per_area, dtype: int64
3519 1071    4094
Name: amount_per_area, dtype: int64
2886 110    453
Name: amount_per_area, dtype: int64
2886 591    1157
Name: amount_per_area, dtype: int64
2886 1072    3369
Name: amount_per_area, dtype: int64
2886 110    453
Name: amount_per_area, dtype: int64
2886 591    1157
Name: amount_per_area, dtype: int64
2886 1072    3369
Name: amount_per_area, dtype: int64
2348 111    378
Name: amount_per_area, dtype: int64
2348 592    906
Name: amount_per_area, dtype: int64
2348 1073    2492
Name: amount_per_area, dtype: int64
2348 111    378
Name: amount_per_area, dtype: int64
2348 592    906
Name: amount_per_area, dtype: int64
2348 1073    2492
Name: amount_per_area, dtype: int64
666 112    195
Name: amount_per_area, dtype: int64
666 593    337
Name: amount_per_area, dtype: int64
666 1074    765
Name: amount_per_area, dtype: int64
666 112    195
Name: amount_per_area, dtype: int64
666 593    337
Name: amount_per_area, dtype: int64
666 1074    765
Name: amount_per_area, dtype: int64
1023 113    275
Name: amount_per_area, dtype: int64
1023 594    464
Name: amount_per_area, dtype: int64
1023 1075    979
Name: amount_per_area, dtype: int64
1023 113    275
Name: amount_per_area, dtype: int64
1023 594    464
Name: amount_per_area, dtype: int64
1023 1075    979
Name: amount_per_area, dtype: int64
101 114    7
Name: amount_per_area, dtype: int64
101 595    28
Name: amount_per_area, dtype: int64
101 1076    120
Name: amount_per_area, dtype: int64
101 114    7
Name: amount_per_area, dtype: int64
101 595    28
Name: amount_per_area, dtype: int64
101 1076    120
Name: amount_per_area, dtype: int64
8 115    0
Name: amount_per_area, dtype: int64
8 596    0
Name: amount_per_area, dtype: int64
8 1077    0
Name: amount_per_area, dtype: int64
8 115    0
Name: amount_per_area, dtype: int64
8 596    0
Name: amount_per_area, dtype: int64
8 1077    0
Name: amount_per_area, dtype: int64
432 116    80
Name: amount_per_area, dtype: int64
432 597    178
Name: amount_per_area, dtype: int64
432 1078    622
Name: amount_per_area, dtype: int64
432 116    80
Name: amount_per_area, dtype: int64
432 597    178
Name: amount_per_area, dtype: int64
432 1078    622
Name: amount_per_area, dtype: int64
905 117    911
Name: amount_per_area, dtype: int64
905 598    881
Name: amount_per_area, dtype: int64
905 1079    1146
Name: amount_per_area, dtype: int64
905 117    911
Name: amount_per_area, dtype: int64
905 598    881
Name: amount_per_area, dtype: int64
905 1079    1146
Name: amount_per_area, dtype: int64
1647 118    753
Name: amount_per_area, dtype: int64
1647 599    890
Name: amount_per_area, dtype: int64
1647 1080    1746
Name: amount_per_area, dtype: int64
1647 118    753
Name: amount_per_area, dtype: int64
1647 599    890
Name: amount_per_area, dtype: int64
1647 1080    1746
Name: amount_per_area, dtype: int64
1907 119    852
Name: amount_per_area, dtype: int64
1907 600    1015
Name: amount_per_area, dtype: int64
1907 1081    2191
Name: amount_per_area, dtype: int64
1907 119    852
Name: amount_per_area, dtype: int64
1907 600    1015
Name: amount_per_area, dtype: int64
1907 1081    2191
Name: amount_per_area, dtype: int64
1552 120    1038
Name: amount_per_area, dtype: int64
1552 601    1115
Name: amount_per_area, dtype: int64
1552 1082    1691
Name: amount_per_area, dtype: int64
1552 120    1038
Name: amount_per_area, dtype: int64
1552 601    1115
Name: amount_per_area, dtype: int64
1552 1082    1691
Name: amount_per_area, dtype: int64
1596 121    1146
Name: amount_per_area, dtype: int64
1596 602    1231
Name: amount_per_area, dtype: int64
1596 1083    1909
Name: amount_per_area, dtype: int64
1596 121    1146
Name: amount_per_area, dtype: int64
1596 602    1231
Name: amount_per_area, dtype: int64
1596 1083    1909
Name: amount_per_area, dtype: int64
1231 122    361
Name: amount_per_area, dtype: int64
1231 603    577
Name: amount_per_area, dtype: int64
1231 1084    1467
Name: amount_per_area, dtype: int64
1231 122    361
Name: amount_per_area, dtype: int64
1231 603    577
Name: amount_per_area, dtype: int64
1231 1084    1467
Name: amount_per_area, dtype: int64
2281 123    935
Name: amount_per_area, dtype: int64
2281 604    1215
Name: amount_per_area, dtype: int64
2281 1085    2477
Name: amount_per_area, dtype: int64
2281 123    935
Name: amount_per_area, dtype: int64
2281 604    1215
Name: amount_per_area, dtype: int64
2281 1085    2477
Name: amount_per_area, dtype: int64
1056 124    566
Name: amount_per_area, dtype: int64
1056 605    900
Name: amount_per_area, dtype: int64
1056 1086    1105
Name: amount_per_area, dtype: int64
1056 124    566
Name: amount_per_area, dtype: int64
1056 605    900
Name: amount_per_area, dtype: int64
1056 1086    1105
Name: amount_per_area, dtype: int64
916 125    436
Name: amount_per_area, dtype: int64
916 606    821
Name: amount_per_area, dtype: int64
916 1087    1308
Name: amount_per_area, dtype: int64
916 125    436
Name: amount_per_area, dtype: int64
916 606    821
Name: amount_per_area, dtype: int64
916 1087    1308
Name: amount_per_area, dtype: int64
914 126    978
Name: amount_per_area, dtype: int64
914 607    856
Name: amount_per_area, dtype: int64
914 1088    1223
Name: amount_per_area, dtype: int64
914 126    978
Name: amount_per_area, dtype: int64
914 607    856
Name: amount_per_area, dtype: int64
914 1088    1223
Name: amount_per_area, dtype: int64
267 127    1102
Name: amount_per_area, dtype: int64
267 608    706
Name: amount_per_area, dtype: int64
267 1089    397
Name: amount_per_area, dtype: int64
267 127    1102
Name: amount_per_area, dtype: int64
267 608    706
Name: amount_per_area, dtype: int64
267 1089    397
Name: amount_per_area, dtype: int64
2211 128    255
Name: amount_per_area, dtype: int64
2211 609    765
Name: amount_per_area, dtype: int64
2211 1090    2622
Name: amount_per_area, dtype: int64
2211 128    255
Name: amount_per_area, dtype: int64
2211 609    765
Name: amount_per_area, dtype: int64
2211 1090    2622
Name: amount_per_area, dtype: int64
2693 129    541
Name: amount_per_area, dtype: int64
2693 610    1126
Name: amount_per_area, dtype: int64
2693 1091    2837
Name: amount_per_area, dtype: int64
2693 129    541
Name: amount_per_area, dtype: int64
2693 610    1126
Name: amount_per_area, dtype: int64
2693 1091    2837
Name: amount_per_area, dtype: int64
2303 130    977
Name: amount_per_area, dtype: int64
2303 611    1349
Name: amount_per_area, dtype: int64
2303 1092    2326
Name: amount_per_area, dtype: int64
2303 130    977
Name: amount_per_area, dtype: int64
2303 611    1349
Name: amount_per_area, dtype: int64
2303 1092    2326
Name: amount_per_area, dtype: int64
2194 131    1036
Name: amount_per_area, dtype: int64
2194 612    1413
Name: amount_per_area, dtype: int64
2194 1093    2260
Name: amount_per_area, dtype: int64
2194 131    1036
Name: amount_per_area, dtype: int64
2194 612    1413
Name: amount_per_area, dtype: int64
2194 1093    2260
Name: amount_per_area, dtype: int64
1958 132    1348
Name: amount_per_area, dtype: int64
1958 613    1448
Name: amount_per_area, dtype: int64
1958 1094    2197
Name: amount_per_area, dtype: int64
1958 132    1348
Name: amount_per_area, dtype: int64
1958 613    1448
Name: amount_per_area, dtype: int64
1958 1094    2197
Name: amount_per_area, dtype: int64
0 133    0
Name: amount_per_area, dtype: int64
0 614    0
Name: amount_per_area, dtype: int64
0 1095    0
Name: amount_per_area, dtype: int64
0 133    0
Name: amount_per_area, dtype: int64
0 614    0
Name: amount_per_area, dtype: int64
0 1095    0
Name: amount_per_area, dtype: int64
541 134    2247
Name: amount_per_area, dtype: int64
541 615    1053
Name: amount_per_area, dtype: int64
541 1096    211
Name: amount_per_area, dtype: int64
541 134    2247
Name: amount_per_area, dtype: int64
541 615    1053
Name: amount_per_area, dtype: int64
541 1096    211
Name: amount_per_area, dtype: int64
1969 135    1099
Name: amount_per_area, dtype: int64
1969 616    1282
Name: amount_per_area, dtype: int64
1969 1097    2198
Name: amount_per_area, dtype: int64
1969 135    1099
Name: amount_per_area, dtype: int64
1969 616    1282
Name: amount_per_area, dtype: int64
1969 1097    2198
Name: amount_per_area, dtype: int64
1753 136    1124
Name: amount_per_area, dtype: int64
1753 617    1208
Name: amount_per_area, dtype: int64
1753 1098    1832
Name: amount_per_area, dtype: int64
1753 136    1124
Name: amount_per_area, dtype: int64
1753 617    1208
Name: amount_per_area, dtype: int64
1753 1098    1832
Name: amount_per_area, dtype: int64
2813 137    1108
Name: amount_per_area, dtype: int64
2813 618    1218
Name: amount_per_area, dtype: int64
2813 1099    3211
Name: amount_per_area, dtype: int64
2813 137    1108
Name: amount_per_area, dtype: int64
2813 618    1218
Name: amount_per_area, dtype: int64
2813 1099    3211
Name: amount_per_area, dtype: int64
2155 138    713
Name: amount_per_area, dtype: int64
2155 619    1090
Name: amount_per_area, dtype: int64
2155 1100    2390
Name: amount_per_area, dtype: int64
2155 138    713
Name: amount_per_area, dtype: int64
2155 619    1090
Name: amount_per_area, dtype: int64
2155 1100    2390
Name: amount_per_area, dtype: int64
2407 139    521
Name: amount_per_area, dtype: int64
2407 620    998
Name: amount_per_area, dtype: int64
2407 1101    2775
Name: amount_per_area, dtype: int64
2407 139    521
Name: amount_per_area, dtype: int64
2407 620    998
Name: amount_per_area, dtype: int64
2407 1101    2775
Name: amount_per_area, dtype: int64
1983 140    388
Name: amount_per_area, dtype: int64
1983 621    808
Name: amount_per_area, dtype: int64
1983 1102    2002
Name: amount_per_area, dtype: int64
1983 140    388
Name: amount_per_area, dtype: int64
1983 621    808
Name: amount_per_area, dtype: int64
1983 1102    2002
Name: amount_per_area, dtype: int64
2175 141    767
Name: amount_per_area, dtype: int64
2175 622    1050
Name: amount_per_area, dtype: int64
2175 1103    2179
Name: amount_per_area, dtype: int64
2175 141    767
Name: amount_per_area, dtype: int64
2175 622    1050
Name: amount_per_area, dtype: int64

2175 1103    2179
Name: amount_per_area, dtype: int64
0 142    0
Name: amount_per_area, dtype: int64
0 623    0
Name: amount_per_area, dtype: int64
0 1104    0
Name: amount_per_area, dtype: int64
0 142    0
Name: amount_per_area, dtype: int64
0 623    0
Name: amount_per_area, dtype: int64
0 1104    0
Name: amount_per_area, dtype: int64
1747 143    1254
Name: amount_per_area, dtype: int64
1747 624    1299
Name: amount_per_area, dtype: int64
1747 1105    1926
Name: amount_per_area, dtype: int64
1747 143    1254
Name: amount_per_area, dtype: int64
1747 624    1299
Name: amount_per_area, dtype: int64
1747 1105    1926
Name: amount_per_area, dtype: int64
0 144    0
Name: amount_per_area, dtype: int64
0 625    0
Name: amount_per_area, dtype: int64
0 1106    0
Name: amount_per_area, dtype: int64
0 144    0
Name: amount_per_area, dtype: int64
0 625    0
Name: amount_per_area, dtype: int64
0 1106    0
Name: amount_per_area, dtype: int64
1 145    0
Name: amount_per_area, dtype: int64
1 626    0
Name: amount_per_area, dtype: int64
1 1107    0
Name: amount_per_area, dtype: int64
1 145    0
Name: amount_per_area, dtype: int64
1 626    0
Name: amount_per_area, dtype: int64
1 1107    0
Name: amount_per_area, dtype: int64
0 146    0
Name: amount_per_area, dtype: int64
0 627    0
Name: amount_per_area, dtype: int64
0 1108    0
Name: amount_per_area, dtype: int64
0 146    0
Name: amount_per_area, dtype: int64
0 627    0
Name: amount_per_area, dtype: int64
0 1108    0
Name: amount_per_area, dtype: int64
2 147    0
Name: amount_per_area, dtype: int64
2 628    0
Name: amount_per_area, dtype: int64
2 1109    0
Name: amount_per_area, dtype: int64
2 147    0
Name: amount_per_area, dtype: int64
2 628    0
Name: amount_per_area, dtype: int64
2 1109    0
Name: amount_per_area, dtype: int64
4 148    0
Name: amount_per_area, dtype: int64
4 629    0
Name: amount_per_area, dtype: int64
4 1110    0
Name: amount_per_area, dtype: int64
4 148    0
Name: amount_per_area, dtype: int64
4 629    0
Name: amount_per_area, dtype: int64
4 1110    0
Name: amount_per_area, dtype: int64
32 149    15
Name: amount_per_area, dtype: int64
32 630    69
Name: amount_per_area, dtype: int64
32 1111    66
Name: amount_per_area, dtype: int64
32 149    15
Name: amount_per_area, dtype: int64
32 630    69
Name: amount_per_area, dtype: int64
32 1111    66
Name: amount_per_area, dtype: int64
0 150    0
Name: amount_per_area, dtype: int64
0 631    0
Name: amount_per_area, dtype: int64
0 1112    0
Name: amount_per_area, dtype: int64
0 150    0
Name: amount_per_area, dtype: int64
0 631    0
Name: amount_per_area, dtype: int64
0 1112    0
Name: amount_per_area, dtype: int64
0 151    0
Name: amount_per_area, dtype: int64
0 632    0
Name: amount_per_area, dtype: int64
0 1113    0
Name: amount_per_area, dtype: int64
0 151    0
Name: amount_per_area, dtype: int64
0 632    0
Name: amount_per_area, dtype: int64
0 1113    0
Name: amount_per_area, dtype: int64
428 152    652
Name: amount_per_area, dtype: int64
428 633    557
Name: amount_per_area, dtype: int64
428 1114    382
Name: amount_per_area, dtype: int64
428 152    652
Name: amount_per_area, dtype: int64
428 633    557
Name: amount_per_area, dtype: int64
428 1114    382
Name: amount_per_area, dtype: int64
334 153    883
Name: amount_per_area, dtype: int64
334 634    687
Name: amount_per_area, dtype: int64
334 1115    393
Name: amount_per_area, dtype: int64
334 153    883
Name: amount_per_area, dtype: int64
334 634    687
Name: amount_per_area, dtype: int64
334 1115    393
Name: amount_per_area, dtype: int64
396 154    572
Name: amount_per_area, dtype: int64
396 635    558
Name: amount_per_area, dtype: int64
396 1116    338
Name: amount_per_area, dtype: int64
396 154    572
Name: amount_per_area, dtype: int64
396 635    558
Name: amount_per_area, dtype: int64
396 1116    338
Name: amount_per_area, dtype: int64
694 155    419
Name: amount_per_area, dtype: int64
694 636    548
Name: amount_per_area, dtype: int64
694 1117    644
Name: amount_per_area, dtype: int64
694 155    419
Name: amount_per_area, dtype: int64
694 636    548
Name: amount_per_area, dtype: int64
694 1117    644
Name: amount_per_area, dtype: int64
487 156    744
Name: amount_per_area, dtype: int64
487 637    706
Name: amount_per_area, dtype: int64
487 1118    409
Name: amount_per_area, dtype: int64
487 156    744
Name: amount_per_area, dtype: int64
487 637    706
Name: amount_per_area, dtype: int64
487 1118    409
Name: amount_per_area, dtype: int64
344 157    1486
Name: amount_per_area, dtype: int64
344 638    1049
Name: amount_per_area, dtype: int64
344 1119    379
Name: amount_per_area, dtype: int64
344 157    1486
Name: amount_per_area, dtype: int64
344 638    1049
Name: amount_per_area, dtype: int64
344 1119    379
Name: amount_per_area, dtype: int64
3 158    0
Name: amount_per_area, dtype: int64
3 639    0
Name: amount_per_area, dtype: int64
3 1120    0
Name: amount_per_area, dtype: int64
3 158    0
Name: amount_per_area, dtype: int64
3 639    0
Name: amount_per_area, dtype: int64
3 1120    0
Name: amount_per_area, dtype: int64
503 159    963
Name: amount_per_area, dtype: int64
503 640    722
Name: amount_per_area, dtype: int64
503 1121    503
Name: amount_per_area, dtype: int64
503 159    963
Name: amount_per_area, dtype: int64
503 640    722
Name: amount_per_area, dtype: int64
503 1121    503
Name: amount_per_area, dtype: int64
455 160    929
Name: amount_per_area, dtype: int64
455 641    788
Name: amount_per_area, dtype: int64
455 1122    303
Name: amount_per_area, dtype: int64
455 160    929
Name: amount_per_area, dtype: int64
455 641    788
Name: amount_per_area, dtype: int64
455 1122    303
Name: amount_per_area, dtype: int64
479 161    638
Name: amount_per_area, dtype: int64
479 642    707
Name: amount_per_area, dtype: int64
479 1123    397
Name: amount_per_area, dtype: int64
479 161    638
Name: amount_per_area, dtype: int64
479 642    707
Name: amount_per_area, dtype: int64
479 1123    397
Name: amount_per_area, dtype: int64
507 162    1089
Name: amount_per_area, dtype: int64
507 643    1118
Name: amount_per_area, dtype: int64
507 1124    659
Name: amount_per_area, dtype: int64
507 162    1089
Name: amount_per_area, dtype: int64
507 643    1118
Name: amount_per_area, dtype: int64
507 1124    659
Name: amount_per_area, dtype: int64
515 163    1138
Name: amount_per_area, dtype: int64
515 644    1009
Name: amount_per_area, dtype: int64
515 1125    440
Name: amount_per_area, dtype: int64
515 163    1138
Name: amount_per_area, dtype: int64
515 644    1009
Name: amount_per_area, dtype: int64
515 1125    440
Name: amount_per_area, dtype: int64
146 164    188
Name: amount_per_area, dtype: int64
146 645    136
Name: amount_per_area, dtype: int64
146 1126    114
Name: amount_per_area, dtype: int64
146 164    188
Name: amount_per_area, dtype: int64
146 645    136
Name: amount_per_area, dtype: int64
146 1126    114
Name: amount_per_area, dtype: int64
2 165    0
Name: amount_per_area, dtype: int64
2 646    0
Name: amount_per_area, dtype: int64
2 1127    0
Name: amount_per_area, dtype: int64
2 165    0
Name: amount_per_area, dtype: int64
2 646    0
Name: amount_per_area, dtype: int64
2 1127    0
Name: amount_per_area, dtype: int64
583 166    449
Name: amount_per_area, dtype: int64
583 647    622
Name: amount_per_area, dtype: int64
583 1128    376
Name: amount_per_area, dtype: int64
583 166    449
Name: amount_per_area, dtype: int64
583 647    622
Name: amount_per_area, dtype: int64
583 1128    376
Name: amount_per_area, dtype: int64
1 167    0
Name: amount_per_area, dtype: int64
1 648    0
Name: amount_per_area, dtype: int64
1 1129    0
Name: amount_per_area, dtype: int64
1 167    0
Name: amount_per_area, dtype: int64
1 648    0
Name: amount_per_area, dtype: int64
1 1129    0
Name: amount_per_area, dtype: int64
42 168    22
Name: amount_per_area, dtype: int64
42 649    21
Name: amount_per_area, dtype: int64
42 1130    16
Name: amount_per_area, dtype: int64
42 168    22
Name: amount_per_area, dtype: int64
42 649    21
Name: amount_per_area, dtype: int64
42 1130    16
Name: amount_per_area, dtype: int64
5 169    2
Name: amount_per_area, dtype: int64
5 650    3
Name: amount_per_area, dtype: int64
5 1131    2
Name: amount_per_area, dtype: int64
5 169    2
Name: amount_per_area, dtype: int64
5 650    3
Name: amount_per_area, dtype: int64
5 1131    2
Name: amount_per_area, dtype: int64
716 170    1361
Name: amount_per_area, dtype: int64
716 651    1007
Name: amount_per_area, dtype: int64
716 1132    327
Name: amount_per_area, dtype: int64
716 170    1361
Name: amount_per_area, dtype: int64
716 651    1007
Name: amount_per_area, dtype: int64
716 1132    327
Name: amount_per_area, dtype: int64
978 171    699
Name: amount_per_area, dtype: int64
978 652    958
Name: amount_per_area, dtype: int64
978 1133    958
Name: amount_per_area, dtype: int64
978 171    699
Name: amount_per_area, dtype: int64
978 652    958
Name: amount_per_area, dtype: int64
978 1133    958
Name: amount_per_area, dtype: int64
473 172    602
Name: amount_per_area, dtype: int64
473 653    654
Name: amount_per_area, dtype: int64
473 1134    447
Name: amount_per_area, dtype: int64
473 172    602
Name: amount_per_area, dtype: int64
473 653    654
Name: amount_per_area, dtype: int64
473 1134    447
Name: amount_per_area, dtype: int64
314 173    302
Name: amount_per_area, dtype: int64
314 654    311
Name: amount_per_area, dtype: int64
314 1135    204
Name: amount_per_area, dtype: int64
314 173    302
Name: amount_per_area, dtype: int64
314 654    311
Name: amount_per_area, dtype: int64
314 1135    204
Name: amount_per_area, dtype: int64
708 174    401
Name: amount_per_area, dtype: int64
708 655    615
Name: amount_per_area, dtype: int64
708 1136    415
Name: amount_per_area, dtype: int64
708 174    401
Name: amount_per_area, dtype: int64
708 655    615
Name: amount_per_area, dtype: int64
708 1136    415
Name: amount_per_area, dtype: int64
470 175    1081
Name: amount_per_area, dtype: int64
470 656    940
Name: amount_per_area, dtype: int64
470 1137    353
Name: amount_per_area, dtype: int64
470 175    1081
Name: amount_per_area, dtype: int64
470 656    940
Name: amount_per_area, dtype: int64
470 1137    353
Name: amount_per_area, dtype: int64
525 176    1028
Name: amount_per_area, dtype: int64
525 657    977
Name: amount_per_area, dtype: int64
525 1138    566
Name: amount_per_area, dtype: int64
525 176    1028
Name: amount_per_area, dtype: int64
525 657    977
Name: amount_per_area, dtype: int64
525 1138    566
Name: amount_per_area, dtype: int64
464 177    885
Name: amount_per_area, dtype: int64
464 658    1005
Name: amount_per_area, dtype: int64
464 1139    503
Name: amount_per_area, dtype: int64
464 177    885
Name: amount_per_area, dtype: int64
464 658    1005
Name: amount_per_area, dtype: int64
464 1139    503
Name: amount_per_area, dtype: int64
728 178    992
Name: amount_per_area, dtype: int64
728 659    1203
Name: amount_per_area, dtype: int64

728 1140    812
Name: amount_per_area, dtype: int64
728 178    992
Name: amount_per_area, dtype: int64
728 659    1203
Name: amount_per_area, dtype: int64
728 1140    812
Name: amount_per_area, dtype: int64
669 179    810
Name: amount_per_area, dtype: int64
669 660    945
Name: amount_per_area, dtype: int64
669 1141    495
Name: amount_per_area, dtype: int64
669 179    810
Name: amount_per_area, dtype: int64
669 660    945
Name: amount_per_area, dtype: int64
669 1141    495
Name: amount_per_area, dtype: int64
66 180    0
Name: amount_per_area, dtype: int64
66 661    0
Name: amount_per_area, dtype: int64
66 1142    0
Name: amount_per_area, dtype: int64
66 180    0
Name: amount_per_area, dtype: int64
66 661    0
Name: amount_per_area, dtype: int64
66 1142    0
Name: amount_per_area, dtype: int64
900 181    667
Name: amount_per_area, dtype: int64
900 662    875
Name: amount_per_area, dtype: int64
900 1143    542
Name: amount_per_area, dtype: int64
900 181    667
Name: amount_per_area, dtype: int64
900 662    875
Name: amount_per_area, dtype: int64
900 1143    542
Name: amount_per_area, dtype: int64
699 182    422
Name: amount_per_area, dtype: int64
699 663    625
Name: amount_per_area, dtype: int64
699 1144    516
Name: amount_per_area, dtype: int64
699 182    422
Name: amount_per_area, dtype: int64
699 663    625
Name: amount_per_area, dtype: int64
699 1144    516
Name: amount_per_area, dtype: int64
685 183    452
Name: amount_per_area, dtype: int64
685 664    630
Name: amount_per_area, dtype: int64
685 1145    533
Name: amount_per_area, dtype: int64
685 183    452
Name: amount_per_area, dtype: int64
685 664    630
Name: amount_per_area, dtype: int64
685 1145    533
Name: amount_per_area, dtype: int64
627 184    242
Name: amount_per_area, dtype: int64
627 665    369
Name: amount_per_area, dtype: int64
627 1146    542
Name: amount_per_area, dtype: int64
627 184    242
Name: amount_per_area, dtype: int64
627 665    369
Name: amount_per_area, dtype: int64
627 1146    542
Name: amount_per_area, dtype: int64
411 185    244
Name: amount_per_area, dtype: int64
411 666    278
Name: amount_per_area, dtype: int64
411 1147    348
Name: amount_per_area, dtype: int64
411 185    244
Name: amount_per_area, dtype: int64
411 666    278
Name: amount_per_area, dtype: int64
411 1147    348
Name: amount_per_area, dtype: int64
373 186    828
Name: amount_per_area, dtype: int64
373 667    715
Name: amount_per_area, dtype: int64
373 1148    358
Name: amount_per_area, dtype: int64
373 186    828
Name: amount_per_area, dtype: int64
373 667    715
Name: amount_per_area, dtype: int64
373 1148    358
Name: amount_per_area, dtype: int64
638 187    1207
Name: amount_per_area, dtype: int64
638 668    1022
Name: amount_per_area, dtype: int64
638 1149    867
Name: amount_per_area, dtype: int64
638 187    1207
Name: amount_per_area, dtype: int64
638 668    1022
Name: amount_per_area, dtype: int64
638 1149    867
Name: amount_per_area, dtype: int64
891 188    546
Name: amount_per_area, dtype: int64
891 669    769
Name: amount_per_area, dtype: int64
891 1150    1166
Name: amount_per_area, dtype: int64
891 188    546
Name: amount_per_area, dtype: int64
891 669    769
Name: amount_per_area, dtype: int64
891 1150    1166
Name: amount_per_area, dtype: int64
308 189    37
Name: amount_per_area, dtype: int64
308 670    284
Name: amount_per_area, dtype: int64
308 1151    284
Name: amount_per_area, dtype: int64
308 189    37
Name: amount_per_area, dtype: int64
308 670    284
Name: amount_per_area, dtype: int64
308 1151    284
Name: amount_per_area, dtype: int64
290 190    33
Name: amount_per_area, dtype: int64
290 671    145
Name: amount_per_area, dtype: int64
290 1152    358
Name: amount_per_area, dtype: int64
290 190    33
Name: amount_per_area, dtype: int64
290 671    145
Name: amount_per_area, dtype: int64
290 1152    358
Name: amount_per_area, dtype: int64
198 191    801
Name: amount_per_area, dtype: int64
198 672    478
Name: amount_per_area, dtype: int64
198 1153    141
Name: amount_per_area, dtype: int64
198 191    801
Name: amount_per_area, dtype: int64
198 672    478
Name: amount_per_area, dtype: int64
198 1153    141
Name: amount_per_area, dtype: int64
243 192    33
Name: amount_per_area, dtype: int64
243 673    336
Name: amount_per_area, dtype: int64
243 1154    715
Name: amount_per_area, dtype: int64
243 192    33
Name: amount_per_area, dtype: int64
243 673    336
Name: amount_per_area, dtype: int64
243 1154    715
Name: amount_per_area, dtype: int64
710 193    113
Name: amount_per_area, dtype: int64
710 674    487
Name: amount_per_area, dtype: int64
710 1155    1274
Name: amount_per_area, dtype: int64
710 193    113
Name: amount_per_area, dtype: int64
710 674    487
Name: amount_per_area, dtype: int64
710 1155    1274
Name: amount_per_area, dtype: int64
668 194    331
Name: amount_per_area, dtype: int64
668 675    363
Name: amount_per_area, dtype: int64
668 1156    883
Name: amount_per_area, dtype: int64
668 194    331
Name: amount_per_area, dtype: int64
668 675    363
Name: amount_per_area, dtype: int64
668 1156    883
Name: amount_per_area, dtype: int64
569 195    507
Name: amount_per_area, dtype: int64
569 676    507
Name: amount_per_area, dtype: int64
569 1157    570
Name: amount_per_area, dtype: int64
569 195    507
Name: amount_per_area, dtype: int64
569 676    507
Name: amount_per_area, dtype: int64
569 1157    570
Name: amount_per_area, dtype: int64
667 196    407
Name: amount_per_area, dtype: int64
667 677    646
Name: amount_per_area, dtype: int64
667 1158    794
Name: amount_per_area, dtype: int64
667 196    407
Name: amount_per_area, dtype: int64
667 677    646
Name: amount_per_area, dtype: int64
667 1158    794
Name: amount_per_area, dtype: int64
80 197    52
Name: amount_per_area, dtype: int64
80 678    114
Name: amount_per_area, dtype: int64
80 1159    82
Name: amount_per_area, dtype: int64
80 197    52
Name: amount_per_area, dtype: int64
80 678    114
Name: amount_per_area, dtype: int64
80 1159    82
Name: amount_per_area, dtype: int64
595 198    0
Name: amount_per_area, dtype: int64
595 679    0
Name: amount_per_area, dtype: int64
595 1160    0
Name: amount_per_area, dtype: int64
595 198    0
Name: amount_per_area, dtype: int64
595 679    0
Name: amount_per_area, dtype: int64
595 1160    0
Name: amount_per_area, dtype: int64
2 199    0
Name: amount_per_area, dtype: int64
2 680    0
Name: amount_per_area, dtype: int64
2 1161    0
Name: amount_per_area, dtype: int64
2 199    0
Name: amount_per_area, dtype: int64
2 680    0
Name: amount_per_area, dtype: int64
2 1161    0
Name: amount_per_area, dtype: int64
961 200    244
Name: amount_per_area, dtype: int64
961 681    473
Name: amount_per_area, dtype: int64
961 1162    809
Name: amount_per_area, dtype: int64
961 200    244
Name: amount_per_area, dtype: int64
961 681    473
Name: amount_per_area, dtype: int64
961 1162    809
Name: amount_per_area, dtype: int64
17 201    6
Name: amount_per_area, dtype: int64
17 682    9
Name: amount_per_area, dtype: int64
17 1163    9
Name: amount_per_area, dtype: int64
17 201    6
Name: amount_per_area, dtype: int64
17 682    9
Name: amount_per_area, dtype: int64
17 1163    9
Name: amount_per_area, dtype: int64
36 202    7
Name: amount_per_area, dtype: int64
36 683    24
Name: amount_per_area, dtype: int64
36 1164    27
Name: amount_per_area, dtype: int64
36 202    7
Name: amount_per_area, dtype: int64
36 683    24
Name: amount_per_area, dtype: int64
36 1164    27
Name: amount_per_area, dtype: int64
746 203    393
Name: amount_per_area, dtype: int64
746 684    628
Name: amount_per_area, dtype: int64
746 1165    550
Name: amount_per_area, dtype: int64
746 203    393
Name: amount_per_area, dtype: int64
746 684    628
Name: amount_per_area, dtype: int64
746 1165    550
Name: amount_per_area, dtype: int64
695 204    289
Name: amount_per_area, dtype: int64
695 685    528
Name: amount_per_area, dtype: int64
695 1166    440
Name: amount_per_area, dtype: int64
695 204    289
Name: amount_per_area, dtype: int64
695 685    528
Name: amount_per_area, dtype: int64
695 1166    440
Name: amount_per_area, dtype: int64
1011 205    549
Name: amount_per_area, dtype: int64
1011 686    755
Name: amount_per_area, dtype: int64
1011 1167    984
Name: amount_per_area, dtype: int64
1011 205    549
Name: amount_per_area, dtype: int64
1011 686    755
Name: amount_per_area, dtype: int64
1011 1167    984
Name: amount_per_area, dtype: int64
1100 206    356
Name: amount_per_area, dtype: int64
1100 687    748
Name: amount_per_area, dtype: int64
1100 1168    767
Name: amount_per_area, dtype: int64
1100 206    356
Name: amount_per_area, dtype: int64
1100 687    748
Name: amount_per_area, dtype: int64
1100 1168    767
Name: amount_per_area, dtype: int64
799 207    381
Name: amount_per_area, dtype: int64
799 688    651
Name: amount_per_area, dtype: int64
799 1169    556
Name: amount_per_area, dtype: int64
799 207    381
Name: amount_per_area, dtype: int64
799 688    651
Name: amount_per_area, dtype: int64
799 1169    556
Name: amount_per_area, dtype: int64
191 208    47
Name: amount_per_area, dtype: int64
191 689    89
Name: amount_per_area, dtype: int64
191 1170    98
Name: amount_per_area, dtype: int64
191 208    47
Name: amount_per_area, dtype: int64
191 689    89
Name: amount_per_area, dtype: int64
191 1170    98
Name: amount_per_area, dtype: int64
566 209    552
Name: amount_per_area, dtype: int64
566 690    600
Name: amount_per_area, dtype: int64
566 1171    426
Name: amount_per_area, dtype: int64
566 209    552
Name: amount_per_area, dtype: int64
566 690    600
Name: amount_per_area, dtype: int64
566 1171    426
Name: amount_per_area, dtype: int64
697 210    504
Name: amount_per_area, dtype: int64
697 691    714
Name: amount_per_area, dtype: int64
697 1172    861
Name: amount_per_area, dtype: int64
697 210    504
Name: amount_per_area, dtype: int64
697 691    714
Name: amount_per_area, dtype: int64
697 1172    861
Name: amount_per_area, dtype: int64
467 211    595
Name: amount_per_area, dtype: int64
467 692    561
Name: amount_per_area, dtype: int64
467 1173    527
Name: amount_per_area, dtype: int64
467 211    595
Name: amount_per_area, dtype: int64
467 692    561
Name: amount_per_area, dtype: int64
467 1173    527
Name: amount_per_area, dtype: int64
218 212    71
Name: amount_per_area, dtype: int64
218 693    313
Name: amount_per_area, dtype: int64
218 1174    121
Name: amount_per_area, dtype: int64
218 212    71
Name: amount_per_area, dtype: int64
218 693    313
Name: amount_per_area, dtype: int64
218 1174    121
Name: amount_per_area, dtype: int64
42 213    7
Name: amount_per_area, dtype: int64
42 694    15
Name: amount_per_area, dtype: int64
42 1175    86
Name: amount_per_area, dtype: int64
42 213    7
Name: amount_per_area, dtype: int64
42 694    15
Name: amount_per_area, dtype: int64
42 1175    86
Name: amount_per_area, dtype: int64
0 214    0
Name: amount_per_area, dtype: int64
0 695    0
Name: amount_per_area, dtype: int64
0 1176    0
Name: amount_per_area, dtype: int64
0 214    0
Name: amount_per_area, dtype: int64
0 695    0
Name: amount_per_area, dtype: int64
0 1176    0
Name: amount_per_area, dtype: int64
15 215    0
Name: amount_per_area, dtype: int64
15 696    0
Name: amount_per_area, dtype: int64
15 1177    0
Name: amount_per_area, dtype: int64
15 215    0
Name: amount_per_area, dtype: int64
15 696    0
Name: amount_per_area, dtype: int64
15 1177    0
Name: amount_per_area, dtype: int64
593 216    152
Name: amount_per_area, dtype: int64
593 697    417
Name: amount_per_area, dtype: int64
593 1178    1326
Name: amount_per_area, dtype: int64
593 216    152
Name: amount_per_area, dtype: int64
593 697    417
Name: amount_per_area, dtype: int64
593 1178    1326
Name: amount_per_area, dtype: int64

257 217    7
Name: amount_per_area, dtype: int64
257 698    291
Name: amount_per_area, dtype: int64
257 1179    309
Name: amount_per_area, dtype: int64
257 217    7
Name: amount_per_area, dtype: int64
257 698    291
Name: amount_per_area, dtype: int64
257 1179    309
Name: amount_per_area, dtype: int64
2315 218    386
Name: amount_per_area, dtype: int64
2315 699    1040
Name: amount_per_area, dtype: int64
2315 1180    2427
Name: amount_per_area, dtype: int64
2315 218    386
Name: amount_per_area, dtype: int64
2315 699    1040
Name: amount_per_area, dtype: int64
2315 1180    2427
Name: amount_per_area, dtype: int64
1706 219    492
Name: amount_per_area, dtype: int64
1706 700    1124
Name: amount_per_area, dtype: int64
1706 1181    1931
Name: amount_per_area, dtype: int64
1706 219    492
Name: amount_per_area, dtype: int64
1706 700    1124
Name: amount_per_area, dtype: int64
1706 1181    1931
Name: amount_per_area, dtype: int64
2097 220    440
Name: amount_per_area, dtype: int64
2097 701    1118
Name: amount_per_area, dtype: int64
2097 1182    2436
Name: amount_per_area, dtype: int64
2097 220    440
Name: amount_per_area, dtype: int64
2097 701    1118
Name: amount_per_area, dtype: int64
2097 1182    2436
Name: amount_per_area, dtype: int64
2833 221    837
Name: amount_per_area, dtype: int64
2833 702    1617
Name: amount_per_area, dtype: int64
2833 1183    3123
Name: amount_per_area, dtype: int64
2833 221    837
Name: amount_per_area, dtype: int64
2833 702    1617
Name: amount_per_area, dtype: int64
2833 1183    3123
Name: amount_per_area, dtype: int64
2123 222    433
Name: amount_per_area, dtype: int64
2123 703    1101
Name: amount_per_area, dtype: int64
2123 1184    2398
Name: amount_per_area, dtype: int64
2123 222    433
Name: amount_per_area, dtype: int64
2123 703    1101
Name: amount_per_area, dtype: int64
2123 1184    2398
Name: amount_per_area, dtype: int64
2343 223    552
Name: amount_per_area, dtype: int64
2343 704    1146
Name: amount_per_area, dtype: int64
2343 1185    2547
Name: amount_per_area, dtype: int64
2343 223    552
Name: amount_per_area, dtype: int64
2343 704    1146
Name: amount_per_area, dtype: int64
2343 1185    2547
Name: amount_per_area, dtype: int64
2593 224    629
Name: amount_per_area, dtype: int64
2593 705    1209
Name: amount_per_area, dtype: int64
2593 1186    2999
Name: amount_per_area, dtype: int64
2593 224    629
Name: amount_per_area, dtype: int64
2593 705    1209
Name: amount_per_area, dtype: int64
2593 1186    2999
Name: amount_per_area, dtype: int64
1704 225    545
Name: amount_per_area, dtype: int64
1704 706    954
Name: amount_per_area, dtype: int64
1704 1187    1908
Name: amount_per_area, dtype: int64
1704 225    545
Name: amount_per_area, dtype: int64
1704 706    954
Name: amount_per_area, dtype: int64
1704 1187    1908
Name: amount_per_area, dtype: int64
2333 226    500
Name: amount_per_area, dtype: int64
2333 707    1042
Name: amount_per_area, dtype: int64
2333 1188    2583
Name: amount_per_area, dtype: int64
2333 226    500
Name: amount_per_area, dtype: int64
2333 707    1042
Name: amount_per_area, dtype: int64
2333 1188    2583
Name: amount_per_area, dtype: int64
1765 227    1108
Name: amount_per_area, dtype: int64
1765 708    1227
Name: amount_per_area, dtype: int64
1765 1189    1662
Name: amount_per_area, dtype: int64
1765 227    1108
Name: amount_per_area, dtype: int64
1765 708    1227
Name: amount_per_area, dtype: int64
1765 1189    1662
Name: amount_per_area, dtype: int64
1984 228    912
Name: amount_per_area, dtype: int64
1984 709    1202
Name: amount_per_area, dtype: int64
1984 1190    2030
Name: amount_per_area, dtype: int64
1984 228    912
Name: amount_per_area, dtype: int64
1984 709    1202
Name: amount_per_area, dtype: int64
1984 1190    2030
Name: amount_per_area, dtype: int64
1893 229    959
Name: amount_per_area, dtype: int64
1893 710    1238
Name: amount_per_area, dtype: int64
1893 1191    1797
Name: amount_per_area, dtype: int64
1893 229    959
Name: amount_per_area, dtype: int64
1893 710    1238
Name: amount_per_area, dtype: int64
1893 1191    1797
Name: amount_per_area, dtype: int64
2116 230    317
Name: amount_per_area, dtype: int64
2116 711    761
Name: amount_per_area, dtype: int64
2116 1192    2091
Name: amount_per_area, dtype: int64
2116 230    317
Name: amount_per_area, dtype: int64
2116 711    761
Name: amount_per_area, dtype: int64
2116 1192    2091
Name: amount_per_area, dtype: int64
2516 231    397
Name: amount_per_area, dtype: int64
2516 712    1032
Name: amount_per_area, dtype: int64
2516 1193    2540
Name: amount_per_area, dtype: int64
2516 231    397
Name: amount_per_area, dtype: int64
2516 712    1032
Name: amount_per_area, dtype: int64
2516 1193    2540
Name: amount_per_area, dtype: int64
2713 232    406
Name: amount_per_area, dtype: int64
2713 713    1082
Name: amount_per_area, dtype: int64
2713 1194    3019
Name: amount_per_area, dtype: int64
2713 232    406
Name: amount_per_area, dtype: int64
2713 713    1082
Name: amount_per_area, dtype: int64
2713 1194    3019
Name: amount_per_area, dtype: int64
2017 233    332
Name: amount_per_area, dtype: int64
2017 714    862
Name: amount_per_area, dtype: int64
2017 1195    2120
Name: amount_per_area, dtype: int64
2017 233    332
Name: amount_per_area, dtype: int64
2017 714    862
Name: amount_per_area, dtype: int64
2017 1195    2120
Name: amount_per_area, dtype: int64
2706 234    420
Name: amount_per_area, dtype: int64
2706 715    1007
Name: amount_per_area, dtype: int64
2706 1196    2769
Name: amount_per_area, dtype: int64
2706 234    420
Name: amount_per_area, dtype: int64
2706 715    1007
Name: amount_per_area, dtype: int64
2706 1196    2769
Name: amount_per_area, dtype: int64
61 235    25
Name: amount_per_area, dtype: int64
61 716    54
Name: amount_per_area, dtype: int64
61 1197    64
Name: amount_per_area, dtype: int64
61 235    25
Name: amount_per_area, dtype: int64
61 716    54
Name: amount_per_area, dtype: int64
61 1197    64
Name: amount_per_area, dtype: int64
2434 236    462
Name: amount_per_area, dtype: int64
2434 717    1133
Name: amount_per_area, dtype: int64
2434 1198    2602
Name: amount_per_area, dtype: int64
2434 236    462
Name: amount_per_area, dtype: int64
2434 717    1133
Name: amount_per_area, dtype: int64
2434 1198    2602
Name: amount_per_area, dtype: int64
716 237    285
Name: amount_per_area, dtype: int64
716 718    366
Name: amount_per_area, dtype: int64
716 1199    704
Name: amount_per_area, dtype: int64
716 237    285
Name: amount_per_area, dtype: int64
716 718    366
Name: amount_per_area, dtype: int64
716 1199    704
Name: amount_per_area, dtype: int64
1130 238    270
Name: amount_per_area, dtype: int64
1130 719    436
Name: amount_per_area, dtype: int64
1130 1200    1370
Name: amount_per_area, dtype: int64
1130 238    270
Name: amount_per_area, dtype: int64
1130 719    436
Name: amount_per_area, dtype: int64
1130 1200    1370
Name: amount_per_area, dtype: int64
1821 239    393
Name: amount_per_area, dtype: int64
1821 720    752
Name: amount_per_area, dtype: int64
1821 1201    2124
Name: amount_per_area, dtype: int64
1821 239    393
Name: amount_per_area, dtype: int64
1821 720    752
Name: amount_per_area, dtype: int64
1821 1201    2124
Name: amount_per_area, dtype: int64
864 240    172
Name: amount_per_area, dtype: int64
864 721    358
Name: amount_per_area, dtype: int64
864 1202    901
Name: amount_per_area, dtype: int64
864 240    172
Name: amount_per_area, dtype: int64
864 721    358
Name: amount_per_area, dtype: int64
864 1202    901
Name: amount_per_area, dtype: int64
0 241    0
Name: amount_per_area, dtype: int64
0 722    0
Name: amount_per_area, dtype: int64
0 1203    0
Name: amount_per_area, dtype: int64
0 241    0
Name: amount_per_area, dtype: int64
0 722    0
Name: amount_per_area, dtype: int64
0 1203    0
Name: amount_per_area, dtype: int64
916 242    169
Name: amount_per_area, dtype: int64
916 723    423
Name: amount_per_area, dtype: int64
916 1204    1099
Name: amount_per_area, dtype: int64
916 242    169
Name: amount_per_area, dtype: int64
916 723    423
Name: amount_per_area, dtype: int64
916 1204    1099
Name: amount_per_area, dtype: int64
581 243    148
Name: amount_per_area, dtype: int64
581 724    296
Name: amount_per_area, dtype: int64
581 1205    777
Name: amount_per_area, dtype: int64
581 243    148
Name: amount_per_area, dtype: int64
581 724    296
Name: amount_per_area, dtype: int64
581 1205    777
Name: amount_per_area, dtype: int64
1461 244    266
Name: amount_per_area, dtype: int64
1461 725    603
Name: amount_per_area, dtype: int64
1461 1206    1543
Name: amount_per_area, dtype: int64
1461 244    266
Name: amount_per_area, dtype: int64
1461 725    603
Name: amount_per_area, dtype: int64
1461 1206    1543
Name: amount_per_area, dtype: int64
1464 245    287
Name: amount_per_area, dtype: int64
1464 726    703
Name: amount_per_area, dtype: int64
1464 1207    1615
Name: amount_per_area, dtype: int64
1464 245    287
Name: amount_per_area, dtype: int64
1464 726    703
Name: amount_per_area, dtype: int64
1464 1207    1615
Name: amount_per_area, dtype: int64
888 246    175
Name: amount_per_area, dtype: int64
888 727    362
Name: amount_per_area, dtype: int64
888 1208    804
Name: amount_per_area, dtype: int64
888 246    175
Name: amount_per_area, dtype: int64
888 727    362
Name: amount_per_area, dtype: int64
888 1208    804
Name: amount_per_area, dtype: int64
1683 247    287
Name: amount_per_area, dtype: int64
1683 728    660
Name: amount_per_area, dtype: int64
1683 1209    1921
Name: amount_per_area, dtype: int64
1683 247    287
Name: amount_per_area, dtype: int64
1683 728    660
Name: amount_per_area, dtype: int64
1683 1209    1921
Name: amount_per_area, dtype: int64
1825 248    247
Name: amount_per_area, dtype: int64
1825 729    617
Name: amount_per_area, dtype: int64
1825 1210    1603
Name: amount_per_area, dtype: int64
1825 248    247
Name: amount_per_area, dtype: int64
1825 729    617
Name: amount_per_area, dtype: int64
1825 1210    1603
Name: amount_per_area, dtype: int64
5 249    0
Name: amount_per_area, dtype: int64

5 730    0
Name: amount_per_area, dtype: int64
5 1211    0
Name: amount_per_area, dtype: int64
5 249    0
Name: amount_per_area, dtype: int64
5 730    0
Name: amount_per_area, dtype: int64
5 1211    0
Name: amount_per_area, dtype: int64
0 250    0
Name: amount_per_area, dtype: int64
0 731    0
Name: amount_per_area, dtype: int64
0 1212    0
Name: amount_per_area, dtype: int64
0 250    0
Name: amount_per_area, dtype: int64
0 731    0
Name: amount_per_area, dtype: int64
0 1212    0
Name: amount_per_area, dtype: int64
2311 251    287
Name: amount_per_area, dtype: int64
2311 732    984
Name: amount_per_area, dtype: int64
2311 1213    2827
Name: amount_per_area, dtype: int64
2311 251    287
Name: amount_per_area, dtype: int64
2311 732    984
Name: amount_per_area, dtype: int64
2311 1213    2827
Name: amount_per_area, dtype: int64
1813 252    752
Name: amount_per_area, dtype: int64
1813 733    1059
Name: amount_per_area, dtype: int64
1813 1214    1605
Name: amount_per_area, dtype: int64
1813 252    752
Name: amount_per_area, dtype: int64
1813 733    1059
Name: amount_per_area, dtype: int64
1813 1214    1605
Name: amount_per_area, dtype: int64
978 253    358
Name: amount_per_area, dtype: int64
978 734    562
Name: amount_per_area, dtype: int64
978 1215    801
Name: amount_per_area, dtype: int64
978 253    358
Name: amount_per_area, dtype: int64
978 734    562
Name: amount_per_area, dtype: int64
978 1215    801
Name: amount_per_area, dtype: int64
1738 254    926
Name: amount_per_area, dtype: int64
1738 735    1176
Name: amount_per_area, dtype: int64
1738 1216    1461
Name: amount_per_area, dtype: int64
1738 254    926
Name: amount_per_area, dtype: int64
1738 735    1176
Name: amount_per_area, dtype: int64
1738 1216    1461
Name: amount_per_area, dtype: int64
928 255    288
Name: amount_per_area, dtype: int64
928 736    460
Name: amount_per_area, dtype: int64
928 1217    1169
Name: amount_per_area, dtype: int64
928 255    288
Name: amount_per_area, dtype: int64
928 736    460
Name: amount_per_area, dtype: int64
928 1217    1169
Name: amount_per_area, dtype: int64
257 256    41
Name: amount_per_area, dtype: int64
257 737    79
Name: amount_per_area, dtype: int64
257 1218    194
Name: amount_per_area, dtype: int64
257 256    41
Name: amount_per_area, dtype: int64
257 737    79
Name: amount_per_area, dtype: int64
257 1218    194
Name: amount_per_area, dtype: int64
2175 257    398
Name: amount_per_area, dtype: int64
2175 738    904
Name: amount_per_area, dtype: int64
2175 1219    2312
Name: amount_per_area, dtype: int64
2175 257    398
Name: amount_per_area, dtype: int64
2175 738    904
Name: amount_per_area, dtype: int64
2175 1219    2312
Name: amount_per_area, dtype: int64
478 258    86
Name: amount_per_area, dtype: int64
478 739    186
Name: amount_per_area, dtype: int64
478 1220    435
Name: amount_per_area, dtype: int64
478 258    86
Name: amount_per_area, dtype: int64
478 739    186
Name: amount_per_area, dtype: int64
478 1220    435
Name: amount_per_area, dtype: int64
866 259    193
Name: amount_per_area, dtype: int64
866 740    372
Name: amount_per_area, dtype: int64
866 1221    921
Name: amount_per_area, dtype: int64
866 259    193
Name: amount_per_area, dtype: int64
866 740    372
Name: amount_per_area, dtype: int64
866 1221    921
Name: amount_per_area, dtype: int64
124 260    0
Name: amount_per_area, dtype: int64
124 741    0
Name: amount_per_area, dtype: int64
124 1222    0
Name: amount_per_area, dtype: int64
124 260    0
Name: amount_per_area, dtype: int64
124 741    0
Name: amount_per_area, dtype: int64
124 1222    0
Name: amount_per_area, dtype: int64
958 261    184
Name: amount_per_area, dtype: int64
958 742    417
Name: amount_per_area, dtype: int64
958 1223    1066
Name: amount_per_area, dtype: int64
958 261    184
Name: amount_per_area, dtype: int64
958 742    417
Name: amount_per_area, dtype: int64
958 1223    1066
Name: amount_per_area, dtype: int64
1546 262    282
Name: amount_per_area, dtype: int64
1546 743    759
Name: amount_per_area, dtype: int64
1546 1224    1771
Name: amount_per_area, dtype: int64
1546 262    282
Name: amount_per_area, dtype: int64
1546 743    759
Name: amount_per_area, dtype: int64
1546 1224    1771
Name: amount_per_area, dtype: int64
1761 263    273
Name: amount_per_area, dtype: int64
1761 744    696
Name: amount_per_area, dtype: int64
1761 1225    2057
Name: amount_per_area, dtype: int64
1761 263    273
Name: amount_per_area, dtype: int64
1761 744    696
Name: amount_per_area, dtype: int64
1761 1225    2057
Name: amount_per_area, dtype: int64
2454 264    376
Name: amount_per_area, dtype: int64
2454 745    751
Name: amount_per_area, dtype: int64
2454 1226    2627
Name: amount_per_area, dtype: int64
2454 264    376
Name: amount_per_area, dtype: int64
2454 745    751
Name: amount_per_area, dtype: int64
2454 1226    2627
Name: amount_per_area, dtype: int64
1995 265    334
Name: amount_per_area, dtype: int64
1995 746    758
Name: amount_per_area, dtype: int64
1995 1227    1970
Name: amount_per_area, dtype: int64
1995 265    334
Name: amount_per_area, dtype: int64
1995 746    758
Name: amount_per_area, dtype: int64
1995 1227    1970
Name: amount_per_area, dtype: int64
2315 266    273
Name: amount_per_area, dtype: int64
2315 747    716
Name: amount_per_area, dtype: int64
2315 1228    2421
Name: amount_per_area, dtype: int64
2315 266    273
Name: amount_per_area, dtype: int64
2315 747    716
Name: amount_per_area, dtype: int64
2315 1228    2421
Name: amount_per_area, dtype: int64
1904 267    238
Name: amount_per_area, dtype: int64
1904 748    714
Name: amount_per_area, dtype: int64
1904 1229    2023
Name: amount_per_area, dtype: int64
1904 267    238
Name: amount_per_area, dtype: int64
1904 748    714
Name: amount_per_area, dtype: int64
1904 1229    2023
Name: amount_per_area, dtype: int64
1294 268    319
Name: amount_per_area, dtype: int64
1294 749    519
Name: amount_per_area, dtype: int64
1294 1230    1156
Name: amount_per_area, dtype: int64
1294 268    319
Name: amount_per_area, dtype: int64
1294 749    519
Name: amount_per_area, dtype: int64
1294 1230    1156
Name: amount_per_area, dtype: int64
360 269    0
Name: amount_per_area, dtype: int64
360 750    0
Name: amount_per_area, dtype: int64
360 1231    0
Name: amount_per_area, dtype: int64
360 269    0
Name: amount_per_area, dtype: int64
360 750    0
Name: amount_per_area, dtype: int64
360 1231    0
Name: amount_per_area, dtype: int64
2053 270    505
Name: amount_per_area, dtype: int64
2053 751    976
Name: amount_per_area, dtype: int64
2053 1232    1885
Name: amount_per_area, dtype: int64
2053 270    505
Name: amount_per_area, dtype: int64
2053 751    976
Name: amount_per_area, dtype: int64
2053 1232    1885
Name: amount_per_area, dtype: int64
2188 271    572
Name: amount_per_area, dtype: int64
2188 752    1029
Name: amount_per_area, dtype: int64
2188 1233    2172
Name: amount_per_area, dtype: int64
2188 271    572
Name: amount_per_area, dtype: int64
2188 752    1029
Name: amount_per_area, dtype: int64
2188 1233    2172
Name: amount_per_area, dtype: int64
1529 272    414
Name: amount_per_area, dtype: int64
1529 753    698
Name: amount_per_area, dtype: int64
1529 1234    1498
Name: amount_per_area, dtype: int64
1529 272    414
Name: amount_per_area, dtype: int64
1529 753    698
Name: amount_per_area, dtype: int64
1529 1234    1498
Name: amount_per_area, dtype: int64
1637 273    247
Name: amount_per_area, dtype: int64
1637 754    667
Name: amount_per_area, dtype: int64
1637 1235    1555
Name: amount_per_area, dtype: int64
1637 273    247
Name: amount_per_area, dtype: int64
1637 754    667
Name: amount_per_area, dtype: int64
1637 1235    1555
Name: amount_per_area, dtype: int64
978 274    132
Name: amount_per_area, dtype: int64
978 755    380
Name: amount_per_area, dtype: int64
978 1236    935
Name: amount_per_area, dtype: int64
978 274    132
Name: amount_per_area, dtype: int64
978 755    380
Name: amount_per_area, dtype: int64
978 1236    935
Name: amount_per_area, dtype: int64
1838 275    1125
Name: amount_per_area, dtype: int64
1838 756    1163
Name: amount_per_area, dtype: int64
1838 1237    1425
Name: amount_per_area, dtype: int64
1838 275    1125
Name: amount_per_area, dtype: int64
1838 756    1163
Name: amount_per_area, dtype: int64
1838 1237    1425
Name: amount_per_area, dtype: int64
25 276    0
Name: amount_per_area, dtype: int64
25 757    0
Name: amount_per_area, dtype: int64
25 1238    0
Name: amount_per_area, dtype: int64
25 276    0
Name: amount_per_area, dtype: int64
25 757    0
Name: amount_per_area, dtype: int64
25 1238    0
Name: amount_per_area, dtype: int64
533 277    76
Name: amount_per_area, dtype: int64
533 758    238
Name: amount_per_area, dtype: int64
533 1239    636
Name: amount_per_area, dtype: int64
533 277    76
Name: amount_per_area, dtype: int64
533 758    238
Name: amount_per_area, dtype: int64
533 1239    636
Name: amount_per_area, dtype: int64
0 278    0
Name: amount_per_area, dtype: int64
0 759    0
Name: amount_per_area, dtype: int64
0 1240    0
Name: amount_per_area, dtype: int64
0 278    0
Name: amount_per_area, dtype: int64
0 759    0
Name: amount_per_area, dtype: int64
0 1240    0
Name: amount_per_area, dtype: int64
834 279    288
Name: amount_per_area, dtype: int64
834 760    557
Name: amount_per_area, dtype: int64
834 1241    970
Name: amount_per_area, dtype: int64
834 279    288
Name: amount_per_area, dtype: int64
834 760    557
Name: amount_per_area, dtype: int64
834 1241    970
Name: amount_per_area, dtype: int64
570 280    212
Name: amount_per_area, dtype: int64
570 761    437
Name: amount_per_area, dtype: int64
570 1242    675
Name: amount_per_area, dtype: int64
570 280    212
Name: amount_per_area, dtype: int64
570 761    437
Name: amount_per_area, dtype: int64
570 1242    675
Name: amount_per_area, dtype: int64

554 281    186
Name: amount_per_area, dtype: int64
554 762    319
Name: amount_per_area, dtype: int64
554 1243    525
Name: amount_per_area, dtype: int64
554 281    186
Name: amount_per_area, dtype: int64
554 762    319
Name: amount_per_area, dtype: int64
554 1243    525
Name: amount_per_area, dtype: int64
11 282    0
Name: amount_per_area, dtype: int64
11 763    0
Name: amount_per_area, dtype: int64
11 1244    0
Name: amount_per_area, dtype: int64
11 282    0
Name: amount_per_area, dtype: int64
11 763    0
Name: amount_per_area, dtype: int64
11 1244    0
Name: amount_per_area, dtype: int64
392 283    113
Name: amount_per_area, dtype: int64
392 764    191
Name: amount_per_area, dtype: int64
392 1245    410
Name: amount_per_area, dtype: int64
392 283    113
Name: amount_per_area, dtype: int64
392 764    191
Name: amount_per_area, dtype: int64
392 1245    410
Name: amount_per_area, dtype: int64
4 284    0
Name: amount_per_area, dtype: int64
4 765    0
Name: amount_per_area, dtype: int64
4 1246    0
Name: amount_per_area, dtype: int64
4 284    0
Name: amount_per_area, dtype: int64
4 765    0
Name: amount_per_area, dtype: int64
4 1246    0
Name: amount_per_area, dtype: int64
541 285    167
Name: amount_per_area, dtype: int64
541 766    188
Name: amount_per_area, dtype: int64
541 1247    688
Name: amount_per_area, dtype: int64
541 285    167
Name: amount_per_area, dtype: int64
541 766    188
Name: amount_per_area, dtype: int64
541 1247    688
Name: amount_per_area, dtype: int64
921 286    415
Name: amount_per_area, dtype: int64
921 767    691
Name: amount_per_area, dtype: int64
921 1248    868
Name: amount_per_area, dtype: int64
921 286    415
Name: amount_per_area, dtype: int64
921 767    691
Name: amount_per_area, dtype: int64
921 1248    868
Name: amount_per_area, dtype: int64
514 287    160
Name: amount_per_area, dtype: int64
514 768    365
Name: amount_per_area, dtype: int64
514 1249    616
Name: amount_per_area, dtype: int64
514 287    160
Name: amount_per_area, dtype: int64
514 768    365
Name: amount_per_area, dtype: int64
514 1249    616
Name: amount_per_area, dtype: int64
3 288    0
Name: amount_per_area, dtype: int64
3 769    0
Name: amount_per_area, dtype: int64
3 1250    0
Name: amount_per_area, dtype: int64
3 288    0
Name: amount_per_area, dtype: int64
3 769    0
Name: amount_per_area, dtype: int64
3 1250    0
Name: amount_per_area, dtype: int64
1933 289    216
Name: amount_per_area, dtype: int64
1933 770    709
Name: amount_per_area, dtype: int64
1933 1251    2127
Name: amount_per_area, dtype: int64
1933 289    216
Name: amount_per_area, dtype: int64
1933 770    709
Name: amount_per_area, dtype: int64
1933 1251    2127
Name: amount_per_area, dtype: int64
1839 290    375
Name: amount_per_area, dtype: int64
1839 771    718
Name: amount_per_area, dtype: int64
1839 1252    2061
Name: amount_per_area, dtype: int64
1839 290    375
Name: amount_per_area, dtype: int64
1839 771    718
Name: amount_per_area, dtype: int64
1839 1252    2061
Name: amount_per_area, dtype: int64
210 291    300
Name: amount_per_area, dtype: int64
210 772    558
Name: amount_per_area, dtype: int64
210 1253    504
Name: amount_per_area, dtype: int64
210 291    300
Name: amount_per_area, dtype: int64
210 772    558
Name: amount_per_area, dtype: int64
210 1253    504
Name: amount_per_area, dtype: int64
1510 292    535
Name: amount_per_area, dtype: int64
1510 773    850
Name: amount_per_area, dtype: int64
1510 1254    1730
Name: amount_per_area, dtype: int64
1510 292    535
Name: amount_per_area, dtype: int64
1510 773    850
Name: amount_per_area, dtype: int64
1510 1254    1730
Name: amount_per_area, dtype: int64
56 293    11
Name: amount_per_area, dtype: int64
56 774    28
Name: amount_per_area, dtype: int64
56 1255    56
Name: amount_per_area, dtype: int64
56 293    11
Name: amount_per_area, dtype: int64
56 774    28
Name: amount_per_area, dtype: int64
56 1255    56
Name: amount_per_area, dtype: int64
2127 294    747
Name: amount_per_area, dtype: int64
2127 775    1078
Name: amount_per_area, dtype: int64
2127 1256    2363
Name: amount_per_area, dtype: int64
2127 294    747
Name: amount_per_area, dtype: int64
2127 775    1078
Name: amount_per_area, dtype: int64
2127 1256    2363
Name: amount_per_area, dtype: int64
1682 295    1274
Name: amount_per_area, dtype: int64
1682 776    1186
Name: amount_per_area, dtype: int64
1682 1257    1933
Name: amount_per_area, dtype: int64
1682 295    1274
Name: amount_per_area, dtype: int64
1682 776    1186
Name: amount_per_area, dtype: int64
1682 1257    1933
Name: amount_per_area, dtype: int64
1679 296    922
Name: amount_per_area, dtype: int64
1679 777    999
Name: amount_per_area, dtype: int64
1679 1258    1920
Name: amount_per_area, dtype: int64
1679 296    922
Name: amount_per_area, dtype: int64
1679 777    999
Name: amount_per_area, dtype: int64
1679 1258    1920
Name: amount_per_area, dtype: int64
1716 297    873
Name: amount_per_area, dtype: int64
1716 778    1025
Name: amount_per_area, dtype: int64
1716 1259    1898
Name: amount_per_area, dtype: int64
1716 297    873
Name: amount_per_area, dtype: int64
1716 778    1025
Name: amount_per_area, dtype: int64
1716 1259    1898
Name: amount_per_area, dtype: int64
850 298    380
Name: amount_per_area, dtype: int64
850 779    348
Name: amount_per_area, dtype: int64
850 1260    838
Name: amount_per_area, dtype: int64
850 298    380
Name: amount_per_area, dtype: int64
850 779    348
Name: amount_per_area, dtype: int64
850 1260    838
Name: amount_per_area, dtype: int64
1683 299    1109
Name: amount_per_area, dtype: int64
1683 780    1150
Name: amount_per_area, dtype: int64
1683 1261    1847
Name: amount_per_area, dtype: int64
1683 299    1109
Name: amount_per_area, dtype: int64
1683 780    1150
Name: amount_per_area, dtype: int64
1683 1261    1847
Name: amount_per_area, dtype: int64
1880 300    1186
Name: amount_per_area, dtype: int64
1880 781    1278
Name: amount_per_area, dtype: int64
1880 1262    2099
Name: amount_per_area, dtype: int64
1880 300    1186
Name: amount_per_area, dtype: int64
1880 781    1278
Name: amount_per_area, dtype: int64
1880 1262    2099
Name: amount_per_area, dtype: int64
1875 301    734
Name: amount_per_area, dtype: int64
1875 782    978
Name: amount_per_area, dtype: int64
1875 1263    2364
Name: amount_per_area, dtype: int64
1875 301    734
Name: amount_per_area, dtype: int64
1875 782    978
Name: amount_per_area, dtype: int64
1875 1263    2364
Name: amount_per_area, dtype: int64
2311 302    1161
Name: amount_per_area, dtype: int64
2311 783    1438
Name: amount_per_area, dtype: int64
2311 1264    2875
Name: amount_per_area, dtype: int64
2311 302    1161
Name: amount_per_area, dtype: int64
2311 783    1438
Name: amount_per_area, dtype: int64
2311 1264    2875
Name: amount_per_area, dtype: int64
1122 303    1757
Name: amount_per_area, dtype: int64
1122 784    1307
Name: amount_per_area, dtype: int64
1122 1265    1442
Name: amount_per_area, dtype: int64
1122 303    1757
Name: amount_per_area, dtype: int64
1122 784    1307
Name: amount_per_area, dtype: int64
1122 1265    1442
Name: amount_per_area, dtype: int64
1417 304    1339
Name: amount_per_area, dtype: int64
1417 785    1177
Name: amount_per_area, dtype: int64
1417 1266    1502
Name: amount_per_area, dtype: int64
1417 304    1339
Name: amount_per_area, dtype: int64
1417 785    1177
Name: amount_per_area, dtype: int64
1417 1266    1502
Name: amount_per_area, dtype: int64
1330 305    1537
Name: amount_per_area, dtype: int64
1330 786    1311
Name: amount_per_area, dtype: int64
1330 1267    1718
Name: amount_per_area, dtype: int64
1330 305    1537
Name: amount_per_area, dtype: int64
1330 786    1311
Name: amount_per_area, dtype: int64
1330 1267    1718
Name: amount_per_area, dtype: int64
565 306    166
Name: amount_per_area, dtype: int64
565 787    253
Name: amount_per_area, dtype: int64
565 1268    555
Name: amount_per_area, dtype: int64
565 306    166
Name: amount_per_area, dtype: int64
565 787    253
Name: amount_per_area, dtype: int64
565 1268    555
Name: amount_per_area, dtype: int64
5 307    0
Name: amount_per_area, dtype: int64
5 788    0
Name: amount_per_area, dtype: int64
5 1269    0
Name: amount_per_area, dtype: int64
5 307    0
Name: amount_per_area, dtype: int64
5 788    0
Name: amount_per_area, dtype: int64
5 1269    0
Name: amount_per_area, dtype: int64
503 308    162
Name: amount_per_area, dtype: int64
503 789    277
Name: amount_per_area, dtype: int64
503 1270    715
Name: amount_per_area, dtype: int64
503 308    162
Name: amount_per_area, dtype: int64
503 789    277
Name: amount_per_area, dtype: int64
503 1270    715
Name: amount_per_area, dtype: int64
853 309    243
Name: amount_per_area, dtype: int64
853 790    405
Name: amount_per_area, dtype: int64
853 1271    972
Name: amount_per_area, dtype: int64
853 309    243
Name: amount_per_area, dtype: int64
853 790    405
Name: amount_per_area, dtype: int64
853 1271    972
Name: amount_per_area, dtype: int64
2129 310    321
Name: amount_per_area, dtype: int64
2129 791    769
Name: amount_per_area, dtype: int64
2129 1272    2113
Name: amount_per_area, dtype: int64
2129 310    321
Name: amount_per_area, dtype: int64
2129 791    769
Name: amount_per_area, dtype: int64
2129 1272    2113
Name: amount_per_area, dtype: int64
2000 311    451
Name: amount_per_area, dtype: int64
2000 792    901
Name: amount_per_area, dtype: int64
2000 1273    1865
Name: amount_per_area, dtype: int64
2000 311    451
Name: amount_per_area, dtype: int64
2000 792    901
Name: amount_per_area, dtype: int64
2000 1273    1865
Name: amount_per_area, dtype: int64
2369 312    601
Name: amount_per_area, dtype: int64
2369 793    955
Name: amount_per_area, dtype: int64
2369 1274    2015
Name: amount_per_area, dtype: int64
2369 312    601
Name: amount_per_area, dtype: int64
2369 793    955
Name: amount_per_area, dtype: int64

2369 1274    2015
Name: amount_per_area, dtype: int64
2710 313    580
Name: amount_per_area, dtype: int64
2710 794    1078
Name: amount_per_area, dtype: int64
2710 1275    2486
Name: amount_per_area, dtype: int64
2710 313    580
Name: amount_per_area, dtype: int64
2710 794    1078
Name: amount_per_area, dtype: int64
2710 1275    2486
Name: amount_per_area, dtype: int64
1012 314    521
Name: amount_per_area, dtype: int64
1012 795    781
Name: amount_per_area, dtype: int64
1012 1276    1064
Name: amount_per_area, dtype: int64
1012 314    521
Name: amount_per_area, dtype: int64
1012 795    781
Name: amount_per_area, dtype: int64
1012 1276    1064
Name: amount_per_area, dtype: int64
1495 315    572
Name: amount_per_area, dtype: int64
1495 796    842
Name: amount_per_area, dtype: int64
1495 1277    1594
Name: amount_per_area, dtype: int64
1495 315    572
Name: amount_per_area, dtype: int64
1495 796    842
Name: amount_per_area, dtype: int64
1495 1277    1594
Name: amount_per_area, dtype: int64
0 316    0
Name: amount_per_area, dtype: int64
0 797    0
Name: amount_per_area, dtype: int64
0 1278    0
Name: amount_per_area, dtype: int64
0 316    0
Name: amount_per_area, dtype: int64
0 797    0
Name: amount_per_area, dtype: int64
0 1278    0
Name: amount_per_area, dtype: int64
259 317    37
Name: amount_per_area, dtype: int64
259 798    114
Name: amount_per_area, dtype: int64
259 1279    309
Name: amount_per_area, dtype: int64
259 317    37
Name: amount_per_area, dtype: int64
259 798    114
Name: amount_per_area, dtype: int64
259 1279    309
Name: amount_per_area, dtype: int64
0 318    0
Name: amount_per_area, dtype: int64
0 799    0
Name: amount_per_area, dtype: int64
0 1280    0
Name: amount_per_area, dtype: int64
0 318    0
Name: amount_per_area, dtype: int64
0 799    0
Name: amount_per_area, dtype: int64
0 1280    0
Name: amount_per_area, dtype: int64
10 319    0
Name: amount_per_area, dtype: int64
10 800    0
Name: amount_per_area, dtype: int64
10 1281    0
Name: amount_per_area, dtype: int64
10 319    0
Name: amount_per_area, dtype: int64
10 800    0
Name: amount_per_area, dtype: int64
10 1281    0
Name: amount_per_area, dtype: int64
185 320    0
Name: amount_per_area, dtype: int64
185 801    0
Name: amount_per_area, dtype: int64
185 1282    0
Name: amount_per_area, dtype: int64
185 320    0
Name: amount_per_area, dtype: int64
185 801    0
Name: amount_per_area, dtype: int64
185 1282    0
Name: amount_per_area, dtype: int64
242 321    17
Name: amount_per_area, dtype: int64
242 802    162
Name: amount_per_area, dtype: int64
242 1283    145
Name: amount_per_area, dtype: int64
242 321    17
Name: amount_per_area, dtype: int64
242 802    162
Name: amount_per_area, dtype: int64
242 1283    145
Name: amount_per_area, dtype: int64
10 322    4
Name: amount_per_area, dtype: int64
10 803    5
Name: amount_per_area, dtype: int64
10 1284    4
Name: amount_per_area, dtype: int64
10 322    4
Name: amount_per_area, dtype: int64
10 803    5
Name: amount_per_area, dtype: int64
10 1284    4
Name: amount_per_area, dtype: int64
812 323    175
Name: amount_per_area, dtype: int64
812 804    559
Name: amount_per_area, dtype: int64
812 1285    1012
Name: amount_per_area, dtype: int64
812 323    175
Name: amount_per_area, dtype: int64
812 804    559
Name: amount_per_area, dtype: int64
812 1285    1012
Name: amount_per_area, dtype: int64
0 324    0
Name: amount_per_area, dtype: int64
0 805    0
Name: amount_per_area, dtype: int64
0 1286    0
Name: amount_per_area, dtype: int64
0 324    0
Name: amount_per_area, dtype: int64
0 805    0
Name: amount_per_area, dtype: int64
0 1286    0
Name: amount_per_area, dtype: int64
822 325    409
Name: amount_per_area, dtype: int64
822 806    539
Name: amount_per_area, dtype: int64
822 1287    911
Name: amount_per_area, dtype: int64
822 325    409
Name: amount_per_area, dtype: int64
822 806    539
Name: amount_per_area, dtype: int64
822 1287    911
Name: amount_per_area, dtype: int64
1162 326    557
Name: amount_per_area, dtype: int64
1162 807    495
Name: amount_per_area, dtype: int64
1162 1288    1010
Name: amount_per_area, dtype: int64
1162 326    557
Name: amount_per_area, dtype: int64
1162 807    495
Name: amount_per_area, dtype: int64
1162 1288    1010
Name: amount_per_area, dtype: int64
1119 327    361
Name: amount_per_area, dtype: int64
1119 808    433
Name: amount_per_area, dtype: int64
1119 1289    1011
Name: amount_per_area, dtype: int64
1119 327    361
Name: amount_per_area, dtype: int64
1119 808    433
Name: amount_per_area, dtype: int64
1119 1289    1011
Name: amount_per_area, dtype: int64
1227 328    612
Name: amount_per_area, dtype: int64
1227 809    874
Name: amount_per_area, dtype: int64
1227 1290    1428
Name: amount_per_area, dtype: int64
1227 328    612
Name: amount_per_area, dtype: int64
1227 809    874
Name: amount_per_area, dtype: int64
1227 1290    1428
Name: amount_per_area, dtype: int64
1316 329    781
Name: amount_per_area, dtype: int64
1316 810    938
Name: amount_per_area, dtype: int64
1316 1291    1406
Name: amount_per_area, dtype: int64
1316 329    781
Name: amount_per_area, dtype: int64
1316 810    938
Name: amount_per_area, dtype: int64
1316 1291    1406
Name: amount_per_area, dtype: int64
0 330    0
Name: amount_per_area, dtype: int64
0 811    0
Name: amount_per_area, dtype: int64
0 1292    0
Name: amount_per_area, dtype: int64
0 330    0
Name: amount_per_area, dtype: int64
0 811    0
Name: amount_per_area, dtype: int64
0 1292    0
Name: amount_per_area, dtype: int64
0 331    0
Name: amount_per_area, dtype: int64
0 812    0
Name: amount_per_area, dtype: int64
0 1293    0
Name: amount_per_area, dtype: int64
0 331    0
Name: amount_per_area, dtype: int64
0 812    0
Name: amount_per_area, dtype: int64
0 1293    0
Name: amount_per_area, dtype: int64
0 332    0
Name: amount_per_area, dtype: int64
0 813    0
Name: amount_per_area, dtype: int64
0 1294    0
Name: amount_per_area, dtype: int64
0 332    0
Name: amount_per_area, dtype: int64
0 813    0
Name: amount_per_area, dtype: int64
0 1294    0
Name: amount_per_area, dtype: int64
0 333    0
Name: amount_per_area, dtype: int64
0 814    0
Name: amount_per_area, dtype: int64
0 1295    0
Name: amount_per_area, dtype: int64
0 333    0
Name: amount_per_area, dtype: int64
0 814    0
Name: amount_per_area, dtype: int64
0 1295    0
Name: amount_per_area, dtype: int64
0 334    0
Name: amount_per_area, dtype: int64
0 815    0
Name: amount_per_area, dtype: int64
0 1296    0
Name: amount_per_area, dtype: int64
0 334    0
Name: amount_per_area, dtype: int64
0 815    0
Name: amount_per_area, dtype: int64
0 1296    0
Name: amount_per_area, dtype: int64
0 335    0
Name: amount_per_area, dtype: int64
0 816    0
Name: amount_per_area, dtype: int64
0 1297    0
Name: amount_per_area, dtype: int64
0 335    0
Name: amount_per_area, dtype: int64
0 816    0
Name: amount_per_area, dtype: int64
0 1297    0
Name: amount_per_area, dtype: int64
0 336    0
Name: amount_per_area, dtype: int64
0 817    0
Name: amount_per_area, dtype: int64
0 1298    0
Name: amount_per_area, dtype: int64
0 336    0
Name: amount_per_area, dtype: int64
0 817    0
Name: amount_per_area, dtype: int64
0 1298    0
Name: amount_per_area, dtype: int64
403 337    72
Name: amount_per_area, dtype: int64
403 818    61
Name: amount_per_area, dtype: int64
403 1299    417
Name: amount_per_area, dtype: int64
403 337    72
Name: amount_per_area, dtype: int64
403 818    61
Name: amount_per_area, dtype: int64
403 1299    417
Name: amount_per_area, dtype: int64
1184 338    485
Name: amount_per_area, dtype: int64
1184 819    654
Name: amount_per_area, dtype: int64
1184 1300    1283
Name: amount_per_area, dtype: int64
1184 338    485
Name: amount_per_area, dtype: int64
1184 819    654
Name: amount_per_area, dtype: int64
1184 1300    1283
Name: amount_per_area, dtype: int64
895 339    832
Name: amount_per_area, dtype: int64
895 820    970
Name: amount_per_area, dtype: int64
895 1301    998
Name: amount_per_area, dtype: int64
895 339    832
Name: amount_per_area, dtype: int64
895 820    970
Name: amount_per_area, dtype: int64
895 1301    998
Name: amount_per_area, dtype: int64
1077 340    289
Name: amount_per_area, dtype: int64
1077 821    841
Name: amount_per_area, dtype: int64
1077 1302    1250
Name: amount_per_area, dtype: int64
1077 340    289
Name: amount_per_area, dtype: int64
1077 821    841
Name: amount_per_area, dtype: int64
1077 1302    1250
Name: amount_per_area, dtype: int64
549 341    77
Name: amount_per_area, dtype: int64
549 822    173
Name: amount_per_area, dtype: int64
549 1303    721
Name: amount_per_area, dtype: int64
549 341    77
Name: amount_per_area, dtype: int64
549 822    173
Name: amount_per_area, dtype: int64
549 1303    721
Name: amount_per_area, dtype: int64
1495 342    354
Name: amount_per_area, dtype: int64
1495 823    543
Name: amount_per_area, dtype: int64
1495 1304    1462
Name: amount_per_area, dtype: int64
1495 342    354
Name: amount_per_area, dtype: int64
1495 823    543
Name: amount_per_area, dtype: int64
1495 1304    1462
Name: amount_per_area, dtype: int64
6 343    0
Name: amount_per_area, dtype: int64
6 824    0
Name: amount_per_area, dtype: int64
6 1305    0
Name: amount_per_area, dtype: int64
6 343    0
Name: amount_per_area, dtype: int64
6 824    0
Name: amount_per_area, dtype: int64
6 1305    0
Name: amount_per_area, dtype: int64
620 344    587
Name: amount_per_area, dtype: int64
620 825    423
Name: amount_per_area, dtype: int64
620 1306    342
Name: amount_per_area, dtype: int64
620 344    587
Name: amount_per_area, dtype: int64
620 825    423
Name: amount_per_area, dtype: int64
620 1306    342
Name: amount_per_area, dtype: int64
843 345    270
Name: amount_per_area, dtype: int64
843 826    356
Name: amount_per_area, dtype: int64
843 1307    613
Name: amount_per_area, dtype: int64
843 345    270
Name: amount_per_area, dtype: int64
843 826    356
Name: amount_per_area, dtype: int64
843 1307    613
Name: amount_per_area, dtype: int64
654 346    291
Name: amount_per_area, dtype: int64
654 827    383
Name: amount_per_area, dtype: int64
654 1308    488
Name: amount_per_area, dtype: int64
654 346    291
Name: amount_per_area, dtype: int64
654 827    383
Name: amount_per_area, dtype: int64
654 1308    488
Name: amount_per_area, dtype: int64
409 347    534
Name: amount_per_area, dtype: int64
409 828    519
Name: amount_per_area, dtype: int64
409 1309    430
Name: amount_per_area, dtype: int64
409 347    534
Name: amount_per_area, dtype: int64
409 828    519
Name: amount_per_area, dtype: int64
409 1309    430
Name: amount_per_area, dtype: int64
1904 348    299
Name: amount_per_area, dtype: int64
1904 829    624
Name: amount_per_area, dtype: int64
1904 1310    1791
Name: amount_per_area, dtype: int64
1904 348    299
Name: amount_per_area, dtype: int64
1904 829    624
Name: amount_per_area, dtype: int64
1904 1310    1791
Name: amount_per_area, dtype: int64
2002 349    386
Name: amount_per_area, dtype: int64
2002 830    716
Name: amount_per_area, dtype: int64
2002 1311    1680
Name: amount_per_area, dtype: int64
2002 349    386
Name: amount_per_area, dtype: int64
2002 830    716
Name: amount_per_area, dtype: int64
2002 1311    1680
Name: amount_per_area, dtype: int64
1590 350    250
Name: amount_per_area, dtype: int64
1590 831    545
Name: amount_per_area, dtype: int64
1590 1312    1474
Name: amount_per_area, dtype: int64
1590 350    250
Name: amount_per_area, dtype: int64
1590 831    545
Name: amount_per_area, dtype: int64
1590 1312    1474
Name: amount_per_area, dtype: int64
220 351    30
Name: amount_per_area, dtype: int64
220 832    78
Name: amount_per_area, dtype: int64
220 1313    160
Name: amount_per_area, dtype: int64
220 351    30
Name: amount_per_area, dtype: int64
220 832    78
Name: amount_per_area, dtype: int64
220 1313    160
Name: amount_per_area, dtype: int64
54 352    0
Name: amount_per_area, dtype: int64
54 833    0
Name: amount_per_area, dtype: int64
54 1314    0
Name: amount_per_area, dtype: int64

54 352    0
Name: amount_per_area, dtype: int64
54 833    0
Name: amount_per_area, dtype: int64
54 1314    0
Name: amount_per_area, dtype: int64
709 353    226
Name: amount_per_area, dtype: int64
709 834    391
Name: amount_per_area, dtype: int64
709 1315    569
Name: amount_per_area, dtype: int64
709 353    226
Name: amount_per_area, dtype: int64
709 834    391
Name: amount_per_area, dtype: int64
709 1315    569
Name: amount_per_area, dtype: int64
0 354    0
Name: amount_per_area, dtype: int64
0 835    0
Name: amount_per_area, dtype: int64
0 1316    0
Name: amount_per_area, dtype: int64
0 354    0
Name: amount_per_area, dtype: int64
0 835    0
Name: amount_per_area, dtype: int64
0 1316    0
Name: amount_per_area, dtype: int64
498 355    24
Name: amount_per_area, dtype: int64
498 836    599
Name: amount_per_area, dtype: int64
498 1317    552
Name: amount_per_area, dtype: int64
498 355    24
Name: amount_per_area, dtype: int64
498 836    599
Name: amount_per_area, dtype: int64
498 1317    552
Name: amount_per_area, dtype: int64
19 356    0
Name: amount_per_area, dtype: int64
19 837    0
Name: amount_per_area, dtype: int64
19 1318    0
Name: amount_per_area, dtype: int64
19 356    0
Name: amount_per_area, dtype: int64
19 837    0
Name: amount_per_area, dtype: int64
19 1318    0
Name: amount_per_area, dtype: int64
789 357    401
Name: amount_per_area, dtype: int64
789 838    427
Name: amount_per_area, dtype: int64
789 1319    465
Name: amount_per_area, dtype: int64
789 357    401
Name: amount_per_area, dtype: int64
789 838    427
Name: amount_per_area, dtype: int64
789 1319    465
Name: amount_per_area, dtype: int64
2 358    0
Name: amount_per_area, dtype: int64
2 839    0
Name: amount_per_area, dtype: int64
2 1320    0
Name: amount_per_area, dtype: int64
2 358    0
Name: amount_per_area, dtype: int64
2 839    0
Name: amount_per_area, dtype: int64
2 1320    0
Name: amount_per_area, dtype: int64
0 359    0
Name: amount_per_area, dtype: int64
0 840    0
Name: amount_per_area, dtype: int64
0 1321    0
Name: amount_per_area, dtype: int64
0 359    0
Name: amount_per_area, dtype: int64
0 840    0
Name: amount_per_area, dtype: int64
0 1321    0
Name: amount_per_area, dtype: int64
270 360    66
Name: amount_per_area, dtype: int64
270 841    212
Name: amount_per_area, dtype: int64
270 1322    267
Name: amount_per_area, dtype: int64
270 360    66
Name: amount_per_area, dtype: int64
270 841    212
Name: amount_per_area, dtype: int64
270 1322    267
Name: amount_per_area, dtype: int64
24 361    0
Name: amount_per_area, dtype: int64
24 842    0
Name: amount_per_area, dtype: int64
24 1323    0
Name: amount_per_area, dtype: int64
24 361    0
Name: amount_per_area, dtype: int64
24 842    0
Name: amount_per_area, dtype: int64
24 1323    0
Name: amount_per_area, dtype: int64
6 362    0
Name: amount_per_area, dtype: int64
6 843    0
Name: amount_per_area, dtype: int64
6 1324    0
Name: amount_per_area, dtype: int64
6 362    0
Name: amount_per_area, dtype: int64
6 843    0
Name: amount_per_area, dtype: int64
6 1324    0
Name: amount_per_area, dtype: int64
752 363    57
Name: amount_per_area, dtype: int64
752 844    306
Name: amount_per_area, dtype: int64
752 1325    770
Name: amount_per_area, dtype: int64
752 363    57
Name: amount_per_area, dtype: int64
752 844    306
Name: amount_per_area, dtype: int64
752 1325    770
Name: amount_per_area, dtype: int64
534 364    68
Name: amount_per_area, dtype: int64
534 845    148
Name: amount_per_area, dtype: int64
534 1326    918
Name: amount_per_area, dtype: int64
534 364    68
Name: amount_per_area, dtype: int64
534 845    148
Name: amount_per_area, dtype: int64
534 1326    918
Name: amount_per_area, dtype: int64
16 365    0
Name: amount_per_area, dtype: int64
16 846    0
Name: amount_per_area, dtype: int64
16 1327    0
Name: amount_per_area, dtype: int64
16 365    0
Name: amount_per_area, dtype: int64
16 846    0
Name: amount_per_area, dtype: int64
16 1327    0
Name: amount_per_area, dtype: int64
296 366    18
Name: amount_per_area, dtype: int64
296 847    308
Name: amount_per_area, dtype: int64
296 1328    266
Name: amount_per_area, dtype: int64
296 366    18
Name: amount_per_area, dtype: int64
296 847    308
Name: amount_per_area, dtype: int64
296 1328    266
Name: amount_per_area, dtype: int64
664 367    636
Name: amount_per_area, dtype: int64
664 848    602
Name: amount_per_area, dtype: int64
664 1329    482
Name: amount_per_area, dtype: int64
664 367    636
Name: amount_per_area, dtype: int64
664 848    602
Name: amount_per_area, dtype: int64
664 1329    482
Name: amount_per_area, dtype: int64
596 368    438
Name: amount_per_area, dtype: int64
596 849    403
Name: amount_per_area, dtype: int64
596 1330    332
Name: amount_per_area, dtype: int64
596 368    438
Name: amount_per_area, dtype: int64
596 849    403
Name: amount_per_area, dtype: int64
596 1330    332
Name: amount_per_area, dtype: int64
770 369    458
Name: amount_per_area, dtype: int64
770 850    396
Name: amount_per_area, dtype: int64
770 1331    384
Name: amount_per_area, dtype: int64
770 369    458
Name: amount_per_area, dtype: int64
770 850    396
Name: amount_per_area, dtype: int64
770 1331    384
Name: amount_per_area, dtype: int64
909 370    725
Name: amount_per_area, dtype: int64
909 851    791
Name: amount_per_area, dtype: int64
909 1332    659
Name: amount_per_area, dtype: int64
909 370    725
Name: amount_per_area, dtype: int64
909 851    791
Name: amount_per_area, dtype: int64
909 1332    659
Name: amount_per_area, dtype: int64
879 371    814
Name: amount_per_area, dtype: int64
879 852    791
Name: amount_per_area, dtype: int64
879 1333    721
Name: amount_per_area, dtype: int64
879 371    814
Name: amount_per_area, dtype: int64
879 852    791
Name: amount_per_area, dtype: int64
879 1333    721
Name: amount_per_area, dtype: int64
379 372    236
Name: amount_per_area, dtype: int64
379 853    259
Name: amount_per_area, dtype: int64
379 1334    267
Name: amount_per_area, dtype: int64
379 372    236
Name: amount_per_area, dtype: int64
379 853    259
Name: amount_per_area, dtype: int64
379 1334    267
Name: amount_per_area, dtype: int64
61 373    17
Name: amount_per_area, dtype: int64
61 854    27
Name: amount_per_area, dtype: int64
61 1335    44
Name: amount_per_area, dtype: int64
61 373    17
Name: amount_per_area, dtype: int64
61 854    27
Name: amount_per_area, dtype: int64
61 1335    44
Name: amount_per_area, dtype: int64
1163 374    567
Name: amount_per_area, dtype: int64
1163 855    632
Name: amount_per_area, dtype: int64
1163 1336    422
Name: amount_per_area, dtype: int64
1163 374    567
Name: amount_per_area, dtype: int64
1163 855    632
Name: amount_per_area, dtype: int64
1163 1336    422
Name: amount_per_area, dtype: int64
1032 375    409
Name: amount_per_area, dtype: int64
1032 856    477
Name: amount_per_area, dtype: int64
1032 1337    477
Name: amount_per_area, dtype: int64
1032 375    409
Name: amount_per_area, dtype: int64
1032 856    477
Name: amount_per_area, dtype: int64
1032 1337    477
Name: amount_per_area, dtype: int64
1318 376    813
Name: amount_per_area, dtype: int64
1318 857    697
Name: amount_per_area, dtype: int64
1318 1338    426
Name: amount_per_area, dtype: int64
1318 376    813
Name: amount_per_area, dtype: int64
1318 857    697
Name: amount_per_area, dtype: int64
1318 1338    426
Name: amount_per_area, dtype: int64
0 377    0
Name: amount_per_area, dtype: int64
0 858    0
Name: amount_per_area, dtype: int64
0 1339    0
Name: amount_per_area, dtype: int64
0 377    0
Name: amount_per_area, dtype: int64
0 858    0
Name: amount_per_area, dtype: int64
0 1339    0
Name: amount_per_area, dtype: int64
0 378    0
Name: amount_per_area, dtype: int64
0 859    0
Name: amount_per_area, dtype: int64
0 1340    0
Name: amount_per_area, dtype: int64
0 378    0
Name: amount_per_area, dtype: int64
0 859    0
Name: amount_per_area, dtype: int64
0 1340    0
Name: amount_per_area, dtype: int64
1476 379    238
Name: amount_per_area, dtype: int64
1476 860    402
Name: amount_per_area, dtype: int64
1476 1341    1186
Name: amount_per_area, dtype: int64
1476 379    238
Name: amount_per_area, dtype: int64
1476 860    402
Name: amount_per_area, dtype: int64
1476 1341    1186
Name: amount_per_area, dtype: int64
729 380    124
Name: amount_per_area, dtype: int64
729 861    229
Name: amount_per_area, dtype: int64
729 1342    601
Name: amount_per_area, dtype: int64
729 380    124
Name: amount_per_area, dtype: int64
729 861    229
Name: amount_per_area, dtype: int64
729 1342    601
Name: amount_per_area, dtype: int64
6 381    0
Name: amount_per_area, dtype: int64
6 862    0
Name: amount_per_area, dtype: int64
6 1343    0
Name: amount_per_area, dtype: int64
6 381    0
Name: amount_per_area, dtype: int64
6 862    0
Name: amount_per_area, dtype: int64
6 1343    0
Name: amount_per_area, dtype: int64
830 382    451
Name: amount_per_area, dtype: int64
830 863    511
Name: amount_per_area, dtype: int64
830 1344    226
Name: amount_per_area, dtype: int64
830 382    451
Name: amount_per_area, dtype: int64
830 863    511
Name: amount_per_area, dtype: int64
830 1344    226
Name: amount_per_area, dtype: int64
1036 383    526
Name: amount_per_area, dtype: int64
1036 864    555
Name: amount_per_area, dtype: int64
1036 1345    380
Name: amount_per_area, dtype: int64
1036 383    526
Name: amount_per_area, dtype: int64
1036 864    555
Name: amount_per_area, dtype: int64
1036 1345    380
Name: amount_per_area, dtype: int64
596 384    388
Name: amount_per_area, dtype: int64
596 865    420
Name: amount_per_area, dtype: int64
596 1346    259
Name: amount_per_area, dtype: int64
596 384    388
Name: amount_per_area, dtype: int64
596 865    420
Name: amount_per_area, dtype: int64
596 1346    259
Name: amount_per_area, dtype: int64
815 385    394
Name: amount_per_area, dtype: int64
815 866    442
Name: amount_per_area, dtype: int64
815 1347    741
Name: amount_per_area, dtype: int64
815 385    394
Name: amount_per_area, dtype: int64
815 866    442
Name: amount_per_area, dtype: int64
815 1347    741
Name: amount_per_area, dtype: int64
134 386    33
Name: amount_per_area, dtype: int64
134 867    53
Name: amount_per_area, dtype: int64
134 1348    80
Name: amount_per_area, dtype: int64
134 386    33
Name: amount_per_area, dtype: int64
134 867    53
Name: amount_per_area, dtype: int64
134 1348    80
Name: amount_per_area, dtype: int64
299 387    141
Name: amount_per_area, dtype: int64
299 868    256
Name: amount_per_area, dtype: int64
299 1349    126
Name: amount_per_area, dtype: int64
299 387    141
Name: amount_per_area, dtype: int64
299 868    256
Name: amount_per_area, dtype: int64
299 1349    126
Name: amount_per_area, dtype: int64
801 388    304
Name: amount_per_area, dtype: int64
801 869    455
Name: amount_per_area, dtype: int64
801 1350    408
Name: amount_per_area, dtype: int64
801 388    304
Name: amount_per_area, dtype: int64
801 869    455
Name: amount_per_area, dtype: int64
801 1350    408
Name: amount_per_area, dtype: int64
29 389    7
Name: amount_per_area, dtype: int64
29 870    14
Name: amount_per_area, dtype: int64
29 1351    14
Name: amount_per_area, dtype: int64
29 389    7
Name: amount_per_area, dtype: int64
29 870    14
Name: amount_per_area, dtype: int64
29 1351    14
Name: amount_per_area, dtype: int64
728 390    853
Name: amount_per_area, dtype: int64
728 871    758
Name: amount_per_area, dtype: int64
728 1352    285
Name: amount_per_area, dtype: int64
728 390    853
Name: amount_per_area, dtype: int64
728 871    758
Name: amount_per_area, dtype: int64
728 1352    285
Name: amount_per_area, dtype: int64
936 391    471
Name: amount_per_area, dtype: int64
936 872    728
Name: amount_per_area, dtype: int64
936 1353    304
Name: amount_per_area, dtype: int64
936 391    471
Name: amount_per_area, dtype: int64
936 872    728
Name: amount_per_area, dtype: int64
936 1353    304
Name: amount_per_area, dtype: int64
246 392    61
Name: amount_per_area, dtype: int64
246 873    111
Name: amount_per_area, dtype: int64
246 1354    164
Name: amount_per_area, dtype: int64

246 392    61
Name: amount_per_area, dtype: int64
246 873    111
Name: amount_per_area, dtype: int64
246 1354    164
Name: amount_per_area, dtype: int64
708 393    363
Name: amount_per_area, dtype: int64
708 874    470
Name: amount_per_area, dtype: int64
708 1355    224
Name: amount_per_area, dtype: int64
708 393    363
Name: amount_per_area, dtype: int64
708 874    470
Name: amount_per_area, dtype: int64
708 1355    224
Name: amount_per_area, dtype: int64
483 394    226
Name: amount_per_area, dtype: int64
483 875    338
Name: amount_per_area, dtype: int64
483 1356    376
Name: amount_per_area, dtype: int64
483 394    226
Name: amount_per_area, dtype: int64
483 875    338
Name: amount_per_area, dtype: int64
483 1356    376
Name: amount_per_area, dtype: int64
340 395    75
Name: amount_per_area, dtype: int64
340 876    196
Name: amount_per_area, dtype: int64
340 1357    305
Name: amount_per_area, dtype: int64
340 395    75
Name: amount_per_area, dtype: int64
340 876    196
Name: amount_per_area, dtype: int64
340 1357    305
Name: amount_per_area, dtype: int64
770 396    936
Name: amount_per_area, dtype: int64
770 877    912
Name: amount_per_area, dtype: int64
770 1358    552
Name: amount_per_area, dtype: int64
770 396    936
Name: amount_per_area, dtype: int64
770 877    912
Name: amount_per_area, dtype: int64
770 1358    552
Name: amount_per_area, dtype: int64
385 397    663
Name: amount_per_area, dtype: int64
385 878    615
Name: amount_per_area, dtype: int64
385 1359    300
Name: amount_per_area, dtype: int64
385 397    663
Name: amount_per_area, dtype: int64
385 878    615
Name: amount_per_area, dtype: int64
385 1359    300
Name: amount_per_area, dtype: int64
365 398    770
Name: amount_per_area, dtype: int64
365 879    653
Name: amount_per_area, dtype: int64
365 1360    251
Name: amount_per_area, dtype: int64
365 398    770
Name: amount_per_area, dtype: int64
365 879    653
Name: amount_per_area, dtype: int64
365 1360    251
Name: amount_per_area, dtype: int64
492 399    631
Name: amount_per_area, dtype: int64
492 880    499
Name: amount_per_area, dtype: int64
492 1361    353
Name: amount_per_area, dtype: int64
492 399    631
Name: amount_per_area, dtype: int64
492 880    499
Name: amount_per_area, dtype: int64
492 1361    353
Name: amount_per_area, dtype: int64
153 400    31
Name: amount_per_area, dtype: int64
153 881    86
Name: amount_per_area, dtype: int64
153 1362    117
Name: amount_per_area, dtype: int64
153 400    31
Name: amount_per_area, dtype: int64
153 881    86
Name: amount_per_area, dtype: int64
153 1362    117
Name: amount_per_area, dtype: int64
790 401    509
Name: amount_per_area, dtype: int64
790 882    678
Name: amount_per_area, dtype: int64
790 1363    509
Name: amount_per_area, dtype: int64
790 401    509
Name: amount_per_area, dtype: int64
790 882    678
Name: amount_per_area, dtype: int64
790 1363    509
Name: amount_per_area, dtype: int64
396 402    204
Name: amount_per_area, dtype: int64
396 883    324
Name: amount_per_area, dtype: int64
396 1364    226
Name: amount_per_area, dtype: int64
396 402    204
Name: amount_per_area, dtype: int64
396 883    324
Name: amount_per_area, dtype: int64
396 1364    226
Name: amount_per_area, dtype: int64
622 403    758
Name: amount_per_area, dtype: int64
622 884    718
Name: amount_per_area, dtype: int64
622 1365    519
Name: amount_per_area, dtype: int64
622 403    758
Name: amount_per_area, dtype: int64
622 884    718
Name: amount_per_area, dtype: int64
622 1365    519
Name: amount_per_area, dtype: int64
549 404    1076
Name: amount_per_area, dtype: int64
549 885    781
Name: amount_per_area, dtype: int64
549 1366    254
Name: amount_per_area, dtype: int64
549 404    1076
Name: amount_per_area, dtype: int64
549 885    781
Name: amount_per_area, dtype: int64
549 1366    254
Name: amount_per_area, dtype: int64
557 405    162
Name: amount_per_area, dtype: int64
557 886    544
Name: amount_per_area, dtype: int64
557 1367    302
Name: amount_per_area, dtype: int64
557 405    162
Name: amount_per_area, dtype: int64
557 886    544
Name: amount_per_area, dtype: int64
557 1367    302
Name: amount_per_area, dtype: int64
597 406    869
Name: amount_per_area, dtype: int64
597 887    715
Name: amount_per_area, dtype: int64
597 1368    367
Name: amount_per_area, dtype: int64
597 406    869
Name: amount_per_area, dtype: int64
597 887    715
Name: amount_per_area, dtype: int64
597 1368    367
Name: amount_per_area, dtype: int64
598 407    409
Name: amount_per_area, dtype: int64
598 888    473
Name: amount_per_area, dtype: int64
598 1369    396
Name: amount_per_area, dtype: int64
598 407    409
Name: amount_per_area, dtype: int64
598 888    473
Name: amount_per_area, dtype: int64
598 1369    396
Name: amount_per_area, dtype: int64
443 408    686
Name: amount_per_area, dtype: int64
443 889    640
Name: amount_per_area, dtype: int64
443 1370    198
Name: amount_per_area, dtype: int64
443 408    686
Name: amount_per_area, dtype: int64
443 889    640
Name: amount_per_area, dtype: int64
443 1370    198
Name: amount_per_area, dtype: int64
578 409    687
Name: amount_per_area, dtype: int64
578 890    623
Name: amount_per_area, dtype: int64
578 1371    288
Name: amount_per_area, dtype: int64
578 409    687
Name: amount_per_area, dtype: int64
578 890    623
Name: amount_per_area, dtype: int64
578 1371    288
Name: amount_per_area, dtype: int64
528 410    78
Name: amount_per_area, dtype: int64
528 891    198
Name: amount_per_area, dtype: int64
528 1372    431
Name: amount_per_area, dtype: int64
528 410    78
Name: amount_per_area, dtype: int64
528 891    198
Name: amount_per_area, dtype: int64
528 1372    431
Name: amount_per_area, dtype: int64
0 411    0
Name: amount_per_area, dtype: int64
0 892    0
Name: amount_per_area, dtype: int64
0 1373    0
Name: amount_per_area, dtype: int64
0 411    0
Name: amount_per_area, dtype: int64
0 892    0
Name: amount_per_area, dtype: int64
0 1373    0
Name: amount_per_area, dtype: int64
207 412    24
Name: amount_per_area, dtype: int64
207 893    67
Name: amount_per_area, dtype: int64
207 1374    200
Name: amount_per_area, dtype: int64
207 412    24
Name: amount_per_area, dtype: int64
207 893    67
Name: amount_per_area, dtype: int64
207 1374    200
Name: amount_per_area, dtype: int64
0 413    0
Name: amount_per_area, dtype: int64
0 894    0
Name: amount_per_area, dtype: int64
0 1375    0
Name: amount_per_area, dtype: int64
0 413    0
Name: amount_per_area, dtype: int64
0 894    0
Name: amount_per_area, dtype: int64
0 1375    0
Name: amount_per_area, dtype: int64
342 414    36
Name: amount_per_area, dtype: int64
342 895    375
Name: amount_per_area, dtype: int64
342 1376    310
Name: amount_per_area, dtype: int64
342 414    36
Name: amount_per_area, dtype: int64
342 895    375
Name: amount_per_area, dtype: int64
342 1376    310
Name: amount_per_area, dtype: int64
48 415    0
Name: amount_per_area, dtype: int64
48 896    0
Name: amount_per_area, dtype: int64
48 1377    0
Name: amount_per_area, dtype: int64
48 415    0
Name: amount_per_area, dtype: int64
48 896    0
Name: amount_per_area, dtype: int64
48 1377    0
Name: amount_per_area, dtype: int64
518 416    72
Name: amount_per_area, dtype: int64
518 897    184
Name: amount_per_area, dtype: int64
518 1378    543
Name: amount_per_area, dtype: int64
518 416    72
Name: amount_per_area, dtype: int64
518 897    184
Name: amount_per_area, dtype: int64
518 1378    543
Name: amount_per_area, dtype: int64
48 417    23
Name: amount_per_area, dtype: int64
48 898    63
Name: amount_per_area, dtype: int64
48 1379    76
Name: amount_per_area, dtype: int64
48 417    23
Name: amount_per_area, dtype: int64
48 898    63
Name: amount_per_area, dtype: int64
48 1379    76
Name: amount_per_area, dtype: int64
4 418    0
Name: amount_per_area, dtype: int64
4 899    0
Name: amount_per_area, dtype: int64
4 1380    0
Name: amount_per_area, dtype: int64
4 418    0
Name: amount_per_area, dtype: int64
4 899    0
Name: amount_per_area, dtype: int64
4 1380    0
Name: amount_per_area, dtype: int64
35 419    0
Name: amount_per_area, dtype: int64
35 900    0
Name: amount_per_area, dtype: int64
35 1381    0
Name: amount_per_area, dtype: int64
35 419    0
Name: amount_per_area, dtype: int64
35 900    0
Name: amount_per_area, dtype: int64
35 1381    0
Name: amount_per_area, dtype: int64
66 420    0
Name: amount_per_area, dtype: int64
66 901    0
Name: amount_per_area, dtype: int64
66 1382    0
Name: amount_per_area, dtype: int64
66 420    0
Name: amount_per_area, dtype: int64
66 901    0
Name: amount_per_area, dtype: int64
66 1382    0
Name: amount_per_area, dtype: int64
132 421    18
Name: amount_per_area, dtype: int64
132 902    44
Name: amount_per_area, dtype: int64
132 1383    100
Name: amount_per_area, dtype: int64
132 421    18
Name: amount_per_area, dtype: int64
132 902    44
Name: amount_per_area, dtype: int64
132 1383    100
Name: amount_per_area, dtype: int64
3 422    0
Name: amount_per_area, dtype: int64
3 903    0
Name: amount_per_area, dtype: int64
3 1384    0
Name: amount_per_area, dtype: int64
3 422    0
Name: amount_per_area, dtype: int64
3 903    0
Name: amount_per_area, dtype: int64
3 1384    0
Name: amount_per_area, dtype: int64
30 423    6
Name: amount_per_area, dtype: int64
30 904    10
Name: amount_per_area, dtype: int64
30 1385    21
Name: amount_per_area, dtype: int64
30 423    6
Name: amount_per_area, dtype: int64
30 904    10
Name: amount_per_area, dtype: int64
30 1385    21
Name: amount_per_area, dtype: int64
3 424    0
Name: amount_per_area, dtype: int64
3 905    0
Name: amount_per_area, dtype: int64
3 1386    0
Name: amount_per_area, dtype: int64
3 424    0
Name: amount_per_area, dtype: int64
3 905    0
Name: amount_per_area, dtype: int64
3 1386    0
Name: amount_per_area, dtype: int64
27 425    5
Name: amount_per_area, dtype: int64
27 906    10
Name: amount_per_area, dtype: int64
27 1387    17
Name: amount_per_area, dtype: int64
27 425    5
Name: amount_per_area, dtype: int64
27 906    10
Name: amount_per_area, dtype: int64
27 1387    17
Name: amount_per_area, dtype: int64
6 426    1
Name: amount_per_area, dtype: int64
6 907    3
Name: amount_per_area, dtype: int64
6 1388    3
Name: amount_per_area, dtype: int64
6 426    1
Name: amount_per_area, dtype: int64
6 907    3
Name: amount_per_area, dtype: int64
6 1388    3
Name: amount_per_area, dtype: int64

10 427    3
Name: amount_per_area, dtype: int64
10 908    4
Name: amount_per_area, dtype: int64
10 1389    5
Name: amount_per_area, dtype: int64
10 427    3
Name: amount_per_area, dtype: int64
10 908    4
Name: amount_per_area, dtype: int64
10 1389    5
Name: amount_per_area, dtype: int64
2 428    0
Name: amount_per_area, dtype: int64
2 909    0
Name: amount_per_area, dtype: int64
2 1390    0
Name: amount_per_area, dtype: int64
2 428    0
Name: amount_per_area, dtype: int64
2 909    0
Name: amount_per_area, dtype: int64
2 1390    0
Name: amount_per_area, dtype: int64
3 429    0
Name: amount_per_area, dtype: int64
3 910    0
Name: amount_per_area, dtype: int64
3 1391    0
Name: amount_per_area, dtype: int64
3 429    0
Name: amount_per_area, dtype: int64
3 910    0
Name: amount_per_area, dtype: int64
3 1391    0
Name: amount_per_area, dtype: int64
0 430    0
Name: amount_per_area, dtype: int64
0 911    0
Name: amount_per_area, dtype: int64
0 1392    0
Name: amount_per_area, dtype: int64
0 430    0
Name: amount_per_area, dtype: int64
0 911    0
Name: amount_per_area, dtype: int64
0 1392    0
Name: amount_per_area, dtype: int64
85 431    45
Name: amount_per_area, dtype: int64
85 912    80
Name: amount_per_area, dtype: int64
85 1393    80
Name: amount_per_area, dtype: int64
85 431    45
Name: amount_per_area, dtype: int64
85 912    80
Name: amount_per_area, dtype: int64
85 1393    80
Name: amount_per_area, dtype: int64
490 432    165
Name: amount_per_area, dtype: int64
490 913    293
Name: amount_per_area, dtype: int64
490 1394    458
Name: amount_per_area, dtype: int64
490 432    165
Name: amount_per_area, dtype: int64
490 913    293
Name: amount_per_area, dtype: int64
490 1394    458
Name: amount_per_area, dtype: int64
0 433    0
Name: amount_per_area, dtype: int64
0 914    0
Name: amount_per_area, dtype: int64
0 1395    0
Name: amount_per_area, dtype: int64
0 433    0
Name: amount_per_area, dtype: int64
0 914    0
Name: amount_per_area, dtype: int64
0 1395    0
Name: amount_per_area, dtype: int64
2 434    0
Name: amount_per_area, dtype: int64
2 915    0
Name: amount_per_area, dtype: int64
2 1396    0
Name: amount_per_area, dtype: int64
2 434    0
Name: amount_per_area, dtype: int64
2 915    0
Name: amount_per_area, dtype: int64
2 1396    0
Name: amount_per_area, dtype: int64
1 435    0
Name: amount_per_area, dtype: int64
1 916    0
Name: amount_per_area, dtype: int64
1 1397    0
Name: amount_per_area, dtype: int64
1 435    0
Name: amount_per_area, dtype: int64
1 916    0
Name: amount_per_area, dtype: int64
1 1397    0
Name: amount_per_area, dtype: int64
102 436    7
Name: amount_per_area, dtype: int64
102 917    138
Name: amount_per_area, dtype: int64
102 1398    68
Name: amount_per_area, dtype: int64
102 436    7
Name: amount_per_area, dtype: int64
102 917    138
Name: amount_per_area, dtype: int64
102 1398    68
Name: amount_per_area, dtype: int64
0 437    0
Name: amount_per_area, dtype: int64
0 918    0
Name: amount_per_area, dtype: int64
0 1399    0
Name: amount_per_area, dtype: int64
0 437    0
Name: amount_per_area, dtype: int64
0 918    0
Name: amount_per_area, dtype: int64
0 1399    0
Name: amount_per_area, dtype: int64
2 438    0
Name: amount_per_area, dtype: int64
2 919    0
Name: amount_per_area, dtype: int64
2 1400    0
Name: amount_per_area, dtype: int64
2 438    0
Name: amount_per_area, dtype: int64
2 919    0
Name: amount_per_area, dtype: int64
2 1400    0
Name: amount_per_area, dtype: int64
11 439    10
Name: amount_per_area, dtype: int64
11 920    6
Name: amount_per_area, dtype: int64
11 1401    3
Name: amount_per_area, dtype: int64
11 439    10
Name: amount_per_area, dtype: int64
11 920    6
Name: amount_per_area, dtype: int64
11 1401    3
Name: amount_per_area, dtype: int64
378 440    825
Name: amount_per_area, dtype: int64
378 921    784
Name: amount_per_area, dtype: int64
378 1402    402
Name: amount_per_area, dtype: int64
378 440    825
Name: amount_per_area, dtype: int64
378 921    784
Name: amount_per_area, dtype: int64
378 1402    402
Name: amount_per_area, dtype: int64
348 441    710
Name: amount_per_area, dtype: int64
348 922    787
Name: amount_per_area, dtype: int64
348 1403    422
Name: amount_per_area, dtype: int64
348 441    710
Name: amount_per_area, dtype: int64
348 922    787
Name: amount_per_area, dtype: int64
348 1403    422
Name: amount_per_area, dtype: int64
342 442    168
Name: amount_per_area, dtype: int64
342 923    812
Name: amount_per_area, dtype: int64
342 1404    310
Name: amount_per_area, dtype: int64
342 442    168
Name: amount_per_area, dtype: int64
342 923    812
Name: amount_per_area, dtype: int64
342 1404    310
Name: amount_per_area, dtype: int64
437 443    1167
Name: amount_per_area, dtype: int64
437 924    1167
Name: amount_per_area, dtype: int64
437 1405    737
Name: amount_per_area, dtype: int64
437 443    1167
Name: amount_per_area, dtype: int64
437 924    1167
Name: amount_per_area, dtype: int64
437 1405    737
Name: amount_per_area, dtype: int64
65 444    297
Name: amount_per_area, dtype: int64
65 925    220
Name: amount_per_area, dtype: int64
65 1406    78
Name: amount_per_area, dtype: int64
65 444    297
Name: amount_per_area, dtype: int64
65 925    220
Name: amount_per_area, dtype: int64
65 1406    78
Name: amount_per_area, dtype: int64
262 445    509
Name: amount_per_area, dtype: int64
262 926    664
Name: amount_per_area, dtype: int64
262 1407    240
Name: amount_per_area, dtype: int64
262 445    509
Name: amount_per_area, dtype: int64
262 926    664
Name: amount_per_area, dtype: int64
262 1407    240
Name: amount_per_area, dtype: int64
297 446    1454
Name: amount_per_area, dtype: int64
297 927    960
Name: amount_per_area, dtype: int64
297 1408    330
Name: amount_per_area, dtype: int64
297 446    1454
Name: amount_per_area, dtype: int64
297 927    960
Name: amount_per_area, dtype: int64
297 1408    330
Name: amount_per_area, dtype: int64
260 447    750
Name: amount_per_area, dtype: int64
260 928    633
Name: amount_per_area, dtype: int64
260 1409    300
Name: amount_per_area, dtype: int64
260 447    750
Name: amount_per_area, dtype: int64
260 928    633
Name: amount_per_area, dtype: int64
260 1409    300
Name: amount_per_area, dtype: int64
129 448    93
Name: amount_per_area, dtype: int64
129 929    96
Name: amount_per_area, dtype: int64
129 1410    128
Name: amount_per_area, dtype: int64
129 448    93
Name: amount_per_area, dtype: int64
129 929    96
Name: amount_per_area, dtype: int64
129 1410    128
Name: amount_per_area, dtype: int64
241 449    540
Name: amount_per_area, dtype: int64
241 930    827
Name: amount_per_area, dtype: int64
241 1411    432
Name: amount_per_area, dtype: int64
241 449    540
Name: amount_per_area, dtype: int64
241 930    827
Name: amount_per_area, dtype: int64
241 1411    432
Name: amount_per_area, dtype: int64
0 450    0
Name: amount_per_area, dtype: int64
0 931    0
Name: amount_per_area, dtype: int64
0 1412    0
Name: amount_per_area, dtype: int64
0 450    0
Name: amount_per_area, dtype: int64
0 931    0
Name: amount_per_area, dtype: int64
0 1412    0
Name: amount_per_area, dtype: int64
278 451    311
Name: amount_per_area, dtype: int64
278 932    560
Name: amount_per_area, dtype: int64
278 1413    374
Name: amount_per_area, dtype: int64
278 451    311
Name: amount_per_area, dtype: int64
278 932    560
Name: amount_per_area, dtype: int64
278 1413    374
Name: amount_per_area, dtype: int64
235 452    551
Name: amount_per_area, dtype: int64
235 933    697
Name: amount_per_area, dtype: int64
235 1414    389
Name: amount_per_area, dtype: int64
235 452    551
Name: amount_per_area, dtype: int64
235 933    697
Name: amount_per_area, dtype: int64
235 1414    389
Name: amount_per_area, dtype: int64
344 453    1565
Name: amount_per_area, dtype: int64
344 934    922
Name: amount_per_area, dtype: int64
344 1415    280
Name: amount_per_area, dtype: int64
344 453    1565
Name: amount_per_area, dtype: int64
344 934    922
Name: amount_per_area, dtype: int64
344 1415    280
Name: amount_per_area, dtype: int64
429 454    974
Name: amount_per_area, dtype: int64
429 935    909
Name: amount_per_area, dtype: int64
429 1416    282
Name: amount_per_area, dtype: int64

429 454    974
Name: amount_per_area, dtype: int64
429 935    909
Name: amount_per_area, dtype: int64
429 1416    282
Name: amount_per_area, dtype: int64
231 455    359
Name: amount_per_area, dtype: int64
231 936    351
Name: amount_per_area, dtype: int64
231 1417    126
Name: amount_per_area, dtype: int64
231 455    359
Name: amount_per_area, dtype: int64
231 936    351
Name: amount_per_area, dtype: int64
231 1417    126
Name: amount_per_area, dtype: int64
468 456    1072
Name: amount_per_area, dtype: int64
468 937    1098
Name: amount_per_area, dtype: int64
468 1418    445
Name: amount_per_area, dtype: int64
468 456    1072
Name: amount_per_area, dtype: int64
468 937    1098
Name: amount_per_area, dtype: int64
468 1418    445
Name: amount_per_area, dtype: int64
233 457    382
Name: amount_per_area, dtype: int64
233 938    534
Name: amount_per_area, dtype: int64
233 1419    344
Name: amount_per_area, dtype: int64
233 457    382
Name: amount_per_area, dtype: int64
233 938    534
Name: amount_per_area, dtype: int64
233 1419    344
Name: amount_per_area, dtype: int64
246 458    601
Name: amount_per_area, dtype: int64
246 939    696
Name: amount_per_area, dtype: int64
246 1420    285
Name: amount_per_area, dtype: int64
246 458    601
Name: amount_per_area, dtype: int64
246 939    696
Name: amount_per_area, dtype: int64
246 1420    285
Name: amount_per_area, dtype: int64
349 459    859
Name: amount_per_area, dtype: int64
349 940    1061
Name: amount_per_area, dtype: int64
349 1421    581
Name: amount_per_area, dtype: int64
349 459    859
Name: amount_per_area, dtype: int64
349 940    1061
Name: amount_per_area, dtype: int64
349 1421    581
Name: amount_per_area, dtype: int64
319 460    144
Name: amount_per_area, dtype: int64
319 941    262
Name: amount_per_area, dtype: int64
319 1422    249
Name: amount_per_area, dtype: int64
319 460    144
Name: amount_per_area, dtype: int64
319 941    262
Name: amount_per_area, dtype: int64
319 1422    249
Name: amount_per_area, dtype: int64
229 461    294
Name: amount_per_area, dtype: int64
229 942    294
Name: amount_per_area, dtype: int64
229 1423    154
Name: amount_per_area, dtype: int64
229 461    294
Name: amount_per_area, dtype: int64
229 942    294
Name: amount_per_area, dtype: int64
229 1423    154
Name: amount_per_area, dtype: int64
100 462    71
Name: amount_per_area, dtype: int64
100 943    187
Name: amount_per_area, dtype: int64
100 1424    154
Name: amount_per_area, dtype: int64
100 462    71
Name: amount_per_area, dtype: int64
100 943    187
Name: amount_per_area, dtype: int64
100 1424    154
Name: amount_per_area, dtype: int64
377 463    2403
Name: amount_per_area, dtype: int64
377 944    1450
Name: amount_per_area, dtype: int64
377 1425    290
Name: amount_per_area, dtype: int64
377 463    2403
Name: amount_per_area, dtype: int64
377 944    1450
Name: amount_per_area, dtype: int64
377 1425    290
Name: amount_per_area, dtype: int64
425 464    954
Name: amount_per_area, dtype: int64
425 945    863
Name: amount_per_area, dtype: int64
425 1426    455
Name: amount_per_area, dtype: int64
425 464    954
Name: amount_per_area, dtype: int64
425 945    863
Name: amount_per_area, dtype: int64
425 1426    455
Name: amount_per_area, dtype: int64
335 465    145
Name: amount_per_area, dtype: int64
335 946    297
Name: amount_per_area, dtype: int64
335 1427    282
Name: amount_per_area, dtype: int64
335 465    145
Name: amount_per_area, dtype: int64
335 946    297
Name: amount_per_area, dtype: int64
335 1427    282
Name: amount_per_area, dtype: int64
5 466    0
Name: amount_per_area, dtype: int64
5 947    0
Name: amount_per_area, dtype: int64
5 1428    0
Name: amount_per_area, dtype: int64
5 466    0
Name: amount_per_area, dtype: int64
5 947    0
Name: amount_per_area, dtype: int64
5 1428    0
Name: amount_per_area, dtype: int64
7 467    0
Name: amount_per_area, dtype: int64
7 948    0
Name: amount_per_area, dtype: int64
7 1429    0
Name: amount_per_area, dtype: int64
7 467    0
Name: amount_per_area, dtype: int64
7 948    0
Name: amount_per_area, dtype: int64
7 1429    0
Name: amount_per_area, dtype: int64
310 468    720
Name: amount_per_area, dtype: int64
310 949    618
Name: amount_per_area, dtype: int64
310 1430    133
Name: amount_per_area, dtype: int64
310 468    720
Name: amount_per_area, dtype: int64
310 949    618
Name: amount_per_area, dtype: int64
310 1430    133
Name: amount_per_area, dtype: int64
351 469    979
Name: amount_per_area, dtype: int64
351 950    836
Name: amount_per_area, dtype: int64
351 1431    225
Name: amount_per_area, dtype: int64
351 469    979
Name: amount_per_area, dtype: int64
351 950    836
Name: amount_per_area, dtype: int64
351 1431    225
Name: amount_per_area, dtype: int64
310 470    182
Name: amount_per_area, dtype: int64
310 951    315
Name: amount_per_area, dtype: int64
310 1432    203
Name: amount_per_area, dtype: int64
310 470    182
Name: amount_per_area, dtype: int64
310 951    315
Name: amount_per_area, dtype: int64
310 1432    203
Name: amount_per_area, dtype: int64
374 471    572
Name: amount_per_area, dtype: int64
374 952    587
Name: amount_per_area, dtype: int64
374 1433    308
Name: amount_per_area, dtype: int64
374 471    572
Name: amount_per_area, dtype: int64
374 952    587
Name: amount_per_area, dtype: int64
374 1433    308
Name: amount_per_area, dtype: int64
393 472    464
Name: amount_per_area, dtype: int64
393 953    586
Name: amount_per_area, dtype: int64
393 1434    314
Name: amount_per_area, dtype: int64
393 472    464
Name: amount_per_area, dtype: int64
393 953    586
Name: amount_per_area, dtype: int64
393 1434    314
Name: amount_per_area, dtype: int64
495 473    623
Name: amount_per_area, dtype: int64
495 954    765
Name: amount_per_area, dtype: int64
495 1435    392
Name: amount_per_area, dtype: int64
495 473    623
Name: amount_per_area, dtype: int64
495 954    765
Name: amount_per_area, dtype: int64
495 1435    392
Name: amount_per_area, dtype: int64
294 474    221
Name: amount_per_area, dtype: int64
294 955    335
Name: amount_per_area, dtype: int64
294 1436    206
Name: amount_per_area, dtype: int64
294 474    221
Name: amount_per_area, dtype: int64
294 955    335
Name: amount_per_area, dtype: int64
294 1436    206
Name: amount_per_area, dtype: int64
439 475    700
Name: amount_per_area, dtype: int64
439 956    700
Name: amount_per_area, dtype: int64
439 1437    308
Name: amount_per_area, dtype: int64
439 475    700
Name: amount_per_area, dtype: int64
439 956    700
Name: amount_per_area, dtype: int64
439 1437    308
Name: amount_per_area, dtype: int64
299 476    667
Name: amount_per_area, dtype: int64
299 957    751
Name: amount_per_area, dtype: int64
299 1438    251
Name: amount_per_area, dtype: int64
299 476    667
Name: amount_per_area, dtype: int64
299 957    751
Name: amount_per_area, dtype: int64
299 1438    251
Name: amount_per_area, dtype: int64
481 477    211
Name: amount_per_area, dtype: int64
481 958    395
Name: amount_per_area, dtype: int64
481 1439    312
Name: amount_per_area, dtype: int64
481 477    211
Name: amount_per_area, dtype: int64
481 958    395
Name: amount_per_area, dtype: int64
481 1439    312
Name: amount_per_area, dtype: int64
313 478    283
Name: amount_per_area, dtype: int64
313 959    350
Name: amount_per_area, dtype: int64
313 1440    200
Name: amount_per_area, dtype: int64
313 478    283
Name: amount_per_area, dtype: int64
313 959    350
Name: amount_per_area, dtype: int64
313 1440    200
Name: amount_per_area, dtype: int64
700 479    240
Name: amount_per_area, dtype: int64
700 960    382
Name: amount_per_area, dtype: int64
700 1441    267
Name: amount_per_area, dtype: int64
700 479    240
Name: amount_per_area, dtype: int64
700 960    382
Name: amount_per_area, dtype: int64
700 1441    267
Name: amount_per_area, dtype: int64
12 480    0
Name: amount_per_area, dtype: int64
12 961    0
Name: amount_per_area, dtype: int64
12 1442    0
Name: amount_per_area, dtype: int64
12 480    0
Name: amount_per_area, dtype: int64
12 961    0
Name: amount_per_area, dtype: int64
12 1442    0
Name: amount_per_area, dtype: int64
10 0    241
Name: amount_per_area, dtype: int64
10 481    872
Name: amount_per_area, dtype: int64
10 962    1864
Name: amount_per_area, dtype: int64
10 0    241
Name: amount_per_area, dtype: int64
10 481    872
Name: amount_per_area, dtype: int64
10 962    1864
Name: amount_per_area, dtype: int64
9 1    139
Name: amount_per_area, dtype: int64
9 482    484
Name: amount_per_area, dtype: int64
9 963    760
Name: amount_per_area, dtype: int64
9 1    139
Name: amount_per_area, dtype: int64
9 482    484
Name: amount_per_area, dtype: int64
9 963    760
Name: amount_per_area, dtype: int64
49 2    568
Name: amount_per_area, dtype: int64
49 483    1442
Name: amount_per_area, dtype: int64
49 964    2360
Name: amount_per_area, dtype: int64
49 2    568
Name: amount_per_area, dtype: int64
49 483    1442
Name: amount_per_area, dtype: int64
49 964    2360
Name: amount_per_area, dtype: int64
4 3    57
Name: amount_per_area, dtype: int64
4 484    320
Name: amount_per_area, dtype: int64
4 965    764
Name: amount_per_area, dtype: int64
4 3    57
Name: amount_per_area, dtype: int64
4 484    320
Name: amount_per_area, dtype: int64
4 965    764
Name: amount_per_area, dtype: int64
21 4    103
Name: amount_per_area, dtype: int64
21 485    373
Name: amount_per_area, dtype: int64
21 966    810
Name: amount_per_area, dtype: int64
21 4    103
Name: amount_per_area, dtype: int64
21 485    373
Name: amount_per_area, dtype: int64
21 966    810
Name: amount_per_area, dtype: int64
0 5    0
Name: amount_per_area, dtype: int64
0 486    0
Name: amount_per_area, dtype: int64
0 967    0
Name: amount_per_area, dtype: int64
0 5    0
Name: amount_per_area, dtype: int64
0 486    0
Name: amount_per_area, dtype: int64
0 967    0
Name: amount_per_area, dtype: int64
14 6    210
Name: amount_per_area, dtype: int64
14 487    514
Name: amount_per_area, dtype: int64
14 968    1181
Name: amount_per_area, dtype: int64
14 6    210
Name: amount_per_area, dtype: int64
14 487    514
Name: amount_per_area, dtype: int64
14 968    1181
Name: amount_per_area, dtype: int64
10 7    106
Name: amount_per_area, dtype: int64
10 488    542
Name: amount_per_area, dtype: int64
10 969    843
Name: amount_per_area, dtype: int64
10 7    106
Name: amount_per_area, dtype: int64
10 488    542
Name: amount_per_area, dtype: int64
10 969    843
Name: amount_per_area, dtype: int64
17 8    196
Name: amount_per_area, dtype: int64
17 489    812
Name: amount_per_area, dtype: int64
17 970    1791
Name: amount_per_area, dtype: int64
17 8    196
Name: amount_per_area, dtype: int64
17 489    812
Name: amount_per_area, dtype: int64
17 970    1791
Name: amount_per_area, dtype: int64
19 9    170
Name: amount_per_area, dtype: int64
19 490    459
Name: amount_per_area, dtype: int64
19 971    1087
Name: amount_per_area, dtype: int64
19 9    170
Name: amount_per_area, dtype: int64
19 490    459
Name: amount_per_area, dtype: int64
19 971    1087
Name: amount_per_area, dtype: int64
15 10    170
Name: amount_per_area, dtype: int64
15 491    679
Name: amount_per_area, dtype: int64
15 972    1295
Name: amount_per_area, dtype: int64
15 10    170
Name: amount_per_area, dtype: int64
15 491    679
Name: amount_per_area, dtype: int64
15 972    1295
Name: amount_per_area, dtype: int64
17 11    94
Name: amount_per_area, dtype: int64
17 492    282
Name: amount_per_area, dtype: int64
17 973    667
Name: amount_per_area, dtype: int64
17 11    94
Name: amount_per_area, dtype: int64
17 492    282
Name: amount_per_area, dtype: int64
17 973    667
Name: amount_per_area, dtype: int64
0 12    70
Name: amount_per_area, dtype: int64
0 493    315
Name: amount_per_area, dtype: int64
0 974    490
Name: amount_per_area, dtype: int64
0 12    70
Name: amount_per_area, dtype: int64
0 493    315
Name: amount_per_area, dtype: int64
0 974    490
Name: amount_per_area, dtype: int64
4 13    230
Name: amount_per_area, dtype: int64
4 494    854
Name: amount_per_area, dtype: int64
4 975    2200
Name: amount_per_area, dtype: int64
4 13    230
Name: amount_per_area, dtype: int64
4 494    854
Name: amount_per_area, dtype: int64
4 975    2200
Name: amount_per_area, dtype: int64
5 14    185
Name: amount_per_area, dtype: int64
5 495    600
Name: amount_per_area, dtype: int64

5 976    1521
Name: amount_per_area, dtype: int64
5 14    185
Name: amount_per_area, dtype: int64
5 495    600
Name: amount_per_area, dtype: int64
5 976    1521
Name: amount_per_area, dtype: int64
5 15    154
Name: amount_per_area, dtype: int64
5 496    591
Name: amount_per_area, dtype: int64
5 977    1423
Name: amount_per_area, dtype: int64
5 15    154
Name: amount_per_area, dtype: int64
5 496    591
Name: amount_per_area, dtype: int64
5 977    1423
Name: amount_per_area, dtype: int64
3 16    111
Name: amount_per_area, dtype: int64
3 497    621
Name: amount_per_area, dtype: int64
3 978    1486
Name: amount_per_area, dtype: int64
3 16    111
Name: amount_per_area, dtype: int64
3 497    621
Name: amount_per_area, dtype: int64
3 978    1486
Name: amount_per_area, dtype: int64
9 17    195
Name: amount_per_area, dtype: int64
9 498    442
Name: amount_per_area, dtype: int64
9 979    1132
Name: amount_per_area, dtype: int64
9 17    195
Name: amount_per_area, dtype: int64
9 498    442
Name: amount_per_area, dtype: int64
9 979    1132
Name: amount_per_area, dtype: int64
0 18    0
Name: amount_per_area, dtype: int64
0 499    0
Name: amount_per_area, dtype: int64
0 980    0
Name: amount_per_area, dtype: int64
0 18    0
Name: amount_per_area, dtype: int64
0 499    0
Name: amount_per_area, dtype: int64
0 980    0
Name: amount_per_area, dtype: int64
8 19    153
Name: amount_per_area, dtype: int64
8 500    496
Name: amount_per_area, dtype: int64
8 981    1257
Name: amount_per_area, dtype: int64
8 19    153
Name: amount_per_area, dtype: int64
8 500    496
Name: amount_per_area, dtype: int64
8 981    1257
Name: amount_per_area, dtype: int64
8 20    212
Name: amount_per_area, dtype: int64
8 501    704
Name: amount_per_area, dtype: int64
8 982    1431
Name: amount_per_area, dtype: int64
8 20    212
Name: amount_per_area, dtype: int64
8 501    704
Name: amount_per_area, dtype: int64
8 982    1431
Name: amount_per_area, dtype: int64
16 21    114
Name: amount_per_area, dtype: int64
16 502    397
Name: amount_per_area, dtype: int64
16 983    907
Name: amount_per_area, dtype: int64
16 21    114
Name: amount_per_area, dtype: int64
16 502    397
Name: amount_per_area, dtype: int64
16 983    907
Name: amount_per_area, dtype: int64
0 22    0
Name: amount_per_area, dtype: int64
0 503    0
Name: amount_per_area, dtype: int64
0 984    0
Name: amount_per_area, dtype: int64
0 22    0
Name: amount_per_area, dtype: int64
0 503    0
Name: amount_per_area, dtype: int64
0 984    0
Name: amount_per_area, dtype: int64
11 23    145
Name: amount_per_area, dtype: int64
11 504    578
Name: amount_per_area, dtype: int64
11 985    1341
Name: amount_per_area, dtype: int64
11 23    145
Name: amount_per_area, dtype: int64
11 504    578
Name: amount_per_area, dtype: int64
11 985    1341
Name: amount_per_area, dtype: int64
25 24    86
Name: amount_per_area, dtype: int64
25 505    193
Name: amount_per_area, dtype: int64
25 986    436
Name: amount_per_area, dtype: int64
25 24    86
Name: amount_per_area, dtype: int64
25 505    193
Name: amount_per_area, dtype: int64
25 986    436
Name: amount_per_area, dtype: int64
0 25    0
Name: amount_per_area, dtype: int64
0 506    0
Name: amount_per_area, dtype: int64
0 987    0
Name: amount_per_area, dtype: int64
0 25    0
Name: amount_per_area, dtype: int64
0 506    0
Name: amount_per_area, dtype: int64
0 987    0
Name: amount_per_area, dtype: int64
25 26    192
Name: amount_per_area, dtype: int64
25 507    518
Name: amount_per_area, dtype: int64
25 988    1207
Name: amount_per_area, dtype: int64
25 26    192
Name: amount_per_area, dtype: int64
25 507    518
Name: amount_per_area, dtype: int64
25 988    1207
Name: amount_per_area, dtype: int64
36 27    213
Name: amount_per_area, dtype: int64
36 508    1063
Name: amount_per_area, dtype: int64
36 989    2267
Name: amount_per_area, dtype: int64
36 27    213
Name: amount_per_area, dtype: int64
36 508    1063
Name: amount_per_area, dtype: int64
36 989    2267
Name: amount_per_area, dtype: int64
34 28    761
Name: amount_per_area, dtype: int64
34 509    1427
Name: amount_per_area, dtype: int64
34 990    2568
Name: amount_per_area, dtype: int64
34 28    761
Name: amount_per_area, dtype: int64
34 509    1427
Name: amount_per_area, dtype: int64
34 990    2568
Name: amount_per_area, dtype: int64
21 29    254
Name: amount_per_area, dtype: int64
21 510    736
Name: amount_per_area, dtype: int64
21 991    1547
Name: amount_per_area, dtype: int64
21 29    254
Name: amount_per_area, dtype: int64
21 510    736
Name: amount_per_area, dtype: int64
21 991    1547
Name: amount_per_area, dtype: int64
22 30    310
Name: amount_per_area, dtype: int64
22 511    836
Name: amount_per_area, dtype: int64
22 992    1950
Name: amount_per_area, dtype: int64
22 30    310
Name: amount_per_area, dtype: int64
22 511    836
Name: amount_per_area, dtype: int64
22 992    1950
Name: amount_per_area, dtype: int64
35 31    500
Name: amount_per_area, dtype: int64
35 512    1230
Name: amount_per_area, dtype: int64
35 993    2114
Name: amount_per_area, dtype: int64
35 31    500
Name: amount_per_area, dtype: int64
35 512    1230
Name: amount_per_area, dtype: int64
35 993    2114
Name: amount_per_area, dtype: int64
13 32    176
Name: amount_per_area, dtype: int64
13 513    419
Name: amount_per_area, dtype: int64
13 994    771
Name: amount_per_area, dtype: int64
13 32    176
Name: amount_per_area, dtype: int64
13 513    419
Name: amount_per_area, dtype: int64
13 994    771
Name: amount_per_area, dtype: int64
57 33    347
Name: amount_per_area, dtype: int64
57 514    542
Name: amount_per_area, dtype: int64
57 995    1279
Name: amount_per_area, dtype: int64
57 33    347
Name: amount_per_area, dtype: int64
57 514    542
Name: amount_per_area, dtype: int64
57 995    1279
Name: amount_per_area, dtype: int64
43 34    312
Name: amount_per_area, dtype: int64
43 515    794
Name: amount_per_area, dtype: int64
43 996    1729
Name: amount_per_area, dtype: int64
43 34    312
Name: amount_per_area, dtype: int64
43 515    794
Name: amount_per_area, dtype: int64
43 996    1729
Name: amount_per_area, dtype: int64
123 35    670
Name: amount_per_area, dtype: int64
123 516    1262
Name: amount_per_area, dtype: int64
123 997    2010
Name: amount_per_area, dtype: int64
123 35    670
Name: amount_per_area, dtype: int64
123 516    1262
Name: amount_per_area, dtype: int64
123 997    2010
Name: amount_per_area, dtype: int64
61 36    405
Name: amount_per_area, dtype: int64
61 517    978
Name: amount_per_area, dtype: int64
61 998    1989
Name: amount_per_area, dtype: int64
61 36    405
Name: amount_per_area, dtype: int64
61 517    978
Name: amount_per_area, dtype: int64
61 998    1989
Name: amount_per_area, dtype: int64
0 37    0
Name: amount_per_area, dtype: int64
0 518    0
Name: amount_per_area, dtype: int64
0 999    0
Name: amount_per_area, dtype: int64
0 37    0
Name: amount_per_area, dtype: int64
0 518    0
Name: amount_per_area, dtype: int64
0 999    0
Name: amount_per_area, dtype: int64
0 38    0
Name: amount_per_area, dtype: int64
0 519    0
Name: amount_per_area, dtype: int64
0 1000    0
Name: amount_per_area, dtype: int64
0 38    0
Name: amount_per_area, dtype: int64
0 519    0
Name: amount_per_area, dtype: int64
0 1000    0
Name: amount_per_area, dtype: int64
58 39    575
Name: amount_per_area, dtype: int64
58 520    1341
Name: amount_per_area, dtype: int64
58 1001    2873
Name: amount_per_area, dtype: int64
58 39    575
Name: amount_per_area, dtype: int64
58 520    1341
Name: amount_per_area, dtype: int64
58 1001    2873
Name: amount_per_area, dtype: int64
50 40    492
Name: amount_per_area, dtype: int64
50 521    1251
Name: amount_per_area, dtype: int64
50 1002    2681
Name: amount_per_area, dtype: int64
50 40    492
Name: amount_per_area, dtype: int64
50 521    1251
Name: amount_per_area, dtype: int64
50 1002    2681
Name: amount_per_area, dtype: int64
158 41    789
Name: amount_per_area, dtype: int64
158 522    1484
Name: amount_per_area, dtype: int64
158 1003    2365
Name: amount_per_area, dtype: int64
158 41    789
Name: amount_per_area, dtype: int64
158 522    1484
Name: amount_per_area, dtype: int64
158 1003    2365
Name: amount_per_area, dtype: int64
0 42    0
Name: amount_per_area, dtype: int64
0 523    0
Name: amount_per_area, dtype: int64
0 1004    0
Name: amount_per_area, dtype: int64
0 42    0
Name: amount_per_area, dtype: int64
0 523    0
Name: amount_per_area, dtype: int64
0 1004    0
Name: amount_per_area, dtype: int64
0 43    0
Name: amount_per_area, dtype: int64
0 524    0
Name: amount_per_area, dtype: int64
0 1005    0
Name: amount_per_area, dtype: int64
0 43    0
Name: amount_per_area, dtype: int64
0 524    0
Name: amount_per_area, dtype: int64
0 1005    0
Name: amount_per_area, dtype: int64
84 44    517
Name: amount_per_area, dtype: int64
84 525    1152
Name: amount_per_area, dtype: int64
84 1006    2304
Name: amount_per_area, dtype: int64
84 44    517
Name: amount_per_area, dtype: int64
84 525    1152
Name: amount_per_area, dtype: int64
84 1006    2304
Name: amount_per_area, dtype: int64
0 45    0
Name: amount_per_area, dtype: int64
0 526    0
Name: amount_per_area, dtype: int64
0 1007    0
Name: amount_per_area, dtype: int64
0 45    0
Name: amount_per_area, dtype: int64
0 526    0
Name: amount_per_area, dtype: int64
0 1007    0
Name: amount_per_area, dtype: int64
0 46    0
Name: amount_per_area, dtype: int64
0 527    0
Name: amount_per_area, dtype: int64
0 1008    0
Name: amount_per_area, dtype: int64
0 46    0
Name: amount_per_area, dtype: int64
0 527    0
Name: amount_per_area, dtype: int64
0 1008    0
Name: amount_per_area, dtype: int64
0 47    0
Name: amount_per_area, dtype: int64
0 528    0
Name: amount_per_area, dtype: int64
0 1009    0
Name: amount_per_area, dtype: int64
0 47    0
Name: amount_per_area, dtype: int64
0 528    0
Name: amount_per_area, dtype: int64
0 1009    0
Name: amount_per_area, dtype: int64
47 48    538
Name: amount_per_area, dtype: int64
47 529    1038
Name: amount_per_area, dtype: int64
47 1010    2268
Name: amount_per_area, dtype: int64
47 48    538
Name: amount_per_area, dtype: int64
47 529    1038
Name: amount_per_area, dtype: int64
47 1010    2268
Name: amount_per_area, dtype: int64
61 49    603
Name: amount_per_area, dtype: int64
61 530    1390
Name: amount_per_area, dtype: int64
61 1011    2687
Name: amount_per_area, dtype: int64
61 49    603
Name: amount_per_area, dtype: int64
61 530    1390
Name: amount_per_area, dtype: int64
61 1011    2687
Name: amount_per_area, dtype: int64
0 50    0
Name: amount_per_area, dtype: int64
0 531    0
Name: amount_per_area, dtype: int64
0 1012    0
Name: amount_per_area, dtype: int64
0 50    0
Name: amount_per_area, dtype: int64
0 531    0
Name: amount_per_area, dtype: int64
0 1012    0
Name: amount_per_area, dtype: int64
0 51    0
Name: amount_per_area, dtype: int64
0 532    0
Name: amount_per_area, dtype: int64
0 1013    0
Name: amount_per_area, dtype: int64
0 51    0
Name: amount_per_area, dtype: int64
0 532    0
Name: amount_per_area, dtype: int64
0 1013    0
Name: amount_per_area, dtype: int64
20 52    255
Name: amount_per_area, dtype: int64
20 533    1019
Name: amount_per_area, dtype: int64
20 1014    1910
Name: amount_per_area, dtype: int64
20 52    255
Name: amount_per_area, dtype: int64
20 533    1019
Name: amount_per_area, dtype: int64
20 1014    1910
Name: amount_per_area, dtype: int64
0 53    0
Name: amount_per_area, dtype: int64
0 534    0
Name: amount_per_area, dtype: int64
0 1015    0
Name: amount_per_area, dtype: int64
0 53    0
Name: amount_per_area, dtype: int64
0 534    0
Name: amount_per_area, dtype: int64
0 1015    0
Name: amount_per_area, dtype: int64
25 54    248
Name: amount_per_area, dtype: int64

25 535    918
Name: amount_per_area, dtype: int64
25 1016    2365
Name: amount_per_area, dtype: int64
25 54    248
Name: amount_per_area, dtype: int64
25 535    918
Name: amount_per_area, dtype: int64
25 1016    2365
Name: amount_per_area, dtype: int64
12 55    215
Name: amount_per_area, dtype: int64
12 536    547
Name: amount_per_area, dtype: int64
12 1017    1192
Name: amount_per_area, dtype: int64
12 55    215
Name: amount_per_area, dtype: int64
12 536    547
Name: amount_per_area, dtype: int64
12 1017    1192
Name: amount_per_area, dtype: int64
11 56    418
Name: amount_per_area, dtype: int64
11 537    870
Name: amount_per_area, dtype: int64
11 1018    2192
Name: amount_per_area, dtype: int64
11 56    418
Name: amount_per_area, dtype: int64
11 537    870
Name: amount_per_area, dtype: int64
11 1018    2192
Name: amount_per_area, dtype: int64
11 57    131
Name: amount_per_area, dtype: int64
11 538    308
Name: amount_per_area, dtype: int64
11 1019    746
Name: amount_per_area, dtype: int64
11 57    131
Name: amount_per_area, dtype: int64
11 538    308
Name: amount_per_area, dtype: int64
11 1019    746
Name: amount_per_area, dtype: int64
60 58    409
Name: amount_per_area, dtype: int64
60 539    764
Name: amount_per_area, dtype: int64
60 1020    1554
Name: amount_per_area, dtype: int64
60 58    409
Name: amount_per_area, dtype: int64
60 539    764
Name: amount_per_area, dtype: int64
60 1020    1554
Name: amount_per_area, dtype: int64
52 59    331
Name: amount_per_area, dtype: int64
52 540    579
Name: amount_per_area, dtype: int64
52 1021    1157
Name: amount_per_area, dtype: int64
52 59    331
Name: amount_per_area, dtype: int64
52 540    579
Name: amount_per_area, dtype: int64
52 1021    1157
Name: amount_per_area, dtype: int64
8 60    115
Name: amount_per_area, dtype: int64
8 541    230
Name: amount_per_area, dtype: int64
8 1022    613
Name: amount_per_area, dtype: int64
8 60    115
Name: amount_per_area, dtype: int64
8 541    230
Name: amount_per_area, dtype: int64
8 1022    613
Name: amount_per_area, dtype: int64
0 61    0
Name: amount_per_area, dtype: int64
0 542    0
Name: amount_per_area, dtype: int64
0 1023    0
Name: amount_per_area, dtype: int64
0 61    0
Name: amount_per_area, dtype: int64
0 542    0
Name: amount_per_area, dtype: int64
0 1023    0
Name: amount_per_area, dtype: int64
0 62    0
Name: amount_per_area, dtype: int64
0 543    0
Name: amount_per_area, dtype: int64
0 1024    0
Name: amount_per_area, dtype: int64
0 62    0
Name: amount_per_area, dtype: int64
0 543    0
Name: amount_per_area, dtype: int64
0 1024    0
Name: amount_per_area, dtype: int64
114 63    636
Name: amount_per_area, dtype: int64
114 544    1172
Name: amount_per_area, dtype: int64
114 1025    1540
Name: amount_per_area, dtype: int64
114 63    636
Name: amount_per_area, dtype: int64
114 544    1172
Name: amount_per_area, dtype: int64
114 1025    1540
Name: amount_per_area, dtype: int64
126 64    552
Name: amount_per_area, dtype: int64
126 545    951
Name: amount_per_area, dtype: int64
126 1026    1564
Name: amount_per_area, dtype: int64
126 64    552
Name: amount_per_area, dtype: int64
126 545    951
Name: amount_per_area, dtype: int64
126 1026    1564
Name: amount_per_area, dtype: int64
105 65    325
Name: amount_per_area, dtype: int64
105 546    429
Name: amount_per_area, dtype: int64
105 1027    739
Name: amount_per_area, dtype: int64
105 65    325
Name: amount_per_area, dtype: int64
105 546    429
Name: amount_per_area, dtype: int64
105 1027    739
Name: amount_per_area, dtype: int64
255 66    718
Name: amount_per_area, dtype: int64
255 547    1196
Name: amount_per_area, dtype: int64
255 1028    2072
Name: amount_per_area, dtype: int64
255 66    718
Name: amount_per_area, dtype: int64
255 547    1196
Name: amount_per_area, dtype: int64
255 1028    2072
Name: amount_per_area, dtype: int64
162 67    420
Name: amount_per_area, dtype: int64
162 548    807
Name: amount_per_area, dtype: int64
162 1029    2002
Name: amount_per_area, dtype: int64
162 67    420
Name: amount_per_area, dtype: int64
162 548    807
Name: amount_per_area, dtype: int64
162 1029    2002
Name: amount_per_area, dtype: int64
120 68    553
Name: amount_per_area, dtype: int64
120 549    829
Name: amount_per_area, dtype: int64
120 1030    1688
Name: amount_per_area, dtype: int64
120 68    553
Name: amount_per_area, dtype: int64
120 549    829
Name: amount_per_area, dtype: int64
120 1030    1688
Name: amount_per_area, dtype: int64
55 69    318
Name: amount_per_area, dtype: int64
55 550    751
Name: amount_per_area, dtype: int64
55 1031    1819
Name: amount_per_area, dtype: int64
55 69    318
Name: amount_per_area, dtype: int64
55 550    751
Name: amount_per_area, dtype: int64
55 1031    1819
Name: amount_per_area, dtype: int64
1 70    0
Name: amount_per_area, dtype: int64
1 551    0
Name: amount_per_area, dtype: int64
1 1032    0
Name: amount_per_area, dtype: int64
1 70    0
Name: amount_per_area, dtype: int64
1 551    0
Name: amount_per_area, dtype: int64
1 1032    0
Name: amount_per_area, dtype: int64
0 71    0
Name: amount_per_area, dtype: int64
0 552    0
Name: amount_per_area, dtype: int64
0 1033    0
Name: amount_per_area, dtype: int64
0 71    0
Name: amount_per_area, dtype: int64
0 552    0
Name: amount_per_area, dtype: int64
0 1033    0
Name: amount_per_area, dtype: int64
0 72    0
Name: amount_per_area, dtype: int64
0 553    0
Name: amount_per_area, dtype: int64
0 1034    0
Name: amount_per_area, dtype: int64
0 72    0
Name: amount_per_area, dtype: int64
0 553    0
Name: amount_per_area, dtype: int64
0 1034    0
Name: amount_per_area, dtype: int64
1 73    0
Name: amount_per_area, dtype: int64
1 554    0
Name: amount_per_area, dtype: int64
1 1035    0
Name: amount_per_area, dtype: int64
1 73    0
Name: amount_per_area, dtype: int64
1 554    0
Name: amount_per_area, dtype: int64
1 1035    0
Name: amount_per_area, dtype: int64
0 74    0
Name: amount_per_area, dtype: int64
0 555    0
Name: amount_per_area, dtype: int64
0 1036    0
Name: amount_per_area, dtype: int64
0 74    0
Name: amount_per_area, dtype: int64
0 555    0
Name: amount_per_area, dtype: int64
0 1036    0
Name: amount_per_area, dtype: int64
0 75    0
Name: amount_per_area, dtype: int64
0 556    0
Name: amount_per_area, dtype: int64
0 1037    0
Name: amount_per_area, dtype: int64
0 75    0
Name: amount_per_area, dtype: int64
0 556    0
Name: amount_per_area, dtype: int64
0 1037    0
Name: amount_per_area, dtype: int64
0 76    0
Name: amount_per_area, dtype: int64
0 557    0
Name: amount_per_area, dtype: int64
0 1038    0
Name: amount_per_area, dtype: int64
0 76    0
Name: amount_per_area, dtype: int64
0 557    0
Name: amount_per_area, dtype: int64
0 1038    0
Name: amount_per_area, dtype: int64
0 77    0
Name: amount_per_area, dtype: int64
0 558    0
Name: amount_per_area, dtype: int64
0 1039    0
Name: amount_per_area, dtype: int64
0 77    0
Name: amount_per_area, dtype: int64
0 558    0
Name: amount_per_area, dtype: int64
0 1039    0
Name: amount_per_area, dtype: int64
13 78    33
Name: amount_per_area, dtype: int64
13 559    154
Name: amount_per_area, dtype: int64
13 1040    614
Name: amount_per_area, dtype: int64
13 78    33
Name: amount_per_area, dtype: int64
13 559    154
Name: amount_per_area, dtype: int64
13 1040    614
Name: amount_per_area, dtype: int64
0 79    0
Name: amount_per_area, dtype: int64
0 560    0
Name: amount_per_area, dtype: int64
0 1041    0
Name: amount_per_area, dtype: int64
0 79    0
Name: amount_per_area, dtype: int64
0 560    0
Name: amount_per_area, dtype: int64
0 1041    0
Name: amount_per_area, dtype: int64
421 80    912
Name: amount_per_area, dtype: int64
421 561    1071
Name: amount_per_area, dtype: int64
421 1042    1982
Name: amount_per_area, dtype: int64
421 80    912
Name: amount_per_area, dtype: int64
421 561    1071
Name: amount_per_area, dtype: int64
421 1042    1982
Name: amount_per_area, dtype: int64
448 81    1298
Name: amount_per_area, dtype: int64
448 562    1587
Name: amount_per_area, dtype: int64
448 1043    1971
Name: amount_per_area, dtype: int64
448 81    1298
Name: amount_per_area, dtype: int64
448 562    1587
Name: amount_per_area, dtype: int64
448 1043    1971
Name: amount_per_area, dtype: int64
0 82    0
Name: amount_per_area, dtype: int64
0 563    0
Name: amount_per_area, dtype: int64
0 1044    0
Name: amount_per_area, dtype: int64
0 82    0
Name: amount_per_area, dtype: int64
0 563    0
Name: amount_per_area, dtype: int64
0 1044    0
Name: amount_per_area, dtype: int64
153 83    688
Name: amount_per_area, dtype: int64
153 564    994
Name: amount_per_area, dtype: int64
153 1045    2140
Name: amount_per_area, dtype: int64
153 83    688
Name: amount_per_area, dtype: int64
153 564    994
Name: amount_per_area, dtype: int64
153 1045    2140
Name: amount_per_area, dtype: int64
271 84    863
Name: amount_per_area, dtype: int64
271 565    1099
Name: amount_per_area, dtype: int64
271 1046    1962
Name: amount_per_area, dtype: int64
271 84    863
Name: amount_per_area, dtype: int64
271 565    1099
Name: amount_per_area, dtype: int64
271 1046    1962
Name: amount_per_area, dtype: int64
297 85    720
Name: amount_per_area, dtype: int64
297 566    777
Name: amount_per_area, dtype: int64
297 1047    1382
Name: amount_per_area, dtype: int64
297 85    720
Name: amount_per_area, dtype: int64
297 566    777
Name: amount_per_area, dtype: int64

297 1047    1382
Name: amount_per_area, dtype: int64
0 86    0
Name: amount_per_area, dtype: int64
0 567    0
Name: amount_per_area, dtype: int64
0 1048    0
Name: amount_per_area, dtype: int64
0 86    0
Name: amount_per_area, dtype: int64
0 567    0
Name: amount_per_area, dtype: int64
0 1048    0
Name: amount_per_area, dtype: int64
0 87    0
Name: amount_per_area, dtype: int64
0 568    0
Name: amount_per_area, dtype: int64
0 1049    0
Name: amount_per_area, dtype: int64
0 87    0
Name: amount_per_area, dtype: int64
0 568    0
Name: amount_per_area, dtype: int64
0 1049    0
Name: amount_per_area, dtype: int64
264 88    611
Name: amount_per_area, dtype: int64
264 569    1030
Name: amount_per_area, dtype: int64
264 1050    2174
Name: amount_per_area, dtype: int64
264 88    611
Name: amount_per_area, dtype: int64
264 569    1030
Name: amount_per_area, dtype: int64
264 1050    2174
Name: amount_per_area, dtype: int64
0 89    0
Name: amount_per_area, dtype: int64
0 570    0
Name: amount_per_area, dtype: int64
0 1051    0
Name: amount_per_area, dtype: int64
0 89    0
Name: amount_per_area, dtype: int64
0 570    0
Name: amount_per_area, dtype: int64
0 1051    0
Name: amount_per_area, dtype: int64
316 90    994
Name: amount_per_area, dtype: int64
316 571    1030
Name: amount_per_area, dtype: int64
316 1052    1527
Name: amount_per_area, dtype: int64
316 90    994
Name: amount_per_area, dtype: int64
316 571    1030
Name: amount_per_area, dtype: int64
316 1052    1527
Name: amount_per_area, dtype: int64
410 91    1116
Name: amount_per_area, dtype: int64
410 572    1736
Name: amount_per_area, dtype: int64
410 1053    3347
Name: amount_per_area, dtype: int64
410 91    1116
Name: amount_per_area, dtype: int64
410 572    1736
Name: amount_per_area, dtype: int64
410 1053    3347
Name: amount_per_area, dtype: int64
288 92    808
Name: amount_per_area, dtype: int64
288 573    1363
Name: amount_per_area, dtype: int64
288 1054    2878
Name: amount_per_area, dtype: int64
288 92    808
Name: amount_per_area, dtype: int64
288 573    1363
Name: amount_per_area, dtype: int64
288 1054    2878
Name: amount_per_area, dtype: int64
304 93    805
Name: amount_per_area, dtype: int64
304 574    1137
Name: amount_per_area, dtype: int64
304 1055    2794
Name: amount_per_area, dtype: int64
304 93    805
Name: amount_per_area, dtype: int64
304 574    1137
Name: amount_per_area, dtype: int64
304 1055    2794
Name: amount_per_area, dtype: int64
287 94    709
Name: amount_per_area, dtype: int64
287 575    1119
Name: amount_per_area, dtype: int64
287 1056    1901
Name: amount_per_area, dtype: int64
287 94    709
Name: amount_per_area, dtype: int64
287 575    1119
Name: amount_per_area, dtype: int64
287 1056    1901
Name: amount_per_area, dtype: int64
0 95    0
Name: amount_per_area, dtype: int64
0 576    0
Name: amount_per_area, dtype: int64
0 1057    0
Name: amount_per_area, dtype: int64
0 95    0
Name: amount_per_area, dtype: int64
0 576    0
Name: amount_per_area, dtype: int64
0 1057    0
Name: amount_per_area, dtype: int64
0 96    0
Name: amount_per_area, dtype: int64
0 577    0
Name: amount_per_area, dtype: int64
0 1058    0
Name: amount_per_area, dtype: int64
0 96    0
Name: amount_per_area, dtype: int64
0 577    0
Name: amount_per_area, dtype: int64
0 1058    0
Name: amount_per_area, dtype: int64
305 97    598
Name: amount_per_area, dtype: int64
305 578    818
Name: amount_per_area, dtype: int64
305 1059    1730
Name: amount_per_area, dtype: int64
305 97    598
Name: amount_per_area, dtype: int64
305 578    818
Name: amount_per_area, dtype: int64
305 1059    1730
Name: amount_per_area, dtype: int64
202 98    549
Name: amount_per_area, dtype: int64
202 579    878
Name: amount_per_area, dtype: int64
202 1060    2231
Name: amount_per_area, dtype: int64
202 98    549
Name: amount_per_area, dtype: int64
202 579    878
Name: amount_per_area, dtype: int64
202 1060    2231
Name: amount_per_area, dtype: int64
296 99    851
Name: amount_per_area, dtype: int64
296 580    1351
Name: amount_per_area, dtype: int64
296 1061    2802
Name: amount_per_area, dtype: int64
296 99    851
Name: amount_per_area, dtype: int64
296 580    1351
Name: amount_per_area, dtype: int64
296 1061    2802
Name: amount_per_area, dtype: int64
259 100    471
Name: amount_per_area, dtype: int64
259 581    1041
Name: amount_per_area, dtype: int64
259 1062    1847
Name: amount_per_area, dtype: int64
259 100    471
Name: amount_per_area, dtype: int64
259 581    1041
Name: amount_per_area, dtype: int64
259 1062    1847
Name: amount_per_area, dtype: int64
108 101    445
Name: amount_per_area, dtype: int64
108 582    889
Name: amount_per_area, dtype: int64
108 1063    2371
Name: amount_per_area, dtype: int64
108 101    445
Name: amount_per_area, dtype: int64
108 582    889
Name: amount_per_area, dtype: int64
108 1063    2371
Name: amount_per_area, dtype: int64
384 102    1132
Name: amount_per_area, dtype: int64
384 583    1280
Name: amount_per_area, dtype: int64
384 1064    2510
Name: amount_per_area, dtype: int64
384 102    1132
Name: amount_per_area, dtype: int64
384 583    1280
Name: amount_per_area, dtype: int64
384 1064    2510
Name: amount_per_area, dtype: int64
211 103    548
Name: amount_per_area, dtype: int64
211 584    1096
Name: amount_per_area, dtype: int64
211 1065    2570
Name: amount_per_area, dtype: int64
211 103    548
Name: amount_per_area, dtype: int64
211 584    1096
Name: amount_per_area, dtype: int64
211 1065    2570
Name: amount_per_area, dtype: int64
162 104    539
Name: amount_per_area, dtype: int64
162 585    1455
Name: amount_per_area, dtype: int64
162 1066    3395
Name: amount_per_area, dtype: int64
162 104    539
Name: amount_per_area, dtype: int64
162 585    1455
Name: amount_per_area, dtype: int64
162 1066    3395
Name: amount_per_area, dtype: int64
625 105    1407
Name: amount_per_area, dtype: int64
625 586    1320
Name: amount_per_area, dtype: int64
625 1067    1671
Name: amount_per_area, dtype: int64
625 105    1407
Name: amount_per_area, dtype: int64
625 586    1320
Name: amount_per_area, dtype: int64
625 1067    1671
Name: amount_per_area, dtype: int64
372 106    930
Name: amount_per_area, dtype: int64
372 587    1343
Name: amount_per_area, dtype: int64
372 1068    2841
Name: amount_per_area, dtype: int64
372 106    930
Name: amount_per_area, dtype: int64
372 587    1343
Name: amount_per_area, dtype: int64
372 1068    2841
Name: amount_per_area, dtype: int64
36 107    354
Name: amount_per_area, dtype: int64
36 588    1061
Name: amount_per_area, dtype: int64
36 1069    3006
Name: amount_per_area, dtype: int64
36 107    354
Name: amount_per_area, dtype: int64
36 588    1061
Name: amount_per_area, dtype: int64
36 1069    3006
Name: amount_per_area, dtype: int64
64 108    373
Name: amount_per_area, dtype: int64
64 589    665
Name: amount_per_area, dtype: int64
64 1070    1622
Name: amount_per_area, dtype: int64
64 108    373
Name: amount_per_area, dtype: int64
64 589    665
Name: amount_per_area, dtype: int64
64 1070    1622
Name: amount_per_area, dtype: int64
60 109    534
Name: amount_per_area, dtype: int64
60 590    1306
Name: amount_per_area, dtype: int64
60 1071    4094
Name: amount_per_area, dtype: int64
60 109    534
Name: amount_per_area, dtype: int64
60 590    1306
Name: amount_per_area, dtype: int64
60 1071    4094
Name: amount_per_area, dtype: int64
106 110    453
Name: amount_per_area, dtype: int64
106 591    1157
Name: amount_per_area, dtype: int64
106 1072    3369
Name: amount_per_area, dtype: int64
106 110    453
Name: amount_per_area, dtype: int64
106 591    1157
Name: amount_per_area, dtype: int64
106 1072    3369
Name: amount_per_area, dtype: int64
23 111    378
Name: amount_per_area, dtype: int64
23 592    906
Name: amount_per_area, dtype: int64
23 1073    2492
Name: amount_per_area, dtype: int64
23 111    378
Name: amount_per_area, dtype: int64
23 592    906
Name: amount_per_area, dtype: int64
23 1073    2492
Name: amount_per_area, dtype: int64
12 112    195
Name: amount_per_area, dtype: int64
12 593    337
Name: amount_per_area, dtype: int64
12 1074    765
Name: amount_per_area, dtype: int64
12 112    195
Name: amount_per_area, dtype: int64
12 593    337
Name: amount_per_area, dtype: int64
12 1074    765
Name: amount_per_area, dtype: int64
64 113    275
Name: amount_per_area, dtype: int64
64 594    464
Name: amount_per_area, dtype: int64
64 1075    979
Name: amount_per_area, dtype: int64
64 113    275
Name: amount_per_area, dtype: int64
64 594    464
Name: amount_per_area, dtype: int64
64 1075    979
Name: amount_per_area, dtype: int64
2 114    7
Name: amount_per_area, dtype: int64
2 595    28
Name: amount_per_area, dtype: int64
2 1076    120
Name: amount_per_area, dtype: int64
2 114    7
Name: amount_per_area, dtype: int64
2 595    28
Name: amount_per_area, dtype: int64
2 1076    120
Name: amount_per_area, dtype: int64
1 115    0
Name: amount_per_area, dtype: int64
1 596    0
Name: amount_per_area, dtype: int64
1 1077    0
Name: amount_per_area, dtype: int64
1 115    0
Name: amount_per_area, dtype: int64
1 596    0
Name: amount_per_area, dtype: int64
1 1077    0
Name: amount_per_area, dtype: int64
34 116    80
Name: amount_per_area, dtype: int64
34 597    178
Name: amount_per_area, dtype: int64
34 1078    622
Name: amount_per_area, dtype: int64
34 116    80
Name: amount_per_area, dtype: int64
34 597    178
Name: amount_per_area, dtype: int64
34 1078    622
Name: amount_per_area, dtype: int64
626 117    911
Name: amount_per_area, dtype: int64
626 598    881
Name: amount_per_area, dtype: int64
626 1079    1146
Name: amount_per_area, dtype: int64
626 117    911
Name: amount_per_area, dtype: int64
626 598    881
Name: amount_per_area, dtype: int64
626 1079    1146
Name: amount_per_area, dtype: int64
490 118    753
Name: amount_per_area, dtype: int64
490 599    890
Name: amount_per_area, dtype: int64
490 1080    1746
Name: amount_per_area, dtype: int64
490 118    753
Name: amount_per_area, dtype: int64
490 599    890
Name: amount_per_area, dtype: int64
490 1080    1746
Name: amount_per_area, dtype: int64
524 119    852
Name: amount_per_area, dtype: int64
524 600    1015
Name: amount_per_area, dtype: int64
524 1081    2191
Name: amount_per_area, dtype: int64
524 119    852
Name: amount_per_area, dtype: int64
524 600    1015
Name: amount_per_area, dtype: int64
524 1081    2191
Name: amount_per_area, dtype: int64
623 120    1038
Name: amount_per_area, dtype: int64
623 601    1115
Name: amount_per_area, dtype: int64
623 1082    1691
Name: amount_per_area, dtype: int64
623 120    1038
Name: amount_per_area, dtype: int64
623 601    1115
Name: amount_per_area, dtype: int64
623 1082    1691
Name: amount_per_area, dtype: int64
879 121    1146
Name: amount_per_area, dtype: int64
879 602    1231
Name: amount_per_area, dtype: int64
879 1083    1909
Name: amount_per_area, dtype: int64
879 121    1146
Name: amount_per_area, dtype: int64
879 602    1231
Name: amount_per_area, dtype: int64
879 1083    1909
Name: amount_per_area, dtype: int64
198 122    361
Name: amount_per_area, dtype: int64
198 603    577
Name: amount_per_area, dtype: int64
198 1084    1467
Name: amount_per_area, dtype: int64
198 122    361
Name: amount_per_area, dtype: int64
198 603    577
Name: amount_per_area, dtype: int64
198 1084    1467
Name: amount_per_area, dtype: int64
594 123    935
Name: amount_per_area, dtype: int64
594 604    1215
Name: amount_per_area, dtype: int64
594 1085    2477
Name: amount_per_area, dtype: int64
594 123    935
Name: amount_per_area, dtype: int64
594 604    1215
Name: amount_per_area, dtype: int64
594 1085    2477
Name: amount_per_area, dtype: int64
378 124    566
Name: amount_per_area, dtype: int64
378 605    900
Name: amount_per_area, dtype: int64
378 1086    1105
Name: amount_per_area, dtype: int64
378 124    566
Name: amount_per_area, dtype: int64
378 605    900
Name: amount_per_area, dtype: int64
378 1086    1105
Name: amount_per_area, dtype: int64
436 125    436
Name: amount_per_area, dtype: int64
436 606    821
Name: amount_per_area, dtype: int64
436 1087    1308
Name: amount_per_area, dtype: int64
436 125    436
Name: amount_per_area, dtype: int64
436 606    821
Name: amount_per_area, dtype: int64
436 1087    1308
Name: amount_per_area, dtype: int64
813 126    978
Name: amount_per_area, dtype: int64
813 607    856
Name: amount_per_area, dtype: int64
813 1088    1223
Name: amount_per_area, dtype: int64
813 126    978
Name: amount_per_area, dtype: int64
813 607    856
Name: amount_per_area, dtype: int64
813 1088    1223
Name: amount_per_area, dtype: int64
893 127    1102
Name: amount_per_area, dtype: int64
893 608    706
Name: amount_per_area, dtype: int64
893 1089    397
Name: amount_per_area, dtype: int64
893 127    1102
Name: amount_per_area, dtype: int64
893 608    706
Name: amount_per_area, dtype: int64
893 1089    397
Name: amount_per_area, dtype: int64

48 128    255
Name: amount_per_area, dtype: int64
48 609    765
Name: amount_per_area, dtype: int64
48 1090    2622
Name: amount_per_area, dtype: int64
48 128    255
Name: amount_per_area, dtype: int64
48 609    765
Name: amount_per_area, dtype: int64
48 1090    2622
Name: amount_per_area, dtype: int64
194 129    541
Name: amount_per_area, dtype: int64
194 610    1126
Name: amount_per_area, dtype: int64
194 1091    2837
Name: amount_per_area, dtype: int64
194 129    541
Name: amount_per_area, dtype: int64
194 610    1126
Name: amount_per_area, dtype: int64
194 1091    2837
Name: amount_per_area, dtype: int64
387 130    977
Name: amount_per_area, dtype: int64
387 611    1349
Name: amount_per_area, dtype: int64
387 1092    2326
Name: amount_per_area, dtype: int64
387 130    977
Name: amount_per_area, dtype: int64
387 611    1349
Name: amount_per_area, dtype: int64
387 1092    2326
Name: amount_per_area, dtype: int64
504 131    1036
Name: amount_per_area, dtype: int64
504 612    1413
Name: amount_per_area, dtype: int64
504 1093    2260
Name: amount_per_area, dtype: int64
504 131    1036
Name: amount_per_area, dtype: int64
504 612    1413
Name: amount_per_area, dtype: int64
504 1093    2260
Name: amount_per_area, dtype: int64
699 132    1348
Name: amount_per_area, dtype: int64
699 613    1448
Name: amount_per_area, dtype: int64
699 1094    2197
Name: amount_per_area, dtype: int64
699 132    1348
Name: amount_per_area, dtype: int64
699 613    1448
Name: amount_per_area, dtype: int64
699 1094    2197
Name: amount_per_area, dtype: int64
0 133    0
Name: amount_per_area, dtype: int64
0 614    0
Name: amount_per_area, dtype: int64
0 1095    0
Name: amount_per_area, dtype: int64
0 133    0
Name: amount_per_area, dtype: int64
0 614    0
Name: amount_per_area, dtype: int64
0 1095    0
Name: amount_per_area, dtype: int64
667 134    2247
Name: amount_per_area, dtype: int64
667 615    1053
Name: amount_per_area, dtype: int64
667 1096    211
Name: amount_per_area, dtype: int64
667 134    2247
Name: amount_per_area, dtype: int64
667 615    1053
Name: amount_per_area, dtype: int64
667 1096    211
Name: amount_per_area, dtype: int64
518 135    1099
Name: amount_per_area, dtype: int64
518 616    1282
Name: amount_per_area, dtype: int64
518 1097    2198
Name: amount_per_area, dtype: int64
518 135    1099
Name: amount_per_area, dtype: int64
518 616    1282
Name: amount_per_area, dtype: int64
518 1097    2198
Name: amount_per_area, dtype: int64
617 136    1124
Name: amount_per_area, dtype: int64
617 617    1208
Name: amount_per_area, dtype: int64
617 1098    1832
Name: amount_per_area, dtype: int64
617 136    1124
Name: amount_per_area, dtype: int64
617 617    1208
Name: amount_per_area, dtype: int64
617 1098    1832
Name: amount_per_area, dtype: int64
482 137    1108
Name: amount_per_area, dtype: int64
482 618    1218
Name: amount_per_area, dtype: int64
482 1099    3211
Name: amount_per_area, dtype: int64
482 137    1108
Name: amount_per_area, dtype: int64
482 618    1218
Name: amount_per_area, dtype: int64
482 1099    3211
Name: amount_per_area, dtype: int64
239 138    713
Name: amount_per_area, dtype: int64
239 619    1090
Name: amount_per_area, dtype: int64
239 1100    2390
Name: amount_per_area, dtype: int64
239 138    713
Name: amount_per_area, dtype: int64
239 619    1090
Name: amount_per_area, dtype: int64
239 1100    2390
Name: amount_per_area, dtype: int64
213 139    521
Name: amount_per_area, dtype: int64
213 620    998
Name: amount_per_area, dtype: int64
213 1101    2775
Name: amount_per_area, dtype: int64
213 139    521
Name: amount_per_area, dtype: int64
213 620    998
Name: amount_per_area, dtype: int64
213 1101    2775
Name: amount_per_area, dtype: int64
91 140    388
Name: amount_per_area, dtype: int64
91 621    808
Name: amount_per_area, dtype: int64
91 1102    2002
Name: amount_per_area, dtype: int64
91 140    388
Name: amount_per_area, dtype: int64
91 621    808
Name: amount_per_area, dtype: int64
91 1102    2002
Name: amount_per_area, dtype: int64
384 141    767
Name: amount_per_area, dtype: int64
384 622    1050
Name: amount_per_area, dtype: int64
384 1103    2179
Name: amount_per_area, dtype: int64
384 141    767
Name: amount_per_area, dtype: int64
384 622    1050
Name: amount_per_area, dtype: int64
384 1103    2179
Name: amount_per_area, dtype: int64
0 142    0
Name: amount_per_area, dtype: int64
0 623    0
Name: amount_per_area, dtype: int64
0 1104    0
Name: amount_per_area, dtype: int64
0 142    0
Name: amount_per_area, dtype: int64
0 623    0
Name: amount_per_area, dtype: int64
0 1104    0
Name: amount_per_area, dtype: int64
681 143    1254
Name: amount_per_area, dtype: int64
681 624    1299
Name: amount_per_area, dtype: int64
681 1105    1926
Name: amount_per_area, dtype: int64
681 143    1254
Name: amount_per_area, dtype: int64
681 624    1299
Name: amount_per_area, dtype: int64
681 1105    1926
Name: amount_per_area, dtype: int64
0 144    0
Name: amount_per_area, dtype: int64
0 625    0
Name: amount_per_area, dtype: int64
0 1106    0
Name: amount_per_area, dtype: int64
0 144    0
Name: amount_per_area, dtype: int64
0 625    0
Name: amount_per_area, dtype: int64
0 1106    0
Name: amount_per_area, dtype: int64
0 145    0
Name: amount_per_area, dtype: int64
0 626    0
Name: amount_per_area, dtype: int64
0 1107    0
Name: amount_per_area, dtype: int64
0 145    0
Name: amount_per_area, dtype: int64
0 626    0
Name: amount_per_area, dtype: int64
0 1107    0
Name: amount_per_area, dtype: int64
0 146    0
Name: amount_per_area, dtype: int64
0 627    0
Name: amount_per_area, dtype: int64
0 1108    0
Name: amount_per_area, dtype: int64
0 146    0
Name: amount_per_area, dtype: int64
0 627    0
Name: amount_per_area, dtype: int64
0 1108    0
Name: amount_per_area, dtype: int64
1 147    0
Name: amount_per_area, dtype: int64
1 628    0
Name: amount_per_area, dtype: int64
1 1109    0
Name: amount_per_area, dtype: int64
1 147    0
Name: amount_per_area, dtype: int64
1 628    0
Name: amount_per_area, dtype: int64
1 1109    0
Name: amount_per_area, dtype: int64
0 148    0
Name: amount_per_area, dtype: int64
0 629    0
Name: amount_per_area, dtype: int64
0 1110    0
Name: amount_per_area, dtype: int64
0 148    0
Name: amount_per_area, dtype: int64
0 629    0
Name: amount_per_area, dtype: int64
0 1110    0
Name: amount_per_area, dtype: int64
3 149    15
Name: amount_per_area, dtype: int64
3 630    69
Name: amount_per_area, dtype: int64
3 1111    66
Name: amount_per_area, dtype: int64
3 149    15
Name: amount_per_area, dtype: int64
3 630    69
Name: amount_per_area, dtype: int64
3 1111    66
Name: amount_per_area, dtype: int64
0 150    0
Name: amount_per_area, dtype: int64
0 631    0
Name: amount_per_area, dtype: int64
0 1112    0
Name: amount_per_area, dtype: int64
0 150    0
Name: amount_per_area, dtype: int64
0 631    0
Name: amount_per_area, dtype: int64
0 1112    0
Name: amount_per_area, dtype: int64
0 151    0
Name: amount_per_area, dtype: int64
0 632    0
Name: amount_per_area, dtype: int64
0 1113    0
Name: amount_per_area, dtype: int64
0 151    0
Name: amount_per_area, dtype: int64
0 632    0
Name: amount_per_area, dtype: int64
0 1113    0
Name: amount_per_area, dtype: int64
374 152    652
Name: amount_per_area, dtype: int64
374 633    557
Name: amount_per_area, dtype: int64
374 1114    382
Name: amount_per_area, dtype: int64
374 152    652
Name: amount_per_area, dtype: int64
374 633    557
Name: amount_per_area, dtype: int64
374 1114    382
Name: amount_per_area, dtype: int64
640 153    883
Name: amount_per_area, dtype: int64
640 634    687
Name: amount_per_area, dtype: int64
640 1115    393
Name: amount_per_area, dtype: int64
640 153    883
Name: amount_per_area, dtype: int64
640 634    687
Name: amount_per_area, dtype: int64
640 1115    393
Name: amount_per_area, dtype: int64
429 154    572
Name: amount_per_area, dtype: int64
429 635    558
Name: amount_per_area, dtype: int64
429 1116    338
Name: amount_per_area, dtype: int64
429 154    572
Name: amount_per_area, dtype: int64
429 635    558
Name: amount_per_area, dtype: int64
429 1116    338
Name: amount_per_area, dtype: int64
221 155    419
Name: amount_per_area, dtype: int64
221 636    548
Name: amount_per_area, dtype: int64
221 1117    644
Name: amount_per_area, dtype: int64
221 155    419
Name: amount_per_area, dtype: int64
221 636    548
Name: amount_per_area, dtype: int64
221 1117    644
Name: amount_per_area, dtype: int64
368 156    744
Name: amount_per_area, dtype: int64
368 637    706
Name: amount_per_area, dtype: int64
368 1118    409
Name: amount_per_area, dtype: int64
368 156    744
Name: amount_per_area, dtype: int64
368 637    706
Name: amount_per_area, dtype: int64
368 1118    409
Name: amount_per_area, dtype: int64
1212 157    1486
Name: amount_per_area, dtype: int64
1212 638    1049
Name: amount_per_area, dtype: int64
1212 1119    379
Name: amount_per_area, dtype: int64
1212 157    1486
Name: amount_per_area, dtype: int64
1212 638    1049
Name: amount_per_area, dtype: int64
1212 1119    379
Name: amount_per_area, dtype: int64

0 158    0
Name: amount_per_area, dtype: int64
0 639    0
Name: amount_per_area, dtype: int64
0 1120    0
Name: amount_per_area, dtype: int64
0 158    0
Name: amount_per_area, dtype: int64
0 639    0
Name: amount_per_area, dtype: int64
0 1120    0
Name: amount_per_area, dtype: int64
705 159    963
Name: amount_per_area, dtype: int64
705 640    722
Name: amount_per_area, dtype: int64
705 1121    503
Name: amount_per_area, dtype: int64
705 159    963
Name: amount_per_area, dtype: int64
705 640    722
Name: amount_per_area, dtype: int64
705 1121    503
Name: amount_per_area, dtype: int64
596 160    929
Name: amount_per_area, dtype: int64
596 641    788
Name: amount_per_area, dtype: int64
596 1122    303
Name: amount_per_area, dtype: int64
596 160    929
Name: amount_per_area, dtype: int64
596 641    788
Name: amount_per_area, dtype: int64
596 1122    303
Name: amount_per_area, dtype: int64
414 161    638
Name: amount_per_area, dtype: int64
414 642    707
Name: amount_per_area, dtype: int64
414 1123    397
Name: amount_per_area, dtype: int64
414 161    638
Name: amount_per_area, dtype: int64
414 642    707
Name: amount_per_area, dtype: int64
414 1123    397
Name: amount_per_area, dtype: int64
645 162    1089
Name: amount_per_area, dtype: int64
645 643    1118
Name: amount_per_area, dtype: int64
645 1124    659
Name: amount_per_area, dtype: int64
645 162    1089
Name: amount_per_area, dtype: int64
645 643    1118
Name: amount_per_area, dtype: int64
645 1124    659
Name: amount_per_area, dtype: int64
789 163    1138
Name: amount_per_area, dtype: int64
789 644    1009
Name: amount_per_area, dtype: int64
789 1125    440
Name: amount_per_area, dtype: int64
789 163    1138
Name: amount_per_area, dtype: int64
789 644    1009
Name: amount_per_area, dtype: int64
789 1125    440
Name: amount_per_area, dtype: int64
46 164    188
Name: amount_per_area, dtype: int64
46 645    136
Name: amount_per_area, dtype: int64
46 1126    114
Name: amount_per_area, dtype: int64
46 164    188
Name: amount_per_area, dtype: int64
46 645    136
Name: amount_per_area, dtype: int64
46 1126    114
Name: amount_per_area, dtype: int64
0 165    0
Name: amount_per_area, dtype: int64
0 646    0
Name: amount_per_area, dtype: int64
0 1127    0
Name: amount_per_area, dtype: int64
0 165    0
Name: amount_per_area, dtype: int64
0 646    0
Name: amount_per_area, dtype: int64
0 1127    0
Name: amount_per_area, dtype: int64
187 166    449
Name: amount_per_area, dtype: int64
187 647    622
Name: amount_per_area, dtype: int64
187 1128    376
Name: amount_per_area, dtype: int64
187 166    449
Name: amount_per_area, dtype: int64
187 647    622
Name: amount_per_area, dtype: int64
187 1128    376
Name: amount_per_area, dtype: int64
2 167    0
Name: amount_per_area, dtype: int64
2 648    0
Name: amount_per_area, dtype: int64
2 1129    0
Name: amount_per_area, dtype: int64
2 167    0
Name: amount_per_area, dtype: int64
2 648    0
Name: amount_per_area, dtype: int64
2 1129    0
Name: amount_per_area, dtype: int64
2 168    22
Name: amount_per_area, dtype: int64
2 649    21
Name: amount_per_area, dtype: int64
2 1130    16
Name: amount_per_area, dtype: int64
2 168    22
Name: amount_per_area, dtype: int64
2 649    21
Name: amount_per_area, dtype: int64
2 1130    16
Name: amount_per_area, dtype: int64
1 169    2
Name: amount_per_area, dtype: int64
1 650    3
Name: amount_per_area, dtype: int64
1 1131    2
Name: amount_per_area, dtype: int64
1 169    2
Name: amount_per_area, dtype: int64
1 650    3
Name: amount_per_area, dtype: int64
1 1131    2
Name: amount_per_area, dtype: int64
801 170    1361
Name: amount_per_area, dtype: int64
801 651    1007
Name: amount_per_area, dtype: int64
801 1132    327
Name: amount_per_area, dtype: int64
801 170    1361
Name: amount_per_area, dtype: int64
801 651    1007
Name: amount_per_area, dtype: int64
801 1132    327
Name: amount_per_area, dtype: int64
409 171    699
Name: amount_per_area, dtype: int64
409 652    958
Name: amount_per_area, dtype: int64
409 1133    958
Name: amount_per_area, dtype: int64
409 171    699
Name: amount_per_area, dtype: int64
409 652    958
Name: amount_per_area, dtype: int64
409 1133    958
Name: amount_per_area, dtype: int64
492 172    602
Name: amount_per_area, dtype: int64
492 653    654
Name: amount_per_area, dtype: int64
492 1134    447
Name: amount_per_area, dtype: int64
492 172    602
Name: amount_per_area, dtype: int64
492 653    654
Name: amount_per_area, dtype: int64
492 1134    447
Name: amount_per_area, dtype: int64
115 173    302
Name: amount_per_area, dtype: int64
115 654    311
Name: amount_per_area, dtype: int64
115 1135    204
Name: amount_per_area, dtype: int64
115 173    302
Name: amount_per_area, dtype: int64
115 654    311
Name: amount_per_area, dtype: int64
115 1135    204
Name: amount_per_area, dtype: int64
131 174    401
Name: amount_per_area, dtype: int64
131 655    615
Name: amount_per_area, dtype: int64
131 1136    415
Name: amount_per_area, dtype: int64
131 174    401
Name: amount_per_area, dtype: int64
131 655    615
Name: amount_per_area, dtype: int64
131 1136    415
Name: amount_per_area, dtype: int64
869 175    1081
Name: amount_per_area, dtype: int64
869 656    940
Name: amount_per_area, dtype: int64
869 1137    353
Name: amount_per_area, dtype: int64
869 175    1081
Name: amount_per_area, dtype: int64
869 656    940
Name: amount_per_area, dtype: int64
869 1137    353
Name: amount_per_area, dtype: int64
794 176    1028
Name: amount_per_area, dtype: int64
794 657    977
Name: amount_per_area, dtype: int64
794 1138    566
Name: amount_per_area, dtype: int64
794 176    1028
Name: amount_per_area, dtype: int64
794 657    977
Name: amount_per_area, dtype: int64
794 1138    566
Name: amount_per_area, dtype: int64
641 177    885
Name: amount_per_area, dtype: int64
641 658    1005
Name: amount_per_area, dtype: int64
641 1139    503
Name: amount_per_area, dtype: int64
641 177    885
Name: amount_per_area, dtype: int64
641 658    1005
Name: amount_per_area, dtype: int64
641 1139    503
Name: amount_per_area, dtype: int64
680 178    992
Name: amount_per_area, dtype: int64
680 659    1203
Name: amount_per_area, dtype: int64
680 1140    812
Name: amount_per_area, dtype: int64
680 178    992
Name: amount_per_area, dtype: int64
680 659    1203
Name: amount_per_area, dtype: int64
680 1140    812
Name: amount_per_area, dtype: int64
408 179    810
Name: amount_per_area, dtype: int64
408 660    945
Name: amount_per_area, dtype: int64
408 1141    495
Name: amount_per_area, dtype: int64
408 179    810
Name: amount_per_area, dtype: int64
408 660    945
Name: amount_per_area, dtype: int64
408 1141    495
Name: amount_per_area, dtype: int64
33 180    0
Name: amount_per_area, dtype: int64
33 661    0
Name: amount_per_area, dtype: int64
33 1142    0
Name: amount_per_area, dtype: int64
33 180    0
Name: amount_per_area, dtype: int64
33 661    0
Name: amount_per_area, dtype: int64
33 1142    0
Name: amount_per_area, dtype: int64
406 181    667
Name: amount_per_area, dtype: int64
406 662    875
Name: amount_per_area, dtype: int64
406 1143    542
Name: amount_per_area, dtype: int64
406 181    667
Name: amount_per_area, dtype: int64
406 662    875
Name: amount_per_area, dtype: int64
406 1143    542
Name: amount_per_area, dtype: int64
155 182    422
Name: amount_per_area, dtype: int64
155 663    625
Name: amount_per_area, dtype: int64
155 1144    516
Name: amount_per_area, dtype: int64
155 182    422
Name: amount_per_area, dtype: int64
155 663    625
Name: amount_per_area, dtype: int64
155 1144    516
Name: amount_per_area, dtype: int64
223 183    452
Name: amount_per_area, dtype: int64
223 664    630
Name: amount_per_area, dtype: int64
223 1145    533
Name: amount_per_area, dtype: int64
223 183    452
Name: amount_per_area, dtype: int64
223 664    630
Name: amount_per_area, dtype: int64
223 1145    533
Name: amount_per_area, dtype: int64
71 184    242
Name: amount_per_area, dtype: int64
71 665    369
Name: amount_per_area, dtype: int64
71 1146    542
Name: amount_per_area, dtype: int64
71 184    242
Name: amount_per_area, dtype: int64
71 665    369
Name: amount_per_area, dtype: int64
71 1146    542
Name: amount_per_area, dtype: int64
111 185    244
Name: amount_per_area, dtype: int64
111 666    278
Name: amount_per_area, dtype: int64
111 1147    348
Name: amount_per_area, dtype: int64
111 185    244
Name: amount_per_area, dtype: int64
111 666    278
Name: amount_per_area, dtype: int64
111 1147    348
Name: amount_per_area, dtype: int64
579 186    828
Name: amount_per_area, dtype: int64

579 667    715
Name: amount_per_area, dtype: int64
579 1148    358
Name: amount_per_area, dtype: int64
579 186    828
Name: amount_per_area, dtype: int64
579 667    715
Name: amount_per_area, dtype: int64
579 1148    358
Name: amount_per_area, dtype: int64
1226 187    1207
Name: amount_per_area, dtype: int64
1226 668    1022
Name: amount_per_area, dtype: int64
1226 1149    867
Name: amount_per_area, dtype: int64
1226 187    1207
Name: amount_per_area, dtype: int64
1226 668    1022
Name: amount_per_area, dtype: int64
1226 1149    867
Name: amount_per_area, dtype: int64
576 188    546
Name: amount_per_area, dtype: int64
576 669    769
Name: amount_per_area, dtype: int64
576 1150    1166
Name: amount_per_area, dtype: int64
576 188    546
Name: amount_per_area, dtype: int64
576 669    769
Name: amount_per_area, dtype: int64
576 1150    1166
Name: amount_per_area, dtype: int64
11 189    37
Name: amount_per_area, dtype: int64
11 670    284
Name: amount_per_area, dtype: int64
11 1151    284
Name: amount_per_area, dtype: int64
11 189    37
Name: amount_per_area, dtype: int64
11 670    284
Name: amount_per_area, dtype: int64
11 1151    284
Name: amount_per_area, dtype: int64
4 190    33
Name: amount_per_area, dtype: int64
4 671    145
Name: amount_per_area, dtype: int64
4 1152    358
Name: amount_per_area, dtype: int64
4 190    33
Name: amount_per_area, dtype: int64
4 671    145
Name: amount_per_area, dtype: int64
4 1152    358
Name: amount_per_area, dtype: int64
520 191    801
Name: amount_per_area, dtype: int64
520 672    478
Name: amount_per_area, dtype: int64
520 1153    141
Name: amount_per_area, dtype: int64
520 191    801
Name: amount_per_area, dtype: int64
520 672    478
Name: amount_per_area, dtype: int64
520 1153    141
Name: amount_per_area, dtype: int64
25 192    33
Name: amount_per_area, dtype: int64
25 673    336
Name: amount_per_area, dtype: int64
25 1154    715
Name: amount_per_area, dtype: int64
25 192    33
Name: amount_per_area, dtype: int64
25 673    336
Name: amount_per_area, dtype: int64
25 1154    715
Name: amount_per_area, dtype: int64
38 193    113
Name: amount_per_area, dtype: int64
38 674    487
Name: amount_per_area, dtype: int64
38 1155    1274
Name: amount_per_area, dtype: int64
38 193    113
Name: amount_per_area, dtype: int64
38 674    487
Name: amount_per_area, dtype: int64
38 1155    1274
Name: amount_per_area, dtype: int64
226 194    331
Name: amount_per_area, dtype: int64
226 675    363
Name: amount_per_area, dtype: int64
226 1156    883
Name: amount_per_area, dtype: int64
226 194    331
Name: amount_per_area, dtype: int64
226 675    363
Name: amount_per_area, dtype: int64
226 1156    883
Name: amount_per_area, dtype: int64
260 195    507
Name: amount_per_area, dtype: int64
260 676    507
Name: amount_per_area, dtype: int64
260 1157    570
Name: amount_per_area, dtype: int64
260 195    507
Name: amount_per_area, dtype: int64
260 676    507
Name: amount_per_area, dtype: int64
260 1157    570
Name: amount_per_area, dtype: int64
274 196    407
Name: amount_per_area, dtype: int64
274 677    646
Name: amount_per_area, dtype: int64
274 1158    794
Name: amount_per_area, dtype: int64
274 196    407
Name: amount_per_area, dtype: int64
274 677    646
Name: amount_per_area, dtype: int64
274 1158    794
Name: amount_per_area, dtype: int64
7 197    52
Name: amount_per_area, dtype: int64
7 678    114
Name: amount_per_area, dtype: int64
7 1159    82
Name: amount_per_area, dtype: int64
7 197    52
Name: amount_per_area, dtype: int64
7 678    114
Name: amount_per_area, dtype: int64
7 1159    82
Name: amount_per_area, dtype: int64
29 198    0
Name: amount_per_area, dtype: int64
29 679    0
Name: amount_per_area, dtype: int64
29 1160    0
Name: amount_per_area, dtype: int64
29 198    0
Name: amount_per_area, dtype: int64
29 679    0
Name: amount_per_area, dtype: int64
29 1160    0
Name: amount_per_area, dtype: int64
0 199    0
Name: amount_per_area, dtype: int64
0 680    0
Name: amount_per_area, dtype: int64
0 1161    0
Name: amount_per_area, dtype: int64
0 199    0
Name: amount_per_area, dtype: int64
0 680    0
Name: amount_per_area, dtype: int64
0 1161    0
Name: amount_per_area, dtype: int64
28 200    244
Name: amount_per_area, dtype: int64
28 681    473
Name: amount_per_area, dtype: int64
28 1162    809
Name: amount_per_area, dtype: int64
28 200    244
Name: amount_per_area, dtype: int64
28 681    473
Name: amount_per_area, dtype: int64
28 1162    809
Name: amount_per_area, dtype: int64
0 201    6
Name: amount_per_area, dtype: int64
0 682    9
Name: amount_per_area, dtype: int64
0 1163    9
Name: amount_per_area, dtype: int64
0 201    6
Name: amount_per_area, dtype: int64
0 682    9
Name: amount_per_area, dtype: int64
0 1163    9
Name: amount_per_area, dtype: int64
0 202    7
Name: amount_per_area, dtype: int64
0 683    24
Name: amount_per_area, dtype: int64
0 1164    27
Name: amount_per_area, dtype: int64
0 202    7
Name: amount_per_area, dtype: int64
0 683    24
Name: amount_per_area, dtype: int64
0 1164    27
Name: amount_per_area, dtype: int64
219 203    393
Name: amount_per_area, dtype: int64
219 684    628
Name: amount_per_area, dtype: int64
219 1165    550
Name: amount_per_area, dtype: int64
219 203    393
Name: amount_per_area, dtype: int64
219 684    628
Name: amount_per_area, dtype: int64
219 1165    550
Name: amount_per_area, dtype: int64
97 204    289
Name: amount_per_area, dtype: int64
97 685    528
Name: amount_per_area, dtype: int64
97 1166    440
Name: amount_per_area, dtype: int64
97 204    289
Name: amount_per_area, dtype: int64
97 685    528
Name: amount_per_area, dtype: int64
97 1166    440
Name: amount_per_area, dtype: int64
126 205    549
Name: amount_per_area, dtype: int64
126 686    755
Name: amount_per_area, dtype: int64
126 1167    984
Name: amount_per_area, dtype: int64
126 205    549
Name: amount_per_area, dtype: int64
126 686    755
Name: amount_per_area, dtype: int64
126 1167    984
Name: amount_per_area, dtype: int64
60 206    356
Name: amount_per_area, dtype: int64
60 687    748
Name: amount_per_area, dtype: int64
60 1168    767
Name: amount_per_area, dtype: int64
60 206    356
Name: amount_per_area, dtype: int64
60 687    748
Name: amount_per_area, dtype: int64
60 1168    767
Name: amount_per_area, dtype: int64
147 207    381
Name: amount_per_area, dtype: int64
147 688    651
Name: amount_per_area, dtype: int64
147 1169    556
Name: amount_per_area, dtype: int64
147 207    381
Name: amount_per_area, dtype: int64
147 688    651
Name: amount_per_area, dtype: int64
147 1169    556
Name: amount_per_area, dtype: int64
0 208    47
Name: amount_per_area, dtype: int64
0 689    89
Name: amount_per_area, dtype: int64
0 1170    98
Name: amount_per_area, dtype: int64
0 208    47
Name: amount_per_area, dtype: int64
0 689    89
Name: amount_per_area, dtype: int64
0 1170    98
Name: amount_per_area, dtype: int64
306 209    552
Name: amount_per_area, dtype: int64
306 690    600
Name: amount_per_area, dtype: int64
306 1171    426
Name: amount_per_area, dtype: int64
306 209    552
Name: amount_per_area, dtype: int64
306 690    600
Name: amount_per_area, dtype: int64
306 1171    426
Name: amount_per_area, dtype: int64
389 210    504
Name: amount_per_area, dtype: int64
389 691    714
Name: amount_per_area, dtype: int64
389 1172    861
Name: amount_per_area, dtype: int64
389 210    504
Name: amount_per_area, dtype: int64
389 691    714
Name: amount_per_area, dtype: int64
389 1172    861
Name: amount_per_area, dtype: int64
500 211    595
Name: amount_per_area, dtype: int64
500 692    561
Name: amount_per_area, dtype: int64
500 1173    527
Name: amount_per_area, dtype: int64
500 211    595
Name: amount_per_area, dtype: int64
500 692    561
Name: amount_per_area, dtype: int64
500 1173    527
Name: amount_per_area, dtype: int64
50 212    71
Name: amount_per_area, dtype: int64
50 693    313
Name: amount_per_area, dtype: int64
50 1174    121
Name: amount_per_area, dtype: int64
50 212    71
Name: amount_per_area, dtype: int64
50 693    313
Name: amount_per_area, dtype: int64
50 1174    121
Name: amount_per_area, dtype: int64
1 213    7
Name: amount_per_area, dtype: int64
1 694    15
Name: amount_per_area, dtype: int64
1 1175    86
Name: amount_per_area, dtype: int64
1 213    7
Name: amount_per_area, dtype: int64
1 694    15
Name: amount_per_area, dtype: int64
1 1175    86
Name: amount_per_area, dtype: int64
0 214    0
Name: amount_per_area, dtype: int64
0 695    0
Name: amount_per_area, dtype: int64
0 1176    0
Name: amount_per_area, dtype: int64
0 214    0
Name: amount_per_area, dtype: int64
0 695    0
Name: amount_per_area, dtype: int64
0 1176    0
Name: amount_per_area, dtype: int64
0 215    0
Name: amount_per_area, dtype: int64
0 696    0
Name: amount_per_area, dtype: int64
0 1177    0
Name: amount_per_area, dtype: int64
0 215    0
Name: amount_per_area, dtype: int64
0 696    0
Name: amount_per_area, dtype: int64
0 1177    0
Name: amount_per_area, dtype: int64

40 216    152
Name: amount_per_area, dtype: int64
40 697    417
Name: amount_per_area, dtype: int64
40 1178    1326
Name: amount_per_area, dtype: int64
40 216    152
Name: amount_per_area, dtype: int64
40 697    417
Name: amount_per_area, dtype: int64
40 1178    1326
Name: amount_per_area, dtype: int64
7 217    7
Name: amount_per_area, dtype: int64
7 698    291
Name: amount_per_area, dtype: int64
7 1179    309
Name: amount_per_area, dtype: int64
7 217    7
Name: amount_per_area, dtype: int64
7 698    291
Name: amount_per_area, dtype: int64
7 1179    309
Name: amount_per_area, dtype: int64
66 218    386
Name: amount_per_area, dtype: int64
66 699    1040
Name: amount_per_area, dtype: int64
66 1180    2427
Name: amount_per_area, dtype: int64
66 218    386
Name: amount_per_area, dtype: int64
66 699    1040
Name: amount_per_area, dtype: int64
66 1180    2427
Name: amount_per_area, dtype: int64
172 219    492
Name: amount_per_area, dtype: int64
172 700    1124
Name: amount_per_area, dtype: int64
172 1181    1931
Name: amount_per_area, dtype: int64
172 219    492
Name: amount_per_area, dtype: int64
172 700    1124
Name: amount_per_area, dtype: int64
172 1181    1931
Name: amount_per_area, dtype: int64
76 220    440
Name: amount_per_area, dtype: int64
76 701    1118
Name: amount_per_area, dtype: int64
76 1182    2436
Name: amount_per_area, dtype: int64
76 220    440
Name: amount_per_area, dtype: int64
76 701    1118
Name: amount_per_area, dtype: int64
76 1182    2436
Name: amount_per_area, dtype: int64
229 221    837
Name: amount_per_area, dtype: int64
229 702    1617
Name: amount_per_area, dtype: int64
229 1183    3123
Name: amount_per_area, dtype: int64
229 221    837
Name: amount_per_area, dtype: int64
229 702    1617
Name: amount_per_area, dtype: int64
229 1183    3123
Name: amount_per_area, dtype: int64
71 222    433
Name: amount_per_area, dtype: int64
71 703    1101
Name: amount_per_area, dtype: int64
71 1184    2398
Name: amount_per_area, dtype: int64
71 222    433
Name: amount_per_area, dtype: int64
71 703    1101
Name: amount_per_area, dtype: int64
71 1184    2398
Name: amount_per_area, dtype: int64
225 223    552
Name: amount_per_area, dtype: int64
225 704    1146
Name: amount_per_area, dtype: int64
225 1185    2547
Name: amount_per_area, dtype: int64
225 223    552
Name: amount_per_area, dtype: int64
225 704    1146
Name: amount_per_area, dtype: int64
225 1185    2547
Name: amount_per_area, dtype: int64
141 224    629
Name: amount_per_area, dtype: int64
141 705    1209
Name: amount_per_area, dtype: int64
141 1186    2999
Name: amount_per_area, dtype: int64
141 224    629
Name: amount_per_area, dtype: int64
141 705    1209
Name: amount_per_area, dtype: int64
141 1186    2999
Name: amount_per_area, dtype: int64
232 225    545
Name: amount_per_area, dtype: int64
232 706    954
Name: amount_per_area, dtype: int64
232 1187    1908
Name: amount_per_area, dtype: int64
232 225    545
Name: amount_per_area, dtype: int64
232 706    954
Name: amount_per_area, dtype: int64
232 1187    1908
Name: amount_per_area, dtype: int64
180 226    500
Name: amount_per_area, dtype: int64
180 707    1042
Name: amount_per_area, dtype: int64
180 1188    2583
Name: amount_per_area, dtype: int64
180 226    500
Name: amount_per_area, dtype: int64
180 707    1042
Name: amount_per_area, dtype: int64
180 1188    2583
Name: amount_per_area, dtype: int64
440 227    1108
Name: amount_per_area, dtype: int64
440 708    1227
Name: amount_per_area, dtype: int64
440 1189    1662
Name: amount_per_area, dtype: int64
440 227    1108
Name: amount_per_area, dtype: int64
440 708    1227
Name: amount_per_area, dtype: int64
440 1189    1662
Name: amount_per_area, dtype: int64
406 228    912
Name: amount_per_area, dtype: int64
406 709    1202
Name: amount_per_area, dtype: int64
406 1190    2030
Name: amount_per_area, dtype: int64
406 228    912
Name: amount_per_area, dtype: int64
406 709    1202
Name: amount_per_area, dtype: int64
406 1190    2030
Name: amount_per_area, dtype: int64
332 229    959
Name: amount_per_area, dtype: int64
332 710    1238
Name: amount_per_area, dtype: int64
332 1191    1797
Name: amount_per_area, dtype: int64
332 229    959
Name: amount_per_area, dtype: int64
332 710    1238
Name: amount_per_area, dtype: int64
332 1191    1797
Name: amount_per_area, dtype: int64
32 230    317
Name: amount_per_area, dtype: int64
32 711    761
Name: amount_per_area, dtype: int64
32 1192    2091
Name: amount_per_area, dtype: int64
32 230    317
Name: amount_per_area, dtype: int64
32 711    761
Name: amount_per_area, dtype: int64
32 1192    2091
Name: amount_per_area, dtype: int64
72 231    397
Name: amount_per_area, dtype: int64
72 712    1032
Name: amount_per_area, dtype: int64
72 1193    2540
Name: amount_per_area, dtype: int64
72 231    397
Name: amount_per_area, dtype: int64
72 712    1032
Name: amount_per_area, dtype: int64
72 1193    2540
Name: amount_per_area, dtype: int64
82 232    406
Name: amount_per_area, dtype: int64
82 713    1082
Name: amount_per_area, dtype: int64
82 1194    3019
Name: amount_per_area, dtype: int64
82 232    406
Name: amount_per_area, dtype: int64
82 713    1082
Name: amount_per_area, dtype: int64
82 1194    3019
Name: amount_per_area, dtype: int64
100 233    332
Name: amount_per_area, dtype: int64
100 714    862
Name: amount_per_area, dtype: int64
100 1195    2120
Name: amount_per_area, dtype: int64
100 233    332
Name: amount_per_area, dtype: int64
100 714    862
Name: amount_per_area, dtype: int64
100 1195    2120
Name: amount_per_area, dtype: int64
63 234    420
Name: amount_per_area, dtype: int64
63 715    1007
Name: amount_per_area, dtype: int64
63 1196    2769
Name: amount_per_area, dtype: int64
63 234    420
Name: amount_per_area, dtype: int64
63 715    1007
Name: amount_per_area, dtype: int64
63 1196    2769
Name: amount_per_area, dtype: int64
0 235    25
Name: amount_per_area, dtype: int64
0 716    54
Name: amount_per_area, dtype: int64
0 1197    64
Name: amount_per_area, dtype: int64
0 235    25
Name: amount_per_area, dtype: int64
0 716    54
Name: amount_per_area, dtype: int64
0 1197    64
Name: amount_per_area, dtype: int64
93 236    462
Name: amount_per_area, dtype: int64
93 717    1133
Name: amount_per_area, dtype: int64
93 1198    2602
Name: amount_per_area, dtype: int64
93 236    462
Name: amount_per_area, dtype: int64
93 717    1133
Name: amount_per_area, dtype: int64
93 1198    2602
Name: amount_per_area, dtype: int64
47 237    285
Name: amount_per_area, dtype: int64
47 718    366
Name: amount_per_area, dtype: int64
47 1199    704
Name: amount_per_area, dtype: int64
47 237    285
Name: amount_per_area, dtype: int64
47 718    366
Name: amount_per_area, dtype: int64
47 1199    704
Name: amount_per_area, dtype: int64
9 238    270
Name: amount_per_area, dtype: int64
9 719    436
Name: amount_per_area, dtype: int64
9 1200    1370
Name: amount_per_area, dtype: int64
9 238    270
Name: amount_per_area, dtype: int64
9 719    436
Name: amount_per_area, dtype: int64
9 1200    1370
Name: amount_per_area, dtype: int64
53 239    393
Name: amount_per_area, dtype: int64
53 720    752
Name: amount_per_area, dtype: int64
53 1201    2124
Name: amount_per_area, dtype: int64
53 239    393
Name: amount_per_area, dtype: int64
53 720    752
Name: amount_per_area, dtype: int64
53 1201    2124
Name: amount_per_area, dtype: int64
8 240    172
Name: amount_per_area, dtype: int64
8 721    358
Name: amount_per_area, dtype: int64
8 1202    901
Name: amount_per_area, dtype: int64
8 240    172
Name: amount_per_area, dtype: int64
8 721    358
Name: amount_per_area, dtype: int64
8 1202    901
Name: amount_per_area, dtype: int64
0 241    0
Name: amount_per_area, dtype: int64
0 722    0
Name: amount_per_area, dtype: int64
0 1203    0
Name: amount_per_area, dtype: int64
0 241    0
Name: amount_per_area, dtype: int64
0 722    0
Name: amount_per_area, dtype: int64
0 1203    0
Name: amount_per_area, dtype: int64
4 242    169
Name: amount_per_area, dtype: int64
4 723    423
Name: amount_per_area, dtype: int64
4 1204    1099
Name: amount_per_area, dtype: int64
4 242    169
Name: amount_per_area, dtype: int64
4 723    423
Name: amount_per_area, dtype: int64
4 1204    1099
Name: amount_per_area, dtype: int64
7 243    148
Name: amount_per_area, dtype: int64
7 724    296
Name: amount_per_area, dtype: int64
7 1205    777
Name: amount_per_area, dtype: int64
7 243    148
Name: amount_per_area, dtype: int64
7 724    296
Name: amount_per_area, dtype: int64
7 1205    777
Name: amount_per_area, dtype: int64
5 244    266
Name: amount_per_area, dtype: int64
5 725    603
Name: amount_per_area, dtype: int64
5 1206    1543
Name: amount_per_area, dtype: int64
5 244    266
Name: amount_per_area, dtype: int64
5 725    603
Name: amount_per_area, dtype: int64
5 1206    1543
Name: amount_per_area, dtype: int64
6 245    287
Name: amount_per_area, dtype: int64
6 726    703
Name: amount_per_area, dtype: int64
6 1207    1615
Name: amount_per_area, dtype: int64
6 245    287
Name: amount_per_area, dtype: int64
6 726    703
Name: amount_per_area, dtype: int64
6 1207    1615
Name: amount_per_area, dtype: int64
9 246    175
Name: amount_per_area, dtype: int64
9 727    362
Name: amount_per_area, dtype: int64
9 1208    804
Name: amount_per_area, dtype: int64
9 246    175
Name: amount_per_area, dtype: int64
9 727    362
Name: amount_per_area, dtype: int64
9 1208    804
Name: amount_per_area, dtype: int64
6 247    287
Name: amount_per_area, dtype: int64
6 728    660
Name: amount_per_area, dtype: int64
6 1209    1921
Name: amount_per_area, dtype: int64
6 247    287
Name: amount_per_area, dtype: int64
6 728    660
Name: amount_per_area, dtype: int64
6 1209    1921
Name: amount_per_area, dtype: int64
3 248    247
Name: amount_per_area, dtype: int64
3 729    617
Name: amount_per_area, dtype: int64
3 1210    1603
Name: amount_per_area, dtype: int64

3 248    247
Name: amount_per_area, dtype: int64
3 729    617
Name: amount_per_area, dtype: int64
3 1210    1603
Name: amount_per_area, dtype: int64
0 249    0
Name: amount_per_area, dtype: int64
0 730    0
Name: amount_per_area, dtype: int64
0 1211    0
Name: amount_per_area, dtype: int64
0 249    0
Name: amount_per_area, dtype: int64
0 730    0
Name: amount_per_area, dtype: int64
0 1211    0
Name: amount_per_area, dtype: int64
0 250    0
Name: amount_per_area, dtype: int64
0 731    0
Name: amount_per_area, dtype: int64
0 1212    0
Name: amount_per_area, dtype: int64
0 250    0
Name: amount_per_area, dtype: int64
0 731    0
Name: amount_per_area, dtype: int64
0 1212    0
Name: amount_per_area, dtype: int64
21 251    287
Name: amount_per_area, dtype: int64
21 732    984
Name: amount_per_area, dtype: int64
21 1213    2827
Name: amount_per_area, dtype: int64
21 251    287
Name: amount_per_area, dtype: int64
21 732    984
Name: amount_per_area, dtype: int64
21 1213    2827
Name: amount_per_area, dtype: int64
318 252    752
Name: amount_per_area, dtype: int64
318 733    1059
Name: amount_per_area, dtype: int64
318 1214    1605
Name: amount_per_area, dtype: int64
318 252    752
Name: amount_per_area, dtype: int64
318 733    1059
Name: amount_per_area, dtype: int64
318 1214    1605
Name: amount_per_area, dtype: int64
84 253    358
Name: amount_per_area, dtype: int64
84 734    562
Name: amount_per_area, dtype: int64
84 1215    801
Name: amount_per_area, dtype: int64
84 253    358
Name: amount_per_area, dtype: int64
84 734    562
Name: amount_per_area, dtype: int64
84 1215    801
Name: amount_per_area, dtype: int64
300 254    926
Name: amount_per_area, dtype: int64
300 735    1176
Name: amount_per_area, dtype: int64
300 1216    1461
Name: amount_per_area, dtype: int64
300 254    926
Name: amount_per_area, dtype: int64
300 735    1176
Name: amount_per_area, dtype: int64
300 1216    1461
Name: amount_per_area, dtype: int64
89 255    288
Name: amount_per_area, dtype: int64
89 736    460
Name: amount_per_area, dtype: int64
89 1217    1169
Name: amount_per_area, dtype: int64
89 255    288
Name: amount_per_area, dtype: int64
89 736    460
Name: amount_per_area, dtype: int64
89 1217    1169
Name: amount_per_area, dtype: int64
1 256    41
Name: amount_per_area, dtype: int64
1 737    79
Name: amount_per_area, dtype: int64
1 1218    194
Name: amount_per_area, dtype: int64
1 256    41
Name: amount_per_area, dtype: int64
1 737    79
Name: amount_per_area, dtype: int64
1 1218    194
Name: amount_per_area, dtype: int64
66 257    398
Name: amount_per_area, dtype: int64
66 738    904
Name: amount_per_area, dtype: int64
66 1219    2312
Name: amount_per_area, dtype: int64
66 257    398
Name: amount_per_area, dtype: int64
66 738    904
Name: amount_per_area, dtype: int64
66 1219    2312
Name: amount_per_area, dtype: int64
0 258    86
Name: amount_per_area, dtype: int64
0 739    186
Name: amount_per_area, dtype: int64
0 1220    435
Name: amount_per_area, dtype: int64
0 258    86
Name: amount_per_area, dtype: int64
0 739    186
Name: amount_per_area, dtype: int64
0 1220    435
Name: amount_per_area, dtype: int64
2 259    193
Name: amount_per_area, dtype: int64
2 740    372
Name: amount_per_area, dtype: int64
2 1221    921
Name: amount_per_area, dtype: int64
2 259    193
Name: amount_per_area, dtype: int64
2 740    372
Name: amount_per_area, dtype: int64
2 1221    921
Name: amount_per_area, dtype: int64
2 260    0
Name: amount_per_area, dtype: int64
2 741    0
Name: amount_per_area, dtype: int64
2 1222    0
Name: amount_per_area, dtype: int64
2 260    0
Name: amount_per_area, dtype: int64
2 741    0
Name: amount_per_area, dtype: int64
2 1222    0
Name: amount_per_area, dtype: int64
5 261    184
Name: amount_per_area, dtype: int64
5 742    417
Name: amount_per_area, dtype: int64
5 1223    1066
Name: amount_per_area, dtype: int64
5 261    184
Name: amount_per_area, dtype: int64
5 742    417
Name: amount_per_area, dtype: int64
5 1223    1066
Name: amount_per_area, dtype: int64
12 262    282
Name: amount_per_area, dtype: int64
12 743    759
Name: amount_per_area, dtype: int64
12 1224    1771
Name: amount_per_area, dtype: int64
12 262    282
Name: amount_per_area, dtype: int64
12 743    759
Name: amount_per_area, dtype: int64
12 1224    1771
Name: amount_per_area, dtype: int64
10 263    273
Name: amount_per_area, dtype: int64
10 744    696
Name: amount_per_area, dtype: int64
10 1225    2057
Name: amount_per_area, dtype: int64
10 263    273
Name: amount_per_area, dtype: int64
10 744    696
Name: amount_per_area, dtype: int64
10 1225    2057
Name: amount_per_area, dtype: int64
27 264    376
Name: amount_per_area, dtype: int64
27 745    751
Name: amount_per_area, dtype: int64
27 1226    2627
Name: amount_per_area, dtype: int64
27 264    376
Name: amount_per_area, dtype: int64
27 745    751
Name: amount_per_area, dtype: int64
27 1226    2627
Name: amount_per_area, dtype: int64
55 265    334
Name: amount_per_area, dtype: int64
55 746    758
Name: amount_per_area, dtype: int64
55 1227    1970
Name: amount_per_area, dtype: int64
55 265    334
Name: amount_per_area, dtype: int64
55 746    758
Name: amount_per_area, dtype: int64
55 1227    1970
Name: amount_per_area, dtype: int64
58 266    273
Name: amount_per_area, dtype: int64
58 747    716
Name: amount_per_area, dtype: int64
58 1228    2421
Name: amount_per_area, dtype: int64
58 266    273
Name: amount_per_area, dtype: int64
58 747    716
Name: amount_per_area, dtype: int64
58 1228    2421
Name: amount_per_area, dtype: int64
51 267    238
Name: amount_per_area, dtype: int64
51 748    714
Name: amount_per_area, dtype: int64
51 1229    2023
Name: amount_per_area, dtype: int64
51 267    238
Name: amount_per_area, dtype: int64
51 748    714
Name: amount_per_area, dtype: int64
51 1229    2023
Name: amount_per_area, dtype: int64
82 268    319
Name: amount_per_area, dtype: int64
82 749    519
Name: amount_per_area, dtype: int64
82 1230    1156
Name: amount_per_area, dtype: int64
82 268    319
Name: amount_per_area, dtype: int64
82 749    519
Name: amount_per_area, dtype: int64
82 1230    1156
Name: amount_per_area, dtype: int64
11 269    0
Name: amount_per_area, dtype: int64
11 750    0
Name: amount_per_area, dtype: int64
11 1231    0
Name: amount_per_area, dtype: int64
11 269    0
Name: amount_per_area, dtype: int64
11 750    0
Name: amount_per_area, dtype: int64
11 1231    0
Name: amount_per_area, dtype: int64
125 270    505
Name: amount_per_area, dtype: int64
125 751    976
Name: amount_per_area, dtype: int64
125 1232    1885
Name: amount_per_area, dtype: int64
125 270    505
Name: amount_per_area, dtype: int64
125 751    976
Name: amount_per_area, dtype: int64
125 1232    1885
Name: amount_per_area, dtype: int64
237 271    572
Name: amount_per_area, dtype: int64
237 752    1029
Name: amount_per_area, dtype: int64
237 1233    2172
Name: amount_per_area, dtype: int64
237 271    572
Name: amount_per_area, dtype: int64
237 752    1029
Name: amount_per_area, dtype: int64
237 1233    2172
Name: amount_per_area, dtype: int64
124 272    414
Name: amount_per_area, dtype: int64
124 753    698
Name: amount_per_area, dtype: int64
124 1234    1498
Name: amount_per_area, dtype: int64
124 272    414
Name: amount_per_area, dtype: int64
124 753    698
Name: amount_per_area, dtype: int64
124 1234    1498
Name: amount_per_area, dtype: int64
55 273    247
Name: amount_per_area, dtype: int64
55 754    667
Name: amount_per_area, dtype: int64
55 1235    1555
Name: amount_per_area, dtype: int64
55 273    247
Name: amount_per_area, dtype: int64
55 754    667
Name: amount_per_area, dtype: int64
55 1235    1555
Name: amount_per_area, dtype: int64
37 274    132
Name: amount_per_area, dtype: int64
37 755    380
Name: amount_per_area, dtype: int64
37 1236    935
Name: amount_per_area, dtype: int64
37 274    132
Name: amount_per_area, dtype: int64
37 755    380
Name: amount_per_area, dtype: int64
37 1236    935
Name: amount_per_area, dtype: int64
338 275    1125
Name: amount_per_area, dtype: int64
338 756    1163
Name: amount_per_area, dtype: int64
338 1237    1425
Name: amount_per_area, dtype: int64
338 275    1125
Name: amount_per_area, dtype: int64
338 756    1163
Name: amount_per_area, dtype: int64
338 1237    1425
Name: amount_per_area, dtype: int64
0 276    0
Name: amount_per_area, dtype: int64
0 757    0
Name: amount_per_area, dtype: int64
0 1238    0
Name: amount_per_area, dtype: int64
0 276    0
Name: amount_per_area, dtype: int64
0 757    0
Name: amount_per_area, dtype: int64
0 1238    0
Name: amount_per_area, dtype: int64
10 277    76
Name: amount_per_area, dtype: int64
10 758    238
Name: amount_per_area, dtype: int64
10 1239    636
Name: amount_per_area, dtype: int64
10 277    76
Name: amount_per_area, dtype: int64
10 758    238
Name: amount_per_area, dtype: int64
10 1239    636
Name: amount_per_area, dtype: int64
0 278    0
Name: amount_per_area, dtype: int64
0 759    0
Name: amount_per_area, dtype: int64
0 1240    0
Name: amount_per_area, dtype: int64
0 278    0
Name: amount_per_area, dtype: int64
0 759    0
Name: amount_per_area, dtype: int64
0 1240    0
Name: amount_per_area, dtype: int64

40 279    288
Name: amount_per_area, dtype: int64
40 760    557
Name: amount_per_area, dtype: int64
40 1241    970
Name: amount_per_area, dtype: int64
40 279    288
Name: amount_per_area, dtype: int64
40 760    557
Name: amount_per_area, dtype: int64
40 1241    970
Name: amount_per_area, dtype: int64
34 280    212
Name: amount_per_area, dtype: int64
34 761    437
Name: amount_per_area, dtype: int64
34 1242    675
Name: amount_per_area, dtype: int64
34 280    212
Name: amount_per_area, dtype: int64
34 761    437
Name: amount_per_area, dtype: int64
34 1242    675
Name: amount_per_area, dtype: int64
11 281    186
Name: amount_per_area, dtype: int64
11 762    319
Name: amount_per_area, dtype: int64
11 1243    525
Name: amount_per_area, dtype: int64
11 281    186
Name: amount_per_area, dtype: int64
11 762    319
Name: amount_per_area, dtype: int64
11 1243    525
Name: amount_per_area, dtype: int64
0 282    0
Name: amount_per_area, dtype: int64
0 763    0
Name: amount_per_area, dtype: int64
0 1244    0
Name: amount_per_area, dtype: int64
0 282    0
Name: amount_per_area, dtype: int64
0 763    0
Name: amount_per_area, dtype: int64
0 1244    0
Name: amount_per_area, dtype: int64
6 283    113
Name: amount_per_area, dtype: int64
6 764    191
Name: amount_per_area, dtype: int64
6 1245    410
Name: amount_per_area, dtype: int64
6 283    113
Name: amount_per_area, dtype: int64
6 764    191
Name: amount_per_area, dtype: int64
6 1245    410
Name: amount_per_area, dtype: int64
0 284    0
Name: amount_per_area, dtype: int64
0 765    0
Name: amount_per_area, dtype: int64
0 1246    0
Name: amount_per_area, dtype: int64
0 284    0
Name: amount_per_area, dtype: int64
0 765    0
Name: amount_per_area, dtype: int64
0 1246    0
Name: amount_per_area, dtype: int64
16 285    167
Name: amount_per_area, dtype: int64
16 766    188
Name: amount_per_area, dtype: int64
16 1247    688
Name: amount_per_area, dtype: int64
16 285    167
Name: amount_per_area, dtype: int64
16 766    188
Name: amount_per_area, dtype: int64
16 1247    688
Name: amount_per_area, dtype: int64
58 286    415
Name: amount_per_area, dtype: int64
58 767    691
Name: amount_per_area, dtype: int64
58 1248    868
Name: amount_per_area, dtype: int64
58 286    415
Name: amount_per_area, dtype: int64
58 767    691
Name: amount_per_area, dtype: int64
58 1248    868
Name: amount_per_area, dtype: int64
23 287    160
Name: amount_per_area, dtype: int64
23 768    365
Name: amount_per_area, dtype: int64
23 1249    616
Name: amount_per_area, dtype: int64
23 287    160
Name: amount_per_area, dtype: int64
23 768    365
Name: amount_per_area, dtype: int64
23 1249    616
Name: amount_per_area, dtype: int64
0 288    0
Name: amount_per_area, dtype: int64
0 769    0
Name: amount_per_area, dtype: int64
0 1250    0
Name: amount_per_area, dtype: int64
0 288    0
Name: amount_per_area, dtype: int64
0 769    0
Name: amount_per_area, dtype: int64
0 1250    0
Name: amount_per_area, dtype: int64
53 289    216
Name: amount_per_area, dtype: int64
53 770    709
Name: amount_per_area, dtype: int64
53 1251    2127
Name: amount_per_area, dtype: int64
53 289    216
Name: amount_per_area, dtype: int64
53 770    709
Name: amount_per_area, dtype: int64
53 1251    2127
Name: amount_per_area, dtype: int64
135 290    375
Name: amount_per_area, dtype: int64
135 771    718
Name: amount_per_area, dtype: int64
135 1252    2061
Name: amount_per_area, dtype: int64
135 290    375
Name: amount_per_area, dtype: int64
135 771    718
Name: amount_per_area, dtype: int64
135 1252    2061
Name: amount_per_area, dtype: int64
143 291    300
Name: amount_per_area, dtype: int64
143 772    558
Name: amount_per_area, dtype: int64
143 1253    504
Name: amount_per_area, dtype: int64
143 291    300
Name: amount_per_area, dtype: int64
143 772    558
Name: amount_per_area, dtype: int64
143 1253    504
Name: amount_per_area, dtype: int64
252 292    535
Name: amount_per_area, dtype: int64
252 773    850
Name: amount_per_area, dtype: int64
252 1254    1730
Name: amount_per_area, dtype: int64
252 292    535
Name: amount_per_area, dtype: int64
252 773    850
Name: amount_per_area, dtype: int64
252 1254    1730
Name: amount_per_area, dtype: int64
1 293    11
Name: amount_per_area, dtype: int64
1 774    28
Name: amount_per_area, dtype: int64
1 1255    56
Name: amount_per_area, dtype: int64
1 293    11
Name: amount_per_area, dtype: int64
1 774    28
Name: amount_per_area, dtype: int64
1 1255    56
Name: amount_per_area, dtype: int64
361 294    747
Name: amount_per_area, dtype: int64
361 775    1078
Name: amount_per_area, dtype: int64
361 1256    2363
Name: amount_per_area, dtype: int64
361 294    747
Name: amount_per_area, dtype: int64
361 775    1078
Name: amount_per_area, dtype: int64
361 1256    2363
Name: amount_per_area, dtype: int64
602 295    1274
Name: amount_per_area, dtype: int64
602 776    1186
Name: amount_per_area, dtype: int64
602 1257    1933
Name: amount_per_area, dtype: int64
602 295    1274
Name: amount_per_area, dtype: int64
602 776    1186
Name: amount_per_area, dtype: int64
602 1257    1933
Name: amount_per_area, dtype: int64
442 296    922
Name: amount_per_area, dtype: int64
442 777    999
Name: amount_per_area, dtype: int64
442 1258    1920
Name: amount_per_area, dtype: int64
442 296    922
Name: amount_per_area, dtype: int64
442 777    999
Name: amount_per_area, dtype: int64
442 1258    1920
Name: amount_per_area, dtype: int64
479 297    873
Name: amount_per_area, dtype: int64
479 778    1025
Name: amount_per_area, dtype: int64
479 1259    1898
Name: amount_per_area, dtype: int64
479 297    873
Name: amount_per_area, dtype: int64
479 778    1025
Name: amount_per_area, dtype: int64
479 1259    1898
Name: amount_per_area, dtype: int64
108 298    380
Name: amount_per_area, dtype: int64
108 779    348
Name: amount_per_area, dtype: int64
108 1260    838
Name: amount_per_area, dtype: int64
108 298    380
Name: amount_per_area, dtype: int64
108 779    348
Name: amount_per_area, dtype: int64
108 1260    838
Name: amount_per_area, dtype: int64
661 299    1109
Name: amount_per_area, dtype: int64
661 780    1150
Name: amount_per_area, dtype: int64
661 1261    1847
Name: amount_per_area, dtype: int64
661 299    1109
Name: amount_per_area, dtype: int64
661 780    1150
Name: amount_per_area, dtype: int64
661 1261    1847
Name: amount_per_area, dtype: int64
771 300    1186
Name: amount_per_area, dtype: int64
771 781    1278
Name: amount_per_area, dtype: int64
771 1262    2099
Name: amount_per_area, dtype: int64
771 300    1186
Name: amount_per_area, dtype: int64
771 781    1278
Name: amount_per_area, dtype: int64
771 1262    2099
Name: amount_per_area, dtype: int64
441 301    734
Name: amount_per_area, dtype: int64
441 782    978
Name: amount_per_area, dtype: int64
441 1263    2364
Name: amount_per_area, dtype: int64
441 301    734
Name: amount_per_area, dtype: int64
441 782    978
Name: amount_per_area, dtype: int64
441 1263    2364
Name: amount_per_area, dtype: int64
830 302    1161
Name: amount_per_area, dtype: int64
830 783    1438
Name: amount_per_area, dtype: int64
830 1264    2875
Name: amount_per_area, dtype: int64
830 302    1161
Name: amount_per_area, dtype: int64
830 783    1438
Name: amount_per_area, dtype: int64
830 1264    2875
Name: amount_per_area, dtype: int64
1212 303    1757
Name: amount_per_area, dtype: int64
1212 784    1307
Name: amount_per_area, dtype: int64
1212 1265    1442
Name: amount_per_area, dtype: int64
1212 303    1757
Name: amount_per_area, dtype: int64
1212 784    1307
Name: amount_per_area, dtype: int64
1212 1265    1442
Name: amount_per_area, dtype: int64
771 304    1339
Name: amount_per_area, dtype: int64
771 785    1177
Name: amount_per_area, dtype: int64
771 1266    1502
Name: amount_per_area, dtype: int64
771 304    1339
Name: amount_per_area, dtype: int64
771 785    1177
Name: amount_per_area, dtype: int64
771 1266    1502
Name: amount_per_area, dtype: int64
1099 305    1537
Name: amount_per_area, dtype: int64
1099 786    1311
Name: amount_per_area, dtype: int64
1099 1267    1718
Name: amount_per_area, dtype: int64
1099 305    1537
Name: amount_per_area, dtype: int64
1099 786    1311
Name: amount_per_area, dtype: int64
1099 1267    1718
Name: amount_per_area, dtype: int64
82 306    166
Name: amount_per_area, dtype: int64
82 787    253
Name: amount_per_area, dtype: int64
82 1268    555
Name: amount_per_area, dtype: int64
82 306    166
Name: amount_per_area, dtype: int64
82 787    253
Name: amount_per_area, dtype: int64
82 1268    555
Name: amount_per_area, dtype: int64
0 307    0
Name: amount_per_area, dtype: int64
0 788    0
Name: amount_per_area, dtype: int64
0 1269    0
Name: amount_per_area, dtype: int64

0 307    0
Name: amount_per_area, dtype: int64
0 788    0
Name: amount_per_area, dtype: int64
0 1269    0
Name: amount_per_area, dtype: int64
79 308    162
Name: amount_per_area, dtype: int64
79 789    277
Name: amount_per_area, dtype: int64
79 1270    715
Name: amount_per_area, dtype: int64
79 308    162
Name: amount_per_area, dtype: int64
79 789    277
Name: amount_per_area, dtype: int64
79 1270    715
Name: amount_per_area, dtype: int64
98 309    243
Name: amount_per_area, dtype: int64
98 790    405
Name: amount_per_area, dtype: int64
98 1271    972
Name: amount_per_area, dtype: int64
98 309    243
Name: amount_per_area, dtype: int64
98 790    405
Name: amount_per_area, dtype: int64
98 1271    972
Name: amount_per_area, dtype: int64
65 310    321
Name: amount_per_area, dtype: int64
65 791    769
Name: amount_per_area, dtype: int64
65 1272    2113
Name: amount_per_area, dtype: int64
65 310    321
Name: amount_per_area, dtype: int64
65 791    769
Name: amount_per_area, dtype: int64
65 1272    2113
Name: amount_per_area, dtype: int64
65 311    451
Name: amount_per_area, dtype: int64
65 792    901
Name: amount_per_area, dtype: int64
65 1273    1865
Name: amount_per_area, dtype: int64
65 311    451
Name: amount_per_area, dtype: int64
65 792    901
Name: amount_per_area, dtype: int64
65 1273    1865
Name: amount_per_area, dtype: int64
54 312    601
Name: amount_per_area, dtype: int64
54 793    955
Name: amount_per_area, dtype: int64
54 1274    2015
Name: amount_per_area, dtype: int64
54 312    601
Name: amount_per_area, dtype: int64
54 793    955
Name: amount_per_area, dtype: int64
54 1274    2015
Name: amount_per_area, dtype: int64
220 313    580
Name: amount_per_area, dtype: int64
220 794    1078
Name: amount_per_area, dtype: int64
220 1275    2486
Name: amount_per_area, dtype: int64
220 313    580
Name: amount_per_area, dtype: int64
220 794    1078
Name: amount_per_area, dtype: int64
220 1275    2486
Name: amount_per_area, dtype: int64
218 314    521
Name: amount_per_area, dtype: int64
218 795    781
Name: amount_per_area, dtype: int64
218 1276    1064
Name: amount_per_area, dtype: int64
218 314    521
Name: amount_per_area, dtype: int64
218 795    781
Name: amount_per_area, dtype: int64
218 1276    1064
Name: amount_per_area, dtype: int64
223 315    572
Name: amount_per_area, dtype: int64
223 796    842
Name: amount_per_area, dtype: int64
223 1277    1594
Name: amount_per_area, dtype: int64
223 315    572
Name: amount_per_area, dtype: int64
223 796    842
Name: amount_per_area, dtype: int64
223 1277    1594
Name: amount_per_area, dtype: int64
0 316    0
Name: amount_per_area, dtype: int64
0 797    0
Name: amount_per_area, dtype: int64
0 1278    0
Name: amount_per_area, dtype: int64
0 316    0
Name: amount_per_area, dtype: int64
0 797    0
Name: amount_per_area, dtype: int64
0 1278    0
Name: amount_per_area, dtype: int64
5 317    37
Name: amount_per_area, dtype: int64
5 798    114
Name: amount_per_area, dtype: int64
5 1279    309
Name: amount_per_area, dtype: int64
5 317    37
Name: amount_per_area, dtype: int64
5 798    114
Name: amount_per_area, dtype: int64
5 1279    309
Name: amount_per_area, dtype: int64
0 318    0
Name: amount_per_area, dtype: int64
0 799    0
Name: amount_per_area, dtype: int64
0 1280    0
Name: amount_per_area, dtype: int64
0 318    0
Name: amount_per_area, dtype: int64
0 799    0
Name: amount_per_area, dtype: int64
0 1280    0
Name: amount_per_area, dtype: int64
0 319    0
Name: amount_per_area, dtype: int64
0 800    0
Name: amount_per_area, dtype: int64
0 1281    0
Name: amount_per_area, dtype: int64
0 319    0
Name: amount_per_area, dtype: int64
0 800    0
Name: amount_per_area, dtype: int64
0 1281    0
Name: amount_per_area, dtype: int64
6 320    0
Name: amount_per_area, dtype: int64
6 801    0
Name: amount_per_area, dtype: int64
6 1282    0
Name: amount_per_area, dtype: int64
6 320    0
Name: amount_per_area, dtype: int64
6 801    0
Name: amount_per_area, dtype: int64
6 1282    0
Name: amount_per_area, dtype: int64
1 321    17
Name: amount_per_area, dtype: int64
1 802    162
Name: amount_per_area, dtype: int64
1 1283    145
Name: amount_per_area, dtype: int64
1 321    17
Name: amount_per_area, dtype: int64
1 802    162
Name: amount_per_area, dtype: int64
1 1283    145
Name: amount_per_area, dtype: int64
1 322    4
Name: amount_per_area, dtype: int64
1 803    5
Name: amount_per_area, dtype: int64
1 1284    4
Name: amount_per_area, dtype: int64
1 322    4
Name: amount_per_area, dtype: int64
1 803    5
Name: amount_per_area, dtype: int64
1 1284    4
Name: amount_per_area, dtype: int64
60 323    175
Name: amount_per_area, dtype: int64
60 804    559
Name: amount_per_area, dtype: int64
60 1285    1012
Name: amount_per_area, dtype: int64
60 323    175
Name: amount_per_area, dtype: int64
60 804    559
Name: amount_per_area, dtype: int64
60 1285    1012
Name: amount_per_area, dtype: int64
0 324    0
Name: amount_per_area, dtype: int64
0 805    0
Name: amount_per_area, dtype: int64
0 1286    0
Name: amount_per_area, dtype: int64
0 324    0
Name: amount_per_area, dtype: int64
0 805    0
Name: amount_per_area, dtype: int64
0 1286    0
Name: amount_per_area, dtype: int64
216 325    409
Name: amount_per_area, dtype: int64
216 806    539
Name: amount_per_area, dtype: int64
216 1287    911
Name: amount_per_area, dtype: int64
216 325    409
Name: amount_per_area, dtype: int64
216 806    539
Name: amount_per_area, dtype: int64
216 1287    911
Name: amount_per_area, dtype: int64
161 326    557
Name: amount_per_area, dtype: int64
161 807    495
Name: amount_per_area, dtype: int64
161 1288    1010
Name: amount_per_area, dtype: int64
161 326    557
Name: amount_per_area, dtype: int64
161 807    495
Name: amount_per_area, dtype: int64
161 1288    1010
Name: amount_per_area, dtype: int64
47 327    361
Name: amount_per_area, dtype: int64
47 808    433
Name: amount_per_area, dtype: int64
47 1289    1011
Name: amount_per_area, dtype: int64
47 327    361
Name: amount_per_area, dtype: int64
47 808    433
Name: amount_per_area, dtype: int64
47 1289    1011
Name: amount_per_area, dtype: int64
228 328    612
Name: amount_per_area, dtype: int64
228 809    874
Name: amount_per_area, dtype: int64
228 1290    1428
Name: amount_per_area, dtype: int64
228 328    612
Name: amount_per_area, dtype: int64
228 809    874
Name: amount_per_area, dtype: int64
228 1290    1428
Name: amount_per_area, dtype: int64
369 329    781
Name: amount_per_area, dtype: int64
369 810    938
Name: amount_per_area, dtype: int64
369 1291    1406
Name: amount_per_area, dtype: int64
369 329    781
Name: amount_per_area, dtype: int64
369 810    938
Name: amount_per_area, dtype: int64
369 1291    1406
Name: amount_per_area, dtype: int64
0 330    0
Name: amount_per_area, dtype: int64
0 811    0
Name: amount_per_area, dtype: int64
0 1292    0
Name: amount_per_area, dtype: int64
0 330    0
Name: amount_per_area, dtype: int64
0 811    0
Name: amount_per_area, dtype: int64
0 1292    0
Name: amount_per_area, dtype: int64
0 331    0
Name: amount_per_area, dtype: int64
0 812    0
Name: amount_per_area, dtype: int64
0 1293    0
Name: amount_per_area, dtype: int64
0 331    0
Name: amount_per_area, dtype: int64
0 812    0
Name: amount_per_area, dtype: int64
0 1293    0
Name: amount_per_area, dtype: int64
0 332    0
Name: amount_per_area, dtype: int64
0 813    0
Name: amount_per_area, dtype: int64
0 1294    0
Name: amount_per_area, dtype: int64
0 332    0
Name: amount_per_area, dtype: int64
0 813    0
Name: amount_per_area, dtype: int64
0 1294    0
Name: amount_per_area, dtype: int64
0 333    0
Name: amount_per_area, dtype: int64
0 814    0
Name: amount_per_area, dtype: int64
0 1295    0
Name: amount_per_area, dtype: int64
0 333    0
Name: amount_per_area, dtype: int64
0 814    0
Name: amount_per_area, dtype: int64
0 1295    0
Name: amount_per_area, dtype: int64
0 334    0
Name: amount_per_area, dtype: int64
0 815    0
Name: amount_per_area, dtype: int64
0 1296    0
Name: amount_per_area, dtype: int64
0 334    0
Name: amount_per_area, dtype: int64
0 815    0
Name: amount_per_area, dtype: int64
0 1296    0
Name: amount_per_area, dtype: int64
0 335    0
Name: amount_per_area, dtype: int64
0 816    0
Name: amount_per_area, dtype: int64
0 1297    0
Name: amount_per_area, dtype: int64
0 335    0
Name: amount_per_area, dtype: int64
0 816    0
Name: amount_per_area, dtype: int64
0 1297    0
Name: amount_per_area, dtype: int64
0 336    0
Name: amount_per_area, dtype: int64
0 817    0
Name: amount_per_area, dtype: int64
0 1298    0
Name: amount_per_area, dtype: int64
0 336    0
Name: amount_per_area, dtype: int64
0 817    0
Name: amount_per_area, dtype: int64
0 1298    0
Name: amount_per_area, dtype: int64
0 337    72
Name: amount_per_area, dtype: int64
0 818    61
Name: amount_per_area, dtype: int64
0 1299    417
Name: amount_per_area, dtype: int64
0 337    72
Name: amount_per_area, dtype: int64
0 818    61
Name: amount_per_area, dtype: int64
0 1299    417
Name: amount_per_area, dtype: int64
240 338    485
Name: amount_per_area, dtype: int64
240 819    654
Name: amount_per_area, dtype: int64
240 1300    1283
Name: amount_per_area, dtype: int64
240 338    485
Name: amount_per_area, dtype: int64
240 819    654
Name: amount_per_area, dtype: int64
240 1300    1283
Name: amount_per_area, dtype: int64
405 339    832
Name: amount_per_area, dtype: int64
405 820    970
Name: amount_per_area, dtype: int64
405 1301    998
Name: amount_per_area, dtype: int64
405 339    832
Name: amount_per_area, dtype: int64
405 820    970
Name: amount_per_area, dtype: int64
405 1301    998
Name: amount_per_area, dtype: int64
111 340    289
Name: amount_per_area, dtype: int64
111 821    841
Name: amount_per_area, dtype: int64
111 1302    1250
Name: amount_per_area, dtype: int64
111 340    289
Name: amount_per_area, dtype: int64
111 821    841
Name: amount_per_area, dtype: int64
111 1302    1250
Name: amount_per_area, dtype: int64
5 341    77
Name: amount_per_area, dtype: int64
5 822    173
Name: amount_per_area, dtype: int64
5 1303    721
Name: amount_per_area, dtype: int64
5 341    77
Name: amount_per_area, dtype: int64
5 822    173
Name: amount_per_area, dtype: int64
5 1303    721
Name: amount_per_area, dtype: int64
154 342    354
Name: amount_per_area, dtype: int64
154 823    543
Name: amount_per_area, dtype: int64
154 1304    1462
Name: amount_per_area, dtype: int64
154 342    354
Name: amount_per_area, dtype: int64
154 823    543
Name: amount_per_area, dtype: int64
154 1304    1462
Name: amount_per_area, dtype: int64
0 343    0
Name: amount_per_area, dtype: int64
0 824    0
Name: amount_per_area, dtype: int64
0 1305    0
Name: amount_per_area, dtype: int64
0 343    0
Name: amount_per_area, dtype: int64
0 824    0
Name: amount_per_area, dtype: int64
0 1305    0
Name: amount_per_area, dtype: int64
155 344    587
Name: amount_per_area, dtype: int64
155 825    423
Name: amount_per_area, dtype: int64
155 1306    342
Name: amount_per_area, dtype: int64
155 344    587
Name: amount_per_area, dtype: int64
155 825    423
Name: amount_per_area, dtype: int64
155 1306    342
Name: amount_per_area, dtype: int64
51 345    270
Name: amount_per_area, dtype: int64
51 826    356
Name: amount_per_area, dtype: int64
51 1307    613
Name: amount_per_area, dtype: int64
51 345    270
Name: amount_per_area, dtype: int64
51 826    356
Name: amount_per_area, dtype: int64
51 1307    613
Name: amount_per_area, dtype: int64
85 346    291
Name: amount_per_area, dtype: int64
85 827    383
Name: amount_per_area, dtype: int64
85 1308    488
Name: amount_per_area, dtype: int64
85 346    291
Name: amount_per_area, dtype: int64
85 827    383
Name: amount_per_area, dtype: int64
85 1308    488
Name: amount_per_area, dtype: int64
313 347    534
Name: amount_per_area, dtype: int64
313 828    519
Name: amount_per_area, dtype: int64
313 1309    430
Name: amount_per_area, dtype: int64
313 347    534
Name: amount_per_area, dtype: int64
313 828    519
Name: amount_per_area, dtype: int64
313 1309    430
Name: amount_per_area, dtype: int64
22 348    299
Name: amount_per_area, dtype: int64
22 829    624
Name: amount_per_area, dtype: int64
22 1310    1791
Name: amount_per_area, dtype: int64

22 348    299
Name: amount_per_area, dtype: int64
22 829    624
Name: amount_per_area, dtype: int64
22 1310    1791
Name: amount_per_area, dtype: int64
86 349    386
Name: amount_per_area, dtype: int64
86 830    716
Name: amount_per_area, dtype: int64
86 1311    1680
Name: amount_per_area, dtype: int64
86 349    386
Name: amount_per_area, dtype: int64
86 830    716
Name: amount_per_area, dtype: int64
86 1311    1680
Name: amount_per_area, dtype: int64
35 350    250
Name: amount_per_area, dtype: int64
35 831    545
Name: amount_per_area, dtype: int64
35 1312    1474
Name: amount_per_area, dtype: int64
35 350    250
Name: amount_per_area, dtype: int64
35 831    545
Name: amount_per_area, dtype: int64
35 1312    1474
Name: amount_per_area, dtype: int64
1 351    30
Name: amount_per_area, dtype: int64
1 832    78
Name: amount_per_area, dtype: int64
1 1313    160
Name: amount_per_area, dtype: int64
1 351    30
Name: amount_per_area, dtype: int64
1 832    78
Name: amount_per_area, dtype: int64
1 1313    160
Name: amount_per_area, dtype: int64
10 352    0
Name: amount_per_area, dtype: int64
10 833    0
Name: amount_per_area, dtype: int64
10 1314    0
Name: amount_per_area, dtype: int64
10 352    0
Name: amount_per_area, dtype: int64
10 833    0
Name: amount_per_area, dtype: int64
10 1314    0
Name: amount_per_area, dtype: int64
69 353    226
Name: amount_per_area, dtype: int64
69 834    391
Name: amount_per_area, dtype: int64
69 1315    569
Name: amount_per_area, dtype: int64
69 353    226
Name: amount_per_area, dtype: int64
69 834    391
Name: amount_per_area, dtype: int64
69 1315    569
Name: amount_per_area, dtype: int64
0 354    0
Name: amount_per_area, dtype: int64
0 835    0
Name: amount_per_area, dtype: int64
0 1316    0
Name: amount_per_area, dtype: int64
0 354    0
Name: amount_per_area, dtype: int64
0 835    0
Name: amount_per_area, dtype: int64
0 1316    0
Name: amount_per_area, dtype: int64
17 355    24
Name: amount_per_area, dtype: int64
17 836    599
Name: amount_per_area, dtype: int64
17 1317    552
Name: amount_per_area, dtype: int64
17 355    24
Name: amount_per_area, dtype: int64
17 836    599
Name: amount_per_area, dtype: int64
17 1317    552
Name: amount_per_area, dtype: int64
1 356    0
Name: amount_per_area, dtype: int64
1 837    0
Name: amount_per_area, dtype: int64
1 1318    0
Name: amount_per_area, dtype: int64
1 356    0
Name: amount_per_area, dtype: int64
1 837    0
Name: amount_per_area, dtype: int64
1 1318    0
Name: amount_per_area, dtype: int64
79 357    401
Name: amount_per_area, dtype: int64
79 838    427
Name: amount_per_area, dtype: int64
79 1319    465
Name: amount_per_area, dtype: int64
79 357    401
Name: amount_per_area, dtype: int64
79 838    427
Name: amount_per_area, dtype: int64
79 1319    465
Name: amount_per_area, dtype: int64
0 358    0
Name: amount_per_area, dtype: int64
0 839    0
Name: amount_per_area, dtype: int64
0 1320    0
Name: amount_per_area, dtype: int64
0 358    0
Name: amount_per_area, dtype: int64
0 839    0
Name: amount_per_area, dtype: int64
0 1320    0
Name: amount_per_area, dtype: int64
0 359    0
Name: amount_per_area, dtype: int64
0 840    0
Name: amount_per_area, dtype: int64
0 1321    0
Name: amount_per_area, dtype: int64
0 359    0
Name: amount_per_area, dtype: int64
0 840    0
Name: amount_per_area, dtype: int64
0 1321    0
Name: amount_per_area, dtype: int64
11 360    66
Name: amount_per_area, dtype: int64
11 841    212
Name: amount_per_area, dtype: int64
11 1322    267
Name: amount_per_area, dtype: int64
11 360    66
Name: amount_per_area, dtype: int64
11 841    212
Name: amount_per_area, dtype: int64
11 1322    267
Name: amount_per_area, dtype: int64
0 361    0
Name: amount_per_area, dtype: int64
0 842    0
Name: amount_per_area, dtype: int64
0 1323    0
Name: amount_per_area, dtype: int64
0 361    0
Name: amount_per_area, dtype: int64
0 842    0
Name: amount_per_area, dtype: int64
0 1323    0
Name: amount_per_area, dtype: int64
0 362    0
Name: amount_per_area, dtype: int64
0 843    0
Name: amount_per_area, dtype: int64
0 1324    0
Name: amount_per_area, dtype: int64
0 362    0
Name: amount_per_area, dtype: int64
0 843    0
Name: amount_per_area, dtype: int64
0 1324    0
Name: amount_per_area, dtype: int64
24 363    57
Name: amount_per_area, dtype: int64
24 844    306
Name: amount_per_area, dtype: int64
24 1325    770
Name: amount_per_area, dtype: int64
24 363    57
Name: amount_per_area, dtype: int64
24 844    306
Name: amount_per_area, dtype: int64
24 1325    770
Name: amount_per_area, dtype: int64
0 364    68
Name: amount_per_area, dtype: int64
0 845    148
Name: amount_per_area, dtype: int64
0 1326    918
Name: amount_per_area, dtype: int64
0 364    68
Name: amount_per_area, dtype: int64
0 845    148
Name: amount_per_area, dtype: int64
0 1326    918
Name: amount_per_area, dtype: int64
0 365    0
Name: amount_per_area, dtype: int64
0 846    0
Name: amount_per_area, dtype: int64
0 1327    0
Name: amount_per_area, dtype: int64
0 365    0
Name: amount_per_area, dtype: int64
0 846    0
Name: amount_per_area, dtype: int64
0 1327    0
Name: amount_per_area, dtype: int64
8 366    18
Name: amount_per_area, dtype: int64
8 847    308
Name: amount_per_area, dtype: int64
8 1328    266
Name: amount_per_area, dtype: int64
8 366    18
Name: amount_per_area, dtype: int64
8 847    308
Name: amount_per_area, dtype: int64
8 1328    266
Name: amount_per_area, dtype: int64
284 367    636
Name: amount_per_area, dtype: int64
284 848    602
Name: amount_per_area, dtype: int64
284 1329    482
Name: amount_per_area, dtype: int64
284 367    636
Name: amount_per_area, dtype: int64
284 848    602
Name: amount_per_area, dtype: int64
284 1329    482
Name: amount_per_area, dtype: int64
106 368    438
Name: amount_per_area, dtype: int64
106 849    403
Name: amount_per_area, dtype: int64
106 1330    332
Name: amount_per_area, dtype: int64
106 368    438
Name: amount_per_area, dtype: int64
106 849    403
Name: amount_per_area, dtype: int64
106 1330    332
Name: amount_per_area, dtype: int64
43 369    458
Name: amount_per_area, dtype: int64
43 850    396
Name: amount_per_area, dtype: int64
43 1331    384
Name: amount_per_area, dtype: int64
43 369    458
Name: amount_per_area, dtype: int64
43 850    396
Name: amount_per_area, dtype: int64
43 1331    384
Name: amount_per_area, dtype: int64
286 370    725
Name: amount_per_area, dtype: int64
286 851    791
Name: amount_per_area, dtype: int64
286 1332    659
Name: amount_per_area, dtype: int64
286 370    725
Name: amount_per_area, dtype: int64
286 851    791
Name: amount_per_area, dtype: int64
286 1332    659
Name: amount_per_area, dtype: int64
375 371    814
Name: amount_per_area, dtype: int64
375 852    791
Name: amount_per_area, dtype: int64
375 1333    721
Name: amount_per_area, dtype: int64
375 371    814
Name: amount_per_area, dtype: int64
375 852    791
Name: amount_per_area, dtype: int64
375 1333    721
Name: amount_per_area, dtype: int64
86 372    236
Name: amount_per_area, dtype: int64
86 853    259
Name: amount_per_area, dtype: int64
86 1334    267
Name: amount_per_area, dtype: int64
86 372    236
Name: amount_per_area, dtype: int64
86 853    259
Name: amount_per_area, dtype: int64
86 1334    267
Name: amount_per_area, dtype: int64
0 373    17
Name: amount_per_area, dtype: int64
0 854    27
Name: amount_per_area, dtype: int64
0 1335    44
Name: amount_per_area, dtype: int64
0 373    17
Name: amount_per_area, dtype: int64
0 854    27
Name: amount_per_area, dtype: int64
0 1335    44
Name: amount_per_area, dtype: int64
69 374    567
Name: amount_per_area, dtype: int64
69 855    632
Name: amount_per_area, dtype: int64
69 1336    422
Name: amount_per_area, dtype: int64
69 374    567
Name: amount_per_area, dtype: int64
69 855    632
Name: amount_per_area, dtype: int64
69 1336    422
Name: amount_per_area, dtype: int64
32 375    409
Name: amount_per_area, dtype: int64
32 856    477
Name: amount_per_area, dtype: int64
32 1337    477
Name: amount_per_area, dtype: int64
32 375    409
Name: amount_per_area, dtype: int64
32 856    477
Name: amount_per_area, dtype: int64
32 1337    477
Name: amount_per_area, dtype: int64
91 376    813
Name: amount_per_area, dtype: int64
91 857    697
Name: amount_per_area, dtype: int64
91 1338    426
Name: amount_per_area, dtype: int64
91 376    813
Name: amount_per_area, dtype: int64
91 857    697
Name: amount_per_area, dtype: int64
91 1338    426
Name: amount_per_area, dtype: int64
0 377    0
Name: amount_per_area, dtype: int64
0 858    0
Name: amount_per_area, dtype: int64
0 1339    0
Name: amount_per_area, dtype: int64
0 377    0
Name: amount_per_area, dtype: int64
0 858    0
Name: amount_per_area, dtype: int64
0 1339    0
Name: amount_per_area, dtype: int64
0 378    0
Name: amount_per_area, dtype: int64
0 859    0
Name: amount_per_area, dtype: int64
0 1340    0
Name: amount_per_area, dtype: int64
0 378    0
Name: amount_per_area, dtype: int64
0 859    0
Name: amount_per_area, dtype: int64
0 1340    0
Name: amount_per_area, dtype: int64
2 379    238
Name: amount_per_area, dtype: int64
2 860    402
Name: amount_per_area, dtype: int64
2 1341    1186
Name: amount_per_area, dtype: int64
2 379    238
Name: amount_per_area, dtype: int64
2 860    402
Name: amount_per_area, dtype: int64
2 1341    1186
Name: amount_per_area, dtype: int64
0 380    124
Name: amount_per_area, dtype: int64
0 861    229
Name: amount_per_area, dtype: int64
0 1342    601
Name: amount_per_area, dtype: int64
0 380    124
Name: amount_per_area, dtype: int64
0 861    229
Name: amount_per_area, dtype: int64

0 1342    601
Name: amount_per_area, dtype: int64
0 381    0
Name: amount_per_area, dtype: int64
0 862    0
Name: amount_per_area, dtype: int64
0 1343    0
Name: amount_per_area, dtype: int64
0 381    0
Name: amount_per_area, dtype: int64
0 862    0
Name: amount_per_area, dtype: int64
0 1343    0
Name: amount_per_area, dtype: int64
65 382    451
Name: amount_per_area, dtype: int64
65 863    511
Name: amount_per_area, dtype: int64
65 1344    226
Name: amount_per_area, dtype: int64
65 382    451
Name: amount_per_area, dtype: int64
65 863    511
Name: amount_per_area, dtype: int64
65 1344    226
Name: amount_per_area, dtype: int64
63 383    526
Name: amount_per_area, dtype: int64
63 864    555
Name: amount_per_area, dtype: int64
63 1345    380
Name: amount_per_area, dtype: int64
63 383    526
Name: amount_per_area, dtype: int64
63 864    555
Name: amount_per_area, dtype: int64
63 1345    380
Name: amount_per_area, dtype: int64
89 384    388
Name: amount_per_area, dtype: int64
89 865    420
Name: amount_per_area, dtype: int64
89 1346    259
Name: amount_per_area, dtype: int64
89 384    388
Name: amount_per_area, dtype: int64
89 865    420
Name: amount_per_area, dtype: int64
89 1346    259
Name: amount_per_area, dtype: int64
205 385    394
Name: amount_per_area, dtype: int64
205 866    442
Name: amount_per_area, dtype: int64
205 1347    741
Name: amount_per_area, dtype: int64
205 385    394
Name: amount_per_area, dtype: int64
205 866    442
Name: amount_per_area, dtype: int64
205 1347    741
Name: amount_per_area, dtype: int64
1 386    33
Name: amount_per_area, dtype: int64
1 867    53
Name: amount_per_area, dtype: int64
1 1348    80
Name: amount_per_area, dtype: int64
1 386    33
Name: amount_per_area, dtype: int64
1 867    53
Name: amount_per_area, dtype: int64
1 1348    80
Name: amount_per_area, dtype: int64
27 387    141
Name: amount_per_area, dtype: int64
27 868    256
Name: amount_per_area, dtype: int64
27 1349    126
Name: amount_per_area, dtype: int64
27 387    141
Name: amount_per_area, dtype: int64
27 868    256
Name: amount_per_area, dtype: int64
27 1349    126
Name: amount_per_area, dtype: int64
40 388    304
Name: amount_per_area, dtype: int64
40 869    455
Name: amount_per_area, dtype: int64
40 1350    408
Name: amount_per_area, dtype: int64
40 388    304
Name: amount_per_area, dtype: int64
40 869    455
Name: amount_per_area, dtype: int64
40 1350    408
Name: amount_per_area, dtype: int64
0 389    7
Name: amount_per_area, dtype: int64
0 870    14
Name: amount_per_area, dtype: int64
0 1351    14
Name: amount_per_area, dtype: int64
0 389    7
Name: amount_per_area, dtype: int64
0 870    14
Name: amount_per_area, dtype: int64
0 1351    14
Name: amount_per_area, dtype: int64
188 390    853
Name: amount_per_area, dtype: int64
188 871    758
Name: amount_per_area, dtype: int64
188 1352    285
Name: amount_per_area, dtype: int64
188 390    853
Name: amount_per_area, dtype: int64
188 871    758
Name: amount_per_area, dtype: int64
188 1352    285
Name: amount_per_area, dtype: int64
72 391    471
Name: amount_per_area, dtype: int64
72 872    728
Name: amount_per_area, dtype: int64
72 1353    304
Name: amount_per_area, dtype: int64
72 391    471
Name: amount_per_area, dtype: int64
72 872    728
Name: amount_per_area, dtype: int64
72 1353    304
Name: amount_per_area, dtype: int64
11 392    61
Name: amount_per_area, dtype: int64
11 873    111
Name: amount_per_area, dtype: int64
11 1354    164
Name: amount_per_area, dtype: int64
11 392    61
Name: amount_per_area, dtype: int64
11 873    111
Name: amount_per_area, dtype: int64
11 1354    164
Name: amount_per_area, dtype: int64
68 393    363
Name: amount_per_area, dtype: int64
68 874    470
Name: amount_per_area, dtype: int64
68 1355    224
Name: amount_per_area, dtype: int64
68 393    363
Name: amount_per_area, dtype: int64
68 874    470
Name: amount_per_area, dtype: int64
68 1355    224
Name: amount_per_area, dtype: int64
30 394    226
Name: amount_per_area, dtype: int64
30 875    338
Name: amount_per_area, dtype: int64
30 1356    376
Name: amount_per_area, dtype: int64
30 394    226
Name: amount_per_area, dtype: int64
30 875    338
Name: amount_per_area, dtype: int64
30 1356    376
Name: amount_per_area, dtype: int64
11 395    75
Name: amount_per_area, dtype: int64
11 876    196
Name: amount_per_area, dtype: int64
11 1357    305
Name: amount_per_area, dtype: int64
11 395    75
Name: amount_per_area, dtype: int64
11 876    196
Name: amount_per_area, dtype: int64
11 1357    305
Name: amount_per_area, dtype: int64
339 396    936
Name: amount_per_area, dtype: int64
339 877    912
Name: amount_per_area, dtype: int64
339 1358    552
Name: amount_per_area, dtype: int64
339 396    936
Name: amount_per_area, dtype: int64
339 877    912
Name: amount_per_area, dtype: int64
339 1358    552
Name: amount_per_area, dtype: int64
412 397    663
Name: amount_per_area, dtype: int64
412 878    615
Name: amount_per_area, dtype: int64
412 1359    300
Name: amount_per_area, dtype: int64
412 397    663
Name: amount_per_area, dtype: int64
412 878    615
Name: amount_per_area, dtype: int64
412 1359    300
Name: amount_per_area, dtype: int64
283 398    770
Name: amount_per_area, dtype: int64
283 879    653
Name: amount_per_area, dtype: int64
283 1360    251
Name: amount_per_area, dtype: int64
283 398    770
Name: amount_per_area, dtype: int64
283 879    653
Name: amount_per_area, dtype: int64
283 1360    251
Name: amount_per_area, dtype: int64
253 399    631
Name: amount_per_area, dtype: int64
253 880    499
Name: amount_per_area, dtype: int64
253 1361    353
Name: amount_per_area, dtype: int64
253 399    631
Name: amount_per_area, dtype: int64
253 880    499
Name: amount_per_area, dtype: int64
253 1361    353
Name: amount_per_area, dtype: int64
0 400    31
Name: amount_per_area, dtype: int64
0 881    86
Name: amount_per_area, dtype: int64
0 1362    117
Name: amount_per_area, dtype: int64
0 400    31
Name: amount_per_area, dtype: int64
0 881    86
Name: amount_per_area, dtype: int64
0 1362    117
Name: amount_per_area, dtype: int64
119 401    509
Name: amount_per_area, dtype: int64
119 882    678
Name: amount_per_area, dtype: int64
119 1363    509
Name: amount_per_area, dtype: int64
119 401    509
Name: amount_per_area, dtype: int64
119 882    678
Name: amount_per_area, dtype: int64
119 1363    509
Name: amount_per_area, dtype: int64
43 402    204
Name: amount_per_area, dtype: int64
43 883    324
Name: amount_per_area, dtype: int64
43 1364    226
Name: amount_per_area, dtype: int64
43 402    204
Name: amount_per_area, dtype: int64
43 883    324
Name: amount_per_area, dtype: int64
43 1364    226
Name: amount_per_area, dtype: int64
232 403    758
Name: amount_per_area, dtype: int64
232 884    718
Name: amount_per_area, dtype: int64
232 1365    519
Name: amount_per_area, dtype: int64
232 403    758
Name: amount_per_area, dtype: int64
232 884    718
Name: amount_per_area, dtype: int64
232 1365    519
Name: amount_per_area, dtype: int64
336 404    1076
Name: amount_per_area, dtype: int64
336 885    781
Name: amount_per_area, dtype: int64
336 1366    254
Name: amount_per_area, dtype: int64
336 404    1076
Name: amount_per_area, dtype: int64
336 885    781
Name: amount_per_area, dtype: int64
336 1366    254
Name: amount_per_area, dtype: int64
41 405    162
Name: amount_per_area, dtype: int64
41 886    544
Name: amount_per_area, dtype: int64
41 1367    302
Name: amount_per_area, dtype: int64
41 405    162
Name: amount_per_area, dtype: int64
41 886    544
Name: amount_per_area, dtype: int64
41 1367    302
Name: amount_per_area, dtype: int64
317 406    869
Name: amount_per_area, dtype: int64
317 887    715
Name: amount_per_area, dtype: int64
317 1368    367
Name: amount_per_area, dtype: int64
317 406    869
Name: amount_per_area, dtype: int64
317 887    715
Name: amount_per_area, dtype: int64
317 1368    367
Name: amount_per_area, dtype: int64
122 407    409
Name: amount_per_area, dtype: int64
122 888    473
Name: amount_per_area, dtype: int64
122 1369    396
Name: amount_per_area, dtype: int64
122 407    409
Name: amount_per_area, dtype: int64
122 888    473
Name: amount_per_area, dtype: int64
122 1369    396
Name: amount_per_area, dtype: int64
250 408    686
Name: amount_per_area, dtype: int64
250 889    640
Name: amount_per_area, dtype: int64
250 1370    198
Name: amount_per_area, dtype: int64
250 408    686
Name: amount_per_area, dtype: int64
250 889    640
Name: amount_per_area, dtype: int64
250 1370    198
Name: amount_per_area, dtype: int64
242 409    687
Name: amount_per_area, dtype: int64
242 890    623
Name: amount_per_area, dtype: int64
242 1371    288
Name: amount_per_area, dtype: int64
242 409    687
Name: amount_per_area, dtype: int64
242 890    623
Name: amount_per_area, dtype: int64
242 1371    288
Name: amount_per_area, dtype: int64
0 410    78
Name: amount_per_area, dtype: int64
0 891    198
Name: amount_per_area, dtype: int64
0 1372    431
Name: amount_per_area, dtype: int64
0 410    78
Name: amount_per_area, dtype: int64
0 891    198
Name: amount_per_area, dtype: int64
0 1372    431
Name: amount_per_area, dtype: int64
0 411    0
Name: amount_per_area, dtype: int64
0 892    0
Name: amount_per_area, dtype: int64
0 1373    0
Name: amount_per_area, dtype: int64
0 411    0
Name: amount_per_area, dtype: int64
0 892    0
Name: amount_per_area, dtype: int64
0 1373    0
Name: amount_per_area, dtype: int64
3 412    24
Name: amount_per_area, dtype: int64
3 893    67
Name: amount_per_area, dtype: int64
3 1374    200
Name: amount_per_area, dtype: int64
3 412    24
Name: amount_per_area, dtype: int64
3 893    67
Name: amount_per_area, dtype: int64
3 1374    200
Name: amount_per_area, dtype: int64
0 413    0
Name: amount_per_area, dtype: int64
0 894    0
Name: amount_per_area, dtype: int64
0 1375    0
Name: amount_per_area, dtype: int64
0 413    0
Name: amount_per_area, dtype: int64
0 894    0
Name: amount_per_area, dtype: int64
0 1375    0
Name: amount_per_area, dtype: int64
11 414    36
Name: amount_per_area, dtype: int64
11 895    375
Name: amount_per_area, dtype: int64
11 1376    310
Name: amount_per_area, dtype: int64
11 414    36
Name: amount_per_area, dtype: int64
11 895    375
Name: amount_per_area, dtype: int64
11 1376    310
Name: amount_per_area, dtype: int64
14 415    0
Name: amount_per_area, dtype: int64
14 896    0
Name: amount_per_area, dtype: int64
14 1377    0
Name: amount_per_area, dtype: int64
14 415    0
Name: amount_per_area, dtype: int64
14 896    0
Name: amount_per_area, dtype: int64
14 1377    0
Name: amount_per_area, dtype: int64
9 416    72
Name: amount_per_area, dtype: int64
9 897    184
Name: amount_per_area, dtype: int64
9 1378    543
Name: amount_per_area, dtype: int64
9 416    72
Name: amount_per_area, dtype: int64
9 897    184
Name: amount_per_area, dtype: int64
9 1378    543
Name: amount_per_area, dtype: int64
1 417    23
Name: amount_per_area, dtype: int64
1 898    63
Name: amount_per_area, dtype: int64
1 1379    76
Name: amount_per_area, dtype: int64
1 417    23
Name: amount_per_area, dtype: int64
1 898    63
Name: amount_per_area, dtype: int64
1 1379    76
Name: amount_per_area, dtype: int64

0 418    0
Name: amount_per_area, dtype: int64
0 899    0
Name: amount_per_area, dtype: int64
0 1380    0
Name: amount_per_area, dtype: int64
0 418    0
Name: amount_per_area, dtype: int64
0 899    0
Name: amount_per_area, dtype: int64
0 1380    0
Name: amount_per_area, dtype: int64
0 419    0
Name: amount_per_area, dtype: int64
0 900    0
Name: amount_per_area, dtype: int64
0 1381    0
Name: amount_per_area, dtype: int64
0 419    0
Name: amount_per_area, dtype: int64
0 900    0
Name: amount_per_area, dtype: int64
0 1381    0
Name: amount_per_area, dtype: int64
0 420    0
Name: amount_per_area, dtype: int64
0 901    0
Name: amount_per_area, dtype: int64
0 1382    0
Name: amount_per_area, dtype: int64
0 420    0
Name: amount_per_area, dtype: int64
0 901    0
Name: amount_per_area, dtype: int64
0 1382    0
Name: amount_per_area, dtype: int64
1 421    18
Name: amount_per_area, dtype: int64
1 902    44
Name: amount_per_area, dtype: int64
1 1383    100
Name: amount_per_area, dtype: int64
1 421    18
Name: amount_per_area, dtype: int64
1 902    44
Name: amount_per_area, dtype: int64
1 1383    100
Name: amount_per_area, dtype: int64
0 422    0
Name: amount_per_area, dtype: int64
0 903    0
Name: amount_per_area, dtype: int64
0 1384    0
Name: amount_per_area, dtype: int64
0 422    0
Name: amount_per_area, dtype: int64
0 903    0
Name: amount_per_area, dtype: int64
0 1384    0
Name: amount_per_area, dtype: int64
0 423    6
Name: amount_per_area, dtype: int64
0 904    10
Name: amount_per_area, dtype: int64
0 1385    21
Name: amount_per_area, dtype: int64
0 423    6
Name: amount_per_area, dtype: int64
0 904    10
Name: amount_per_area, dtype: int64
0 1385    21
Name: amount_per_area, dtype: int64
0 424    0
Name: amount_per_area, dtype: int64
0 905    0
Name: amount_per_area, dtype: int64
0 1386    0
Name: amount_per_area, dtype: int64
0 424    0
Name: amount_per_area, dtype: int64
0 905    0
Name: amount_per_area, dtype: int64
0 1386    0
Name: amount_per_area, dtype: int64
0 425    5
Name: amount_per_area, dtype: int64
0 906    10
Name: amount_per_area, dtype: int64
0 1387    17
Name: amount_per_area, dtype: int64
0 425    5
Name: amount_per_area, dtype: int64
0 906    10
Name: amount_per_area, dtype: int64
0 1387    17
Name: amount_per_area, dtype: int64
0 426    1
Name: amount_per_area, dtype: int64
0 907    3
Name: amount_per_area, dtype: int64
0 1388    3
Name: amount_per_area, dtype: int64
0 426    1
Name: amount_per_area, dtype: int64
0 907    3
Name: amount_per_area, dtype: int64
0 1388    3
Name: amount_per_area, dtype: int64
0 427    3
Name: amount_per_area, dtype: int64
0 908    4
Name: amount_per_area, dtype: int64
0 1389    5
Name: amount_per_area, dtype: int64
0 427    3
Name: amount_per_area, dtype: int64
0 908    4
Name: amount_per_area, dtype: int64
0 1389    5
Name: amount_per_area, dtype: int64
0 428    0
Name: amount_per_area, dtype: int64
0 909    0
Name: amount_per_area, dtype: int64
0 1390    0
Name: amount_per_area, dtype: int64
0 428    0
Name: amount_per_area, dtype: int64
0 909    0
Name: amount_per_area, dtype: int64
0 1390    0
Name: amount_per_area, dtype: int64
0 429    0
Name: amount_per_area, dtype: int64
0 910    0
Name: amount_per_area, dtype: int64
0 1391    0
Name: amount_per_area, dtype: int64
0 429    0
Name: amount_per_area, dtype: int64
0 910    0
Name: amount_per_area, dtype: int64
0 1391    0
Name: amount_per_area, dtype: int64
0 430    0
Name: amount_per_area, dtype: int64
0 911    0
Name: amount_per_area, dtype: int64
0 1392    0
Name: amount_per_area, dtype: int64
0 430    0
Name: amount_per_area, dtype: int64
0 911    0
Name: amount_per_area, dtype: int64
0 1392    0
Name: amount_per_area, dtype: int64
14 431    45
Name: amount_per_area, dtype: int64
14 912    80
Name: amount_per_area, dtype: int64
14 1393    80
Name: amount_per_area, dtype: int64
14 431    45
Name: amount_per_area, dtype: int64
14 912    80
Name: amount_per_area, dtype: int64
14 1393    80
Name: amount_per_area, dtype: int64
54 432    165
Name: amount_per_area, dtype: int64
54 913    293
Name: amount_per_area, dtype: int64
54 1394    458
Name: amount_per_area, dtype: int64
54 432    165
Name: amount_per_area, dtype: int64
54 913    293
Name: amount_per_area, dtype: int64
54 1394    458
Name: amount_per_area, dtype: int64
0 433    0
Name: amount_per_area, dtype: int64
0 914    0
Name: amount_per_area, dtype: int64
0 1395    0
Name: amount_per_area, dtype: int64
0 433    0
Name: amount_per_area, dtype: int64
0 914    0
Name: amount_per_area, dtype: int64
0 1395    0
Name: amount_per_area, dtype: int64
0 434    0
Name: amount_per_area, dtype: int64
0 915    0
Name: amount_per_area, dtype: int64
0 1396    0
Name: amount_per_area, dtype: int64
0 434    0
Name: amount_per_area, dtype: int64
0 915    0
Name: amount_per_area, dtype: int64
0 1396    0
Name: amount_per_area, dtype: int64
0 435    0
Name: amount_per_area, dtype: int64
0 916    0
Name: amount_per_area, dtype: int64
0 1397    0
Name: amount_per_area, dtype: int64
0 435    0
Name: amount_per_area, dtype: int64
0 916    0
Name: amount_per_area, dtype: int64
0 1397    0
Name: amount_per_area, dtype: int64
11 436    7
Name: amount_per_area, dtype: int64
11 917    138
Name: amount_per_area, dtype: int64
11 1398    68
Name: amount_per_area, dtype: int64
11 436    7
Name: amount_per_area, dtype: int64
11 917    138
Name: amount_per_area, dtype: int64
11 1398    68
Name: amount_per_area, dtype: int64
0 437    0
Name: amount_per_area, dtype: int64
0 918    0
Name: amount_per_area, dtype: int64
0 1399    0
Name: amount_per_area, dtype: int64
0 437    0
Name: amount_per_area, dtype: int64
0 918    0
Name: amount_per_area, dtype: int64
0 1399    0
Name: amount_per_area, dtype: int64
2 438    0
Name: amount_per_area, dtype: int64
2 919    0
Name: amount_per_area, dtype: int64
2 1400    0
Name: amount_per_area, dtype: int64
2 438    0
Name: amount_per_area, dtype: int64
2 919    0
Name: amount_per_area, dtype: int64
2 1400    0
Name: amount_per_area, dtype: int64
2 439    10
Name: amount_per_area, dtype: int64
2 920    6
Name: amount_per_area, dtype: int64
2 1401    3
Name: amount_per_area, dtype: int64
2 439    10
Name: amount_per_area, dtype: int64
2 920    6
Name: amount_per_area, dtype: int64
2 1401    3
Name: amount_per_area, dtype: int64
59 440    825
Name: amount_per_area, dtype: int64
59 921    784
Name: amount_per_area, dtype: int64
59 1402    402
Name: amount_per_area, dtype: int64
59 440    825
Name: amount_per_area, dtype: int64
59 921    784
Name: amount_per_area, dtype: int64
59 1402    402
Name: amount_per_area, dtype: int64
68 441    710
Name: amount_per_area, dtype: int64
68 922    787
Name: amount_per_area, dtype: int64
68 1403    422
Name: amount_per_area, dtype: int64
68 441    710
Name: amount_per_area, dtype: int64
68 922    787
Name: amount_per_area, dtype: int64
68 1403    422
Name: amount_per_area, dtype: int64
17 442    168
Name: amount_per_area, dtype: int64
17 923    812
Name: amount_per_area, dtype: int64
17 1404    310
Name: amount_per_area, dtype: int64
17 442    168
Name: amount_per_area, dtype: int64
17 923    812
Name: amount_per_area, dtype: int64
17 1404    310
Name: amount_per_area, dtype: int64
102 443    1167
Name: amount_per_area, dtype: int64
102 924    1167
Name: amount_per_area, dtype: int64
102 1405    737
Name: amount_per_area, dtype: int64
102 443    1167
Name: amount_per_area, dtype: int64
102 924    1167
Name: amount_per_area, dtype: int64
102 1405    737
Name: amount_per_area, dtype: int64
14 444    297
Name: amount_per_area, dtype: int64
14 925    220
Name: amount_per_area, dtype: int64
14 1406    78
Name: amount_per_area, dtype: int64
14 444    297
Name: amount_per_area, dtype: int64
14 925    220
Name: amount_per_area, dtype: int64
14 1406    78
Name: amount_per_area, dtype: int64
56 445    509
Name: amount_per_area, dtype: int64
56 926    664
Name: amount_per_area, dtype: int64
56 1407    240
Name: amount_per_area, dtype: int64
56 445    509
Name: amount_per_area, dtype: int64
56 926    664
Name: amount_per_area, dtype: int64
56 1407    240
Name: amount_per_area, dtype: int64
58 446    1454
Name: amount_per_area, dtype: int64
58 927    960
Name: amount_per_area, dtype: int64
58 1408    330
Name: amount_per_area, dtype: int64
58 446    1454
Name: amount_per_area, dtype: int64
58 927    960
Name: amount_per_area, dtype: int64
58 1408    330
Name: amount_per_area, dtype: int64
62 447    750
Name: amount_per_area, dtype: int64
62 928    633
Name: amount_per_area, dtype: int64
62 1409    300
Name: amount_per_area, dtype: int64
62 447    750
Name: amount_per_area, dtype: int64
62 928    633
Name: amount_per_area, dtype: int64
62 1409    300
Name: amount_per_area, dtype: int64
5 448    93
Name: amount_per_area, dtype: int64
5 929    96
Name: amount_per_area, dtype: int64
5 1410    128
Name: amount_per_area, dtype: int64
5 448    93
Name: amount_per_area, dtype: int64
5 929    96
Name: amount_per_area, dtype: int64
5 1410    128
Name: amount_per_area, dtype: int64
13 449    540
Name: amount_per_area, dtype: int64
13 930    827
Name: amount_per_area, dtype: int64
13 1411    432
Name: amount_per_area, dtype: int64
13 449    540
Name: amount_per_area, dtype: int64
13 930    827
Name: amount_per_area, dtype: int64
13 1411    432
Name: amount_per_area, dtype: int64
0 450    0
Name: amount_per_area, dtype: int64
0 931    0
Name: amount_per_area, dtype: int64
0 1412    0
Name: amount_per_area, dtype: int64
0 450    0
Name: amount_per_area, dtype: int64
0 931    0
Name: amount_per_area, dtype: int64
0 1412    0
Name: amount_per_area, dtype: int64
40 451    311
Name: amount_per_area, dtype: int64
40 932    560
Name: amount_per_area, dtype: int64
40 1413    374
Name: amount_per_area, dtype: int64
40 451    311
Name: amount_per_area, dtype: int64
40 932    560
Name: amount_per_area, dtype: int64
40 1413    374
Name: amount_per_area, dtype: int64
26 452    551
Name: amount_per_area, dtype: int64
26 933    697
Name: amount_per_area, dtype: int64
26 1414    389
Name: amount_per_area, dtype: int64
26 452    551
Name: amount_per_area, dtype: int64
26 933    697
Name: amount_per_area, dtype: int64
26 1414    389
Name: amount_per_area, dtype: int64
56 453    1565
Name: amount_per_area, dtype: int64
56 934    922
Name: amount_per_area, dtype: int64
56 1415    280
Name: amount_per_area, dtype: int64
56 453    1565
Name: amount_per_area, dtype: int64
56 934    922
Name: amount_per_area, dtype: int64
56 1415    280
Name: amount_per_area, dtype: int64
52 454    974
Name: amount_per_area, dtype: int64
52 935    909
Name: amount_per_area, dtype: int64
52 1416    282
Name: amount_per_area, dtype: int64
52 454    974
Name: amount_per_area, dtype: int64
52 935    909
Name: amount_per_area, dtype: int64
52 1416    282
Name: amount_per_area, dtype: int64
10 455    359
Name: amount_per_area, dtype: int64
10 936    351
Name: amount_per_area, dtype: int64
10 1417    126
Name: amount_per_area, dtype: int64
10 455    359
Name: amount_per_area, dtype: int64
10 936    351
Name: amount_per_area, dtype: int64
10 1417    126
Name: amount_per_area, dtype: int64
113 456    1072
Name: amount_per_area, dtype: int64
113 937    1098
Name: amount_per_area, dtype: int64
113 1418    445
Name: amount_per_area, dtype: int64
113 456    1072
Name: amount_per_area, dtype: int64
113 937    1098
Name: amount_per_area, dtype: int64
113 1418    445
Name: amount_per_area, dtype: int64
40 457    382
Name: amount_per_area, dtype: int64
40 938    534
Name: amount_per_area, dtype: int64
40 1419    344
Name: amount_per_area, dtype: int64

40 457    382
Name: amount_per_area, dtype: int64
40 938    534
Name: amount_per_area, dtype: int64
40 1419    344
Name: amount_per_area, dtype: int64
50 458    601
Name: amount_per_area, dtype: int64
50 939    696
Name: amount_per_area, dtype: int64
50 1420    285
Name: amount_per_area, dtype: int64
50 458    601
Name: amount_per_area, dtype: int64
50 939    696
Name: amount_per_area, dtype: int64
50 1420    285
Name: amount_per_area, dtype: int64
64 459    859
Name: amount_per_area, dtype: int64
64 940    1061
Name: amount_per_area, dtype: int64
64 1421    581
Name: amount_per_area, dtype: int64
64 459    859
Name: amount_per_area, dtype: int64
64 940    1061
Name: amount_per_area, dtype: int64
64 1421    581
Name: amount_per_area, dtype: int64
8 460    144
Name: amount_per_area, dtype: int64
8 941    262
Name: amount_per_area, dtype: int64
8 1422    249
Name: amount_per_area, dtype: int64
8 460    144
Name: amount_per_area, dtype: int64
8 941    262
Name: amount_per_area, dtype: int64
8 1422    249
Name: amount_per_area, dtype: int64
7 461    294
Name: amount_per_area, dtype: int64
7 942    294
Name: amount_per_area, dtype: int64
7 1423    154
Name: amount_per_area, dtype: int64
7 461    294
Name: amount_per_area, dtype: int64
7 942    294
Name: amount_per_area, dtype: int64
7 1423    154
Name: amount_per_area, dtype: int64
7 462    71
Name: amount_per_area, dtype: int64
7 943    187
Name: amount_per_area, dtype: int64
7 1424    154
Name: amount_per_area, dtype: int64
7 462    71
Name: amount_per_area, dtype: int64
7 943    187
Name: amount_per_area, dtype: int64
7 1424    154
Name: amount_per_area, dtype: int64
83 463    2403
Name: amount_per_area, dtype: int64
83 944    1450
Name: amount_per_area, dtype: int64
83 1425    290
Name: amount_per_area, dtype: int64
83 463    2403
Name: amount_per_area, dtype: int64
83 944    1450
Name: amount_per_area, dtype: int64
83 1425    290
Name: amount_per_area, dtype: int64
60 464    954
Name: amount_per_area, dtype: int64
60 945    863
Name: amount_per_area, dtype: int64
60 1426    455
Name: amount_per_area, dtype: int64
60 464    954
Name: amount_per_area, dtype: int64
60 945    863
Name: amount_per_area, dtype: int64
60 1426    455
Name: amount_per_area, dtype: int64
6 465    145
Name: amount_per_area, dtype: int64
6 946    297
Name: amount_per_area, dtype: int64
6 1427    282
Name: amount_per_area, dtype: int64
6 465    145
Name: amount_per_area, dtype: int64
6 946    297
Name: amount_per_area, dtype: int64
6 1427    282
Name: amount_per_area, dtype: int64
0 466    0
Name: amount_per_area, dtype: int64
0 947    0
Name: amount_per_area, dtype: int64
0 1428    0
Name: amount_per_area, dtype: int64
0 466    0
Name: amount_per_area, dtype: int64
0 947    0
Name: amount_per_area, dtype: int64
0 1428    0
Name: amount_per_area, dtype: int64
0 467    0
Name: amount_per_area, dtype: int64
0 948    0
Name: amount_per_area, dtype: int64
0 1429    0
Name: amount_per_area, dtype: int64
0 467    0
Name: amount_per_area, dtype: int64
0 948    0
Name: amount_per_area, dtype: int64
0 1429    0
Name: amount_per_area, dtype: int64
39 468    720
Name: amount_per_area, dtype: int64
39 949    618
Name: amount_per_area, dtype: int64
39 1430    133
Name: amount_per_area, dtype: int64
39 468    720
Name: amount_per_area, dtype: int64
39 949    618
Name: amount_per_area, dtype: int64
39 1430    133
Name: amount_per_area, dtype: int64
62 469    979
Name: amount_per_area, dtype: int64
62 950    836
Name: amount_per_area, dtype: int64
62 1431    225
Name: amount_per_area, dtype: int64
62 469    979
Name: amount_per_area, dtype: int64
62 950    836
Name: amount_per_area, dtype: int64
62 1431    225
Name: amount_per_area, dtype: int64
11 470    182
Name: amount_per_area, dtype: int64
11 951    315
Name: amount_per_area, dtype: int64
11 1432    203
Name: amount_per_area, dtype: int64
11 470    182
Name: amount_per_area, dtype: int64
11 951    315
Name: amount_per_area, dtype: int64
11 1432    203
Name: amount_per_area, dtype: int64
43 471    572
Name: amount_per_area, dtype: int64
43 952    587
Name: amount_per_area, dtype: int64
43 1433    308
Name: amount_per_area, dtype: int64
43 471    572
Name: amount_per_area, dtype: int64
43 952    587
Name: amount_per_area, dtype: int64
43 1433    308
Name: amount_per_area, dtype: int64
17 472    464
Name: amount_per_area, dtype: int64
17 953    586
Name: amount_per_area, dtype: int64
17 1434    314
Name: amount_per_area, dtype: int64
17 472    464
Name: amount_per_area, dtype: int64
17 953    586
Name: amount_per_area, dtype: int64
17 1434    314
Name: amount_per_area, dtype: int64
50 473    623
Name: amount_per_area, dtype: int64
50 954    765
Name: amount_per_area, dtype: int64
50 1435    392
Name: amount_per_area, dtype: int64
50 473    623
Name: amount_per_area, dtype: int64
50 954    765
Name: amount_per_area, dtype: int64
50 1435    392
Name: amount_per_area, dtype: int64
12 474    221
Name: amount_per_area, dtype: int64
12 955    335
Name: amount_per_area, dtype: int64
12 1436    206
Name: amount_per_area, dtype: int64
12 474    221
Name: amount_per_area, dtype: int64
12 955    335
Name: amount_per_area, dtype: int64
12 1436    206
Name: amount_per_area, dtype: int64
41 475    700
Name: amount_per_area, dtype: int64
41 956    700
Name: amount_per_area, dtype: int64
41 1437    308
Name: amount_per_area, dtype: int64
41 475    700
Name: amount_per_area, dtype: int64
41 956    700
Name: amount_per_area, dtype: int64
41 1437    308
Name: amount_per_area, dtype: int64
41 476    667
Name: amount_per_area, dtype: int64
41 957    751
Name: amount_per_area, dtype: int64
41 1438    251
Name: amount_per_area, dtype: int64
41 476    667
Name: amount_per_area, dtype: int64
41 957    751
Name: amount_per_area, dtype: int64
41 1438    251
Name: amount_per_area, dtype: int64
4 477    211
Name: amount_per_area, dtype: int64
4 958    395
Name: amount_per_area, dtype: int64
4 1439    312
Name: amount_per_area, dtype: int64
4 477    211
Name: amount_per_area, dtype: int64
4 958    395
Name: amount_per_area, dtype: int64
4 1439    312
Name: amount_per_area, dtype: int64
20 478    283
Name: amount_per_area, dtype: int64
20 959    350
Name: amount_per_area, dtype: int64
20 1440    200
Name: amount_per_area, dtype: int64
20 478    283
Name: amount_per_area, dtype: int64
20 959    350
Name: amount_per_area, dtype: int64
20 1440    200
Name: amount_per_area, dtype: int64
10 479    240
Name: amount_per_area, dtype: int64
10 960    382
Name: amount_per_area, dtype: int64
10 1441    267
Name: amount_per_area, dtype: int64
10 479    240
Name: amount_per_area, dtype: int64
10 960    382
Name: amount_per_area, dtype: int64
10 1441    267
Name: amount_per_area, dtype: int64
0 480    0
Name: amount_per_area, dtype: int64
0 961    0
Name: amount_per_area, dtype: int64
0 1442    0
Name: amount_per_area, dtype: int64
0 480    0
Name: amount_per_area, dtype: int64
0 961    0
Name: amount_per_area, dtype: int64
0 1442    0
Name: amount_per_area, dtype: int64
73 0    241
Name: amount_per_area, dtype: int64
73 481    872
Name: amount_per_area, dtype: int64
73 962    1864
Name: amount_per_area, dtype: int64
73 0    241
Name: amount_per_area, dtype: int64
73 481    872
Name: amount_per_area, dtype: int64
73 962    1864
Name: amount_per_area, dtype: int64
28 1    139
Name: amount_per_area, dtype: int64
28 482    484
Name: amount_per_area, dtype: int64
28 963    760
Name: amount_per_area, dtype: int64
28 1    139
Name: amount_per_area, dtype: int64
28 482    484
Name: amount_per_area, dtype: int64
28 963    760
Name: amount_per_area, dtype: int64
88 2    568
Name: amount_per_area, dtype: int64
88 483    1442
Name: amount_per_area, dtype: int64
88 964    2360
Name: amount_per_area, dtype: int64
88 2    568
Name: amount_per_area, dtype: int64
88 483    1442
Name: amount_per_area, dtype: int64
88 964    2360
Name: amount_per_area, dtype: int64
7 3    57
Name: amount_per_area, dtype: int64
7 484    320
Name: amount_per_area, dtype: int64
7 965    764
Name: amount_per_area, dtype: int64
7 3    57
Name: amount_per_area, dtype: int64
7 484    320
Name: amount_per_area, dtype: int64
7 965    764
Name: amount_per_area, dtype: int64
25 4    103
Name: amount_per_area, dtype: int64
25 485    373
Name: amount_per_area, dtype: int64
25 966    810
Name: amount_per_area, dtype: int64
25 4    103
Name: amount_per_area, dtype: int64
25 485    373
Name: amount_per_area, dtype: int64
25 966    810
Name: amount_per_area, dtype: int64
0 5    0
Name: amount_per_area, dtype: int64
0 486    0
Name: amount_per_area, dtype: int64
0 967    0
Name: amount_per_area, dtype: int64
0 5    0
Name: amount_per_area, dtype: int64
0 486    0
Name: amount_per_area, dtype: int64
0 967    0
Name: amount_per_area, dtype: int64
48 6    210
Name: amount_per_area, dtype: int64
48 487    514
Name: amount_per_area, dtype: int64
48 968    1181
Name: amount_per_area, dtype: int64
48 6    210
Name: amount_per_area, dtype: int64
48 487    514
Name: amount_per_area, dtype: int64

48 968    1181
Name: amount_per_area, dtype: int64
32 7    106
Name: amount_per_area, dtype: int64
32 488    542
Name: amount_per_area, dtype: int64
32 969    843
Name: amount_per_area, dtype: int64
32 7    106
Name: amount_per_area, dtype: int64
32 488    542
Name: amount_per_area, dtype: int64
32 969    843
Name: amount_per_area, dtype: int64
48 8    196
Name: amount_per_area, dtype: int64
48 489    812
Name: amount_per_area, dtype: int64
48 970    1791
Name: amount_per_area, dtype: int64
48 8    196
Name: amount_per_area, dtype: int64
48 489    812
Name: amount_per_area, dtype: int64
48 970    1791
Name: amount_per_area, dtype: int64
33 9    170
Name: amount_per_area, dtype: int64
33 490    459
Name: amount_per_area, dtype: int64
33 971    1087
Name: amount_per_area, dtype: int64
33 9    170
Name: amount_per_area, dtype: int64
33 490    459
Name: amount_per_area, dtype: int64
33 971    1087
Name: amount_per_area, dtype: int64
22 10    170
Name: amount_per_area, dtype: int64
22 491    679
Name: amount_per_area, dtype: int64
22 972    1295
Name: amount_per_area, dtype: int64
22 10    170
Name: amount_per_area, dtype: int64
22 491    679
Name: amount_per_area, dtype: int64
22 972    1295
Name: amount_per_area, dtype: int64
15 11    94
Name: amount_per_area, dtype: int64
15 492    282
Name: amount_per_area, dtype: int64
15 973    667
Name: amount_per_area, dtype: int64
15 11    94
Name: amount_per_area, dtype: int64
15 492    282
Name: amount_per_area, dtype: int64
15 973    667
Name: amount_per_area, dtype: int64
10 12    70
Name: amount_per_area, dtype: int64
10 493    315
Name: amount_per_area, dtype: int64
10 974    490
Name: amount_per_area, dtype: int64
10 12    70
Name: amount_per_area, dtype: int64
10 493    315
Name: amount_per_area, dtype: int64
10 974    490
Name: amount_per_area, dtype: int64
33 13    230
Name: amount_per_area, dtype: int64
33 494    854
Name: amount_per_area, dtype: int64
33 975    2200
Name: amount_per_area, dtype: int64
33 13    230
Name: amount_per_area, dtype: int64
33 494    854
Name: amount_per_area, dtype: int64
33 975    2200
Name: amount_per_area, dtype: int64
17 14    185
Name: amount_per_area, dtype: int64
17 495    600
Name: amount_per_area, dtype: int64
17 976    1521
Name: amount_per_area, dtype: int64
17 14    185
Name: amount_per_area, dtype: int64
17 495    600
Name: amount_per_area, dtype: int64
17 976    1521
Name: amount_per_area, dtype: int64
20 15    154
Name: amount_per_area, dtype: int64
20 496    591
Name: amount_per_area, dtype: int64
20 977    1423
Name: amount_per_area, dtype: int64
20 15    154
Name: amount_per_area, dtype: int64
20 496    591
Name: amount_per_area, dtype: int64
20 977    1423
Name: amount_per_area, dtype: int64
14 16    111
Name: amount_per_area, dtype: int64
14 497    621
Name: amount_per_area, dtype: int64
14 978    1486
Name: amount_per_area, dtype: int64
14 16    111
Name: amount_per_area, dtype: int64
14 497    621
Name: amount_per_area, dtype: int64
14 978    1486
Name: amount_per_area, dtype: int64
20 17    195
Name: amount_per_area, dtype: int64
20 498    442
Name: amount_per_area, dtype: int64
20 979    1132
Name: amount_per_area, dtype: int64
20 17    195
Name: amount_per_area, dtype: int64
20 498    442
Name: amount_per_area, dtype: int64
20 979    1132
Name: amount_per_area, dtype: int64
0 18    0
Name: amount_per_area, dtype: int64
0 499    0
Name: amount_per_area, dtype: int64
0 980    0
Name: amount_per_area, dtype: int64
0 18    0
Name: amount_per_area, dtype: int64
0 499    0
Name: amount_per_area, dtype: int64
0 980    0
Name: amount_per_area, dtype: int64
8 19    153
Name: amount_per_area, dtype: int64
8 500    496
Name: amount_per_area, dtype: int64
8 981    1257
Name: amount_per_area, dtype: int64
8 19    153
Name: amount_per_area, dtype: int64
8 500    496
Name: amount_per_area, dtype: int64
8 981    1257
Name: amount_per_area, dtype: int64
26 20    212
Name: amount_per_area, dtype: int64
26 501    704
Name: amount_per_area, dtype: int64
26 982    1431
Name: amount_per_area, dtype: int64
26 20    212
Name: amount_per_area, dtype: int64
26 501    704
Name: amount_per_area, dtype: int64
26 982    1431
Name: amount_per_area, dtype: int64
3 21    114
Name: amount_per_area, dtype: int64
3 502    397
Name: amount_per_area, dtype: int64
3 983    907
Name: amount_per_area, dtype: int64
3 21    114
Name: amount_per_area, dtype: int64
3 502    397
Name: amount_per_area, dtype: int64
3 983    907
Name: amount_per_area, dtype: int64
0 22    0
Name: amount_per_area, dtype: int64
0 503    0
Name: amount_per_area, dtype: int64
0 984    0
Name: amount_per_area, dtype: int64
0 22    0
Name: amount_per_area, dtype: int64
0 503    0
Name: amount_per_area, dtype: int64
0 984    0
Name: amount_per_area, dtype: int64
23 23    145
Name: amount_per_area, dtype: int64
23 504    578
Name: amount_per_area, dtype: int64
23 985    1341
Name: amount_per_area, dtype: int64
23 23    145
Name: amount_per_area, dtype: int64
23 504    578
Name: amount_per_area, dtype: int64
23 985    1341
Name: amount_per_area, dtype: int64
52 24    86
Name: amount_per_area, dtype: int64
52 505    193
Name: amount_per_area, dtype: int64
52 986    436
Name: amount_per_area, dtype: int64
52 24    86
Name: amount_per_area, dtype: int64
52 505    193
Name: amount_per_area, dtype: int64
52 986    436
Name: amount_per_area, dtype: int64
0 25    0
Name: amount_per_area, dtype: int64
0 506    0
Name: amount_per_area, dtype: int64
0 987    0
Name: amount_per_area, dtype: int64
0 25    0
Name: amount_per_area, dtype: int64
0 506    0
Name: amount_per_area, dtype: int64
0 987    0
Name: amount_per_area, dtype: int64
43 26    192
Name: amount_per_area, dtype: int64
43 507    518
Name: amount_per_area, dtype: int64
43 988    1207
Name: amount_per_area, dtype: int64
43 26    192
Name: amount_per_area, dtype: int64
43 507    518
Name: amount_per_area, dtype: int64
43 988    1207
Name: amount_per_area, dtype: int64
32 27    213
Name: amount_per_area, dtype: int64
32 508    1063
Name: amount_per_area, dtype: int64
32 989    2267
Name: amount_per_area, dtype: int64
32 27    213
Name: amount_per_area, dtype: int64
32 508    1063
Name: amount_per_area, dtype: int64
32 989    2267
Name: amount_per_area, dtype: int64
181 28    761
Name: amount_per_area, dtype: int64
181 509    1427
Name: amount_per_area, dtype: int64
181 990    2568
Name: amount_per_area, dtype: int64
181 28    761
Name: amount_per_area, dtype: int64
181 509    1427
Name: amount_per_area, dtype: int64
181 990    2568
Name: amount_per_area, dtype: int64
56 29    254
Name: amount_per_area, dtype: int64
56 510    736
Name: amount_per_area, dtype: int64
56 991    1547
Name: amount_per_area, dtype: int64
56 29    254
Name: amount_per_area, dtype: int64
56 510    736
Name: amount_per_area, dtype: int64
56 991    1547
Name: amount_per_area, dtype: int64
93 30    310
Name: amount_per_area, dtype: int64
93 511    836
Name: amount_per_area, dtype: int64
93 992    1950
Name: amount_per_area, dtype: int64
93 30    310
Name: amount_per_area, dtype: int64
93 511    836
Name: amount_per_area, dtype: int64
93 992    1950
Name: amount_per_area, dtype: int64
89 31    500
Name: amount_per_area, dtype: int64
89 512    1230
Name: amount_per_area, dtype: int64
89 993    2114
Name: amount_per_area, dtype: int64
89 31    500
Name: amount_per_area, dtype: int64
89 512    1230
Name: amount_per_area, dtype: int64
89 993    2114
Name: amount_per_area, dtype: int64
37 32    176
Name: amount_per_area, dtype: int64
37 513    419
Name: amount_per_area, dtype: int64
37 994    771
Name: amount_per_area, dtype: int64
37 32    176
Name: amount_per_area, dtype: int64
37 513    419
Name: amount_per_area, dtype: int64
37 994    771
Name: amount_per_area, dtype: int64
161 33    347
Name: amount_per_area, dtype: int64
161 514    542
Name: amount_per_area, dtype: int64
161 995    1279
Name: amount_per_area, dtype: int64
161 33    347
Name: amount_per_area, dtype: int64
161 514    542
Name: amount_per_area, dtype: int64
161 995    1279
Name: amount_per_area, dtype: int64
66 34    312
Name: amount_per_area, dtype: int64
66 515    794
Name: amount_per_area, dtype: int64
66 996    1729
Name: amount_per_area, dtype: int64
66 34    312
Name: amount_per_area, dtype: int64
66 515    794
Name: amount_per_area, dtype: int64
66 996    1729
Name: amount_per_area, dtype: int64
154 35    670
Name: amount_per_area, dtype: int64
154 516    1262
Name: amount_per_area, dtype: int64
154 997    2010
Name: amount_per_area, dtype: int64
154 35    670
Name: amount_per_area, dtype: int64
154 516    1262
Name: amount_per_area, dtype: int64
154 997    2010
Name: amount_per_area, dtype: int64
81 36    405
Name: amount_per_area, dtype: int64
81 517    978
Name: amount_per_area, dtype: int64
81 998    1989
Name: amount_per_area, dtype: int64
81 36    405
Name: amount_per_area, dtype: int64
81 517    978
Name: amount_per_area, dtype: int64
81 998    1989
Name: amount_per_area, dtype: int64
0 37    0
Name: amount_per_area, dtype: int64
0 518    0
Name: amount_per_area, dtype: int64
0 999    0
Name: amount_per_area, dtype: int64
0 37    0
Name: amount_per_area, dtype: int64
0 518    0
Name: amount_per_area, dtype: int64
0 999    0
Name: amount_per_area, dtype: int64
0 38    0
Name: amount_per_area, dtype: int64
0 519    0
Name: amount_per_area, dtype: int64
0 1000    0
Name: amount_per_area, dtype: int64
0 38    0
Name: amount_per_area, dtype: int64
0 519    0
Name: amount_per_area, dtype: int64
0 1000    0
Name: amount_per_area, dtype: int64
91 39    575
Name: amount_per_area, dtype: int64
91 520    1341
Name: amount_per_area, dtype: int64
91 1001    2873
Name: amount_per_area, dtype: int64
91 39    575
Name: amount_per_area, dtype: int64
91 520    1341
Name: amount_per_area, dtype: int64
91 1001    2873
Name: amount_per_area, dtype: int64
68 40    492
Name: amount_per_area, dtype: int64
68 521    1251
Name: amount_per_area, dtype: int64
68 1002    2681
Name: amount_per_area, dtype: int64

68 40    492
Name: amount_per_area, dtype: int64
68 521    1251
Name: amount_per_area, dtype: int64
68 1002    2681
Name: amount_per_area, dtype: int64
260 41    789
Name: amount_per_area, dtype: int64
260 522    1484
Name: amount_per_area, dtype: int64
260 1003    2365
Name: amount_per_area, dtype: int64
260 41    789
Name: amount_per_area, dtype: int64
260 522    1484
Name: amount_per_area, dtype: int64
260 1003    2365
Name: amount_per_area, dtype: int64
0 42    0
Name: amount_per_area, dtype: int64
0 523    0
Name: amount_per_area, dtype: int64
0 1004    0
Name: amount_per_area, dtype: int64
0 42    0
Name: amount_per_area, dtype: int64
0 523    0
Name: amount_per_area, dtype: int64
0 1004    0
Name: amount_per_area, dtype: int64
0 43    0
Name: amount_per_area, dtype: int64
0 524    0
Name: amount_per_area, dtype: int64
0 1005    0
Name: amount_per_area, dtype: int64
0 43    0
Name: amount_per_area, dtype: int64
0 524    0
Name: amount_per_area, dtype: int64
0 1005    0
Name: amount_per_area, dtype: int64
96 44    517
Name: amount_per_area, dtype: int64
96 525    1152
Name: amount_per_area, dtype: int64
96 1006    2304
Name: amount_per_area, dtype: int64
96 44    517
Name: amount_per_area, dtype: int64
96 525    1152
Name: amount_per_area, dtype: int64
96 1006    2304
Name: amount_per_area, dtype: int64
0 45    0
Name: amount_per_area, dtype: int64
0 526    0
Name: amount_per_area, dtype: int64
0 1007    0
Name: amount_per_area, dtype: int64
0 45    0
Name: amount_per_area, dtype: int64
0 526    0
Name: amount_per_area, dtype: int64
0 1007    0
Name: amount_per_area, dtype: int64
0 46    0
Name: amount_per_area, dtype: int64
0 527    0
Name: amount_per_area, dtype: int64
0 1008    0
Name: amount_per_area, dtype: int64
0 46    0
Name: amount_per_area, dtype: int64
0 527    0
Name: amount_per_area, dtype: int64
0 1008    0
Name: amount_per_area, dtype: int64
0 47    0
Name: amount_per_area, dtype: int64
0 528    0
Name: amount_per_area, dtype: int64
0 1009    0
Name: amount_per_area, dtype: int64
0 47    0
Name: amount_per_area, dtype: int64
0 528    0
Name: amount_per_area, dtype: int64
0 1009    0
Name: amount_per_area, dtype: int64
50 48    538
Name: amount_per_area, dtype: int64
50 529    1038
Name: amount_per_area, dtype: int64
50 1010    2268
Name: amount_per_area, dtype: int64
50 48    538
Name: amount_per_area, dtype: int64
50 529    1038
Name: amount_per_area, dtype: int64
50 1010    2268
Name: amount_per_area, dtype: int64
116 49    603
Name: amount_per_area, dtype: int64
116 530    1390
Name: amount_per_area, dtype: int64
116 1011    2687
Name: amount_per_area, dtype: int64
116 49    603
Name: amount_per_area, dtype: int64
116 530    1390
Name: amount_per_area, dtype: int64
116 1011    2687
Name: amount_per_area, dtype: int64
0 50    0
Name: amount_per_area, dtype: int64
0 531    0
Name: amount_per_area, dtype: int64
0 1012    0
Name: amount_per_area, dtype: int64
0 50    0
Name: amount_per_area, dtype: int64
0 531    0
Name: amount_per_area, dtype: int64
0 1012    0
Name: amount_per_area, dtype: int64
0 51    0
Name: amount_per_area, dtype: int64
0 532    0
Name: amount_per_area, dtype: int64
0 1013    0
Name: amount_per_area, dtype: int64
0 51    0
Name: amount_per_area, dtype: int64
0 532    0
Name: amount_per_area, dtype: int64
0 1013    0
Name: amount_per_area, dtype: int64
55 52    255
Name: amount_per_area, dtype: int64
55 533    1019
Name: amount_per_area, dtype: int64
55 1014    1910
Name: amount_per_area, dtype: int64
55 52    255
Name: amount_per_area, dtype: int64
55 533    1019
Name: amount_per_area, dtype: int64
55 1014    1910
Name: amount_per_area, dtype: int64
0 53    0
Name: amount_per_area, dtype: int64
0 534    0
Name: amount_per_area, dtype: int64
0 1015    0
Name: amount_per_area, dtype: int64
0 53    0
Name: amount_per_area, dtype: int64
0 534    0
Name: amount_per_area, dtype: int64
0 1015    0
Name: amount_per_area, dtype: int64
43 54    248
Name: amount_per_area, dtype: int64
43 535    918
Name: amount_per_area, dtype: int64
43 1016    2365
Name: amount_per_area, dtype: int64
43 54    248
Name: amount_per_area, dtype: int64
43 535    918
Name: amount_per_area, dtype: int64
43 1016    2365
Name: amount_per_area, dtype: int64
26 55    215
Name: amount_per_area, dtype: int64
26 536    547
Name: amount_per_area, dtype: int64
26 1017    1192
Name: amount_per_area, dtype: int64
26 55    215
Name: amount_per_area, dtype: int64
26 536    547
Name: amount_per_area, dtype: int64
26 1017    1192
Name: amount_per_area, dtype: int64
49 56    418
Name: amount_per_area, dtype: int64
49 537    870
Name: amount_per_area, dtype: int64
49 1018    2192
Name: amount_per_area, dtype: int64
49 56    418
Name: amount_per_area, dtype: int64
49 537    870
Name: amount_per_area, dtype: int64
49 1018    2192
Name: amount_per_area, dtype: int64
19 57    131
Name: amount_per_area, dtype: int64
19 538    308
Name: amount_per_area, dtype: int64
19 1019    746
Name: amount_per_area, dtype: int64
19 57    131
Name: amount_per_area, dtype: int64
19 538    308
Name: amount_per_area, dtype: int64
19 1019    746
Name: amount_per_area, dtype: int64
112 58    409
Name: amount_per_area, dtype: int64
112 539    764
Name: amount_per_area, dtype: int64
112 1020    1554
Name: amount_per_area, dtype: int64
112 58    409
Name: amount_per_area, dtype: int64
112 539    764
Name: amount_per_area, dtype: int64
112 1020    1554
Name: amount_per_area, dtype: int64
83 59    331
Name: amount_per_area, dtype: int64
83 540    579
Name: amount_per_area, dtype: int64
83 1021    1157
Name: amount_per_area, dtype: int64
83 59    331
Name: amount_per_area, dtype: int64
83 540    579
Name: amount_per_area, dtype: int64
83 1021    1157
Name: amount_per_area, dtype: int64
16 60    115
Name: amount_per_area, dtype: int64
16 541    230
Name: amount_per_area, dtype: int64
16 1022    613
Name: amount_per_area, dtype: int64
16 60    115
Name: amount_per_area, dtype: int64
16 541    230
Name: amount_per_area, dtype: int64
16 1022    613
Name: amount_per_area, dtype: int64
0 61    0
Name: amount_per_area, dtype: int64
0 542    0
Name: amount_per_area, dtype: int64
0 1023    0
Name: amount_per_area, dtype: int64
0 61    0
Name: amount_per_area, dtype: int64
0 542    0
Name: amount_per_area, dtype: int64
0 1023    0
Name: amount_per_area, dtype: int64
0 62    0
Name: amount_per_area, dtype: int64
0 543    0
Name: amount_per_area, dtype: int64
0 1024    0
Name: amount_per_area, dtype: int64
0 62    0
Name: amount_per_area, dtype: int64
0 543    0
Name: amount_per_area, dtype: int64
0 1024    0
Name: amount_per_area, dtype: int64
205 63    636
Name: amount_per_area, dtype: int64
205 544    1172
Name: amount_per_area, dtype: int64
205 1025    1540
Name: amount_per_area, dtype: int64
205 63    636
Name: amount_per_area, dtype: int64
205 544    1172
Name: amount_per_area, dtype: int64
205 1025    1540
Name: amount_per_area, dtype: int64
295 64    552
Name: amount_per_area, dtype: int64
295 545    951
Name: amount_per_area, dtype: int64
295 1026    1564
Name: amount_per_area, dtype: int64
295 64    552
Name: amount_per_area, dtype: int64
295 545    951
Name: amount_per_area, dtype: int64
295 1026    1564
Name: amount_per_area, dtype: int64
135 65    325
Name: amount_per_area, dtype: int64
135 546    429
Name: amount_per_area, dtype: int64
135 1027    739
Name: amount_per_area, dtype: int64
135 65    325
Name: amount_per_area, dtype: int64
135 546    429
Name: amount_per_area, dtype: int64
135 1027    739
Name: amount_per_area, dtype: int64
283 66    718
Name: amount_per_area, dtype: int64
283 547    1196
Name: amount_per_area, dtype: int64
283 1028    2072
Name: amount_per_area, dtype: int64
283 66    718
Name: amount_per_area, dtype: int64
283 547    1196
Name: amount_per_area, dtype: int64
283 1028    2072
Name: amount_per_area, dtype: int64
101 67    420
Name: amount_per_area, dtype: int64
101 548    807
Name: amount_per_area, dtype: int64
101 1029    2002
Name: amount_per_area, dtype: int64
101 67    420
Name: amount_per_area, dtype: int64
101 548    807
Name: amount_per_area, dtype: int64
101 1029    2002
Name: amount_per_area, dtype: int64
145 68    553
Name: amount_per_area, dtype: int64
145 549    829
Name: amount_per_area, dtype: int64
145 1030    1688
Name: amount_per_area, dtype: int64
145 68    553
Name: amount_per_area, dtype: int64
145 549    829
Name: amount_per_area, dtype: int64
145 1030    1688
Name: amount_per_area, dtype: int64
76 69    318
Name: amount_per_area, dtype: int64
76 550    751
Name: amount_per_area, dtype: int64
76 1031    1819
Name: amount_per_area, dtype: int64
76 69    318
Name: amount_per_area, dtype: int64
76 550    751
Name: amount_per_area, dtype: int64
76 1031    1819
Name: amount_per_area, dtype: int64
0 70    0
Name: amount_per_area, dtype: int64
0 551    0
Name: amount_per_area, dtype: int64
0 1032    0
Name: amount_per_area, dtype: int64
0 70    0
Name: amount_per_area, dtype: int64
0 551    0
Name: amount_per_area, dtype: int64
0 1032    0
Name: amount_per_area, dtype: int64
0 71    0
Name: amount_per_area, dtype: int64
0 552    0
Name: amount_per_area, dtype: int64
0 1033    0
Name: amount_per_area, dtype: int64
0 71    0
Name: amount_per_area, dtype: int64
0 552    0
Name: amount_per_area, dtype: int64
0 1033    0
Name: amount_per_area, dtype: int64
0 72    0
Name: amount_per_area, dtype: int64
0 553    0
Name: amount_per_area, dtype: int64
0 1034    0
Name: amount_per_area, dtype: int64
0 72    0
Name: amount_per_area, dtype: int64
0 553    0
Name: amount_per_area, dtype: int64
0 1034    0
Name: amount_per_area, dtype: int64
1 73    0
Name: amount_per_area, dtype: int64
1 554    0
Name: amount_per_area, dtype: int64
1 1035    0
Name: amount_per_area, dtype: int64
1 73    0
Name: amount_per_area, dtype: int64
1 554    0
Name: amount_per_area, dtype: int64
1 1035    0
Name: amount_per_area, dtype: int64
1 74    0
Name: amount_per_area, dtype: int64
1 555    0
Name: amount_per_area, dtype: int64
1 1036    0
Name: amount_per_area, dtype: int64
1 74    0
Name: amount_per_area, dtype: int64
1 555    0
Name: amount_per_area, dtype: int64
1 1036    0
Name: amount_per_area, dtype: int64
0 75    0
Name: amount_per_area, dtype: int64
0 556    0
Name: amount_per_area, dtype: int64
0 1037    0
Name: amount_per_area, dtype: int64
0 75    0
Name: amount_per_area, dtype: int64
0 556    0
Name: amount_per_area, dtype: int64
0 1037    0
Name: amount_per_area, dtype: int64
0 76    0
Name: amount_per_area, dtype: int64
0 557    0
Name: amount_per_area, dtype: int64

0 1038    0
Name: amount_per_area, dtype: int64
0 76    0
Name: amount_per_area, dtype: int64
0 557    0
Name: amount_per_area, dtype: int64
0 1038    0
Name: amount_per_area, dtype: int64
3 77    0
Name: amount_per_area, dtype: int64
3 558    0
Name: amount_per_area, dtype: int64
3 1039    0
Name: amount_per_area, dtype: int64
3 77    0
Name: amount_per_area, dtype: int64
3 558    0
Name: amount_per_area, dtype: int64
3 1039    0
Name: amount_per_area, dtype: int64
18 78    33
Name: amount_per_area, dtype: int64
18 559    154
Name: amount_per_area, dtype: int64
18 1040    614
Name: amount_per_area, dtype: int64
18 78    33
Name: amount_per_area, dtype: int64
18 559    154
Name: amount_per_area, dtype: int64
18 1040    614
Name: amount_per_area, dtype: int64
0 79    0
Name: amount_per_area, dtype: int64
0 560    0
Name: amount_per_area, dtype: int64
0 1041    0
Name: amount_per_area, dtype: int64
0 79    0
Name: amount_per_area, dtype: int64
0 560    0
Name: amount_per_area, dtype: int64
0 1041    0
Name: amount_per_area, dtype: int64
314 80    912
Name: amount_per_area, dtype: int64
314 561    1071
Name: amount_per_area, dtype: int64
314 1042    1982
Name: amount_per_area, dtype: int64
314 80    912
Name: amount_per_area, dtype: int64
314 561    1071
Name: amount_per_area, dtype: int64
314 1042    1982
Name: amount_per_area, dtype: int64
409 81    1298
Name: amount_per_area, dtype: int64
409 562    1587
Name: amount_per_area, dtype: int64
409 1043    1971
Name: amount_per_area, dtype: int64
409 81    1298
Name: amount_per_area, dtype: int64
409 562    1587
Name: amount_per_area, dtype: int64
409 1043    1971
Name: amount_per_area, dtype: int64
0 82    0
Name: amount_per_area, dtype: int64
0 563    0
Name: amount_per_area, dtype: int64
0 1044    0
Name: amount_per_area, dtype: int64
0 82    0
Name: amount_per_area, dtype: int64
0 563    0
Name: amount_per_area, dtype: int64
0 1044    0
Name: amount_per_area, dtype: int64
249 83    688
Name: amount_per_area, dtype: int64
249 564    994
Name: amount_per_area, dtype: int64
249 1045    2140
Name: amount_per_area, dtype: int64
249 83    688
Name: amount_per_area, dtype: int64
249 564    994
Name: amount_per_area, dtype: int64
249 1045    2140
Name: amount_per_area, dtype: int64
279 84    863
Name: amount_per_area, dtype: int64
279 565    1099
Name: amount_per_area, dtype: int64
279 1046    1962
Name: amount_per_area, dtype: int64
279 84    863
Name: amount_per_area, dtype: int64
279 565    1099
Name: amount_per_area, dtype: int64
279 1046    1962
Name: amount_per_area, dtype: int64
265 85    720
Name: amount_per_area, dtype: int64
265 566    777
Name: amount_per_area, dtype: int64
265 1047    1382
Name: amount_per_area, dtype: int64
265 85    720
Name: amount_per_area, dtype: int64
265 566    777
Name: amount_per_area, dtype: int64
265 1047    1382
Name: amount_per_area, dtype: int64
0 86    0
Name: amount_per_area, dtype: int64
0 567    0
Name: amount_per_area, dtype: int64
0 1048    0
Name: amount_per_area, dtype: int64
0 86    0
Name: amount_per_area, dtype: int64
0 567    0
Name: amount_per_area, dtype: int64
0 1048    0
Name: amount_per_area, dtype: int64
0 87    0
Name: amount_per_area, dtype: int64
0 568    0
Name: amount_per_area, dtype: int64
0 1049    0
Name: amount_per_area, dtype: int64
0 87    0
Name: amount_per_area, dtype: int64
0 568    0
Name: amount_per_area, dtype: int64
0 1049    0
Name: amount_per_area, dtype: int64
130 88    611
Name: amount_per_area, dtype: int64
130 569    1030
Name: amount_per_area, dtype: int64
130 1050    2174
Name: amount_per_area, dtype: int64
130 88    611
Name: amount_per_area, dtype: int64
130 569    1030
Name: amount_per_area, dtype: int64
130 1050    2174
Name: amount_per_area, dtype: int64
0 89    0
Name: amount_per_area, dtype: int64
0 570    0
Name: amount_per_area, dtype: int64
0 1051    0
Name: amount_per_area, dtype: int64
0 89    0
Name: amount_per_area, dtype: int64
0 570    0
Name: amount_per_area, dtype: int64
0 1051    0
Name: amount_per_area, dtype: int64
281 90    994
Name: amount_per_area, dtype: int64
281 571    1030
Name: amount_per_area, dtype: int64
281 1052    1527
Name: amount_per_area, dtype: int64
281 90    994
Name: amount_per_area, dtype: int64
281 571    1030
Name: amount_per_area, dtype: int64
281 1052    1527
Name: amount_per_area, dtype: int64
329 91    1116
Name: amount_per_area, dtype: int64
329 572    1736
Name: amount_per_area, dtype: int64
329 1053    3347
Name: amount_per_area, dtype: int64
329 91    1116
Name: amount_per_area, dtype: int64
329 572    1736
Name: amount_per_area, dtype: int64
329 1053    3347
Name: amount_per_area, dtype: int64
162 92    808
Name: amount_per_area, dtype: int64
162 573    1363
Name: amount_per_area, dtype: int64
162 1054    2878
Name: amount_per_area, dtype: int64
162 92    808
Name: amount_per_area, dtype: int64
162 573    1363
Name: amount_per_area, dtype: int64
162 1054    2878
Name: amount_per_area, dtype: int64
185 93    805
Name: amount_per_area, dtype: int64
185 574    1137
Name: amount_per_area, dtype: int64
185 1055    2794
Name: amount_per_area, dtype: int64
185 93    805
Name: amount_per_area, dtype: int64
185 574    1137
Name: amount_per_area, dtype: int64
185 1055    2794
Name: amount_per_area, dtype: int64
146 94    709
Name: amount_per_area, dtype: int64
146 575    1119
Name: amount_per_area, dtype: int64
146 1056    1901
Name: amount_per_area, dtype: int64
146 94    709
Name: amount_per_area, dtype: int64
146 575    1119
Name: amount_per_area, dtype: int64
146 1056    1901
Name: amount_per_area, dtype: int64
0 95    0
Name: amount_per_area, dtype: int64
0 576    0
Name: amount_per_area, dtype: int64
0 1057    0
Name: amount_per_area, dtype: int64
0 95    0
Name: amount_per_area, dtype: int64
0 576    0
Name: amount_per_area, dtype: int64
0 1057    0
Name: amount_per_area, dtype: int64
0 96    0
Name: amount_per_area, dtype: int64
0 577    0
Name: amount_per_area, dtype: int64
0 1058    0
Name: amount_per_area, dtype: int64
0 96    0
Name: amount_per_area, dtype: int64
0 577    0
Name: amount_per_area, dtype: int64
0 1058    0
Name: amount_per_area, dtype: int64
158 97    598
Name: amount_per_area, dtype: int64
158 578    818
Name: amount_per_area, dtype: int64
158 1059    1730
Name: amount_per_area, dtype: int64
158 97    598
Name: amount_per_area, dtype: int64
158 578    818
Name: amount_per_area, dtype: int64
158 1059    1730
Name: amount_per_area, dtype: int64
77 98    549
Name: amount_per_area, dtype: int64
77 579    878
Name: amount_per_area, dtype: int64
77 1060    2231
Name: amount_per_area, dtype: int64
77 98    549
Name: amount_per_area, dtype: int64
77 579    878
Name: amount_per_area, dtype: int64
77 1060    2231
Name: amount_per_area, dtype: int64
161 99    851
Name: amount_per_area, dtype: int64
161 580    1351
Name: amount_per_area, dtype: int64
161 1061    2802
Name: amount_per_area, dtype: int64
161 99    851
Name: amount_per_area, dtype: int64
161 580    1351
Name: amount_per_area, dtype: int64
161 1061    2802
Name: amount_per_area, dtype: int64
105 100    471
Name: amount_per_area, dtype: int64
105 581    1041
Name: amount_per_area, dtype: int64
105 1062    1847
Name: amount_per_area, dtype: int64
105 100    471
Name: amount_per_area, dtype: int64
105 581    1041
Name: amount_per_area, dtype: int64
105 1062    1847
Name: amount_per_area, dtype: int64
108 101    445
Name: amount_per_area, dtype: int64
108 582    889
Name: amount_per_area, dtype: int64
108 1063    2371
Name: amount_per_area, dtype: int64
108 101    445
Name: amount_per_area, dtype: int64
108 582    889
Name: amount_per_area, dtype: int64
108 1063    2371
Name: amount_per_area, dtype: int64
227 102    1132
Name: amount_per_area, dtype: int64
227 583    1280
Name: amount_per_area, dtype: int64
227 1064    2510
Name: amount_per_area, dtype: int64
227 102    1132
Name: amount_per_area, dtype: int64
227 583    1280
Name: amount_per_area, dtype: int64
227 1064    2510
Name: amount_per_area, dtype: int64
152 103    548
Name: amount_per_area, dtype: int64
152 584    1096
Name: amount_per_area, dtype: int64
152 1065    2570
Name: amount_per_area, dtype: int64
152 103    548
Name: amount_per_area, dtype: int64
152 584    1096
Name: amount_per_area, dtype: int64
152 1065    2570
Name: amount_per_area, dtype: int64
162 104    539
Name: amount_per_area, dtype: int64
162 585    1455
Name: amount_per_area, dtype: int64
162 1066    3395
Name: amount_per_area, dtype: int64
162 104    539
Name: amount_per_area, dtype: int64
162 585    1455
Name: amount_per_area, dtype: int64
162 1066    3395
Name: amount_per_area, dtype: int64
392 105    1407
Name: amount_per_area, dtype: int64
392 586    1320
Name: amount_per_area, dtype: int64
392 1067    1671
Name: amount_per_area, dtype: int64
392 105    1407
Name: amount_per_area, dtype: int64
392 586    1320
Name: amount_per_area, dtype: int64
392 1067    1671
Name: amount_per_area, dtype: int64
243 106    930
Name: amount_per_area, dtype: int64
243 587    1343
Name: amount_per_area, dtype: int64
243 1068    2841
Name: amount_per_area, dtype: int64
243 106    930
Name: amount_per_area, dtype: int64
243 587    1343
Name: amount_per_area, dtype: int64
243 1068    2841
Name: amount_per_area, dtype: int64
67 107    354
Name: amount_per_area, dtype: int64
67 588    1061
Name: amount_per_area, dtype: int64
67 1069    3006
Name: amount_per_area, dtype: int64
67 107    354
Name: amount_per_area, dtype: int64
67 588    1061
Name: amount_per_area, dtype: int64
67 1069    3006
Name: amount_per_area, dtype: int64
104 108    373
Name: amount_per_area, dtype: int64
104 589    665
Name: amount_per_area, dtype: int64
104 1070    1622
Name: amount_per_area, dtype: int64
104 108    373
Name: amount_per_area, dtype: int64
104 589    665
Name: amount_per_area, dtype: int64
104 1070    1622
Name: amount_per_area, dtype: int64
107 109    534
Name: amount_per_area, dtype: int64
107 590    1306
Name: amount_per_area, dtype: int64
107 1071    4094
Name: amount_per_area, dtype: int64
107 109    534
Name: amount_per_area, dtype: int64
107 590    1306
Name: amount_per_area, dtype: int64
107 1071    4094
Name: amount_per_area, dtype: int64
91 110    453
Name: amount_per_area, dtype: int64
91 591    1157
Name: amount_per_area, dtype: int64
91 1072    3369
Name: amount_per_area, dtype: int64
91 110    453
Name: amount_per_area, dtype: int64
91 591    1157
Name: amount_per_area, dtype: int64
91 1072    3369
Name: amount_per_area, dtype: int64
110 111    378
Name: amount_per_area, dtype: int64
110 592    906
Name: amount_per_area, dtype: int64
110 1073    2492
Name: amount_per_area, dtype: int64
110 111    378
Name: amount_per_area, dtype: int64
110 592    906
Name: amount_per_area, dtype: int64
110 1073    2492
Name: amount_per_area, dtype: int64
29 112    195
Name: amount_per_area, dtype: int64
29 593    337
Name: amount_per_area, dtype: int64
29 1074    765
Name: amount_per_area, dtype: int64
29 112    195
Name: amount_per_area, dtype: int64
29 593    337
Name: amount_per_area, dtype: int64
29 1074    765
Name: amount_per_area, dtype: int64
50 113    275
Name: amount_per_area, dtype: int64
50 594    464
Name: amount_per_area, dtype: int64
50 1075    979
Name: amount_per_area, dtype: int64
50 113    275
Name: amount_per_area, dtype: int64
50 594    464
Name: amount_per_area, dtype: int64
50 1075    979
Name: amount_per_area, dtype: int64
2 114    7
Name: amount_per_area, dtype: int64
2 595    28
Name: amount_per_area, dtype: int64
2 1076    120
Name: amount_per_area, dtype: int64
2 114    7
Name: amount_per_area, dtype: int64
2 595    28
Name: amount_per_area, dtype: int64
2 1076    120
Name: amount_per_area, dtype: int64
4 115    0
Name: amount_per_area, dtype: int64
4 596    0
Name: amount_per_area, dtype: int64
4 1077    0
Name: amount_per_area, dtype: int64
4 115    0
Name: amount_per_area, dtype: int64
4 596    0
Name: amount_per_area, dtype: int64
4 1077    0
Name: amount_per_area, dtype: int64
24 116    80
Name: amount_per_area, dtype: int64
24 597    178
Name: amount_per_area, dtype: int64
24 1078    622
Name: amount_per_area, dtype: int64
24 116    80
Name: amount_per_area, dtype: int64
24 597    178
Name: amount_per_area, dtype: int64
24 1078    622
Name: amount_per_area, dtype: int64
127 117    911
Name: amount_per_area, dtype: int64
127 598    881
Name: amount_per_area, dtype: int64
127 1079    1146
Name: amount_per_area, dtype: int64
127 117    911
Name: amount_per_area, dtype: int64
127 598    881
Name: amount_per_area, dtype: int64
127 1079    1146
Name: amount_per_area, dtype: int64
148 118    753
Name: amount_per_area, dtype: int64
148 599    890
Name: amount_per_area, dtype: int64
148 1080    1746
Name: amount_per_area, dtype: int64
148 118    753
Name: amount_per_area, dtype: int64
148 599    890
Name: amount_per_area, dtype: int64

148 1080    1746
Name: amount_per_area, dtype: int64
167 119    852
Name: amount_per_area, dtype: int64
167 600    1015
Name: amount_per_area, dtype: int64
167 1081    2191
Name: amount_per_area, dtype: int64
167 119    852
Name: amount_per_area, dtype: int64
167 600    1015
Name: amount_per_area, dtype: int64
167 1081    2191
Name: amount_per_area, dtype: int64
193 120    1038
Name: amount_per_area, dtype: int64
193 601    1115
Name: amount_per_area, dtype: int64
193 1082    1691
Name: amount_per_area, dtype: int64
193 120    1038
Name: amount_per_area, dtype: int64
193 601    1115
Name: amount_per_area, dtype: int64
193 1082    1691
Name: amount_per_area, dtype: int64
255 121    1146
Name: amount_per_area, dtype: int64
255 602    1231
Name: amount_per_area, dtype: int64
255 1083    1909
Name: amount_per_area, dtype: int64
255 121    1146
Name: amount_per_area, dtype: int64
255 602    1231
Name: amount_per_area, dtype: int64
255 1083    1909
Name: amount_per_area, dtype: int64
56 122    361
Name: amount_per_area, dtype: int64
56 603    577
Name: amount_per_area, dtype: int64
56 1084    1467
Name: amount_per_area, dtype: int64
56 122    361
Name: amount_per_area, dtype: int64
56 603    577
Name: amount_per_area, dtype: int64
56 1084    1467
Name: amount_per_area, dtype: int64
136 123    935
Name: amount_per_area, dtype: int64
136 604    1215
Name: amount_per_area, dtype: int64
136 1085    2477
Name: amount_per_area, dtype: int64
136 123    935
Name: amount_per_area, dtype: int64
136 604    1215
Name: amount_per_area, dtype: int64
136 1085    2477
Name: amount_per_area, dtype: int64
137 124    566
Name: amount_per_area, dtype: int64
137 605    900
Name: amount_per_area, dtype: int64
137 1086    1105
Name: amount_per_area, dtype: int64
137 124    566
Name: amount_per_area, dtype: int64
137 605    900
Name: amount_per_area, dtype: int64
137 1086    1105
Name: amount_per_area, dtype: int64
159 125    436
Name: amount_per_area, dtype: int64
159 606    821
Name: amount_per_area, dtype: int64
159 1087    1308
Name: amount_per_area, dtype: int64
159 125    436
Name: amount_per_area, dtype: int64
159 606    821
Name: amount_per_area, dtype: int64
159 1087    1308
Name: amount_per_area, dtype: int64
153 126    978
Name: amount_per_area, dtype: int64
153 607    856
Name: amount_per_area, dtype: int64
153 1088    1223
Name: amount_per_area, dtype: int64
153 126    978
Name: amount_per_area, dtype: int64
153 607    856
Name: amount_per_area, dtype: int64
153 1088    1223
Name: amount_per_area, dtype: int64
111 127    1102
Name: amount_per_area, dtype: int64
111 608    706
Name: amount_per_area, dtype: int64
111 1089    397
Name: amount_per_area, dtype: int64
111 127    1102
Name: amount_per_area, dtype: int64
111 608    706
Name: amount_per_area, dtype: int64
111 1089    397
Name: amount_per_area, dtype: int64
59 128    255
Name: amount_per_area, dtype: int64
59 609    765
Name: amount_per_area, dtype: int64
59 1090    2622
Name: amount_per_area, dtype: int64
59 128    255
Name: amount_per_area, dtype: int64
59 609    765
Name: amount_per_area, dtype: int64
59 1090    2622
Name: amount_per_area, dtype: int64
136 129    541
Name: amount_per_area, dtype: int64
136 610    1126
Name: amount_per_area, dtype: int64
136 1091    2837
Name: amount_per_area, dtype: int64
136 129    541
Name: amount_per_area, dtype: int64
136 610    1126
Name: amount_per_area, dtype: int64
136 1091    2837
Name: amount_per_area, dtype: int64
233 130    977
Name: amount_per_area, dtype: int64
233 611    1349
Name: amount_per_area, dtype: int64
233 1092    2326
Name: amount_per_area, dtype: int64
233 130    977
Name: amount_per_area, dtype: int64
233 611    1349
Name: amount_per_area, dtype: int64
233 1092    2326
Name: amount_per_area, dtype: int64
198 131    1036
Name: amount_per_area, dtype: int64
198 612    1413
Name: amount_per_area, dtype: int64
198 1093    2260
Name: amount_per_area, dtype: int64
198 131    1036
Name: amount_per_area, dtype: int64
198 612    1413
Name: amount_per_area, dtype: int64
198 1093    2260
Name: amount_per_area, dtype: int64
385 132    1348
Name: amount_per_area, dtype: int64
385 613    1448
Name: amount_per_area, dtype: int64
385 1094    2197
Name: amount_per_area, dtype: int64
385 132    1348
Name: amount_per_area, dtype: int64
385 613    1448
Name: amount_per_area, dtype: int64
385 1094    2197
Name: amount_per_area, dtype: int64
0 133    0
Name: amount_per_area, dtype: int64
0 614    0
Name: amount_per_area, dtype: int64
0 1095    0
Name: amount_per_area, dtype: int64
0 133    0
Name: amount_per_area, dtype: int64
0 614    0
Name: amount_per_area, dtype: int64
0 1095    0
Name: amount_per_area, dtype: int64
738 134    2247
Name: amount_per_area, dtype: int64
738 615    1053
Name: amount_per_area, dtype: int64
738 1096    211
Name: amount_per_area, dtype: int64
738 134    2247
Name: amount_per_area, dtype: int64
738 615    1053
Name: amount_per_area, dtype: int64
738 1096    211
Name: amount_per_area, dtype: int64
248 135    1099
Name: amount_per_area, dtype: int64
248 616    1282
Name: amount_per_area, dtype: int64
248 1097    2198
Name: amount_per_area, dtype: int64
248 135    1099
Name: amount_per_area, dtype: int64
248 616    1282
Name: amount_per_area, dtype: int64
248 1097    2198
Name: amount_per_area, dtype: int64
225 136    1124
Name: amount_per_area, dtype: int64
225 617    1208
Name: amount_per_area, dtype: int64
225 1098    1832
Name: amount_per_area, dtype: int64
225 136    1124
Name: amount_per_area, dtype: int64
225 617    1208
Name: amount_per_area, dtype: int64
225 1098    1832
Name: amount_per_area, dtype: int64
222 137    1108
Name: amount_per_area, dtype: int64
222 618    1218
Name: amount_per_area, dtype: int64
222 1099    3211
Name: amount_per_area, dtype: int64
222 137    1108
Name: amount_per_area, dtype: int64
222 618    1218
Name: amount_per_area, dtype: int64
222 1099    3211
Name: amount_per_area, dtype: int64
202 138    713
Name: amount_per_area, dtype: int64
202 619    1090
Name: amount_per_area, dtype: int64
202 1100    2390
Name: amount_per_area, dtype: int64
202 138    713
Name: amount_per_area, dtype: int64
202 619    1090
Name: amount_per_area, dtype: int64
202 1100    2390
Name: amount_per_area, dtype: int64
118 139    521
Name: amount_per_area, dtype: int64
118 620    998
Name: amount_per_area, dtype: int64
118 1101    2775
Name: amount_per_area, dtype: int64
118 139    521
Name: amount_per_area, dtype: int64
118 620    998
Name: amount_per_area, dtype: int64
118 1101    2775
Name: amount_per_area, dtype: int64
114 140    388
Name: amount_per_area, dtype: int64
114 621    808
Name: amount_per_area, dtype: int64
114 1102    2002
Name: amount_per_area, dtype: int64
114 140    388
Name: amount_per_area, dtype: int64
114 621    808
Name: amount_per_area, dtype: int64
114 1102    2002
Name: amount_per_area, dtype: int64
134 141    767
Name: amount_per_area, dtype: int64
134 622    1050
Name: amount_per_area, dtype: int64
134 1103    2179
Name: amount_per_area, dtype: int64
134 141    767
Name: amount_per_area, dtype: int64
134 622    1050
Name: amount_per_area, dtype: int64
134 1103    2179
Name: amount_per_area, dtype: int64
0 142    0
Name: amount_per_area, dtype: int64
0 623    0
Name: amount_per_area, dtype: int64
0 1104    0
Name: amount_per_area, dtype: int64
0 142    0
Name: amount_per_area, dtype: int64
0 623    0
Name: amount_per_area, dtype: int64
0 1104    0
Name: amount_per_area, dtype: int64
233 143    1254
Name: amount_per_area, dtype: int64
233 624    1299
Name: amount_per_area, dtype: int64
233 1105    1926
Name: amount_per_area, dtype: int64
233 143    1254
Name: amount_per_area, dtype: int64
233 624    1299
Name: amount_per_area, dtype: int64
233 1105    1926
Name: amount_per_area, dtype: int64
0 144    0
Name: amount_per_area, dtype: int64
0 625    0
Name: amount_per_area, dtype: int64
0 1106    0
Name: amount_per_area, dtype: int64
0 144    0
Name: amount_per_area, dtype: int64
0 625    0
Name: amount_per_area, dtype: int64
0 1106    0
Name: amount_per_area, dtype: int64
0 145    0
Name: amount_per_area, dtype: int64
0 626    0
Name: amount_per_area, dtype: int64
0 1107    0
Name: amount_per_area, dtype: int64
0 145    0
Name: amount_per_area, dtype: int64
0 626    0
Name: amount_per_area, dtype: int64
0 1107    0
Name: amount_per_area, dtype: int64
0 146    0
Name: amount_per_area, dtype: int64
0 627    0
Name: amount_per_area, dtype: int64
0 1108    0
Name: amount_per_area, dtype: int64
0 146    0
Name: amount_per_area, dtype: int64
0 627    0
Name: amount_per_area, dtype: int64
0 1108    0
Name: amount_per_area, dtype: int64
2 147    0
Name: amount_per_area, dtype: int64
2 628    0
Name: amount_per_area, dtype: int64
2 1109    0
Name: amount_per_area, dtype: int64
2 147    0
Name: amount_per_area, dtype: int64
2 628    0
Name: amount_per_area, dtype: int64
2 1109    0
Name: amount_per_area, dtype: int64
1 148    0
Name: amount_per_area, dtype: int64
1 629    0
Name: amount_per_area, dtype: int64
1 1110    0
Name: amount_per_area, dtype: int64
1 148    0
Name: amount_per_area, dtype: int64
1 629    0
Name: amount_per_area, dtype: int64
1 1110    0
Name: amount_per_area, dtype: int64
4 149    15
Name: amount_per_area, dtype: int64
4 630    69
Name: amount_per_area, dtype: int64
4 1111    66
Name: amount_per_area, dtype: int64
4 149    15
Name: amount_per_area, dtype: int64
4 630    69
Name: amount_per_area, dtype: int64
4 1111    66
Name: amount_per_area, dtype: int64
0 150    0
Name: amount_per_area, dtype: int64
0 631    0
Name: amount_per_area, dtype: int64
0 1112    0
Name: amount_per_area, dtype: int64
0 150    0
Name: amount_per_area, dtype: int64
0 631    0
Name: amount_per_area, dtype: int64
0 1112    0
Name: amount_per_area, dtype: int64
0 151    0
Name: amount_per_area, dtype: int64
0 632    0
Name: amount_per_area, dtype: int64
0 1113    0
Name: amount_per_area, dtype: int64
0 151    0
Name: amount_per_area, dtype: int64
0 632    0
Name: amount_per_area, dtype: int64
0 1113    0
Name: amount_per_area, dtype: int64
83 152    652
Name: amount_per_area, dtype: int64
83 633    557
Name: amount_per_area, dtype: int64
83 1114    382
Name: amount_per_area, dtype: int64
83 152    652
Name: amount_per_area, dtype: int64
83 633    557
Name: amount_per_area, dtype: int64
83 1114    382
Name: amount_per_area, dtype: int64
126 153    883
Name: amount_per_area, dtype: int64
126 634    687
Name: amount_per_area, dtype: int64
126 1115    393
Name: amount_per_area, dtype: int64
126 153    883
Name: amount_per_area, dtype: int64
126 634    687
Name: amount_per_area, dtype: int64
126 1115    393
Name: amount_per_area, dtype: int64
72 154    572
Name: amount_per_area, dtype: int64
72 635    558
Name: amount_per_area, dtype: int64
72 1116    338
Name: amount_per_area, dtype: int64
72 154    572
Name: amount_per_area, dtype: int64
72 635    558
Name: amount_per_area, dtype: int64
72 1116    338
Name: amount_per_area, dtype: int64
84 155    419
Name: amount_per_area, dtype: int64
84 636    548
Name: amount_per_area, dtype: int64
84 1117    644
Name: amount_per_area, dtype: int64
84 155    419
Name: amount_per_area, dtype: int64
84 636    548
Name: amount_per_area, dtype: int64
84 1117    644
Name: amount_per_area, dtype: int64
101 156    744
Name: amount_per_area, dtype: int64
101 637    706
Name: amount_per_area, dtype: int64
101 1118    409
Name: amount_per_area, dtype: int64
101 156    744
Name: amount_per_area, dtype: int64
101 637    706
Name: amount_per_area, dtype: int64
101 1118    409
Name: amount_per_area, dtype: int64
167 157    1486
Name: amount_per_area, dtype: int64
167 638    1049
Name: amount_per_area, dtype: int64
167 1119    379
Name: amount_per_area, dtype: int64
167 157    1486
Name: amount_per_area, dtype: int64
167 638    1049
Name: amount_per_area, dtype: int64
167 1119    379
Name: amount_per_area, dtype: int64
1 158    0
Name: amount_per_area, dtype: int64
1 639    0
Name: amount_per_area, dtype: int64
1 1120    0
Name: amount_per_area, dtype: int64
1 158    0
Name: amount_per_area, dtype: int64
1 639    0
Name: amount_per_area, dtype: int64
1 1120    0
Name: amount_per_area, dtype: int64
97 159    963
Name: amount_per_area, dtype: int64
97 640    722
Name: amount_per_area, dtype: int64
97 1121    503
Name: amount_per_area, dtype: int64
97 159    963
Name: amount_per_area, dtype: int64
97 640    722
Name: amount_per_area, dtype: int64
97 1121    503
Name: amount_per_area, dtype: int64
110 160    929
Name: amount_per_area, dtype: int64
110 641    788
Name: amount_per_area, dtype: int64
110 1122    303
Name: amount_per_area, dtype: int64
110 160    929
Name: amount_per_area, dtype: int64
110 641    788
Name: amount_per_area, dtype: int64
110 1122    303
Name: amount_per_area, dtype: int64
63 161    638
Name: amount_per_area, dtype: int64
63 642    707
Name: amount_per_area, dtype: int64
63 1123    397
Name: amount_per_area, dtype: int64
63 161    638
Name: amount_per_area, dtype: int64
63 642    707
Name: amount_per_area, dtype: int64
63 1123    397
Name: amount_per_area, dtype: int64

181 162    1089
Name: amount_per_area, dtype: int64
181 643    1118
Name: amount_per_area, dtype: int64
181 1124    659
Name: amount_per_area, dtype: int64
181 162    1089
Name: amount_per_area, dtype: int64
181 643    1118
Name: amount_per_area, dtype: int64
181 1124    659
Name: amount_per_area, dtype: int64
125 163    1138
Name: amount_per_area, dtype: int64
125 644    1009
Name: amount_per_area, dtype: int64
125 1125    440
Name: amount_per_area, dtype: int64
125 163    1138
Name: amount_per_area, dtype: int64
125 644    1009
Name: amount_per_area, dtype: int64
125 1125    440
Name: amount_per_area, dtype: int64
36 164    188
Name: amount_per_area, dtype: int64
36 645    136
Name: amount_per_area, dtype: int64
36 1126    114
Name: amount_per_area, dtype: int64
36 164    188
Name: amount_per_area, dtype: int64
36 645    136
Name: amount_per_area, dtype: int64
36 1126    114
Name: amount_per_area, dtype: int64
0 165    0
Name: amount_per_area, dtype: int64
0 646    0
Name: amount_per_area, dtype: int64
0 1127    0
Name: amount_per_area, dtype: int64
0 165    0
Name: amount_per_area, dtype: int64
0 646    0
Name: amount_per_area, dtype: int64
0 1127    0
Name: amount_per_area, dtype: int64
107 166    449
Name: amount_per_area, dtype: int64
107 647    622
Name: amount_per_area, dtype: int64
107 1128    376
Name: amount_per_area, dtype: int64
107 166    449
Name: amount_per_area, dtype: int64
107 647    622
Name: amount_per_area, dtype: int64
107 1128    376
Name: amount_per_area, dtype: int64
0 167    0
Name: amount_per_area, dtype: int64
0 648    0
Name: amount_per_area, dtype: int64
0 1129    0
Name: amount_per_area, dtype: int64
0 167    0
Name: amount_per_area, dtype: int64
0 648    0
Name: amount_per_area, dtype: int64
0 1129    0
Name: amount_per_area, dtype: int64
2 168    22
Name: amount_per_area, dtype: int64
2 649    21
Name: amount_per_area, dtype: int64
2 1130    16
Name: amount_per_area, dtype: int64
2 168    22
Name: amount_per_area, dtype: int64
2 649    21
Name: amount_per_area, dtype: int64
2 1130    16
Name: amount_per_area, dtype: int64
1 169    2
Name: amount_per_area, dtype: int64
1 650    3
Name: amount_per_area, dtype: int64
1 1131    2
Name: amount_per_area, dtype: int64
1 169    2
Name: amount_per_area, dtype: int64
1 650    3
Name: amount_per_area, dtype: int64
1 1131    2
Name: amount_per_area, dtype: int64
191 170    1361
Name: amount_per_area, dtype: int64
191 651    1007
Name: amount_per_area, dtype: int64
191 1132    327
Name: amount_per_area, dtype: int64
191 170    1361
Name: amount_per_area, dtype: int64
191 651    1007
Name: amount_per_area, dtype: int64
191 1132    327
Name: amount_per_area, dtype: int64
127 171    699
Name: amount_per_area, dtype: int64
127 652    958
Name: amount_per_area, dtype: int64
127 1133    958
Name: amount_per_area, dtype: int64
127 171    699
Name: amount_per_area, dtype: int64
127 652    958
Name: amount_per_area, dtype: int64
127 1133    958
Name: amount_per_area, dtype: int64
119 172    602
Name: amount_per_area, dtype: int64
119 653    654
Name: amount_per_area, dtype: int64
119 1134    447
Name: amount_per_area, dtype: int64
119 172    602
Name: amount_per_area, dtype: int64
119 653    654
Name: amount_per_area, dtype: int64
119 1134    447
Name: amount_per_area, dtype: int64
59 173    302
Name: amount_per_area, dtype: int64
59 654    311
Name: amount_per_area, dtype: int64
59 1135    204
Name: amount_per_area, dtype: int64
59 173    302
Name: amount_per_area, dtype: int64
59 654    311
Name: amount_per_area, dtype: int64
59 1135    204
Name: amount_per_area, dtype: int64
96 174    401
Name: amount_per_area, dtype: int64
96 655    615
Name: amount_per_area, dtype: int64
96 1136    415
Name: amount_per_area, dtype: int64
96 174    401
Name: amount_per_area, dtype: int64
96 655    615
Name: amount_per_area, dtype: int64
96 1136    415
Name: amount_per_area, dtype: int64
163 175    1081
Name: amount_per_area, dtype: int64
163 656    940
Name: amount_per_area, dtype: int64
163 1137    353
Name: amount_per_area, dtype: int64
163 175    1081
Name: amount_per_area, dtype: int64
163 656    940
Name: amount_per_area, dtype: int64
163 1137    353
Name: amount_per_area, dtype: int64
157 176    1028
Name: amount_per_area, dtype: int64
157 657    977
Name: amount_per_area, dtype: int64
157 1138    566
Name: amount_per_area, dtype: int64
157 176    1028
Name: amount_per_area, dtype: int64
157 657    977
Name: amount_per_area, dtype: int64
157 1138    566
Name: amount_per_area, dtype: int64
180 177    885
Name: amount_per_area, dtype: int64
180 658    1005
Name: amount_per_area, dtype: int64
180 1139    503
Name: amount_per_area, dtype: int64
180 177    885
Name: amount_per_area, dtype: int64
180 658    1005
Name: amount_per_area, dtype: int64
180 1139    503
Name: amount_per_area, dtype: int64
259 178    992
Name: amount_per_area, dtype: int64
259 659    1203
Name: amount_per_area, dtype: int64
259 1140    812
Name: amount_per_area, dtype: int64
259 178    992
Name: amount_per_area, dtype: int64
259 659    1203
Name: amount_per_area, dtype: int64
259 1140    812
Name: amount_per_area, dtype: int64
169 179    810
Name: amount_per_area, dtype: int64
169 660    945
Name: amount_per_area, dtype: int64
169 1141    495
Name: amount_per_area, dtype: int64
169 179    810
Name: amount_per_area, dtype: int64
169 660    945
Name: amount_per_area, dtype: int64
169 1141    495
Name: amount_per_area, dtype: int64
47 180    0
Name: amount_per_area, dtype: int64
47 661    0
Name: amount_per_area, dtype: int64
47 1142    0
Name: amount_per_area, dtype: int64
47 180    0
Name: amount_per_area, dtype: int64
47 661    0
Name: amount_per_area, dtype: int64
47 1142    0
Name: amount_per_area, dtype: int64
148 181    667
Name: amount_per_area, dtype: int64
148 662    875
Name: amount_per_area, dtype: int64
148 1143    542
Name: amount_per_area, dtype: int64
148 181    667
Name: amount_per_area, dtype: int64
148 662    875
Name: amount_per_area, dtype: int64
148 1143    542
Name: amount_per_area, dtype: int64
152 182    422
Name: amount_per_area, dtype: int64
152 663    625
Name: amount_per_area, dtype: int64
152 1144    516
Name: amount_per_area, dtype: int64
152 182    422
Name: amount_per_area, dtype: int64
152 663    625
Name: amount_per_area, dtype: int64
152 1144    516
Name: amount_per_area, dtype: int64
165 183    452
Name: amount_per_area, dtype: int64
165 664    630
Name: amount_per_area, dtype: int64
165 1145    533
Name: amount_per_area, dtype: int64
165 183    452
Name: amount_per_area, dtype: int64
165 664    630
Name: amount_per_area, dtype: int64
165 1145    533
Name: amount_per_area, dtype: int64
92 184    242
Name: amount_per_area, dtype: int64
92 665    369
Name: amount_per_area, dtype: int64
92 1146    542
Name: amount_per_area, dtype: int64
92 184    242
Name: amount_per_area, dtype: int64
92 665    369
Name: amount_per_area, dtype: int64
92 1146    542
Name: amount_per_area, dtype: int64
27 185    244
Name: amount_per_area, dtype: int64
27 666    278
Name: amount_per_area, dtype: int64
27 1147    348
Name: amount_per_area, dtype: int64
27 185    244
Name: amount_per_area, dtype: int64
27 666    278
Name: amount_per_area, dtype: int64
27 1147    348
Name: amount_per_area, dtype: int64
111 186    828
Name: amount_per_area, dtype: int64
111 667    715
Name: amount_per_area, dtype: int64
111 1148    358
Name: amount_per_area, dtype: int64
111 186    828
Name: amount_per_area, dtype: int64
111 667    715
Name: amount_per_area, dtype: int64
111 1148    358
Name: amount_per_area, dtype: int64
130 187    1207
Name: amount_per_area, dtype: int64
130 668    1022
Name: amount_per_area, dtype: int64
130 1149    867
Name: amount_per_area, dtype: int64
130 187    1207
Name: amount_per_area, dtype: int64
130 668    1022
Name: amount_per_area, dtype: int64
130 1149    867
Name: amount_per_area, dtype: int64
152 188    546
Name: amount_per_area, dtype: int64
152 669    769
Name: amount_per_area, dtype: int64
152 1150    1166
Name: amount_per_area, dtype: int64
152 188    546
Name: amount_per_area, dtype: int64
152 669    769
Name: amount_per_area, dtype: int64
152 1150    1166
Name: amount_per_area, dtype: int64
10 189    37
Name: amount_per_area, dtype: int64
10 670    284
Name: amount_per_area, dtype: int64
10 1151    284
Name: amount_per_area, dtype: int64
10 189    37
Name: amount_per_area, dtype: int64
10 670    284
Name: amount_per_area, dtype: int64
10 1151    284
Name: amount_per_area, dtype: int64
12 190    33
Name: amount_per_area, dtype: int64
12 671    145
Name: amount_per_area, dtype: int64
12 1152    358
Name: amount_per_area, dtype: int64
12 190    33
Name: amount_per_area, dtype: int64
12 671    145
Name: amount_per_area, dtype: int64
12 1152    358
Name: amount_per_area, dtype: int64
71 191    801
Name: amount_per_area, dtype: int64
71 672    478
Name: amount_per_area, dtype: int64
71 1153    141
Name: amount_per_area, dtype: int64
71 191    801
Name: amount_per_area, dtype: int64
71 672    478
Name: amount_per_area, dtype: int64
71 1153    141
Name: amount_per_area, dtype: int64
18 192    33
Name: amount_per_area, dtype: int64
18 673    336
Name: amount_per_area, dtype: int64
18 1154    715
Name: amount_per_area, dtype: int64
18 192    33
Name: amount_per_area, dtype: int64
18 673    336
Name: amount_per_area, dtype: int64
18 1154    715
Name: amount_per_area, dtype: int64
29 193    113
Name: amount_per_area, dtype: int64
29 674    487
Name: amount_per_area, dtype: int64
29 1155    1274
Name: amount_per_area, dtype: int64
29 193    113
Name: amount_per_area, dtype: int64
29 674    487
Name: amount_per_area, dtype: int64
29 1155    1274
Name: amount_per_area, dtype: int64
62 194    331
Name: amount_per_area, dtype: int64
62 675    363
Name: amount_per_area, dtype: int64
62 1156    883
Name: amount_per_area, dtype: int64
62 194    331
Name: amount_per_area, dtype: int64
62 675    363
Name: amount_per_area, dtype: int64
62 1156    883
Name: amount_per_area, dtype: int64
121 195    507
Name: amount_per_area, dtype: int64
121 676    507
Name: amount_per_area, dtype: int64
121 1157    570
Name: amount_per_area, dtype: int64
121 195    507
Name: amount_per_area, dtype: int64
121 676    507
Name: amount_per_area, dtype: int64
121 1157    570
Name: amount_per_area, dtype: int64
91 196    407
Name: amount_per_area, dtype: int64
91 677    646
Name: amount_per_area, dtype: int64
91 1158    794
Name: amount_per_area, dtype: int64
91 196    407
Name: amount_per_area, dtype: int64
91 677    646
Name: amount_per_area, dtype: int64
91 1158    794
Name: amount_per_area, dtype: int64
8 197    52
Name: amount_per_area, dtype: int64
8 678    114
Name: amount_per_area, dtype: int64
8 1159    82
Name: amount_per_area, dtype: int64
8 197    52
Name: amount_per_area, dtype: int64
8 678    114
Name: amount_per_area, dtype: int64
8 1159    82
Name: amount_per_area, dtype: int64
42 198    0
Name: amount_per_area, dtype: int64
42 679    0
Name: amount_per_area, dtype: int64
42 1160    0
Name: amount_per_area, dtype: int64
42 198    0
Name: amount_per_area, dtype: int64
42 679    0
Name: amount_per_area, dtype: int64
42 1160    0
Name: amount_per_area, dtype: int64
1 199    0
Name: amount_per_area, dtype: int64
1 680    0
Name: amount_per_area, dtype: int64
1 1161    0
Name: amount_per_area, dtype: int64
1 199    0
Name: amount_per_area, dtype: int64
1 680    0
Name: amount_per_area, dtype: int64
1 1161    0
Name: amount_per_area, dtype: int64
61 200    244
Name: amount_per_area, dtype: int64
61 681    473
Name: amount_per_area, dtype: int64
61 1162    809
Name: amount_per_area, dtype: int64
61 200    244
Name: amount_per_area, dtype: int64
61 681    473
Name: amount_per_area, dtype: int64
61 1162    809
Name: amount_per_area, dtype: int64
1 201    6
Name: amount_per_area, dtype: int64
1 682    9
Name: amount_per_area, dtype: int64
1 1163    9
Name: amount_per_area, dtype: int64
1 201    6
Name: amount_per_area, dtype: int64
1 682    9
Name: amount_per_area, dtype: int64
1 1163    9
Name: amount_per_area, dtype: int64
4 202    7
Name: amount_per_area, dtype: int64
4 683    24
Name: amount_per_area, dtype: int64
4 1164    27
Name: amount_per_area, dtype: int64
4 202    7
Name: amount_per_area, dtype: int64
4 683    24
Name: amount_per_area, dtype: int64
4 1164    27
Name: amount_per_area, dtype: int64
126 203    393
Name: amount_per_area, dtype: int64
126 684    628
Name: amount_per_area, dtype: int64
126 1165    550
Name: amount_per_area, dtype: int64
126 203    393
Name: amount_per_area, dtype: int64
126 684    628
Name: amount_per_area, dtype: int64
126 1165    550
Name: amount_per_area, dtype: int64
72 204    289
Name: amount_per_area, dtype: int64
72 685    528
Name: amount_per_area, dtype: int64
72 1166    440
Name: amount_per_area, dtype: int64
72 204    289
Name: amount_per_area, dtype: int64
72 685    528
Name: amount_per_area, dtype: int64
72 1166    440
Name: amount_per_area, dtype: int64
145 205    549
Name: amount_per_area, dtype: int64
145 686    755
Name: amount_per_area, dtype: int64
145 1167    984
Name: amount_per_area, dtype: int64
145 205    549
Name: amount_per_area, dtype: int64
145 686    755
Name: amount_per_area, dtype: int64
145 1167    984
Name: amount_per_area, dtype: int64
146 206    356
Name: amount_per_area, dtype: int64
146 687    748
Name: amount_per_area, dtype: int64
146 1168    767
Name: amount_per_area, dtype: int64
146 206    356
Name: amount_per_area, dtype: int64
146 687    748
Name: amount_per_area, dtype: int64

146 1168    767
Name: amount_per_area, dtype: int64
100 207    381
Name: amount_per_area, dtype: int64
100 688    651
Name: amount_per_area, dtype: int64
100 1169    556
Name: amount_per_area, dtype: int64
100 207    381
Name: amount_per_area, dtype: int64
100 688    651
Name: amount_per_area, dtype: int64
100 1169    556
Name: amount_per_area, dtype: int64
3 208    47
Name: amount_per_area, dtype: int64
3 689    89
Name: amount_per_area, dtype: int64
3 1170    98
Name: amount_per_area, dtype: int64
3 208    47
Name: amount_per_area, dtype: int64
3 689    89
Name: amount_per_area, dtype: int64
3 1170    98
Name: amount_per_area, dtype: int64
120 209    552
Name: amount_per_area, dtype: int64
120 690    600
Name: amount_per_area, dtype: int64
120 1171    426
Name: amount_per_area, dtype: int64
120 209    552
Name: amount_per_area, dtype: int64
120 690    600
Name: amount_per_area, dtype: int64
120 1171    426
Name: amount_per_area, dtype: int64
97 210    504
Name: amount_per_area, dtype: int64
97 691    714
Name: amount_per_area, dtype: int64
97 1172    861
Name: amount_per_area, dtype: int64
97 210    504
Name: amount_per_area, dtype: int64
97 691    714
Name: amount_per_area, dtype: int64
97 1172    861
Name: amount_per_area, dtype: int64
124 211    595
Name: amount_per_area, dtype: int64
124 692    561
Name: amount_per_area, dtype: int64
124 1173    527
Name: amount_per_area, dtype: int64
124 211    595
Name: amount_per_area, dtype: int64
124 692    561
Name: amount_per_area, dtype: int64
124 1173    527
Name: amount_per_area, dtype: int64
29 212    71
Name: amount_per_area, dtype: int64
29 693    313
Name: amount_per_area, dtype: int64
29 1174    121
Name: amount_per_area, dtype: int64
29 212    71
Name: amount_per_area, dtype: int64
29 693    313
Name: amount_per_area, dtype: int64
29 1174    121
Name: amount_per_area, dtype: int64
1 213    7
Name: amount_per_area, dtype: int64
1 694    15
Name: amount_per_area, dtype: int64
1 1175    86
Name: amount_per_area, dtype: int64
1 213    7
Name: amount_per_area, dtype: int64
1 694    15
Name: amount_per_area, dtype: int64
1 1175    86
Name: amount_per_area, dtype: int64
0 214    0
Name: amount_per_area, dtype: int64
0 695    0
Name: amount_per_area, dtype: int64
0 1176    0
Name: amount_per_area, dtype: int64
0 214    0
Name: amount_per_area, dtype: int64
0 695    0
Name: amount_per_area, dtype: int64
0 1176    0
Name: amount_per_area, dtype: int64
1 215    0
Name: amount_per_area, dtype: int64
1 696    0
Name: amount_per_area, dtype: int64
1 1177    0
Name: amount_per_area, dtype: int64
1 215    0
Name: amount_per_area, dtype: int64
1 696    0
Name: amount_per_area, dtype: int64
1 1177    0
Name: amount_per_area, dtype: int64
50 216    152
Name: amount_per_area, dtype: int64
50 697    417
Name: amount_per_area, dtype: int64
50 1178    1326
Name: amount_per_area, dtype: int64
50 216    152
Name: amount_per_area, dtype: int64
50 697    417
Name: amount_per_area, dtype: int64
50 1178    1326
Name: amount_per_area, dtype: int64
21 217    7
Name: amount_per_area, dtype: int64
21 698    291
Name: amount_per_area, dtype: int64
21 1179    309
Name: amount_per_area, dtype: int64
21 217    7
Name: amount_per_area, dtype: int64
21 698    291
Name: amount_per_area, dtype: int64
21 1179    309
Name: amount_per_area, dtype: int64
104 218    386
Name: amount_per_area, dtype: int64
104 699    1040
Name: amount_per_area, dtype: int64
104 1180    2427
Name: amount_per_area, dtype: int64
104 218    386
Name: amount_per_area, dtype: int64
104 699    1040
Name: amount_per_area, dtype: int64
104 1180    2427
Name: amount_per_area, dtype: int64
106 219    492
Name: amount_per_area, dtype: int64
106 700    1124
Name: amount_per_area, dtype: int64
106 1181    1931
Name: amount_per_area, dtype: int64
106 219    492
Name: amount_per_area, dtype: int64
106 700    1124
Name: amount_per_area, dtype: int64
106 1181    1931
Name: amount_per_area, dtype: int64
84 220    440
Name: amount_per_area, dtype: int64
84 701    1118
Name: amount_per_area, dtype: int64
84 1182    2436
Name: amount_per_area, dtype: int64
84 220    440
Name: amount_per_area, dtype: int64
84 701    1118
Name: amount_per_area, dtype: int64
84 1182    2436
Name: amount_per_area, dtype: int64
218 221    837
Name: amount_per_area, dtype: int64
218 702    1617
Name: amount_per_area, dtype: int64
218 1183    3123
Name: amount_per_area, dtype: int64
218 221    837
Name: amount_per_area, dtype: int64
218 702    1617
Name: amount_per_area, dtype: int64
218 1183    3123
Name: amount_per_area, dtype: int64
134 222    433
Name: amount_per_area, dtype: int64
134 703    1101
Name: amount_per_area, dtype: int64
134 1184    2398
Name: amount_per_area, dtype: int64
134 222    433
Name: amount_per_area, dtype: int64
134 703    1101
Name: amount_per_area, dtype: int64
134 1184    2398
Name: amount_per_area, dtype: int64
187 223    552
Name: amount_per_area, dtype: int64
187 704    1146
Name: amount_per_area, dtype: int64
187 1185    2547
Name: amount_per_area, dtype: int64
187 223    552
Name: amount_per_area, dtype: int64
187 704    1146
Name: amount_per_area, dtype: int64
187 1185    2547
Name: amount_per_area, dtype: int64
199 224    629
Name: amount_per_area, dtype: int64
199 705    1209
Name: amount_per_area, dtype: int64
199 1186    2999
Name: amount_per_area, dtype: int64
199 224    629
Name: amount_per_area, dtype: int64
199 705    1209
Name: amount_per_area, dtype: int64
199 1186    2999
Name: amount_per_area, dtype: int64
188 225    545
Name: amount_per_area, dtype: int64
188 706    954
Name: amount_per_area, dtype: int64
188 1187    1908
Name: amount_per_area, dtype: int64
188 225    545
Name: amount_per_area, dtype: int64
188 706    954
Name: amount_per_area, dtype: int64
188 1187    1908
Name: amount_per_area, dtype: int64
146 226    500
Name: amount_per_area, dtype: int64
146 707    1042
Name: amount_per_area, dtype: int64
146 1188    2583
Name: amount_per_area, dtype: int64
146 226    500
Name: amount_per_area, dtype: int64
146 707    1042
Name: amount_per_area, dtype: int64
146 1188    2583
Name: amount_per_area, dtype: int64
277 227    1108
Name: amount_per_area, dtype: int64
277 708    1227
Name: amount_per_area, dtype: int64
277 1189    1662
Name: amount_per_area, dtype: int64
277 227    1108
Name: amount_per_area, dtype: int64
277 708    1227
Name: amount_per_area, dtype: int64
277 1189    1662
Name: amount_per_area, dtype: int64
295 228    912
Name: amount_per_area, dtype: int64
295 709    1202
Name: amount_per_area, dtype: int64
295 1190    2030
Name: amount_per_area, dtype: int64
295 228    912
Name: amount_per_area, dtype: int64
295 709    1202
Name: amount_per_area, dtype: int64
295 1190    2030
Name: amount_per_area, dtype: int64
300 229    959
Name: amount_per_area, dtype: int64
300 710    1238
Name: amount_per_area, dtype: int64
300 1191    1797
Name: amount_per_area, dtype: int64
300 229    959
Name: amount_per_area, dtype: int64
300 710    1238
Name: amount_per_area, dtype: int64
300 1191    1797
Name: amount_per_area, dtype: int64
45 230    317
Name: amount_per_area, dtype: int64
45 711    761
Name: amount_per_area, dtype: int64
45 1192    2091
Name: amount_per_area, dtype: int64
45 230    317
Name: amount_per_area, dtype: int64
45 711    761
Name: amount_per_area, dtype: int64
45 1192    2091
Name: amount_per_area, dtype: int64
112 231    397
Name: amount_per_area, dtype: int64
112 712    1032
Name: amount_per_area, dtype: int64
112 1193    2540
Name: amount_per_area, dtype: int64
112 231    397
Name: amount_per_area, dtype: int64
112 712    1032
Name: amount_per_area, dtype: int64
112 1193    2540
Name: amount_per_area, dtype: int64
118 232    406
Name: amount_per_area, dtype: int64
118 713    1082
Name: amount_per_area, dtype: int64
118 1194    3019
Name: amount_per_area, dtype: int64
118 232    406
Name: amount_per_area, dtype: int64
118 713    1082
Name: amount_per_area, dtype: int64
118 1194    3019
Name: amount_per_area, dtype: int64
100 233    332
Name: amount_per_area, dtype: int64
100 714    862
Name: amount_per_area, dtype: int64
100 1195    2120
Name: amount_per_area, dtype: int64
100 233    332
Name: amount_per_area, dtype: int64
100 714    862
Name: amount_per_area, dtype: int64
100 1195    2120
Name: amount_per_area, dtype: int64
84 234    420
Name: amount_per_area, dtype: int64
84 715    1007
Name: amount_per_area, dtype: int64
84 1196    2769
Name: amount_per_area, dtype: int64
84 234    420
Name: amount_per_area, dtype: int64
84 715    1007
Name: amount_per_area, dtype: int64
84 1196    2769
Name: amount_per_area, dtype: int64
0 235    25
Name: amount_per_area, dtype: int64
0 716    54
Name: amount_per_area, dtype: int64
0 1197    64
Name: amount_per_area, dtype: int64
0 235    25
Name: amount_per_area, dtype: int64
0 716    54
Name: amount_per_area, dtype: int64
0 1197    64
Name: amount_per_area, dtype: int64
105 236    462
Name: amount_per_area, dtype: int64
105 717    1133
Name: amount_per_area, dtype: int64
105 1198    2602
Name: amount_per_area, dtype: int64
105 236    462
Name: amount_per_area, dtype: int64
105 717    1133
Name: amount_per_area, dtype: int64
105 1198    2602
Name: amount_per_area, dtype: int64
107 237    285
Name: amount_per_area, dtype: int64
107 718    366
Name: amount_per_area, dtype: int64
107 1199    704
Name: amount_per_area, dtype: int64
107 237    285
Name: amount_per_area, dtype: int64
107 718    366
Name: amount_per_area, dtype: int64
107 1199    704
Name: amount_per_area, dtype: int64
23 238    270
Name: amount_per_area, dtype: int64
23 719    436
Name: amount_per_area, dtype: int64
23 1200    1370
Name: amount_per_area, dtype: int64
23 238    270
Name: amount_per_area, dtype: int64
23 719    436
Name: amount_per_area, dtype: int64
23 1200    1370
Name: amount_per_area, dtype: int64
59 239    393
Name: amount_per_area, dtype: int64
59 720    752
Name: amount_per_area, dtype: int64
59 1201    2124
Name: amount_per_area, dtype: int64
59 239    393
Name: amount_per_area, dtype: int64
59 720    752
Name: amount_per_area, dtype: int64
59 1201    2124
Name: amount_per_area, dtype: int64
19 240    172
Name: amount_per_area, dtype: int64
19 721    358
Name: amount_per_area, dtype: int64
19 1202    901
Name: amount_per_area, dtype: int64
19 240    172
Name: amount_per_area, dtype: int64
19 721    358
Name: amount_per_area, dtype: int64
19 1202    901
Name: amount_per_area, dtype: int64
0 241    0
Name: amount_per_area, dtype: int64
0 722    0
Name: amount_per_area, dtype: int64
0 1203    0
Name: amount_per_area, dtype: int64
0 241    0
Name: amount_per_area, dtype: int64
0 722    0
Name: amount_per_area, dtype: int64
0 1203    0
Name: amount_per_area, dtype: int64
21 242    169
Name: amount_per_area, dtype: int64
21 723    423
Name: amount_per_area, dtype: int64
21 1204    1099
Name: amount_per_area, dtype: int64
21 242    169
Name: amount_per_area, dtype: int64
21 723    423
Name: amount_per_area, dtype: int64
21 1204    1099
Name: amount_per_area, dtype: int64
10 243    148
Name: amount_per_area, dtype: int64
10 724    296
Name: amount_per_area, dtype: int64
10 1205    777
Name: amount_per_area, dtype: int64
10 243    148
Name: amount_per_area, dtype: int64
10 724    296
Name: amount_per_area, dtype: int64
10 1205    777
Name: amount_per_area, dtype: int64
32 244    266
Name: amount_per_area, dtype: int64
32 725    603
Name: amount_per_area, dtype: int64
32 1206    1543
Name: amount_per_area, dtype: int64
32 244    266
Name: amount_per_area, dtype: int64
32 725    603
Name: amount_per_area, dtype: int64
32 1206    1543
Name: amount_per_area, dtype: int64
29 245    287
Name: amount_per_area, dtype: int64
29 726    703
Name: amount_per_area, dtype: int64
29 1207    1615
Name: amount_per_area, dtype: int64
29 245    287
Name: amount_per_area, dtype: int64
29 726    703
Name: amount_per_area, dtype: int64
29 1207    1615
Name: amount_per_area, dtype: int64
19 246    175
Name: amount_per_area, dtype: int64
19 727    362
Name: amount_per_area, dtype: int64
19 1208    804
Name: amount_per_area, dtype: int64
19 246    175
Name: amount_per_area, dtype: int64
19 727    362
Name: amount_per_area, dtype: int64
19 1208    804
Name: amount_per_area, dtype: int64
32 247    287
Name: amount_per_area, dtype: int64
32 728    660
Name: amount_per_area, dtype: int64
32 1209    1921
Name: amount_per_area, dtype: int64
32 247    287
Name: amount_per_area, dtype: int64
32 728    660
Name: amount_per_area, dtype: int64
32 1209    1921
Name: amount_per_area, dtype: int64
55 248    247
Name: amount_per_area, dtype: int64
55 729    617
Name: amount_per_area, dtype: int64
55 1210    1603
Name: amount_per_area, dtype: int64
55 248    247
Name: amount_per_area, dtype: int64
55 729    617
Name: amount_per_area, dtype: int64
55 1210    1603
Name: amount_per_area, dtype: int64
0 249    0
Name: amount_per_area, dtype: int64
0 730    0
Name: amount_per_area, dtype: int64
0 1211    0
Name: amount_per_area, dtype: int64
0 249    0
Name: amount_per_area, dtype: int64
0 730    0
Name: amount_per_area, dtype: int64
0 1211    0
Name: amount_per_area, dtype: int64
0 250    0
Name: amount_per_area, dtype: int64
0 731    0
Name: amount_per_area, dtype: int64
0 1212    0
Name: amount_per_area, dtype: int64
0 250    0
Name: amount_per_area, dtype: int64
0 731    0
Name: amount_per_area, dtype: int64
0 1212    0
Name: amount_per_area, dtype: int64
70 251    287
Name: amount_per_area, dtype: int64
70 732    984
Name: amount_per_area, dtype: int64
70 1213    2827
Name: amount_per_area, dtype: int64
70 251    287
Name: amount_per_area, dtype: int64
70 732    984
Name: amount_per_area, dtype: int64
70 1213    2827
Name: amount_per_area, dtype: int64
236 252    752
Name: amount_per_area, dtype: int64
236 733    1059
Name: amount_per_area, dtype: int64
236 1214    1605
Name: amount_per_area, dtype: int64
236 252    752
Name: amount_per_area, dtype: int64
236 733    1059
Name: amount_per_area, dtype: int64
236 1214    1605
Name: amount_per_area, dtype: int64
92 253    358
Name: amount_per_area, dtype: int64
92 734    562
Name: amount_per_area, dtype: int64
92 1215    801
Name: amount_per_area, dtype: int64
92 253    358
Name: amount_per_area, dtype: int64
92 734    562
Name: amount_per_area, dtype: int64
92 1215    801
Name: amount_per_area, dtype: int64
293 254    926
Name: amount_per_area, dtype: int64
293 735    1176
Name: amount_per_area, dtype: int64
293 1216    1461
Name: amount_per_area, dtype: int64
293 254    926
Name: amount_per_area, dtype: int64
293 735    1176
Name: amount_per_area, dtype: int64
293 1216    1461
Name: amount_per_area, dtype: int64
85 255    288
Name: amount_per_area, dtype: int64

85 736    460
Name: amount_per_area, dtype: int64
85 1217    1169
Name: amount_per_area, dtype: int64
85 255    288
Name: amount_per_area, dtype: int64
85 736    460
Name: amount_per_area, dtype: int64
85 1217    1169
Name: amount_per_area, dtype: int64
1 256    41
Name: amount_per_area, dtype: int64
1 737    79
Name: amount_per_area, dtype: int64
1 1218    194
Name: amount_per_area, dtype: int64
1 256    41
Name: amount_per_area, dtype: int64
1 737    79
Name: amount_per_area, dtype: int64
1 1218    194
Name: amount_per_area, dtype: int64
80 257    398
Name: amount_per_area, dtype: int64
80 738    904
Name: amount_per_area, dtype: int64
80 1219    2312
Name: amount_per_area, dtype: int64
80 257    398
Name: amount_per_area, dtype: int64
80 738    904
Name: amount_per_area, dtype: int64
80 1219    2312
Name: amount_per_area, dtype: int64
15 258    86
Name: amount_per_area, dtype: int64
15 739    186
Name: amount_per_area, dtype: int64
15 1220    435
Name: amount_per_area, dtype: int64
15 258    86
Name: amount_per_area, dtype: int64
15 739    186
Name: amount_per_area, dtype: int64
15 1220    435
Name: amount_per_area, dtype: int64
17 259    193
Name: amount_per_area, dtype: int64
17 740    372
Name: amount_per_area, dtype: int64
17 1221    921
Name: amount_per_area, dtype: int64
17 259    193
Name: amount_per_area, dtype: int64
17 740    372
Name: amount_per_area, dtype: int64
17 1221    921
Name: amount_per_area, dtype: int64
0 260    0
Name: amount_per_area, dtype: int64
0 741    0
Name: amount_per_area, dtype: int64
0 1222    0
Name: amount_per_area, dtype: int64
0 260    0
Name: amount_per_area, dtype: int64
0 741    0
Name: amount_per_area, dtype: int64
0 1222    0
Name: amount_per_area, dtype: int64
17 261    184
Name: amount_per_area, dtype: int64
17 742    417
Name: amount_per_area, dtype: int64
17 1223    1066
Name: amount_per_area, dtype: int64
17 261    184
Name: amount_per_area, dtype: int64
17 742    417
Name: amount_per_area, dtype: int64
17 1223    1066
Name: amount_per_area, dtype: int64
20 262    282
Name: amount_per_area, dtype: int64
20 743    759
Name: amount_per_area, dtype: int64
20 1224    1771
Name: amount_per_area, dtype: int64
20 262    282
Name: amount_per_area, dtype: int64
20 743    759
Name: amount_per_area, dtype: int64
20 1224    1771
Name: amount_per_area, dtype: int64
37 263    273
Name: amount_per_area, dtype: int64
37 744    696
Name: amount_per_area, dtype: int64
37 1225    2057
Name: amount_per_area, dtype: int64
37 263    273
Name: amount_per_area, dtype: int64
37 744    696
Name: amount_per_area, dtype: int64
37 1225    2057
Name: amount_per_area, dtype: int64
57 264    376
Name: amount_per_area, dtype: int64
57 745    751
Name: amount_per_area, dtype: int64
57 1226    2627
Name: amount_per_area, dtype: int64
57 264    376
Name: amount_per_area, dtype: int64
57 745    751
Name: amount_per_area, dtype: int64
57 1226    2627
Name: amount_per_area, dtype: int64
64 265    334
Name: amount_per_area, dtype: int64
64 746    758
Name: amount_per_area, dtype: int64
64 1227    1970
Name: amount_per_area, dtype: int64
64 265    334
Name: amount_per_area, dtype: int64
64 746    758
Name: amount_per_area, dtype: int64
64 1227    1970
Name: amount_per_area, dtype: int64
62 266    273
Name: amount_per_area, dtype: int64
62 747    716
Name: amount_per_area, dtype: int64
62 1228    2421
Name: amount_per_area, dtype: int64
62 266    273
Name: amount_per_area, dtype: int64
62 747    716
Name: amount_per_area, dtype: int64
62 1228    2421
Name: amount_per_area, dtype: int64
66 267    238
Name: amount_per_area, dtype: int64
66 748    714
Name: amount_per_area, dtype: int64
66 1229    2023
Name: amount_per_area, dtype: int64
66 267    238
Name: amount_per_area, dtype: int64
66 748    714
Name: amount_per_area, dtype: int64
66 1229    2023
Name: amount_per_area, dtype: int64
98 268    319
Name: amount_per_area, dtype: int64
98 749    519
Name: amount_per_area, dtype: int64
98 1230    1156
Name: amount_per_area, dtype: int64
98 268    319
Name: amount_per_area, dtype: int64
98 749    519
Name: amount_per_area, dtype: int64
98 1230    1156
Name: amount_per_area, dtype: int64
7 269    0
Name: amount_per_area, dtype: int64
7 750    0
Name: amount_per_area, dtype: int64
7 1231    0
Name: amount_per_area, dtype: int64
7 269    0
Name: amount_per_area, dtype: int64
7 750    0
Name: amount_per_area, dtype: int64
7 1231    0
Name: amount_per_area, dtype: int64
155 270    505
Name: amount_per_area, dtype: int64
155 751    976
Name: amount_per_area, dtype: int64
155 1232    1885
Name: amount_per_area, dtype: int64
155 270    505
Name: amount_per_area, dtype: int64
155 751    976
Name: amount_per_area, dtype: int64
155 1232    1885
Name: amount_per_area, dtype: int64
164 271    572
Name: amount_per_area, dtype: int64
164 752    1029
Name: amount_per_area, dtype: int64
164 1233    2172
Name: amount_per_area, dtype: int64
164 271    572
Name: amount_per_area, dtype: int64
164 752    1029
Name: amount_per_area, dtype: int64
164 1233    2172
Name: amount_per_area, dtype: int64
96 272    414
Name: amount_per_area, dtype: int64
96 753    698
Name: amount_per_area, dtype: int64
96 1234    1498
Name: amount_per_area, dtype: int64
96 272    414
Name: amount_per_area, dtype: int64
96 753    698
Name: amount_per_area, dtype: int64
96 1234    1498
Name: amount_per_area, dtype: int64
72 273    247
Name: amount_per_area, dtype: int64
72 754    667
Name: amount_per_area, dtype: int64
72 1235    1555
Name: amount_per_area, dtype: int64
72 273    247
Name: amount_per_area, dtype: int64
72 754    667
Name: amount_per_area, dtype: int64
72 1235    1555
Name: amount_per_area, dtype: int64
43 274    132
Name: amount_per_area, dtype: int64
43 755    380
Name: amount_per_area, dtype: int64
43 1236    935
Name: amount_per_area, dtype: int64
43 274    132
Name: amount_per_area, dtype: int64
43 755    380
Name: amount_per_area, dtype: int64
43 1236    935
Name: amount_per_area, dtype: int64
270 275    1125
Name: amount_per_area, dtype: int64
270 756    1163
Name: amount_per_area, dtype: int64
270 1237    1425
Name: amount_per_area, dtype: int64
270 275    1125
Name: amount_per_area, dtype: int64
270 756    1163
Name: amount_per_area, dtype: int64
270 1237    1425
Name: amount_per_area, dtype: int64
0 276    0
Name: amount_per_area, dtype: int64
0 757    0
Name: amount_per_area, dtype: int64
0 1238    0
Name: amount_per_area, dtype: int64
0 276    0
Name: amount_per_area, dtype: int64
0 757    0
Name: amount_per_area, dtype: int64
0 1238    0
Name: amount_per_area, dtype: int64
9 277    76
Name: amount_per_area, dtype: int64
9 758    238
Name: amount_per_area, dtype: int64
9 1239    636
Name: amount_per_area, dtype: int64
9 277    76
Name: amount_per_area, dtype: int64
9 758    238
Name: amount_per_area, dtype: int64
9 1239    636
Name: amount_per_area, dtype: int64
0 278    0
Name: amount_per_area, dtype: int64
0 759    0
Name: amount_per_area, dtype: int64
0 1240    0
Name: amount_per_area, dtype: int64
0 278    0
Name: amount_per_area, dtype: int64
0 759    0
Name: amount_per_area, dtype: int64
0 1240    0
Name: amount_per_area, dtype: int64
71 279    288
Name: amount_per_area, dtype: int64
71 760    557
Name: amount_per_area, dtype: int64
71 1241    970
Name: amount_per_area, dtype: int64
71 279    288
Name: amount_per_area, dtype: int64
71 760    557
Name: amount_per_area, dtype: int64
71 1241    970
Name: amount_per_area, dtype: int64
48 280    212
Name: amount_per_area, dtype: int64
48 761    437
Name: amount_per_area, dtype: int64
48 1242    675
Name: amount_per_area, dtype: int64
48 280    212
Name: amount_per_area, dtype: int64
48 761    437
Name: amount_per_area, dtype: int64
48 1242    675
Name: amount_per_area, dtype: int64
43 281    186
Name: amount_per_area, dtype: int64
43 762    319
Name: amount_per_area, dtype: int64
43 1243    525
Name: amount_per_area, dtype: int64
43 281    186
Name: amount_per_area, dtype: int64
43 762    319
Name: amount_per_area, dtype: int64
43 1243    525
Name: amount_per_area, dtype: int64
1 282    0
Name: amount_per_area, dtype: int64
1 763    0
Name: amount_per_area, dtype: int64
1 1244    0
Name: amount_per_area, dtype: int64
1 282    0
Name: amount_per_area, dtype: int64
1 763    0
Name: amount_per_area, dtype: int64
1 1244    0
Name: amount_per_area, dtype: int64
13 283    113
Name: amount_per_area, dtype: int64
13 764    191
Name: amount_per_area, dtype: int64
13 1245    410
Name: amount_per_area, dtype: int64
13 283    113
Name: amount_per_area, dtype: int64
13 764    191
Name: amount_per_area, dtype: int64
13 1245    410
Name: amount_per_area, dtype: int64
0 284    0
Name: amount_per_area, dtype: int64
0 765    0
Name: amount_per_area, dtype: int64
0 1246    0
Name: amount_per_area, dtype: int64
0 284    0
Name: amount_per_area, dtype: int64
0 765    0
Name: amount_per_area, dtype: int64
0 1246    0
Name: amount_per_area, dtype: int64
40 285    167
Name: amount_per_area, dtype: int64
40 766    188
Name: amount_per_area, dtype: int64
40 1247    688
Name: amount_per_area, dtype: int64
40 285    167
Name: amount_per_area, dtype: int64
40 766    188
Name: amount_per_area, dtype: int64
40 1247    688
Name: amount_per_area, dtype: int64
103 286    415
Name: amount_per_area, dtype: int64
103 767    691
Name: amount_per_area, dtype: int64
103 1248    868
Name: amount_per_area, dtype: int64
103 286    415
Name: amount_per_area, dtype: int64
103 767    691
Name: amount_per_area, dtype: int64
103 1248    868
Name: amount_per_area, dtype: int64
26 287    160
Name: amount_per_area, dtype: int64
26 768    365
Name: amount_per_area, dtype: int64
26 1249    616
Name: amount_per_area, dtype: int64
26 287    160
Name: amount_per_area, dtype: int64
26 768    365
Name: amount_per_area, dtype: int64
26 1249    616
Name: amount_per_area, dtype: int64
0 288    0
Name: amount_per_area, dtype: int64
0 769    0
Name: amount_per_area, dtype: int64
0 1250    0
Name: amount_per_area, dtype: int64
0 288    0
Name: amount_per_area, dtype: int64
0 769    0
Name: amount_per_area, dtype: int64
0 1250    0
Name: amount_per_area, dtype: int64
71 289    216
Name: amount_per_area, dtype: int64
71 770    709
Name: amount_per_area, dtype: int64
71 1251    2127
Name: amount_per_area, dtype: int64
71 289    216
Name: amount_per_area, dtype: int64
71 770    709
Name: amount_per_area, dtype: int64
71 1251    2127
Name: amount_per_area, dtype: int64
113 290    375
Name: amount_per_area, dtype: int64
113 771    718
Name: amount_per_area, dtype: int64
113 1252    2061
Name: amount_per_area, dtype: int64
113 290    375
Name: amount_per_area, dtype: int64
113 771    718
Name: amount_per_area, dtype: int64
113 1252    2061
Name: amount_per_area, dtype: int64
45 291    300
Name: amount_per_area, dtype: int64
45 772    558
Name: amount_per_area, dtype: int64
45 1253    504
Name: amount_per_area, dtype: int64
45 291    300
Name: amount_per_area, dtype: int64
45 772    558
Name: amount_per_area, dtype: int64
45 1253    504
Name: amount_per_area, dtype: int64
211 292    535
Name: amount_per_area, dtype: int64
211 773    850
Name: amount_per_area, dtype: int64

211 1254    1730
Name: amount_per_area, dtype: int64
211 292    535
Name: amount_per_area, dtype: int64
211 773    850
Name: amount_per_area, dtype: int64
211 1254    1730
Name: amount_per_area, dtype: int64
10 293    11
Name: amount_per_area, dtype: int64
10 774    28
Name: amount_per_area, dtype: int64
10 1255    56
Name: amount_per_area, dtype: int64
10 293    11
Name: amount_per_area, dtype: int64
10 774    28
Name: amount_per_area, dtype: int64
10 1255    56
Name: amount_per_area, dtype: int64
241 294    747
Name: amount_per_area, dtype: int64
241 775    1078
Name: amount_per_area, dtype: int64
241 1256    2363
Name: amount_per_area, dtype: int64
241 294    747
Name: amount_per_area, dtype: int64
241 775    1078
Name: amount_per_area, dtype: int64
241 1256    2363
Name: amount_per_area, dtype: int64
462 295    1274
Name: amount_per_area, dtype: int64
462 776    1186
Name: amount_per_area, dtype: int64
462 1257    1933
Name: amount_per_area, dtype: int64
462 295    1274
Name: amount_per_area, dtype: int64
462 776    1186
Name: amount_per_area, dtype: int64
462 1257    1933
Name: amount_per_area, dtype: int64
300 296    922
Name: amount_per_area, dtype: int64
300 777    999
Name: amount_per_area, dtype: int64
300 1258    1920
Name: amount_per_area, dtype: int64
300 296    922
Name: amount_per_area, dtype: int64
300 777    999
Name: amount_per_area, dtype: int64
300 1258    1920
Name: amount_per_area, dtype: int64
293 297    873
Name: amount_per_area, dtype: int64
293 778    1025
Name: amount_per_area, dtype: int64
293 1259    1898
Name: amount_per_area, dtype: int64
293 297    873
Name: amount_per_area, dtype: int64
293 778    1025
Name: amount_per_area, dtype: int64
293 1259    1898
Name: amount_per_area, dtype: int64
125 298    380
Name: amount_per_area, dtype: int64
125 779    348
Name: amount_per_area, dtype: int64
125 1260    838
Name: amount_per_area, dtype: int64
125 298    380
Name: amount_per_area, dtype: int64
125 779    348
Name: amount_per_area, dtype: int64
125 1260    838
Name: amount_per_area, dtype: int64
370 299    1109
Name: amount_per_area, dtype: int64
370 780    1150
Name: amount_per_area, dtype: int64
370 1261    1847
Name: amount_per_area, dtype: int64
370 299    1109
Name: amount_per_area, dtype: int64
370 780    1150
Name: amount_per_area, dtype: int64
370 1261    1847
Name: amount_per_area, dtype: int64
343 300    1186
Name: amount_per_area, dtype: int64
343 781    1278
Name: amount_per_area, dtype: int64
343 1262    2099
Name: amount_per_area, dtype: int64
343 300    1186
Name: amount_per_area, dtype: int64
343 781    1278
Name: amount_per_area, dtype: int64
343 1262    2099
Name: amount_per_area, dtype: int64
225 301    734
Name: amount_per_area, dtype: int64
225 782    978
Name: amount_per_area, dtype: int64
225 1263    2364
Name: amount_per_area, dtype: int64
225 301    734
Name: amount_per_area, dtype: int64
225 782    978
Name: amount_per_area, dtype: int64
225 1263    2364
Name: amount_per_area, dtype: int64
371 302    1161
Name: amount_per_area, dtype: int64
371 783    1438
Name: amount_per_area, dtype: int64
371 1264    2875
Name: amount_per_area, dtype: int64
371 302    1161
Name: amount_per_area, dtype: int64
371 783    1438
Name: amount_per_area, dtype: int64
371 1264    2875
Name: amount_per_area, dtype: int64
455 303    1757
Name: amount_per_area, dtype: int64
455 784    1307
Name: amount_per_area, dtype: int64
455 1265    1442
Name: amount_per_area, dtype: int64
455 303    1757
Name: amount_per_area, dtype: int64
455 784    1307
Name: amount_per_area, dtype: int64
455 1265    1442
Name: amount_per_area, dtype: int64
370 304    1339
Name: amount_per_area, dtype: int64
370 785    1177
Name: amount_per_area, dtype: int64
370 1266    1502
Name: amount_per_area, dtype: int64
370 304    1339
Name: amount_per_area, dtype: int64
370 785    1177
Name: amount_per_area, dtype: int64
370 1266    1502
Name: amount_per_area, dtype: int64
344 305    1537
Name: amount_per_area, dtype: int64
344 786    1311
Name: amount_per_area, dtype: int64
344 1267    1718
Name: amount_per_area, dtype: int64
344 305    1537
Name: amount_per_area, dtype: int64
344 786    1311
Name: amount_per_area, dtype: int64
344 1267    1718
Name: amount_per_area, dtype: int64
61 306    166
Name: amount_per_area, dtype: int64
61 787    253
Name: amount_per_area, dtype: int64
61 1268    555
Name: amount_per_area, dtype: int64
61 306    166
Name: amount_per_area, dtype: int64
61 787    253
Name: amount_per_area, dtype: int64
61 1268    555
Name: amount_per_area, dtype: int64
0 307    0
Name: amount_per_area, dtype: int64
0 788    0
Name: amount_per_area, dtype: int64
0 1269    0
Name: amount_per_area, dtype: int64
0 307    0
Name: amount_per_area, dtype: int64
0 788    0
Name: amount_per_area, dtype: int64
0 1269    0
Name: amount_per_area, dtype: int64
58 308    162
Name: amount_per_area, dtype: int64
58 789    277
Name: amount_per_area, dtype: int64
58 1270    715
Name: amount_per_area, dtype: int64
58 308    162
Name: amount_per_area, dtype: int64
58 789    277
Name: amount_per_area, dtype: int64
58 1270    715
Name: amount_per_area, dtype: int64
117 309    243
Name: amount_per_area, dtype: int64
117 790    405
Name: amount_per_area, dtype: int64
117 1271    972
Name: amount_per_area, dtype: int64
117 309    243
Name: amount_per_area, dtype: int64
117 790    405
Name: amount_per_area, dtype: int64
117 1271    972
Name: amount_per_area, dtype: int64
100 310    321
Name: amount_per_area, dtype: int64
100 791    769
Name: amount_per_area, dtype: int64
100 1272    2113
Name: amount_per_area, dtype: int64
100 310    321
Name: amount_per_area, dtype: int64
100 791    769
Name: amount_per_area, dtype: int64
100 1272    2113
Name: amount_per_area, dtype: int64
174 311    451
Name: amount_per_area, dtype: int64
174 792    901
Name: amount_per_area, dtype: int64
174 1273    1865
Name: amount_per_area, dtype: int64
174 311    451
Name: amount_per_area, dtype: int64
174 792    901
Name: amount_per_area, dtype: int64
174 1273    1865
Name: amount_per_area, dtype: int64
138 312    601
Name: amount_per_area, dtype: int64
138 793    955
Name: amount_per_area, dtype: int64
138 1274    2015
Name: amount_per_area, dtype: int64
138 312    601
Name: amount_per_area, dtype: int64
138 793    955
Name: amount_per_area, dtype: int64
138 1274    2015
Name: amount_per_area, dtype: int64
150 313    580
Name: amount_per_area, dtype: int64
150 794    1078
Name: amount_per_area, dtype: int64
150 1275    2486
Name: amount_per_area, dtype: int64
150 313    580
Name: amount_per_area, dtype: int64
150 794    1078
Name: amount_per_area, dtype: int64
150 1275    2486
Name: amount_per_area, dtype: int64
216 314    521
Name: amount_per_area, dtype: int64
216 795    781
Name: amount_per_area, dtype: int64
216 1276    1064
Name: amount_per_area, dtype: int64
216 314    521
Name: amount_per_area, dtype: int64
216 795    781
Name: amount_per_area, dtype: int64
216 1276    1064
Name: amount_per_area, dtype: int64
253 315    572
Name: amount_per_area, dtype: int64
253 796    842
Name: amount_per_area, dtype: int64
253 1277    1594
Name: amount_per_area, dtype: int64
253 315    572
Name: amount_per_area, dtype: int64
253 796    842
Name: amount_per_area, dtype: int64
253 1277    1594
Name: amount_per_area, dtype: int64
0 316    0
Name: amount_per_area, dtype: int64
0 797    0
Name: amount_per_area, dtype: int64
0 1278    0
Name: amount_per_area, dtype: int64
0 316    0
Name: amount_per_area, dtype: int64
0 797    0
Name: amount_per_area, dtype: int64
0 1278    0
Name: amount_per_area, dtype: int64
15 317    37
Name: amount_per_area, dtype: int64
15 798    114
Name: amount_per_area, dtype: int64
15 1279    309
Name: amount_per_area, dtype: int64
15 317    37
Name: amount_per_area, dtype: int64
15 798    114
Name: amount_per_area, dtype: int64
15 1279    309
Name: amount_per_area, dtype: int64
0 318    0
Name: amount_per_area, dtype: int64
0 799    0
Name: amount_per_area, dtype: int64
0 1280    0
Name: amount_per_area, dtype: int64
0 318    0
Name: amount_per_area, dtype: int64
0 799    0
Name: amount_per_area, dtype: int64
0 1280    0
Name: amount_per_area, dtype: int64
0 319    0
Name: amount_per_area, dtype: int64
0 800    0
Name: amount_per_area, dtype: int64
0 1281    0
Name: amount_per_area, dtype: int64
0 319    0
Name: amount_per_area, dtype: int64
0 800    0
Name: amount_per_area, dtype: int64
0 1281    0
Name: amount_per_area, dtype: int64
19 320    0
Name: amount_per_area, dtype: int64
19 801    0
Name: amount_per_area, dtype: int64
19 1282    0
Name: amount_per_area, dtype: int64
19 320    0
Name: amount_per_area, dtype: int64
19 801    0
Name: amount_per_area, dtype: int64
19 1282    0
Name: amount_per_area, dtype: int64
3 321    17
Name: amount_per_area, dtype: int64
3 802    162
Name: amount_per_area, dtype: int64
3 1283    145
Name: amount_per_area, dtype: int64
3 321    17
Name: amount_per_area, dtype: int64
3 802    162
Name: amount_per_area, dtype: int64
3 1283    145
Name: amount_per_area, dtype: int64
0 322    4
Name: amount_per_area, dtype: int64
0 803    5
Name: amount_per_area, dtype: int64
0 1284    4
Name: amount_per_area, dtype: int64
0 322    4
Name: amount_per_area, dtype: int64
0 803    5
Name: amount_per_area, dtype: int64
0 1284    4
Name: amount_per_area, dtype: int64
107 323    175
Name: amount_per_area, dtype: int64
107 804    559
Name: amount_per_area, dtype: int64
107 1285    1012
Name: amount_per_area, dtype: int64
107 323    175
Name: amount_per_area, dtype: int64
107 804    559
Name: amount_per_area, dtype: int64
107 1285    1012
Name: amount_per_area, dtype: int64
0 324    0
Name: amount_per_area, dtype: int64
0 805    0
Name: amount_per_area, dtype: int64
0 1286    0
Name: amount_per_area, dtype: int64
0 324    0
Name: amount_per_area, dtype: int64
0 805    0
Name: amount_per_area, dtype: int64
0 1286    0
Name: amount_per_area, dtype: int64
192 325    409
Name: amount_per_area, dtype: int64
192 806    539
Name: amount_per_area, dtype: int64
192 1287    911
Name: amount_per_area, dtype: int64
192 325    409
Name: amount_per_area, dtype: int64
192 806    539
Name: amount_per_area, dtype: int64
192 1287    911
Name: amount_per_area, dtype: int64
157 326    557
Name: amount_per_area, dtype: int64
157 807    495
Name: amount_per_area, dtype: int64
157 1288    1010
Name: amount_per_area, dtype: int64
157 326    557
Name: amount_per_area, dtype: int64
157 807    495
Name: amount_per_area, dtype: int64
157 1288    1010
Name: amount_per_area, dtype: int64
120 327    361
Name: amount_per_area, dtype: int64
120 808    433
Name: amount_per_area, dtype: int64
120 1289    1011
Name: amount_per_area, dtype: int64
120 327    361
Name: amount_per_area, dtype: int64
120 808    433
Name: amount_per_area, dtype: int64
120 1289    1011
Name: amount_per_area, dtype: int64
225 328    612
Name: amount_per_area, dtype: int64
225 809    874
Name: amount_per_area, dtype: int64
225 1290    1428
Name: amount_per_area, dtype: int64
225 328    612
Name: amount_per_area, dtype: int64
225 809    874
Name: amount_per_area, dtype: int64
225 1290    1428
Name: amount_per_area, dtype: int64
322 329    781
Name: amount_per_area, dtype: int64
322 810    938
Name: amount_per_area, dtype: int64
322 1291    1406
Name: amount_per_area, dtype: int64
322 329    781
Name: amount_per_area, dtype: int64
322 810    938
Name: amount_per_area, dtype: int64
322 1291    1406
Name: amount_per_area, dtype: int64
0 330    0
Name: amount_per_area, dtype: int64
0 811    0
Name: amount_per_area, dtype: int64
0 1292    0
Name: amount_per_area, dtype: int64
0 330    0
Name: amount_per_area, dtype: int64
0 811    0
Name: amount_per_area, dtype: int64
0 1292    0
Name: amount_per_area, dtype: int64
0 331    0
Name: amount_per_area, dtype: int64
0 812    0
Name: amount_per_area, dtype: int64
0 1293    0
Name: amount_per_area, dtype: int64
0 331    0
Name: amount_per_area, dtype: int64
0 812    0
Name: amount_per_area, dtype: int64
0 1293    0
Name: amount_per_area, dtype: int64
0 332    0
Name: amount_per_area, dtype: int64
0 813    0
Name: amount_per_area, dtype: int64
0 1294    0
Name: amount_per_area, dtype: int64
0 332    0
Name: amount_per_area, dtype: int64
0 813    0
Name: amount_per_area, dtype: int64
0 1294    0
Name: amount_per_area, dtype: int64
0 333    0
Name: amount_per_area, dtype: int64
0 814    0
Name: amount_per_area, dtype: int64
0 1295    0
Name: amount_per_area, dtype: int64
0 333    0
Name: amount_per_area, dtype: int64
0 814    0
Name: amount_per_area, dtype: int64
0 1295    0
Name: amount_per_area, dtype: int64
0 334    0
Name: amount_per_area, dtype: int64
0 815    0
Name: amount_per_area, dtype: int64
0 1296    0
Name: amount_per_area, dtype: int64
0 334    0
Name: amount_per_area, dtype: int64
0 815    0
Name: amount_per_area, dtype: int64
0 1296    0
Name: amount_per_area, dtype: int64
0 335    0
Name: amount_per_area, dtype: int64
0 816    0
Name: amount_per_area, dtype: int64
0 1297    0
Name: amount_per_area, dtype: int64
0 335    0
Name: amount_per_area, dtype: int64
0 816    0
Name: amount_per_area, dtype: int64
0 1297    0
Name: amount_per_area, dtype: int64
0 336    0
Name: amount_per_area, dtype: int64
0 817    0
Name: amount_per_area, dtype: int64
0 1298    0
Name: amount_per_area, dtype: int64

0 336    0
Name: amount_per_area, dtype: int64
0 817    0
Name: amount_per_area, dtype: int64
0 1298    0
Name: amount_per_area, dtype: int64
5 337    72
Name: amount_per_area, dtype: int64
5 818    61
Name: amount_per_area, dtype: int64
5 1299    417
Name: amount_per_area, dtype: int64
5 337    72
Name: amount_per_area, dtype: int64
5 818    61
Name: amount_per_area, dtype: int64
5 1299    417
Name: amount_per_area, dtype: int64
172 338    485
Name: amount_per_area, dtype: int64
172 819    654
Name: amount_per_area, dtype: int64
172 1300    1283
Name: amount_per_area, dtype: int64
172 338    485
Name: amount_per_area, dtype: int64
172 819    654
Name: amount_per_area, dtype: int64
172 1300    1283
Name: amount_per_area, dtype: int64
383 339    832
Name: amount_per_area, dtype: int64
383 820    970
Name: amount_per_area, dtype: int64
383 1301    998
Name: amount_per_area, dtype: int64
383 339    832
Name: amount_per_area, dtype: int64
383 820    970
Name: amount_per_area, dtype: int64
383 1301    998
Name: amount_per_area, dtype: int64
135 340    289
Name: amount_per_area, dtype: int64
135 821    841
Name: amount_per_area, dtype: int64
135 1302    1250
Name: amount_per_area, dtype: int64
135 340    289
Name: amount_per_area, dtype: int64
135 821    841
Name: amount_per_area, dtype: int64
135 1302    1250
Name: amount_per_area, dtype: int64
35 341    77
Name: amount_per_area, dtype: int64
35 822    173
Name: amount_per_area, dtype: int64
35 1303    721
Name: amount_per_area, dtype: int64
35 341    77
Name: amount_per_area, dtype: int64
35 822    173
Name: amount_per_area, dtype: int64
35 1303    721
Name: amount_per_area, dtype: int64
71 342    354
Name: amount_per_area, dtype: int64
71 823    543
Name: amount_per_area, dtype: int64
71 1304    1462
Name: amount_per_area, dtype: int64
71 342    354
Name: amount_per_area, dtype: int64
71 823    543
Name: amount_per_area, dtype: int64
71 1304    1462
Name: amount_per_area, dtype: int64
0 343    0
Name: amount_per_area, dtype: int64
0 824    0
Name: amount_per_area, dtype: int64
0 1305    0
Name: amount_per_area, dtype: int64
0 343    0
Name: amount_per_area, dtype: int64
0 824    0
Name: amount_per_area, dtype: int64
0 1305    0
Name: amount_per_area, dtype: int64
138 344    587
Name: amount_per_area, dtype: int64
138 825    423
Name: amount_per_area, dtype: int64
138 1306    342
Name: amount_per_area, dtype: int64
138 344    587
Name: amount_per_area, dtype: int64
138 825    423
Name: amount_per_area, dtype: int64
138 1306    342
Name: amount_per_area, dtype: int64
56 345    270
Name: amount_per_area, dtype: int64
56 826    356
Name: amount_per_area, dtype: int64
56 1307    613
Name: amount_per_area, dtype: int64
56 345    270
Name: amount_per_area, dtype: int64
56 826    356
Name: amount_per_area, dtype: int64
56 1307    613
Name: amount_per_area, dtype: int64
86 346    291
Name: amount_per_area, dtype: int64
86 827    383
Name: amount_per_area, dtype: int64
86 1308    488
Name: amount_per_area, dtype: int64
86 346    291
Name: amount_per_area, dtype: int64
86 827    383
Name: amount_per_area, dtype: int64
86 1308    488
Name: amount_per_area, dtype: int64
174 347    534
Name: amount_per_area, dtype: int64
174 828    519
Name: amount_per_area, dtype: int64
174 1309    430
Name: amount_per_area, dtype: int64
174 347    534
Name: amount_per_area, dtype: int64
174 828    519
Name: amount_per_area, dtype: int64
174 1309    430
Name: amount_per_area, dtype: int64
44 348    299
Name: amount_per_area, dtype: int64
44 829    624
Name: amount_per_area, dtype: int64
44 1310    1791
Name: amount_per_area, dtype: int64
44 348    299
Name: amount_per_area, dtype: int64
44 829    624
Name: amount_per_area, dtype: int64
44 1310    1791
Name: amount_per_area, dtype: int64
56 349    386
Name: amount_per_area, dtype: int64
56 830    716
Name: amount_per_area, dtype: int64
56 1311    1680
Name: amount_per_area, dtype: int64
56 349    386
Name: amount_per_area, dtype: int64
56 830    716
Name: amount_per_area, dtype: int64
56 1311    1680
Name: amount_per_area, dtype: int64
50 350    250
Name: amount_per_area, dtype: int64
50 831    545
Name: amount_per_area, dtype: int64
50 1312    1474
Name: amount_per_area, dtype: int64
50 350    250
Name: amount_per_area, dtype: int64
50 831    545
Name: amount_per_area, dtype: int64
50 1312    1474
Name: amount_per_area, dtype: int64
7 351    30
Name: amount_per_area, dtype: int64
7 832    78
Name: amount_per_area, dtype: int64
7 1313    160
Name: amount_per_area, dtype: int64
7 351    30
Name: amount_per_area, dtype: int64
7 832    78
Name: amount_per_area, dtype: int64
7 1313    160
Name: amount_per_area, dtype: int64
9 352    0
Name: amount_per_area, dtype: int64
9 833    0
Name: amount_per_area, dtype: int64
9 1314    0
Name: amount_per_area, dtype: int64
9 352    0
Name: amount_per_area, dtype: int64
9 833    0
Name: amount_per_area, dtype: int64
9 1314    0
Name: amount_per_area, dtype: int64
70 353    226
Name: amount_per_area, dtype: int64
70 834    391
Name: amount_per_area, dtype: int64
70 1315    569
Name: amount_per_area, dtype: int64
70 353    226
Name: amount_per_area, dtype: int64
70 834    391
Name: amount_per_area, dtype: int64
70 1315    569
Name: amount_per_area, dtype: int64
0 354    0
Name: amount_per_area, dtype: int64
0 835    0
Name: amount_per_area, dtype: int64
0 1316    0
Name: amount_per_area, dtype: int64
0 354    0
Name: amount_per_area, dtype: int64
0 835    0
Name: amount_per_area, dtype: int64
0 1316    0
Name: amount_per_area, dtype: int64
32 355    24
Name: amount_per_area, dtype: int64
32 836    599
Name: amount_per_area, dtype: int64
32 1317    552
Name: amount_per_area, dtype: int64
32 355    24
Name: amount_per_area, dtype: int64
32 836    599
Name: amount_per_area, dtype: int64
32 1317    552
Name: amount_per_area, dtype: int64
3 356    0
Name: amount_per_area, dtype: int64
3 837    0
Name: amount_per_area, dtype: int64
3 1318    0
Name: amount_per_area, dtype: int64
3 356    0
Name: amount_per_area, dtype: int64
3 837    0
Name: amount_per_area, dtype: int64
3 1318    0
Name: amount_per_area, dtype: int64
90 357    401
Name: amount_per_area, dtype: int64
90 838    427
Name: amount_per_area, dtype: int64
90 1319    465
Name: amount_per_area, dtype: int64
90 357    401
Name: amount_per_area, dtype: int64
90 838    427
Name: amount_per_area, dtype: int64
90 1319    465
Name: amount_per_area, dtype: int64
0 358    0
Name: amount_per_area, dtype: int64
0 839    0
Name: amount_per_area, dtype: int64
0 1320    0
Name: amount_per_area, dtype: int64
0 358    0
Name: amount_per_area, dtype: int64
0 839    0
Name: amount_per_area, dtype: int64
0 1320    0
Name: amount_per_area, dtype: int64
0 359    0
Name: amount_per_area, dtype: int64
0 840    0
Name: amount_per_area, dtype: int64
0 1321    0
Name: amount_per_area, dtype: int64
0 359    0
Name: amount_per_area, dtype: int64
0 840    0
Name: amount_per_area, dtype: int64
0 1321    0
Name: amount_per_area, dtype: int64
33 360    66
Name: amount_per_area, dtype: int64
33 841    212
Name: amount_per_area, dtype: int64
33 1322    267
Name: amount_per_area, dtype: int64
33 360    66
Name: amount_per_area, dtype: int64
33 841    212
Name: amount_per_area, dtype: int64
33 1322    267
Name: amount_per_area, dtype: int64
0 361    0
Name: amount_per_area, dtype: int64
0 842    0
Name: amount_per_area, dtype: int64
0 1323    0
Name: amount_per_area, dtype: int64
0 361    0
Name: amount_per_area, dtype: int64
0 842    0
Name: amount_per_area, dtype: int64
0 1323    0
Name: amount_per_area, dtype: int64
1 362    0
Name: amount_per_area, dtype: int64
1 843    0
Name: amount_per_area, dtype: int64
1 1324    0
Name: amount_per_area, dtype: int64
1 362    0
Name: amount_per_area, dtype: int64
1 843    0
Name: amount_per_area, dtype: int64
1 1324    0
Name: amount_per_area, dtype: int64
30 363    57
Name: amount_per_area, dtype: int64
30 844    306
Name: amount_per_area, dtype: int64
30 1325    770
Name: amount_per_area, dtype: int64
30 363    57
Name: amount_per_area, dtype: int64
30 844    306
Name: amount_per_area, dtype: int64
30 1325    770
Name: amount_per_area, dtype: int64
13 364    68
Name: amount_per_area, dtype: int64
13 845    148
Name: amount_per_area, dtype: int64
13 1326    918
Name: amount_per_area, dtype: int64
13 364    68
Name: amount_per_area, dtype: int64
13 845    148
Name: amount_per_area, dtype: int64
13 1326    918
Name: amount_per_area, dtype: int64
0 365    0
Name: amount_per_area, dtype: int64
0 846    0
Name: amount_per_area, dtype: int64
0 1327    0
Name: amount_per_area, dtype: int64
0 365    0
Name: amount_per_area, dtype: int64
0 846    0
Name: amount_per_area, dtype: int64
0 1327    0
Name: amount_per_area, dtype: int64
22 366    18
Name: amount_per_area, dtype: int64
22 847    308
Name: amount_per_area, dtype: int64
22 1328    266
Name: amount_per_area, dtype: int64
22 366    18
Name: amount_per_area, dtype: int64
22 847    308
Name: amount_per_area, dtype: int64
22 1328    266
Name: amount_per_area, dtype: int64
119 367    636
Name: amount_per_area, dtype: int64
119 848    602
Name: amount_per_area, dtype: int64
119 1329    482
Name: amount_per_area, dtype: int64
119 367    636
Name: amount_per_area, dtype: int64
119 848    602
Name: amount_per_area, dtype: int64
119 1329    482
Name: amount_per_area, dtype: int64
103 368    438
Name: amount_per_area, dtype: int64
103 849    403
Name: amount_per_area, dtype: int64
103 1330    332
Name: amount_per_area, dtype: int64
103 368    438
Name: amount_per_area, dtype: int64
103 849    403
Name: amount_per_area, dtype: int64
103 1330    332
Name: amount_per_area, dtype: int64
86 369    458
Name: amount_per_area, dtype: int64
86 850    396
Name: amount_per_area, dtype: int64
86 1331    384
Name: amount_per_area, dtype: int64
86 369    458
Name: amount_per_area, dtype: int64
86 850    396
Name: amount_per_area, dtype: int64
86 1331    384
Name: amount_per_area, dtype: int64
189 370    725
Name: amount_per_area, dtype: int64
189 851    791
Name: amount_per_area, dtype: int64
189 1332    659
Name: amount_per_area, dtype: int64
189 370    725
Name: amount_per_area, dtype: int64
189 851    791
Name: amount_per_area, dtype: int64
189 1332    659
Name: amount_per_area, dtype: int64
207 371    814
Name: amount_per_area, dtype: int64
207 852    791
Name: amount_per_area, dtype: int64
207 1333    721
Name: amount_per_area, dtype: int64
207 371    814
Name: amount_per_area, dtype: int64
207 852    791
Name: amount_per_area, dtype: int64
207 1333    721
Name: amount_per_area, dtype: int64
57 372    236
Name: amount_per_area, dtype: int64
57 853    259
Name: amount_per_area, dtype: int64
57 1334    267
Name: amount_per_area, dtype: int64
57 372    236
Name: amount_per_area, dtype: int64
57 853    259
Name: amount_per_area, dtype: int64
57 1334    267
Name: amount_per_area, dtype: int64
1 373    17
Name: amount_per_area, dtype: int64
1 854    27
Name: amount_per_area, dtype: int64
1 1335    44
Name: amount_per_area, dtype: int64
1 373    17
Name: amount_per_area, dtype: int64
1 854    27
Name: amount_per_area, dtype: int64
1 1335    44
Name: amount_per_area, dtype: int64
65 374    567
Name: amount_per_area, dtype: int64
65 855    632
Name: amount_per_area, dtype: int64
65 1336    422
Name: amount_per_area, dtype: int64
65 374    567
Name: amount_per_area, dtype: int64
65 855    632
Name: amount_per_area, dtype: int64
65 1336    422
Name: amount_per_area, dtype: int64
48 375    409
Name: amount_per_area, dtype: int64
48 856    477
Name: amount_per_area, dtype: int64
48 1337    477
Name: amount_per_area, dtype: int64
48 375    409
Name: amount_per_area, dtype: int64
48 856    477
Name: amount_per_area, dtype: int64
48 1337    477
Name: amount_per_area, dtype: int64
86 376    813
Name: amount_per_area, dtype: int64
86 857    697
Name: amount_per_area, dtype: int64
86 1338    426
Name: amount_per_area, dtype: int64
86 376    813
Name: amount_per_area, dtype: int64
86 857    697
Name: amount_per_area, dtype: int64
86 1338    426
Name: amount_per_area, dtype: int64
0 377    0
Name: amount_per_area, dtype: int64
0 858    0
Name: amount_per_area, dtype: int64
0 1339    0
Name: amount_per_area, dtype: int64

0 377    0
Name: amount_per_area, dtype: int64
0 858    0
Name: amount_per_area, dtype: int64
0 1339    0
Name: amount_per_area, dtype: int64
0 378    0
Name: amount_per_area, dtype: int64
0 859    0
Name: amount_per_area, dtype: int64
0 1340    0
Name: amount_per_area, dtype: int64
0 378    0
Name: amount_per_area, dtype: int64
0 859    0
Name: amount_per_area, dtype: int64
0 1340    0
Name: amount_per_area, dtype: int64
8 379    238
Name: amount_per_area, dtype: int64
8 860    402
Name: amount_per_area, dtype: int64
8 1341    1186
Name: amount_per_area, dtype: int64
8 379    238
Name: amount_per_area, dtype: int64
8 860    402
Name: amount_per_area, dtype: int64
8 1341    1186
Name: amount_per_area, dtype: int64
17 380    124
Name: amount_per_area, dtype: int64
17 861    229
Name: amount_per_area, dtype: int64
17 1342    601
Name: amount_per_area, dtype: int64
17 380    124
Name: amount_per_area, dtype: int64
17 861    229
Name: amount_per_area, dtype: int64
17 1342    601
Name: amount_per_area, dtype: int64
0 381    0
Name: amount_per_area, dtype: int64
0 862    0
Name: amount_per_area, dtype: int64
0 1343    0
Name: amount_per_area, dtype: int64
0 381    0
Name: amount_per_area, dtype: int64
0 862    0
Name: amount_per_area, dtype: int64
0 1343    0
Name: amount_per_area, dtype: int64
42 382    451
Name: amount_per_area, dtype: int64
42 863    511
Name: amount_per_area, dtype: int64
42 1344    226
Name: amount_per_area, dtype: int64
42 382    451
Name: amount_per_area, dtype: int64
42 863    511
Name: amount_per_area, dtype: int64
42 1344    226
Name: amount_per_area, dtype: int64
56 383    526
Name: amount_per_area, dtype: int64
56 864    555
Name: amount_per_area, dtype: int64
56 1345    380
Name: amount_per_area, dtype: int64
56 383    526
Name: amount_per_area, dtype: int64
56 864    555
Name: amount_per_area, dtype: int64
56 1345    380
Name: amount_per_area, dtype: int64
88 384    388
Name: amount_per_area, dtype: int64
88 865    420
Name: amount_per_area, dtype: int64
88 1346    259
Name: amount_per_area, dtype: int64
88 384    388
Name: amount_per_area, dtype: int64
88 865    420
Name: amount_per_area, dtype: int64
88 1346    259
Name: amount_per_area, dtype: int64
112 385    394
Name: amount_per_area, dtype: int64
112 866    442
Name: amount_per_area, dtype: int64
112 1347    741
Name: amount_per_area, dtype: int64
112 385    394
Name: amount_per_area, dtype: int64
112 866    442
Name: amount_per_area, dtype: int64
112 1347    741
Name: amount_per_area, dtype: int64
2 386    33
Name: amount_per_area, dtype: int64
2 867    53
Name: amount_per_area, dtype: int64
2 1348    80
Name: amount_per_area, dtype: int64
2 386    33
Name: amount_per_area, dtype: int64
2 867    53
Name: amount_per_area, dtype: int64
2 1348    80
Name: amount_per_area, dtype: int64
44 387    141
Name: amount_per_area, dtype: int64
44 868    256
Name: amount_per_area, dtype: int64
44 1349    126
Name: amount_per_area, dtype: int64
44 387    141
Name: amount_per_area, dtype: int64
44 868    256
Name: amount_per_area, dtype: int64
44 1349    126
Name: amount_per_area, dtype: int64
73 388    304
Name: amount_per_area, dtype: int64
73 869    455
Name: amount_per_area, dtype: int64
73 1350    408
Name: amount_per_area, dtype: int64
73 388    304
Name: amount_per_area, dtype: int64
73 869    455
Name: amount_per_area, dtype: int64
73 1350    408
Name: amount_per_area, dtype: int64
1 389    7
Name: amount_per_area, dtype: int64
1 870    14
Name: amount_per_area, dtype: int64
1 1351    14
Name: amount_per_area, dtype: int64
1 389    7
Name: amount_per_area, dtype: int64
1 870    14
Name: amount_per_area, dtype: int64
1 1351    14
Name: amount_per_area, dtype: int64
144 390    853
Name: amount_per_area, dtype: int64
144 871    758
Name: amount_per_area, dtype: int64
144 1352    285
Name: amount_per_area, dtype: int64
144 390    853
Name: amount_per_area, dtype: int64
144 871    758
Name: amount_per_area, dtype: int64
144 1352    285
Name: amount_per_area, dtype: int64
120 391    471
Name: amount_per_area, dtype: int64
120 872    728
Name: amount_per_area, dtype: int64
120 1353    304
Name: amount_per_area, dtype: int64
120 391    471
Name: amount_per_area, dtype: int64
120 872    728
Name: amount_per_area, dtype: int64
120 1353    304
Name: amount_per_area, dtype: int64
13 392    61
Name: amount_per_area, dtype: int64
13 873    111
Name: amount_per_area, dtype: int64
13 1354    164
Name: amount_per_area, dtype: int64
13 392    61
Name: amount_per_area, dtype: int64
13 873    111
Name: amount_per_area, dtype: int64
13 1354    164
Name: amount_per_area, dtype: int64
63 393    363
Name: amount_per_area, dtype: int64
63 874    470
Name: amount_per_area, dtype: int64
63 1355    224
Name: amount_per_area, dtype: int64
63 393    363
Name: amount_per_area, dtype: int64
63 874    470
Name: amount_per_area, dtype: int64
63 1355    224
Name: amount_per_area, dtype: int64
58 394    226
Name: amount_per_area, dtype: int64
58 875    338
Name: amount_per_area, dtype: int64
58 1356    376
Name: amount_per_area, dtype: int64
58 394    226
Name: amount_per_area, dtype: int64
58 875    338
Name: amount_per_area, dtype: int64
58 1356    376
Name: amount_per_area, dtype: int64
9 395    75
Name: amount_per_area, dtype: int64
9 876    196
Name: amount_per_area, dtype: int64
9 1357    305
Name: amount_per_area, dtype: int64
9 395    75
Name: amount_per_area, dtype: int64
9 876    196
Name: amount_per_area, dtype: int64
9 1357    305
Name: amount_per_area, dtype: int64
219 396    936
Name: amount_per_area, dtype: int64
219 877    912
Name: amount_per_area, dtype: int64
219 1358    552
Name: amount_per_area, dtype: int64
219 396    936
Name: amount_per_area, dtype: int64
219 877    912
Name: amount_per_area, dtype: int64
219 1358    552
Name: amount_per_area, dtype: int64
169 397    663
Name: amount_per_area, dtype: int64
169 878    615
Name: amount_per_area, dtype: int64
169 1359    300
Name: amount_per_area, dtype: int64
169 397    663
Name: amount_per_area, dtype: int64
169 878    615
Name: amount_per_area, dtype: int64
169 1359    300
Name: amount_per_area, dtype: int64
168 398    770
Name: amount_per_area, dtype: int64
168 879    653
Name: amount_per_area, dtype: int64
168 1360    251
Name: amount_per_area, dtype: int64
168 398    770
Name: amount_per_area, dtype: int64
168 879    653
Name: amount_per_area, dtype: int64
168 1360    251
Name: amount_per_area, dtype: int64
112 399    631
Name: amount_per_area, dtype: int64
112 880    499
Name: amount_per_area, dtype: int64
112 1361    353
Name: amount_per_area, dtype: int64
112 399    631
Name: amount_per_area, dtype: int64
112 880    499
Name: amount_per_area, dtype: int64
112 1361    353
Name: amount_per_area, dtype: int64
6 400    31
Name: amount_per_area, dtype: int64
6 881    86
Name: amount_per_area, dtype: int64
6 1362    117
Name: amount_per_area, dtype: int64
6 400    31
Name: amount_per_area, dtype: int64
6 881    86
Name: amount_per_area, dtype: int64
6 1362    117
Name: amount_per_area, dtype: int64
100 401    509
Name: amount_per_area, dtype: int64
100 882    678
Name: amount_per_area, dtype: int64
100 1363    509
Name: amount_per_area, dtype: int64
100 401    509
Name: amount_per_area, dtype: int64
100 882    678
Name: amount_per_area, dtype: int64
100 1363    509
Name: amount_per_area, dtype: int64
55 402    204
Name: amount_per_area, dtype: int64
55 883    324
Name: amount_per_area, dtype: int64
55 1364    226
Name: amount_per_area, dtype: int64
55 402    204
Name: amount_per_area, dtype: int64
55 883    324
Name: amount_per_area, dtype: int64
55 1364    226
Name: amount_per_area, dtype: int64
206 403    758
Name: amount_per_area, dtype: int64
206 884    718
Name: amount_per_area, dtype: int64
206 1365    519
Name: amount_per_area, dtype: int64
206 403    758
Name: amount_per_area, dtype: int64
206 884    718
Name: amount_per_area, dtype: int64
206 1365    519
Name: amount_per_area, dtype: int64
226 404    1076
Name: amount_per_area, dtype: int64
226 885    781
Name: amount_per_area, dtype: int64
226 1366    254
Name: amount_per_area, dtype: int64
226 404    1076
Name: amount_per_area, dtype: int64
226 885    781
Name: amount_per_area, dtype: int64
226 1366    254
Name: amount_per_area, dtype: int64
55 405    162
Name: amount_per_area, dtype: int64
55 886    544
Name: amount_per_area, dtype: int64
55 1367    302
Name: amount_per_area, dtype: int64
55 405    162
Name: amount_per_area, dtype: int64
55 886    544
Name: amount_per_area, dtype: int64
55 1367    302
Name: amount_per_area, dtype: int64
195 406    869
Name: amount_per_area, dtype: int64
195 887    715
Name: amount_per_area, dtype: int64
195 1368    367
Name: amount_per_area, dtype: int64
195 406    869
Name: amount_per_area, dtype: int64
195 887    715
Name: amount_per_area, dtype: int64
195 1368    367
Name: amount_per_area, dtype: int64
117 407    409
Name: amount_per_area, dtype: int64
117 888    473
Name: amount_per_area, dtype: int64
117 1369    396
Name: amount_per_area, dtype: int64
117 407    409
Name: amount_per_area, dtype: int64
117 888    473
Name: amount_per_area, dtype: int64
117 1369    396
Name: amount_per_area, dtype: int64
142 408    686
Name: amount_per_area, dtype: int64
142 889    640
Name: amount_per_area, dtype: int64
142 1370    198
Name: amount_per_area, dtype: int64
142 408    686
Name: amount_per_area, dtype: int64
142 889    640
Name: amount_per_area, dtype: int64
142 1370    198
Name: amount_per_area, dtype: int64
112 409    687
Name: amount_per_area, dtype: int64
112 890    623
Name: amount_per_area, dtype: int64
112 1371    288
Name: amount_per_area, dtype: int64
112 409    687
Name: amount_per_area, dtype: int64
112 890    623
Name: amount_per_area, dtype: int64
112 1371    288
Name: amount_per_area, dtype: int64
9 410    78
Name: amount_per_area, dtype: int64
9 891    198
Name: amount_per_area, dtype: int64
9 1372    431
Name: amount_per_area, dtype: int64
9 410    78
Name: amount_per_area, dtype: int64
9 891    198
Name: amount_per_area, dtype: int64
9 1372    431
Name: amount_per_area, dtype: int64
0 411    0
Name: amount_per_area, dtype: int64
0 892    0
Name: amount_per_area, dtype: int64
0 1373    0
Name: amount_per_area, dtype: int64
0 411    0
Name: amount_per_area, dtype: int64
0 892    0
Name: amount_per_area, dtype: int64
0 1373    0
Name: amount_per_area, dtype: int64
7 412    24
Name: amount_per_area, dtype: int64
7 893    67
Name: amount_per_area, dtype: int64
7 1374    200
Name: amount_per_area, dtype: int64
7 412    24
Name: amount_per_area, dtype: int64
7 893    67
Name: amount_per_area, dtype: int64
7 1374    200
Name: amount_per_area, dtype: int64
0 413    0
Name: amount_per_area, dtype: int64
0 894    0
Name: amount_per_area, dtype: int64
0 1375    0
Name: amount_per_area, dtype: int64
0 413    0
Name: amount_per_area, dtype: int64
0 894    0
Name: amount_per_area, dtype: int64
0 1375    0
Name: amount_per_area, dtype: int64
29 414    36
Name: amount_per_area, dtype: int64
29 895    375
Name: amount_per_area, dtype: int64
29 1376    310
Name: amount_per_area, dtype: int64
29 414    36
Name: amount_per_area, dtype: int64
29 895    375
Name: amount_per_area, dtype: int64
29 1376    310
Name: amount_per_area, dtype: int64
2 415    0
Name: amount_per_area, dtype: int64
2 896    0
Name: amount_per_area, dtype: int64
2 1377    0
Name: amount_per_area, dtype: int64
2 415    0
Name: amount_per_area, dtype: int64
2 896    0
Name: amount_per_area, dtype: int64
2 1377    0
Name: amount_per_area, dtype: int64
29 416    72
Name: amount_per_area, dtype: int64
29 897    184
Name: amount_per_area, dtype: int64
29 1378    543
Name: amount_per_area, dtype: int64
29 416    72
Name: amount_per_area, dtype: int64
29 897    184
Name: amount_per_area, dtype: int64
29 1378    543
Name: amount_per_area, dtype: int64
4 417    23
Name: amount_per_area, dtype: int64
4 898    63
Name: amount_per_area, dtype: int64
4 1379    76
Name: amount_per_area, dtype: int64
4 417    23
Name: amount_per_area, dtype: int64
4 898    63
Name: amount_per_area, dtype: int64
4 1379    76
Name: amount_per_area, dtype: int64
0 418    0
Name: amount_per_area, dtype: int64
0 899    0
Name: amount_per_area, dtype: int64
0 1380    0
Name: amount_per_area, dtype: int64
0 418    0
Name: amount_per_area, dtype: int64
0 899    0
Name: amount_per_area, dtype: int64
0 1380    0
Name: amount_per_area, dtype: int64
0 419    0
Name: amount_per_area, dtype: int64
0 900    0
Name: amount_per_area, dtype: int64
0 1381    0
Name: amount_per_area, dtype: int64
0 419    0
Name: amount_per_area, dtype: int64
0 900    0
Name: amount_per_area, dtype: int64
0 1381    0
Name: amount_per_area, dtype: int64

8 420    0
Name: amount_per_area, dtype: int64
8 901    0
Name: amount_per_area, dtype: int64
8 1382    0
Name: amount_per_area, dtype: int64
8 420    0
Name: amount_per_area, dtype: int64
8 901    0
Name: amount_per_area, dtype: int64
8 1382    0
Name: amount_per_area, dtype: int64
3 421    18
Name: amount_per_area, dtype: int64
3 902    44
Name: amount_per_area, dtype: int64
3 1383    100
Name: amount_per_area, dtype: int64
3 421    18
Name: amount_per_area, dtype: int64
3 902    44
Name: amount_per_area, dtype: int64
3 1383    100
Name: amount_per_area, dtype: int64
0 422    0
Name: amount_per_area, dtype: int64
0 903    0
Name: amount_per_area, dtype: int64
0 1384    0
Name: amount_per_area, dtype: int64
0 422    0
Name: amount_per_area, dtype: int64
0 903    0
Name: amount_per_area, dtype: int64
0 1384    0
Name: amount_per_area, dtype: int64
1 423    6
Name: amount_per_area, dtype: int64
1 904    10
Name: amount_per_area, dtype: int64
1 1385    21
Name: amount_per_area, dtype: int64
1 423    6
Name: amount_per_area, dtype: int64
1 904    10
Name: amount_per_area, dtype: int64
1 1385    21
Name: amount_per_area, dtype: int64
1 424    0
Name: amount_per_area, dtype: int64
1 905    0
Name: amount_per_area, dtype: int64
1 1386    0
Name: amount_per_area, dtype: int64
1 424    0
Name: amount_per_area, dtype: int64
1 905    0
Name: amount_per_area, dtype: int64
1 1386    0
Name: amount_per_area, dtype: int64
1 425    5
Name: amount_per_area, dtype: int64
1 906    10
Name: amount_per_area, dtype: int64
1 1387    17
Name: amount_per_area, dtype: int64
1 425    5
Name: amount_per_area, dtype: int64
1 906    10
Name: amount_per_area, dtype: int64
1 1387    17
Name: amount_per_area, dtype: int64
0 426    1
Name: amount_per_area, dtype: int64
0 907    3
Name: amount_per_area, dtype: int64
0 1388    3
Name: amount_per_area, dtype: int64
0 426    1
Name: amount_per_area, dtype: int64
0 907    3
Name: amount_per_area, dtype: int64
0 1388    3
Name: amount_per_area, dtype: int64
1 427    3
Name: amount_per_area, dtype: int64
1 908    4
Name: amount_per_area, dtype: int64
1 1389    5
Name: amount_per_area, dtype: int64
1 427    3
Name: amount_per_area, dtype: int64
1 908    4
Name: amount_per_area, dtype: int64
1 1389    5
Name: amount_per_area, dtype: int64
0 428    0
Name: amount_per_area, dtype: int64
0 909    0
Name: amount_per_area, dtype: int64
0 1390    0
Name: amount_per_area, dtype: int64
0 428    0
Name: amount_per_area, dtype: int64
0 909    0
Name: amount_per_area, dtype: int64
0 1390    0
Name: amount_per_area, dtype: int64
0 429    0
Name: amount_per_area, dtype: int64
0 910    0
Name: amount_per_area, dtype: int64
0 1391    0
Name: amount_per_area, dtype: int64
0 429    0
Name: amount_per_area, dtype: int64
0 910    0
Name: amount_per_area, dtype: int64
0 1391    0
Name: amount_per_area, dtype: int64
0 430    0
Name: amount_per_area, dtype: int64
0 911    0
Name: amount_per_area, dtype: int64
0 1392    0
Name: amount_per_area, dtype: int64
0 430    0
Name: amount_per_area, dtype: int64
0 911    0
Name: amount_per_area, dtype: int64
0 1392    0
Name: amount_per_area, dtype: int64
18 431    45
Name: amount_per_area, dtype: int64
18 912    80
Name: amount_per_area, dtype: int64
18 1393    80
Name: amount_per_area, dtype: int64
18 431    45
Name: amount_per_area, dtype: int64
18 912    80
Name: amount_per_area, dtype: int64
18 1393    80
Name: amount_per_area, dtype: int64
72 432    165
Name: amount_per_area, dtype: int64
72 913    293
Name: amount_per_area, dtype: int64
72 1394    458
Name: amount_per_area, dtype: int64
72 432    165
Name: amount_per_area, dtype: int64
72 913    293
Name: amount_per_area, dtype: int64
72 1394    458
Name: amount_per_area, dtype: int64
0 433    0
Name: amount_per_area, dtype: int64
0 914    0
Name: amount_per_area, dtype: int64
0 1395    0
Name: amount_per_area, dtype: int64
0 433    0
Name: amount_per_area, dtype: int64
0 914    0
Name: amount_per_area, dtype: int64
0 1395    0
Name: amount_per_area, dtype: int64
0 434    0
Name: amount_per_area, dtype: int64
0 915    0
Name: amount_per_area, dtype: int64
0 1396    0
Name: amount_per_area, dtype: int64
0 434    0
Name: amount_per_area, dtype: int64
0 915    0
Name: amount_per_area, dtype: int64
0 1396    0
Name: amount_per_area, dtype: int64
1 435    0
Name: amount_per_area, dtype: int64
1 916    0
Name: amount_per_area, dtype: int64
1 1397    0
Name: amount_per_area, dtype: int64
1 435    0
Name: amount_per_area, dtype: int64
1 916    0
Name: amount_per_area, dtype: int64
1 1397    0
Name: amount_per_area, dtype: int64
23 436    7
Name: amount_per_area, dtype: int64
23 917    138
Name: amount_per_area, dtype: int64
23 1398    68
Name: amount_per_area, dtype: int64
23 436    7
Name: amount_per_area, dtype: int64
23 917    138
Name: amount_per_area, dtype: int64
23 1398    68
Name: amount_per_area, dtype: int64
0 437    0
Name: amount_per_area, dtype: int64
0 918    0
Name: amount_per_area, dtype: int64
0 1399    0
Name: amount_per_area, dtype: int64
0 437    0
Name: amount_per_area, dtype: int64
0 918    0
Name: amount_per_area, dtype: int64
0 1399    0
Name: amount_per_area, dtype: int64
3 438    0
Name: amount_per_area, dtype: int64
3 919    0
Name: amount_per_area, dtype: int64
3 1400    0
Name: amount_per_area, dtype: int64
3 438    0
Name: amount_per_area, dtype: int64
3 919    0
Name: amount_per_area, dtype: int64
3 1400    0
Name: amount_per_area, dtype: int64
2 439    10
Name: amount_per_area, dtype: int64
2 920    6
Name: amount_per_area, dtype: int64
2 1401    3
Name: amount_per_area, dtype: int64
2 439    10
Name: amount_per_area, dtype: int64
2 920    6
Name: amount_per_area, dtype: int64
2 1401    3
Name: amount_per_area, dtype: int64
609 440    825
Name: amount_per_area, dtype: int64
609 921    784
Name: amount_per_area, dtype: int64
609 1402    402
Name: amount_per_area, dtype: int64
609 440    825
Name: amount_per_area, dtype: int64
609 921    784
Name: amount_per_area, dtype: int64
609 1402    402
Name: amount_per_area, dtype: int64
578 441    710
Name: amount_per_area, dtype: int64
578 922    787
Name: amount_per_area, dtype: int64
578 1403    422
Name: amount_per_area, dtype: int64
578 441    710
Name: amount_per_area, dtype: int64
578 922    787
Name: amount_per_area, dtype: int64
578 1403    422
Name: amount_per_area, dtype: int64
178 442    168
Name: amount_per_area, dtype: int64
178 923    812
Name: amount_per_area, dtype: int64
178 1404    310
Name: amount_per_area, dtype: int64
178 442    168
Name: amount_per_area, dtype: int64
178 923    812
Name: amount_per_area, dtype: int64
178 1404    310
Name: amount_per_area, dtype: int64
1220 443    1167
Name: amount_per_area, dtype: int64
1220 924    1167
Name: amount_per_area, dtype: int64
1220 1405    737
Name: amount_per_area, dtype: int64
1220 443    1167
Name: amount_per_area, dtype: int64
1220 924    1167
Name: amount_per_area, dtype: int64
1220 1405    737
Name: amount_per_area, dtype: int64
203 444    297
Name: amount_per_area, dtype: int64
203 925    220
Name: amount_per_area, dtype: int64
203 1406    78
Name: amount_per_area, dtype: int64
203 444    297
Name: amount_per_area, dtype: int64
203 925    220
Name: amount_per_area, dtype: int64
203 1406    78
Name: amount_per_area, dtype: int64
331 445    509
Name: amount_per_area, dtype: int64
331 926    664
Name: amount_per_area, dtype: int64
331 1407    240
Name: amount_per_area, dtype: int64
331 445    509
Name: amount_per_area, dtype: int64
331 926    664
Name: amount_per_area, dtype: int64
331 1407    240
Name: amount_per_area, dtype: int64
689 446    1454
Name: amount_per_area, dtype: int64
689 927    960
Name: amount_per_area, dtype: int64
689 1408    330
Name: amount_per_area, dtype: int64
689 446    1454
Name: amount_per_area, dtype: int64
689 927    960
Name: amount_per_area, dtype: int64
689 1408    330
Name: amount_per_area, dtype: int64
393 447    750
Name: amount_per_area, dtype: int64
393 928    633
Name: amount_per_area, dtype: int64
393 1409    300
Name: amount_per_area, dtype: int64
393 447    750
Name: amount_per_area, dtype: int64
393 928    633
Name: amount_per_area, dtype: int64
393 1409    300
Name: amount_per_area, dtype: int64
63 448    93
Name: amount_per_area, dtype: int64
63 929    96
Name: amount_per_area, dtype: int64
63 1410    128
Name: amount_per_area, dtype: int64
63 448    93
Name: amount_per_area, dtype: int64
63 929    96
Name: amount_per_area, dtype: int64
63 1410    128
Name: amount_per_area, dtype: int64
831 449    540
Name: amount_per_area, dtype: int64
831 930    827
Name: amount_per_area, dtype: int64
831 1411    432
Name: amount_per_area, dtype: int64
831 449    540
Name: amount_per_area, dtype: int64
831 930    827
Name: amount_per_area, dtype: int64
831 1411    432
Name: amount_per_area, dtype: int64
0 450    0
Name: amount_per_area, dtype: int64
0 931    0
Name: amount_per_area, dtype: int64
0 1412    0
Name: amount_per_area, dtype: int64
0 450    0
Name: amount_per_area, dtype: int64
0 931    0
Name: amount_per_area, dtype: int64
0 1412    0
Name: amount_per_area, dtype: int64
446 451    311
Name: amount_per_area, dtype: int64
446 932    560
Name: amount_per_area, dtype: int64
446 1413    374
Name: amount_per_area, dtype: int64
446 451    311
Name: amount_per_area, dtype: int64
446 932    560
Name: amount_per_area, dtype: int64
446 1413    374
Name: amount_per_area, dtype: int64
664 452    551
Name: amount_per_area, dtype: int64
664 933    697
Name: amount_per_area, dtype: int64
664 1414    389
Name: amount_per_area, dtype: int64
664 452    551
Name: amount_per_area, dtype: int64
664 933    697
Name: amount_per_area, dtype: int64
664 1414    389
Name: amount_per_area, dtype: int64
707 453    1565
Name: amount_per_area, dtype: int64
707 934    922
Name: amount_per_area, dtype: int64
707 1415    280
Name: amount_per_area, dtype: int64
707 453    1565
Name: amount_per_area, dtype: int64
707 934    922
Name: amount_per_area, dtype: int64
707 1415    280
Name: amount_per_area, dtype: int64
745 454    974
Name: amount_per_area, dtype: int64
745 935    909
Name: amount_per_area, dtype: int64
745 1416    282
Name: amount_per_area, dtype: int64
745 454    974
Name: amount_per_area, dtype: int64
745 935    909
Name: amount_per_area, dtype: int64
745 1416    282
Name: amount_per_area, dtype: int64
283 455    359
Name: amount_per_area, dtype: int64
283 936    351
Name: amount_per_area, dtype: int64
283 1417    126
Name: amount_per_area, dtype: int64
283 455    359
Name: amount_per_area, dtype: int64
283 936    351
Name: amount_per_area, dtype: int64
283 1417    126
Name: amount_per_area, dtype: int64
646 456    1072
Name: amount_per_area, dtype: int64
646 937    1098
Name: amount_per_area, dtype: int64
646 1418    445
Name: amount_per_area, dtype: int64
646 456    1072
Name: amount_per_area, dtype: int64
646 937    1098
Name: amount_per_area, dtype: int64
646 1418    445
Name: amount_per_area, dtype: int64
411 457    382
Name: amount_per_area, dtype: int64
411 938    534
Name: amount_per_area, dtype: int64
411 1419    344
Name: amount_per_area, dtype: int64
411 457    382
Name: amount_per_area, dtype: int64
411 938    534
Name: amount_per_area, dtype: int64
411 1419    344
Name: amount_per_area, dtype: int64
658 458    601
Name: amount_per_area, dtype: int64
658 939    696
Name: amount_per_area, dtype: int64
658 1420    285
Name: amount_per_area, dtype: int64
658 458    601
Name: amount_per_area, dtype: int64
658 939    696
Name: amount_per_area, dtype: int64
658 1420    285
Name: amount_per_area, dtype: int64
1137 459    859
Name: amount_per_area, dtype: int64
1137 940    1061
Name: amount_per_area, dtype: int64
1137 1421    581
Name: amount_per_area, dtype: int64
1137 459    859
Name: amount_per_area, dtype: int64
1137 940    1061
Name: amount_per_area, dtype: int64
1137 1421    581
Name: amount_per_area, dtype: int64
106 460    144
Name: amount_per_area, dtype: int64
106 941    262
Name: amount_per_area, dtype: int64
106 1422    249
Name: amount_per_area, dtype: int64
106 460    144
Name: amount_per_area, dtype: int64
106 941    262
Name: amount_per_area, dtype: int64
106 1422    249
Name: amount_per_area, dtype: int64
207 461    294
Name: amount_per_area, dtype: int64
207 942    294
Name: amount_per_area, dtype: int64
207 1423    154
Name: amount_per_area, dtype: int64
207 461    294
Name: amount_per_area, dtype: int64
207 942    294
Name: amount_per_area, dtype: int64
207 1423    154
Name: amount_per_area, dtype: int64

136 462    71
Name: amount_per_area, dtype: int64
136 943    187
Name: amount_per_area, dtype: int64
136 1424    154
Name: amount_per_area, dtype: int64
136 462    71
Name: amount_per_area, dtype: int64
136 943    187
Name: amount_per_area, dtype: int64
136 1424    154
Name: amount_per_area, dtype: int64
1462 463    2403
Name: amount_per_area, dtype: int64
1462 944    1450
Name: amount_per_area, dtype: int64
1462 1425    290
Name: amount_per_area, dtype: int64
1462 463    2403
Name: amount_per_area, dtype: int64
1462 944    1450
Name: amount_per_area, dtype: int64
1462 1425    290
Name: amount_per_area, dtype: int64
450 464    954
Name: amount_per_area, dtype: int64
450 945    863
Name: amount_per_area, dtype: int64
450 1426    455
Name: amount_per_area, dtype: int64
450 464    954
Name: amount_per_area, dtype: int64
450 945    863
Name: amount_per_area, dtype: int64
450 1426    455
Name: amount_per_area, dtype: int64
92 465    145
Name: amount_per_area, dtype: int64
92 946    297
Name: amount_per_area, dtype: int64
92 1427    282
Name: amount_per_area, dtype: int64
92 465    145
Name: amount_per_area, dtype: int64
92 946    297
Name: amount_per_area, dtype: int64
92 1427    282
Name: amount_per_area, dtype: int64
1 466    0
Name: amount_per_area, dtype: int64
1 947    0
Name: amount_per_area, dtype: int64
1 1428    0
Name: amount_per_area, dtype: int64
1 466    0
Name: amount_per_area, dtype: int64
1 947    0
Name: amount_per_area, dtype: int64
1 1428    0
Name: amount_per_area, dtype: int64
1 467    0
Name: amount_per_area, dtype: int64
1 948    0
Name: amount_per_area, dtype: int64
1 1429    0
Name: amount_per_area, dtype: int64
1 467    0
Name: amount_per_area, dtype: int64
1 948    0
Name: amount_per_area, dtype: int64
1 1429    0
Name: amount_per_area, dtype: int64
569 468    720
Name: amount_per_area, dtype: int64
569 949    618
Name: amount_per_area, dtype: int64
569 1430    133
Name: amount_per_area, dtype: int64
569 468    720
Name: amount_per_area, dtype: int64
569 949    618
Name: amount_per_area, dtype: int64
569 1430    133
Name: amount_per_area, dtype: int64
704 469    979
Name: amount_per_area, dtype: int64
704 950    836
Name: amount_per_area, dtype: int64
704 1431    225
Name: amount_per_area, dtype: int64
704 469    979
Name: amount_per_area, dtype: int64
704 950    836
Name: amount_per_area, dtype: int64
704 1431    225
Name: amount_per_area, dtype: int64
172 470    182
Name: amount_per_area, dtype: int64
172 951    315
Name: amount_per_area, dtype: int64
172 1432    203
Name: amount_per_area, dtype: int64
172 470    182
Name: amount_per_area, dtype: int64
172 951    315
Name: amount_per_area, dtype: int64
172 1432    203
Name: amount_per_area, dtype: int64
468 471    572
Name: amount_per_area, dtype: int64
468 952    587
Name: amount_per_area, dtype: int64
468 1433    308
Name: amount_per_area, dtype: int64
468 471    572
Name: amount_per_area, dtype: int64
468 952    587
Name: amount_per_area, dtype: int64
468 1433    308
Name: amount_per_area, dtype: int64
385 472    464
Name: amount_per_area, dtype: int64
385 953    586
Name: amount_per_area, dtype: int64
385 1434    314
Name: amount_per_area, dtype: int64
385 472    464
Name: amount_per_area, dtype: int64
385 953    586
Name: amount_per_area, dtype: int64
385 1434    314
Name: amount_per_area, dtype: int64
603 473    623
Name: amount_per_area, dtype: int64
603 954    765
Name: amount_per_area, dtype: int64
603 1435    392
Name: amount_per_area, dtype: int64
603 473    623
Name: amount_per_area, dtype: int64
603 954    765
Name: amount_per_area, dtype: int64
603 1435    392
Name: amount_per_area, dtype: int64
201 474    221
Name: amount_per_area, dtype: int64
201 955    335
Name: amount_per_area, dtype: int64
201 1436    206
Name: amount_per_area, dtype: int64
201 474    221
Name: amount_per_area, dtype: int64
201 955    335
Name: amount_per_area, dtype: int64
201 1436    206
Name: amount_per_area, dtype: int64
511 475    700
Name: amount_per_area, dtype: int64
511 956    700
Name: amount_per_area, dtype: int64
511 1437    308
Name: amount_per_area, dtype: int64
511 475    700
Name: amount_per_area, dtype: int64
511 956    700
Name: amount_per_area, dtype: int64
511 1437    308
Name: amount_per_area, dtype: int64
509 476    667
Name: amount_per_area, dtype: int64
509 957    751
Name: amount_per_area, dtype: int64
509 1438    251
Name: amount_per_area, dtype: int64
509 476    667
Name: amount_per_area, dtype: int64
509 957    751
Name: amount_per_area, dtype: int64
509 1438    251
Name: amount_per_area, dtype: int64
166 477    211
Name: amount_per_area, dtype: int64
166 958    395
Name: amount_per_area, dtype: int64
166 1439    312
Name: amount_per_area, dtype: int64
166 477    211
Name: amount_per_area, dtype: int64
166 958    395
Name: amount_per_area, dtype: int64
166 1439    312
Name: amount_per_area, dtype: int64
214 478    283
Name: amount_per_area, dtype: int64
214 959    350
Name: amount_per_area, dtype: int64
214 1440    200
Name: amount_per_area, dtype: int64
214 478    283
Name: amount_per_area, dtype: int64
214 959    350
Name: amount_per_area, dtype: int64
214 1440    200
Name: amount_per_area, dtype: int64
49 479    240
Name: amount_per_area, dtype: int64
49 960    382
Name: amount_per_area, dtype: int64
49 1441    267
Name: amount_per_area, dtype: int64
49 479    240
Name: amount_per_area, dtype: int64
49 960    382
Name: amount_per_area, dtype: int64
49 1441    267
Name: amount_per_area, dtype: int64
1 480    0
Name: amount_per_area, dtype: int64
1 961    0
Name: amount_per_area, dtype: int64
1 1442    0
Name: amount_per_area, dtype: int64
1 480    0
Name: amount_per_area, dtype: int64
1 961    0
Name: amount_per_area, dtype: int64
1 1442    0
Name: amount_per_area, dtype: int64
34 0    241
Name: amount_per_area, dtype: int64
34 481    872
Name: amount_per_area, dtype: int64
34 962    1864
Name: amount_per_area, dtype: int64
34 0    241
Name: amount_per_area, dtype: int64
34 481    872
Name: amount_per_area, dtype: int64
34 962    1864
Name: amount_per_area, dtype: int64
14 1    139
Name: amount_per_area, dtype: int64
14 482    484
Name: amount_per_area, dtype: int64
14 963    760
Name: amount_per_area, dtype: int64
14 1    139
Name: amount_per_area, dtype: int64
14 482    484
Name: amount_per_area, dtype: int64
14 963    760
Name: amount_per_area, dtype: int64
40 2    568
Name: amount_per_area, dtype: int64
40 483    1442
Name: amount_per_area, dtype: int64
40 964    2360
Name: amount_per_area, dtype: int64
40 2    568
Name: amount_per_area, dtype: int64
40 483    1442
Name: amount_per_area, dtype: int64
40 964    2360
Name: amount_per_area, dtype: int64
11 3    57
Name: amount_per_area, dtype: int64
11 484    320
Name: amount_per_area, dtype: int64
11 965    764
Name: amount_per_area, dtype: int64
11 3    57
Name: amount_per_area, dtype: int64
11 484    320
Name: amount_per_area, dtype: int64
11 965    764
Name: amount_per_area, dtype: int64
11 4    103
Name: amount_per_area, dtype: int64
11 485    373
Name: amount_per_area, dtype: int64
11 966    810
Name: amount_per_area, dtype: int64
11 4    103
Name: amount_per_area, dtype: int64
11 485    373
Name: amount_per_area, dtype: int64
11 966    810
Name: amount_per_area, dtype: int64
0 5    0
Name: amount_per_area, dtype: int64
0 486    0
Name: amount_per_area, dtype: int64
0 967    0
Name: amount_per_area, dtype: int64
0 5    0
Name: amount_per_area, dtype: int64
0 486    0
Name: amount_per_area, dtype: int64
0 967    0
Name: amount_per_area, dtype: int64
14 6    210
Name: amount_per_area, dtype: int64
14 487    514
Name: amount_per_area, dtype: int64
14 968    1181
Name: amount_per_area, dtype: int64
14 6    210
Name: amount_per_area, dtype: int64
14 487    514
Name: amount_per_area, dtype: int64
14 968    1181
Name: amount_per_area, dtype: int64
20 7    106
Name: amount_per_area, dtype: int64
20 488    542
Name: amount_per_area, dtype: int64
20 969    843
Name: amount_per_area, dtype: int64
20 7    106
Name: amount_per_area, dtype: int64
20 488    542
Name: amount_per_area, dtype: int64
20 969    843
Name: amount_per_area, dtype: int64
31 8    196
Name: amount_per_area, dtype: int64
31 489    812
Name: amount_per_area, dtype: int64
31 970    1791
Name: amount_per_area, dtype: int64
31 8    196
Name: amount_per_area, dtype: int64
31 489    812
Name: amount_per_area, dtype: int64
31 970    1791
Name: amount_per_area, dtype: int64
21 9    170
Name: amount_per_area, dtype: int64
21 490    459
Name: amount_per_area, dtype: int64
21 971    1087
Name: amount_per_area, dtype: int64
21 9    170
Name: amount_per_area, dtype: int64
21 490    459
Name: amount_per_area, dtype: int64
21 971    1087
Name: amount_per_area, dtype: int64
17 10    170
Name: amount_per_area, dtype: int64
17 491    679
Name: amount_per_area, dtype: int64
17 972    1295
Name: amount_per_area, dtype: int64
17 10    170
Name: amount_per_area, dtype: int64
17 491    679
Name: amount_per_area, dtype: int64
17 972    1295
Name: amount_per_area, dtype: int64
10 11    94
Name: amount_per_area, dtype: int64
10 492    282
Name: amount_per_area, dtype: int64
10 973    667
Name: amount_per_area, dtype: int64
10 11    94
Name: amount_per_area, dtype: int64
10 492    282
Name: amount_per_area, dtype: int64
10 973    667
Name: amount_per_area, dtype: int64
21 12    70
Name: amount_per_area, dtype: int64
21 493    315
Name: amount_per_area, dtype: int64
21 974    490
Name: amount_per_area, dtype: int64
21 12    70
Name: amount_per_area, dtype: int64
21 493    315
Name: amount_per_area, dtype: int64
21 974    490
Name: amount_per_area, dtype: int64
14 13    230
Name: amount_per_area, dtype: int64
14 494    854
Name: amount_per_area, dtype: int64
14 975    2200
Name: amount_per_area, dtype: int64
14 13    230
Name: amount_per_area, dtype: int64
14 494    854
Name: amount_per_area, dtype: int64
14 975    2200
Name: amount_per_area, dtype: int64
21 14    185
Name: amount_per_area, dtype: int64
21 495    600
Name: amount_per_area, dtype: int64
21 976    1521
Name: amount_per_area, dtype: int64
21 14    185
Name: amount_per_area, dtype: int64
21 495    600
Name: amount_per_area, dtype: int64
21 976    1521
Name: amount_per_area, dtype: int64
22 15    154
Name: amount_per_area, dtype: int64
22 496    591
Name: amount_per_area, dtype: int64
22 977    1423
Name: amount_per_area, dtype: int64
22 15    154
Name: amount_per_area, dtype: int64
22 496    591
Name: amount_per_area, dtype: int64
22 977    1423
Name: amount_per_area, dtype: int64
29 16    111
Name: amount_per_area, dtype: int64
29 497    621
Name: amount_per_area, dtype: int64
29 978    1486
Name: amount_per_area, dtype: int64
29 16    111
Name: amount_per_area, dtype: int64
29 497    621
Name: amount_per_area, dtype: int64
29 978    1486
Name: amount_per_area, dtype: int64
36 17    195
Name: amount_per_area, dtype: int64
36 498    442
Name: amount_per_area, dtype: int64
36 979    1132
Name: amount_per_area, dtype: int64
36 17    195
Name: amount_per_area, dtype: int64
36 498    442
Name: amount_per_area, dtype: int64
36 979    1132
Name: amount_per_area, dtype: int64
0 18    0
Name: amount_per_area, dtype: int64
0 499    0
Name: amount_per_area, dtype: int64
0 980    0
Name: amount_per_area, dtype: int64
0 18    0
Name: amount_per_area, dtype: int64
0 499    0
Name: amount_per_area, dtype: int64
0 980    0
Name: amount_per_area, dtype: int64
18 19    153
Name: amount_per_area, dtype: int64
18 500    496
Name: amount_per_area, dtype: int64
18 981    1257
Name: amount_per_area, dtype: int64
18 19    153
Name: amount_per_area, dtype: int64
18 500    496
Name: amount_per_area, dtype: int64
18 981    1257
Name: amount_per_area, dtype: int64
31 20    212
Name: amount_per_area, dtype: int64
31 501    704
Name: amount_per_area, dtype: int64
31 982    1431
Name: amount_per_area, dtype: int64
31 20    212
Name: amount_per_area, dtype: int64
31 501    704
Name: amount_per_area, dtype: int64
31 982    1431
Name: amount_per_area, dtype: int64
22 21    114
Name: amount_per_area, dtype: int64
22 502    397
Name: amount_per_area, dtype: int64
22 983    907
Name: amount_per_area, dtype: int64
22 21    114
Name: amount_per_area, dtype: int64
22 502    397
Name: amount_per_area, dtype: int64
22 983    907
Name: amount_per_area, dtype: int64
0 22    0
Name: amount_per_area, dtype: int64
0 503    0
Name: amount_per_area, dtype: int64
0 984    0
Name: amount_per_area, dtype: int64
0 22    0
Name: amount_per_area, dtype: int64
0 503    0
Name: amount_per_area, dtype: int64
0 984    0
Name: amount_per_area, dtype: int64

5 23    145
Name: amount_per_area, dtype: int64
5 504    578
Name: amount_per_area, dtype: int64
5 985    1341
Name: amount_per_area, dtype: int64
5 23    145
Name: amount_per_area, dtype: int64
5 504    578
Name: amount_per_area, dtype: int64
5 985    1341
Name: amount_per_area, dtype: int64
17 24    86
Name: amount_per_area, dtype: int64
17 505    193
Name: amount_per_area, dtype: int64
17 986    436
Name: amount_per_area, dtype: int64
17 24    86
Name: amount_per_area, dtype: int64
17 505    193
Name: amount_per_area, dtype: int64
17 986    436
Name: amount_per_area, dtype: int64
0 25    0
Name: amount_per_area, dtype: int64
0 506    0
Name: amount_per_area, dtype: int64
0 987    0
Name: amount_per_area, dtype: int64
0 25    0
Name: amount_per_area, dtype: int64
0 506    0
Name: amount_per_area, dtype: int64
0 987    0
Name: amount_per_area, dtype: int64
29 26    192
Name: amount_per_area, dtype: int64
29 507    518
Name: amount_per_area, dtype: int64
29 988    1207
Name: amount_per_area, dtype: int64
29 26    192
Name: amount_per_area, dtype: int64
29 507    518
Name: amount_per_area, dtype: int64
29 988    1207
Name: amount_per_area, dtype: int64
25 27    213
Name: amount_per_area, dtype: int64
25 508    1063
Name: amount_per_area, dtype: int64
25 989    2267
Name: amount_per_area, dtype: int64
25 27    213
Name: amount_per_area, dtype: int64
25 508    1063
Name: amount_per_area, dtype: int64
25 989    2267
Name: amount_per_area, dtype: int64
29 28    761
Name: amount_per_area, dtype: int64
29 509    1427
Name: amount_per_area, dtype: int64
29 990    2568
Name: amount_per_area, dtype: int64
29 28    761
Name: amount_per_area, dtype: int64
29 509    1427
Name: amount_per_area, dtype: int64
29 990    2568
Name: amount_per_area, dtype: int64
39 29    254
Name: amount_per_area, dtype: int64
39 510    736
Name: amount_per_area, dtype: int64
39 991    1547
Name: amount_per_area, dtype: int64
39 29    254
Name: amount_per_area, dtype: int64
39 510    736
Name: amount_per_area, dtype: int64
39 991    1547
Name: amount_per_area, dtype: int64
25 30    310
Name: amount_per_area, dtype: int64
25 511    836
Name: amount_per_area, dtype: int64
25 992    1950
Name: amount_per_area, dtype: int64
25 30    310
Name: amount_per_area, dtype: int64
25 511    836
Name: amount_per_area, dtype: int64
25 992    1950
Name: amount_per_area, dtype: int64
54 31    500
Name: amount_per_area, dtype: int64
54 512    1230
Name: amount_per_area, dtype: int64
54 993    2114
Name: amount_per_area, dtype: int64
54 31    500
Name: amount_per_area, dtype: int64
54 512    1230
Name: amount_per_area, dtype: int64
54 993    2114
Name: amount_per_area, dtype: int64
10 32    176
Name: amount_per_area, dtype: int64
10 513    419
Name: amount_per_area, dtype: int64
10 994    771
Name: amount_per_area, dtype: int64
10 32    176
Name: amount_per_area, dtype: int64
10 513    419
Name: amount_per_area, dtype: int64
10 994    771
Name: amount_per_area, dtype: int64
31 33    347
Name: amount_per_area, dtype: int64
31 514    542
Name: amount_per_area, dtype: int64
31 995    1279
Name: amount_per_area, dtype: int64
31 33    347
Name: amount_per_area, dtype: int64
31 514    542
Name: amount_per_area, dtype: int64
31 995    1279
Name: amount_per_area, dtype: int64
26 34    312
Name: amount_per_area, dtype: int64
26 515    794
Name: amount_per_area, dtype: int64
26 996    1729
Name: amount_per_area, dtype: int64
26 34    312
Name: amount_per_area, dtype: int64
26 515    794
Name: amount_per_area, dtype: int64
26 996    1729
Name: amount_per_area, dtype: int64
52 35    670
Name: amount_per_area, dtype: int64
52 516    1262
Name: amount_per_area, dtype: int64
52 997    2010
Name: amount_per_area, dtype: int64
52 35    670
Name: amount_per_area, dtype: int64
52 516    1262
Name: amount_per_area, dtype: int64
52 997    2010
Name: amount_per_area, dtype: int64
14 36    405
Name: amount_per_area, dtype: int64
14 517    978
Name: amount_per_area, dtype: int64
14 998    1989
Name: amount_per_area, dtype: int64
14 36    405
Name: amount_per_area, dtype: int64
14 517    978
Name: amount_per_area, dtype: int64
14 998    1989
Name: amount_per_area, dtype: int64
0 37    0
Name: amount_per_area, dtype: int64
0 518    0
Name: amount_per_area, dtype: int64
0 999    0
Name: amount_per_area, dtype: int64
0 37    0
Name: amount_per_area, dtype: int64
0 518    0
Name: amount_per_area, dtype: int64
0 999    0
Name: amount_per_area, dtype: int64
0 38    0
Name: amount_per_area, dtype: int64
0 519    0
Name: amount_per_area, dtype: int64
0 1000    0
Name: amount_per_area, dtype: int64
0 38    0
Name: amount_per_area, dtype: int64
0 519    0
Name: amount_per_area, dtype: int64
0 1000    0
Name: amount_per_area, dtype: int64
34 39    575
Name: amount_per_area, dtype: int64
34 520    1341
Name: amount_per_area, dtype: int64
34 1001    2873
Name: amount_per_area, dtype: int64
34 39    575
Name: amount_per_area, dtype: int64
34 520    1341
Name: amount_per_area, dtype: int64
34 1001    2873
Name: amount_per_area, dtype: int64
59 40    492
Name: amount_per_area, dtype: int64
59 521    1251
Name: amount_per_area, dtype: int64
59 1002    2681
Name: amount_per_area, dtype: int64
59 40    492
Name: amount_per_area, dtype: int64
59 521    1251
Name: amount_per_area, dtype: int64
59 1002    2681
Name: amount_per_area, dtype: int64
79 41    789
Name: amount_per_area, dtype: int64
79 522    1484
Name: amount_per_area, dtype: int64
79 1003    2365
Name: amount_per_area, dtype: int64
79 41    789
Name: amount_per_area, dtype: int64
79 522    1484
Name: amount_per_area, dtype: int64
79 1003    2365
Name: amount_per_area, dtype: int64
0 42    0
Name: amount_per_area, dtype: int64
0 523    0
Name: amount_per_area, dtype: int64
0 1004    0
Name: amount_per_area, dtype: int64
0 42    0
Name: amount_per_area, dtype: int64
0 523    0
Name: amount_per_area, dtype: int64
0 1004    0
Name: amount_per_area, dtype: int64
0 43    0
Name: amount_per_area, dtype: int64
0 524    0
Name: amount_per_area, dtype: int64
0 1005    0
Name: amount_per_area, dtype: int64
0 43    0
Name: amount_per_area, dtype: int64
0 524    0
Name: amount_per_area, dtype: int64
0 1005    0
Name: amount_per_area, dtype: int64
52 44    517
Name: amount_per_area, dtype: int64
52 525    1152
Name: amount_per_area, dtype: int64
52 1006    2304
Name: amount_per_area, dtype: int64
52 44    517
Name: amount_per_area, dtype: int64
52 525    1152
Name: amount_per_area, dtype: int64
52 1006    2304
Name: amount_per_area, dtype: int64
0 45    0
Name: amount_per_area, dtype: int64
0 526    0
Name: amount_per_area, dtype: int64
0 1007    0
Name: amount_per_area, dtype: int64
0 45    0
Name: amount_per_area, dtype: int64
0 526    0
Name: amount_per_area, dtype: int64
0 1007    0
Name: amount_per_area, dtype: int64
0 46    0
Name: amount_per_area, dtype: int64
0 527    0
Name: amount_per_area, dtype: int64
0 1008    0
Name: amount_per_area, dtype: int64
0 46    0
Name: amount_per_area, dtype: int64
0 527    0
Name: amount_per_area, dtype: int64
0 1008    0
Name: amount_per_area, dtype: int64
0 47    0
Name: amount_per_area, dtype: int64
0 528    0
Name: amount_per_area, dtype: int64
0 1009    0
Name: amount_per_area, dtype: int64
0 47    0
Name: amount_per_area, dtype: int64
0 528    0
Name: amount_per_area, dtype: int64
0 1009    0
Name: amount_per_area, dtype: int64
24 48    538
Name: amount_per_area, dtype: int64
24 529    1038
Name: amount_per_area, dtype: int64
24 1010    2268
Name: amount_per_area, dtype: int64
24 48    538
Name: amount_per_area, dtype: int64
24 529    1038
Name: amount_per_area, dtype: int64
24 1010    2268
Name: amount_per_area, dtype: int64
28 49    603
Name: amount_per_area, dtype: int64
28 530    1390
Name: amount_per_area, dtype: int64
28 1011    2687
Name: amount_per_area, dtype: int64
28 49    603
Name: amount_per_area, dtype: int64
28 530    1390
Name: amount_per_area, dtype: int64
28 1011    2687
Name: amount_per_area, dtype: int64
0 50    0
Name: amount_per_area, dtype: int64
0 531    0
Name: amount_per_area, dtype: int64
0 1012    0
Name: amount_per_area, dtype: int64
0 50    0
Name: amount_per_area, dtype: int64
0 531    0
Name: amount_per_area, dtype: int64
0 1012    0
Name: amount_per_area, dtype: int64
0 51    0
Name: amount_per_area, dtype: int64
0 532    0
Name: amount_per_area, dtype: int64
0 1013    0
Name: amount_per_area, dtype: int64
0 51    0
Name: amount_per_area, dtype: int64
0 532    0
Name: amount_per_area, dtype: int64
0 1013    0
Name: amount_per_area, dtype: int64
48 52    255
Name: amount_per_area, dtype: int64
48 533    1019
Name: amount_per_area, dtype: int64
48 1014    1910
Name: amount_per_area, dtype: int64
48 52    255
Name: amount_per_area, dtype: int64
48 533    1019
Name: amount_per_area, dtype: int64
48 1014    1910
Name: amount_per_area, dtype: int64
0 53    0
Name: amount_per_area, dtype: int64
0 534    0
Name: amount_per_area, dtype: int64
0 1015    0
Name: amount_per_area, dtype: int64
0 53    0
Name: amount_per_area, dtype: int64
0 534    0
Name: amount_per_area, dtype: int64
0 1015    0
Name: amount_per_area, dtype: int64
39 54    248
Name: amount_per_area, dtype: int64
39 535    918
Name: amount_per_area, dtype: int64
39 1016    2365
Name: amount_per_area, dtype: int64
39 54    248
Name: amount_per_area, dtype: int64
39 535    918
Name: amount_per_area, dtype: int64
39 1016    2365
Name: amount_per_area, dtype: int64
14 55    215
Name: amount_per_area, dtype: int64
14 536    547
Name: amount_per_area, dtype: int64
14 1017    1192
Name: amount_per_area, dtype: int64
14 55    215
Name: amount_per_area, dtype: int64
14 536    547
Name: amount_per_area, dtype: int64
14 1017    1192
Name: amount_per_area, dtype: int64
35 56    418
Name: amount_per_area, dtype: int64
35 537    870
Name: amount_per_area, dtype: int64
35 1018    2192
Name: amount_per_area, dtype: int64
35 56    418
Name: amount_per_area, dtype: int64
35 537    870
Name: amount_per_area, dtype: int64
35 1018    2192
Name: amount_per_area, dtype: int64
9 57    131
Name: amount_per_area, dtype: int64
9 538    308
Name: amount_per_area, dtype: int64
9 1019    746
Name: amount_per_area, dtype: int64
9 57    131
Name: amount_per_area, dtype: int64
9 538    308
Name: amount_per_area, dtype: int64
9 1019    746
Name: amount_per_area, dtype: int64
22 58    409
Name: amount_per_area, dtype: int64
22 539    764
Name: amount_per_area, dtype: int64
22 1020    1554
Name: amount_per_area, dtype: int64
22 58    409
Name: amount_per_area, dtype: int64
22 539    764
Name: amount_per_area, dtype: int64
22 1020    1554
Name: amount_per_area, dtype: int64
40 59    331
Name: amount_per_area, dtype: int64
40 540    579
Name: amount_per_area, dtype: int64
40 1021    1157
Name: amount_per_area, dtype: int64
40 59    331
Name: amount_per_area, dtype: int64
40 540    579
Name: amount_per_area, dtype: int64
40 1021    1157
Name: amount_per_area, dtype: int64
6 60    115
Name: amount_per_area, dtype: int64
6 541    230
Name: amount_per_area, dtype: int64
6 1022    613
Name: amount_per_area, dtype: int64
6 60    115
Name: amount_per_area, dtype: int64
6 541    230
Name: amount_per_area, dtype: int64
6 1022    613
Name: amount_per_area, dtype: int64
0 61    0
Name: amount_per_area, dtype: int64
0 542    0
Name: amount_per_area, dtype: int64
0 1023    0
Name: amount_per_area, dtype: int64
0 61    0
Name: amount_per_area, dtype: int64
0 542    0
Name: amount_per_area, dtype: int64
0 1023    0
Name: amount_per_area, dtype: int64
0 62    0
Name: amount_per_area, dtype: int64
0 543    0
Name: amount_per_area, dtype: int64
0 1024    0
Name: amount_per_area, dtype: int64
0 62    0
Name: amount_per_area, dtype: int64
0 543    0
Name: amount_per_area, dtype: int64
0 1024    0
Name: amount_per_area, dtype: int64
57 63    636
Name: amount_per_area, dtype: int64
57 544    1172
Name: amount_per_area, dtype: int64
57 1025    1540
Name: amount_per_area, dtype: int64
57 63    636
Name: amount_per_area, dtype: int64
57 544    1172
Name: amount_per_area, dtype: int64
57 1025    1540
Name: amount_per_area, dtype: int64
68 64    552
Name: amount_per_area, dtype: int64
68 545    951
Name: amount_per_area, dtype: int64
68 1026    1564
Name: amount_per_area, dtype: int64
68 64    552
Name: amount_per_area, dtype: int64
68 545    951
Name: amount_per_area, dtype: int64
68 1026    1564
Name: amount_per_area, dtype: int64
45 65    325
Name: amount_per_area, dtype: int64
45 546    429
Name: amount_per_area, dtype: int64
45 1027    739
Name: amount_per_area, dtype: int64
45 65    325
Name: amount_per_area, dtype: int64
45 546    429
Name: amount_per_area, dtype: int64
45 1027    739
Name: amount_per_area, dtype: int64
44 66    718
Name: amount_per_area, dtype: int64
44 547    1196
Name: amount_per_area, dtype: int64
44 1028    2072
Name: amount_per_area, dtype: int64
44 66    718
Name: amount_per_area, dtype: int64
44 547    1196
Name: amount_per_area, dtype: int64
44 1028    2072
Name: amount_per_area, dtype: int64
46 67    420
Name: amount_per_area, dtype: int64
46 548    807
Name: amount_per_area, dtype: int64
46 1029    2002
Name: amount_per_area, dtype: int64
46 67    420
Name: amount_per_area, dtype: int64

46 548    807
Name: amount_per_area, dtype: int64
46 1029    2002
Name: amount_per_area, dtype: int64
59 68    553
Name: amount_per_area, dtype: int64
59 549    829
Name: amount_per_area, dtype: int64
59 1030    1688
Name: amount_per_area, dtype: int64
59 68    553
Name: amount_per_area, dtype: int64
59 549    829
Name: amount_per_area, dtype: int64
59 1030    1688
Name: amount_per_area, dtype: int64
21 69    318
Name: amount_per_area, dtype: int64
21 550    751
Name: amount_per_area, dtype: int64
21 1031    1819
Name: amount_per_area, dtype: int64
21 69    318
Name: amount_per_area, dtype: int64
21 550    751
Name: amount_per_area, dtype: int64
21 1031    1819
Name: amount_per_area, dtype: int64
1 70    0
Name: amount_per_area, dtype: int64
1 551    0
Name: amount_per_area, dtype: int64
1 1032    0
Name: amount_per_area, dtype: int64
1 70    0
Name: amount_per_area, dtype: int64
1 551    0
Name: amount_per_area, dtype: int64
1 1032    0
Name: amount_per_area, dtype: int64
0 71    0
Name: amount_per_area, dtype: int64
0 552    0
Name: amount_per_area, dtype: int64
0 1033    0
Name: amount_per_area, dtype: int64
0 71    0
Name: amount_per_area, dtype: int64
0 552    0
Name: amount_per_area, dtype: int64
0 1033    0
Name: amount_per_area, dtype: int64
0 72    0
Name: amount_per_area, dtype: int64
0 553    0
Name: amount_per_area, dtype: int64
0 1034    0
Name: amount_per_area, dtype: int64
0 72    0
Name: amount_per_area, dtype: int64
0 553    0
Name: amount_per_area, dtype: int64
0 1034    0
Name: amount_per_area, dtype: int64
1 73    0
Name: amount_per_area, dtype: int64
1 554    0
Name: amount_per_area, dtype: int64
1 1035    0
Name: amount_per_area, dtype: int64
1 73    0
Name: amount_per_area, dtype: int64
1 554    0
Name: amount_per_area, dtype: int64
1 1035    0
Name: amount_per_area, dtype: int64
0 74    0
Name: amount_per_area, dtype: int64
0 555    0
Name: amount_per_area, dtype: int64
0 1036    0
Name: amount_per_area, dtype: int64
0 74    0
Name: amount_per_area, dtype: int64
0 555    0
Name: amount_per_area, dtype: int64
0 1036    0
Name: amount_per_area, dtype: int64
1 75    0
Name: amount_per_area, dtype: int64
1 556    0
Name: amount_per_area, dtype: int64
1 1037    0
Name: amount_per_area, dtype: int64
1 75    0
Name: amount_per_area, dtype: int64
1 556    0
Name: amount_per_area, dtype: int64
1 1037    0
Name: amount_per_area, dtype: int64
0 76    0
Name: amount_per_area, dtype: int64
0 557    0
Name: amount_per_area, dtype: int64
0 1038    0
Name: amount_per_area, dtype: int64
0 76    0
Name: amount_per_area, dtype: int64
0 557    0
Name: amount_per_area, dtype: int64
0 1038    0
Name: amount_per_area, dtype: int64
0 77    0
Name: amount_per_area, dtype: int64
0 558    0
Name: amount_per_area, dtype: int64
0 1039    0
Name: amount_per_area, dtype: int64
0 77    0
Name: amount_per_area, dtype: int64
0 558    0
Name: amount_per_area, dtype: int64
0 1039    0
Name: amount_per_area, dtype: int64
11 78    33
Name: amount_per_area, dtype: int64
11 559    154
Name: amount_per_area, dtype: int64
11 1040    614
Name: amount_per_area, dtype: int64
11 78    33
Name: amount_per_area, dtype: int64
11 559    154
Name: amount_per_area, dtype: int64
11 1040    614
Name: amount_per_area, dtype: int64
0 79    0
Name: amount_per_area, dtype: int64
0 560    0
Name: amount_per_area, dtype: int64
0 1041    0
Name: amount_per_area, dtype: int64
0 79    0
Name: amount_per_area, dtype: int64
0 560    0
Name: amount_per_area, dtype: int64
0 1041    0
Name: amount_per_area, dtype: int64
64 80    912
Name: amount_per_area, dtype: int64
64 561    1071
Name: amount_per_area, dtype: int64
64 1042    1982
Name: amount_per_area, dtype: int64
64 80    912
Name: amount_per_area, dtype: int64
64 561    1071
Name: amount_per_area, dtype: int64
64 1042    1982
Name: amount_per_area, dtype: int64
174 81    1298
Name: amount_per_area, dtype: int64
174 562    1587
Name: amount_per_area, dtype: int64
174 1043    1971
Name: amount_per_area, dtype: int64
174 81    1298
Name: amount_per_area, dtype: int64
174 562    1587
Name: amount_per_area, dtype: int64
174 1043    1971
Name: amount_per_area, dtype: int64
0 82    0
Name: amount_per_area, dtype: int64
0 563    0
Name: amount_per_area, dtype: int64
0 1044    0
Name: amount_per_area, dtype: int64
0 82    0
Name: amount_per_area, dtype: int64
0 563    0
Name: amount_per_area, dtype: int64
0 1044    0
Name: amount_per_area, dtype: int64
73 83    688
Name: amount_per_area, dtype: int64
73 564    994
Name: amount_per_area, dtype: int64
73 1045    2140
Name: amount_per_area, dtype: int64
73 83    688
Name: amount_per_area, dtype: int64
73 564    994
Name: amount_per_area, dtype: int64
73 1045    2140
Name: amount_per_area, dtype: int64
71 84    863
Name: amount_per_area, dtype: int64
71 565    1099
Name: amount_per_area, dtype: int64
71 1046    1962
Name: amount_per_area, dtype: int64
71 84    863
Name: amount_per_area, dtype: int64
71 565    1099
Name: amount_per_area, dtype: int64
71 1046    1962
Name: amount_per_area, dtype: int64
72 85    720
Name: amount_per_area, dtype: int64
72 566    777
Name: amount_per_area, dtype: int64
72 1047    1382
Name: amount_per_area, dtype: int64
72 85    720
Name: amount_per_area, dtype: int64
72 566    777
Name: amount_per_area, dtype: int64
72 1047    1382
Name: amount_per_area, dtype: int64
0 86    0
Name: amount_per_area, dtype: int64
0 567    0
Name: amount_per_area, dtype: int64
0 1048    0
Name: amount_per_area, dtype: int64
0 86    0
Name: amount_per_area, dtype: int64
0 567    0
Name: amount_per_area, dtype: int64
0 1048    0
Name: amount_per_area, dtype: int64
0 87    0
Name: amount_per_area, dtype: int64
0 568    0
Name: amount_per_area, dtype: int64
0 1049    0
Name: amount_per_area, dtype: int64
0 87    0
Name: amount_per_area, dtype: int64
0 568    0
Name: amount_per_area, dtype: int64
0 1049    0
Name: amount_per_area, dtype: int64
107 88    611
Name: amount_per_area, dtype: int64
107 569    1030
Name: amount_per_area, dtype: int64
107 1050    2174
Name: amount_per_area, dtype: int64
107 88    611
Name: amount_per_area, dtype: int64
107 569    1030
Name: amount_per_area, dtype: int64
107 1050    2174
Name: amount_per_area, dtype: int64
0 89    0
Name: amount_per_area, dtype: int64
0 570    0
Name: amount_per_area, dtype: int64
0 1051    0
Name: amount_per_area, dtype: int64
0 89    0
Name: amount_per_area, dtype: int64
0 570    0
Name: amount_per_area, dtype: int64
0 1051    0
Name: amount_per_area, dtype: int64
96 90    994
Name: amount_per_area, dtype: int64
96 571    1030
Name: amount_per_area, dtype: int64
96 1052    1527
Name: amount_per_area, dtype: int64
96 90    994
Name: amount_per_area, dtype: int64
96 571    1030
Name: amount_per_area, dtype: int64
96 1052    1527
Name: amount_per_area, dtype: int64
186 91    1116
Name: amount_per_area, dtype: int64
186 572    1736
Name: amount_per_area, dtype: int64
186 1053    3347
Name: amount_per_area, dtype: int64
186 91    1116
Name: amount_per_area, dtype: int64
186 572    1736
Name: amount_per_area, dtype: int64
186 1053    3347
Name: amount_per_area, dtype: int64
51 92    808
Name: amount_per_area, dtype: int64
51 573    1363
Name: amount_per_area, dtype: int64
51 1054    2878
Name: amount_per_area, dtype: int64
51 92    808
Name: amount_per_area, dtype: int64
51 573    1363
Name: amount_per_area, dtype: int64
51 1054    2878
Name: amount_per_area, dtype: int64
90 93    805
Name: amount_per_area, dtype: int64
90 574    1137
Name: amount_per_area, dtype: int64
90 1055    2794
Name: amount_per_area, dtype: int64
90 93    805
Name: amount_per_area, dtype: int64
90 574    1137
Name: amount_per_area, dtype: int64
90 1055    2794
Name: amount_per_area, dtype: int64
53 94    709
Name: amount_per_area, dtype: int64
53 575    1119
Name: amount_per_area, dtype: int64
53 1056    1901
Name: amount_per_area, dtype: int64
53 94    709
Name: amount_per_area, dtype: int64
53 575    1119
Name: amount_per_area, dtype: int64
53 1056    1901
Name: amount_per_area, dtype: int64
0 95    0
Name: amount_per_area, dtype: int64
0 576    0
Name: amount_per_area, dtype: int64
0 1057    0
Name: amount_per_area, dtype: int64
0 95    0
Name: amount_per_area, dtype: int64
0 576    0
Name: amount_per_area, dtype: int64
0 1057    0
Name: amount_per_area, dtype: int64
0 96    0
Name: amount_per_area, dtype: int64
0 577    0
Name: amount_per_area, dtype: int64
0 1058    0
Name: amount_per_area, dtype: int64
0 96    0
Name: amount_per_area, dtype: int64
0 577    0
Name: amount_per_area, dtype: int64
0 1058    0
Name: amount_per_area, dtype: int64
95 97    598
Name: amount_per_area, dtype: int64
95 578    818
Name: amount_per_area, dtype: int64
95 1059    1730
Name: amount_per_area, dtype: int64
95 97    598
Name: amount_per_area, dtype: int64
95 578    818
Name: amount_per_area, dtype: int64
95 1059    1730
Name: amount_per_area, dtype: int64
59 98    549
Name: amount_per_area, dtype: int64
59 579    878
Name: amount_per_area, dtype: int64
59 1060    2231
Name: amount_per_area, dtype: int64
59 98    549
Name: amount_per_area, dtype: int64
59 579    878
Name: amount_per_area, dtype: int64
59 1060    2231
Name: amount_per_area, dtype: int64
111 99    851
Name: amount_per_area, dtype: int64
111 580    1351
Name: amount_per_area, dtype: int64
111 1061    2802
Name: amount_per_area, dtype: int64
111 99    851
Name: amount_per_area, dtype: int64
111 580    1351
Name: amount_per_area, dtype: int64
111 1061    2802
Name: amount_per_area, dtype: int64
54 100    471
Name: amount_per_area, dtype: int64
54 581    1041
Name: amount_per_area, dtype: int64
54 1062    1847
Name: amount_per_area, dtype: int64
54 100    471
Name: amount_per_area, dtype: int64
54 581    1041
Name: amount_per_area, dtype: int64
54 1062    1847
Name: amount_per_area, dtype: int64
56 101    445
Name: amount_per_area, dtype: int64
56 582    889
Name: amount_per_area, dtype: int64
56 1063    2371
Name: amount_per_area, dtype: int64
56 101    445
Name: amount_per_area, dtype: int64
56 582    889
Name: amount_per_area, dtype: int64
56 1063    2371
Name: amount_per_area, dtype: int64
158 102    1132
Name: amount_per_area, dtype: int64
158 583    1280
Name: amount_per_area, dtype: int64
158 1064    2510
Name: amount_per_area, dtype: int64
158 102    1132
Name: amount_per_area, dtype: int64
158 583    1280
Name: amount_per_area, dtype: int64
158 1064    2510
Name: amount_per_area, dtype: int64
123 103    548
Name: amount_per_area, dtype: int64
123 584    1096
Name: amount_per_area, dtype: int64
123 1065    2570
Name: amount_per_area, dtype: int64
123 103    548
Name: amount_per_area, dtype: int64
123 584    1096
Name: amount_per_area, dtype: int64
123 1065    2570
Name: amount_per_area, dtype: int64
87 104    539
Name: amount_per_area, dtype: int64
87 585    1455
Name: amount_per_area, dtype: int64
87 1066    3395
Name: amount_per_area, dtype: int64
87 104    539
Name: amount_per_area, dtype: int64
87 585    1455
Name: amount_per_area, dtype: int64
87 1066    3395
Name: amount_per_area, dtype: int64
238 105    1407
Name: amount_per_area, dtype: int64
238 586    1320
Name: amount_per_area, dtype: int64
238 1067    1671
Name: amount_per_area, dtype: int64
238 105    1407
Name: amount_per_area, dtype: int64
238 586    1320
Name: amount_per_area, dtype: int64
238 1067    1671
Name: amount_per_area, dtype: int64
161 106    930
Name: amount_per_area, dtype: int64
161 587    1343
Name: amount_per_area, dtype: int64
161 1068    2841
Name: amount_per_area, dtype: int64
161 106    930
Name: amount_per_area, dtype: int64
161 587    1343
Name: amount_per_area, dtype: int64
161 1068    2841
Name: amount_per_area, dtype: int64
36 107    354
Name: amount_per_area, dtype: int64
36 588    1061
Name: amount_per_area, dtype: int64
36 1069    3006
Name: amount_per_area, dtype: int64
36 107    354
Name: amount_per_area, dtype: int64
36 588    1061
Name: amount_per_area, dtype: int64
36 1069    3006
Name: amount_per_area, dtype: int64
43 108    373
Name: amount_per_area, dtype: int64
43 589    665
Name: amount_per_area, dtype: int64
43 1070    1622
Name: amount_per_area, dtype: int64
43 108    373
Name: amount_per_area, dtype: int64
43 589    665
Name: amount_per_area, dtype: int64
43 1070    1622
Name: amount_per_area, dtype: int64
48 109    534
Name: amount_per_area, dtype: int64
48 590    1306
Name: amount_per_area, dtype: int64
48 1071    4094
Name: amount_per_area, dtype: int64
48 109    534
Name: amount_per_area, dtype: int64
48 590    1306
Name: amount_per_area, dtype: int64
48 1071    4094
Name: amount_per_area, dtype: int64
81 110    453
Name: amount_per_area, dtype: int64
81 591    1157
Name: amount_per_area, dtype: int64
81 1072    3369
Name: amount_per_area, dtype: int64
81 110    453
Name: amount_per_area, dtype: int64
81 591    1157
Name: amount_per_area, dtype: int64
81 1072    3369
Name: amount_per_area, dtype: int64
31 111    378
Name: amount_per_area, dtype: int64
31 592    906
Name: amount_per_area, dtype: int64
31 1073    2492
Name: amount_per_area, dtype: int64
31 111    378
Name: amount_per_area, dtype: int64
31 592    906
Name: amount_per_area, dtype: int64
31 1073    2492
Name: amount_per_area, dtype: int64

12 112    195
Name: amount_per_area, dtype: int64
12 593    337
Name: amount_per_area, dtype: int64
12 1074    765
Name: amount_per_area, dtype: int64
12 112    195
Name: amount_per_area, dtype: int64
12 593    337
Name: amount_per_area, dtype: int64
12 1074    765
Name: amount_per_area, dtype: int64
18 113    275
Name: amount_per_area, dtype: int64
18 594    464
Name: amount_per_area, dtype: int64
18 1075    979
Name: amount_per_area, dtype: int64
18 113    275
Name: amount_per_area, dtype: int64
18 594    464
Name: amount_per_area, dtype: int64
18 1075    979
Name: amount_per_area, dtype: int64
2 114    7
Name: amount_per_area, dtype: int64
2 595    28
Name: amount_per_area, dtype: int64
2 1076    120
Name: amount_per_area, dtype: int64
2 114    7
Name: amount_per_area, dtype: int64
2 595    28
Name: amount_per_area, dtype: int64
2 1076    120
Name: amount_per_area, dtype: int64
1 115    0
Name: amount_per_area, dtype: int64
1 596    0
Name: amount_per_area, dtype: int64
1 1077    0
Name: amount_per_area, dtype: int64
1 115    0
Name: amount_per_area, dtype: int64
1 596    0
Name: amount_per_area, dtype: int64
1 1077    0
Name: amount_per_area, dtype: int64
34 116    80
Name: amount_per_area, dtype: int64
34 597    178
Name: amount_per_area, dtype: int64
34 1078    622
Name: amount_per_area, dtype: int64
34 116    80
Name: amount_per_area, dtype: int64
34 597    178
Name: amount_per_area, dtype: int64
34 1078    622
Name: amount_per_area, dtype: int64
497 117    911
Name: amount_per_area, dtype: int64
497 598    881
Name: amount_per_area, dtype: int64
497 1079    1146
Name: amount_per_area, dtype: int64
497 117    911
Name: amount_per_area, dtype: int64
497 598    881
Name: amount_per_area, dtype: int64
497 1079    1146
Name: amount_per_area, dtype: int64
172 118    753
Name: amount_per_area, dtype: int64
172 599    890
Name: amount_per_area, dtype: int64
172 1080    1746
Name: amount_per_area, dtype: int64
172 118    753
Name: amount_per_area, dtype: int64
172 599    890
Name: amount_per_area, dtype: int64
172 1080    1746
Name: amount_per_area, dtype: int64
207 119    852
Name: amount_per_area, dtype: int64
207 600    1015
Name: amount_per_area, dtype: int64
207 1081    2191
Name: amount_per_area, dtype: int64
207 119    852
Name: amount_per_area, dtype: int64
207 600    1015
Name: amount_per_area, dtype: int64
207 1081    2191
Name: amount_per_area, dtype: int64
250 120    1038
Name: amount_per_area, dtype: int64
250 601    1115
Name: amount_per_area, dtype: int64
250 1082    1691
Name: amount_per_area, dtype: int64
250 120    1038
Name: amount_per_area, dtype: int64
250 601    1115
Name: amount_per_area, dtype: int64
250 1082    1691
Name: amount_per_area, dtype: int64
403 121    1146
Name: amount_per_area, dtype: int64
403 602    1231
Name: amount_per_area, dtype: int64
403 1083    1909
Name: amount_per_area, dtype: int64
403 121    1146
Name: amount_per_area, dtype: int64
403 602    1231
Name: amount_per_area, dtype: int64
403 1083    1909
Name: amount_per_area, dtype: int64
183 122    361
Name: amount_per_area, dtype: int64
183 603    577
Name: amount_per_area, dtype: int64
183 1084    1467
Name: amount_per_area, dtype: int64
183 122    361
Name: amount_per_area, dtype: int64
183 603    577
Name: amount_per_area, dtype: int64
183 1084    1467
Name: amount_per_area, dtype: int64
515 123    935
Name: amount_per_area, dtype: int64
515 604    1215
Name: amount_per_area, dtype: int64
515 1085    2477
Name: amount_per_area, dtype: int64
515 123    935
Name: amount_per_area, dtype: int64
515 604    1215
Name: amount_per_area, dtype: int64
515 1085    2477
Name: amount_per_area, dtype: int64
234 124    566
Name: amount_per_area, dtype: int64
234 605    900
Name: amount_per_area, dtype: int64
234 1086    1105
Name: amount_per_area, dtype: int64
234 124    566
Name: amount_per_area, dtype: int64
234 605    900
Name: amount_per_area, dtype: int64
234 1086    1105
Name: amount_per_area, dtype: int64
172 125    436
Name: amount_per_area, dtype: int64
172 606    821
Name: amount_per_area, dtype: int64
172 1087    1308
Name: amount_per_area, dtype: int64
172 125    436
Name: amount_per_area, dtype: int64
172 606    821
Name: amount_per_area, dtype: int64
172 1087    1308
Name: amount_per_area, dtype: int64
520 126    978
Name: amount_per_area, dtype: int64
520 607    856
Name: amount_per_area, dtype: int64
520 1088    1223
Name: amount_per_area, dtype: int64
520 126    978
Name: amount_per_area, dtype: int64
520 607    856
Name: amount_per_area, dtype: int64
520 1088    1223
Name: amount_per_area, dtype: int64
501 127    1102
Name: amount_per_area, dtype: int64
501 608    706
Name: amount_per_area, dtype: int64
501 1089    397
Name: amount_per_area, dtype: int64
501 127    1102
Name: amount_per_area, dtype: int64
501 608    706
Name: amount_per_area, dtype: int64
501 1089    397
Name: amount_per_area, dtype: int64
48 128    255
Name: amount_per_area, dtype: int64
48 609    765
Name: amount_per_area, dtype: int64
48 1090    2622
Name: amount_per_area, dtype: int64
48 128    255
Name: amount_per_area, dtype: int64
48 609    765
Name: amount_per_area, dtype: int64
48 1090    2622
Name: amount_per_area, dtype: int64
145 129    541
Name: amount_per_area, dtype: int64
145 610    1126
Name: amount_per_area, dtype: int64
145 1091    2837
Name: amount_per_area, dtype: int64
145 129    541
Name: amount_per_area, dtype: int64
145 610    1126
Name: amount_per_area, dtype: int64
145 1091    2837
Name: amount_per_area, dtype: int64
173 130    977
Name: amount_per_area, dtype: int64
173 611    1349
Name: amount_per_area, dtype: int64
173 1092    2326
Name: amount_per_area, dtype: int64
173 130    977
Name: amount_per_area, dtype: int64
173 611    1349
Name: amount_per_area, dtype: int64
173 1092    2326
Name: amount_per_area, dtype: int64
288 131    1036
Name: amount_per_area, dtype: int64
288 612    1413
Name: amount_per_area, dtype: int64
288 1093    2260
Name: amount_per_area, dtype: int64
288 131    1036
Name: amount_per_area, dtype: int64
288 612    1413
Name: amount_per_area, dtype: int64
288 1093    2260
Name: amount_per_area, dtype: int64
545 132    1348
Name: amount_per_area, dtype: int64
545 613    1448
Name: amount_per_area, dtype: int64
545 1094    2197
Name: amount_per_area, dtype: int64
545 132    1348
Name: amount_per_area, dtype: int64
545 613    1448
Name: amount_per_area, dtype: int64
545 1094    2197
Name: amount_per_area, dtype: int64
0 133    0
Name: amount_per_area, dtype: int64
0 614    0
Name: amount_per_area, dtype: int64
0 1095    0
Name: amount_per_area, dtype: int64
0 133    0
Name: amount_per_area, dtype: int64
0 614    0
Name: amount_per_area, dtype: int64
0 1095    0
Name: amount_per_area, dtype: int64
165 134    2247
Name: amount_per_area, dtype: int64
165 615    1053
Name: amount_per_area, dtype: int64
165 1096    211
Name: amount_per_area, dtype: int64
165 134    2247
Name: amount_per_area, dtype: int64
165 615    1053
Name: amount_per_area, dtype: int64
165 1096    211
Name: amount_per_area, dtype: int64
513 135    1099
Name: amount_per_area, dtype: int64
513 616    1282
Name: amount_per_area, dtype: int64
513 1097    2198
Name: amount_per_area, dtype: int64
513 135    1099
Name: amount_per_area, dtype: int64
513 616    1282
Name: amount_per_area, dtype: int64
513 1097    2198
Name: amount_per_area, dtype: int64
338 136    1124
Name: amount_per_area, dtype: int64
338 617    1208
Name: amount_per_area, dtype: int64
338 1098    1832
Name: amount_per_area, dtype: int64
338 136    1124
Name: amount_per_area, dtype: int64
338 617    1208
Name: amount_per_area, dtype: int64
338 1098    1832
Name: amount_per_area, dtype: int64
233 137    1108
Name: amount_per_area, dtype: int64
233 618    1218
Name: amount_per_area, dtype: int64
233 1099    3211
Name: amount_per_area, dtype: int64
233 137    1108
Name: amount_per_area, dtype: int64
233 618    1218
Name: amount_per_area, dtype: int64
233 1099    3211
Name: amount_per_area, dtype: int64
206 138    713
Name: amount_per_area, dtype: int64
206 619    1090
Name: amount_per_area, dtype: int64
206 1100    2390
Name: amount_per_area, dtype: int64
206 138    713
Name: amount_per_area, dtype: int64
206 619    1090
Name: amount_per_area, dtype: int64
206 1100    2390
Name: amount_per_area, dtype: int64
135 139    521
Name: amount_per_area, dtype: int64
135 620    998
Name: amount_per_area, dtype: int64
135 1101    2775
Name: amount_per_area, dtype: int64
135 139    521
Name: amount_per_area, dtype: int64
135 620    998
Name: amount_per_area, dtype: int64
135 1101    2775
Name: amount_per_area, dtype: int64
94 140    388
Name: amount_per_area, dtype: int64
94 621    808
Name: amount_per_area, dtype: int64
94 1102    2002
Name: amount_per_area, dtype: int64
94 140    388
Name: amount_per_area, dtype: int64
94 621    808
Name: amount_per_area, dtype: int64
94 1102    2002
Name: amount_per_area, dtype: int64
202 141    767
Name: amount_per_area, dtype: int64
202 622    1050
Name: amount_per_area, dtype: int64
202 1103    2179
Name: amount_per_area, dtype: int64
202 141    767
Name: amount_per_area, dtype: int64
202 622    1050
Name: amount_per_area, dtype: int64
202 1103    2179
Name: amount_per_area, dtype: int64
0 142    0
Name: amount_per_area, dtype: int64
0 623    0
Name: amount_per_area, dtype: int64
0 1104    0
Name: amount_per_area, dtype: int64
0 142    0
Name: amount_per_area, dtype: int64
0 623    0
Name: amount_per_area, dtype: int64
0 1104    0
Name: amount_per_area, dtype: int64
435 143    1254
Name: amount_per_area, dtype: int64
435 624    1299
Name: amount_per_area, dtype: int64
435 1105    1926
Name: amount_per_area, dtype: int64
435 143    1254
Name: amount_per_area, dtype: int64
435 624    1299
Name: amount_per_area, dtype: int64
435 1105    1926
Name: amount_per_area, dtype: int64
0 144    0
Name: amount_per_area, dtype: int64
0 625    0
Name: amount_per_area, dtype: int64
0 1106    0
Name: amount_per_area, dtype: int64
0 144    0
Name: amount_per_area, dtype: int64
0 625    0
Name: amount_per_area, dtype: int64
0 1106    0
Name: amount_per_area, dtype: int64
0 145    0
Name: amount_per_area, dtype: int64
0 626    0
Name: amount_per_area, dtype: int64
0 1107    0
Name: amount_per_area, dtype: int64
0 145    0
Name: amount_per_area, dtype: int64
0 626    0
Name: amount_per_area, dtype: int64
0 1107    0
Name: amount_per_area, dtype: int64
0 146    0
Name: amount_per_area, dtype: int64
0 627    0
Name: amount_per_area, dtype: int64
0 1108    0
Name: amount_per_area, dtype: int64
0 146    0
Name: amount_per_area, dtype: int64
0 627    0
Name: amount_per_area, dtype: int64
0 1108    0
Name: amount_per_area, dtype: int64
1 147    0
Name: amount_per_area, dtype: int64
1 628    0
Name: amount_per_area, dtype: int64
1 1109    0
Name: amount_per_area, dtype: int64
1 147    0
Name: amount_per_area, dtype: int64
1 628    0
Name: amount_per_area, dtype: int64
1 1109    0
Name: amount_per_area, dtype: int64
0 148    0
Name: amount_per_area, dtype: int64
0 629    0
Name: amount_per_area, dtype: int64
0 1110    0
Name: amount_per_area, dtype: int64
0 148    0
Name: amount_per_area, dtype: int64
0 629    0
Name: amount_per_area, dtype: int64
0 1110    0
Name: amount_per_area, dtype: int64
4 149    15
Name: amount_per_area, dtype: int64
4 630    69
Name: amount_per_area, dtype: int64
4 1111    66
Name: amount_per_area, dtype: int64
4 149    15
Name: amount_per_area, dtype: int64
4 630    69
Name: amount_per_area, dtype: int64
4 1111    66
Name: amount_per_area, dtype: int64
0 150    0
Name: amount_per_area, dtype: int64
0 631    0
Name: amount_per_area, dtype: int64
0 1112    0
Name: amount_per_area, dtype: int64
0 150    0
Name: amount_per_area, dtype: int64
0 631    0
Name: amount_per_area, dtype: int64
0 1112    0
Name: amount_per_area, dtype: int64
0 151    0
Name: amount_per_area, dtype: int64
0 632    0
Name: amount_per_area, dtype: int64
0 1113    0
Name: amount_per_area, dtype: int64
0 151    0
Name: amount_per_area, dtype: int64
0 632    0
Name: amount_per_area, dtype: int64
0 1113    0
Name: amount_per_area, dtype: int64
276 152    652
Name: amount_per_area, dtype: int64
276 633    557
Name: amount_per_area, dtype: int64
276 1114    382
Name: amount_per_area, dtype: int64
276 152    652
Name: amount_per_area, dtype: int64
276 633    557
Name: amount_per_area, dtype: int64
276 1114    382
Name: amount_per_area, dtype: int64
362 153    883
Name: amount_per_area, dtype: int64
362 634    687
Name: amount_per_area, dtype: int64
362 1115    393
Name: amount_per_area, dtype: int64
362 153    883
Name: amount_per_area, dtype: int64
362 634    687
Name: amount_per_area, dtype: int64
362 1115    393
Name: amount_per_area, dtype: int64
184 154    572
Name: amount_per_area, dtype: int64
184 635    558
Name: amount_per_area, dtype: int64
184 1116    338
Name: amount_per_area, dtype: int64
184 154    572
Name: amount_per_area, dtype: int64
184 635    558
Name: amount_per_area, dtype: int64
184 1116    338
Name: amount_per_area, dtype: int64
149 155    419
Name: amount_per_area, dtype: int64
149 636    548
Name: amount_per_area, dtype: int64
149 1117    644
Name: amount_per_area, dtype: int64
149 155    419
Name: amount_per_area, dtype: int64
149 636    548
Name: amount_per_area, dtype: int64
149 1117    644
Name: amount_per_area, dtype: int64
324 156    744
Name: amount_per_area, dtype: int64
324 637    706
Name: amount_per_area, dtype: int64
324 1118    409
Name: amount_per_area, dtype: int64
324 156    744
Name: amount_per_area, dtype: int64
324 637    706
Name: amount_per_area, dtype: int64
324 1118    409
Name: amount_per_area, dtype: int64
627 157    1486
Name: amount_per_area, dtype: int64
627 638    1049
Name: amount_per_area, dtype: int64
627 1119    379
Name: amount_per_area, dtype: int64
627 157    1486
Name: amount_per_area, dtype: int64
627 638    1049
Name: amount_per_area, dtype: int64

627 1119    379
Name: amount_per_area, dtype: int64
6 158    0
Name: amount_per_area, dtype: int64
6 639    0
Name: amount_per_area, dtype: int64
6 1120    0
Name: amount_per_area, dtype: int64
6 158    0
Name: amount_per_area, dtype: int64
6 639    0
Name: amount_per_area, dtype: int64
6 1120    0
Name: amount_per_area, dtype: int64
433 159    963
Name: amount_per_area, dtype: int64
433 640    722
Name: amount_per_area, dtype: int64
433 1121    503
Name: amount_per_area, dtype: int64
433 159    963
Name: amount_per_area, dtype: int64
433 640    722
Name: amount_per_area, dtype: int64
433 1121    503
Name: amount_per_area, dtype: int64
406 160    929
Name: amount_per_area, dtype: int64
406 641    788
Name: amount_per_area, dtype: int64
406 1122    303
Name: amount_per_area, dtype: int64
406 160    929
Name: amount_per_area, dtype: int64
406 641    788
Name: amount_per_area, dtype: int64
406 1122    303
Name: amount_per_area, dtype: int64
447 161    638
Name: amount_per_area, dtype: int64
447 642    707
Name: amount_per_area, dtype: int64
447 1123    397
Name: amount_per_area, dtype: int64
447 161    638
Name: amount_per_area, dtype: int64
447 642    707
Name: amount_per_area, dtype: int64
447 1123    397
Name: amount_per_area, dtype: int64
737 162    1089
Name: amount_per_area, dtype: int64
737 643    1118
Name: amount_per_area, dtype: int64
737 1124    659
Name: amount_per_area, dtype: int64
737 162    1089
Name: amount_per_area, dtype: int64
737 643    1118
Name: amount_per_area, dtype: int64
737 1124    659
Name: amount_per_area, dtype: int64
629 163    1138
Name: amount_per_area, dtype: int64
629 644    1009
Name: amount_per_area, dtype: int64
629 1125    440
Name: amount_per_area, dtype: int64
629 163    1138
Name: amount_per_area, dtype: int64
629 644    1009
Name: amount_per_area, dtype: int64
629 1125    440
Name: amount_per_area, dtype: int64
84 164    188
Name: amount_per_area, dtype: int64
84 645    136
Name: amount_per_area, dtype: int64
84 1126    114
Name: amount_per_area, dtype: int64
84 164    188
Name: amount_per_area, dtype: int64
84 645    136
Name: amount_per_area, dtype: int64
84 1126    114
Name: amount_per_area, dtype: int64
0 165    0
Name: amount_per_area, dtype: int64
0 646    0
Name: amount_per_area, dtype: int64
0 1127    0
Name: amount_per_area, dtype: int64
0 165    0
Name: amount_per_area, dtype: int64
0 646    0
Name: amount_per_area, dtype: int64
0 1127    0
Name: amount_per_area, dtype: int64
248 166    449
Name: amount_per_area, dtype: int64
248 647    622
Name: amount_per_area, dtype: int64
248 1128    376
Name: amount_per_area, dtype: int64
248 166    449
Name: amount_per_area, dtype: int64
248 647    622
Name: amount_per_area, dtype: int64
248 1128    376
Name: amount_per_area, dtype: int64
3 167    0
Name: amount_per_area, dtype: int64
3 648    0
Name: amount_per_area, dtype: int64
3 1129    0
Name: amount_per_area, dtype: int64
3 167    0
Name: amount_per_area, dtype: int64
3 648    0
Name: amount_per_area, dtype: int64
3 1129    0
Name: amount_per_area, dtype: int64
2 168    22
Name: amount_per_area, dtype: int64
2 649    21
Name: amount_per_area, dtype: int64
2 1130    16
Name: amount_per_area, dtype: int64
2 168    22
Name: amount_per_area, dtype: int64
2 649    21
Name: amount_per_area, dtype: int64
2 1130    16
Name: amount_per_area, dtype: int64
1 169    2
Name: amount_per_area, dtype: int64
1 650    3
Name: amount_per_area, dtype: int64
1 1131    2
Name: amount_per_area, dtype: int64
1 169    2
Name: amount_per_area, dtype: int64
1 650    3
Name: amount_per_area, dtype: int64
1 1131    2
Name: amount_per_area, dtype: int64
333 170    1361
Name: amount_per_area, dtype: int64
333 651    1007
Name: amount_per_area, dtype: int64
333 1132    327
Name: amount_per_area, dtype: int64
333 170    1361
Name: amount_per_area, dtype: int64
333 651    1007
Name: amount_per_area, dtype: int64
333 1132    327
Name: amount_per_area, dtype: int64
275 171    699
Name: amount_per_area, dtype: int64
275 652    958
Name: amount_per_area, dtype: int64
275 1133    958
Name: amount_per_area, dtype: int64
275 171    699
Name: amount_per_area, dtype: int64
275 652    958
Name: amount_per_area, dtype: int64
275 1133    958
Name: amount_per_area, dtype: int64
188 172    602
Name: amount_per_area, dtype: int64
188 653    654
Name: amount_per_area, dtype: int64
188 1134    447
Name: amount_per_area, dtype: int64
188 172    602
Name: amount_per_area, dtype: int64
188 653    654
Name: amount_per_area, dtype: int64
188 1134    447
Name: amount_per_area, dtype: int64
128 173    302
Name: amount_per_area, dtype: int64
128 654    311
Name: amount_per_area, dtype: int64
128 1135    204
Name: amount_per_area, dtype: int64
128 173    302
Name: amount_per_area, dtype: int64
128 654    311
Name: amount_per_area, dtype: int64
128 1135    204
Name: amount_per_area, dtype: int64
96 174    401
Name: amount_per_area, dtype: int64
96 655    615
Name: amount_per_area, dtype: int64
96 1136    415
Name: amount_per_area, dtype: int64
96 174    401
Name: amount_per_area, dtype: int64
96 655    615
Name: amount_per_area, dtype: int64
96 1136    415
Name: amount_per_area, dtype: int64
426 175    1081
Name: amount_per_area, dtype: int64
426 656    940
Name: amount_per_area, dtype: int64
426 1137    353
Name: amount_per_area, dtype: int64
426 175    1081
Name: amount_per_area, dtype: int64
426 656    940
Name: amount_per_area, dtype: int64
426 1137    353
Name: amount_per_area, dtype: int64
388 176    1028
Name: amount_per_area, dtype: int64
388 657    977
Name: amount_per_area, dtype: int64
388 1138    566
Name: amount_per_area, dtype: int64
388 176    1028
Name: amount_per_area, dtype: int64
388 657    977
Name: amount_per_area, dtype: int64
388 1138    566
Name: amount_per_area, dtype: int64
452 177    885
Name: amount_per_area, dtype: int64
452 658    1005
Name: amount_per_area, dtype: int64
452 1139    503
Name: amount_per_area, dtype: int64
452 177    885
Name: amount_per_area, dtype: int64
452 658    1005
Name: amount_per_area, dtype: int64
452 1139    503
Name: amount_per_area, dtype: int64
451 178    992
Name: amount_per_area, dtype: int64
451 659    1203
Name: amount_per_area, dtype: int64
451 1140    812
Name: amount_per_area, dtype: int64
451 178    992
Name: amount_per_area, dtype: int64
451 659    1203
Name: amount_per_area, dtype: int64
451 1140    812
Name: amount_per_area, dtype: int64
329 179    810
Name: amount_per_area, dtype: int64
329 660    945
Name: amount_per_area, dtype: int64
329 1141    495
Name: amount_per_area, dtype: int64
329 179    810
Name: amount_per_area, dtype: int64
329 660    945
Name: amount_per_area, dtype: int64
329 1141    495
Name: amount_per_area, dtype: int64
4 180    0
Name: amount_per_area, dtype: int64
4 661    0
Name: amount_per_area, dtype: int64
4 1142    0
Name: amount_per_area, dtype: int64
4 180    0
Name: amount_per_area, dtype: int64
4 661    0
Name: amount_per_area, dtype: int64
4 1142    0
Name: amount_per_area, dtype: int64
194 181    667
Name: amount_per_area, dtype: int64
194 662    875
Name: amount_per_area, dtype: int64
194 1143    542
Name: amount_per_area, dtype: int64
194 181    667
Name: amount_per_area, dtype: int64
194 662    875
Name: amount_per_area, dtype: int64
194 1143    542
Name: amount_per_area, dtype: int64
154 182    422
Name: amount_per_area, dtype: int64
154 663    625
Name: amount_per_area, dtype: int64
154 1144    516
Name: amount_per_area, dtype: int64
154 182    422
Name: amount_per_area, dtype: int64
154 663    625
Name: amount_per_area, dtype: int64
154 1144    516
Name: amount_per_area, dtype: int64
186 183    452
Name: amount_per_area, dtype: int64
186 664    630
Name: amount_per_area, dtype: int64
186 1145    533
Name: amount_per_area, dtype: int64
186 183    452
Name: amount_per_area, dtype: int64
186 664    630
Name: amount_per_area, dtype: int64
186 1145    533
Name: amount_per_area, dtype: int64
79 184    242
Name: amount_per_area, dtype: int64
79 665    369
Name: amount_per_area, dtype: int64
79 1146    542
Name: amount_per_area, dtype: int64
79 184    242
Name: amount_per_area, dtype: int64
79 665    369
Name: amount_per_area, dtype: int64
79 1146    542
Name: amount_per_area, dtype: int64
67 185    244
Name: amount_per_area, dtype: int64
67 666    278
Name: amount_per_area, dtype: int64
67 1147    348
Name: amount_per_area, dtype: int64
67 185    244
Name: amount_per_area, dtype: int64
67 666    278
Name: amount_per_area, dtype: int64
67 1147    348
Name: amount_per_area, dtype: int64
313 186    828
Name: amount_per_area, dtype: int64
313 667    715
Name: amount_per_area, dtype: int64
313 1148    358
Name: amount_per_area, dtype: int64
313 186    828
Name: amount_per_area, dtype: int64
313 667    715
Name: amount_per_area, dtype: int64
313 1148    358
Name: amount_per_area, dtype: int64
468 187    1207
Name: amount_per_area, dtype: int64
468 668    1022
Name: amount_per_area, dtype: int64
468 1149    867
Name: amount_per_area, dtype: int64
468 187    1207
Name: amount_per_area, dtype: int64
468 668    1022
Name: amount_per_area, dtype: int64
468 1149    867
Name: amount_per_area, dtype: int64
159 188    546
Name: amount_per_area, dtype: int64
159 669    769
Name: amount_per_area, dtype: int64
159 1150    1166
Name: amount_per_area, dtype: int64
159 188    546
Name: amount_per_area, dtype: int64
159 669    769
Name: amount_per_area, dtype: int64
159 1150    1166
Name: amount_per_area, dtype: int64
3 189    37
Name: amount_per_area, dtype: int64
3 670    284
Name: amount_per_area, dtype: int64
3 1151    284
Name: amount_per_area, dtype: int64
3 189    37
Name: amount_per_area, dtype: int64
3 670    284
Name: amount_per_area, dtype: int64
3 1151    284
Name: amount_per_area, dtype: int64
7 190    33
Name: amount_per_area, dtype: int64
7 671    145
Name: amount_per_area, dtype: int64
7 1152    358
Name: amount_per_area, dtype: int64
7 190    33
Name: amount_per_area, dtype: int64
7 671    145
Name: amount_per_area, dtype: int64
7 1152    358
Name: amount_per_area, dtype: int64
356 191    801
Name: amount_per_area, dtype: int64
356 672    478
Name: amount_per_area, dtype: int64
356 1153    141
Name: amount_per_area, dtype: int64
356 191    801
Name: amount_per_area, dtype: int64
356 672    478
Name: amount_per_area, dtype: int64
356 1153    141
Name: amount_per_area, dtype: int64
20 192    33
Name: amount_per_area, dtype: int64
20 673    336
Name: amount_per_area, dtype: int64
20 1154    715
Name: amount_per_area, dtype: int64
20 192    33
Name: amount_per_area, dtype: int64
20 673    336
Name: amount_per_area, dtype: int64
20 1154    715
Name: amount_per_area, dtype: int64
51 193    113
Name: amount_per_area, dtype: int64
51 674    487
Name: amount_per_area, dtype: int64
51 1155    1274
Name: amount_per_area, dtype: int64
51 193    113
Name: amount_per_area, dtype: int64
51 674    487
Name: amount_per_area, dtype: int64
51 1155    1274
Name: amount_per_area, dtype: int64
101 194    331
Name: amount_per_area, dtype: int64
101 675    363
Name: amount_per_area, dtype: int64
101 1156    883
Name: amount_per_area, dtype: int64
101 194    331
Name: amount_per_area, dtype: int64
101 675    363
Name: amount_per_area, dtype: int64
101 1156    883
Name: amount_per_area, dtype: int64
124 195    507
Name: amount_per_area, dtype: int64
124 676    507
Name: amount_per_area, dtype: int64
124 1157    570
Name: amount_per_area, dtype: int64
124 195    507
Name: amount_per_area, dtype: int64
124 676    507
Name: amount_per_area, dtype: int64
124 1157    570
Name: amount_per_area, dtype: int64
156 196    407
Name: amount_per_area, dtype: int64
156 677    646
Name: amount_per_area, dtype: int64
156 1158    794
Name: amount_per_area, dtype: int64
156 196    407
Name: amount_per_area, dtype: int64
156 677    646
Name: amount_per_area, dtype: int64
156 1158    794
Name: amount_per_area, dtype: int64
1 197    52
Name: amount_per_area, dtype: int64
1 678    114
Name: amount_per_area, dtype: int64
1 1159    82
Name: amount_per_area, dtype: int64
1 197    52
Name: amount_per_area, dtype: int64
1 678    114
Name: amount_per_area, dtype: int64
1 1159    82
Name: amount_per_area, dtype: int64
42 198    0
Name: amount_per_area, dtype: int64
42 679    0
Name: amount_per_area, dtype: int64
42 1160    0
Name: amount_per_area, dtype: int64
42 198    0
Name: amount_per_area, dtype: int64
42 679    0
Name: amount_per_area, dtype: int64
42 1160    0
Name: amount_per_area, dtype: int64
1 199    0
Name: amount_per_area, dtype: int64
1 680    0
Name: amount_per_area, dtype: int64
1 1161    0
Name: amount_per_area, dtype: int64

1 199    0
Name: amount_per_area, dtype: int64
1 680    0
Name: amount_per_area, dtype: int64
1 1161    0
Name: amount_per_area, dtype: int64
31 200    244
Name: amount_per_area, dtype: int64
31 681    473
Name: amount_per_area, dtype: int64
31 1162    809
Name: amount_per_area, dtype: int64
31 200    244
Name: amount_per_area, dtype: int64
31 681    473
Name: amount_per_area, dtype: int64
31 1162    809
Name: amount_per_area, dtype: int64
0 201    6
Name: amount_per_area, dtype: int64
0 682    9
Name: amount_per_area, dtype: int64
0 1163    9
Name: amount_per_area, dtype: int64
0 201    6
Name: amount_per_area, dtype: int64
0 682    9
Name: amount_per_area, dtype: int64
0 1163    9
Name: amount_per_area, dtype: int64
2 202    7
Name: amount_per_area, dtype: int64
2 683    24
Name: amount_per_area, dtype: int64
2 1164    27
Name: amount_per_area, dtype: int64
2 202    7
Name: amount_per_area, dtype: int64
2 683    24
Name: amount_per_area, dtype: int64
2 1164    27
Name: amount_per_area, dtype: int64
92 203    393
Name: amount_per_area, dtype: int64
92 684    628
Name: amount_per_area, dtype: int64
92 1165    550
Name: amount_per_area, dtype: int64
92 203    393
Name: amount_per_area, dtype: int64
92 684    628
Name: amount_per_area, dtype: int64
92 1165    550
Name: amount_per_area, dtype: int64
82 204    289
Name: amount_per_area, dtype: int64
82 685    528
Name: amount_per_area, dtype: int64
82 1166    440
Name: amount_per_area, dtype: int64
82 204    289
Name: amount_per_area, dtype: int64
82 685    528
Name: amount_per_area, dtype: int64
82 1166    440
Name: amount_per_area, dtype: int64
133 205    549
Name: amount_per_area, dtype: int64
133 686    755
Name: amount_per_area, dtype: int64
133 1167    984
Name: amount_per_area, dtype: int64
133 205    549
Name: amount_per_area, dtype: int64
133 686    755
Name: amount_per_area, dtype: int64
133 1167    984
Name: amount_per_area, dtype: int64
75 206    356
Name: amount_per_area, dtype: int64
75 687    748
Name: amount_per_area, dtype: int64
75 1168    767
Name: amount_per_area, dtype: int64
75 206    356
Name: amount_per_area, dtype: int64
75 687    748
Name: amount_per_area, dtype: int64
75 1168    767
Name: amount_per_area, dtype: int64
91 207    381
Name: amount_per_area, dtype: int64
91 688    651
Name: amount_per_area, dtype: int64
91 1169    556
Name: amount_per_area, dtype: int64
91 207    381
Name: amount_per_area, dtype: int64
91 688    651
Name: amount_per_area, dtype: int64
91 1169    556
Name: amount_per_area, dtype: int64
2 208    47
Name: amount_per_area, dtype: int64
2 689    89
Name: amount_per_area, dtype: int64
2 1170    98
Name: amount_per_area, dtype: int64
2 208    47
Name: amount_per_area, dtype: int64
2 689    89
Name: amount_per_area, dtype: int64
2 1170    98
Name: amount_per_area, dtype: int64
139 209    552
Name: amount_per_area, dtype: int64
139 690    600
Name: amount_per_area, dtype: int64
139 1171    426
Name: amount_per_area, dtype: int64
139 209    552
Name: amount_per_area, dtype: int64
139 690    600
Name: amount_per_area, dtype: int64
139 1171    426
Name: amount_per_area, dtype: int64
160 210    504
Name: amount_per_area, dtype: int64
160 691    714
Name: amount_per_area, dtype: int64
160 1172    861
Name: amount_per_area, dtype: int64
160 210    504
Name: amount_per_area, dtype: int64
160 691    714
Name: amount_per_area, dtype: int64
160 1172    861
Name: amount_per_area, dtype: int64
155 211    595
Name: amount_per_area, dtype: int64
155 692    561
Name: amount_per_area, dtype: int64
155 1173    527
Name: amount_per_area, dtype: int64
155 211    595
Name: amount_per_area, dtype: int64
155 692    561
Name: amount_per_area, dtype: int64
155 1173    527
Name: amount_per_area, dtype: int64
12 212    71
Name: amount_per_area, dtype: int64
12 693    313
Name: amount_per_area, dtype: int64
12 1174    121
Name: amount_per_area, dtype: int64
12 212    71
Name: amount_per_area, dtype: int64
12 693    313
Name: amount_per_area, dtype: int64
12 1174    121
Name: amount_per_area, dtype: int64
3 213    7
Name: amount_per_area, dtype: int64
3 694    15
Name: amount_per_area, dtype: int64
3 1175    86
Name: amount_per_area, dtype: int64
3 213    7
Name: amount_per_area, dtype: int64
3 694    15
Name: amount_per_area, dtype: int64
3 1175    86
Name: amount_per_area, dtype: int64
0 214    0
Name: amount_per_area, dtype: int64
0 695    0
Name: amount_per_area, dtype: int64
0 1176    0
Name: amount_per_area, dtype: int64
0 214    0
Name: amount_per_area, dtype: int64
0 695    0
Name: amount_per_area, dtype: int64
0 1176    0
Name: amount_per_area, dtype: int64
2 215    0
Name: amount_per_area, dtype: int64
2 696    0
Name: amount_per_area, dtype: int64
2 1177    0
Name: amount_per_area, dtype: int64
2 215    0
Name: amount_per_area, dtype: int64
2 696    0
Name: amount_per_area, dtype: int64
2 1177    0
Name: amount_per_area, dtype: int64
46 216    152
Name: amount_per_area, dtype: int64
46 697    417
Name: amount_per_area, dtype: int64
46 1178    1326
Name: amount_per_area, dtype: int64
46 216    152
Name: amount_per_area, dtype: int64
46 697    417
Name: amount_per_area, dtype: int64
46 1178    1326
Name: amount_per_area, dtype: int64
22 217    7
Name: amount_per_area, dtype: int64
22 698    291
Name: amount_per_area, dtype: int64
22 1179    309
Name: amount_per_area, dtype: int64
22 217    7
Name: amount_per_area, dtype: int64
22 698    291
Name: amount_per_area, dtype: int64
22 1179    309
Name: amount_per_area, dtype: int64
43 218    386
Name: amount_per_area, dtype: int64
43 699    1040
Name: amount_per_area, dtype: int64
43 1180    2427
Name: amount_per_area, dtype: int64
43 218    386
Name: amount_per_area, dtype: int64
43 699    1040
Name: amount_per_area, dtype: int64
43 1180    2427
Name: amount_per_area, dtype: int64
67 219    492
Name: amount_per_area, dtype: int64
67 700    1124
Name: amount_per_area, dtype: int64
67 1181    1931
Name: amount_per_area, dtype: int64
67 219    492
Name: amount_per_area, dtype: int64
67 700    1124
Name: amount_per_area, dtype: int64
67 1181    1931
Name: amount_per_area, dtype: int64
52 220    440
Name: amount_per_area, dtype: int64
52 701    1118
Name: amount_per_area, dtype: int64
52 1182    2436
Name: amount_per_area, dtype: int64
52 220    440
Name: amount_per_area, dtype: int64
52 701    1118
Name: amount_per_area, dtype: int64
52 1182    2436
Name: amount_per_area, dtype: int64
168 221    837
Name: amount_per_area, dtype: int64
168 702    1617
Name: amount_per_area, dtype: int64
168 1183    3123
Name: amount_per_area, dtype: int64
168 221    837
Name: amount_per_area, dtype: int64
168 702    1617
Name: amount_per_area, dtype: int64
168 1183    3123
Name: amount_per_area, dtype: int64
67 222    433
Name: amount_per_area, dtype: int64
67 703    1101
Name: amount_per_area, dtype: int64
67 1184    2398
Name: amount_per_area, dtype: int64
67 222    433
Name: amount_per_area, dtype: int64
67 703    1101
Name: amount_per_area, dtype: int64
67 1184    2398
Name: amount_per_area, dtype: int64
77 223    552
Name: amount_per_area, dtype: int64
77 704    1146
Name: amount_per_area, dtype: int64
77 1185    2547
Name: amount_per_area, dtype: int64
77 223    552
Name: amount_per_area, dtype: int64
77 704    1146
Name: amount_per_area, dtype: int64
77 1185    2547
Name: amount_per_area, dtype: int64
107 224    629
Name: amount_per_area, dtype: int64
107 705    1209
Name: amount_per_area, dtype: int64
107 1186    2999
Name: amount_per_area, dtype: int64
107 224    629
Name: amount_per_area, dtype: int64
107 705    1209
Name: amount_per_area, dtype: int64
107 1186    2999
Name: amount_per_area, dtype: int64
69 225    545
Name: amount_per_area, dtype: int64
69 706    954
Name: amount_per_area, dtype: int64
69 1187    1908
Name: amount_per_area, dtype: int64
69 225    545
Name: amount_per_area, dtype: int64
69 706    954
Name: amount_per_area, dtype: int64
69 1187    1908
Name: amount_per_area, dtype: int64
92 226    500
Name: amount_per_area, dtype: int64
92 707    1042
Name: amount_per_area, dtype: int64
92 1188    2583
Name: amount_per_area, dtype: int64
92 226    500
Name: amount_per_area, dtype: int64
92 707    1042
Name: amount_per_area, dtype: int64
92 1188    2583
Name: amount_per_area, dtype: int64
135 227    1108
Name: amount_per_area, dtype: int64
135 708    1227
Name: amount_per_area, dtype: int64
135 1189    1662
Name: amount_per_area, dtype: int64
135 227    1108
Name: amount_per_area, dtype: int64
135 708    1227
Name: amount_per_area, dtype: int64
135 1189    1662
Name: amount_per_area, dtype: int64
174 228    912
Name: amount_per_area, dtype: int64
174 709    1202
Name: amount_per_area, dtype: int64
174 1190    2030
Name: amount_per_area, dtype: int64
174 228    912
Name: amount_per_area, dtype: int64
174 709    1202
Name: amount_per_area, dtype: int64
174 1190    2030
Name: amount_per_area, dtype: int64
172 229    959
Name: amount_per_area, dtype: int64
172 710    1238
Name: amount_per_area, dtype: int64
172 1191    1797
Name: amount_per_area, dtype: int64
172 229    959
Name: amount_per_area, dtype: int64
172 710    1238
Name: amount_per_area, dtype: int64
172 1191    1797
Name: amount_per_area, dtype: int64
29 230    317
Name: amount_per_area, dtype: int64
29 711    761
Name: amount_per_area, dtype: int64
29 1192    2091
Name: amount_per_area, dtype: int64
29 230    317
Name: amount_per_area, dtype: int64
29 711    761
Name: amount_per_area, dtype: int64
29 1192    2091
Name: amount_per_area, dtype: int64
80 231    397
Name: amount_per_area, dtype: int64
80 712    1032
Name: amount_per_area, dtype: int64
80 1193    2540
Name: amount_per_area, dtype: int64
80 231    397
Name: amount_per_area, dtype: int64
80 712    1032
Name: amount_per_area, dtype: int64
80 1193    2540
Name: amount_per_area, dtype: int64
50 232    406
Name: amount_per_area, dtype: int64
50 713    1082
Name: amount_per_area, dtype: int64
50 1194    3019
Name: amount_per_area, dtype: int64
50 232    406
Name: amount_per_area, dtype: int64
50 713    1082
Name: amount_per_area, dtype: int64
50 1194    3019
Name: amount_per_area, dtype: int64
50 233    332
Name: amount_per_area, dtype: int64
50 714    862
Name: amount_per_area, dtype: int64
50 1195    2120
Name: amount_per_area, dtype: int64
50 233    332
Name: amount_per_area, dtype: int64
50 714    862
Name: amount_per_area, dtype: int64
50 1195    2120
Name: amount_per_area, dtype: int64
38 234    420
Name: amount_per_area, dtype: int64
38 715    1007
Name: amount_per_area, dtype: int64
38 1196    2769
Name: amount_per_area, dtype: int64
38 234    420
Name: amount_per_area, dtype: int64
38 715    1007
Name: amount_per_area, dtype: int64
38 1196    2769
Name: amount_per_area, dtype: int64
2 235    25
Name: amount_per_area, dtype: int64
2 716    54
Name: amount_per_area, dtype: int64
2 1197    64
Name: amount_per_area, dtype: int64
2 235    25
Name: amount_per_area, dtype: int64
2 716    54
Name: amount_per_area, dtype: int64
2 1197    64
Name: amount_per_area, dtype: int64
59 236    462
Name: amount_per_area, dtype: int64
59 717    1133
Name: amount_per_area, dtype: int64
59 1198    2602
Name: amount_per_area, dtype: int64
59 236    462
Name: amount_per_area, dtype: int64
59 717    1133
Name: amount_per_area, dtype: int64
59 1198    2602
Name: amount_per_area, dtype: int64
37 237    285
Name: amount_per_area, dtype: int64
37 718    366
Name: amount_per_area, dtype: int64
37 1199    704
Name: amount_per_area, dtype: int64
37 237    285
Name: amount_per_area, dtype: int64
37 718    366
Name: amount_per_area, dtype: int64
37 1199    704
Name: amount_per_area, dtype: int64
15 238    270
Name: amount_per_area, dtype: int64
15 719    436
Name: amount_per_area, dtype: int64
15 1200    1370
Name: amount_per_area, dtype: int64
15 238    270
Name: amount_per_area, dtype: int64
15 719    436
Name: amount_per_area, dtype: int64
15 1200    1370
Name: amount_per_area, dtype: int64
59 239    393
Name: amount_per_area, dtype: int64
59 720    752
Name: amount_per_area, dtype: int64
59 1201    2124
Name: amount_per_area, dtype: int64
59 239    393
Name: amount_per_area, dtype: int64
59 720    752
Name: amount_per_area, dtype: int64
59 1201    2124
Name: amount_per_area, dtype: int64
8 240    172
Name: amount_per_area, dtype: int64
8 721    358
Name: amount_per_area, dtype: int64
8 1202    901
Name: amount_per_area, dtype: int64
8 240    172
Name: amount_per_area, dtype: int64
8 721    358
Name: amount_per_area, dtype: int64
8 1202    901
Name: amount_per_area, dtype: int64
0 241    0
Name: amount_per_area, dtype: int64
0 722    0
Name: amount_per_area, dtype: int64
0 1203    0
Name: amount_per_area, dtype: int64
0 241    0
Name: amount_per_area, dtype: int64
0 722    0
Name: amount_per_area, dtype: int64
0 1203    0
Name: amount_per_area, dtype: int64
12 242    169
Name: amount_per_area, dtype: int64

12 723    423
Name: amount_per_area, dtype: int64
12 1204    1099
Name: amount_per_area, dtype: int64
12 242    169
Name: amount_per_area, dtype: int64
12 723    423
Name: amount_per_area, dtype: int64
12 1204    1099
Name: amount_per_area, dtype: int64
19 243    148
Name: amount_per_area, dtype: int64
19 724    296
Name: amount_per_area, dtype: int64
19 1205    777
Name: amount_per_area, dtype: int64
19 243    148
Name: amount_per_area, dtype: int64
19 724    296
Name: amount_per_area, dtype: int64
19 1205    777
Name: amount_per_area, dtype: int64
25 244    266
Name: amount_per_area, dtype: int64
25 725    603
Name: amount_per_area, dtype: int64
25 1206    1543
Name: amount_per_area, dtype: int64
25 244    266
Name: amount_per_area, dtype: int64
25 725    603
Name: amount_per_area, dtype: int64
25 1206    1543
Name: amount_per_area, dtype: int64
14 245    287
Name: amount_per_area, dtype: int64
14 726    703
Name: amount_per_area, dtype: int64
14 1207    1615
Name: amount_per_area, dtype: int64
14 245    287
Name: amount_per_area, dtype: int64
14 726    703
Name: amount_per_area, dtype: int64
14 1207    1615
Name: amount_per_area, dtype: int64
2 246    175
Name: amount_per_area, dtype: int64
2 727    362
Name: amount_per_area, dtype: int64
2 1208    804
Name: amount_per_area, dtype: int64
2 246    175
Name: amount_per_area, dtype: int64
2 727    362
Name: amount_per_area, dtype: int64
2 1208    804
Name: amount_per_area, dtype: int64
26 247    287
Name: amount_per_area, dtype: int64
26 728    660
Name: amount_per_area, dtype: int64
26 1209    1921
Name: amount_per_area, dtype: int64
26 247    287
Name: amount_per_area, dtype: int64
26 728    660
Name: amount_per_area, dtype: int64
26 1209    1921
Name: amount_per_area, dtype: int64
5 248    247
Name: amount_per_area, dtype: int64
5 729    617
Name: amount_per_area, dtype: int64
5 1210    1603
Name: amount_per_area, dtype: int64
5 248    247
Name: amount_per_area, dtype: int64
5 729    617
Name: amount_per_area, dtype: int64
5 1210    1603
Name: amount_per_area, dtype: int64
0 249    0
Name: amount_per_area, dtype: int64
0 730    0
Name: amount_per_area, dtype: int64
0 1211    0
Name: amount_per_area, dtype: int64
0 249    0
Name: amount_per_area, dtype: int64
0 730    0
Name: amount_per_area, dtype: int64
0 1211    0
Name: amount_per_area, dtype: int64
0 250    0
Name: amount_per_area, dtype: int64
0 731    0
Name: amount_per_area, dtype: int64
0 1212    0
Name: amount_per_area, dtype: int64
0 250    0
Name: amount_per_area, dtype: int64
0 731    0
Name: amount_per_area, dtype: int64
0 1212    0
Name: amount_per_area, dtype: int64
54 251    287
Name: amount_per_area, dtype: int64
54 732    984
Name: amount_per_area, dtype: int64
54 1213    2827
Name: amount_per_area, dtype: int64
54 251    287
Name: amount_per_area, dtype: int64
54 732    984
Name: amount_per_area, dtype: int64
54 1213    2827
Name: amount_per_area, dtype: int64
175 252    752
Name: amount_per_area, dtype: int64
175 733    1059
Name: amount_per_area, dtype: int64
175 1214    1605
Name: amount_per_area, dtype: int64
175 252    752
Name: amount_per_area, dtype: int64
175 733    1059
Name: amount_per_area, dtype: int64
175 1214    1605
Name: amount_per_area, dtype: int64
41 253    358
Name: amount_per_area, dtype: int64
41 734    562
Name: amount_per_area, dtype: int64
41 1215    801
Name: amount_per_area, dtype: int64
41 253    358
Name: amount_per_area, dtype: int64
41 734    562
Name: amount_per_area, dtype: int64
41 1215    801
Name: amount_per_area, dtype: int64
107 254    926
Name: amount_per_area, dtype: int64
107 735    1176
Name: amount_per_area, dtype: int64
107 1216    1461
Name: amount_per_area, dtype: int64
107 254    926
Name: amount_per_area, dtype: int64
107 735    1176
Name: amount_per_area, dtype: int64
107 1216    1461
Name: amount_per_area, dtype: int64
54 255    288
Name: amount_per_area, dtype: int64
54 736    460
Name: amount_per_area, dtype: int64
54 1217    1169
Name: amount_per_area, dtype: int64
54 255    288
Name: amount_per_area, dtype: int64
54 736    460
Name: amount_per_area, dtype: int64
54 1217    1169
Name: amount_per_area, dtype: int64
0 256    41
Name: amount_per_area, dtype: int64
0 737    79
Name: amount_per_area, dtype: int64
0 1218    194
Name: amount_per_area, dtype: int64
0 256    41
Name: amount_per_area, dtype: int64
0 737    79
Name: amount_per_area, dtype: int64
0 1218    194
Name: amount_per_area, dtype: int64
69 257    398
Name: amount_per_area, dtype: int64
69 738    904
Name: amount_per_area, dtype: int64
69 1219    2312
Name: amount_per_area, dtype: int64
69 257    398
Name: amount_per_area, dtype: int64
69 738    904
Name: amount_per_area, dtype: int64
69 1219    2312
Name: amount_per_area, dtype: int64
3 258    86
Name: amount_per_area, dtype: int64
3 739    186
Name: amount_per_area, dtype: int64
3 1220    435
Name: amount_per_area, dtype: int64
3 258    86
Name: amount_per_area, dtype: int64
3 739    186
Name: amount_per_area, dtype: int64
3 1220    435
Name: amount_per_area, dtype: int64
21 259    193
Name: amount_per_area, dtype: int64
21 740    372
Name: amount_per_area, dtype: int64
21 1221    921
Name: amount_per_area, dtype: int64
21 259    193
Name: amount_per_area, dtype: int64
21 740    372
Name: amount_per_area, dtype: int64
21 1221    921
Name: amount_per_area, dtype: int64
0 260    0
Name: amount_per_area, dtype: int64
0 741    0
Name: amount_per_area, dtype: int64
0 1222    0
Name: amount_per_area, dtype: int64
0 260    0
Name: amount_per_area, dtype: int64
0 741    0
Name: amount_per_area, dtype: int64
0 1222    0
Name: amount_per_area, dtype: int64
27 261    184
Name: amount_per_area, dtype: int64
27 742    417
Name: amount_per_area, dtype: int64
27 1223    1066
Name: amount_per_area, dtype: int64
27 261    184
Name: amount_per_area, dtype: int64
27 742    417
Name: amount_per_area, dtype: int64
27 1223    1066
Name: amount_per_area, dtype: int64
34 262    282
Name: amount_per_area, dtype: int64
34 743    759
Name: amount_per_area, dtype: int64
34 1224    1771
Name: amount_per_area, dtype: int64
34 262    282
Name: amount_per_area, dtype: int64
34 743    759
Name: amount_per_area, dtype: int64
34 1224    1771
Name: amount_per_area, dtype: int64
31 263    273
Name: amount_per_area, dtype: int64
31 744    696
Name: amount_per_area, dtype: int64
31 1225    2057
Name: amount_per_area, dtype: int64
31 263    273
Name: amount_per_area, dtype: int64
31 744    696
Name: amount_per_area, dtype: int64
31 1225    2057
Name: amount_per_area, dtype: int64
38 264    376
Name: amount_per_area, dtype: int64
38 745    751
Name: amount_per_area, dtype: int64
38 1226    2627
Name: amount_per_area, dtype: int64
38 264    376
Name: amount_per_area, dtype: int64
38 745    751
Name: amount_per_area, dtype: int64
38 1226    2627
Name: amount_per_area, dtype: int64
40 265    334
Name: amount_per_area, dtype: int64
40 746    758
Name: amount_per_area, dtype: int64
40 1227    1970
Name: amount_per_area, dtype: int64
40 265    334
Name: amount_per_area, dtype: int64
40 746    758
Name: amount_per_area, dtype: int64
40 1227    1970
Name: amount_per_area, dtype: int64
21 266    273
Name: amount_per_area, dtype: int64
21 747    716
Name: amount_per_area, dtype: int64
21 1228    2421
Name: amount_per_area, dtype: int64
21 266    273
Name: amount_per_area, dtype: int64
21 747    716
Name: amount_per_area, dtype: int64
21 1228    2421
Name: amount_per_area, dtype: int64
21 267    238
Name: amount_per_area, dtype: int64
21 748    714
Name: amount_per_area, dtype: int64
21 1229    2023
Name: amount_per_area, dtype: int64
21 267    238
Name: amount_per_area, dtype: int64
21 748    714
Name: amount_per_area, dtype: int64
21 1229    2023
Name: amount_per_area, dtype: int64
18 268    319
Name: amount_per_area, dtype: int64
18 749    519
Name: amount_per_area, dtype: int64
18 1230    1156
Name: amount_per_area, dtype: int64
18 268    319
Name: amount_per_area, dtype: int64
18 749    519
Name: amount_per_area, dtype: int64
18 1230    1156
Name: amount_per_area, dtype: int64
10 269    0
Name: amount_per_area, dtype: int64
10 750    0
Name: amount_per_area, dtype: int64
10 1231    0
Name: amount_per_area, dtype: int64
10 269    0
Name: amount_per_area, dtype: int64
10 750    0
Name: amount_per_area, dtype: int64
10 1231    0
Name: amount_per_area, dtype: int64
48 270    505
Name: amount_per_area, dtype: int64
48 751    976
Name: amount_per_area, dtype: int64
48 1232    1885
Name: amount_per_area, dtype: int64
48 270    505
Name: amount_per_area, dtype: int64
48 751    976
Name: amount_per_area, dtype: int64
48 1232    1885
Name: amount_per_area, dtype: int64
107 271    572
Name: amount_per_area, dtype: int64
107 752    1029
Name: amount_per_area, dtype: int64
107 1233    2172
Name: amount_per_area, dtype: int64
107 271    572
Name: amount_per_area, dtype: int64
107 752    1029
Name: amount_per_area, dtype: int64
107 1233    2172
Name: amount_per_area, dtype: int64
52 272    414
Name: amount_per_area, dtype: int64
52 753    698
Name: amount_per_area, dtype: int64
52 1234    1498
Name: amount_per_area, dtype: int64
52 272    414
Name: amount_per_area, dtype: int64
52 753    698
Name: amount_per_area, dtype: int64
52 1234    1498
Name: amount_per_area, dtype: int64
28 273    247
Name: amount_per_area, dtype: int64
28 754    667
Name: amount_per_area, dtype: int64
28 1235    1555
Name: amount_per_area, dtype: int64
28 273    247
Name: amount_per_area, dtype: int64
28 754    667
Name: amount_per_area, dtype: int64
28 1235    1555
Name: amount_per_area, dtype: int64
12 274    132
Name: amount_per_area, dtype: int64
12 755    380
Name: amount_per_area, dtype: int64
12 1236    935
Name: amount_per_area, dtype: int64
12 274    132
Name: amount_per_area, dtype: int64
12 755    380
Name: amount_per_area, dtype: int64
12 1236    935
Name: amount_per_area, dtype: int64
72 275    1125
Name: amount_per_area, dtype: int64
72 756    1163
Name: amount_per_area, dtype: int64
72 1237    1425
Name: amount_per_area, dtype: int64
72 275    1125
Name: amount_per_area, dtype: int64
72 756    1163
Name: amount_per_area, dtype: int64
72 1237    1425
Name: amount_per_area, dtype: int64
0 276    0
Name: amount_per_area, dtype: int64
0 757    0
Name: amount_per_area, dtype: int64
0 1238    0
Name: amount_per_area, dtype: int64
0 276    0
Name: amount_per_area, dtype: int64
0 757    0
Name: amount_per_area, dtype: int64
0 1238    0
Name: amount_per_area, dtype: int64
12 277    76
Name: amount_per_area, dtype: int64
12 758    238
Name: amount_per_area, dtype: int64
12 1239    636
Name: amount_per_area, dtype: int64
12 277    76
Name: amount_per_area, dtype: int64
12 758    238
Name: amount_per_area, dtype: int64
12 1239    636
Name: amount_per_area, dtype: int64
0 278    0
Name: amount_per_area, dtype: int64
0 759    0
Name: amount_per_area, dtype: int64
0 1240    0
Name: amount_per_area, dtype: int64
0 278    0
Name: amount_per_area, dtype: int64
0 759    0
Name: amount_per_area, dtype: int64
0 1240    0
Name: amount_per_area, dtype: int64
33 279    288
Name: amount_per_area, dtype: int64
33 760    557
Name: amount_per_area, dtype: int64
33 1241    970
Name: amount_per_area, dtype: int64
33 279    288
Name: amount_per_area, dtype: int64
33 760    557
Name: amount_per_area, dtype: int64
33 1241    970
Name: amount_per_area, dtype: int64
24 280    212
Name: amount_per_area, dtype: int64
24 761    437
Name: amount_per_area, dtype: int64
24 1242    675
Name: amount_per_area, dtype: int64
24 280    212
Name: amount_per_area, dtype: int64
24 761    437
Name: amount_per_area, dtype: int64
24 1242    675
Name: amount_per_area, dtype: int64
15 281    186
Name: amount_per_area, dtype: int64
15 762    319
Name: amount_per_area, dtype: int64
15 1243    525
Name: amount_per_area, dtype: int64
15 281    186
Name: amount_per_area, dtype: int64
15 762    319
Name: amount_per_area, dtype: int64
15 1243    525
Name: amount_per_area, dtype: int64
0 282    0
Name: amount_per_area, dtype: int64
0 763    0
Name: amount_per_area, dtype: int64
0 1244    0
Name: amount_per_area, dtype: int64
0 282    0
Name: amount_per_area, dtype: int64
0 763    0
Name: amount_per_area, dtype: int64
0 1244    0
Name: amount_per_area, dtype: int64
5 283    113
Name: amount_per_area, dtype: int64
5 764    191
Name: amount_per_area, dtype: int64
5 1245    410
Name: amount_per_area, dtype: int64
5 283    113
Name: amount_per_area, dtype: int64
5 764    191
Name: amount_per_area, dtype: int64
5 1245    410
Name: amount_per_area, dtype: int64
1 284    0
Name: amount_per_area, dtype: int64
1 765    0
Name: amount_per_area, dtype: int64
1 1246    0
Name: amount_per_area, dtype: int64
1 284    0
Name: amount_per_area, dtype: int64
1 765    0
Name: amount_per_area, dtype: int64
1 1246    0
Name: amount_per_area, dtype: int64
15 285    167
Name: amount_per_area, dtype: int64
15 766    188
Name: amount_per_area, dtype: int64
15 1247    688
Name: amount_per_area, dtype: int64
15 285    167
Name: amount_per_area, dtype: int64
15 766    188
Name: amount_per_area, dtype: int64
15 1247    688
Name: amount_per_area, dtype: int64
62 286    415
Name: amount_per_area, dtype: int64
62 767    691
Name: amount_per_area, dtype: int64
62 1248    868
Name: amount_per_area, dtype: int64
62 286    415
Name: amount_per_area, dtype: int64
62 767    691
Name: amount_per_area, dtype: int64
62 1248    868
Name: amount_per_area, dtype: int64
16 287    160
Name: amount_per_area, dtype: int64
16 768    365
Name: amount_per_area, dtype: int64

16 1249    616
Name: amount_per_area, dtype: int64
16 287    160
Name: amount_per_area, dtype: int64
16 768    365
Name: amount_per_area, dtype: int64
16 1249    616
Name: amount_per_area, dtype: int64
0 288    0
Name: amount_per_area, dtype: int64
0 769    0
Name: amount_per_area, dtype: int64
0 1250    0
Name: amount_per_area, dtype: int64
0 288    0
Name: amount_per_area, dtype: int64
0 769    0
Name: amount_per_area, dtype: int64
0 1250    0
Name: amount_per_area, dtype: int64
25 289    216
Name: amount_per_area, dtype: int64
25 770    709
Name: amount_per_area, dtype: int64
25 1251    2127
Name: amount_per_area, dtype: int64
25 289    216
Name: amount_per_area, dtype: int64
25 770    709
Name: amount_per_area, dtype: int64
25 1251    2127
Name: amount_per_area, dtype: int64
54 290    375
Name: amount_per_area, dtype: int64
54 771    718
Name: amount_per_area, dtype: int64
54 1252    2061
Name: amount_per_area, dtype: int64
54 290    375
Name: amount_per_area, dtype: int64
54 771    718
Name: amount_per_area, dtype: int64
54 1252    2061
Name: amount_per_area, dtype: int64
66 291    300
Name: amount_per_area, dtype: int64
66 772    558
Name: amount_per_area, dtype: int64
66 1253    504
Name: amount_per_area, dtype: int64
66 291    300
Name: amount_per_area, dtype: int64
66 772    558
Name: amount_per_area, dtype: int64
66 1253    504
Name: amount_per_area, dtype: int64
133 292    535
Name: amount_per_area, dtype: int64
133 773    850
Name: amount_per_area, dtype: int64
133 1254    1730
Name: amount_per_area, dtype: int64
133 292    535
Name: amount_per_area, dtype: int64
133 773    850
Name: amount_per_area, dtype: int64
133 1254    1730
Name: amount_per_area, dtype: int64
0 293    11
Name: amount_per_area, dtype: int64
0 774    28
Name: amount_per_area, dtype: int64
0 1255    56
Name: amount_per_area, dtype: int64
0 293    11
Name: amount_per_area, dtype: int64
0 774    28
Name: amount_per_area, dtype: int64
0 1255    56
Name: amount_per_area, dtype: int64
137 294    747
Name: amount_per_area, dtype: int64
137 775    1078
Name: amount_per_area, dtype: int64
137 1256    2363
Name: amount_per_area, dtype: int64
137 294    747
Name: amount_per_area, dtype: int64
137 775    1078
Name: amount_per_area, dtype: int64
137 1256    2363
Name: amount_per_area, dtype: int64
317 295    1274
Name: amount_per_area, dtype: int64
317 776    1186
Name: amount_per_area, dtype: int64
317 1257    1933
Name: amount_per_area, dtype: int64
317 295    1274
Name: amount_per_area, dtype: int64
317 776    1186
Name: amount_per_area, dtype: int64
317 1257    1933
Name: amount_per_area, dtype: int64
277 296    922
Name: amount_per_area, dtype: int64
277 777    999
Name: amount_per_area, dtype: int64
277 1258    1920
Name: amount_per_area, dtype: int64
277 296    922
Name: amount_per_area, dtype: int64
277 777    999
Name: amount_per_area, dtype: int64
277 1258    1920
Name: amount_per_area, dtype: int64
236 297    873
Name: amount_per_area, dtype: int64
236 778    1025
Name: amount_per_area, dtype: int64
236 1259    1898
Name: amount_per_area, dtype: int64
236 297    873
Name: amount_per_area, dtype: int64
236 778    1025
Name: amount_per_area, dtype: int64
236 1259    1898
Name: amount_per_area, dtype: int64
53 298    380
Name: amount_per_area, dtype: int64
53 779    348
Name: amount_per_area, dtype: int64
53 1260    838
Name: amount_per_area, dtype: int64
53 298    380
Name: amount_per_area, dtype: int64
53 779    348
Name: amount_per_area, dtype: int64
53 1260    838
Name: amount_per_area, dtype: int64
280 299    1109
Name: amount_per_area, dtype: int64
280 780    1150
Name: amount_per_area, dtype: int64
280 1261    1847
Name: amount_per_area, dtype: int64
280 299    1109
Name: amount_per_area, dtype: int64
280 780    1150
Name: amount_per_area, dtype: int64
280 1261    1847
Name: amount_per_area, dtype: int64
315 300    1186
Name: amount_per_area, dtype: int64
315 781    1278
Name: amount_per_area, dtype: int64
315 1262    2099
Name: amount_per_area, dtype: int64
315 300    1186
Name: amount_per_area, dtype: int64
315 781    1278
Name: amount_per_area, dtype: int64
315 1262    2099
Name: amount_per_area, dtype: int64
159 301    734
Name: amount_per_area, dtype: int64
159 782    978
Name: amount_per_area, dtype: int64
159 1263    2364
Name: amount_per_area, dtype: int64
159 301    734
Name: amount_per_area, dtype: int64
159 782    978
Name: amount_per_area, dtype: int64
159 1263    2364
Name: amount_per_area, dtype: int64
343 302    1161
Name: amount_per_area, dtype: int64
343 783    1438
Name: amount_per_area, dtype: int64
343 1264    2875
Name: amount_per_area, dtype: int64
343 302    1161
Name: amount_per_area, dtype: int64
343 783    1438
Name: amount_per_area, dtype: int64
343 1264    2875
Name: amount_per_area, dtype: int64
528 303    1757
Name: amount_per_area, dtype: int64
528 784    1307
Name: amount_per_area, dtype: int64
528 1265    1442
Name: amount_per_area, dtype: int64
528 303    1757
Name: amount_per_area, dtype: int64
528 784    1307
Name: amount_per_area, dtype: int64
528 1265    1442
Name: amount_per_area, dtype: int64
386 304    1339
Name: amount_per_area, dtype: int64
386 785    1177
Name: amount_per_area, dtype: int64
386 1266    1502
Name: amount_per_area, dtype: int64
386 304    1339
Name: amount_per_area, dtype: int64
386 785    1177
Name: amount_per_area, dtype: int64
386 1266    1502
Name: amount_per_area, dtype: int64
543 305    1537
Name: amount_per_area, dtype: int64
543 786    1311
Name: amount_per_area, dtype: int64
543 1267    1718
Name: amount_per_area, dtype: int64
543 305    1537
Name: amount_per_area, dtype: int64
543 786    1311
Name: amount_per_area, dtype: int64
543 1267    1718
Name: amount_per_area, dtype: int64
39 306    166
Name: amount_per_area, dtype: int64
39 787    253
Name: amount_per_area, dtype: int64
39 1268    555
Name: amount_per_area, dtype: int64
39 306    166
Name: amount_per_area, dtype: int64
39 787    253
Name: amount_per_area, dtype: int64
39 1268    555
Name: amount_per_area, dtype: int64
0 307    0
Name: amount_per_area, dtype: int64
0 788    0
Name: amount_per_area, dtype: int64
0 1269    0
Name: amount_per_area, dtype: int64
0 307    0
Name: amount_per_area, dtype: int64
0 788    0
Name: amount_per_area, dtype: int64
0 1269    0
Name: amount_per_area, dtype: int64
27 308    162
Name: amount_per_area, dtype: int64
27 789    277
Name: amount_per_area, dtype: int64
27 1270    715
Name: amount_per_area, dtype: int64
27 308    162
Name: amount_per_area, dtype: int64
27 789    277
Name: amount_per_area, dtype: int64
27 1270    715
Name: amount_per_area, dtype: int64
60 309    243
Name: amount_per_area, dtype: int64
60 790    405
Name: amount_per_area, dtype: int64
60 1271    972
Name: amount_per_area, dtype: int64
60 309    243
Name: amount_per_area, dtype: int64
60 790    405
Name: amount_per_area, dtype: int64
60 1271    972
Name: amount_per_area, dtype: int64
49 310    321
Name: amount_per_area, dtype: int64
49 791    769
Name: amount_per_area, dtype: int64
49 1272    2113
Name: amount_per_area, dtype: int64
49 310    321
Name: amount_per_area, dtype: int64
49 791    769
Name: amount_per_area, dtype: int64
49 1272    2113
Name: amount_per_area, dtype: int64
58 311    451
Name: amount_per_area, dtype: int64
58 792    901
Name: amount_per_area, dtype: int64
58 1273    1865
Name: amount_per_area, dtype: int64
58 311    451
Name: amount_per_area, dtype: int64
58 792    901
Name: amount_per_area, dtype: int64
58 1273    1865
Name: amount_per_area, dtype: int64
57 312    601
Name: amount_per_area, dtype: int64
57 793    955
Name: amount_per_area, dtype: int64
57 1274    2015
Name: amount_per_area, dtype: int64
57 312    601
Name: amount_per_area, dtype: int64
57 793    955
Name: amount_per_area, dtype: int64
57 1274    2015
Name: amount_per_area, dtype: int64
50 313    580
Name: amount_per_area, dtype: int64
50 794    1078
Name: amount_per_area, dtype: int64
50 1275    2486
Name: amount_per_area, dtype: int64
50 313    580
Name: amount_per_area, dtype: int64
50 794    1078
Name: amount_per_area, dtype: int64
50 1275    2486
Name: amount_per_area, dtype: int64
79 314    521
Name: amount_per_area, dtype: int64
79 795    781
Name: amount_per_area, dtype: int64
79 1276    1064
Name: amount_per_area, dtype: int64
79 314    521
Name: amount_per_area, dtype: int64
79 795    781
Name: amount_per_area, dtype: int64
79 1276    1064
Name: amount_per_area, dtype: int64
148 315    572
Name: amount_per_area, dtype: int64
148 796    842
Name: amount_per_area, dtype: int64
148 1277    1594
Name: amount_per_area, dtype: int64
148 315    572
Name: amount_per_area, dtype: int64
148 796    842
Name: amount_per_area, dtype: int64
148 1277    1594
Name: amount_per_area, dtype: int64
0 316    0
Name: amount_per_area, dtype: int64
0 797    0
Name: amount_per_area, dtype: int64
0 1278    0
Name: amount_per_area, dtype: int64
0 316    0
Name: amount_per_area, dtype: int64
0 797    0
Name: amount_per_area, dtype: int64
0 1278    0
Name: amount_per_area, dtype: int64
7 317    37
Name: amount_per_area, dtype: int64
7 798    114
Name: amount_per_area, dtype: int64
7 1279    309
Name: amount_per_area, dtype: int64
7 317    37
Name: amount_per_area, dtype: int64
7 798    114
Name: amount_per_area, dtype: int64
7 1279    309
Name: amount_per_area, dtype: int64
0 318    0
Name: amount_per_area, dtype: int64
0 799    0
Name: amount_per_area, dtype: int64
0 1280    0
Name: amount_per_area, dtype: int64
0 318    0
Name: amount_per_area, dtype: int64
0 799    0
Name: amount_per_area, dtype: int64
0 1280    0
Name: amount_per_area, dtype: int64
0 319    0
Name: amount_per_area, dtype: int64
0 800    0
Name: amount_per_area, dtype: int64
0 1281    0
Name: amount_per_area, dtype: int64
0 319    0
Name: amount_per_area, dtype: int64
0 800    0
Name: amount_per_area, dtype: int64
0 1281    0
Name: amount_per_area, dtype: int64
7 320    0
Name: amount_per_area, dtype: int64
7 801    0
Name: amount_per_area, dtype: int64
7 1282    0
Name: amount_per_area, dtype: int64
7 320    0
Name: amount_per_area, dtype: int64
7 801    0
Name: amount_per_area, dtype: int64
7 1282    0
Name: amount_per_area, dtype: int64
0 321    17
Name: amount_per_area, dtype: int64
0 802    162
Name: amount_per_area, dtype: int64
0 1283    145
Name: amount_per_area, dtype: int64
0 321    17
Name: amount_per_area, dtype: int64
0 802    162
Name: amount_per_area, dtype: int64
0 1283    145
Name: amount_per_area, dtype: int64
0 322    4
Name: amount_per_area, dtype: int64
0 803    5
Name: amount_per_area, dtype: int64
0 1284    4
Name: amount_per_area, dtype: int64
0 322    4
Name: amount_per_area, dtype: int64
0 803    5
Name: amount_per_area, dtype: int64
0 1284    4
Name: amount_per_area, dtype: int64
53 323    175
Name: amount_per_area, dtype: int64
53 804    559
Name: amount_per_area, dtype: int64
53 1285    1012
Name: amount_per_area, dtype: int64
53 323    175
Name: amount_per_area, dtype: int64
53 804    559
Name: amount_per_area, dtype: int64
53 1285    1012
Name: amount_per_area, dtype: int64
0 324    0
Name: amount_per_area, dtype: int64
0 805    0
Name: amount_per_area, dtype: int64
0 1286    0
Name: amount_per_area, dtype: int64
0 324    0
Name: amount_per_area, dtype: int64
0 805    0
Name: amount_per_area, dtype: int64
0 1286    0
Name: amount_per_area, dtype: int64
60 325    409
Name: amount_per_area, dtype: int64
60 806    539
Name: amount_per_area, dtype: int64
60 1287    911
Name: amount_per_area, dtype: int64
60 325    409
Name: amount_per_area, dtype: int64
60 806    539
Name: amount_per_area, dtype: int64
60 1287    911
Name: amount_per_area, dtype: int64
46 326    557
Name: amount_per_area, dtype: int64
46 807    495
Name: amount_per_area, dtype: int64
46 1288    1010
Name: amount_per_area, dtype: int64
46 326    557
Name: amount_per_area, dtype: int64
46 807    495
Name: amount_per_area, dtype: int64
46 1288    1010
Name: amount_per_area, dtype: int64
33 327    361
Name: amount_per_area, dtype: int64
33 808    433
Name: amount_per_area, dtype: int64
33 1289    1011
Name: amount_per_area, dtype: int64
33 327    361
Name: amount_per_area, dtype: int64
33 808    433
Name: amount_per_area, dtype: int64
33 1289    1011
Name: amount_per_area, dtype: int64
108 328    612
Name: amount_per_area, dtype: int64
108 809    874
Name: amount_per_area, dtype: int64
108 1290    1428
Name: amount_per_area, dtype: int64
108 328    612
Name: amount_per_area, dtype: int64
108 809    874
Name: amount_per_area, dtype: int64
108 1290    1428
Name: amount_per_area, dtype: int64
116 329    781
Name: amount_per_area, dtype: int64
116 810    938
Name: amount_per_area, dtype: int64
116 1291    1406
Name: amount_per_area, dtype: int64

116 329    781
Name: amount_per_area, dtype: int64
116 810    938
Name: amount_per_area, dtype: int64
116 1291    1406
Name: amount_per_area, dtype: int64
0 330    0
Name: amount_per_area, dtype: int64
0 811    0
Name: amount_per_area, dtype: int64
0 1292    0
Name: amount_per_area, dtype: int64
0 330    0
Name: amount_per_area, dtype: int64
0 811    0
Name: amount_per_area, dtype: int64
0 1292    0
Name: amount_per_area, dtype: int64
0 331    0
Name: amount_per_area, dtype: int64
0 812    0
Name: amount_per_area, dtype: int64
0 1293    0
Name: amount_per_area, dtype: int64
0 331    0
Name: amount_per_area, dtype: int64
0 812    0
Name: amount_per_area, dtype: int64
0 1293    0
Name: amount_per_area, dtype: int64
0 332    0
Name: amount_per_area, dtype: int64
0 813    0
Name: amount_per_area, dtype: int64
0 1294    0
Name: amount_per_area, dtype: int64
0 332    0
Name: amount_per_area, dtype: int64
0 813    0
Name: amount_per_area, dtype: int64
0 1294    0
Name: amount_per_area, dtype: int64
0 333    0
Name: amount_per_area, dtype: int64
0 814    0
Name: amount_per_area, dtype: int64
0 1295    0
Name: amount_per_area, dtype: int64
0 333    0
Name: amount_per_area, dtype: int64
0 814    0
Name: amount_per_area, dtype: int64
0 1295    0
Name: amount_per_area, dtype: int64
0 334    0
Name: amount_per_area, dtype: int64
0 815    0
Name: amount_per_area, dtype: int64
0 1296    0
Name: amount_per_area, dtype: int64
0 334    0
Name: amount_per_area, dtype: int64
0 815    0
Name: amount_per_area, dtype: int64
0 1296    0
Name: amount_per_area, dtype: int64
0 335    0
Name: amount_per_area, dtype: int64
0 816    0
Name: amount_per_area, dtype: int64
0 1297    0
Name: amount_per_area, dtype: int64
0 335    0
Name: amount_per_area, dtype: int64
0 816    0
Name: amount_per_area, dtype: int64
0 1297    0
Name: amount_per_area, dtype: int64
0 336    0
Name: amount_per_area, dtype: int64
0 817    0
Name: amount_per_area, dtype: int64
0 1298    0
Name: amount_per_area, dtype: int64
0 336    0
Name: amount_per_area, dtype: int64
0 817    0
Name: amount_per_area, dtype: int64
0 1298    0
Name: amount_per_area, dtype: int64
7 337    72
Name: amount_per_area, dtype: int64
7 818    61
Name: amount_per_area, dtype: int64
7 1299    417
Name: amount_per_area, dtype: int64
7 337    72
Name: amount_per_area, dtype: int64
7 818    61
Name: amount_per_area, dtype: int64
7 1299    417
Name: amount_per_area, dtype: int64
95 338    485
Name: amount_per_area, dtype: int64
95 819    654
Name: amount_per_area, dtype: int64
95 1300    1283
Name: amount_per_area, dtype: int64
95 338    485
Name: amount_per_area, dtype: int64
95 819    654
Name: amount_per_area, dtype: int64
95 1300    1283
Name: amount_per_area, dtype: int64
192 339    832
Name: amount_per_area, dtype: int64
192 820    970
Name: amount_per_area, dtype: int64
192 1301    998
Name: amount_per_area, dtype: int64
192 339    832
Name: amount_per_area, dtype: int64
192 820    970
Name: amount_per_area, dtype: int64
192 1301    998
Name: amount_per_area, dtype: int64
32 340    289
Name: amount_per_area, dtype: int64
32 821    841
Name: amount_per_area, dtype: int64
32 1302    1250
Name: amount_per_area, dtype: int64
32 340    289
Name: amount_per_area, dtype: int64
32 821    841
Name: amount_per_area, dtype: int64
32 1302    1250
Name: amount_per_area, dtype: int64
33 341    77
Name: amount_per_area, dtype: int64
33 822    173
Name: amount_per_area, dtype: int64
33 1303    721
Name: amount_per_area, dtype: int64
33 341    77
Name: amount_per_area, dtype: int64
33 822    173
Name: amount_per_area, dtype: int64
33 1303    721
Name: amount_per_area, dtype: int64
22 342    354
Name: amount_per_area, dtype: int64
22 823    543
Name: amount_per_area, dtype: int64
22 1304    1462
Name: amount_per_area, dtype: int64
22 342    354
Name: amount_per_area, dtype: int64
22 823    543
Name: amount_per_area, dtype: int64
22 1304    1462
Name: amount_per_area, dtype: int64
0 343    0
Name: amount_per_area, dtype: int64
0 824    0
Name: amount_per_area, dtype: int64
0 1305    0
Name: amount_per_area, dtype: int64
0 343    0
Name: amount_per_area, dtype: int64
0 824    0
Name: amount_per_area, dtype: int64
0 1305    0
Name: amount_per_area, dtype: int64
59 344    587
Name: amount_per_area, dtype: int64
59 825    423
Name: amount_per_area, dtype: int64
59 1306    342
Name: amount_per_area, dtype: int64
59 344    587
Name: amount_per_area, dtype: int64
59 825    423
Name: amount_per_area, dtype: int64
59 1306    342
Name: amount_per_area, dtype: int64
19 345    270
Name: amount_per_area, dtype: int64
19 826    356
Name: amount_per_area, dtype: int64
19 1307    613
Name: amount_per_area, dtype: int64
19 345    270
Name: amount_per_area, dtype: int64
19 826    356
Name: amount_per_area, dtype: int64
19 1307    613
Name: amount_per_area, dtype: int64
27 346    291
Name: amount_per_area, dtype: int64
27 827    383
Name: amount_per_area, dtype: int64
27 1308    488
Name: amount_per_area, dtype: int64
27 346    291
Name: amount_per_area, dtype: int64
27 827    383
Name: amount_per_area, dtype: int64
27 1308    488
Name: amount_per_area, dtype: int64
49 347    534
Name: amount_per_area, dtype: int64
49 828    519
Name: amount_per_area, dtype: int64
49 1309    430
Name: amount_per_area, dtype: int64
49 347    534
Name: amount_per_area, dtype: int64
49 828    519
Name: amount_per_area, dtype: int64
49 1309    430
Name: amount_per_area, dtype: int64
22 348    299
Name: amount_per_area, dtype: int64
22 829    624
Name: amount_per_area, dtype: int64
22 1310    1791
Name: amount_per_area, dtype: int64
22 348    299
Name: amount_per_area, dtype: int64
22 829    624
Name: amount_per_area, dtype: int64
22 1310    1791
Name: amount_per_area, dtype: int64
25 349    386
Name: amount_per_area, dtype: int64
25 830    716
Name: amount_per_area, dtype: int64
25 1311    1680
Name: amount_per_area, dtype: int64
25 349    386
Name: amount_per_area, dtype: int64
25 830    716
Name: amount_per_area, dtype: int64
25 1311    1680
Name: amount_per_area, dtype: int64
10 350    250
Name: amount_per_area, dtype: int64
10 831    545
Name: amount_per_area, dtype: int64
10 1312    1474
Name: amount_per_area, dtype: int64
10 350    250
Name: amount_per_area, dtype: int64
10 831    545
Name: amount_per_area, dtype: int64
10 1312    1474
Name: amount_per_area, dtype: int64
1 351    30
Name: amount_per_area, dtype: int64
1 832    78
Name: amount_per_area, dtype: int64
1 1313    160
Name: amount_per_area, dtype: int64
1 351    30
Name: amount_per_area, dtype: int64
1 832    78
Name: amount_per_area, dtype: int64
1 1313    160
Name: amount_per_area, dtype: int64
2 352    0
Name: amount_per_area, dtype: int64
2 833    0
Name: amount_per_area, dtype: int64
2 1314    0
Name: amount_per_area, dtype: int64
2 352    0
Name: amount_per_area, dtype: int64
2 833    0
Name: amount_per_area, dtype: int64
2 1314    0
Name: amount_per_area, dtype: int64
29 353    226
Name: amount_per_area, dtype: int64
29 834    391
Name: amount_per_area, dtype: int64
29 1315    569
Name: amount_per_area, dtype: int64
29 353    226
Name: amount_per_area, dtype: int64
29 834    391
Name: amount_per_area, dtype: int64
29 1315    569
Name: amount_per_area, dtype: int64
0 354    0
Name: amount_per_area, dtype: int64
0 835    0
Name: amount_per_area, dtype: int64
0 1316    0
Name: amount_per_area, dtype: int64
0 354    0
Name: amount_per_area, dtype: int64
0 835    0
Name: amount_per_area, dtype: int64
0 1316    0
Name: amount_per_area, dtype: int64
18 355    24
Name: amount_per_area, dtype: int64
18 836    599
Name: amount_per_area, dtype: int64
18 1317    552
Name: amount_per_area, dtype: int64
18 355    24
Name: amount_per_area, dtype: int64
18 836    599
Name: amount_per_area, dtype: int64
18 1317    552
Name: amount_per_area, dtype: int64
2 356    0
Name: amount_per_area, dtype: int64
2 837    0
Name: amount_per_area, dtype: int64
2 1318    0
Name: amount_per_area, dtype: int64
2 356    0
Name: amount_per_area, dtype: int64
2 837    0
Name: amount_per_area, dtype: int64
2 1318    0
Name: amount_per_area, dtype: int64
24 357    401
Name: amount_per_area, dtype: int64
24 838    427
Name: amount_per_area, dtype: int64
24 1319    465
Name: amount_per_area, dtype: int64
24 357    401
Name: amount_per_area, dtype: int64
24 838    427
Name: amount_per_area, dtype: int64
24 1319    465
Name: amount_per_area, dtype: int64
0 358    0
Name: amount_per_area, dtype: int64
0 839    0
Name: amount_per_area, dtype: int64
0 1320    0
Name: amount_per_area, dtype: int64
0 358    0
Name: amount_per_area, dtype: int64
0 839    0
Name: amount_per_area, dtype: int64
0 1320    0
Name: amount_per_area, dtype: int64
0 359    0
Name: amount_per_area, dtype: int64
0 840    0
Name: amount_per_area, dtype: int64
0 1321    0
Name: amount_per_area, dtype: int64
0 359    0
Name: amount_per_area, dtype: int64
0 840    0
Name: amount_per_area, dtype: int64
0 1321    0
Name: amount_per_area, dtype: int64
9 360    66
Name: amount_per_area, dtype: int64
9 841    212
Name: amount_per_area, dtype: int64
9 1322    267
Name: amount_per_area, dtype: int64
9 360    66
Name: amount_per_area, dtype: int64
9 841    212
Name: amount_per_area, dtype: int64
9 1322    267
Name: amount_per_area, dtype: int64
0 361    0
Name: amount_per_area, dtype: int64
0 842    0
Name: amount_per_area, dtype: int64
0 1323    0
Name: amount_per_area, dtype: int64
0 361    0
Name: amount_per_area, dtype: int64
0 842    0
Name: amount_per_area, dtype: int64
0 1323    0
Name: amount_per_area, dtype: int64
1 362    0
Name: amount_per_area, dtype: int64
1 843    0
Name: amount_per_area, dtype: int64
1 1324    0
Name: amount_per_area, dtype: int64
1 362    0
Name: amount_per_area, dtype: int64
1 843    0
Name: amount_per_area, dtype: int64
1 1324    0
Name: amount_per_area, dtype: int64
22 363    57
Name: amount_per_area, dtype: int64
22 844    306
Name: amount_per_area, dtype: int64
22 1325    770
Name: amount_per_area, dtype: int64
22 363    57
Name: amount_per_area, dtype: int64
22 844    306
Name: amount_per_area, dtype: int64
22 1325    770
Name: amount_per_area, dtype: int64
30 364    68
Name: amount_per_area, dtype: int64
30 845    148
Name: amount_per_area, dtype: int64
30 1326    918
Name: amount_per_area, dtype: int64
30 364    68
Name: amount_per_area, dtype: int64
30 845    148
Name: amount_per_area, dtype: int64
30 1326    918
Name: amount_per_area, dtype: int64
0 365    0
Name: amount_per_area, dtype: int64
0 846    0
Name: amount_per_area, dtype: int64
0 1327    0
Name: amount_per_area, dtype: int64
0 365    0
Name: amount_per_area, dtype: int64
0 846    0
Name: amount_per_area, dtype: int64
0 1327    0
Name: amount_per_area, dtype: int64
9 366    18
Name: amount_per_area, dtype: int64
9 847    308
Name: amount_per_area, dtype: int64
9 1328    266
Name: amount_per_area, dtype: int64
9 366    18
Name: amount_per_area, dtype: int64
9 847    308
Name: amount_per_area, dtype: int64
9 1328    266
Name: amount_per_area, dtype: int64
107 367    636
Name: amount_per_area, dtype: int64
107 848    602
Name: amount_per_area, dtype: int64
107 1329    482
Name: amount_per_area, dtype: int64
107 367    636
Name: amount_per_area, dtype: int64
107 848    602
Name: amount_per_area, dtype: int64
107 1329    482
Name: amount_per_area, dtype: int64
41 368    438
Name: amount_per_area, dtype: int64
41 849    403
Name: amount_per_area, dtype: int64
41 1330    332
Name: amount_per_area, dtype: int64
41 368    438
Name: amount_per_area, dtype: int64
41 849    403
Name: amount_per_area, dtype: int64
41 1330    332
Name: amount_per_area, dtype: int64
40 369    458
Name: amount_per_area, dtype: int64
40 850    396
Name: amount_per_area, dtype: int64
40 1331    384
Name: amount_per_area, dtype: int64
40 369    458
Name: amount_per_area, dtype: int64
40 850    396
Name: amount_per_area, dtype: int64
40 1331    384
Name: amount_per_area, dtype: int64
126 370    725
Name: amount_per_area, dtype: int64
126 851    791
Name: amount_per_area, dtype: int64
126 1332    659
Name: amount_per_area, dtype: int64
126 370    725
Name: amount_per_area, dtype: int64
126 851    791
Name: amount_per_area, dtype: int64
126 1332    659
Name: amount_per_area, dtype: int64
100 371    814
Name: amount_per_area, dtype: int64
100 852    791
Name: amount_per_area, dtype: int64
100 1333    721
Name: amount_per_area, dtype: int64
100 371    814
Name: amount_per_area, dtype: int64
100 852    791
Name: amount_per_area, dtype: int64
100 1333    721
Name: amount_per_area, dtype: int64
16 372    236
Name: amount_per_area, dtype: int64
16 853    259
Name: amount_per_area, dtype: int64
16 1334    267
Name: amount_per_area, dtype: int64
16 372    236
Name: amount_per_area, dtype: int64
16 853    259
Name: amount_per_area, dtype: int64
16 1334    267
Name: amount_per_area, dtype: int64
0 373    17
Name: amount_per_area, dtype: int64
0 854    27
Name: amount_per_area, dtype: int64
0 1335    44
Name: amount_per_area, dtype: int64
0 373    17
Name: amount_per_area, dtype: int64
0 854    27
Name: amount_per_area, dtype: int64
0 1335    44
Name: amount_per_area, dtype: int64
23 374    567
Name: amount_per_area, dtype: int64
23 855    632
Name: amount_per_area, dtype: int64
23 1336    422
Name: amount_per_area, dtype: int64

23 374    567
Name: amount_per_area, dtype: int64
23 855    632
Name: amount_per_area, dtype: int64
23 1336    422
Name: amount_per_area, dtype: int64
10 375    409
Name: amount_per_area, dtype: int64
10 856    477
Name: amount_per_area, dtype: int64
10 1337    477
Name: amount_per_area, dtype: int64
10 375    409
Name: amount_per_area, dtype: int64
10 856    477
Name: amount_per_area, dtype: int64
10 1337    477
Name: amount_per_area, dtype: int64
33 376    813
Name: amount_per_area, dtype: int64
33 857    697
Name: amount_per_area, dtype: int64
33 1338    426
Name: amount_per_area, dtype: int64
33 376    813
Name: amount_per_area, dtype: int64
33 857    697
Name: amount_per_area, dtype: int64
33 1338    426
Name: amount_per_area, dtype: int64
0 377    0
Name: amount_per_area, dtype: int64
0 858    0
Name: amount_per_area, dtype: int64
0 1339    0
Name: amount_per_area, dtype: int64
0 377    0
Name: amount_per_area, dtype: int64
0 858    0
Name: amount_per_area, dtype: int64
0 1339    0
Name: amount_per_area, dtype: int64
0 378    0
Name: amount_per_area, dtype: int64
0 859    0
Name: amount_per_area, dtype: int64
0 1340    0
Name: amount_per_area, dtype: int64
0 378    0
Name: amount_per_area, dtype: int64
0 859    0
Name: amount_per_area, dtype: int64
0 1340    0
Name: amount_per_area, dtype: int64
0 379    238
Name: amount_per_area, dtype: int64
0 860    402
Name: amount_per_area, dtype: int64
0 1341    1186
Name: amount_per_area, dtype: int64
0 379    238
Name: amount_per_area, dtype: int64
0 860    402
Name: amount_per_area, dtype: int64
0 1341    1186
Name: amount_per_area, dtype: int64
6 380    124
Name: amount_per_area, dtype: int64
6 861    229
Name: amount_per_area, dtype: int64
6 1342    601
Name: amount_per_area, dtype: int64
6 380    124
Name: amount_per_area, dtype: int64
6 861    229
Name: amount_per_area, dtype: int64
6 1342    601
Name: amount_per_area, dtype: int64
0 381    0
Name: amount_per_area, dtype: int64
0 862    0
Name: amount_per_area, dtype: int64
0 1343    0
Name: amount_per_area, dtype: int64
0 381    0
Name: amount_per_area, dtype: int64
0 862    0
Name: amount_per_area, dtype: int64
0 1343    0
Name: amount_per_area, dtype: int64
31 382    451
Name: amount_per_area, dtype: int64
31 863    511
Name: amount_per_area, dtype: int64
31 1344    226
Name: amount_per_area, dtype: int64
31 382    451
Name: amount_per_area, dtype: int64
31 863    511
Name: amount_per_area, dtype: int64
31 1344    226
Name: amount_per_area, dtype: int64
37 383    526
Name: amount_per_area, dtype: int64
37 864    555
Name: amount_per_area, dtype: int64
37 1345    380
Name: amount_per_area, dtype: int64
37 383    526
Name: amount_per_area, dtype: int64
37 864    555
Name: amount_per_area, dtype: int64
37 1345    380
Name: amount_per_area, dtype: int64
35 384    388
Name: amount_per_area, dtype: int64
35 865    420
Name: amount_per_area, dtype: int64
35 1346    259
Name: amount_per_area, dtype: int64
35 384    388
Name: amount_per_area, dtype: int64
35 865    420
Name: amount_per_area, dtype: int64
35 1346    259
Name: amount_per_area, dtype: int64
84 385    394
Name: amount_per_area, dtype: int64
84 866    442
Name: amount_per_area, dtype: int64
84 1347    741
Name: amount_per_area, dtype: int64
84 385    394
Name: amount_per_area, dtype: int64
84 866    442
Name: amount_per_area, dtype: int64
84 1347    741
Name: amount_per_area, dtype: int64
0 386    33
Name: amount_per_area, dtype: int64
0 867    53
Name: amount_per_area, dtype: int64
0 1348    80
Name: amount_per_area, dtype: int64
0 386    33
Name: amount_per_area, dtype: int64
0 867    53
Name: amount_per_area, dtype: int64
0 1348    80
Name: amount_per_area, dtype: int64
37 387    141
Name: amount_per_area, dtype: int64
37 868    256
Name: amount_per_area, dtype: int64
37 1349    126
Name: amount_per_area, dtype: int64
37 387    141
Name: amount_per_area, dtype: int64
37 868    256
Name: amount_per_area, dtype: int64
37 1349    126
Name: amount_per_area, dtype: int64
33 388    304
Name: amount_per_area, dtype: int64
33 869    455
Name: amount_per_area, dtype: int64
33 1350    408
Name: amount_per_area, dtype: int64
33 388    304
Name: amount_per_area, dtype: int64
33 869    455
Name: amount_per_area, dtype: int64
33 1350    408
Name: amount_per_area, dtype: int64
0 389    7
Name: amount_per_area, dtype: int64
0 870    14
Name: amount_per_area, dtype: int64
0 1351    14
Name: amount_per_area, dtype: int64
0 389    7
Name: amount_per_area, dtype: int64
0 870    14
Name: amount_per_area, dtype: int64
0 1351    14
Name: amount_per_area, dtype: int64
180 390    853
Name: amount_per_area, dtype: int64
180 871    758
Name: amount_per_area, dtype: int64
180 1352    285
Name: amount_per_area, dtype: int64
180 390    853
Name: amount_per_area, dtype: int64
180 871    758
Name: amount_per_area, dtype: int64
180 1352    285
Name: amount_per_area, dtype: int64
81 391    471
Name: amount_per_area, dtype: int64
81 872    728
Name: amount_per_area, dtype: int64
81 1353    304
Name: amount_per_area, dtype: int64
81 391    471
Name: amount_per_area, dtype: int64
81 872    728
Name: amount_per_area, dtype: int64
81 1353    304
Name: amount_per_area, dtype: int64
6 392    61
Name: amount_per_area, dtype: int64
6 873    111
Name: amount_per_area, dtype: int64
6 1354    164
Name: amount_per_area, dtype: int64
6 392    61
Name: amount_per_area, dtype: int64
6 873    111
Name: amount_per_area, dtype: int64
6 1354    164
Name: amount_per_area, dtype: int64
45 393    363
Name: amount_per_area, dtype: int64
45 874    470
Name: amount_per_area, dtype: int64
45 1355    224
Name: amount_per_area, dtype: int64
45 393    363
Name: amount_per_area, dtype: int64
45 874    470
Name: amount_per_area, dtype: int64
45 1355    224
Name: amount_per_area, dtype: int64
28 394    226
Name: amount_per_area, dtype: int64
28 875    338
Name: amount_per_area, dtype: int64
28 1356    376
Name: amount_per_area, dtype: int64
28 394    226
Name: amount_per_area, dtype: int64
28 875    338
Name: amount_per_area, dtype: int64
28 1356    376
Name: amount_per_area, dtype: int64
20 395    75
Name: amount_per_area, dtype: int64
20 876    196
Name: amount_per_area, dtype: int64
20 1357    305
Name: amount_per_area, dtype: int64
20 395    75
Name: amount_per_area, dtype: int64
20 876    196
Name: amount_per_area, dtype: int64
20 1357    305
Name: amount_per_area, dtype: int64
281 396    936
Name: amount_per_area, dtype: int64
281 877    912
Name: amount_per_area, dtype: int64
281 1358    552
Name: amount_per_area, dtype: int64
281 396    936
Name: amount_per_area, dtype: int64
281 877    912
Name: amount_per_area, dtype: int64
281 1358    552
Name: amount_per_area, dtype: int64
199 397    663
Name: amount_per_area, dtype: int64
199 878    615
Name: amount_per_area, dtype: int64
199 1359    300
Name: amount_per_area, dtype: int64
199 397    663
Name: amount_per_area, dtype: int64
199 878    615
Name: amount_per_area, dtype: int64
199 1359    300
Name: amount_per_area, dtype: int64
296 398    770
Name: amount_per_area, dtype: int64
296 879    653
Name: amount_per_area, dtype: int64
296 1360    251
Name: amount_per_area, dtype: int64
296 398    770
Name: amount_per_area, dtype: int64
296 879    653
Name: amount_per_area, dtype: int64
296 1360    251
Name: amount_per_area, dtype: int64
191 399    631
Name: amount_per_area, dtype: int64
191 880    499
Name: amount_per_area, dtype: int64
191 1361    353
Name: amount_per_area, dtype: int64
191 399    631
Name: amount_per_area, dtype: int64
191 880    499
Name: amount_per_area, dtype: int64
191 1361    353
Name: amount_per_area, dtype: int64
6 400    31
Name: amount_per_area, dtype: int64
6 881    86
Name: amount_per_area, dtype: int64
6 1362    117
Name: amount_per_area, dtype: int64
6 400    31
Name: amount_per_area, dtype: int64
6 881    86
Name: amount_per_area, dtype: int64
6 1362    117
Name: amount_per_area, dtype: int64
109 401    509
Name: amount_per_area, dtype: int64
109 882    678
Name: amount_per_area, dtype: int64
109 1363    509
Name: amount_per_area, dtype: int64
109 401    509
Name: amount_per_area, dtype: int64
109 882    678
Name: amount_per_area, dtype: int64
109 1363    509
Name: amount_per_area, dtype: int64
22 402    204
Name: amount_per_area, dtype: int64
22 883    324
Name: amount_per_area, dtype: int64
22 1364    226
Name: amount_per_area, dtype: int64
22 402    204
Name: amount_per_area, dtype: int64
22 883    324
Name: amount_per_area, dtype: int64
22 1364    226
Name: amount_per_area, dtype: int64
128 403    758
Name: amount_per_area, dtype: int64
128 884    718
Name: amount_per_area, dtype: int64
128 1365    519
Name: amount_per_area, dtype: int64
128 403    758
Name: amount_per_area, dtype: int64
128 884    718
Name: amount_per_area, dtype: int64
128 1365    519
Name: amount_per_area, dtype: int64
266 404    1076
Name: amount_per_area, dtype: int64
266 885    781
Name: amount_per_area, dtype: int64
266 1366    254
Name: amount_per_area, dtype: int64
266 404    1076
Name: amount_per_area, dtype: int64
266 885    781
Name: amount_per_area, dtype: int64
266 1366    254
Name: amount_per_area, dtype: int64
29 405    162
Name: amount_per_area, dtype: int64
29 886    544
Name: amount_per_area, dtype: int64
29 1367    302
Name: amount_per_area, dtype: int64
29 405    162
Name: amount_per_area, dtype: int64
29 886    544
Name: amount_per_area, dtype: int64
29 1367    302
Name: amount_per_area, dtype: int64
170 406    869
Name: amount_per_area, dtype: int64
170 887    715
Name: amount_per_area, dtype: int64
170 1368    367
Name: amount_per_area, dtype: int64
170 406    869
Name: amount_per_area, dtype: int64
170 887    715
Name: amount_per_area, dtype: int64
170 1368    367
Name: amount_per_area, dtype: int64
100 407    409
Name: amount_per_area, dtype: int64
100 888    473
Name: amount_per_area, dtype: int64
100 1369    396
Name: amount_per_area, dtype: int64
100 407    409
Name: amount_per_area, dtype: int64
100 888    473
Name: amount_per_area, dtype: int64
100 1369    396
Name: amount_per_area, dtype: int64
246 408    686
Name: amount_per_area, dtype: int64
246 889    640
Name: amount_per_area, dtype: int64
246 1370    198
Name: amount_per_area, dtype: int64
246 408    686
Name: amount_per_area, dtype: int64
246 889    640
Name: amount_per_area, dtype: int64
246 1370    198
Name: amount_per_area, dtype: int64
234 409    687
Name: amount_per_area, dtype: int64
234 890    623
Name: amount_per_area, dtype: int64
234 1371    288
Name: amount_per_area, dtype: int64
234 409    687
Name: amount_per_area, dtype: int64
234 890    623
Name: amount_per_area, dtype: int64
234 1371    288
Name: amount_per_area, dtype: int64
3 410    78
Name: amount_per_area, dtype: int64
3 891    198
Name: amount_per_area, dtype: int64
3 1372    431
Name: amount_per_area, dtype: int64
3 410    78
Name: amount_per_area, dtype: int64
3 891    198
Name: amount_per_area, dtype: int64
3 1372    431
Name: amount_per_area, dtype: int64
0 411    0
Name: amount_per_area, dtype: int64
0 892    0
Name: amount_per_area, dtype: int64
0 1373    0
Name: amount_per_area, dtype: int64
0 411    0
Name: amount_per_area, dtype: int64
0 892    0
Name: amount_per_area, dtype: int64
0 1373    0
Name: amount_per_area, dtype: int64
2 412    24
Name: amount_per_area, dtype: int64
2 893    67
Name: amount_per_area, dtype: int64
2 1374    200
Name: amount_per_area, dtype: int64
2 412    24
Name: amount_per_area, dtype: int64
2 893    67
Name: amount_per_area, dtype: int64
2 1374    200
Name: amount_per_area, dtype: int64
0 413    0
Name: amount_per_area, dtype: int64
0 894    0
Name: amount_per_area, dtype: int64
0 1375    0
Name: amount_per_area, dtype: int64
0 413    0
Name: amount_per_area, dtype: int64
0 894    0
Name: amount_per_area, dtype: int64
0 1375    0
Name: amount_per_area, dtype: int64
14 414    36
Name: amount_per_area, dtype: int64
14 895    375
Name: amount_per_area, dtype: int64
14 1376    310
Name: amount_per_area, dtype: int64
14 414    36
Name: amount_per_area, dtype: int64
14 895    375
Name: amount_per_area, dtype: int64
14 1376    310
Name: amount_per_area, dtype: int64
3 415    0
Name: amount_per_area, dtype: int64
3 896    0
Name: amount_per_area, dtype: int64
3 1377    0
Name: amount_per_area, dtype: int64
3 415    0
Name: amount_per_area, dtype: int64
3 896    0
Name: amount_per_area, dtype: int64
3 1377    0
Name: amount_per_area, dtype: int64
16 416    72
Name: amount_per_area, dtype: int64
16 897    184
Name: amount_per_area, dtype: int64
16 1378    543
Name: amount_per_area, dtype: int64
16 416    72
Name: amount_per_area, dtype: int64
16 897    184
Name: amount_per_area, dtype: int64
16 1378    543
Name: amount_per_area, dtype: int64
4 417    23
Name: amount_per_area, dtype: int64
4 898    63
Name: amount_per_area, dtype: int64
4 1379    76
Name: amount_per_area, dtype: int64
4 417    23
Name: amount_per_area, dtype: int64
4 898    63
Name: amount_per_area, dtype: int64
4 1379    76
Name: amount_per_area, dtype: int64
0 418    0
Name: amount_per_area, dtype: int64
0 899    0
Name: amount_per_area, dtype: int64
0 1380    0
Name: amount_per_area, dtype: int64
0 418    0
Name: amount_per_area, dtype: int64
0 899    0
Name: amount_per_area, dtype: int64
0 1380    0
Name: amount_per_area, dtype: int64
0 419    0
Name: amount_per_area, dtype: int64
0 900    0
Name: amount_per_area, dtype: int64
0 1381    0
Name: amount_per_area, dtype: int64
0 419    0
Name: amount_per_area, dtype: int64
0 900    0
Name: amount_per_area, dtype: int64
0 1381    0
Name: amount_per_area, dtype: int64

0 420    0
Name: amount_per_area, dtype: int64
0 901    0
Name: amount_per_area, dtype: int64
0 1382    0
Name: amount_per_area, dtype: int64
0 420    0
Name: amount_per_area, dtype: int64
0 901    0
Name: amount_per_area, dtype: int64
0 1382    0
Name: amount_per_area, dtype: int64
3 421    18
Name: amount_per_area, dtype: int64
3 902    44
Name: amount_per_area, dtype: int64
3 1383    100
Name: amount_per_area, dtype: int64
3 421    18
Name: amount_per_area, dtype: int64
3 902    44
Name: amount_per_area, dtype: int64
3 1383    100
Name: amount_per_area, dtype: int64
0 422    0
Name: amount_per_area, dtype: int64
0 903    0
Name: amount_per_area, dtype: int64
0 1384    0
Name: amount_per_area, dtype: int64
0 422    0
Name: amount_per_area, dtype: int64
0 903    0
Name: amount_per_area, dtype: int64
0 1384    0
Name: amount_per_area, dtype: int64
0 423    6
Name: amount_per_area, dtype: int64
0 904    10
Name: amount_per_area, dtype: int64
0 1385    21
Name: amount_per_area, dtype: int64
0 423    6
Name: amount_per_area, dtype: int64
0 904    10
Name: amount_per_area, dtype: int64
0 1385    21
Name: amount_per_area, dtype: int64
0 424    0
Name: amount_per_area, dtype: int64
0 905    0
Name: amount_per_area, dtype: int64
0 1386    0
Name: amount_per_area, dtype: int64
0 424    0
Name: amount_per_area, dtype: int64
0 905    0
Name: amount_per_area, dtype: int64
0 1386    0
Name: amount_per_area, dtype: int64
0 425    5
Name: amount_per_area, dtype: int64
0 906    10
Name: amount_per_area, dtype: int64
0 1387    17
Name: amount_per_area, dtype: int64
0 425    5
Name: amount_per_area, dtype: int64
0 906    10
Name: amount_per_area, dtype: int64
0 1387    17
Name: amount_per_area, dtype: int64
0 426    1
Name: amount_per_area, dtype: int64
0 907    3
Name: amount_per_area, dtype: int64
0 1388    3
Name: amount_per_area, dtype: int64
0 426    1
Name: amount_per_area, dtype: int64
0 907    3
Name: amount_per_area, dtype: int64
0 1388    3
Name: amount_per_area, dtype: int64
0 427    3
Name: amount_per_area, dtype: int64
0 908    4
Name: amount_per_area, dtype: int64
0 1389    5
Name: amount_per_area, dtype: int64
0 427    3
Name: amount_per_area, dtype: int64
0 908    4
Name: amount_per_area, dtype: int64
0 1389    5
Name: amount_per_area, dtype: int64
0 428    0
Name: amount_per_area, dtype: int64
0 909    0
Name: amount_per_area, dtype: int64
0 1390    0
Name: amount_per_area, dtype: int64
0 428    0
Name: amount_per_area, dtype: int64
0 909    0
Name: amount_per_area, dtype: int64
0 1390    0
Name: amount_per_area, dtype: int64
0 429    0
Name: amount_per_area, dtype: int64
0 910    0
Name: amount_per_area, dtype: int64
0 1391    0
Name: amount_per_area, dtype: int64
0 429    0
Name: amount_per_area, dtype: int64
0 910    0
Name: amount_per_area, dtype: int64
0 1391    0
Name: amount_per_area, dtype: int64
0 430    0
Name: amount_per_area, dtype: int64
0 911    0
Name: amount_per_area, dtype: int64
0 1392    0
Name: amount_per_area, dtype: int64
0 430    0
Name: amount_per_area, dtype: int64
0 911    0
Name: amount_per_area, dtype: int64
0 1392    0
Name: amount_per_area, dtype: int64
11 431    45
Name: amount_per_area, dtype: int64
11 912    80
Name: amount_per_area, dtype: int64
11 1393    80
Name: amount_per_area, dtype: int64
11 431    45
Name: amount_per_area, dtype: int64
11 912    80
Name: amount_per_area, dtype: int64
11 1393    80
Name: amount_per_area, dtype: int64
51 432    165
Name: amount_per_area, dtype: int64
51 913    293
Name: amount_per_area, dtype: int64
51 1394    458
Name: amount_per_area, dtype: int64
51 432    165
Name: amount_per_area, dtype: int64
51 913    293
Name: amount_per_area, dtype: int64
51 1394    458
Name: amount_per_area, dtype: int64
1 433    0
Name: amount_per_area, dtype: int64
1 914    0
Name: amount_per_area, dtype: int64
1 1395    0
Name: amount_per_area, dtype: int64
1 433    0
Name: amount_per_area, dtype: int64
1 914    0
Name: amount_per_area, dtype: int64
1 1395    0
Name: amount_per_area, dtype: int64
2 434    0
Name: amount_per_area, dtype: int64
2 915    0
Name: amount_per_area, dtype: int64
2 1396    0
Name: amount_per_area, dtype: int64
2 434    0
Name: amount_per_area, dtype: int64
2 915    0
Name: amount_per_area, dtype: int64
2 1396    0
Name: amount_per_area, dtype: int64
0 435    0
Name: amount_per_area, dtype: int64
0 916    0
Name: amount_per_area, dtype: int64
0 1397    0
Name: amount_per_area, dtype: int64
0 435    0
Name: amount_per_area, dtype: int64
0 916    0
Name: amount_per_area, dtype: int64
0 1397    0
Name: amount_per_area, dtype: int64
7 436    7
Name: amount_per_area, dtype: int64
7 917    138
Name: amount_per_area, dtype: int64
7 1398    68
Name: amount_per_area, dtype: int64
7 436    7
Name: amount_per_area, dtype: int64
7 917    138
Name: amount_per_area, dtype: int64
7 1398    68
Name: amount_per_area, dtype: int64
0 437    0
Name: amount_per_area, dtype: int64
0 918    0
Name: amount_per_area, dtype: int64
0 1399    0
Name: amount_per_area, dtype: int64
0 437    0
Name: amount_per_area, dtype: int64
0 918    0
Name: amount_per_area, dtype: int64
0 1399    0
Name: amount_per_area, dtype: int64
0 438    0
Name: amount_per_area, dtype: int64
0 919    0
Name: amount_per_area, dtype: int64
0 1400    0
Name: amount_per_area, dtype: int64
0 438    0
Name: amount_per_area, dtype: int64
0 919    0
Name: amount_per_area, dtype: int64
0 1400    0
Name: amount_per_area, dtype: int64
1 439    10
Name: amount_per_area, dtype: int64
1 920    6
Name: amount_per_area, dtype: int64
1 1401    3
Name: amount_per_area, dtype: int64
1 439    10
Name: amount_per_area, dtype: int64
1 920    6
Name: amount_per_area, dtype: int64
1 1401    3
Name: amount_per_area, dtype: int64
43 440    825
Name: amount_per_area, dtype: int64
43 921    784
Name: amount_per_area, dtype: int64
43 1402    402
Name: amount_per_area, dtype: int64
43 440    825
Name: amount_per_area, dtype: int64
43 921    784
Name: amount_per_area, dtype: int64
43 1402    402
Name: amount_per_area, dtype: int64
45 441    710
Name: amount_per_area, dtype: int64
45 922    787
Name: amount_per_area, dtype: int64
45 1403    422
Name: amount_per_area, dtype: int64
45 441    710
Name: amount_per_area, dtype: int64
45 922    787
Name: amount_per_area, dtype: int64
45 1403    422
Name: amount_per_area, dtype: int64
19 442    168
Name: amount_per_area, dtype: int64
19 923    812
Name: amount_per_area, dtype: int64
19 1404    310
Name: amount_per_area, dtype: int64
19 442    168
Name: amount_per_area, dtype: int64
19 923    812
Name: amount_per_area, dtype: int64
19 1404    310
Name: amount_per_area, dtype: int64
68 443    1167
Name: amount_per_area, dtype: int64
68 924    1167
Name: amount_per_area, dtype: int64
68 1405    737
Name: amount_per_area, dtype: int64
68 443    1167
Name: amount_per_area, dtype: int64
68 924    1167
Name: amount_per_area, dtype: int64
68 1405    737
Name: amount_per_area, dtype: int64
5 444    297
Name: amount_per_area, dtype: int64
5 925    220
Name: amount_per_area, dtype: int64
5 1406    78
Name: amount_per_area, dtype: int64
5 444    297
Name: amount_per_area, dtype: int64
5 925    220
Name: amount_per_area, dtype: int64
5 1406    78
Name: amount_per_area, dtype: int64
24 445    509
Name: amount_per_area, dtype: int64
24 926    664
Name: amount_per_area, dtype: int64
24 1407    240
Name: amount_per_area, dtype: int64
24 445    509
Name: amount_per_area, dtype: int64
24 926    664
Name: amount_per_area, dtype: int64
24 1407    240
Name: amount_per_area, dtype: int64
25 446    1454
Name: amount_per_area, dtype: int64
25 927    960
Name: amount_per_area, dtype: int64
25 1408    330
Name: amount_per_area, dtype: int64
25 446    1454
Name: amount_per_area, dtype: int64
25 927    960
Name: amount_per_area, dtype: int64
25 1408    330
Name: amount_per_area, dtype: int64
27 447    750
Name: amount_per_area, dtype: int64
27 928    633
Name: amount_per_area, dtype: int64
27 1409    300
Name: amount_per_area, dtype: int64
27 447    750
Name: amount_per_area, dtype: int64
27 928    633
Name: amount_per_area, dtype: int64
27 1409    300
Name: amount_per_area, dtype: int64
0 448    93
Name: amount_per_area, dtype: int64
0 929    96
Name: amount_per_area, dtype: int64
0 1410    128
Name: amount_per_area, dtype: int64
0 448    93
Name: amount_per_area, dtype: int64
0 929    96
Name: amount_per_area, dtype: int64
0 1410    128
Name: amount_per_area, dtype: int64
56 449    540
Name: amount_per_area, dtype: int64
56 930    827
Name: amount_per_area, dtype: int64
56 1411    432
Name: amount_per_area, dtype: int64
56 449    540
Name: amount_per_area, dtype: int64
56 930    827
Name: amount_per_area, dtype: int64
56 1411    432
Name: amount_per_area, dtype: int64
0 450    0
Name: amount_per_area, dtype: int64
0 931    0
Name: amount_per_area, dtype: int64
0 1412    0
Name: amount_per_area, dtype: int64
0 450    0
Name: amount_per_area, dtype: int64
0 931    0
Name: amount_per_area, dtype: int64
0 1412    0
Name: amount_per_area, dtype: int64
54 451    311
Name: amount_per_area, dtype: int64
54 932    560
Name: amount_per_area, dtype: int64
54 1413    374
Name: amount_per_area, dtype: int64
54 451    311
Name: amount_per_area, dtype: int64
54 932    560
Name: amount_per_area, dtype: int64
54 1413    374
Name: amount_per_area, dtype: int64
13 452    551
Name: amount_per_area, dtype: int64
13 933    697
Name: amount_per_area, dtype: int64
13 1414    389
Name: amount_per_area, dtype: int64
13 452    551
Name: amount_per_area, dtype: int64
13 933    697
Name: amount_per_area, dtype: int64
13 1414    389
Name: amount_per_area, dtype: int64
12 453    1565
Name: amount_per_area, dtype: int64
12 934    922
Name: amount_per_area, dtype: int64
12 1415    280
Name: amount_per_area, dtype: int64
12 453    1565
Name: amount_per_area, dtype: int64
12 934    922
Name: amount_per_area, dtype: int64
12 1415    280
Name: amount_per_area, dtype: int64
18 454    974
Name: amount_per_area, dtype: int64
18 935    909
Name: amount_per_area, dtype: int64
18 1416    282
Name: amount_per_area, dtype: int64
18 454    974
Name: amount_per_area, dtype: int64
18 935    909
Name: amount_per_area, dtype: int64
18 1416    282
Name: amount_per_area, dtype: int64
8 455    359
Name: amount_per_area, dtype: int64
8 936    351
Name: amount_per_area, dtype: int64
8 1417    126
Name: amount_per_area, dtype: int64
8 455    359
Name: amount_per_area, dtype: int64
8 936    351
Name: amount_per_area, dtype: int64
8 1417    126
Name: amount_per_area, dtype: int64
16 456    1072
Name: amount_per_area, dtype: int64
16 937    1098
Name: amount_per_area, dtype: int64
16 1418    445
Name: amount_per_area, dtype: int64
16 456    1072
Name: amount_per_area, dtype: int64
16 937    1098
Name: amount_per_area, dtype: int64
16 1418    445
Name: amount_per_area, dtype: int64
36 457    382
Name: amount_per_area, dtype: int64
36 938    534
Name: amount_per_area, dtype: int64
36 1419    344
Name: amount_per_area, dtype: int64
36 457    382
Name: amount_per_area, dtype: int64
36 938    534
Name: amount_per_area, dtype: int64
36 1419    344
Name: amount_per_area, dtype: int64
29 458    601
Name: amount_per_area, dtype: int64
29 939    696
Name: amount_per_area, dtype: int64
29 1420    285
Name: amount_per_area, dtype: int64
29 458    601
Name: amount_per_area, dtype: int64
29 939    696
Name: amount_per_area, dtype: int64
29 1420    285
Name: amount_per_area, dtype: int64
46 459    859
Name: amount_per_area, dtype: int64
46 940    1061
Name: amount_per_area, dtype: int64
46 1421    581
Name: amount_per_area, dtype: int64
46 459    859
Name: amount_per_area, dtype: int64
46 940    1061
Name: amount_per_area, dtype: int64
46 1421    581
Name: amount_per_area, dtype: int64
6 460    144
Name: amount_per_area, dtype: int64
6 941    262
Name: amount_per_area, dtype: int64
6 1422    249
Name: amount_per_area, dtype: int64
6 460    144
Name: amount_per_area, dtype: int64
6 941    262
Name: amount_per_area, dtype: int64
6 1422    249
Name: amount_per_area, dtype: int64
6 461    294
Name: amount_per_area, dtype: int64
6 942    294
Name: amount_per_area, dtype: int64
6 1423    154
Name: amount_per_area, dtype: int64
6 461    294
Name: amount_per_area, dtype: int64
6 942    294
Name: amount_per_area, dtype: int64
6 1423    154
Name: amount_per_area, dtype: int64
22 462    71
Name: amount_per_area, dtype: int64
22 943    187
Name: amount_per_area, dtype: int64
22 1424    154
Name: amount_per_area, dtype: int64
22 462    71
Name: amount_per_area, dtype: int64
22 943    187
Name: amount_per_area, dtype: int64
22 1424    154
Name: amount_per_area, dtype: int64
17 463    2403
Name: amount_per_area, dtype: int64
17 944    1450
Name: amount_per_area, dtype: int64
17 1425    290
Name: amount_per_area, dtype: int64

17 463    2403
Name: amount_per_area, dtype: int64
17 944    1450
Name: amount_per_area, dtype: int64
17 1425    290
Name: amount_per_area, dtype: int64
14 464    954
Name: amount_per_area, dtype: int64
14 945    863
Name: amount_per_area, dtype: int64
14 1426    455
Name: amount_per_area, dtype: int64
14 464    954
Name: amount_per_area, dtype: int64
14 945    863
Name: amount_per_area, dtype: int64
14 1426    455
Name: amount_per_area, dtype: int64
8 465    145
Name: amount_per_area, dtype: int64
8 946    297
Name: amount_per_area, dtype: int64
8 1427    282
Name: amount_per_area, dtype: int64
8 465    145
Name: amount_per_area, dtype: int64
8 946    297
Name: amount_per_area, dtype: int64
8 1427    282
Name: amount_per_area, dtype: int64
0 466    0
Name: amount_per_area, dtype: int64
0 947    0
Name: amount_per_area, dtype: int64
0 1428    0
Name: amount_per_area, dtype: int64
0 466    0
Name: amount_per_area, dtype: int64
0 947    0
Name: amount_per_area, dtype: int64
0 1428    0
Name: amount_per_area, dtype: int64
0 467    0
Name: amount_per_area, dtype: int64
0 948    0
Name: amount_per_area, dtype: int64
0 1429    0
Name: amount_per_area, dtype: int64
0 467    0
Name: amount_per_area, dtype: int64
0 948    0
Name: amount_per_area, dtype: int64
0 1429    0
Name: amount_per_area, dtype: int64
12 468    720
Name: amount_per_area, dtype: int64
12 949    618
Name: amount_per_area, dtype: int64
12 1430    133
Name: amount_per_area, dtype: int64
12 468    720
Name: amount_per_area, dtype: int64
12 949    618
Name: amount_per_area, dtype: int64
12 1430    133
Name: amount_per_area, dtype: int64
27 469    979
Name: amount_per_area, dtype: int64
27 950    836
Name: amount_per_area, dtype: int64
27 1431    225
Name: amount_per_area, dtype: int64
27 469    979
Name: amount_per_area, dtype: int64
27 950    836
Name: amount_per_area, dtype: int64
27 1431    225
Name: amount_per_area, dtype: int64
5 470    182
Name: amount_per_area, dtype: int64
5 951    315
Name: amount_per_area, dtype: int64
5 1432    203
Name: amount_per_area, dtype: int64
5 470    182
Name: amount_per_area, dtype: int64
5 951    315
Name: amount_per_area, dtype: int64
5 1432    203
Name: amount_per_area, dtype: int64
18 471    572
Name: amount_per_area, dtype: int64
18 952    587
Name: amount_per_area, dtype: int64
18 1433    308
Name: amount_per_area, dtype: int64
18 471    572
Name: amount_per_area, dtype: int64
18 952    587
Name: amount_per_area, dtype: int64
18 1433    308
Name: amount_per_area, dtype: int64
5 472    464
Name: amount_per_area, dtype: int64
5 953    586
Name: amount_per_area, dtype: int64
5 1434    314
Name: amount_per_area, dtype: int64
5 472    464
Name: amount_per_area, dtype: int64
5 953    586
Name: amount_per_area, dtype: int64
5 1434    314
Name: amount_per_area, dtype: int64
18 473    623
Name: amount_per_area, dtype: int64
18 954    765
Name: amount_per_area, dtype: int64
18 1435    392
Name: amount_per_area, dtype: int64
18 473    623
Name: amount_per_area, dtype: int64
18 954    765
Name: amount_per_area, dtype: int64
18 1435    392
Name: amount_per_area, dtype: int64
5 474    221
Name: amount_per_area, dtype: int64
5 955    335
Name: amount_per_area, dtype: int64
5 1436    206
Name: amount_per_area, dtype: int64
5 474    221
Name: amount_per_area, dtype: int64
5 955    335
Name: amount_per_area, dtype: int64
5 1436    206
Name: amount_per_area, dtype: int64
11 475    700
Name: amount_per_area, dtype: int64
11 956    700
Name: amount_per_area, dtype: int64
11 1437    308
Name: amount_per_area, dtype: int64
11 475    700
Name: amount_per_area, dtype: int64
11 956    700
Name: amount_per_area, dtype: int64
11 1437    308
Name: amount_per_area, dtype: int64
12 476    667
Name: amount_per_area, dtype: int64
12 957    751
Name: amount_per_area, dtype: int64
12 1438    251
Name: amount_per_area, dtype: int64
12 476    667
Name: amount_per_area, dtype: int64
12 957    751
Name: amount_per_area, dtype: int64
12 1438    251
Name: amount_per_area, dtype: int64
5 477    211
Name: amount_per_area, dtype: int64
5 958    395
Name: amount_per_area, dtype: int64
5 1439    312
Name: amount_per_area, dtype: int64
5 477    211
Name: amount_per_area, dtype: int64
5 958    395
Name: amount_per_area, dtype: int64
5 1439    312
Name: amount_per_area, dtype: int64
5 478    283
Name: amount_per_area, dtype: int64
5 959    350
Name: amount_per_area, dtype: int64
5 1440    200
Name: amount_per_area, dtype: int64
5 478    283
Name: amount_per_area, dtype: int64
5 959    350
Name: amount_per_area, dtype: int64
5 1440    200
Name: amount_per_area, dtype: int64
7 479    240
Name: amount_per_area, dtype: int64
7 960    382
Name: amount_per_area, dtype: int64
7 1441    267
Name: amount_per_area, dtype: int64
7 479    240
Name: amount_per_area, dtype: int64
7 960    382
Name: amount_per_area, dtype: int64
7 1441    267
Name: amount_per_area, dtype: int64
0 480    0
Name: amount_per_area, dtype: int64
0 961    0
Name: amount_per_area, dtype: int64
0 1442    0
Name: amount_per_area, dtype: int64
0 480    0
Name: amount_per_area, dtype: int64
0 961    0
Name: amount_per_area, dtype: int64
0 1442    0
Name: amount_per_area, dtype: int64
1380 0    241
Name: amount_per_area, dtype: int64
1380 481    872
Name: amount_per_area, dtype: int64
1380 962    1864
Name: amount_per_area, dtype: int64
1380 0    241
Name: amount_per_area, dtype: int64
1380 481    872
Name: amount_per_area, dtype: int64
1380 962    1864
Name: amount_per_area, dtype: int64
659 1    139
Name: amount_per_area, dtype: int64
659 482    484
Name: amount_per_area, dtype: int64
659 963    760
Name: amount_per_area, dtype: int64
659 1    139
Name: amount_per_area, dtype: int64
659 482    484
Name: amount_per_area, dtype: int64
659 963    760
Name: amount_per_area, dtype: int64
2063 2    568
Name: amount_per_area, dtype: int64
2063 483    1442
Name: amount_per_area, dtype: int64
2063 964    2360
Name: amount_per_area, dtype: int64
2063 2    568
Name: amount_per_area, dtype: int64
2063 483    1442
Name: amount_per_area, dtype: int64
2063 964    2360
Name: amount_per_area, dtype: int64
494 3    57
Name: amount_per_area, dtype: int64
494 484    320
Name: amount_per_area, dtype: int64
494 965    764
Name: amount_per_area, dtype: int64
494 3    57
Name: amount_per_area, dtype: int64
494 484    320
Name: amount_per_area, dtype: int64
494 965    764
Name: amount_per_area, dtype: int64
497 4    103
Name: amount_per_area, dtype: int64
497 485    373
Name: amount_per_area, dtype: int64
497 966    810
Name: amount_per_area, dtype: int64
497 4    103
Name: amount_per_area, dtype: int64
497 485    373
Name: amount_per_area, dtype: int64
497 966    810
Name: amount_per_area, dtype: int64
0 5    0
Name: amount_per_area, dtype: int64
0 486    0
Name: amount_per_area, dtype: int64
0 967    0
Name: amount_per_area, dtype: int64
0 5    0
Name: amount_per_area, dtype: int64
0 486    0
Name: amount_per_area, dtype: int64
0 967    0
Name: amount_per_area, dtype: int64
981 6    210
Name: amount_per_area, dtype: int64
981 487    514
Name: amount_per_area, dtype: int64
981 968    1181
Name: amount_per_area, dtype: int64
981 6    210
Name: amount_per_area, dtype: int64
981 487    514
Name: amount_per_area, dtype: int64
981 968    1181
Name: amount_per_area, dtype: int64
850 7    106
Name: amount_per_area, dtype: int64
850 488    542
Name: amount_per_area, dtype: int64
850 969    843
Name: amount_per_area, dtype: int64
850 7    106
Name: amount_per_area, dtype: int64
850 488    542
Name: amount_per_area, dtype: int64
850 969    843
Name: amount_per_area, dtype: int64
1430 8    196
Name: amount_per_area, dtype: int64
1430 489    812
Name: amount_per_area, dtype: int64
1430 970    1791
Name: amount_per_area, dtype: int64
1430 8    196
Name: amount_per_area, dtype: int64
1430 489    812
Name: amount_per_area, dtype: int64
1430 970    1791
Name: amount_per_area, dtype: int64
855 9    170
Name: amount_per_area, dtype: int64
855 490    459
Name: amount_per_area, dtype: int64
855 971    1087
Name: amount_per_area, dtype: int64
855 9    170
Name: amount_per_area, dtype: int64
855 490    459
Name: amount_per_area, dtype: int64
855 971    1087
Name: amount_per_area, dtype: int64
1085 10    170
Name: amount_per_area, dtype: int64
1085 491    679
Name: amount_per_area, dtype: int64
1085 972    1295
Name: amount_per_area, dtype: int64
1085 10    170
Name: amount_per_area, dtype: int64
1085 491    679
Name: amount_per_area, dtype: int64
1085 972    1295
Name: amount_per_area, dtype: int64
463 11    94
Name: amount_per_area, dtype: int64
463 492    282
Name: amount_per_area, dtype: int64
463 973    667
Name: amount_per_area, dtype: int64
463 11    94
Name: amount_per_area, dtype: int64
463 492    282
Name: amount_per_area, dtype: int64
463 973    667
Name: amount_per_area, dtype: int64
450 12    70
Name: amount_per_area, dtype: int64
450 493    315
Name: amount_per_area, dtype: int64
450 974    490
Name: amount_per_area, dtype: int64
450 12    70
Name: amount_per_area, dtype: int64
450 493    315
Name: amount_per_area, dtype: int64
450 974    490
Name: amount_per_area, dtype: int64
1231 13    230
Name: amount_per_area, dtype: int64
1231 494    854
Name: amount_per_area, dtype: int64
1231 975    2200
Name: amount_per_area, dtype: int64
1231 13    230
Name: amount_per_area, dtype: int64
1231 494    854
Name: amount_per_area, dtype: int64
1231 975    2200
Name: amount_per_area, dtype: int64
1074 14    185
Name: amount_per_area, dtype: int64
1074 495    600
Name: amount_per_area, dtype: int64
1074 976    1521
Name: amount_per_area, dtype: int64
1074 14    185
Name: amount_per_area, dtype: int64
1074 495    600
Name: amount_per_area, dtype: int64
1074 976    1521
Name: amount_per_area, dtype: int64
924 15    154
Name: amount_per_area, dtype: int64
924 496    591
Name: amount_per_area, dtype: int64
924 977    1423
Name: amount_per_area, dtype: int64
924 15    154
Name: amount_per_area, dtype: int64
924 496    591
Name: amount_per_area, dtype: int64
924 977    1423
Name: amount_per_area, dtype: int64
912 16    111
Name: amount_per_area, dtype: int64
912 497    621
Name: amount_per_area, dtype: int64
912 978    1486
Name: amount_per_area, dtype: int64
912 16    111
Name: amount_per_area, dtype: int64
912 497    621
Name: amount_per_area, dtype: int64
912 978    1486
Name: amount_per_area, dtype: int64
860 17    195
Name: amount_per_area, dtype: int64
860 498    442
Name: amount_per_area, dtype: int64
860 979    1132
Name: amount_per_area, dtype: int64
860 17    195
Name: amount_per_area, dtype: int64
860 498    442
Name: amount_per_area, dtype: int64
860 979    1132
Name: amount_per_area, dtype: int64
0 18    0
Name: amount_per_area, dtype: int64
0 499    0
Name: amount_per_area, dtype: int64
0 980    0
Name: amount_per_area, dtype: int64
0 18    0
Name: amount_per_area, dtype: int64
0 499    0
Name: amount_per_area, dtype: int64
0 980    0
Name: amount_per_area, dtype: int64
690 19    153
Name: amount_per_area, dtype: int64
690 500    496
Name: amount_per_area, dtype: int64
690 981    1257
Name: amount_per_area, dtype: int64
690 19    153
Name: amount_per_area, dtype: int64
690 500    496
Name: amount_per_area, dtype: int64
690 981    1257
Name: amount_per_area, dtype: int64
835 20    212
Name: amount_per_area, dtype: int64
835 501    704
Name: amount_per_area, dtype: int64
835 982    1431
Name: amount_per_area, dtype: int64
835 20    212
Name: amount_per_area, dtype: int64
835 501    704
Name: amount_per_area, dtype: int64
835 982    1431
Name: amount_per_area, dtype: int64
791 21    114
Name: amount_per_area, dtype: int64
791 502    397
Name: amount_per_area, dtype: int64
791 983    907
Name: amount_per_area, dtype: int64
791 21    114
Name: amount_per_area, dtype: int64
791 502    397
Name: amount_per_area, dtype: int64
791 983    907
Name: amount_per_area, dtype: int64
0 22    0
Name: amount_per_area, dtype: int64
0 503    0
Name: amount_per_area, dtype: int64
0 984    0
Name: amount_per_area, dtype: int64
0 22    0
Name: amount_per_area, dtype: int64
0 503    0
Name: amount_per_area, dtype: int64
0 984    0
Name: amount_per_area, dtype: int64
881 23    145
Name: amount_per_area, dtype: int64
881 504    578
Name: amount_per_area, dtype: int64
881 985    1341
Name: amount_per_area, dtype: int64
881 23    145
Name: amount_per_area, dtype: int64
881 504    578
Name: amount_per_area, dtype: int64
881 985    1341
Name: amount_per_area, dtype: int64
268 24    86
Name: amount_per_area, dtype: int64
268 505    193
Name: amount_per_area, dtype: int64
268 986    436
Name: amount_per_area, dtype: int64
268 24    86
Name: amount_per_area, dtype: int64
268 505    193
Name: amount_per_area, dtype: int64
268 986    436
Name: amount_per_area, dtype: int64
0 25    0
Name: amount_per_area, dtype: int64
0 506    0

Name: amount_per_area, dtype: int64
0 987    0
Name: amount_per_area, dtype: int64
0 25    0
Name: amount_per_area, dtype: int64
0 506    0
Name: amount_per_area, dtype: int64
0 987    0
Name: amount_per_area, dtype: int64
897 26    192
Name: amount_per_area, dtype: int64
897 507    518
Name: amount_per_area, dtype: int64
897 988    1207
Name: amount_per_area, dtype: int64
897 26    192
Name: amount_per_area, dtype: int64
897 507    518
Name: amount_per_area, dtype: int64
897 988    1207
Name: amount_per_area, dtype: int64
1190 27    213
Name: amount_per_area, dtype: int64
1190 508    1063
Name: amount_per_area, dtype: int64
1190 989    2267
Name: amount_per_area, dtype: int64
1190 27    213
Name: amount_per_area, dtype: int64
1190 508    1063
Name: amount_per_area, dtype: int64
1190 989    2267
Name: amount_per_area, dtype: int64
1613 28    761
Name: amount_per_area, dtype: int64
1613 509    1427
Name: amount_per_area, dtype: int64
1613 990    2568
Name: amount_per_area, dtype: int64
1613 28    761
Name: amount_per_area, dtype: int64
1613 509    1427
Name: amount_per_area, dtype: int64
1613 990    2568
Name: amount_per_area, dtype: int64
1058 29    254
Name: amount_per_area, dtype: int64
1058 510    736
Name: amount_per_area, dtype: int64
1058 991    1547
Name: amount_per_area, dtype: int64
1058 29    254
Name: amount_per_area, dtype: int64
1058 510    736
Name: amount_per_area, dtype: int64
1058 991    1547
Name: amount_per_area, dtype: int64
1242 30    310
Name: amount_per_area, dtype: int64
1242 511    836
Name: amount_per_area, dtype: int64
1242 992    1950
Name: amount_per_area, dtype: int64
1242 30    310
Name: amount_per_area, dtype: int64
1242 511    836
Name: amount_per_area, dtype: int64
1242 992    1950
Name: amount_per_area, dtype: int64
1357 31    500
Name: amount_per_area, dtype: int64
1357 512    1230
Name: amount_per_area, dtype: int64
1357 993    2114
Name: amount_per_area, dtype: int64
1357 31    500
Name: amount_per_area, dtype: int64
1357 512    1230
Name: amount_per_area, dtype: int64
1357 993    2114
Name: amount_per_area, dtype: int64
526 32    176
Name: amount_per_area, dtype: int64
526 513    419
Name: amount_per_area, dtype: int64
526 994    771
Name: amount_per_area, dtype: int64
526 32    176
Name: amount_per_area, dtype: int64
526 513    419
Name: amount_per_area, dtype: int64
526 994    771
Name: amount_per_area, dtype: int64
757 33    347
Name: amount_per_area, dtype: int64
757 514    542
Name: amount_per_area, dtype: int64
757 995    1279
Name: amount_per_area, dtype: int64
757 33    347
Name: amount_per_area, dtype: int64
757 514    542
Name: amount_per_area, dtype: int64
757 995    1279
Name: amount_per_area, dtype: int64
1026 34    312
Name: amount_per_area, dtype: int64
1026 515    794
Name: amount_per_area, dtype: int64
1026 996    1729
Name: amount_per_area, dtype: int64
1026 34    312
Name: amount_per_area, dtype: int64
1026 515    794
Name: amount_per_area, dtype: int64
1026 996    1729
Name: amount_per_area, dtype: int64
1411 35    670
Name: amount_per_area, dtype: int64
1411 516    1262
Name: amount_per_area, dtype: int64
1411 997    2010
Name: amount_per_area, dtype: int64
1411 35    670
Name: amount_per_area, dtype: int64
1411 516    1262
Name: amount_per_area, dtype: int64
1411 997    2010
Name: amount_per_area, dtype: int64
1166 36    405
Name: amount_per_area, dtype: int64
1166 517    978
Name: amount_per_area, dtype: int64
1166 998    1989
Name: amount_per_area, dtype: int64
1166 36    405
Name: amount_per_area, dtype: int64
1166 517    978
Name: amount_per_area, dtype: int64
1166 998    1989
Name: amount_per_area, dtype: int64
0 37    0
Name: amount_per_area, dtype: int64
0 518    0
Name: amount_per_area, dtype: int64
0 999    0
Name: amount_per_area, dtype: int64
0 37    0
Name: amount_per_area, dtype: int64
0 518    0
Name: amount_per_area, dtype: int64
0 999    0
Name: amount_per_area, dtype: int64
0 38    0
Name: amount_per_area, dtype: int64
0 519    0
Name: amount_per_area, dtype: int64
0 1000    0
Name: amount_per_area, dtype: int64
0 38    0
Name: amount_per_area, dtype: int64
0 519    0
Name: amount_per_area, dtype: int64
0 1000    0
Name: amount_per_area, dtype: int64
1714 39    575
Name: amount_per_area, dtype: int64
1714 520    1341
Name: amount_per_area, dtype: int64
1714 1001    2873
Name: amount_per_area, dtype: int64
1714 39    575
Name: amount_per_area, dtype: int64
1714 520    1341
Name: amount_per_area, dtype: int64
1714 1001    2873
Name: amount_per_area, dtype: int64
1635 40    492
Name: amount_per_area, dtype: int64
1635 521    1251
Name: amount_per_area, dtype: int64
1635 1002    2681
Name: amount_per_area, dtype: int64
1635 40    492
Name: amount_per_area, dtype: int64
1635 521    1251
Name: amount_per_area, dtype: int64
1635 1002    2681
Name: amount_per_area, dtype: int64
1563 41    789
Name: amount_per_area, dtype: int64
1563 522    1484
Name: amount_per_area, dtype: int64
1563 1003    2365
Name: amount_per_area, dtype: int64
1563 41    789
Name: amount_per_area, dtype: int64
1563 522    1484
Name: amount_per_area, dtype: int64
1563 1003    2365
Name: amount_per_area, dtype: int64
0 42    0
Name: amount_per_area, dtype: int64
0 523    0
Name: amount_per_area, dtype: int64
0 1004    0
Name: amount_per_area, dtype: int64
0 42    0
Name: amount_per_area, dtype: int64
0 523    0
Name: amount_per_area, dtype: int64
0 1004    0
Name: amount_per_area, dtype: int64
0 43    0
Name: amount_per_area, dtype: int64
0 524    0
Name: amount_per_area, dtype: int64
0 1005    0
Name: amount_per_area, dtype: int64
0 43    0
Name: amount_per_area, dtype: int64
0 524    0
Name: amount_per_area, dtype: int64
0 1005    0
Name: amount_per_area, dtype: int64
1470 44    517
Name: amount_per_area, dtype: int64
1470 525    1152
Name: amount_per_area, dtype: int64
1470 1006    2304
Name: amount_per_area, dtype: int64
1470 44    517
Name: amount_per_area, dtype: int64
1470 525    1152
Name: amount_per_area, dtype: int64
1470 1006    2304
Name: amount_per_area, dtype: int64
0 45    0
Name: amount_per_area, dtype: int64
0 526    0
Name: amount_per_area, dtype: int64
0 1007    0
Name: amount_per_area, dtype: int64
0 45    0
Name: amount_per_area, dtype: int64
0 526    0
Name: amount_per_area, dtype: int64
0 1007    0
Name: amount_per_area, dtype: int64
0 46    0
Name: amount_per_area, dtype: int64
0 527    0
Name: amount_per_area, dtype: int64
0 1008    0
Name: amount_per_area, dtype: int64
0 46    0
Name: amount_per_area, dtype: int64
0 527    0
Name: amount_per_area, dtype: int64
0 1008    0
Name: amount_per_area, dtype: int64
0 47    0
Name: amount_per_area, dtype: int64
0 528    0
Name: amount_per_area, dtype: int64
0 1009    0
Name: amount_per_area, dtype: int64
0 47    0
Name: amount_per_area, dtype: int64
0 528    0
Name: amount_per_area, dtype: int64
0 1009    0
Name: amount_per_area, dtype: int64
1246 48    538
Name: amount_per_area, dtype: int64
1246 529    1038
Name: amount_per_area, dtype: int64
1246 1010    2268
Name: amount_per_area, dtype: int64
1246 48    538
Name: amount_per_area, dtype: int64
1246 529    1038
Name: amount_per_area, dtype: int64
1246 1010    2268
Name: amount_per_area, dtype: int64
1557 49    603
Name: amount_per_area, dtype: int64
1557 530    1390
Name: amount_per_area, dtype: int64
1557 1011    2687
Name: amount_per_area, dtype: int64
1557 49    603
Name: amount_per_area, dtype: int64
1557 530    1390
Name: amount_per_area, dtype: int64
1557 1011    2687
Name: amount_per_area, dtype: int64
0 50    0
Name: amount_per_area, dtype: int64
0 531    0
Name: amount_per_area, dtype: int64
0 1012    0
Name: amount_per_area, dtype: int64
0 50    0
Name: amount_per_area, dtype: int64
0 531    0
Name: amount_per_area, dtype: int64
0 1012    0
Name: amount_per_area, dtype: int64
0 51    0
Name: amount_per_area, dtype: int64
0 532    0
Name: amount_per_area, dtype: int64
0 1013    0
Name: amount_per_area, dtype: int64
0 51    0
Name: amount_per_area, dtype: int64
0 532    0
Name: amount_per_area, dtype: int64
0 1013    0
Name: amount_per_area, dtype: int64
1480 52    255
Name: amount_per_area, dtype: int64
1480 533    1019
Name: amount_per_area, dtype: int64
1480 1014    1910
Name: amount_per_area, dtype: int64
1480 52    255
Name: amount_per_area, dtype: int64
1480 533    1019
Name: amount_per_area, dtype: int64
1480 1014    1910
Name: amount_per_area, dtype: int64
0 53    0
Name: amount_per_area, dtype: int64
0 534    0
Name: amount_per_area, dtype: int64
0 1015    0
Name: amount_per_area, dtype: int64
0 53    0
Name: amount_per_area, dtype: int64
0 534    0
Name: amount_per_area, dtype: int64
0 1015    0
Name: amount_per_area, dtype: int64
1366 54    248
Name: amount_per_area, dtype: int64
1366 535    918
Name: amount_per_area, dtype: int64
1366 1016    2365
Name: amount_per_area, dtype: int64
1366 54    248
Name: amount_per_area, dtype: int64
1366 535    918
Name: amount_per_area, dtype: int64
1366 1016    2365
Name: amount_per_area, dtype: int64
707 55    215
Name: amount_per_area, dtype: int64
707 536    547
Name: amount_per_area, dtype: int64
707 1017    1192
Name: amount_per_area, dtype: int64
707 55    215
Name: amount_per_area, dtype: int64
707 536    547
Name: amount_per_area, dtype: int64
707 1017    1192
Name: amount_per_area, dtype: int64
1222 56    418
Name: amount_per_area, dtype: int64
1222 537    870
Name: amount_per_area, dtype: int64
1222 1018    2192
Name: amount_per_area, dtype: int64
1222 56    418
Name: amount_per_area, dtype: int64
1222 537    870
Name: amount_per_area, dtype: int64
1222 1018    2192
Name: amount_per_area, dtype: int64
443 57    131
Name: amount_per_area, dtype: int64
443 538    308
Name: amount_per_area, dtype: int64
443 1019    746
Name: amount_per_area, dtype: int64
443 57    131
Name: amount_per_area, dtype: int64
443 538    308
Name: amount_per_area, dtype: int64
443 1019    746
Name: amount_per_area, dtype: int64
1023 58    409
Name: amount_per_area, dtype: int64
1023 539    764
Name: amount_per_area, dtype: int64
1023 1020    1554
Name: amount_per_area, dtype: int64
1023 58    409
Name: amount_per_area, dtype: int64
1023 539    764
Name: amount_per_area, dtype: int64
1023 1020    1554
Name: amount_per_area, dtype: int64
787 59    331
Name: amount_per_area, dtype: int64
787 540    579
Name: amount_per_area, dtype: int64
787 1021    1157
Name: amount_per_area, dtype: int64
787 59    331
Name: amount_per_area, dtype: int64
787 540    579
Name: amount_per_area, dtype: int64
787 1021    1157
Name: amount_per_area, dtype: int64
347 60    115
Name: amount_per_area, dtype: int64
347 541    230
Name: amount_per_area, dtype: int64
347 1022    613
Name: amount_per_area, dtype: int64
347 60    115
Name: amount_per_area, dtype: int64
347 541    230
Name: amount_per_area, dtype: int64
347 1022    613
Name: amount_per_area, dtype: int64
0 61    0
Name: amount_per_area, dtype: int64
0 542    0
Name: amount_per_area, dtype: int64
0 1023    0
Name: amount_per_area, dtype: int64
0 61    0
Name: amount_per_area, dtype: int64
0 542    0
Name: amount_per_area, dtype: int64
0 1023    0
Name: amount_per_area, dtype: int64
26 62    0
Name: amount_per_area, dtype: int64
26 543    0
Name: amount_per_area, dtype: int64
26 1024    0
Name: amount_per_area, dtype: int64
26 62    0
Name: amount_per_area, dtype: int64
26 543    0
Name: amount_per_area, dtype: int64
26 1024    0
Name: amount_per_area, dtype: int64
1008 63    636
Name: amount_per_area, dtype: int64
1008 544    1172
Name: amount_per_area, dtype: int64
1008 1025    1540
Name: amount_per_area, dtype: int64
1008 63    636
Name: amount_per_area, dtype: int64
1008 544    1172
Name: amount_per_area, dtype: int64
1008 1025    1540
Name: amount_per_area, dtype: int64
1018 64    552
Name: amount_per_area, dtype: int64
1018 545    951
Name: amount_per_area, dtype: int64
1018 1026    1564
Name: amount_per_area, dtype: int64
1018 64    552
Name: amount_per_area, dtype: int64
1018 545    951
Name: amount_per_area, dtype: int64
1018 1026    1564
Name: amount_per_area, dtype: int64
488 65    325
Name: amount_per_area, dtype: int64
488 546    429
Name: amount_per_area, dtype: int64
488 1027    739
Name: amount_per_area, dtype: int64
488 65    325
Name: amount_per_area, dtype: int64
488 546    429
Name: amount_per_area, dtype: int64
488 1027    739
Name: amount_per_area, dtype: int64
1439 66    718
Name: amount_per_area, dtype: int64
1439 547    1196
Name: amount_per_area, dtype: int64
1439 1028    2072
Name: amount_per_area, dtype: int64
1439 66    718
Name: amount_per_area, dtype: int64
1439 547    1196
Name: amount_per_area, dtype: int64
1439 1028    2072
Name: amount_per_area, dtype: int64
1191 67    420
Name: amount_per_area, dtype: int64
1191 548    807
Name: amount_per_area, dtype: int64
1191 1029    2002
Name: amount_per_area, dtype: int64
1191 67    420
Name: amount_per_area, dtype: int64
1191 548    807
Name: amount_per_area, dtype: int64
1191 1029    2002
Name: amount_per_area, dtype: int64
912 68    553
Name: amount_per_area, dtype: int64
912 549    829
Name: amount_per_area, dtype: int64
912 1030    1688
Name: amount_per_area, dtype: int64
912 68    553
Name: amount_per_area, dtype: int64
912 549    829
Name: amount_per_area, dtype: int64
912 1030    1688
Name: amount_per_area, dtype: int64
913 69    318
Name: amount_per_area, dtype: int64
913 550    751
Name: amount_per_area, dtype: int64
913 1031    1819
Name: amount_per_area, dtype: int64
913 69    318
Name: amount_per_area, dtype: int64
913 550    751
Name: amount_per_area, dtype: int64

913 1031    1819
Name: amount_per_area, dtype: int64
2 70    0
Name: amount_per_area, dtype: int64
2 551    0
Name: amount_per_area, dtype: int64
2 1032    0
Name: amount_per_area, dtype: int64
2 70    0
Name: amount_per_area, dtype: int64
2 551    0
Name: amount_per_area, dtype: int64
2 1032    0
Name: amount_per_area, dtype: int64
4 71    0
Name: amount_per_area, dtype: int64
4 552    0
Name: amount_per_area, dtype: int64
4 1033    0
Name: amount_per_area, dtype: int64
4 71    0
Name: amount_per_area, dtype: int64
4 552    0
Name: amount_per_area, dtype: int64
4 1033    0
Name: amount_per_area, dtype: int64
0 72    0
Name: amount_per_area, dtype: int64
0 553    0
Name: amount_per_area, dtype: int64
0 1034    0
Name: amount_per_area, dtype: int64
0 72    0
Name: amount_per_area, dtype: int64
0 553    0
Name: amount_per_area, dtype: int64
0 1034    0
Name: amount_per_area, dtype: int64
1 73    0
Name: amount_per_area, dtype: int64
1 554    0
Name: amount_per_area, dtype: int64
1 1035    0
Name: amount_per_area, dtype: int64
1 73    0
Name: amount_per_area, dtype: int64
1 554    0
Name: amount_per_area, dtype: int64
1 1035    0
Name: amount_per_area, dtype: int64
1 74    0
Name: amount_per_area, dtype: int64
1 555    0
Name: amount_per_area, dtype: int64
1 1036    0
Name: amount_per_area, dtype: int64
1 74    0
Name: amount_per_area, dtype: int64
1 555    0
Name: amount_per_area, dtype: int64
1 1036    0
Name: amount_per_area, dtype: int64
2 75    0
Name: amount_per_area, dtype: int64
2 556    0
Name: amount_per_area, dtype: int64
2 1037    0
Name: amount_per_area, dtype: int64
2 75    0
Name: amount_per_area, dtype: int64
2 556    0
Name: amount_per_area, dtype: int64
2 1037    0
Name: amount_per_area, dtype: int64
0 76    0
Name: amount_per_area, dtype: int64
0 557    0
Name: amount_per_area, dtype: int64
0 1038    0
Name: amount_per_area, dtype: int64
0 76    0
Name: amount_per_area, dtype: int64
0 557    0
Name: amount_per_area, dtype: int64
0 1038    0
Name: amount_per_area, dtype: int64
1 77    0
Name: amount_per_area, dtype: int64
1 558    0
Name: amount_per_area, dtype: int64
1 1039    0
Name: amount_per_area, dtype: int64
1 77    0
Name: amount_per_area, dtype: int64
1 558    0
Name: amount_per_area, dtype: int64
1 1039    0
Name: amount_per_area, dtype: int64
239 78    33
Name: amount_per_area, dtype: int64
239 559    154
Name: amount_per_area, dtype: int64
239 1040    614
Name: amount_per_area, dtype: int64
239 78    33
Name: amount_per_area, dtype: int64
239 559    154
Name: amount_per_area, dtype: int64
239 1040    614
Name: amount_per_area, dtype: int64
0 79    0
Name: amount_per_area, dtype: int64
0 560    0
Name: amount_per_area, dtype: int64
0 1041    0
Name: amount_per_area, dtype: int64
0 79    0
Name: amount_per_area, dtype: int64
0 560    0
Name: amount_per_area, dtype: int64
0 1041    0
Name: amount_per_area, dtype: int64
1360 80    912
Name: amount_per_area, dtype: int64
1360 561    1071
Name: amount_per_area, dtype: int64
1360 1042    1982
Name: amount_per_area, dtype: int64
1360 80    912
Name: amount_per_area, dtype: int64
1360 561    1071
Name: amount_per_area, dtype: int64
1360 1042    1982
Name: amount_per_area, dtype: int64
1510 81    1298
Name: amount_per_area, dtype: int64
1510 562    1587
Name: amount_per_area, dtype: int64
1510 1043    1971
Name: amount_per_area, dtype: int64
1510 81    1298
Name: amount_per_area, dtype: int64
1510 562    1587
Name: amount_per_area, dtype: int64
1510 1043    1971
Name: amount_per_area, dtype: int64
0 82    0
Name: amount_per_area, dtype: int64
0 563    0
Name: amount_per_area, dtype: int64
0 1044    0
Name: amount_per_area, dtype: int64
0 82    0
Name: amount_per_area, dtype: int64
0 563    0
Name: amount_per_area, dtype: int64
0 1044    0
Name: amount_per_area, dtype: int64
1219 83    688
Name: amount_per_area, dtype: int64
1219 564    994
Name: amount_per_area, dtype: int64
1219 1045    2140
Name: amount_per_area, dtype: int64
1219 83    688
Name: amount_per_area, dtype: int64
1219 564    994
Name: amount_per_area, dtype: int64
1219 1045    2140
Name: amount_per_area, dtype: int64
1244 84    863
Name: amount_per_area, dtype: int64
1244 565    1099
Name: amount_per_area, dtype: int64
1244 1046    1962
Name: amount_per_area, dtype: int64
1244 84    863
Name: amount_per_area, dtype: int64
1244 565    1099
Name: amount_per_area, dtype: int64
1244 1046    1962
Name: amount_per_area, dtype: int64
872 85    720
Name: amount_per_area, dtype: int64
872 566    777
Name: amount_per_area, dtype: int64
872 1047    1382
Name: amount_per_area, dtype: int64
872 85    720
Name: amount_per_area, dtype: int64
872 566    777
Name: amount_per_area, dtype: int64
872 1047    1382
Name: amount_per_area, dtype: int64
0 86    0
Name: amount_per_area, dtype: int64
0 567    0
Name: amount_per_area, dtype: int64
0 1048    0
Name: amount_per_area, dtype: int64
0 86    0
Name: amount_per_area, dtype: int64
0 567    0
Name: amount_per_area, dtype: int64
0 1048    0
Name: amount_per_area, dtype: int64
2 87    0
Name: amount_per_area, dtype: int64
2 568    0
Name: amount_per_area, dtype: int64
2 1049    0
Name: amount_per_area, dtype: int64
2 87    0
Name: amount_per_area, dtype: int64
2 568    0
Name: amount_per_area, dtype: int64
2 1049    0
Name: amount_per_area, dtype: int64
1259 88    611
Name: amount_per_area, dtype: int64
1259 569    1030
Name: amount_per_area, dtype: int64
1259 1050    2174
Name: amount_per_area, dtype: int64
1259 88    611
Name: amount_per_area, dtype: int64
1259 569    1030
Name: amount_per_area, dtype: int64
1259 1050    2174
Name: amount_per_area, dtype: int64
0 89    0
Name: amount_per_area, dtype: int64
0 570    0
Name: amount_per_area, dtype: int64
0 1051    0
Name: amount_per_area, dtype: int64
0 89    0
Name: amount_per_area, dtype: int64
0 570    0
Name: amount_per_area, dtype: int64
0 1051    0
Name: amount_per_area, dtype: int64
1179 90    994
Name: amount_per_area, dtype: int64
1179 571    1030
Name: amount_per_area, dtype: int64
1179 1052    1527
Name: amount_per_area, dtype: int64
1179 90    994
Name: amount_per_area, dtype: int64
1179 571    1030
Name: amount_per_area, dtype: int64
1179 1052    1527
Name: amount_per_area, dtype: int64
2250 91    1116
Name: amount_per_area, dtype: int64
2250 572    1736
Name: amount_per_area, dtype: int64
2250 1053    3347
Name: amount_per_area, dtype: int64
2250 91    1116
Name: amount_per_area, dtype: int64
2250 572    1736
Name: amount_per_area, dtype: int64
2250 1053    3347
Name: amount_per_area, dtype: int64
1974 92    808
Name: amount_per_area, dtype: int64
1974 573    1363
Name: amount_per_area, dtype: int64
1974 1054    2878
Name: amount_per_area, dtype: int64
1974 92    808
Name: amount_per_area, dtype: int64
1974 573    1363
Name: amount_per_area, dtype: int64
1974 1054    2878
Name: amount_per_area, dtype: int64
1516 93    805
Name: amount_per_area, dtype: int64
1516 574    1137
Name: amount_per_area, dtype: int64
1516 1055    2794
Name: amount_per_area, dtype: int64
1516 93    805
Name: amount_per_area, dtype: int64
1516 574    1137
Name: amount_per_area, dtype: int64
1516 1055    2794
Name: amount_per_area, dtype: int64
1089 94    709
Name: amount_per_area, dtype: int64
1089 575    1119
Name: amount_per_area, dtype: int64
1089 1056    1901
Name: amount_per_area, dtype: int64
1089 94    709
Name: amount_per_area, dtype: int64
1089 575    1119
Name: amount_per_area, dtype: int64
1089 1056    1901
Name: amount_per_area, dtype: int64
4 95    0
Name: amount_per_area, dtype: int64
4 576    0
Name: amount_per_area, dtype: int64
4 1057    0
Name: amount_per_area, dtype: int64
4 95    0
Name: amount_per_area, dtype: int64
4 576    0
Name: amount_per_area, dtype: int64
4 1057    0
Name: amount_per_area, dtype: int64
18 96    0
Name: amount_per_area, dtype: int64
18 577    0
Name: amount_per_area, dtype: int64
18 1058    0
Name: amount_per_area, dtype: int64
18 96    0
Name: amount_per_area, dtype: int64
18 577    0
Name: amount_per_area, dtype: int64
18 1058    0
Name: amount_per_area, dtype: int64
1082 97    598
Name: amount_per_area, dtype: int64
1082 578    818
Name: amount_per_area, dtype: int64
1082 1059    1730
Name: amount_per_area, dtype: int64
1082 97    598
Name: amount_per_area, dtype: int64
1082 578    818
Name: amount_per_area, dtype: int64
1082 1059    1730
Name: amount_per_area, dtype: int64
1295 98    549
Name: amount_per_area, dtype: int64
1295 579    878
Name: amount_per_area, dtype: int64
1295 1060    2231
Name: amount_per_area, dtype: int64
1295 98    549
Name: amount_per_area, dtype: int64
1295 579    878
Name: amount_per_area, dtype: int64
1295 1060    2231
Name: amount_per_area, dtype: int64
1811 99    851
Name: amount_per_area, dtype: int64
1811 580    1351
Name: amount_per_area, dtype: int64
1811 1061    2802
Name: amount_per_area, dtype: int64
1811 99    851
Name: amount_per_area, dtype: int64
1811 580    1351
Name: amount_per_area, dtype: int64
1811 1061    2802
Name: amount_per_area, dtype: int64
907 100    471
Name: amount_per_area, dtype: int64
907 581    1041
Name: amount_per_area, dtype: int64
907 1062    1847
Name: amount_per_area, dtype: int64
907 100    471
Name: amount_per_area, dtype: int64
907 581    1041
Name: amount_per_area, dtype: int64
907 1062    1847
Name: amount_per_area, dtype: int64
1289 101    445
Name: amount_per_area, dtype: int64
1289 582    889
Name: amount_per_area, dtype: int64
1289 1063    2371
Name: amount_per_area, dtype: int64
1289 101    445
Name: amount_per_area, dtype: int64
1289 582    889
Name: amount_per_area, dtype: int64
1289 1063    2371
Name: amount_per_area, dtype: int64
1452 102    1132
Name: amount_per_area, dtype: int64
1452 583    1280
Name: amount_per_area, dtype: int64
1452 1064    2510
Name: amount_per_area, dtype: int64
1452 102    1132
Name: amount_per_area, dtype: int64
1452 583    1280
Name: amount_per_area, dtype: int64
1452 1064    2510
Name: amount_per_area, dtype: int64
1496 103    548
Name: amount_per_area, dtype: int64
1496 584    1096
Name: amount_per_area, dtype: int64
1496 1065    2570
Name: amount_per_area, dtype: int64
1496 103    548
Name: amount_per_area, dtype: int64
1496 584    1096
Name: amount_per_area, dtype: int64
1496 1065    2570
Name: amount_per_area, dtype: int64
2102 104    539
Name: amount_per_area, dtype: int64
2102 585    1455
Name: amount_per_area, dtype: int64
2102 1066    3395
Name: amount_per_area, dtype: int64
2102 104    539
Name: amount_per_area, dtype: int64
2102 585    1455
Name: amount_per_area, dtype: int64
2102 1066    3395
Name: amount_per_area, dtype: int64
1363 105    1407
Name: amount_per_area, dtype: int64
1363 586    1320
Name: amount_per_area, dtype: int64
1363 1067    1671
Name: amount_per_area, dtype: int64
1363 105    1407
Name: amount_per_area, dtype: int64
1363 586    1320
Name: amount_per_area, dtype: int64
1363 1067    1671
Name: amount_per_area, dtype: int64
1829 106    930
Name: amount_per_area, dtype: int64
1829 587    1343
Name: amount_per_area, dtype: int64
1829 1068    2841
Name: amount_per_area, dtype: int64
1829 106    930
Name: amount_per_area, dtype: int64
1829 587    1343
Name: amount_per_area, dtype: int64
1829 1068    2841
Name: amount_per_area, dtype: int64
1609 107    354
Name: amount_per_area, dtype: int64
1609 588    1061
Name: amount_per_area, dtype: int64
1609 1069    3006
Name: amount_per_area, dtype: int64
1609 107    354
Name: amount_per_area, dtype: int64
1609 588    1061
Name: amount_per_area, dtype: int64
1609 1069    3006
Name: amount_per_area, dtype: int64
875 108    373
Name: amount_per_area, dtype: int64
875 589    665
Name: amount_per_area, dtype: int64
875 1070    1622
Name: amount_per_area, dtype: int64
875 108    373
Name: amount_per_area, dtype: int64
875 589    665
Name: amount_per_area, dtype: int64
875 1070    1622
Name: amount_per_area, dtype: int64
2202 109    534
Name: amount_per_area, dtype: int64
2202 590    1306
Name: amount_per_area, dtype: int64
2202 1071    4094
Name: amount_per_area, dtype: int64
2202 109    534
Name: amount_per_area, dtype: int64
2202 590    1306
Name: amount_per_area, dtype: int64
2202 1071    4094
Name: amount_per_area, dtype: int64
1871 110    453
Name: amount_per_area, dtype: int64
1871 591    1157
Name: amount_per_area, dtype: int64
1871 1072    3369
Name: amount_per_area, dtype: int64
1871 110    453
Name: amount_per_area, dtype: int64
1871 591    1157
Name: amount_per_area, dtype: int64
1871 1072    3369
Name: amount_per_area, dtype: int64
1265 111    378
Name: amount_per_area, dtype: int64
1265 592    906
Name: amount_per_area, dtype: int64
1265 1073    2492
Name: amount_per_area, dtype: int64
1265 111    378
Name: amount_per_area, dtype: int64
1265 592    906
Name: amount_per_area, dtype: int64
1265 1073    2492
Name: amount_per_area, dtype: int64
578 112    195
Name: amount_per_area, dtype: int64
578 593    337
Name: amount_per_area, dtype: int64
578 1074    765
Name: amount_per_area, dtype: int64
578 112    195
Name: amount_per_area, dtype: int64
578 593    337
Name: amount_per_area, dtype: int64
578 1074    765
Name: amount_per_area, dtype: int64
563 113    275
Name: amount_per_area, dtype: int64
563 594    464
Name: amount_per_area, dtype: int64
563 1075    979
Name: amount_per_area, dtype: int64
563 113    275
Name: amount_per_area, dtype: int64
563 594    464
Name: amount_per_area, dtype: int64
563 1075    979
Name: amount_per_area, dtype: int64
49 114    7
Name: amount_per_area, dtype: int64
49 595    28
Name: amount_per_area, dtype: int64
49 1076    120
Name: amount_per_area, dtype: int64
49 114    7
Name: amount_per_area, dtype: int64
49 595    28
Name: amount_per_area, dtype: int64
49 1076    120
Name: amount_per_area, dtype: int64
14 115    0
Name: amount_per_area, dtype: int64
14 596    0
Name: amount_per_area, dtype: int64
14 1077    0
Name: amount_per_area, dtype: int64
14 115    0
Name: amount_per_area, dtype: int64
14 596    0
Name: amount_per_area, dtype: int64
14 1077    0
Name: amount_per_area, dtype: int64

364 116    80
Name: amount_per_area, dtype: int64
364 597    178
Name: amount_per_area, dtype: int64
364 1078    622
Name: amount_per_area, dtype: int64
364 116    80
Name: amount_per_area, dtype: int64
364 597    178
Name: amount_per_area, dtype: int64
364 1078    622
Name: amount_per_area, dtype: int64
785 117    911
Name: amount_per_area, dtype: int64
785 598    881
Name: amount_per_area, dtype: int64
785 1079    1146
Name: amount_per_area, dtype: int64
785 117    911
Name: amount_per_area, dtype: int64
785 598    881
Name: amount_per_area, dtype: int64
785 1079    1146
Name: amount_per_area, dtype: int64
966 118    753
Name: amount_per_area, dtype: int64
966 599    890
Name: amount_per_area, dtype: int64
966 1080    1746
Name: amount_per_area, dtype: int64
966 118    753
Name: amount_per_area, dtype: int64
966 599    890
Name: amount_per_area, dtype: int64
966 1080    1746
Name: amount_per_area, dtype: int64
1254 119    852
Name: amount_per_area, dtype: int64
1254 600    1015
Name: amount_per_area, dtype: int64
1254 1081    2191
Name: amount_per_area, dtype: int64
1254 119    852
Name: amount_per_area, dtype: int64
1254 600    1015
Name: amount_per_area, dtype: int64
1254 1081    2191
Name: amount_per_area, dtype: int64
1226 120    1038
Name: amount_per_area, dtype: int64
1226 601    1115
Name: amount_per_area, dtype: int64
1226 1082    1691
Name: amount_per_area, dtype: int64
1226 120    1038
Name: amount_per_area, dtype: int64
1226 601    1115
Name: amount_per_area, dtype: int64
1226 1082    1691
Name: amount_per_area, dtype: int64
1116 121    1146
Name: amount_per_area, dtype: int64
1116 602    1231
Name: amount_per_area, dtype: int64
1116 1083    1909
Name: amount_per_area, dtype: int64
1116 121    1146
Name: amount_per_area, dtype: int64
1116 602    1231
Name: amount_per_area, dtype: int64
1116 1083    1909
Name: amount_per_area, dtype: int64
736 122    361
Name: amount_per_area, dtype: int64
736 603    577
Name: amount_per_area, dtype: int64
736 1084    1467
Name: amount_per_area, dtype: int64
736 122    361
Name: amount_per_area, dtype: int64
736 603    577
Name: amount_per_area, dtype: int64
736 1084    1467
Name: amount_per_area, dtype: int64
1150 123    935
Name: amount_per_area, dtype: int64
1150 604    1215
Name: amount_per_area, dtype: int64
1150 1085    2477
Name: amount_per_area, dtype: int64
1150 123    935
Name: amount_per_area, dtype: int64
1150 604    1215
Name: amount_per_area, dtype: int64
1150 1085    2477
Name: amount_per_area, dtype: int64
769 124    566
Name: amount_per_area, dtype: int64
769 605    900
Name: amount_per_area, dtype: int64
769 1086    1105
Name: amount_per_area, dtype: int64
769 124    566
Name: amount_per_area, dtype: int64
769 605    900
Name: amount_per_area, dtype: int64
769 1086    1105
Name: amount_per_area, dtype: int64
882 125    436
Name: amount_per_area, dtype: int64
882 606    821
Name: amount_per_area, dtype: int64
882 1087    1308
Name: amount_per_area, dtype: int64
882 125    436
Name: amount_per_area, dtype: int64
882 606    821
Name: amount_per_area, dtype: int64
882 1087    1308
Name: amount_per_area, dtype: int64
654 126    978
Name: amount_per_area, dtype: int64
654 607    856
Name: amount_per_area, dtype: int64
654 1088    1223
Name: amount_per_area, dtype: int64
654 126    978
Name: amount_per_area, dtype: int64
654 607    856
Name: amount_per_area, dtype: int64
654 1088    1223
Name: amount_per_area, dtype: int64
437 127    1102
Name: amount_per_area, dtype: int64
437 608    706
Name: amount_per_area, dtype: int64
437 1089    397
Name: amount_per_area, dtype: int64
437 127    1102
Name: amount_per_area, dtype: int64
437 608    706
Name: amount_per_area, dtype: int64
437 1089    397
Name: amount_per_area, dtype: int64
1279 128    255
Name: amount_per_area, dtype: int64
1279 609    765
Name: amount_per_area, dtype: int64
1279 1090    2622
Name: amount_per_area, dtype: int64
1279 128    255
Name: amount_per_area, dtype: int64
1279 609    765
Name: amount_per_area, dtype: int64
1279 1090    2622
Name: amount_per_area, dtype: int64
1338 129    541
Name: amount_per_area, dtype: int64
1338 610    1126
Name: amount_per_area, dtype: int64
1338 1091    2837
Name: amount_per_area, dtype: int64
1338 129    541
Name: amount_per_area, dtype: int64
1338 610    1126
Name: amount_per_area, dtype: int64
1338 1091    2837
Name: amount_per_area, dtype: int64
1563 130    977
Name: amount_per_area, dtype: int64
1563 611    1349
Name: amount_per_area, dtype: int64
1563 1092    2326
Name: amount_per_area, dtype: int64
1563 130    977
Name: amount_per_area, dtype: int64
1563 611    1349
Name: amount_per_area, dtype: int64
1563 1092    2326
Name: amount_per_area, dtype: int64
1521 131    1036
Name: amount_per_area, dtype: int64
1521 612    1413
Name: amount_per_area, dtype: int64
1521 1093    2260
Name: amount_per_area, dtype: int64
1521 131    1036
Name: amount_per_area, dtype: int64
1521 612    1413
Name: amount_per_area, dtype: int64
1521 1093    2260
Name: amount_per_area, dtype: int64
1408 132    1348
Name: amount_per_area, dtype: int64
1408 613    1448
Name: amount_per_area, dtype: int64
1408 1094    2197
Name: amount_per_area, dtype: int64
1408 132    1348
Name: amount_per_area, dtype: int64
1408 613    1448
Name: amount_per_area, dtype: int64
1408 1094    2197
Name: amount_per_area, dtype: int64
0 133    0
Name: amount_per_area, dtype: int64
0 614    0
Name: amount_per_area, dtype: int64
0 1095    0
Name: amount_per_area, dtype: int64
0 133    0
Name: amount_per_area, dtype: int64
0 614    0
Name: amount_per_area, dtype: int64
0 1095    0
Name: amount_per_area, dtype: int64
1404 134    2247
Name: amount_per_area, dtype: int64
1404 615    1053
Name: amount_per_area, dtype: int64
1404 1096    211
Name: amount_per_area, dtype: int64
1404 134    2247
Name: amount_per_area, dtype: int64
1404 615    1053
Name: amount_per_area, dtype: int64
1404 1096    211
Name: amount_per_area, dtype: int64
1328 135    1099
Name: amount_per_area, dtype: int64
1328 616    1282
Name: amount_per_area, dtype: int64
1328 1097    2198
Name: amount_per_area, dtype: int64
1328 135    1099
Name: amount_per_area, dtype: int64
1328 616    1282
Name: amount_per_area, dtype: int64
1328 1097    2198
Name: amount_per_area, dtype: int64
1224 136    1124
Name: amount_per_area, dtype: int64
1224 617    1208
Name: amount_per_area, dtype: int64
1224 1098    1832
Name: amount_per_area, dtype: int64
1224 136    1124
Name: amount_per_area, dtype: int64
1224 617    1208
Name: amount_per_area, dtype: int64
1224 1098    1832
Name: amount_per_area, dtype: int64
1794 137    1108
Name: amount_per_area, dtype: int64
1794 618    1218
Name: amount_per_area, dtype: int64
1794 1099    3211
Name: amount_per_area, dtype: int64
1794 137    1108
Name: amount_per_area, dtype: int64
1794 618    1218
Name: amount_per_area, dtype: int64
1794 1099    3211
Name: amount_per_area, dtype: int64
1392 138    713
Name: amount_per_area, dtype: int64
1392 619    1090
Name: amount_per_area, dtype: int64
1392 1100    2390
Name: amount_per_area, dtype: int64
1392 138    713
Name: amount_per_area, dtype: int64
1392 619    1090
Name: amount_per_area, dtype: int64
1392 1100    2390
Name: amount_per_area, dtype: int64
1470 139    521
Name: amount_per_area, dtype: int64
1470 620    998
Name: amount_per_area, dtype: int64
1470 1101    2775
Name: amount_per_area, dtype: int64
1470 139    521
Name: amount_per_area, dtype: int64
1470 620    998
Name: amount_per_area, dtype: int64
1470 1101    2775
Name: amount_per_area, dtype: int64
950 140    388
Name: amount_per_area, dtype: int64
950 621    808
Name: amount_per_area, dtype: int64
950 1102    2002
Name: amount_per_area, dtype: int64
950 140    388
Name: amount_per_area, dtype: int64
950 621    808
Name: amount_per_area, dtype: int64
950 1102    2002
Name: amount_per_area, dtype: int64
1142 141    767
Name: amount_per_area, dtype: int64
1142 622    1050
Name: amount_per_area, dtype: int64
1142 1103    2179
Name: amount_per_area, dtype: int64
1142 141    767
Name: amount_per_area, dtype: int64
1142 622    1050
Name: amount_per_area, dtype: int64
1142 1103    2179
Name: amount_per_area, dtype: int64
0 142    0
Name: amount_per_area, dtype: int64
0 623    0
Name: amount_per_area, dtype: int64
0 1104    0
Name: amount_per_area, dtype: int64
0 142    0
Name: amount_per_area, dtype: int64
0 623    0
Name: amount_per_area, dtype: int64
0 1104    0
Name: amount_per_area, dtype: int64
1388 143    1254
Name: amount_per_area, dtype: int64
1388 624    1299
Name: amount_per_area, dtype: int64
1388 1105    1926
Name: amount_per_area, dtype: int64
1388 143    1254
Name: amount_per_area, dtype: int64
1388 624    1299
Name: amount_per_area, dtype: int64
1388 1105    1926
Name: amount_per_area, dtype: int64
0 144    0
Name: amount_per_area, dtype: int64
0 625    0
Name: amount_per_area, dtype: int64
0 1106    0
Name: amount_per_area, dtype: int64
0 144    0
Name: amount_per_area, dtype: int64
0 625    0
Name: amount_per_area, dtype: int64
0 1106    0
Name: amount_per_area, dtype: int64
10 145    0
Name: amount_per_area, dtype: int64
10 626    0
Name: amount_per_area, dtype: int64
10 1107    0
Name: amount_per_area, dtype: int64
10 145    0
Name: amount_per_area, dtype: int64
10 626    0
Name: amount_per_area, dtype: int64
10 1107    0
Name: amount_per_area, dtype: int64
0 146    0
Name: amount_per_area, dtype: int64
0 627    0
Name: amount_per_area, dtype: int64
0 1108    0
Name: amount_per_area, dtype: int64
0 146    0
Name: amount_per_area, dtype: int64
0 627    0
Name: amount_per_area, dtype: int64
0 1108    0
Name: amount_per_area, dtype: int64
4 147    0
Name: amount_per_area, dtype: int64
4 628    0
Name: amount_per_area, dtype: int64
4 1109    0
Name: amount_per_area, dtype: int64
4 147    0
Name: amount_per_area, dtype: int64
4 628    0
Name: amount_per_area, dtype: int64
4 1109    0
Name: amount_per_area, dtype: int64
1 148    0
Name: amount_per_area, dtype: int64
1 629    0
Name: amount_per_area, dtype: int64
1 1110    0
Name: amount_per_area, dtype: int64
1 148    0
Name: amount_per_area, dtype: int64
1 629    0
Name: amount_per_area, dtype: int64
1 1110    0
Name: amount_per_area, dtype: int64
108 149    15
Name: amount_per_area, dtype: int64
108 630    69
Name: amount_per_area, dtype: int64
108 1111    66
Name: amount_per_area, dtype: int64
108 149    15
Name: amount_per_area, dtype: int64
108 630    69
Name: amount_per_area, dtype: int64
108 1111    66
Name: amount_per_area, dtype: int64
0 150    0
Name: amount_per_area, dtype: int64
0 631    0
Name: amount_per_area, dtype: int64
0 1112    0
Name: amount_per_area, dtype: int64
0 150    0
Name: amount_per_area, dtype: int64
0 631    0
Name: amount_per_area, dtype: int64
0 1112    0
Name: amount_per_area, dtype: int64
0 151    0
Name: amount_per_area, dtype: int64
0 632    0
Name: amount_per_area, dtype: int64
0 1113    0
Name: amount_per_area, dtype: int64
0 151    0
Name: amount_per_area, dtype: int64
0 632    0
Name: amount_per_area, dtype: int64
0 1113    0
Name: amount_per_area, dtype: int64
430 152    652
Name: amount_per_area, dtype: int64
430 633    557
Name: amount_per_area, dtype: int64
430 1114    382
Name: amount_per_area, dtype: int64
430 152    652
Name: amount_per_area, dtype: int64
430 633    557
Name: amount_per_area, dtype: int64
430 1114    382
Name: amount_per_area, dtype: int64
503 153    883
Name: amount_per_area, dtype: int64
503 634    687
Name: amount_per_area, dtype: int64
503 1115    393
Name: amount_per_area, dtype: int64
503 153    883
Name: amount_per_area, dtype: int64
503 634    687
Name: amount_per_area, dtype: int64
503 1115    393
Name: amount_per_area, dtype: int64
389 154    572
Name: amount_per_area, dtype: int64
389 635    558
Name: amount_per_area, dtype: int64
389 1116    338
Name: amount_per_area, dtype: int64
389 154    572
Name: amount_per_area, dtype: int64
389 635    558
Name: amount_per_area, dtype: int64
389 1116    338
Name: amount_per_area, dtype: int64
464 155    419
Name: amount_per_area, dtype: int64
464 636    548
Name: amount_per_area, dtype: int64
464 1117    644
Name: amount_per_area, dtype: int64
464 155    419
Name: amount_per_area, dtype: int64
464 636    548
Name: amount_per_area, dtype: int64
464 1117    644
Name: amount_per_area, dtype: int64
582 156    744
Name: amount_per_area, dtype: int64
582 637    706
Name: amount_per_area, dtype: int64
582 1118    409
Name: amount_per_area, dtype: int64
582 156    744
Name: amount_per_area, dtype: int64
582 637    706
Name: amount_per_area, dtype: int64
582 1118    409
Name: amount_per_area, dtype: int64
565 157    1486
Name: amount_per_area, dtype: int64
565 638    1049
Name: amount_per_area, dtype: int64
565 1119    379
Name: amount_per_area, dtype: int64

565 157    1486
Name: amount_per_area, dtype: int64
565 638    1049
Name: amount_per_area, dtype: int64
565 1119    379
Name: amount_per_area, dtype: int64
6 158    0
Name: amount_per_area, dtype: int64
6 639    0
Name: amount_per_area, dtype: int64
6 1120    0
Name: amount_per_area, dtype: int64
6 158    0
Name: amount_per_area, dtype: int64
6 639    0
Name: amount_per_area, dtype: int64
6 1120    0
Name: amount_per_area, dtype: int64
449 159    963
Name: amount_per_area, dtype: int64
449 640    722
Name: amount_per_area, dtype: int64
449 1121    503
Name: amount_per_area, dtype: int64
449 159    963
Name: amount_per_area, dtype: int64
449 640    722
Name: amount_per_area, dtype: int64
449 1121    503
Name: amount_per_area, dtype: int64
455 160    929
Name: amount_per_area, dtype: int64
455 641    788
Name: amount_per_area, dtype: int64
455 1122    303
Name: amount_per_area, dtype: int64
455 160    929
Name: amount_per_area, dtype: int64
455 641    788
Name: amount_per_area, dtype: int64
455 1122    303
Name: amount_per_area, dtype: int64
321 161    638
Name: amount_per_area, dtype: int64
321 642    707
Name: amount_per_area, dtype: int64
321 1123    397
Name: amount_per_area, dtype: int64
321 161    638
Name: amount_per_area, dtype: int64
321 642    707
Name: amount_per_area, dtype: int64
321 1123    397
Name: amount_per_area, dtype: int64
800 162    1089
Name: amount_per_area, dtype: int64
800 643    1118
Name: amount_per_area, dtype: int64
800 1124    659
Name: amount_per_area, dtype: int64
800 162    1089
Name: amount_per_area, dtype: int64
800 643    1118
Name: amount_per_area, dtype: int64
800 1124    659
Name: amount_per_area, dtype: int64
531 163    1138
Name: amount_per_area, dtype: int64
531 644    1009
Name: amount_per_area, dtype: int64
531 1125    440
Name: amount_per_area, dtype: int64
531 163    1138
Name: amount_per_area, dtype: int64
531 644    1009
Name: amount_per_area, dtype: int64
531 1125    440
Name: amount_per_area, dtype: int64
127 164    188
Name: amount_per_area, dtype: int64
127 645    136
Name: amount_per_area, dtype: int64
127 1126    114
Name: amount_per_area, dtype: int64
127 164    188
Name: amount_per_area, dtype: int64
127 645    136
Name: amount_per_area, dtype: int64
127 1126    114
Name: amount_per_area, dtype: int64
2 165    0
Name: amount_per_area, dtype: int64
2 646    0
Name: amount_per_area, dtype: int64
2 1127    0
Name: amount_per_area, dtype: int64
2 165    0
Name: amount_per_area, dtype: int64
2 646    0
Name: amount_per_area, dtype: int64
2 1127    0
Name: amount_per_area, dtype: int64
321 166    449
Name: amount_per_area, dtype: int64
321 647    622
Name: amount_per_area, dtype: int64
321 1128    376
Name: amount_per_area, dtype: int64
321 166    449
Name: amount_per_area, dtype: int64
321 647    622
Name: amount_per_area, dtype: int64
321 1128    376
Name: amount_per_area, dtype: int64
62 167    0
Name: amount_per_area, dtype: int64
62 648    0
Name: amount_per_area, dtype: int64
62 1129    0
Name: amount_per_area, dtype: int64
62 167    0
Name: amount_per_area, dtype: int64
62 648    0
Name: amount_per_area, dtype: int64
62 1129    0
Name: amount_per_area, dtype: int64
11 168    22
Name: amount_per_area, dtype: int64
11 649    21
Name: amount_per_area, dtype: int64
11 1130    16
Name: amount_per_area, dtype: int64
11 168    22
Name: amount_per_area, dtype: int64
11 649    21
Name: amount_per_area, dtype: int64
11 1130    16
Name: amount_per_area, dtype: int64
1 169    2
Name: amount_per_area, dtype: int64
1 650    3
Name: amount_per_area, dtype: int64
1 1131    2
Name: amount_per_area, dtype: int64
1 169    2
Name: amount_per_area, dtype: int64
1 650    3
Name: amount_per_area, dtype: int64
1 1131    2
Name: amount_per_area, dtype: int64
686 170    1361
Name: amount_per_area, dtype: int64
686 651    1007
Name: amount_per_area, dtype: int64
686 1132    327
Name: amount_per_area, dtype: int64
686 170    1361
Name: amount_per_area, dtype: int64
686 651    1007
Name: amount_per_area, dtype: int64
686 1132    327
Name: amount_per_area, dtype: int64
800 171    699
Name: amount_per_area, dtype: int64
800 652    958
Name: amount_per_area, dtype: int64
800 1133    958
Name: amount_per_area, dtype: int64
800 171    699
Name: amount_per_area, dtype: int64
800 652    958
Name: amount_per_area, dtype: int64
800 1133    958
Name: amount_per_area, dtype: int64
449 172    602
Name: amount_per_area, dtype: int64
449 653    654
Name: amount_per_area, dtype: int64
449 1134    447
Name: amount_per_area, dtype: int64
449 172    602
Name: amount_per_area, dtype: int64
449 653    654
Name: amount_per_area, dtype: int64
449 1134    447
Name: amount_per_area, dtype: int64
203 173    302
Name: amount_per_area, dtype: int64
203 654    311
Name: amount_per_area, dtype: int64
203 1135    204
Name: amount_per_area, dtype: int64
203 173    302
Name: amount_per_area, dtype: int64
203 654    311
Name: amount_per_area, dtype: int64
203 1135    204
Name: amount_per_area, dtype: int64
402 174    401
Name: amount_per_area, dtype: int64
402 655    615
Name: amount_per_area, dtype: int64
402 1136    415
Name: amount_per_area, dtype: int64
402 174    401
Name: amount_per_area, dtype: int64
402 655    615
Name: amount_per_area, dtype: int64
402 1136    415
Name: amount_per_area, dtype: int64
423 175    1081
Name: amount_per_area, dtype: int64
423 656    940
Name: amount_per_area, dtype: int64
423 1137    353
Name: amount_per_area, dtype: int64
423 175    1081
Name: amount_per_area, dtype: int64
423 656    940
Name: amount_per_area, dtype: int64
423 1137    353
Name: amount_per_area, dtype: int64
707 176    1028
Name: amount_per_area, dtype: int64
707 657    977
Name: amount_per_area, dtype: int64
707 1138    566
Name: amount_per_area, dtype: int64
707 176    1028
Name: amount_per_area, dtype: int64
707 657    977
Name: amount_per_area, dtype: int64
707 1138    566
Name: amount_per_area, dtype: int64
658 177    885
Name: amount_per_area, dtype: int64
658 658    1005
Name: amount_per_area, dtype: int64
658 1139    503
Name: amount_per_area, dtype: int64
658 177    885
Name: amount_per_area, dtype: int64
658 658    1005
Name: amount_per_area, dtype: int64
658 1139    503
Name: amount_per_area, dtype: int64
893 178    992
Name: amount_per_area, dtype: int64
893 659    1203
Name: amount_per_area, dtype: int64
893 1140    812
Name: amount_per_area, dtype: int64
893 178    992
Name: amount_per_area, dtype: int64
893 659    1203
Name: amount_per_area, dtype: int64
893 1140    812
Name: amount_per_area, dtype: int64
675 179    810
Name: amount_per_area, dtype: int64
675 660    945
Name: amount_per_area, dtype: int64
675 1141    495
Name: amount_per_area, dtype: int64
675 179    810
Name: amount_per_area, dtype: int64
675 660    945
Name: amount_per_area, dtype: int64
675 1141    495
Name: amount_per_area, dtype: int64
46 180    0
Name: amount_per_area, dtype: int64
46 661    0
Name: amount_per_area, dtype: int64
46 1142    0
Name: amount_per_area, dtype: int64
46 180    0
Name: amount_per_area, dtype: int64
46 661    0
Name: amount_per_area, dtype: int64
46 1142    0
Name: amount_per_area, dtype: int64
436 181    667
Name: amount_per_area, dtype: int64
436 662    875
Name: amount_per_area, dtype: int64
436 1143    542
Name: amount_per_area, dtype: int64
436 181    667
Name: amount_per_area, dtype: int64
436 662    875
Name: amount_per_area, dtype: int64
436 1143    542
Name: amount_per_area, dtype: int64
407 182    422
Name: amount_per_area, dtype: int64
407 663    625
Name: amount_per_area, dtype: int64
407 1144    516
Name: amount_per_area, dtype: int64
407 182    422
Name: amount_per_area, dtype: int64
407 663    625
Name: amount_per_area, dtype: int64
407 1144    516
Name: amount_per_area, dtype: int64
357 183    452
Name: amount_per_area, dtype: int64
357 664    630
Name: amount_per_area, dtype: int64
357 1145    533
Name: amount_per_area, dtype: int64
357 183    452
Name: amount_per_area, dtype: int64
357 664    630
Name: amount_per_area, dtype: int64
357 1145    533
Name: amount_per_area, dtype: int64
287 184    242
Name: amount_per_area, dtype: int64
287 665    369
Name: amount_per_area, dtype: int64
287 1146    542
Name: amount_per_area, dtype: int64
287 184    242
Name: amount_per_area, dtype: int64
287 665    369
Name: amount_per_area, dtype: int64
287 1146    542
Name: amount_per_area, dtype: int64
254 185    244
Name: amount_per_area, dtype: int64
254 666    278
Name: amount_per_area, dtype: int64
254 1147    348
Name: amount_per_area, dtype: int64
254 185    244
Name: amount_per_area, dtype: int64
254 666    278
Name: amount_per_area, dtype: int64
254 1147    348
Name: amount_per_area, dtype: int64
506 186    828
Name: amount_per_area, dtype: int64
506 667    715
Name: amount_per_area, dtype: int64
506 1148    358
Name: amount_per_area, dtype: int64
506 186    828
Name: amount_per_area, dtype: int64
506 667    715
Name: amount_per_area, dtype: int64
506 1148    358
Name: amount_per_area, dtype: int64
632 187    1207
Name: amount_per_area, dtype: int64
632 668    1022
Name: amount_per_area, dtype: int64
632 1149    867
Name: amount_per_area, dtype: int64
632 187    1207
Name: amount_per_area, dtype: int64
632 668    1022
Name: amount_per_area, dtype: int64
632 1149    867
Name: amount_per_area, dtype: int64
707 188    546
Name: amount_per_area, dtype: int64
707 669    769
Name: amount_per_area, dtype: int64
707 1150    1166
Name: amount_per_area, dtype: int64
707 188    546
Name: amount_per_area, dtype: int64
707 669    769
Name: amount_per_area, dtype: int64
707 1150    1166
Name: amount_per_area, dtype: int64
274 189    37
Name: amount_per_area, dtype: int64
274 670    284
Name: amount_per_area, dtype: int64
274 1151    284
Name: amount_per_area, dtype: int64
274 189    37
Name: amount_per_area, dtype: int64
274 670    284
Name: amount_per_area, dtype: int64
274 1151    284
Name: amount_per_area, dtype: int64
224 190    33
Name: amount_per_area, dtype: int64
224 671    145
Name: amount_per_area, dtype: int64
224 1152    358
Name: amount_per_area, dtype: int64
224 190    33
Name: amount_per_area, dtype: int64
224 671    145
Name: amount_per_area, dtype: int64
224 1152    358
Name: amount_per_area, dtype: int64
262 191    801
Name: amount_per_area, dtype: int64
262 672    478
Name: amount_per_area, dtype: int64
262 1153    141
Name: amount_per_area, dtype: int64
262 191    801
Name: amount_per_area, dtype: int64
262 672    478
Name: amount_per_area, dtype: int64
262 1153    141
Name: amount_per_area, dtype: int64
779 192    33
Name: amount_per_area, dtype: int64
779 673    336
Name: amount_per_area, dtype: int64
779 1154    715
Name: amount_per_area, dtype: int64
779 192    33
Name: amount_per_area, dtype: int64
779 673    336
Name: amount_per_area, dtype: int64
779 1154    715
Name: amount_per_area, dtype: int64
1047 193    113
Name: amount_per_area, dtype: int64
1047 674    487
Name: amount_per_area, dtype: int64
1047 1155    1274
Name: amount_per_area, dtype: int64
1047 193    113
Name: amount_per_area, dtype: int64
1047 674    487
Name: amount_per_area, dtype: int64
1047 1155    1274
Name: amount_per_area, dtype: int64
520 194    331
Name: amount_per_area, dtype: int64
520 675    363
Name: amount_per_area, dtype: int64
520 1156    883
Name: amount_per_area, dtype: int64
520 194    331
Name: amount_per_area, dtype: int64
520 675    363
Name: amount_per_area, dtype: int64
520 1156    883
Name: amount_per_area, dtype: int64
513 195    507
Name: amount_per_area, dtype: int64
513 676    507
Name: amount_per_area, dtype: int64
513 1157    570
Name: amount_per_area, dtype: int64
513 195    507
Name: amount_per_area, dtype: int64
513 676    507
Name: amount_per_area, dtype: int64
513 1157    570
Name: amount_per_area, dtype: int64
661 196    407
Name: amount_per_area, dtype: int64
661 677    646
Name: amount_per_area, dtype: int64
661 1158    794
Name: amount_per_area, dtype: int64
661 196    407
Name: amount_per_area, dtype: int64
661 677    646
Name: amount_per_area, dtype: int64
661 1158    794
Name: amount_per_area, dtype: int64
152 197    52
Name: amount_per_area, dtype: int64
152 678    114
Name: amount_per_area, dtype: int64
152 1159    82
Name: amount_per_area, dtype: int64
152 197    52
Name: amount_per_area, dtype: int64
152 678    114
Name: amount_per_area, dtype: int64
152 1159    82
Name: amount_per_area, dtype: int64
967 198    0
Name: amount_per_area, dtype: int64
967 679    0
Name: amount_per_area, dtype: int64
967 1160    0
Name: amount_per_area, dtype: int64
967 198    0
Name: amount_per_area, dtype: int64
967 679    0
Name: amount_per_area, dtype: int64
967 1160    0
Name: amount_per_area, dtype: int64
22 199    0
Name: amount_per_area, dtype: int64
22 680    0
Name: amount_per_area, dtype: int64
22 1161    0
Name: amount_per_area, dtype: int64
22 199    0
Name: amount_per_area, dtype: int64
22 680    0
Name: amount_per_area, dtype: int64
22 1161    0
Name: amount_per_area, dtype: int64
446 200    244
Name: amount_per_area, dtype: int64
446 681    473
Name: amount_per_area, dtype: int64
446 1162    809
Name: amount_per_area, dtype: int64
446 200    244
Name: amount_per_area, dtype: int64
446 681    473
Name: amount_per_area, dtype: int64
446 1162    809
Name: amount_per_area, dtype: int64
6 201    6
Name: amount_per_area, dtype: int64

6 682    9
Name: amount_per_area, dtype: int64
6 1163    9
Name: amount_per_area, dtype: int64
6 201    6
Name: amount_per_area, dtype: int64
6 682    9
Name: amount_per_area, dtype: int64
6 1163    9
Name: amount_per_area, dtype: int64
17 202    7
Name: amount_per_area, dtype: int64
17 683    24
Name: amount_per_area, dtype: int64
17 1164    27
Name: amount_per_area, dtype: int64
17 202    7
Name: amount_per_area, dtype: int64
17 683    24
Name: amount_per_area, dtype: int64
17 1164    27
Name: amount_per_area, dtype: int64
391 203    393
Name: amount_per_area, dtype: int64
391 684    628
Name: amount_per_area, dtype: int64
391 1165    550
Name: amount_per_area, dtype: int64
391 203    393
Name: amount_per_area, dtype: int64
391 684    628
Name: amount_per_area, dtype: int64
391 1165    550
Name: amount_per_area, dtype: int64
313 204    289
Name: amount_per_area, dtype: int64
313 685    528
Name: amount_per_area, dtype: int64
313 1166    440
Name: amount_per_area, dtype: int64
313 204    289
Name: amount_per_area, dtype: int64
313 685    528
Name: amount_per_area, dtype: int64
313 1166    440
Name: amount_per_area, dtype: int64
874 205    549
Name: amount_per_area, dtype: int64
874 686    755
Name: amount_per_area, dtype: int64
874 1167    984
Name: amount_per_area, dtype: int64
874 205    549
Name: amount_per_area, dtype: int64
874 686    755
Name: amount_per_area, dtype: int64
874 1167    984
Name: amount_per_area, dtype: int64
488 206    356
Name: amount_per_area, dtype: int64
488 687    748
Name: amount_per_area, dtype: int64
488 1168    767
Name: amount_per_area, dtype: int64
488 206    356
Name: amount_per_area, dtype: int64
488 687    748
Name: amount_per_area, dtype: int64
488 1168    767
Name: amount_per_area, dtype: int64
451 207    381
Name: amount_per_area, dtype: int64
451 688    651
Name: amount_per_area, dtype: int64
451 1169    556
Name: amount_per_area, dtype: int64
451 207    381
Name: amount_per_area, dtype: int64
451 688    651
Name: amount_per_area, dtype: int64
451 1169    556
Name: amount_per_area, dtype: int64
38 208    47
Name: amount_per_area, dtype: int64
38 689    89
Name: amount_per_area, dtype: int64
38 1170    98
Name: amount_per_area, dtype: int64
38 208    47
Name: amount_per_area, dtype: int64
38 689    89
Name: amount_per_area, dtype: int64
38 1170    98
Name: amount_per_area, dtype: int64
448 209    552
Name: amount_per_area, dtype: int64
448 690    600
Name: amount_per_area, dtype: int64
448 1171    426
Name: amount_per_area, dtype: int64
448 209    552
Name: amount_per_area, dtype: int64
448 690    600
Name: amount_per_area, dtype: int64
448 1171    426
Name: amount_per_area, dtype: int64
760 210    504
Name: amount_per_area, dtype: int64
760 691    714
Name: amount_per_area, dtype: int64
760 1172    861
Name: amount_per_area, dtype: int64
760 210    504
Name: amount_per_area, dtype: int64
760 691    714
Name: amount_per_area, dtype: int64
760 1172    861
Name: amount_per_area, dtype: int64
454 211    595
Name: amount_per_area, dtype: int64
454 692    561
Name: amount_per_area, dtype: int64
454 1173    527
Name: amount_per_area, dtype: int64
454 211    595
Name: amount_per_area, dtype: int64
454 692    561
Name: amount_per_area, dtype: int64
454 1173    527
Name: amount_per_area, dtype: int64
197 212    71
Name: amount_per_area, dtype: int64
197 693    313
Name: amount_per_area, dtype: int64
197 1174    121
Name: amount_per_area, dtype: int64
197 212    71
Name: amount_per_area, dtype: int64
197 693    313
Name: amount_per_area, dtype: int64
197 1174    121
Name: amount_per_area, dtype: int64
62 213    7
Name: amount_per_area, dtype: int64
62 694    15
Name: amount_per_area, dtype: int64
62 1175    86
Name: amount_per_area, dtype: int64
62 213    7
Name: amount_per_area, dtype: int64
62 694    15
Name: amount_per_area, dtype: int64
62 1175    86
Name: amount_per_area, dtype: int64
0 214    0
Name: amount_per_area, dtype: int64
0 695    0
Name: amount_per_area, dtype: int64
0 1176    0
Name: amount_per_area, dtype: int64
0 214    0
Name: amount_per_area, dtype: int64
0 695    0
Name: amount_per_area, dtype: int64
0 1176    0
Name: amount_per_area, dtype: int64
48 215    0
Name: amount_per_area, dtype: int64
48 696    0
Name: amount_per_area, dtype: int64
48 1177    0
Name: amount_per_area, dtype: int64
48 215    0
Name: amount_per_area, dtype: int64
48 696    0
Name: amount_per_area, dtype: int64
48 1177    0
Name: amount_per_area, dtype: int64
1167 216    152
Name: amount_per_area, dtype: int64
1167 697    417
Name: amount_per_area, dtype: int64
1167 1178    1326
Name: amount_per_area, dtype: int64
1167 216    152
Name: amount_per_area, dtype: int64
1167 697    417
Name: amount_per_area, dtype: int64
1167 1178    1326
Name: amount_per_area, dtype: int64
301 217    7
Name: amount_per_area, dtype: int64
301 698    291
Name: amount_per_area, dtype: int64
301 1179    309
Name: amount_per_area, dtype: int64
301 217    7
Name: amount_per_area, dtype: int64
301 698    291
Name: amount_per_area, dtype: int64
301 1179    309
Name: amount_per_area, dtype: int64
1325 218    386
Name: amount_per_area, dtype: int64
1325 699    1040
Name: amount_per_area, dtype: int64
1325 1180    2427
Name: amount_per_area, dtype: int64
1325 218    386
Name: amount_per_area, dtype: int64
1325 699    1040
Name: amount_per_area, dtype: int64
1325 1180    2427
Name: amount_per_area, dtype: int64
1461 219    492
Name: amount_per_area, dtype: int64
1461 700    1124
Name: amount_per_area, dtype: int64
1461 1181    1931
Name: amount_per_area, dtype: int64
1461 219    492
Name: amount_per_area, dtype: int64
1461 700    1124
Name: amount_per_area, dtype: int64
1461 1181    1931
Name: amount_per_area, dtype: int64
1681 220    440
Name: amount_per_area, dtype: int64
1681 701    1118
Name: amount_per_area, dtype: int64
1681 1182    2436
Name: amount_per_area, dtype: int64
1681 220    440
Name: amount_per_area, dtype: int64
1681 701    1118
Name: amount_per_area, dtype: int64
1681 1182    2436
Name: amount_per_area, dtype: int64
2130 221    837
Name: amount_per_area, dtype: int64
2130 702    1617
Name: amount_per_area, dtype: int64
2130 1183    3123
Name: amount_per_area, dtype: int64
2130 221    837
Name: amount_per_area, dtype: int64
2130 702    1617
Name: amount_per_area, dtype: int64
2130 1183    3123
Name: amount_per_area, dtype: int64
1537 222    433
Name: amount_per_area, dtype: int64
1537 703    1101
Name: amount_per_area, dtype: int64
1537 1184    2398
Name: amount_per_area, dtype: int64
1537 222    433
Name: amount_per_area, dtype: int64
1537 703    1101
Name: amount_per_area, dtype: int64
1537 1184    2398
Name: amount_per_area, dtype: int64
1414 223    552
Name: amount_per_area, dtype: int64
1414 704    1146
Name: amount_per_area, dtype: int64
1414 1185    2547
Name: amount_per_area, dtype: int64
1414 223    552
Name: amount_per_area, dtype: int64
1414 704    1146
Name: amount_per_area, dtype: int64
1414 1185    2547
Name: amount_per_area, dtype: int64
1799 224    629
Name: amount_per_area, dtype: int64
1799 705    1209
Name: amount_per_area, dtype: int64
1799 1186    2999
Name: amount_per_area, dtype: int64
1799 224    629
Name: amount_per_area, dtype: int64
1799 705    1209
Name: amount_per_area, dtype: int64
1799 1186    2999
Name: amount_per_area, dtype: int64
1213 225    545
Name: amount_per_area, dtype: int64
1213 706    954
Name: amount_per_area, dtype: int64
1213 1187    1908
Name: amount_per_area, dtype: int64
1213 225    545
Name: amount_per_area, dtype: int64
1213 706    954
Name: amount_per_area, dtype: int64
1213 1187    1908
Name: amount_per_area, dtype: int64
1421 226    500
Name: amount_per_area, dtype: int64
1421 707    1042
Name: amount_per_area, dtype: int64
1421 1188    2583
Name: amount_per_area, dtype: int64
1421 226    500
Name: amount_per_area, dtype: int64
1421 707    1042
Name: amount_per_area, dtype: int64
1421 1188    2583
Name: amount_per_area, dtype: int64
1345 227    1108
Name: amount_per_area, dtype: int64
1345 708    1227
Name: amount_per_area, dtype: int64
1345 1189    1662
Name: amount_per_area, dtype: int64
1345 227    1108
Name: amount_per_area, dtype: int64
1345 708    1227
Name: amount_per_area, dtype: int64
1345 1189    1662
Name: amount_per_area, dtype: int64
1289 228    912
Name: amount_per_area, dtype: int64
1289 709    1202
Name: amount_per_area, dtype: int64
1289 1190    2030
Name: amount_per_area, dtype: int64
1289 228    912
Name: amount_per_area, dtype: int64
1289 709    1202
Name: amount_per_area, dtype: int64
1289 1190    2030
Name: amount_per_area, dtype: int64
1294 229    959
Name: amount_per_area, dtype: int64
1294 710    1238
Name: amount_per_area, dtype: int64
1294 1191    1797
Name: amount_per_area, dtype: int64
1294 229    959
Name: amount_per_area, dtype: int64
1294 710    1238
Name: amount_per_area, dtype: int64
1294 1191    1797
Name: amount_per_area, dtype: int64
948 230    317
Name: amount_per_area, dtype: int64
948 711    761
Name: amount_per_area, dtype: int64
948 1192    2091
Name: amount_per_area, dtype: int64
948 230    317
Name: amount_per_area, dtype: int64
948 711    761
Name: amount_per_area, dtype: int64
948 1192    2091
Name: amount_per_area, dtype: int64
1195 231    397
Name: amount_per_area, dtype: int64
1195 712    1032
Name: amount_per_area, dtype: int64
1195 1193    2540
Name: amount_per_area, dtype: int64
1195 231    397
Name: amount_per_area, dtype: int64
1195 712    1032
Name: amount_per_area, dtype: int64
1195 1193    2540
Name: amount_per_area, dtype: int64
1551 232    406
Name: amount_per_area, dtype: int64
1551 713    1082
Name: amount_per_area, dtype: int64
1551 1194    3019
Name: amount_per_area, dtype: int64
1551 232    406
Name: amount_per_area, dtype: int64
1551 713    1082
Name: amount_per_area, dtype: int64
1551 1194    3019
Name: amount_per_area, dtype: int64
1047 233    332
Name: amount_per_area, dtype: int64
1047 714    862
Name: amount_per_area, dtype: int64
1047 1195    2120
Name: amount_per_area, dtype: int64
1047 233    332
Name: amount_per_area, dtype: int64
1047 714    862
Name: amount_per_area, dtype: int64
1047 1195    2120
Name: amount_per_area, dtype: int64
1305 234    420
Name: amount_per_area, dtype: int64
1305 715    1007
Name: amount_per_area, dtype: int64
1305 1196    2769
Name: amount_per_area, dtype: int64
1305 234    420
Name: amount_per_area, dtype: int64
1305 715    1007
Name: amount_per_area, dtype: int64
1305 1196    2769
Name: amount_per_area, dtype: int64
80 235    25
Name: amount_per_area, dtype: int64
80 716    54
Name: amount_per_area, dtype: int64
80 1197    64
Name: amount_per_area, dtype: int64
80 235    25
Name: amount_per_area, dtype: int64
80 716    54
Name: amount_per_area, dtype: int64
80 1197    64
Name: amount_per_area, dtype: int64
1507 236    462
Name: amount_per_area, dtype: int64
1507 717    1133
Name: amount_per_area, dtype: int64
1507 1198    2602
Name: amount_per_area, dtype: int64
1507 236    462
Name: amount_per_area, dtype: int64
1507 717    1133
Name: amount_per_area, dtype: int64
1507 1198    2602
Name: amount_per_area, dtype: int64
447 237    285
Name: amount_per_area, dtype: int64
447 718    366
Name: amount_per_area, dtype: int64
447 1199    704
Name: amount_per_area, dtype: int64
447 237    285
Name: amount_per_area, dtype: int64
447 718    366
Name: amount_per_area, dtype: int64
447 1199    704
Name: amount_per_area, dtype: int64
899 238    270
Name: amount_per_area, dtype: int64
899 719    436
Name: amount_per_area, dtype: int64
899 1200    1370
Name: amount_per_area, dtype: int64
899 238    270
Name: amount_per_area, dtype: int64
899 719    436
Name: amount_per_area, dtype: int64
899 1200    1370
Name: amount_per_area, dtype: int64
1278 239    393
Name: amount_per_area, dtype: int64
1278 720    752
Name: amount_per_area, dtype: int64
1278 1201    2124
Name: amount_per_area, dtype: int64
1278 239    393
Name: amount_per_area, dtype: int64
1278 720    752
Name: amount_per_area, dtype: int64
1278 1201    2124
Name: amount_per_area, dtype: int64
532 240    172
Name: amount_per_area, dtype: int64
532 721    358
Name: amount_per_area, dtype: int64
532 1202    901
Name: amount_per_area, dtype: int64
532 240    172
Name: amount_per_area, dtype: int64
532 721    358
Name: amount_per_area, dtype: int64
532 1202    901
Name: amount_per_area, dtype: int64
0 241    0
Name: amount_per_area, dtype: int64
0 722    0
Name: amount_per_area, dtype: int64
0 1203    0
Name: amount_per_area, dtype: int64
0 241    0
Name: amount_per_area, dtype: int64
0 722    0
Name: amount_per_area, dtype: int64
0 1203    0
Name: amount_per_area, dtype: int64
736 242    169
Name: amount_per_area, dtype: int64
736 723    423
Name: amount_per_area, dtype: int64
736 1204    1099
Name: amount_per_area, dtype: int64
736 242    169
Name: amount_per_area, dtype: int64
736 723    423
Name: amount_per_area, dtype: int64
736 1204    1099
Name: amount_per_area, dtype: int64
618 243    148
Name: amount_per_area, dtype: int64
618 724    296
Name: amount_per_area, dtype: int64
618 1205    777
Name: amount_per_area, dtype: int64
618 243    148
Name: amount_per_area, dtype: int64

618 724    296
Name: amount_per_area, dtype: int64
618 1205    777
Name: amount_per_area, dtype: int64
890 244    266
Name: amount_per_area, dtype: int64
890 725    603
Name: amount_per_area, dtype: int64
890 1206    1543
Name: amount_per_area, dtype: int64
890 244    266
Name: amount_per_area, dtype: int64
890 725    603
Name: amount_per_area, dtype: int64
890 1206    1543
Name: amount_per_area, dtype: int64
1094 245    287
Name: amount_per_area, dtype: int64
1094 726    703
Name: amount_per_area, dtype: int64
1094 1207    1615
Name: amount_per_area, dtype: int64
1094 245    287
Name: amount_per_area, dtype: int64
1094 726    703
Name: amount_per_area, dtype: int64
1094 1207    1615
Name: amount_per_area, dtype: int64
422 246    175
Name: amount_per_area, dtype: int64
422 727    362
Name: amount_per_area, dtype: int64
422 1208    804
Name: amount_per_area, dtype: int64
422 246    175
Name: amount_per_area, dtype: int64
422 727    362
Name: amount_per_area, dtype: int64
422 1208    804
Name: amount_per_area, dtype: int64
1119 247    287
Name: amount_per_area, dtype: int64
1119 728    660
Name: amount_per_area, dtype: int64
1119 1209    1921
Name: amount_per_area, dtype: int64
1119 247    287
Name: amount_per_area, dtype: int64
1119 728    660
Name: amount_per_area, dtype: int64
1119 1209    1921
Name: amount_per_area, dtype: int64
580 248    247
Name: amount_per_area, dtype: int64
580 729    617
Name: amount_per_area, dtype: int64
580 1210    1603
Name: amount_per_area, dtype: int64
580 248    247
Name: amount_per_area, dtype: int64
580 729    617
Name: amount_per_area, dtype: int64
580 1210    1603
Name: amount_per_area, dtype: int64
7 249    0
Name: amount_per_area, dtype: int64
7 730    0
Name: amount_per_area, dtype: int64
7 1211    0
Name: amount_per_area, dtype: int64
7 249    0
Name: amount_per_area, dtype: int64
7 730    0
Name: amount_per_area, dtype: int64
7 1211    0
Name: amount_per_area, dtype: int64
0 250    0
Name: amount_per_area, dtype: int64
0 731    0
Name: amount_per_area, dtype: int64
0 1212    0
Name: amount_per_area, dtype: int64
0 250    0
Name: amount_per_area, dtype: int64
0 731    0
Name: amount_per_area, dtype: int64
0 1212    0
Name: amount_per_area, dtype: int64
1643 251    287
Name: amount_per_area, dtype: int64
1643 732    984
Name: amount_per_area, dtype: int64
1643 1213    2827
Name: amount_per_area, dtype: int64
1643 251    287
Name: amount_per_area, dtype: int64
1643 732    984
Name: amount_per_area, dtype: int64
1643 1213    2827
Name: amount_per_area, dtype: int64
871 252    752
Name: amount_per_area, dtype: int64
871 733    1059
Name: amount_per_area, dtype: int64
871 1214    1605
Name: amount_per_area, dtype: int64
871 252    752
Name: amount_per_area, dtype: int64
871 733    1059
Name: amount_per_area, dtype: int64
871 1214    1605
Name: amount_per_area, dtype: int64
510 253    358
Name: amount_per_area, dtype: int64
510 734    562
Name: amount_per_area, dtype: int64
510 1215    801
Name: amount_per_area, dtype: int64
510 253    358
Name: amount_per_area, dtype: int64
510 734    562
Name: amount_per_area, dtype: int64
510 1215    801
Name: amount_per_area, dtype: int64
1126 254    926
Name: amount_per_area, dtype: int64
1126 735    1176
Name: amount_per_area, dtype: int64
1126 1216    1461
Name: amount_per_area, dtype: int64
1126 254    926
Name: amount_per_area, dtype: int64
1126 735    1176
Name: amount_per_area, dtype: int64
1126 1216    1461
Name: amount_per_area, dtype: int64
761 255    288
Name: amount_per_area, dtype: int64
761 736    460
Name: amount_per_area, dtype: int64
761 1217    1169
Name: amount_per_area, dtype: int64
761 255    288
Name: amount_per_area, dtype: int64
761 736    460
Name: amount_per_area, dtype: int64
761 1217    1169
Name: amount_per_area, dtype: int64
55 256    41
Name: amount_per_area, dtype: int64
55 737    79
Name: amount_per_area, dtype: int64
55 1218    194
Name: amount_per_area, dtype: int64
55 256    41
Name: amount_per_area, dtype: int64
55 737    79
Name: amount_per_area, dtype: int64
55 1218    194
Name: amount_per_area, dtype: int64
1225 257    398
Name: amount_per_area, dtype: int64
1225 738    904
Name: amount_per_area, dtype: int64
1225 1219    2312
Name: amount_per_area, dtype: int64
1225 257    398
Name: amount_per_area, dtype: int64
1225 738    904
Name: amount_per_area, dtype: int64
1225 1219    2312
Name: amount_per_area, dtype: int64
218 258    86
Name: amount_per_area, dtype: int64
218 739    186
Name: amount_per_area, dtype: int64
218 1220    435
Name: amount_per_area, dtype: int64
218 258    86
Name: amount_per_area, dtype: int64
218 739    186
Name: amount_per_area, dtype: int64
218 1220    435
Name: amount_per_area, dtype: int64
581 259    193
Name: amount_per_area, dtype: int64
581 740    372
Name: amount_per_area, dtype: int64
581 1221    921
Name: amount_per_area, dtype: int64
581 259    193
Name: amount_per_area, dtype: int64
581 740    372
Name: amount_per_area, dtype: int64
581 1221    921
Name: amount_per_area, dtype: int64
17 260    0
Name: amount_per_area, dtype: int64
17 741    0
Name: amount_per_area, dtype: int64
17 1222    0
Name: amount_per_area, dtype: int64
17 260    0
Name: amount_per_area, dtype: int64
17 741    0
Name: amount_per_area, dtype: int64
17 1222    0
Name: amount_per_area, dtype: int64
660 261    184
Name: amount_per_area, dtype: int64
660 742    417
Name: amount_per_area, dtype: int64
660 1223    1066
Name: amount_per_area, dtype: int64
660 261    184
Name: amount_per_area, dtype: int64
660 742    417
Name: amount_per_area, dtype: int64
660 1223    1066
Name: amount_per_area, dtype: int64
1198 262    282
Name: amount_per_area, dtype: int64
1198 743    759
Name: amount_per_area, dtype: int64
1198 1224    1771
Name: amount_per_area, dtype: int64
1198 262    282
Name: amount_per_area, dtype: int64
1198 743    759
Name: amount_per_area, dtype: int64
1198 1224    1771
Name: amount_per_area, dtype: int64
1192 263    273
Name: amount_per_area, dtype: int64
1192 744    696
Name: amount_per_area, dtype: int64
1192 1225    2057
Name: amount_per_area, dtype: int64
1192 263    273
Name: amount_per_area, dtype: int64
1192 744    696
Name: amount_per_area, dtype: int64
1192 1225    2057
Name: amount_per_area, dtype: int64
1175 264    376
Name: amount_per_area, dtype: int64
1175 745    751
Name: amount_per_area, dtype: int64
1175 1226    2627
Name: amount_per_area, dtype: int64
1175 264    376
Name: amount_per_area, dtype: int64
1175 745    751
Name: amount_per_area, dtype: int64
1175 1226    2627
Name: amount_per_area, dtype: int64
879 265    334
Name: amount_per_area, dtype: int64
879 746    758
Name: amount_per_area, dtype: int64
879 1227    1970
Name: amount_per_area, dtype: int64
879 265    334
Name: amount_per_area, dtype: int64
879 746    758
Name: amount_per_area, dtype: int64
879 1227    1970
Name: amount_per_area, dtype: int64
955 266    273
Name: amount_per_area, dtype: int64
955 747    716
Name: amount_per_area, dtype: int64
955 1228    2421
Name: amount_per_area, dtype: int64
955 266    273
Name: amount_per_area, dtype: int64
955 747    716
Name: amount_per_area, dtype: int64
955 1228    2421
Name: amount_per_area, dtype: int64
937 267    238
Name: amount_per_area, dtype: int64
937 748    714
Name: amount_per_area, dtype: int64
937 1229    2023
Name: amount_per_area, dtype: int64
937 267    238
Name: amount_per_area, dtype: int64
937 748    714
Name: amount_per_area, dtype: int64
937 1229    2023
Name: amount_per_area, dtype: int64
503 268    319
Name: amount_per_area, dtype: int64
503 749    519
Name: amount_per_area, dtype: int64
503 1230    1156
Name: amount_per_area, dtype: int64
503 268    319
Name: amount_per_area, dtype: int64
503 749    519
Name: amount_per_area, dtype: int64
503 1230    1156
Name: amount_per_area, dtype: int64
255 269    0
Name: amount_per_area, dtype: int64
255 750    0
Name: amount_per_area, dtype: int64
255 1231    0
Name: amount_per_area, dtype: int64
255 269    0
Name: amount_per_area, dtype: int64
255 750    0
Name: amount_per_area, dtype: int64
255 1231    0
Name: amount_per_area, dtype: int64
983 270    505
Name: amount_per_area, dtype: int64
983 751    976
Name: amount_per_area, dtype: int64
983 1232    1885
Name: amount_per_area, dtype: int64
983 270    505
Name: amount_per_area, dtype: int64
983 751    976
Name: amount_per_area, dtype: int64
983 1232    1885
Name: amount_per_area, dtype: int64
1121 271    572
Name: amount_per_area, dtype: int64
1121 752    1029
Name: amount_per_area, dtype: int64
1121 1233    2172
Name: amount_per_area, dtype: int64
1121 271    572
Name: amount_per_area, dtype: int64
1121 752    1029
Name: amount_per_area, dtype: int64
1121 1233    2172
Name: amount_per_area, dtype: int64
783 272    414
Name: amount_per_area, dtype: int64
783 753    698
Name: amount_per_area, dtype: int64
783 1234    1498
Name: amount_per_area, dtype: int64
783 272    414
Name: amount_per_area, dtype: int64
783 753    698
Name: amount_per_area, dtype: int64
783 1234    1498
Name: amount_per_area, dtype: int64
677 273    247
Name: amount_per_area, dtype: int64
677 754    667
Name: amount_per_area, dtype: int64
677 1235    1555
Name: amount_per_area, dtype: int64
677 273    247
Name: amount_per_area, dtype: int64
677 754    667
Name: amount_per_area, dtype: int64
677 1235    1555
Name: amount_per_area, dtype: int64
393 274    132
Name: amount_per_area, dtype: int64
393 755    380
Name: amount_per_area, dtype: int64
393 1236    935
Name: amount_per_area, dtype: int64
393 274    132
Name: amount_per_area, dtype: int64
393 755    380
Name: amount_per_area, dtype: int64
393 1236    935
Name: amount_per_area, dtype: int64
1234 275    1125
Name: amount_per_area, dtype: int64
1234 756    1163
Name: amount_per_area, dtype: int64
1234 1237    1425
Name: amount_per_area, dtype: int64
1234 275    1125
Name: amount_per_area, dtype: int64
1234 756    1163
Name: amount_per_area, dtype: int64
1234 1237    1425
Name: amount_per_area, dtype: int64
6 276    0
Name: amount_per_area, dtype: int64
6 757    0
Name: amount_per_area, dtype: int64
6 1238    0
Name: amount_per_area, dtype: int64
6 276    0
Name: amount_per_area, dtype: int64
6 757    0
Name: amount_per_area, dtype: int64
6 1238    0
Name: amount_per_area, dtype: int64
386 277    76
Name: amount_per_area, dtype: int64
386 758    238
Name: amount_per_area, dtype: int64
386 1239    636
Name: amount_per_area, dtype: int64
386 277    76
Name: amount_per_area, dtype: int64
386 758    238
Name: amount_per_area, dtype: int64
386 1239    636
Name: amount_per_area, dtype: int64
0 278    0
Name: amount_per_area, dtype: int64
0 759    0
Name: amount_per_area, dtype: int64
0 1240    0
Name: amount_per_area, dtype: int64
0 278    0
Name: amount_per_area, dtype: int64
0 759    0
Name: amount_per_area, dtype: int64
0 1240    0
Name: amount_per_area, dtype: int64
819 279    288
Name: amount_per_area, dtype: int64
819 760    557
Name: amount_per_area, dtype: int64
819 1241    970
Name: amount_per_area, dtype: int64
819 279    288
Name: amount_per_area, dtype: int64
819 760    557
Name: amount_per_area, dtype: int64
819 1241    970
Name: amount_per_area, dtype: int64
649 280    212
Name: amount_per_area, dtype: int64
649 761    437
Name: amount_per_area, dtype: int64
649 1242    675
Name: amount_per_area, dtype: int64
649 280    212
Name: amount_per_area, dtype: int64
649 761    437
Name: amount_per_area, dtype: int64
649 1242    675
Name: amount_per_area, dtype: int64
410 281    186
Name: amount_per_area, dtype: int64
410 762    319
Name: amount_per_area, dtype: int64
410 1243    525
Name: amount_per_area, dtype: int64
410 281    186
Name: amount_per_area, dtype: int64
410 762    319
Name: amount_per_area, dtype: int64
410 1243    525
Name: amount_per_area, dtype: int64
5 282    0
Name: amount_per_area, dtype: int64
5 763    0
Name: amount_per_area, dtype: int64
5 1244    0
Name: amount_per_area, dtype: int64
5 282    0
Name: amount_per_area, dtype: int64
5 763    0
Name: amount_per_area, dtype: int64
5 1244    0
Name: amount_per_area, dtype: int64
294 283    113
Name: amount_per_area, dtype: int64
294 764    191
Name: amount_per_area, dtype: int64
294 1245    410
Name: amount_per_area, dtype: int64
294 283    113
Name: amount_per_area, dtype: int64
294 764    191
Name: amount_per_area, dtype: int64
294 1245    410
Name: amount_per_area, dtype: int64
17 284    0
Name: amount_per_area, dtype: int64
17 765    0
Name: amount_per_area, dtype: int64
17 1246    0
Name: amount_per_area, dtype: int64
17 284    0
Name: amount_per_area, dtype: int64
17 765    0
Name: amount_per_area, dtype: int64
17 1246    0
Name: amount_per_area, dtype: int64
431 285    167
Name: amount_per_area, dtype: int64
431 766    188
Name: amount_per_area, dtype: int64

431 1247    688
Name: amount_per_area, dtype: int64
431 285    167
Name: amount_per_area, dtype: int64
431 766    188
Name: amount_per_area, dtype: int64
431 1247    688
Name: amount_per_area, dtype: int64
831 286    415
Name: amount_per_area, dtype: int64
831 767    691
Name: amount_per_area, dtype: int64
831 1248    868
Name: amount_per_area, dtype: int64
831 286    415
Name: amount_per_area, dtype: int64
831 767    691
Name: amount_per_area, dtype: int64
831 1248    868
Name: amount_per_area, dtype: int64
565 287    160
Name: amount_per_area, dtype: int64
565 768    365
Name: amount_per_area, dtype: int64
565 1249    616
Name: amount_per_area, dtype: int64
565 287    160
Name: amount_per_area, dtype: int64
565 768    365
Name: amount_per_area, dtype: int64
565 1249    616
Name: amount_per_area, dtype: int64
3 288    0
Name: amount_per_area, dtype: int64
3 769    0
Name: amount_per_area, dtype: int64
3 1250    0
Name: amount_per_area, dtype: int64
3 288    0
Name: amount_per_area, dtype: int64
3 769    0
Name: amount_per_area, dtype: int64
3 1250    0
Name: amount_per_area, dtype: int64
999 289    216
Name: amount_per_area, dtype: int64
999 770    709
Name: amount_per_area, dtype: int64
999 1251    2127
Name: amount_per_area, dtype: int64
999 289    216
Name: amount_per_area, dtype: int64
999 770    709
Name: amount_per_area, dtype: int64
999 1251    2127
Name: amount_per_area, dtype: int64
984 290    375
Name: amount_per_area, dtype: int64
984 771    718
Name: amount_per_area, dtype: int64
984 1252    2061
Name: amount_per_area, dtype: int64
984 290    375
Name: amount_per_area, dtype: int64
984 771    718
Name: amount_per_area, dtype: int64
984 1252    2061
Name: amount_per_area, dtype: int64
898 291    300
Name: amount_per_area, dtype: int64
898 772    558
Name: amount_per_area, dtype: int64
898 1253    504
Name: amount_per_area, dtype: int64
898 291    300
Name: amount_per_area, dtype: int64
898 772    558
Name: amount_per_area, dtype: int64
898 1253    504
Name: amount_per_area, dtype: int64
1041 292    535
Name: amount_per_area, dtype: int64
1041 773    850
Name: amount_per_area, dtype: int64
1041 1254    1730
Name: amount_per_area, dtype: int64
1041 292    535
Name: amount_per_area, dtype: int64
1041 773    850
Name: amount_per_area, dtype: int64
1041 1254    1730
Name: amount_per_area, dtype: int64
28 293    11
Name: amount_per_area, dtype: int64
28 774    28
Name: amount_per_area, dtype: int64
28 1255    56
Name: amount_per_area, dtype: int64
28 293    11
Name: amount_per_area, dtype: int64
28 774    28
Name: amount_per_area, dtype: int64
28 1255    56
Name: amount_per_area, dtype: int64
1281 294    747
Name: amount_per_area, dtype: int64
1281 775    1078
Name: amount_per_area, dtype: int64
1281 1256    2363
Name: amount_per_area, dtype: int64
1281 294    747
Name: amount_per_area, dtype: int64
1281 775    1078
Name: amount_per_area, dtype: int64
1281 1256    2363
Name: amount_per_area, dtype: int64
1335 295    1274
Name: amount_per_area, dtype: int64
1335 776    1186
Name: amount_per_area, dtype: int64
1335 1257    1933
Name: amount_per_area, dtype: int64
1335 295    1274
Name: amount_per_area, dtype: int64
1335 776    1186
Name: amount_per_area, dtype: int64
1335 1257    1933
Name: amount_per_area, dtype: int64
1141 296    922
Name: amount_per_area, dtype: int64
1141 777    999
Name: amount_per_area, dtype: int64
1141 1258    1920
Name: amount_per_area, dtype: int64
1141 296    922
Name: amount_per_area, dtype: int64
1141 777    999
Name: amount_per_area, dtype: int64
1141 1258    1920
Name: amount_per_area, dtype: int64
1075 297    873
Name: amount_per_area, dtype: int64
1075 778    1025
Name: amount_per_area, dtype: int64
1075 1259    1898
Name: amount_per_area, dtype: int64
1075 297    873
Name: amount_per_area, dtype: int64
1075 778    1025
Name: amount_per_area, dtype: int64
1075 1259    1898
Name: amount_per_area, dtype: int64
446 298    380
Name: amount_per_area, dtype: int64
446 779    348
Name: amount_per_area, dtype: int64
446 1260    838
Name: amount_per_area, dtype: int64
446 298    380
Name: amount_per_area, dtype: int64
446 779    348
Name: amount_per_area, dtype: int64
446 1260    838
Name: amount_per_area, dtype: int64
1113 299    1109
Name: amount_per_area, dtype: int64
1113 780    1150
Name: amount_per_area, dtype: int64
1113 1261    1847
Name: amount_per_area, dtype: int64
1113 299    1109
Name: amount_per_area, dtype: int64
1113 780    1150
Name: amount_per_area, dtype: int64
1113 1261    1847
Name: amount_per_area, dtype: int64
1250 300    1186
Name: amount_per_area, dtype: int64
1250 781    1278
Name: amount_per_area, dtype: int64
1250 1262    2099
Name: amount_per_area, dtype: int64
1250 300    1186
Name: amount_per_area, dtype: int64
1250 781    1278
Name: amount_per_area, dtype: int64
1250 1262    2099
Name: amount_per_area, dtype: int64
1378 301    734
Name: amount_per_area, dtype: int64
1378 782    978
Name: amount_per_area, dtype: int64
1378 1263    2364
Name: amount_per_area, dtype: int64
1378 301    734
Name: amount_per_area, dtype: int64
1378 782    978
Name: amount_per_area, dtype: int64
1378 1263    2364
Name: amount_per_area, dtype: int64
1670 302    1161
Name: amount_per_area, dtype: int64
1670 783    1438
Name: amount_per_area, dtype: int64
1670 1264    2875
Name: amount_per_area, dtype: int64
1670 302    1161
Name: amount_per_area, dtype: int64
1670 783    1438
Name: amount_per_area, dtype: int64
1670 1264    2875
Name: amount_per_area, dtype: int64
1190 303    1757
Name: amount_per_area, dtype: int64
1190 784    1307
Name: amount_per_area, dtype: int64
1190 1265    1442
Name: amount_per_area, dtype: int64
1190 303    1757
Name: amount_per_area, dtype: int64
1190 784    1307
Name: amount_per_area, dtype: int64
1190 1265    1442
Name: amount_per_area, dtype: int64
1116 304    1339
Name: amount_per_area, dtype: int64
1116 785    1177
Name: amount_per_area, dtype: int64
1116 1266    1502
Name: amount_per_area, dtype: int64
1116 304    1339
Name: amount_per_area, dtype: int64
1116 785    1177
Name: amount_per_area, dtype: int64
1116 1266    1502
Name: amount_per_area, dtype: int64
1203 305    1537
Name: amount_per_area, dtype: int64
1203 786    1311
Name: amount_per_area, dtype: int64
1203 1267    1718
Name: amount_per_area, dtype: int64
1203 305    1537
Name: amount_per_area, dtype: int64
1203 786    1311
Name: amount_per_area, dtype: int64
1203 1267    1718
Name: amount_per_area, dtype: int64
228 306    166
Name: amount_per_area, dtype: int64
228 787    253
Name: amount_per_area, dtype: int64
228 1268    555
Name: amount_per_area, dtype: int64
228 306    166
Name: amount_per_area, dtype: int64
228 787    253
Name: amount_per_area, dtype: int64
228 1268    555
Name: amount_per_area, dtype: int64
3 307    0
Name: amount_per_area, dtype: int64
3 788    0
Name: amount_per_area, dtype: int64
3 1269    0
Name: amount_per_area, dtype: int64
3 307    0
Name: amount_per_area, dtype: int64
3 788    0
Name: amount_per_area, dtype: int64
3 1269    0
Name: amount_per_area, dtype: int64
487 308    162
Name: amount_per_area, dtype: int64
487 789    277
Name: amount_per_area, dtype: int64
487 1270    715
Name: amount_per_area, dtype: int64
487 308    162
Name: amount_per_area, dtype: int64
487 789    277
Name: amount_per_area, dtype: int64
487 1270    715
Name: amount_per_area, dtype: int64
493 309    243
Name: amount_per_area, dtype: int64
493 790    405
Name: amount_per_area, dtype: int64
493 1271    972
Name: amount_per_area, dtype: int64
493 309    243
Name: amount_per_area, dtype: int64
493 790    405
Name: amount_per_area, dtype: int64
493 1271    972
Name: amount_per_area, dtype: int64
861 310    321
Name: amount_per_area, dtype: int64
861 791    769
Name: amount_per_area, dtype: int64
861 1272    2113
Name: amount_per_area, dtype: int64
861 310    321
Name: amount_per_area, dtype: int64
861 791    769
Name: amount_per_area, dtype: int64
861 1272    2113
Name: amount_per_area, dtype: int64
920 311    451
Name: amount_per_area, dtype: int64
920 792    901
Name: amount_per_area, dtype: int64
920 1273    1865
Name: amount_per_area, dtype: int64
920 311    451
Name: amount_per_area, dtype: int64
920 792    901
Name: amount_per_area, dtype: int64
920 1273    1865
Name: amount_per_area, dtype: int64
919 312    601
Name: amount_per_area, dtype: int64
919 793    955
Name: amount_per_area, dtype: int64
919 1274    2015
Name: amount_per_area, dtype: int64
919 312    601
Name: amount_per_area, dtype: int64
919 793    955
Name: amount_per_area, dtype: int64
919 1274    2015
Name: amount_per_area, dtype: int64
1020 313    580
Name: amount_per_area, dtype: int64
1020 794    1078
Name: amount_per_area, dtype: int64
1020 1275    2486
Name: amount_per_area, dtype: int64
1020 313    580
Name: amount_per_area, dtype: int64
1020 794    1078
Name: amount_per_area, dtype: int64
1020 1275    2486
Name: amount_per_area, dtype: int64
842 314    521
Name: amount_per_area, dtype: int64
842 795    781
Name: amount_per_area, dtype: int64
842 1276    1064
Name: amount_per_area, dtype: int64
842 314    521
Name: amount_per_area, dtype: int64
842 795    781
Name: amount_per_area, dtype: int64
842 1276    1064
Name: amount_per_area, dtype: int64
891 315    572
Name: amount_per_area, dtype: int64
891 796    842
Name: amount_per_area, dtype: int64
891 1277    1594
Name: amount_per_area, dtype: int64
891 315    572
Name: amount_per_area, dtype: int64
891 796    842
Name: amount_per_area, dtype: int64
891 1277    1594
Name: amount_per_area, dtype: int64
0 316    0
Name: amount_per_area, dtype: int64
0 797    0
Name: amount_per_area, dtype: int64
0 1278    0
Name: amount_per_area, dtype: int64
0 316    0
Name: amount_per_area, dtype: int64
0 797    0
Name: amount_per_area, dtype: int64
0 1278    0
Name: amount_per_area, dtype: int64
169 317    37
Name: amount_per_area, dtype: int64
169 798    114
Name: amount_per_area, dtype: int64
169 1279    309
Name: amount_per_area, dtype: int64
169 317    37
Name: amount_per_area, dtype: int64
169 798    114
Name: amount_per_area, dtype: int64
169 1279    309
Name: amount_per_area, dtype: int64
0 318    0
Name: amount_per_area, dtype: int64
0 799    0
Name: amount_per_area, dtype: int64
0 1280    0
Name: amount_per_area, dtype: int64
0 318    0
Name: amount_per_area, dtype: int64
0 799    0
Name: amount_per_area, dtype: int64
0 1280    0
Name: amount_per_area, dtype: int64
2 319    0
Name: amount_per_area, dtype: int64
2 800    0
Name: amount_per_area, dtype: int64
2 1281    0
Name: amount_per_area, dtype: int64
2 319    0
Name: amount_per_area, dtype: int64
2 800    0
Name: amount_per_area, dtype: int64
2 1281    0
Name: amount_per_area, dtype: int64
192 320    0
Name: amount_per_area, dtype: int64
192 801    0
Name: amount_per_area, dtype: int64
192 1282    0
Name: amount_per_area, dtype: int64
192 320    0
Name: amount_per_area, dtype: int64
192 801    0
Name: amount_per_area, dtype: int64
192 1282    0
Name: amount_per_area, dtype: int64
78 321    17
Name: amount_per_area, dtype: int64
78 802    162
Name: amount_per_area, dtype: int64
78 1283    145
Name: amount_per_area, dtype: int64
78 321    17
Name: amount_per_area, dtype: int64
78 802    162
Name: amount_per_area, dtype: int64
78 1283    145
Name: amount_per_area, dtype: int64
2 322    4
Name: amount_per_area, dtype: int64
2 803    5
Name: amount_per_area, dtype: int64
2 1284    4
Name: amount_per_area, dtype: int64
2 322    4
Name: amount_per_area, dtype: int64
2 803    5
Name: amount_per_area, dtype: int64
2 1284    4
Name: amount_per_area, dtype: int64
714 323    175
Name: amount_per_area, dtype: int64
714 804    559
Name: amount_per_area, dtype: int64
714 1285    1012
Name: amount_per_area, dtype: int64
714 323    175
Name: amount_per_area, dtype: int64
714 804    559
Name: amount_per_area, dtype: int64
714 1285    1012
Name: amount_per_area, dtype: int64
0 324    0
Name: amount_per_area, dtype: int64
0 805    0
Name: amount_per_area, dtype: int64
0 1286    0
Name: amount_per_area, dtype: int64
0 324    0
Name: amount_per_area, dtype: int64
0 805    0
Name: amount_per_area, dtype: int64
0 1286    0
Name: amount_per_area, dtype: int64
569 325    409
Name: amount_per_area, dtype: int64
569 806    539
Name: amount_per_area, dtype: int64
569 1287    911
Name: amount_per_area, dtype: int64
569 325    409
Name: amount_per_area, dtype: int64
569 806    539
Name: amount_per_area, dtype: int64
569 1287    911
Name: amount_per_area, dtype: int64
534 326    557
Name: amount_per_area, dtype: int64
534 807    495
Name: amount_per_area, dtype: int64
534 1288    1010
Name: amount_per_area, dtype: int64
534 326    557
Name: amount_per_area, dtype: int64
534 807    495
Name: amount_per_area, dtype: int64
534 1288    1010
Name: amount_per_area, dtype: int64
488 327    361
Name: amount_per_area, dtype: int64
488 808    433
Name: amount_per_area, dtype: int64
488 1289    1011
Name: amount_per_area, dtype: int64
488 327    361
Name: amount_per_area, dtype: int64
488 808    433
Name: amount_per_area, dtype: int64
488 1289    1011
Name: amount_per_area, dtype: int64
1128 328    612
Name: amount_per_area, dtype: int64
1128 809    874
Name: amount_per_area, dtype: int64
1128 1290    1428
Name: amount_per_area, dtype: int64
1128 328    612
Name: amount_per_area, dtype: int64
1128 809    874
Name: amount_per_area, dtype: int64
1128 1290    1428
Name: amount_per_area, dtype: int64
1003 329    781
Name: amount_per_area, dtype: int64
1003 810    938
Name: amount_per_area, dtype: int64
1003 1291    1406
Name: amount_per_area, dtype: int64
1003 329    781
Name: amount_per_area, dtype: int64
1003 810    938
Name: amount_per_area, dtype: int64
1003 1291    1406
Name: amount_per_area, dtype: int64
0 330    0
Name: amount_per_area, dtype: int64
0 811    0
Name: amount_per_area, dtype: int64
0 1292    0
Name: amount_per_area, dtype: int64
0 330    0
Name: amount_per_area, dtype: int64
0 811    0
Name: amount_per_area, dtype: int64
0 1292    0
Name: amount_per_area, dtype: int64
0 331    0
Name: amount_per_area, dtype: int64
0 812    0
Name: amount_per_area, dtype: int64
0 1293    0
Name: amount_per_area, dtype: int64
0 331    0
Name: amount_per_area, dtype: int64
0 812    0
Name: amount_per_area, dtype: int64
0 1293    0
Name: amount_per_area, dtype: int64
0 332    0
Name: amount_per_area, dtype: int64

0 813    0
Name: amount_per_area, dtype: int64
0 1294    0
Name: amount_per_area, dtype: int64
0 332    0
Name: amount_per_area, dtype: int64
0 813    0
Name: amount_per_area, dtype: int64
0 1294    0
Name: amount_per_area, dtype: int64
0 333    0
Name: amount_per_area, dtype: int64
0 814    0
Name: amount_per_area, dtype: int64
0 1295    0
Name: amount_per_area, dtype: int64
0 333    0
Name: amount_per_area, dtype: int64
0 814    0
Name: amount_per_area, dtype: int64
0 1295    0
Name: amount_per_area, dtype: int64
0 334    0
Name: amount_per_area, dtype: int64
0 815    0
Name: amount_per_area, dtype: int64
0 1296    0
Name: amount_per_area, dtype: int64
0 334    0
Name: amount_per_area, dtype: int64
0 815    0
Name: amount_per_area, dtype: int64
0 1296    0
Name: amount_per_area, dtype: int64
0 335    0
Name: amount_per_area, dtype: int64
0 816    0
Name: amount_per_area, dtype: int64
0 1297    0
Name: amount_per_area, dtype: int64
0 335    0
Name: amount_per_area, dtype: int64
0 816    0
Name: amount_per_area, dtype: int64
0 1297    0
Name: amount_per_area, dtype: int64
0 336    0
Name: amount_per_area, dtype: int64
0 817    0
Name: amount_per_area, dtype: int64
0 1298    0
Name: amount_per_area, dtype: int64
0 336    0
Name: amount_per_area, dtype: int64
0 817    0
Name: amount_per_area, dtype: int64
0 1298    0
Name: amount_per_area, dtype: int64
134 337    72
Name: amount_per_area, dtype: int64
134 818    61
Name: amount_per_area, dtype: int64
134 1299    417
Name: amount_per_area, dtype: int64
134 337    72
Name: amount_per_area, dtype: int64
134 818    61
Name: amount_per_area, dtype: int64
134 1299    417
Name: amount_per_area, dtype: int64
736 338    485
Name: amount_per_area, dtype: int64
736 819    654
Name: amount_per_area, dtype: int64
736 1300    1283
Name: amount_per_area, dtype: int64
736 338    485
Name: amount_per_area, dtype: int64
736 819    654
Name: amount_per_area, dtype: int64
736 1300    1283
Name: amount_per_area, dtype: int64
898 339    832
Name: amount_per_area, dtype: int64
898 820    970
Name: amount_per_area, dtype: int64
898 1301    998
Name: amount_per_area, dtype: int64
898 339    832
Name: amount_per_area, dtype: int64
898 820    970
Name: amount_per_area, dtype: int64
898 1301    998
Name: amount_per_area, dtype: int64
1048 340    289
Name: amount_per_area, dtype: int64
1048 821    841
Name: amount_per_area, dtype: int64
1048 1302    1250
Name: amount_per_area, dtype: int64
1048 340    289
Name: amount_per_area, dtype: int64
1048 821    841
Name: amount_per_area, dtype: int64
1048 1302    1250
Name: amount_per_area, dtype: int64
341 341    77
Name: amount_per_area, dtype: int64
341 822    173
Name: amount_per_area, dtype: int64
341 1303    721
Name: amount_per_area, dtype: int64
341 341    77
Name: amount_per_area, dtype: int64
341 822    173
Name: amount_per_area, dtype: int64
341 1303    721
Name: amount_per_area, dtype: int64
616 342    354
Name: amount_per_area, dtype: int64
616 823    543
Name: amount_per_area, dtype: int64
616 1304    1462
Name: amount_per_area, dtype: int64
616 342    354
Name: amount_per_area, dtype: int64
616 823    543
Name: amount_per_area, dtype: int64
616 1304    1462
Name: amount_per_area, dtype: int64
2 343    0
Name: amount_per_area, dtype: int64
2 824    0
Name: amount_per_area, dtype: int64
2 1305    0
Name: amount_per_area, dtype: int64
2 343    0
Name: amount_per_area, dtype: int64
2 824    0
Name: amount_per_area, dtype: int64
2 1305    0
Name: amount_per_area, dtype: int64
395 344    587
Name: amount_per_area, dtype: int64
395 825    423
Name: amount_per_area, dtype: int64
395 1306    342
Name: amount_per_area, dtype: int64
395 344    587
Name: amount_per_area, dtype: int64
395 825    423
Name: amount_per_area, dtype: int64
395 1306    342
Name: amount_per_area, dtype: int64
259 345    270
Name: amount_per_area, dtype: int64
259 826    356
Name: amount_per_area, dtype: int64
259 1307    613
Name: amount_per_area, dtype: int64
259 345    270
Name: amount_per_area, dtype: int64
259 826    356
Name: amount_per_area, dtype: int64
259 1307    613
Name: amount_per_area, dtype: int64
311 346    291
Name: amount_per_area, dtype: int64
311 827    383
Name: amount_per_area, dtype: int64
311 1308    488
Name: amount_per_area, dtype: int64
311 346    291
Name: amount_per_area, dtype: int64
311 827    383
Name: amount_per_area, dtype: int64
311 1308    488
Name: amount_per_area, dtype: int64
538 347    534
Name: amount_per_area, dtype: int64
538 828    519
Name: amount_per_area, dtype: int64
538 1309    430
Name: amount_per_area, dtype: int64
538 347    534
Name: amount_per_area, dtype: int64
538 828    519
Name: amount_per_area, dtype: int64
538 1309    430
Name: amount_per_area, dtype: int64
722 348    299
Name: amount_per_area, dtype: int64
722 829    624
Name: amount_per_area, dtype: int64
722 1310    1791
Name: amount_per_area, dtype: int64
722 348    299
Name: amount_per_area, dtype: int64
722 829    624
Name: amount_per_area, dtype: int64
722 1310    1791
Name: amount_per_area, dtype: int64
587 349    386
Name: amount_per_area, dtype: int64
587 830    716
Name: amount_per_area, dtype: int64
587 1311    1680
Name: amount_per_area, dtype: int64
587 349    386
Name: amount_per_area, dtype: int64
587 830    716
Name: amount_per_area, dtype: int64
587 1311    1680
Name: amount_per_area, dtype: int64
585 350    250
Name: amount_per_area, dtype: int64
585 831    545
Name: amount_per_area, dtype: int64
585 1312    1474
Name: amount_per_area, dtype: int64
585 350    250
Name: amount_per_area, dtype: int64
585 831    545
Name: amount_per_area, dtype: int64
585 1312    1474
Name: amount_per_area, dtype: int64
40 351    30
Name: amount_per_area, dtype: int64
40 832    78
Name: amount_per_area, dtype: int64
40 1313    160
Name: amount_per_area, dtype: int64
40 351    30
Name: amount_per_area, dtype: int64
40 832    78
Name: amount_per_area, dtype: int64
40 1313    160
Name: amount_per_area, dtype: int64
112 352    0
Name: amount_per_area, dtype: int64
112 833    0
Name: amount_per_area, dtype: int64
112 1314    0
Name: amount_per_area, dtype: int64
112 352    0
Name: amount_per_area, dtype: int64
112 833    0
Name: amount_per_area, dtype: int64
112 1314    0
Name: amount_per_area, dtype: int64
310 353    226
Name: amount_per_area, dtype: int64
310 834    391
Name: amount_per_area, dtype: int64
310 1315    569
Name: amount_per_area, dtype: int64
310 353    226
Name: amount_per_area, dtype: int64
310 834    391
Name: amount_per_area, dtype: int64
310 1315    569
Name: amount_per_area, dtype: int64
0 354    0
Name: amount_per_area, dtype: int64
0 835    0
Name: amount_per_area, dtype: int64
0 1316    0
Name: amount_per_area, dtype: int64
0 354    0
Name: amount_per_area, dtype: int64
0 835    0
Name: amount_per_area, dtype: int64
0 1316    0
Name: amount_per_area, dtype: int64
612 355    24
Name: amount_per_area, dtype: int64
612 836    599
Name: amount_per_area, dtype: int64
612 1317    552
Name: amount_per_area, dtype: int64
612 355    24
Name: amount_per_area, dtype: int64
612 836    599
Name: amount_per_area, dtype: int64
612 1317    552
Name: amount_per_area, dtype: int64
46 356    0
Name: amount_per_area, dtype: int64
46 837    0
Name: amount_per_area, dtype: int64
46 1318    0
Name: amount_per_area, dtype: int64
46 356    0
Name: amount_per_area, dtype: int64
46 837    0
Name: amount_per_area, dtype: int64
46 1318    0
Name: amount_per_area, dtype: int64
312 357    401
Name: amount_per_area, dtype: int64
312 838    427
Name: amount_per_area, dtype: int64
312 1319    465
Name: amount_per_area, dtype: int64
312 357    401
Name: amount_per_area, dtype: int64
312 838    427
Name: amount_per_area, dtype: int64
312 1319    465
Name: amount_per_area, dtype: int64
2 358    0
Name: amount_per_area, dtype: int64
2 839    0
Name: amount_per_area, dtype: int64
2 1320    0
Name: amount_per_area, dtype: int64
2 358    0
Name: amount_per_area, dtype: int64
2 839    0
Name: amount_per_area, dtype: int64
2 1320    0
Name: amount_per_area, dtype: int64
0 359    0
Name: amount_per_area, dtype: int64
0 840    0
Name: amount_per_area, dtype: int64
0 1321    0
Name: amount_per_area, dtype: int64
0 359    0
Name: amount_per_area, dtype: int64
0 840    0
Name: amount_per_area, dtype: int64
0 1321    0
Name: amount_per_area, dtype: int64
224 360    66
Name: amount_per_area, dtype: int64
224 841    212
Name: amount_per_area, dtype: int64
224 1322    267
Name: amount_per_area, dtype: int64
224 360    66
Name: amount_per_area, dtype: int64
224 841    212
Name: amount_per_area, dtype: int64
224 1322    267
Name: amount_per_area, dtype: int64
8 361    0
Name: amount_per_area, dtype: int64
8 842    0
Name: amount_per_area, dtype: int64
8 1323    0
Name: amount_per_area, dtype: int64
8 361    0
Name: amount_per_area, dtype: int64
8 842    0
Name: amount_per_area, dtype: int64
8 1323    0
Name: amount_per_area, dtype: int64
1 362    0
Name: amount_per_area, dtype: int64
1 843    0
Name: amount_per_area, dtype: int64
1 1324    0
Name: amount_per_area, dtype: int64
1 362    0
Name: amount_per_area, dtype: int64
1 843    0
Name: amount_per_area, dtype: int64
1 1324    0
Name: amount_per_area, dtype: int64
306 363    57
Name: amount_per_area, dtype: int64
306 844    306
Name: amount_per_area, dtype: int64
306 1325    770
Name: amount_per_area, dtype: int64
306 363    57
Name: amount_per_area, dtype: int64
306 844    306
Name: amount_per_area, dtype: int64
306 1325    770
Name: amount_per_area, dtype: int64
558 364    68
Name: amount_per_area, dtype: int64
558 845    148
Name: amount_per_area, dtype: int64
558 1326    918
Name: amount_per_area, dtype: int64
558 364    68
Name: amount_per_area, dtype: int64
558 845    148
Name: amount_per_area, dtype: int64
558 1326    918
Name: amount_per_area, dtype: int64
10 365    0
Name: amount_per_area, dtype: int64
10 846    0
Name: amount_per_area, dtype: int64
10 1327    0
Name: amount_per_area, dtype: int64
10 365    0
Name: amount_per_area, dtype: int64
10 846    0
Name: amount_per_area, dtype: int64
10 1327    0
Name: amount_per_area, dtype: int64
257 366    18
Name: amount_per_area, dtype: int64
257 847    308
Name: amount_per_area, dtype: int64
257 1328    266
Name: amount_per_area, dtype: int64
257 366    18
Name: amount_per_area, dtype: int64
257 847    308
Name: amount_per_area, dtype: int64
257 1328    266
Name: amount_per_area, dtype: int64
547 367    636
Name: amount_per_area, dtype: int64
547 848    602
Name: amount_per_area, dtype: int64
547 1329    482
Name: amount_per_area, dtype: int64
547 367    636
Name: amount_per_area, dtype: int64
547 848    602
Name: amount_per_area, dtype: int64
547 1329    482
Name: amount_per_area, dtype: int64
340 368    438
Name: amount_per_area, dtype: int64
340 849    403
Name: amount_per_area, dtype: int64
340 1330    332
Name: amount_per_area, dtype: int64
340 368    438
Name: amount_per_area, dtype: int64
340 849    403
Name: amount_per_area, dtype: int64
340 1330    332
Name: amount_per_area, dtype: int64
301 369    458
Name: amount_per_area, dtype: int64
301 850    396
Name: amount_per_area, dtype: int64
301 1331    384
Name: amount_per_area, dtype: int64
301 369    458
Name: amount_per_area, dtype: int64
301 850    396
Name: amount_per_area, dtype: int64
301 1331    384
Name: amount_per_area, dtype: int64
688 370    725
Name: amount_per_area, dtype: int64
688 851    791
Name: amount_per_area, dtype: int64
688 1332    659
Name: amount_per_area, dtype: int64
688 370    725
Name: amount_per_area, dtype: int64
688 851    791
Name: amount_per_area, dtype: int64
688 1332    659
Name: amount_per_area, dtype: int64
765 371    814
Name: amount_per_area, dtype: int64
765 852    791
Name: amount_per_area, dtype: int64
765 1333    721
Name: amount_per_area, dtype: int64
765 371    814
Name: amount_per_area, dtype: int64
765 852    791
Name: amount_per_area, dtype: int64
765 1333    721
Name: amount_per_area, dtype: int64
226 372    236
Name: amount_per_area, dtype: int64
226 853    259
Name: amount_per_area, dtype: int64
226 1334    267
Name: amount_per_area, dtype: int64
226 372    236
Name: amount_per_area, dtype: int64
226 853    259
Name: amount_per_area, dtype: int64
226 1334    267
Name: amount_per_area, dtype: int64
25 373    17
Name: amount_per_area, dtype: int64
25 854    27
Name: amount_per_area, dtype: int64
25 1335    44
Name: amount_per_area, dtype: int64
25 373    17
Name: amount_per_area, dtype: int64
25 854    27
Name: amount_per_area, dtype: int64
25 1335    44
Name: amount_per_area, dtype: int64
300 374    567
Name: amount_per_area, dtype: int64
300 855    632
Name: amount_per_area, dtype: int64
300 1336    422
Name: amount_per_area, dtype: int64
300 374    567
Name: amount_per_area, dtype: int64
300 855    632
Name: amount_per_area, dtype: int64
300 1336    422
Name: amount_per_area, dtype: int64
243 375    409
Name: amount_per_area, dtype: int64
243 856    477
Name: amount_per_area, dtype: int64
243 1337    477
Name: amount_per_area, dtype: int64

243 375    409
Name: amount_per_area, dtype: int64
243 856    477
Name: amount_per_area, dtype: int64
243 1337    477
Name: amount_per_area, dtype: int64
409 376    813
Name: amount_per_area, dtype: int64
409 857    697
Name: amount_per_area, dtype: int64
409 1338    426
Name: amount_per_area, dtype: int64
409 376    813
Name: amount_per_area, dtype: int64
409 857    697
Name: amount_per_area, dtype: int64
409 1338    426
Name: amount_per_area, dtype: int64
0 377    0
Name: amount_per_area, dtype: int64
0 858    0
Name: amount_per_area, dtype: int64
0 1339    0
Name: amount_per_area, dtype: int64
0 377    0
Name: amount_per_area, dtype: int64
0 858    0
Name: amount_per_area, dtype: int64
0 1339    0
Name: amount_per_area, dtype: int64
0 378    0
Name: amount_per_area, dtype: int64
0 859    0
Name: amount_per_area, dtype: int64
0 1340    0
Name: amount_per_area, dtype: int64
0 378    0
Name: amount_per_area, dtype: int64
0 859    0
Name: amount_per_area, dtype: int64
0 1340    0
Name: amount_per_area, dtype: int64
340 379    238
Name: amount_per_area, dtype: int64
340 860    402
Name: amount_per_area, dtype: int64
340 1341    1186
Name: amount_per_area, dtype: int64
340 379    238
Name: amount_per_area, dtype: int64
340 860    402
Name: amount_per_area, dtype: int64
340 1341    1186
Name: amount_per_area, dtype: int64
204 380    124
Name: amount_per_area, dtype: int64
204 861    229
Name: amount_per_area, dtype: int64
204 1342    601
Name: amount_per_area, dtype: int64
204 380    124
Name: amount_per_area, dtype: int64
204 861    229
Name: amount_per_area, dtype: int64
204 1342    601
Name: amount_per_area, dtype: int64
4 381    0
Name: amount_per_area, dtype: int64
4 862    0
Name: amount_per_area, dtype: int64
4 1343    0
Name: amount_per_area, dtype: int64
4 381    0
Name: amount_per_area, dtype: int64
4 862    0
Name: amount_per_area, dtype: int64
4 1343    0
Name: amount_per_area, dtype: int64
221 382    451
Name: amount_per_area, dtype: int64
221 863    511
Name: amount_per_area, dtype: int64
221 1344    226
Name: amount_per_area, dtype: int64
221 382    451
Name: amount_per_area, dtype: int64
221 863    511
Name: amount_per_area, dtype: int64
221 1344    226
Name: amount_per_area, dtype: int64
271 383    526
Name: amount_per_area, dtype: int64
271 864    555
Name: amount_per_area, dtype: int64
271 1345    380
Name: amount_per_area, dtype: int64
271 383    526
Name: amount_per_area, dtype: int64
271 864    555
Name: amount_per_area, dtype: int64
271 1345    380
Name: amount_per_area, dtype: int64
270 384    388
Name: amount_per_area, dtype: int64
270 865    420
Name: amount_per_area, dtype: int64
270 1346    259
Name: amount_per_area, dtype: int64
270 384    388
Name: amount_per_area, dtype: int64
270 865    420
Name: amount_per_area, dtype: int64
270 1346    259
Name: amount_per_area, dtype: int64
361 385    394
Name: amount_per_area, dtype: int64
361 866    442
Name: amount_per_area, dtype: int64
361 1347    741
Name: amount_per_area, dtype: int64
361 385    394
Name: amount_per_area, dtype: int64
361 866    442
Name: amount_per_area, dtype: int64
361 1347    741
Name: amount_per_area, dtype: int64
30 386    33
Name: amount_per_area, dtype: int64
30 867    53
Name: amount_per_area, dtype: int64
30 1348    80
Name: amount_per_area, dtype: int64
30 386    33
Name: amount_per_area, dtype: int64
30 867    53
Name: amount_per_area, dtype: int64
30 1348    80
Name: amount_per_area, dtype: int64
117 387    141
Name: amount_per_area, dtype: int64
117 868    256
Name: amount_per_area, dtype: int64
117 1349    126
Name: amount_per_area, dtype: int64
117 387    141
Name: amount_per_area, dtype: int64
117 868    256
Name: amount_per_area, dtype: int64
117 1349    126
Name: amount_per_area, dtype: int64
222 388    304
Name: amount_per_area, dtype: int64
222 869    455
Name: amount_per_area, dtype: int64
222 1350    408
Name: amount_per_area, dtype: int64
222 388    304
Name: amount_per_area, dtype: int64
222 869    455
Name: amount_per_area, dtype: int64
222 1350    408
Name: amount_per_area, dtype: int64
6 389    7
Name: amount_per_area, dtype: int64
6 870    14
Name: amount_per_area, dtype: int64
6 1351    14
Name: amount_per_area, dtype: int64
6 389    7
Name: amount_per_area, dtype: int64
6 870    14
Name: amount_per_area, dtype: int64
6 1351    14
Name: amount_per_area, dtype: int64
657 390    853
Name: amount_per_area, dtype: int64
657 871    758
Name: amount_per_area, dtype: int64
657 1352    285
Name: amount_per_area, dtype: int64
657 390    853
Name: amount_per_area, dtype: int64
657 871    758
Name: amount_per_area, dtype: int64
657 1352    285
Name: amount_per_area, dtype: int64
308 391    471
Name: amount_per_area, dtype: int64
308 872    728
Name: amount_per_area, dtype: int64
308 1353    304
Name: amount_per_area, dtype: int64
308 391    471
Name: amount_per_area, dtype: int64
308 872    728
Name: amount_per_area, dtype: int64
308 1353    304
Name: amount_per_area, dtype: int64
61 392    61
Name: amount_per_area, dtype: int64
61 873    111
Name: amount_per_area, dtype: int64
61 1354    164
Name: amount_per_area, dtype: int64
61 392    61
Name: amount_per_area, dtype: int64
61 873    111
Name: amount_per_area, dtype: int64
61 1354    164
Name: amount_per_area, dtype: int64
184 393    363
Name: amount_per_area, dtype: int64
184 874    470
Name: amount_per_area, dtype: int64
184 1355    224
Name: amount_per_area, dtype: int64
184 393    363
Name: amount_per_area, dtype: int64
184 874    470
Name: amount_per_area, dtype: int64
184 1355    224
Name: amount_per_area, dtype: int64
343 394    226
Name: amount_per_area, dtype: int64
343 875    338
Name: amount_per_area, dtype: int64
343 1356    376
Name: amount_per_area, dtype: int64
343 394    226
Name: amount_per_area, dtype: int64
343 875    338
Name: amount_per_area, dtype: int64
343 1356    376
Name: amount_per_area, dtype: int64
197 395    75
Name: amount_per_area, dtype: int64
197 876    196
Name: amount_per_area, dtype: int64
197 1357    305
Name: amount_per_area, dtype: int64
197 395    75
Name: amount_per_area, dtype: int64
197 876    196
Name: amount_per_area, dtype: int64
197 1357    305
Name: amount_per_area, dtype: int64
792 396    936
Name: amount_per_area, dtype: int64
792 877    912
Name: amount_per_area, dtype: int64
792 1358    552
Name: amount_per_area, dtype: int64
792 396    936
Name: amount_per_area, dtype: int64
792 877    912
Name: amount_per_area, dtype: int64
792 1358    552
Name: amount_per_area, dtype: int64
414 397    663
Name: amount_per_area, dtype: int64
414 878    615
Name: amount_per_area, dtype: int64
414 1359    300
Name: amount_per_area, dtype: int64
414 397    663
Name: amount_per_area, dtype: int64
414 878    615
Name: amount_per_area, dtype: int64
414 1359    300
Name: amount_per_area, dtype: int64
564 398    770
Name: amount_per_area, dtype: int64
564 879    653
Name: amount_per_area, dtype: int64
564 1360    251
Name: amount_per_area, dtype: int64
564 398    770
Name: amount_per_area, dtype: int64
564 879    653
Name: amount_per_area, dtype: int64
564 1360    251
Name: amount_per_area, dtype: int64
420 399    631
Name: amount_per_area, dtype: int64
420 880    499
Name: amount_per_area, dtype: int64
420 1361    353
Name: amount_per_area, dtype: int64
420 399    631
Name: amount_per_area, dtype: int64
420 880    499
Name: amount_per_area, dtype: int64
420 1361    353
Name: amount_per_area, dtype: int64
69 400    31
Name: amount_per_area, dtype: int64
69 881    86
Name: amount_per_area, dtype: int64
69 1362    117
Name: amount_per_area, dtype: int64
69 400    31
Name: amount_per_area, dtype: int64
69 881    86
Name: amount_per_area, dtype: int64
69 1362    117
Name: amount_per_area, dtype: int64
580 401    509
Name: amount_per_area, dtype: int64
580 882    678
Name: amount_per_area, dtype: int64
580 1363    509
Name: amount_per_area, dtype: int64
580 401    509
Name: amount_per_area, dtype: int64
580 882    678
Name: amount_per_area, dtype: int64
580 1363    509
Name: amount_per_area, dtype: int64
238 402    204
Name: amount_per_area, dtype: int64
238 883    324
Name: amount_per_area, dtype: int64
238 1364    226
Name: amount_per_area, dtype: int64
238 402    204
Name: amount_per_area, dtype: int64
238 883    324
Name: amount_per_area, dtype: int64
238 1364    226
Name: amount_per_area, dtype: int64
804 403    758
Name: amount_per_area, dtype: int64
804 884    718
Name: amount_per_area, dtype: int64
804 1365    519
Name: amount_per_area, dtype: int64
804 403    758
Name: amount_per_area, dtype: int64
804 884    718
Name: amount_per_area, dtype: int64
804 1365    519
Name: amount_per_area, dtype: int64
734 404    1076
Name: amount_per_area, dtype: int64
734 885    781
Name: amount_per_area, dtype: int64
734 1366    254
Name: amount_per_area, dtype: int64
734 404    1076
Name: amount_per_area, dtype: int64
734 885    781
Name: amount_per_area, dtype: int64
734 1366    254
Name: amount_per_area, dtype: int64
328 405    162
Name: amount_per_area, dtype: int64
328 886    544
Name: amount_per_area, dtype: int64
328 1367    302
Name: amount_per_area, dtype: int64
328 405    162
Name: amount_per_area, dtype: int64
328 886    544
Name: amount_per_area, dtype: int64
328 1367    302
Name: amount_per_area, dtype: int64
651 406    869
Name: amount_per_area, dtype: int64
651 887    715
Name: amount_per_area, dtype: int64
651 1368    367
Name: amount_per_area, dtype: int64
651 406    869
Name: amount_per_area, dtype: int64
651 887    715
Name: amount_per_area, dtype: int64
651 1368    367
Name: amount_per_area, dtype: int64
344 407    409
Name: amount_per_area, dtype: int64
344 888    473
Name: amount_per_area, dtype: int64
344 1369    396
Name: amount_per_area, dtype: int64
344 407    409
Name: amount_per_area, dtype: int64
344 888    473
Name: amount_per_area, dtype: int64
344 1369    396
Name: amount_per_area, dtype: int64
445 408    686
Name: amount_per_area, dtype: int64
445 889    640
Name: amount_per_area, dtype: int64
445 1370    198
Name: amount_per_area, dtype: int64
445 408    686
Name: amount_per_area, dtype: int64
445 889    640
Name: amount_per_area, dtype: int64
445 1370    198
Name: amount_per_area, dtype: int64
431 409    687
Name: amount_per_area, dtype: int64
431 890    623
Name: amount_per_area, dtype: int64
431 1371    288
Name: amount_per_area, dtype: int64
431 409    687
Name: amount_per_area, dtype: int64
431 890    623
Name: amount_per_area, dtype: int64
431 1371    288
Name: amount_per_area, dtype: int64
167 410    78
Name: amount_per_area, dtype: int64
167 891    198
Name: amount_per_area, dtype: int64
167 1372    431
Name: amount_per_area, dtype: int64
167 410    78
Name: amount_per_area, dtype: int64
167 891    198
Name: amount_per_area, dtype: int64
167 1372    431
Name: amount_per_area, dtype: int64
0 411    0
Name: amount_per_area, dtype: int64
0 892    0
Name: amount_per_area, dtype: int64
0 1373    0
Name: amount_per_area, dtype: int64
0 411    0
Name: amount_per_area, dtype: int64
0 892    0
Name: amount_per_area, dtype: int64
0 1373    0
Name: amount_per_area, dtype: int64
73 412    24
Name: amount_per_area, dtype: int64
73 893    67
Name: amount_per_area, dtype: int64
73 1374    200
Name: amount_per_area, dtype: int64
73 412    24
Name: amount_per_area, dtype: int64
73 893    67
Name: amount_per_area, dtype: int64
73 1374    200
Name: amount_per_area, dtype: int64
0 413    0
Name: amount_per_area, dtype: int64
0 894    0
Name: amount_per_area, dtype: int64
0 1375    0
Name: amount_per_area, dtype: int64
0 413    0
Name: amount_per_area, dtype: int64
0 894    0
Name: amount_per_area, dtype: int64
0 1375    0
Name: amount_per_area, dtype: int64
325 414    36
Name: amount_per_area, dtype: int64
325 895    375
Name: amount_per_area, dtype: int64
325 1376    310
Name: amount_per_area, dtype: int64
325 414    36
Name: amount_per_area, dtype: int64
325 895    375
Name: amount_per_area, dtype: int64
325 1376    310
Name: amount_per_area, dtype: int64
24 415    0
Name: amount_per_area, dtype: int64
24 896    0
Name: amount_per_area, dtype: int64
24 1377    0
Name: amount_per_area, dtype: int64
24 415    0
Name: amount_per_area, dtype: int64
24 896    0
Name: amount_per_area, dtype: int64
24 1377    0
Name: amount_per_area, dtype: int64
227 416    72
Name: amount_per_area, dtype: int64
227 897    184
Name: amount_per_area, dtype: int64
227 1378    543
Name: amount_per_area, dtype: int64
227 416    72
Name: amount_per_area, dtype: int64
227 897    184
Name: amount_per_area, dtype: int64
227 1378    543
Name: amount_per_area, dtype: int64
105 417    23
Name: amount_per_area, dtype: int64
105 898    63
Name: amount_per_area, dtype: int64
105 1379    76
Name: amount_per_area, dtype: int64
105 417    23
Name: amount_per_area, dtype: int64
105 898    63
Name: amount_per_area, dtype: int64
105 1379    76
Name: amount_per_area, dtype: int64
4 418    0
Name: amount_per_area, dtype: int64
4 899    0

Name: amount_per_area, dtype: int64
4 1380    0
Name: amount_per_area, dtype: int64
4 418    0
Name: amount_per_area, dtype: int64
4 899    0
Name: amount_per_area, dtype: int64
4 1380    0
Name: amount_per_area, dtype: int64
9 419    0
Name: amount_per_area, dtype: int64
9 900    0
Name: amount_per_area, dtype: int64
9 1381    0
Name: amount_per_area, dtype: int64
9 419    0
Name: amount_per_area, dtype: int64
9 900    0
Name: amount_per_area, dtype: int64
9 1381    0
Name: amount_per_area, dtype: int64
12 420    0
Name: amount_per_area, dtype: int64
12 901    0
Name: amount_per_area, dtype: int64
12 1382    0
Name: amount_per_area, dtype: int64
12 420    0
Name: amount_per_area, dtype: int64
12 901    0
Name: amount_per_area, dtype: int64
12 1382    0
Name: amount_per_area, dtype: int64
25 421    18
Name: amount_per_area, dtype: int64
25 902    44
Name: amount_per_area, dtype: int64
25 1383    100
Name: amount_per_area, dtype: int64
25 421    18
Name: amount_per_area, dtype: int64
25 902    44
Name: amount_per_area, dtype: int64
25 1383    100
Name: amount_per_area, dtype: int64
1 422    0
Name: amount_per_area, dtype: int64
1 903    0
Name: amount_per_area, dtype: int64
1 1384    0
Name: amount_per_area, dtype: int64
1 422    0
Name: amount_per_area, dtype: int64
1 903    0
Name: amount_per_area, dtype: int64
1 1384    0
Name: amount_per_area, dtype: int64
5 423    6
Name: amount_per_area, dtype: int64
5 904    10
Name: amount_per_area, dtype: int64
5 1385    21
Name: amount_per_area, dtype: int64
5 423    6
Name: amount_per_area, dtype: int64
5 904    10
Name: amount_per_area, dtype: int64
5 1385    21
Name: amount_per_area, dtype: int64
1 424    0
Name: amount_per_area, dtype: int64
1 905    0
Name: amount_per_area, dtype: int64
1 1386    0
Name: amount_per_area, dtype: int64
1 424    0
Name: amount_per_area, dtype: int64
1 905    0
Name: amount_per_area, dtype: int64
1 1386    0
Name: amount_per_area, dtype: int64
4 425    5
Name: amount_per_area, dtype: int64
4 906    10
Name: amount_per_area, dtype: int64
4 1387    17
Name: amount_per_area, dtype: int64
4 425    5
Name: amount_per_area, dtype: int64
4 906    10
Name: amount_per_area, dtype: int64
4 1387    17
Name: amount_per_area, dtype: int64
1 426    1
Name: amount_per_area, dtype: int64
1 907    3
Name: amount_per_area, dtype: int64
1 1388    3
Name: amount_per_area, dtype: int64
1 426    1
Name: amount_per_area, dtype: int64
1 907    3
Name: amount_per_area, dtype: int64
1 1388    3
Name: amount_per_area, dtype: int64
2 427    3
Name: amount_per_area, dtype: int64
2 908    4
Name: amount_per_area, dtype: int64
2 1389    5
Name: amount_per_area, dtype: int64
2 427    3
Name: amount_per_area, dtype: int64
2 908    4
Name: amount_per_area, dtype: int64
2 1389    5
Name: amount_per_area, dtype: int64
2 428    0
Name: amount_per_area, dtype: int64
2 909    0
Name: amount_per_area, dtype: int64
2 1390    0
Name: amount_per_area, dtype: int64
2 428    0
Name: amount_per_area, dtype: int64
2 909    0
Name: amount_per_area, dtype: int64
2 1390    0
Name: amount_per_area, dtype: int64
1 429    0
Name: amount_per_area, dtype: int64
1 910    0
Name: amount_per_area, dtype: int64
1 1391    0
Name: amount_per_area, dtype: int64
1 429    0
Name: amount_per_area, dtype: int64
1 910    0
Name: amount_per_area, dtype: int64
1 1391    0
Name: amount_per_area, dtype: int64
0 430    0
Name: amount_per_area, dtype: int64
0 911    0
Name: amount_per_area, dtype: int64
0 1392    0
Name: amount_per_area, dtype: int64
0 430    0
Name: amount_per_area, dtype: int64
0 911    0
Name: amount_per_area, dtype: int64
0 1392    0
Name: amount_per_area, dtype: int64
78 431    45
Name: amount_per_area, dtype: int64
78 912    80
Name: amount_per_area, dtype: int64
78 1393    80
Name: amount_per_area, dtype: int64
78 431    45
Name: amount_per_area, dtype: int64
78 912    80
Name: amount_per_area, dtype: int64
78 1393    80
Name: amount_per_area, dtype: int64
249 432    165
Name: amount_per_area, dtype: int64
249 913    293
Name: amount_per_area, dtype: int64
249 1394    458
Name: amount_per_area, dtype: int64
249 432    165
Name: amount_per_area, dtype: int64
249 913    293
Name: amount_per_area, dtype: int64
249 1394    458
Name: amount_per_area, dtype: int64
10 433    0
Name: amount_per_area, dtype: int64
10 914    0
Name: amount_per_area, dtype: int64
10 1395    0
Name: amount_per_area, dtype: int64
10 433    0
Name: amount_per_area, dtype: int64
10 914    0
Name: amount_per_area, dtype: int64
10 1395    0
Name: amount_per_area, dtype: int64
9 434    0
Name: amount_per_area, dtype: int64
9 915    0
Name: amount_per_area, dtype: int64
9 1396    0
Name: amount_per_area, dtype: int64
9 434    0
Name: amount_per_area, dtype: int64
9 915    0
Name: amount_per_area, dtype: int64
9 1396    0
Name: amount_per_area, dtype: int64
4 435    0
Name: amount_per_area, dtype: int64
4 916    0
Name: amount_per_area, dtype: int64
4 1397    0
Name: amount_per_area, dtype: int64
4 435    0
Name: amount_per_area, dtype: int64
4 916    0
Name: amount_per_area, dtype: int64
4 1397    0
Name: amount_per_area, dtype: int64
71 436    7
Name: amount_per_area, dtype: int64
71 917    138
Name: amount_per_area, dtype: int64
71 1398    68
Name: amount_per_area, dtype: int64
71 436    7
Name: amount_per_area, dtype: int64
71 917    138
Name: amount_per_area, dtype: int64
71 1398    68
Name: amount_per_area, dtype: int64
0 437    0
Name: amount_per_area, dtype: int64
0 918    0
Name: amount_per_area, dtype: int64
0 1399    0
Name: amount_per_area, dtype: int64
0 437    0
Name: amount_per_area, dtype: int64
0 918    0
Name: amount_per_area, dtype: int64
0 1399    0
Name: amount_per_area, dtype: int64
3 438    0
Name: amount_per_area, dtype: int64
3 919    0
Name: amount_per_area, dtype: int64
3 1400    0
Name: amount_per_area, dtype: int64
3 438    0
Name: amount_per_area, dtype: int64
3 919    0
Name: amount_per_area, dtype: int64
3 1400    0
Name: amount_per_area, dtype: int64
5 439    10
Name: amount_per_area, dtype: int64
5 920    6
Name: amount_per_area, dtype: int64
5 1401    3
Name: amount_per_area, dtype: int64
5 439    10
Name: amount_per_area, dtype: int64
5 920    6
Name: amount_per_area, dtype: int64
5 1401    3
Name: amount_per_area, dtype: int64
923 440    825
Name: amount_per_area, dtype: int64
923 921    784
Name: amount_per_area, dtype: int64
923 1402    402
Name: amount_per_area, dtype: int64
923 440    825
Name: amount_per_area, dtype: int64
923 921    784
Name: amount_per_area, dtype: int64
923 1402    402
Name: amount_per_area, dtype: int64
881 441    710
Name: amount_per_area, dtype: int64
881 922    787
Name: amount_per_area, dtype: int64
881 1403    422
Name: amount_per_area, dtype: int64
881 441    710
Name: amount_per_area, dtype: int64
881 922    787
Name: amount_per_area, dtype: int64
881 1403    422
Name: amount_per_area, dtype: int64
736 442    168
Name: amount_per_area, dtype: int64
736 923    812
Name: amount_per_area, dtype: int64
736 1404    310
Name: amount_per_area, dtype: int64
736 442    168
Name: amount_per_area, dtype: int64
736 923    812
Name: amount_per_area, dtype: int64
736 1404    310
Name: amount_per_area, dtype: int64
1244 443    1167
Name: amount_per_area, dtype: int64
1244 924    1167
Name: amount_per_area, dtype: int64
1244 1405    737
Name: amount_per_area, dtype: int64
1244 443    1167
Name: amount_per_area, dtype: int64
1244 924    1167
Name: amount_per_area, dtype: int64
1244 1405    737
Name: amount_per_area, dtype: int64
309 444    297
Name: amount_per_area, dtype: int64
309 925    220
Name: amount_per_area, dtype: int64
309 1406    78
Name: amount_per_area, dtype: int64
309 444    297
Name: amount_per_area, dtype: int64
309 925    220
Name: amount_per_area, dtype: int64
309 1406    78
Name: amount_per_area, dtype: int64
742 445    509
Name: amount_per_area, dtype: int64
742 926    664
Name: amount_per_area, dtype: int64
742 1407    240
Name: amount_per_area, dtype: int64
742 445    509
Name: amount_per_area, dtype: int64
742 926    664
Name: amount_per_area, dtype: int64
742 1407    240
Name: amount_per_area, dtype: int64
1676 446    1454
Name: amount_per_area, dtype: int64
1676 927    960
Name: amount_per_area, dtype: int64
1676 1408    330
Name: amount_per_area, dtype: int64
1676 446    1454
Name: amount_per_area, dtype: int64
1676 927    960
Name: amount_per_area, dtype: int64
1676 1408    330
Name: amount_per_area, dtype: int64
925 447    750
Name: amount_per_area, dtype: int64
925 928    633
Name: amount_per_area, dtype: int64
925 1409    300
Name: amount_per_area, dtype: int64
925 447    750
Name: amount_per_area, dtype: int64
925 928    633
Name: amount_per_area, dtype: int64
925 1409    300
Name: amount_per_area, dtype: int64
124 448    93
Name: amount_per_area, dtype: int64
124 929    96
Name: amount_per_area, dtype: int64
124 1410    128
Name: amount_per_area, dtype: int64
124 448    93
Name: amount_per_area, dtype: int64
124 929    96
Name: amount_per_area, dtype: int64
124 1410    128
Name: amount_per_area, dtype: int64
658 449    540
Name: amount_per_area, dtype: int64
658 930    827
Name: amount_per_area, dtype: int64
658 1411    432
Name: amount_per_area, dtype: int64
658 449    540
Name: amount_per_area, dtype: int64
658 930    827
Name: amount_per_area, dtype: int64
658 1411    432
Name: amount_per_area, dtype: int64
0 450    0
Name: amount_per_area, dtype: int64
0 931    0
Name: amount_per_area, dtype: int64
0 1412    0
Name: amount_per_area, dtype: int64
0 450    0
Name: amount_per_area, dtype: int64
0 931    0
Name: amount_per_area, dtype: int64
0 1412    0
Name: amount_per_area, dtype: int64
430 451    311
Name: amount_per_area, dtype: int64
430 932    560
Name: amount_per_area, dtype: int64
430 1413    374
Name: amount_per_area, dtype: int64
430 451    311
Name: amount_per_area, dtype: int64
430 932    560
Name: amount_per_area, dtype: int64
430 1413    374
Name: amount_per_area, dtype: int64
682 452    551
Name: amount_per_area, dtype: int64
682 933    697
Name: amount_per_area, dtype: int64
682 1414    389
Name: amount_per_area, dtype: int64
682 452    551
Name: amount_per_area, dtype: int64
682 933    697
Name: amount_per_area, dtype: int64
682 1414    389
Name: amount_per_area, dtype: int64
1674 453    1565
Name: amount_per_area, dtype: int64
1674 934    922
Name: amount_per_area, dtype: int64
1674 1415    280
Name: amount_per_area, dtype: int64
1674 453    1565
Name: amount_per_area, dtype: int64
1674 934    922
Name: amount_per_area, dtype: int64
1674 1415    280
Name: amount_per_area, dtype: int64
924 454    974
Name: amount_per_area, dtype: int64
924 935    909
Name: amount_per_area, dtype: int64
924 1416    282
Name: amount_per_area, dtype: int64
924 454    974
Name: amount_per_area, dtype: int64
924 935    909
Name: amount_per_area, dtype: int64
924 1416    282
Name: amount_per_area, dtype: int64
306 455    359
Name: amount_per_area, dtype: int64
306 936    351
Name: amount_per_area, dtype: int64
306 1417    126
Name: amount_per_area, dtype: int64
306 455    359
Name: amount_per_area, dtype: int64
306 936    351
Name: amount_per_area, dtype: int64
306 1417    126
Name: amount_per_area, dtype: int64
1373 456    1072
Name: amount_per_area, dtype: int64
1373 937    1098
Name: amount_per_area, dtype: int64
1373 1418    445
Name: amount_per_area, dtype: int64
1373 456    1072
Name: amount_per_area, dtype: int64
1373 937    1098
Name: amount_per_area, dtype: int64
1373 1418    445
Name: amount_per_area, dtype: int64
555 457    382
Name: amount_per_area, dtype: int64
555 938    534
Name: amount_per_area, dtype: int64
555 1419    344
Name: amount_per_area, dtype: int64
555 457    382
Name: amount_per_area, dtype: int64
555 938    534
Name: amount_per_area, dtype: int64
555 1419    344
Name: amount_per_area, dtype: int64

601 458    601
Name: amount_per_area, dtype: int64
601 939    696
Name: amount_per_area, dtype: int64
601 1420    285
Name: amount_per_area, dtype: int64
601 458    601
Name: amount_per_area, dtype: int64
601 939    696
Name: amount_per_area, dtype: int64
601 1420    285
Name: amount_per_area, dtype: int64
933 459    859
Name: amount_per_area, dtype: int64
933 940    1061
Name: amount_per_area, dtype: int64
933 1421    581
Name: amount_per_area, dtype: int64
933 459    859
Name: amount_per_area, dtype: int64
933 940    1061
Name: amount_per_area, dtype: int64
933 1421    581
Name: amount_per_area, dtype: int64
217 460    144
Name: amount_per_area, dtype: int64
217 941    262
Name: amount_per_area, dtype: int64
217 1422    249
Name: amount_per_area, dtype: int64
217 460    144
Name: amount_per_area, dtype: int64
217 941    262
Name: amount_per_area, dtype: int64
217 1422    249
Name: amount_per_area, dtype: int64
289 461    294
Name: amount_per_area, dtype: int64
289 942    294
Name: amount_per_area, dtype: int64
289 1423    154
Name: amount_per_area, dtype: int64
289 461    294
Name: amount_per_area, dtype: int64
289 942    294
Name: amount_per_area, dtype: int64
289 1423    154
Name: amount_per_area, dtype: int64
152 462    71
Name: amount_per_area, dtype: int64
152 943    187
Name: amount_per_area, dtype: int64
152 1424    154
Name: amount_per_area, dtype: int64
152 462    71
Name: amount_per_area, dtype: int64
152 943    187
Name: amount_per_area, dtype: int64
152 1424    154
Name: amount_per_area, dtype: int64
2208 463    2403
Name: amount_per_area, dtype: int64
2208 944    1450
Name: amount_per_area, dtype: int64
2208 1425    290
Name: amount_per_area, dtype: int64
2208 463    2403
Name: amount_per_area, dtype: int64
2208 944    1450
Name: amount_per_area, dtype: int64
2208 1425    290
Name: amount_per_area, dtype: int64
1322 464    954
Name: amount_per_area, dtype: int64
1322 945    863
Name: amount_per_area, dtype: int64
1322 1426    455
Name: amount_per_area, dtype: int64
1322 464    954
Name: amount_per_area, dtype: int64
1322 945    863
Name: amount_per_area, dtype: int64
1322 1426    455
Name: amount_per_area, dtype: int64
284 465    145
Name: amount_per_area, dtype: int64
284 946    297
Name: amount_per_area, dtype: int64
284 1427    282
Name: amount_per_area, dtype: int64
284 465    145
Name: amount_per_area, dtype: int64
284 946    297
Name: amount_per_area, dtype: int64
284 1427    282
Name: amount_per_area, dtype: int64
1 466    0
Name: amount_per_area, dtype: int64
1 947    0
Name: amount_per_area, dtype: int64
1 1428    0
Name: amount_per_area, dtype: int64
1 466    0
Name: amount_per_area, dtype: int64
1 947    0
Name: amount_per_area, dtype: int64
1 1428    0
Name: amount_per_area, dtype: int64
2 467    0
Name: amount_per_area, dtype: int64
2 948    0
Name: amount_per_area, dtype: int64
2 1429    0
Name: amount_per_area, dtype: int64
2 467    0
Name: amount_per_area, dtype: int64
2 948    0
Name: amount_per_area, dtype: int64
2 1429    0
Name: amount_per_area, dtype: int64
541 468    720
Name: amount_per_area, dtype: int64
541 949    618
Name: amount_per_area, dtype: int64
541 1430    133
Name: amount_per_area, dtype: int64
541 468    720
Name: amount_per_area, dtype: int64
541 949    618
Name: amount_per_area, dtype: int64
541 1430    133
Name: amount_per_area, dtype: int64
897 469    979
Name: amount_per_area, dtype: int64
897 950    836
Name: amount_per_area, dtype: int64
897 1431    225
Name: amount_per_area, dtype: int64
897 469    979
Name: amount_per_area, dtype: int64
897 950    836
Name: amount_per_area, dtype: int64
897 1431    225
Name: amount_per_area, dtype: int64
204 470    182
Name: amount_per_area, dtype: int64
204 951    315
Name: amount_per_area, dtype: int64
204 1432    203
Name: amount_per_area, dtype: int64
204 470    182
Name: amount_per_area, dtype: int64
204 951    315
Name: amount_per_area, dtype: int64
204 1432    203
Name: amount_per_area, dtype: int64
566 471    572
Name: amount_per_area, dtype: int64
566 952    587
Name: amount_per_area, dtype: int64
566 1433    308
Name: amount_per_area, dtype: int64
566 471    572
Name: amount_per_area, dtype: int64
566 952    587
Name: amount_per_area, dtype: int64
566 1433    308
Name: amount_per_area, dtype: int64
564 472    464
Name: amount_per_area, dtype: int64
564 953    586
Name: amount_per_area, dtype: int64
564 1434    314
Name: amount_per_area, dtype: int64
564 472    464
Name: amount_per_area, dtype: int64
564 953    586
Name: amount_per_area, dtype: int64
564 1434    314
Name: amount_per_area, dtype: int64
615 473    623
Name: amount_per_area, dtype: int64
615 954    765
Name: amount_per_area, dtype: int64
615 1435    392
Name: amount_per_area, dtype: int64
615 473    623
Name: amount_per_area, dtype: int64
615 954    765
Name: amount_per_area, dtype: int64
615 1435    392
Name: amount_per_area, dtype: int64
251 474    221
Name: amount_per_area, dtype: int64
251 955    335
Name: amount_per_area, dtype: int64
251 1436    206
Name: amount_per_area, dtype: int64
251 474    221
Name: amount_per_area, dtype: int64
251 955    335
Name: amount_per_area, dtype: int64
251 1436    206
Name: amount_per_area, dtype: int64
708 475    700
Name: amount_per_area, dtype: int64
708 956    700
Name: amount_per_area, dtype: int64
708 1437    308
Name: amount_per_area, dtype: int64
708 475    700
Name: amount_per_area, dtype: int64
708 956    700
Name: amount_per_area, dtype: int64
708 1437    308
Name: amount_per_area, dtype: int64
811 476    667
Name: amount_per_area, dtype: int64
811 957    751
Name: amount_per_area, dtype: int64
811 1438    251
Name: amount_per_area, dtype: int64
811 476    667
Name: amount_per_area, dtype: int64
811 957    751
Name: amount_per_area, dtype: int64
811 1438    251
Name: amount_per_area, dtype: int64
264 477    211
Name: amount_per_area, dtype: int64
264 958    395
Name: amount_per_area, dtype: int64
264 1439    312
Name: amount_per_area, dtype: int64
264 477    211
Name: amount_per_area, dtype: int64
264 958    395
Name: amount_per_area, dtype: int64
264 1439    312
Name: amount_per_area, dtype: int64
283 478    283
Name: amount_per_area, dtype: int64
283 959    350
Name: amount_per_area, dtype: int64
283 1440    200
Name: amount_per_area, dtype: int64
283 478    283
Name: amount_per_area, dtype: int64
283 959    350
Name: amount_per_area, dtype: int64
283 1440    200
Name: amount_per_area, dtype: int64
123 479    240
Name: amount_per_area, dtype: int64
123 960    382
Name: amount_per_area, dtype: int64
123 1441    267
Name: amount_per_area, dtype: int64
123 479    240
Name: amount_per_area, dtype: int64
123 960    382
Name: amount_per_area, dtype: int64
123 1441    267
Name: amount_per_area, dtype: int64
2 480    0
Name: amount_per_area, dtype: int64
2 961    0
Name: amount_per_area, dtype: int64
2 1442    0
Name: amount_per_area, dtype: int64
2 480    0
Name: amount_per_area, dtype: int64
2 961    0
Name: amount_per_area, dtype: int64
2 1442    0
Name: amount_per_area, dtype: int64

ValueError: Length of values (0) does not match length of index (14430)

In [ ]:
df['p'] = df['amount']/df['amount'].sum()

In [466]:
df['code']

0          0
1          0
2          0
3          0
4          0
        ...
14425    480
14426    480
14427    480
14428    480
14429    480
Name: code, Length: 14430, dtype: int64

In [23]:

peeps = []

for i in range(481):
    
    
    area = df[df['code'] == i]
    
#     print(area['amount']/area['amount'].sum())
    x = list(area['amount']/area['amount'].sum())
    peeps.extend(x)
    
    print(len(peeps), len(x))
#     print(area)
    
#     print(len(peeps) * 481)
#     raise
#     peeps.append((df[df['code'] == i]['amount'].sum()))

30 30
60 30
90 30
120 30
150 30
180 30
210 30
240 30
270 30
300 30
330 30
360 30
390 30
420 30
450 30
480 30
510 30
540 30
570 30
600 30
630 30
660 30
690 30
720 30
750 30
780 30
810 30
840 30
870 30
900 30
930 30
960 30
990 30
1020 30
1050 30
1080 30
1110 30
1140 30
1170 30
1200 30
1230 30
1260 30
1290 30
1320 30
1350 30
1380 30
1410 30
1440 30
1470 30
1500 30
1530 30
1560 30
1590 30
1620 30
1650 30
1680 30
1710 30
1740 30
1770 30
1800 30
1830 30
1860 30
1890 30
1920 30
1950 30
1980 30
2010 30
2040 30
2070 30
2100 30
2130 30
2160 30
2190 30
2220 30
2250 30
2280 30
2310 30
2340 30
2370 30
2400 30
2430 30
2460 30
2490 30
2520 30
2550 30
2580 30
2610 30
2640 30
2670 30
2700 30
2730 30
2760 30
2790 30
2820 30
2850 30
2880 30
2910 30
2940 30
2970 30
3000 30
3030 30
3060 30
3090 30
3120 30
3150 30
3180 30
3210 30
3240 30
3270 30
3300 30
3330 30
3360 30
3390 30
3420 30
3450 30
3480 30
3510 30
3540 30
3570 30
3600 30
3630 30
3660 30
3690 30
3720 30
3750 30
3780 30
3810 30
3840 30
3870 30
3900 30
3930 30
3960 30
3990 30
4020 30
4050 30
4080 30
4110 30
4140 30
4170 30
4200 30
4230 30
4260 30
4290 30
4320 30
4350 30
4380 30
4410 30
4440 30
4470 30
4500 30
4530 30
4560 30
4590 30
4620 30
4650 30
4680 30
4710 30
4740 30
4770 30
4800 30
4830 30
4860 30
4890 30
4920 30
4950 30
4980 30
5010 30
5040 30
5070 30
5100 30
5130 30
5160 30
5190 30
5220 30
5250 30
5280 30
5310 30
5340 30
5370 30
5400 30
5430 30
5460 30
5490 30
5520 30
5550 30
5580 30
5610 30
5640 30
5670 30
5700 30
5730 30
5760 30
5790 30
5820 30
5850 30
5880 30
5910 30
5940 30
5970 30
6000 30
6030 30
6060 30
6090 30
6120 30
6150 30
6180 30
6210 30
6240 30
6270 30
6300 30
6330 30
6360 30
6390 30
6420 30
6450 30
6480 30
6510 30
6540 30
6570 30
6600 30
6630 30
6660 30
6690 30
6720 30
6750 30
6780 30
6810 30
6840 30
6870 30
6900 30
6930 30
6960 30
6990 30
7020 30
7050 30
7080 30
7110 30
7140 30
7170 30
7200 30
7230 30
7260 30
7290 30
7320 30
7350 30
7380 30
7410 30
7440 30
7470 30
7500 30
7530 30
7560 30
7590 30
7620 30
7650 30
7680 30
7710 30
7740 30
7770 30
7800 30
7830 30
7860 30
7890 30
7920 30
7950 30
7980 30
8010 30
8040 30
8070 30
8100 30
8130 30
8160 30
8190 30
8220 30
8250 30
8280 30
8310 30
8340 30
8370 30
8400 30
8430 30
8460 30
8490 30
8520 30
8550 30
8580 30
8610 30
8640 30
8670 30
8700 30
8730 30
8760 30
8790 30
8820 30
8850 30
8880 30
8910 30
8940 30
8970 30
9000 30
9030 30
9060 30
9090 30
9120 30
9150 30
9180 30
9210 30
9240 30
9270 30
9300 30
9330 30
9360 30
9390 30
9420 30
9450 30
9480 30
9510 30
9540 30
9570 30
9600 30
9630 30
9660 30
9690 30
9720 30
9750 30
9780 30
9810 30
9840 30
9870 30
9900 30
9930 30
9960 30
9990 30
10020 30
10050 30
10080 30
10110 30
10140 30
10170 30
10200 30
10230 30
10260 30
10290 30
10320 30
10350 30
10380 30
10410 30
10440 30
10470 30
10500 30
10530 30
10560 30
10590 30
10620 30
10650 30
10680 30
10710 30
10740 30
10770 30
10800 30
10830 30
10860 30
10890 30
10920 30
10950 30
10980 30
11010 30
11040 30
11070 30
11100 30
11130 30
11160 30
11190 30
11220 30
11250 30
11280 30
11310 30
11340 30
11370 30
11400 30
11430 30
11460 30
11490 30
11520 30
11550 30
11580 30
11610 30
11640 30
11670 30
11700 30
11730 30
11760 30
11790 30
11820 30
11850 30
11880 30
11910 30
11940 30
11970 30
12000 30
12030 30
12060 30
12090 30
12120 30
12150 30
12180 30
12210 30
12240 30
12270 30
12300 30
12330 30
12360 30
12390 30
12420 30
12450 30
12480 30
12510 30
12540 30
12570 30
12600 30
12630 30
12660 30
12690 30
12720 30
12750 30
12780 30
12810 30
12840 30
12870 30
12900 30
12930 30
12960 30
12990 30
13020 30
13050 30
13080 30
13110 30
13140 30
13170 30
13200 30
13230 30
13260 30
13290 30
13320 30
13350 30
13380 30
13410 30
13440 30
13470 30
13500 30
13530 30
13560 30
13590 30
13620 30
13650 30
13680 30
13710 30
13740 30
13770 30
13800 30
13830 30
13860 30
13890 30
13920 30
13950 30
13980 30
14010 30
14040 30
14070 30
14100 30
14130 30
14160 30
14190 30
14220 30
14250 30
14280 30
14310 30
14340 30
14370 30
14400 30
14430 30

In [483]:
df['x'] = (df.amount/df.amount.sum())*861000

In [493]:
df[(df['x'] < 20) & (df['x'] > 0)]

           etngrp  code geslacht     amount  oplniv  percentage         x
108    Autochtoon    18      Man   7.262483       1    0.297864  0.234163
111    Autochtoon    18    Vrouw   7.262483       1    0.297864  0.234163
132    Autochtoon    22      Man  18.156207       1    0.297864  0.585406
135    Autochtoon    22    Vrouw  18.156207       1    0.297864  0.585406
150    Autochtoon    25      Man  50.111130       1    0.297864  1.615722
...           ...   ...      ...        ...     ...         ...       ...
14425      Overig   480      Man  10.000000       2    0.297864  0.322428
14426      Overig   480      Man  10.000000       3    0.297864  0.322428
14427      Overig   480    Vrouw  37.323682       1    0.297864  1.203419
14428      Overig   480    Vrouw   9.000000       2    0.297864  0.290185
14429      Overig   480    Vrouw   9.000000       3    0.297864  0.290185

[3190 rows x 7 columns]

In [489]:
df

           etngrp  code geslacht       amount  oplniv  percentage           x
0      Autochtoon     0      Man  3679.090326       1    0.297864  118.624063
1      Autochtoon     0      Man  3925.288488       2    0.297864  126.562174
2      Autochtoon     0      Man  4645.726767       3    0.297864  149.791100
3      Autochtoon     0    Vrouw  3132.090326       1    0.297864  100.987268
4      Autochtoon     0    Vrouw  3378.288488       2    0.297864  108.925379
...           ...   ...      ...          ...     ...         ...         ...
14425      Overig   480      Man    10.000000       2    0.297864    0.322428
14426      Overig   480      Man    10.000000       3    0.297864    0.322428
14427      Overig   480    Vrouw    37.323682       1    0.297864    1.203419
14428      Overig   480    Vrouw     9.000000       2    0.297864    0.290185
14429      Overig   480    Vrouw     9.000000       3    0.297864    0.290185

[14430 rows x 7 columns]

In [24]:
df['p'] = np.array(peeps)*100

In [25]:
df['percentage'] = df['p']

In [26]:
df = df.fillna(0)

In [223]:
df.groupby(by=['etngrp', 'geslacht', 'oplniv']).sum().reset_index()

        etngrp geslacht  oplniv    code     amount  percentage
0   Autochtoon      Man       1  115440  1022351.0   18.138694
1   Autochtoon      Man       2  115440  1098945.0   29.860822
2   Autochtoon      Man       3  115440  1262885.0   49.371007
3   Autochtoon    Vrouw       1  115440  1027601.0   18.122752
4   Autochtoon    Vrouw       2  115440  1104195.0   29.698893
5   Autochtoon    Vrouw       3  115440  1268135.0   49.256470
6   Marokkaans      Man       1  115440   672824.0    4.010332
7   Marokkaans      Man       2  115440   749418.0    4.333144
8   Marokkaans      Man       3  115440   913358.0    4.683347
9   Marokkaans    Vrouw       1  115440   678074.0    4.010402
10  Marokkaans    Vrouw       2  115440   754668.0    4.371163
11  Marokkaans    Vrouw       3  115440   918608.0    4.754648
12      Overig      Man       1  115440   900110.0   13.762250
13      Overig      Man       2  115440   976704.0   21.505823
14      Overig      Man       3  115440  1140644.0   32.421686
15      Overig    Vrouw       1  115440   905360.0   13.611971
16      Overig    Vrouw       2  115440   981954.0   21.115568
17      Overig    Vrouw       3  115440  1145894.0   31.793953
18   Surinaams      Man       1  115440   663428.0    3.986113
19   Surinaams      Man       2  115440   740022.0    4.791210
20   Surinaams      Man       3  115440   903962.0    4.557610
21   Surinaams    Vrouw       1  115440   668678.0    3.978599
22   Surinaams    Vrouw       2  115440   745272.0    4.815954
23   Surinaams    Vrouw       3  115440   909212.0    4.574193
24       Turks      Man       1  115440   643770.0    2.314945
25       Turks      Man       2  115440   720364.0    2.596739
26       Turks      Man       3  115440   884304.0    2.765373
27       Turks    Vrouw       1  115440   649020.0    2.326892
28       Turks    Vrouw       2  115440   725614.0    2.613894
29       Turks    Vrouw       3  115440   889554.0    2.782523

In [184]:
df[df['oplniv'] == 1].groupby(['etngrp', 'geslacht']).mean()

                     code       amount  oplniv  percentage
etngrp     geslacht
Autochtoon Man       10.5  1766.863636     1.0   21.185814
           Vrouw     10.5  1792.681818     1.0   21.548305
Marokkaans Man       10.5   422.045455     1.0    4.388768
           Vrouw     10.5   426.954545     1.0    4.433650
Overig     Man       10.5  1340.954545     1.0   17.470964
           Vrouw     10.5  1354.954545     1.0   17.704691
Surinaams  Man       10.5   382.318182     1.0    4.080632
           Vrouw     10.5   384.818182     1.0    4.119173
Turks      Man       10.5   247.318182     1.0    2.505841
           Vrouw     10.5   250.227273     1.0    2.530345

In [27]:
df.to_csv('../Data/Spatial_data/spatial_data_withbias.csv')

In [472]:
df['x'] = df[]

           etngrp  code geslacht       amount  oplniv  percentage         p
0      Autochtoon     0      Man  3679.090326       1    0.013777  0.013777
1      Autochtoon     0      Man  3925.288488       2    0.014699  0.014699
2      Autochtoon     0      Man  4645.726767       3    0.017397  0.017397
3      Autochtoon     0    Vrouw  3132.090326       1    0.011729  0.011729
4      Autochtoon     0    Vrouw  3378.288488       2    0.012651  0.012651
...           ...   ...      ...          ...     ...         ...       ...
14425      Overig   480      Man    10.000000       2    0.000037  0.000037
14426      Overig   480      Man    10.000000       3    0.000037  0.000037
14427      Overig   480    Vrouw    37.323682       1    0.000140  0.000140
14428      Overig   480    Vrouw     9.000000       2    0.000034  0.000034
14429      Overig   480    Vrouw     9.000000       3    0.000034  0.000034

[14430 rows x 7 columns]

In [24]:
# importing product
from itertools import product
  
# apply product method
x = list(product(df['geslacht'], df['etngrp'] ))

0.7480161452478962

In [32]:
df.groupby(['geslacht','etngrp', 'oplniv']).size().reset_index().to_numpy()

array([['Man', 'Autochtoon', 1, 22],
       ['Man', 'Autochtoon', 2, 22],
       ['Man', 'Autochtoon', 3, 22],
       ['Man', 'Marokkaans', 1, 22],
       ['Man', 'Marokkaans', 2, 22],
       ['Man', 'Marokkaans', 3, 22],
       ['Man', 'Overig', 1, 22],
       ['Man', 'Overig', 2, 22],
       ['Man', 'Overig', 3, 22],
       ['Man', 'Surinaams', 1, 22],
       ['Man', 'Surinaams', 2, 22],
       ['Man', 'Surinaams', 3, 22],
       ['Man', 'Turks', 1, 22],
       ['Man', 'Turks', 2, 22],
       ['Man', 'Turks', 3, 22],
       ['Vrouw', 'Autochtoon', 1, 22],
       ['Vrouw', 'Autochtoon', 2, 22],
       ['Vrouw', 'Autochtoon', 3, 22],
       ['Vrouw', 'Marokkaans', 1, 22],
       ['Vrouw', 'Marokkaans', 2, 22],
       ['Vrouw', 'Marokkaans', 3, 22],
       ['Vrouw', 'Overig', 1, 22],
       ['Vrouw', 'Overig', 2, 22],
       ['Vrouw', 'Overig', 3, 22],
       ['Vrouw', 'Surinaams', 1, 22],
       ['Vrouw', 'Surinaams', 2, 22],
       ['Vrouw', 'Surinaams', 3, 22],
       ['Vrouw', 'Turks', 1, 22],
       ['Vrouw', 'Turks', 2, 22],
       ['Vrouw', 'Turks', 3, 22]], dtype=object)