In [1]:
from pyclbr import Class
from networkx.algorithms.centrality import group


# from CLS_thesis.static_network.node_initialization import hash_groups
from itertools import product
import math
import random
import pandas as pd
import networkx as nx
import numpy as np
import multiprocessing as mp
import matplotlib.pyplot as plt
from pathlib import Path
import time

import sys

sys.path.append('../')
# C:\Users\KGulp\Documents\Computational Science\CLS_thesis\static_network\node_initialization.py
# from CLS_thesis.static_network.node_initialization import hash_groups
from static_network import node_initialization

In [2]:

def hash_groups():
    '''
    Making a hash dictionary based on the groups
    Making the hash and rehash dictionaries
    '''

    # Initializing hash dictionaries
    hash_dict = {}
    rehash_dict = {}

    # Read oplniv dataframe
    df = pd.read_csv('./Data/tab_n_(with oplniv).csv')

    # Hash every group
    for i in range(df.shape[0]):
        group = df.iloc[i]
                
        age = group['lft']
        etnc = group['etngrp']
        gender = group['geslacht']
        education = group['oplniv']


        hash_dict[f'{age}, {etnc}, {gender}, {education}'] = i
        rehash_dict[i] = f'{age}, {etnc}, {gender}, {education}' 
    
    return hash_dict, rehash_dict

def spatial(etn_dict, group_nodes):
    '''
    Makes 2 dictionaries: areas_groups, node_area

    areas_group: is the dictionary which takes as key area and group and returns the nodes in that area of the group
    node_area: returns a dictionary whith as key the node and value the area in which the node is present

    '''

    # Import spatial data (see spatial data.ipynb to see how csv is constructed)
    df_sp = pd.read_csv('.\Data\Spatial_data\spatial_data.csv')

    # get unique areas and etnicities and groups
    group_list = df.groupby(['geslacht','etngrp', 'oplniv']).size().reset_index().to_numpy()
    area_list = df_sp['code'].unique()
    
#     area_list = df_sp['area_code'].unique()
#     etn_list = df_sp['variabele'].unique()

    groups = list(group_nodes.keys())

    # Initialize Dictionaries
    areas_groups = {}
    node_area = {}
    areas_df = {} 
    areas = {}

    # Loop through area's and initialize areas with a second dictionary
    for area in area_list:
        areas[area] = {}
        areas_df[area] = {}
        areas_groups[area] = {}

        # Give areas df a value (max amount of people represented in that area)
        # Initialize areas and group_areas with a list for each area
        for group in group_list:
            gender = group[0]
            etn = group[1]
            edu = group[2]
            
            amount = df_sp[(df_sp['geslacht'] == gender) & (df_sp['oplniv'] == edu) & (df_sp['etngrp'] == etn)]
            areas_df[area][group] = int(amount[amount['code'] == area]['amount'])
            areas[area][etn] = []
        for group in groups:
            areas_groups[area][group] = []

    # Loop through the 5 ethnicities (A, M, T, S, O)
    for etn in etn_dict:

        # Shuffle areas and nodes to put the nodes randomly in the areas
        random.shuffle(etn_dict[etn])
        random.shuffle(area_list)

        # Initialize area and iterator
        area = 0
        i = 0

        # Loop through all nodes with ethnicity etn
        while i < len(etn_dict[etn]):
            
            # node is i_th node of the list
            node = etn_dict[etn][i]

            # Check if area is full and area is not greater than 22
            if len(areas[area][etn]) < areas_df[area][etn] and area < 22:

                # Append node to area
                areas[area][etn].append(node)
                areas_groups[area][node[1]].append(node[0])
                node_area[node[0]] = area
                i+=1

            # Go to next area
            else:
                area+=1
                if area > 21:
                    area = 0

    return areas_groups, node_area
def initialize_nodes(df, hash_dict):
    '''
    Initilizes all the nodes for the network
    '''

    # Initialize list with nodes and nodes per group (example: Man,"[0,20)",1,Autochtoon)
    all_nodes = []
    group_nodes = {}
    df_sp = pd.read_csv('Data\Spatial_data\spatial_data.csv')
    etn_list = df_sp['variabele'].unique()
    etn_dict = {etn : [] for etn in etn_list}
    
    
    areas = {}
    areas_df = {}
    

    id = 0

    # Loops through all lines in the tab_n file and get group properties of each line
    for i in range(df.shape[0]):
        group = df.iloc[i]

        
        age = group['lft']
        etnc = group['etngrp']
        gender = group['geslacht']
        education = group['oplniv']
        nodes = []
        
        hd = hash_dict[f'{age}, {etnc}, {gender}, {education}']
        
         
        # Makes n (the size of the group) nodes of the group
        for _ in range(math.ceil((group['n']))):
             
            node = (id, hd)
            nodes.append(node[0])
            all_nodes.append(id)
            etn_dict[etnc].append(node)

            id += 1
            
   
                
                
        # make a dictionary with as key the group properties and value a list of nodes of the group
        group_nodes[hd] = nodes




    return all_nodes, group_nodes, etn_dict

In [3]:
df = pd.read_csv('../Data/Spatial_data/bbga_latest_and_greatest_948e83a9fa.csv', sep=';')

In [4]:
df.columns

Index(['jaar', 'gebiedcode15', 'variabele', 'waarde'], dtype='object')

In [5]:
df = df[df['jaar'] == 2018]

In [6]:
possibilities = list(df['variabele'].unique())

for possible in possibilities:

    if possible[-2:] == '_P' and possible[0:3] == 'BEV':
        print(possible)

BEVMAN_P
BEVVROUW_P
BEVINST_P
BEVINST65PLUS_P
BEVPOTBBV15_74_P
BEVSUR_P
BEVANTIL_P
BEVTURK_P
BEVMAROK_P
BEVOVNW_P
BEVWEST_P
BEVAUTOCH_P
BEVNW_P
BEVNSTEDELING_P
BEVOPLLAAG_P
BEVOPLMID_P
BEVOPLHOOG_P
BEVEENOUDERHH_P
BEVALLEENHH_P
BEVPAARZKINDHH_P
BEVPAARMKINDHH_P
BEVOVERIGHH_P
BEVHHMKIND_P
BEV1P75PLUS_P
BEVMUTNL_P
BEVMUTTOT_P
BEV0_3_P
BEV65PLUS_P
BEV4_12_P
BEV13_17_P
BEV0_17_P
BEV0_18_P
BEV18_26_P
BEV18_64_P
BEV27_65_P
BEV66PLUS_P
BEV65_74_P
BEV75PLUS_P
BEV80PLUS_P
BEV17AUTO_P
BEV18_22NL_P
BEV23_39NL_P
BEV40_64NL_P
BEV65PLUSNL_P
BEV65_79NL_P
BEV80PLUSNL_P
BEV17W_P
BEV18_22W_P
BEV23_39W_P
BEV40_64W_P
BEV65PLUSW_P
BEV65_79W_P
BEV80PLUSW_P
BEV17NW_P
BEV18_22NW_P
BEV23_39NW_P
BEV40_64NW_P
BEV65PLUSNW_P
BEV65_79NW_P
BEV80PLUSNW_P

In [143]:
groepen = ['BEVSUR_P',
'BEVANTIL_P',
'BEVTURK_P',
'BEVMAROK_P',
'BEVOVNW_P',
'BEVWEST_P',
'BEVAUTOCH_P',
]

groepen = ['BEVMAN_P', 'BEVVROUW_P']

groepen = ['BEVOPLLAAG_P',
'BEVOPLMID_P',
'BEVOPLHOOG_P']

In [144]:
x = 0

wijken = []
for i in df['gebiedcode15'].unique():
#     print(i)
    
    if i == 'DX01':
        x = 1
    
    if i == 'ZX99':
        break
        
    if x == 1:
        wijken.append(i)

print(wijken)

['DX01', 'DX02', 'DX03', 'DX04', 'DX05', 'DX06', 'DX07', 'DX08', 'DX09', 'DX10', 'DX11', 'DX12', 'DX13', 'DX14', 'DX15', 'DX16', 'DX17', 'DX18', 'DX19', 'DX20', 'DX21', 'DX22']

In [145]:

df_sp = df[df['jaar'] == 2018]

In [146]:
df_sp = df_sp.loc[df['variabele'].isin(groepen)]

In [147]:
df_sp = df_sp.loc[df['gebiedcode15'].isin(wijken)]

In [148]:
df_sp

        jaar gebiedcode15     variabele  waarde
548686  2018         DX01  BEVOPLLAAG_P    13.0
548687  2018         DX02  BEVOPLLAAG_P    12.0
548688  2018         DX03  BEVOPLLAAG_P    17.0
548689  2018         DX04  BEVOPLLAAG_P    26.0
548690  2018         DX05  BEVOPLLAAG_P    19.0
...      ...          ...           ...     ...
555233  2018         DX18  BEVOPLHOOG_P    36.0
555234  2018         DX19  BEVOPLHOOG_P    28.0
555235  2018         DX20  BEVOPLHOOG_P    21.0
555236  2018         DX21  BEVOPLHOOG_P    22.0
555237  2018         DX22  BEVOPLHOOG_P    25.0

[66 rows x 4 columns]

In [149]:
sum(df_sp[df_sp['gebiedcode15'] == 'DX01']['waarde'])

100.0

In [150]:
df_t = df[df['variabele'] == 'BEVDICHT']

df_t = df_t.loc[df['gebiedcode15'].isin(wijken)]

df_t['amount_of_persons'] = round(df_t['waarde']/sum(df_t['waarde']) * 861000)

In [151]:
df_t

        jaar gebiedcode15 variabele   waarde  amount_of_persons
102926  2018         DX01  BEVDICHT  15927.0            70089.0
102927  2018         DX02  BEVDICHT  12338.0            54295.0
102928  2018         DX03  BEVDICHT  11938.0            52535.0
102929  2018         DX04  BEVDICHT  10673.0            46968.0
102930  2018         DX05  BEVDICHT  23580.0           103768.0
102931  2018         DX06  BEVDICHT   3351.0            14747.0
102932  2018         DX07  BEVDICHT   4697.0            20670.0
102933  2018         DX08  BEVDICHT   4704.0            20701.0
102934  2018         DX09  BEVDICHT   8048.0            35417.0
102935  2018         DX10  BEVDICHT  11038.0            48575.0
102936  2018         DX11  BEVDICHT   3882.0            17083.0
102937  2018         DX12  BEVDICHT  17611.0            77500.0
102938  2018         DX13  BEVDICHT  17502.0            77021.0
102939  2018         DX14  BEVDICHT  14392.0            63334.0
102940  2018         DX15  BEVDICHT   4179.0            18390.0
102941  2018         DX16  BEVDICHT   5708.0            25119.0
102942  2018         DX17  BEVDICHT   5411.0            23812.0
102943  2018         DX18  BEVDICHT   4503.0            19816.0
102944  2018         DX19  BEVDICHT   1055.0             4643.0
102945  2018         DX20  BEVDICHT   3201.0            14087.0
102946  2018         DX21  BEVDICHT   7779.0            34233.0
102947  2018         DX22  BEVDICHT   4135.0            18197.0

In [15]:
df_sp = df_sp.replace(['BEVANTIL_P',
'BEVOVNW_P',
'BEVWEST_P'], 'OVERIG')

In [17]:
df_sp = df_sp.groupby(['variabele', 'gebiedcode15'], as_index=False).sum()

In [17]:
df_sp = df_sp.replace(['BEVAUTOCH_P','BEVSUR_P','BEVMAROK_P','BEVTURK_P', 'OVERIG' ],['Autochtoon','Surinaams','Marokkaans','Turks', 'Overig'])

In [68]:
df_sp = df_sp.replace(['BEVMAN_P','BEVVROUW_P'],['Man','Vrouw'])

In [152]:
df_sp = df_sp.replace(['BEVOPLLAAG_P','BEVOPLMIDDEL_P','BEVOPLHOOG_P'],[1,2,3])

In [153]:
df_sp

        jaar gebiedcode15 variabele  waarde
548686  2018         DX01         1    13.0
548687  2018         DX02         1    12.0
548688  2018         DX03         1    17.0
548689  2018         DX04         1    26.0
548690  2018         DX05         1    19.0
...      ...          ...       ...     ...
555233  2018         DX18         3    36.0
555234  2018         DX19         3    28.0
555235  2018         DX20         3    21.0
555236  2018         DX21         3    22.0
555237  2018         DX22         3    25.0

[66 rows x 4 columns]

In [154]:
amount = []

for i in df_sp.iterrows():
    row = i[1]
    area = row['gebiedcode15']
    waarde = row['waarde']
    etn = row['variabele']
    
    total = df_t[df_t['gebiedcode15'] == area]['amount_of_persons']
    

    amount.append(math.ceil((float(total)*float(waarde)/100)) )

df_sp['amount_per_area'] = amount

print(sum(amount))

859813

In [156]:
df_sp['area_code'] = [i%22 for i in range(66)]

In [157]:
df_sp

        jaar gebiedcode15 variabele  waarde  amount_per_area  area_code
548686  2018         DX01         1    13.0             9112          0
548687  2018         DX02         1    12.0             6516          1
548688  2018         DX03         1    17.0             8931          2
548689  2018         DX04         1    26.0            12212          3
548690  2018         DX05         1    19.0            19716          4
...      ...          ...       ...     ...              ...        ...
555233  2018         DX18         3    36.0             7134         17
555234  2018         DX19         3    28.0             1301         18
555235  2018         DX20         3    21.0             2959         19
555236  2018         DX21         3    22.0             7532         20
555237  2018         DX22         3    25.0             4550         21

[66 rows x 6 columns]

In [159]:
df_n = pd.read_csv('../Data/tab_n(with oplniv).csv')

In [160]:
df_sp.to_csv('spatial_data.csv')

In [161]:
df_sp = pd.read_csv('spatial_data.csv')

In [162]:
amount = []

for i in df_sp.iterrows():
    row = i[1]
    area = row['gebiedcode15']
    waarde = row['waarde']
    etn = row['variabele']
    
    total = df_t[df_t['gebiedcode15'] == area]['amount_of_persons']
    mv =len(etn_dict[etn])/sum(df_sp[df_sp['variabele'] == etn]['amount_per_area'])
    

    mv+=0.01
    print(total)
    print(total, waarde)
    amount.append(math.ceil((float(total)*float(waarde)/100)* mv) )

df_sp['amount_per_area'] = amount

print(sum(amount))

NameError: name 'etn_dict' is not defined

In [26]:
for i in etn_dict:
    print(i)
    print(len(etn_dict[i]))
    
    
    print(sum(df_sp[df_sp['variabele'] == i]['amount_per_area']))
    
    mv = len(etn_dict[i])/sum(df_sp[df_sp['variabele'] == i]['amount_per_area'])

    print(mv)
    print('\n')

Autochtoon
394250
398202
0.9900753888729841


Marokkaans
76647
77326
0.9912189949046892


Surinaams
64340
64904
0.9913102428201652


Turks
43929
44292
0.9918043890544568


Overig
281834
284879
0.9893112514435953

In [27]:
df_sp.to_csv('Data/spatial_data/spatial_data.csv')

In [32]:
def spatial(etn_dict, group_nodes):
    df_sp = pd.read_csv('Data\Spatial_data\spatial_data.csv')
    area_list = df_sp['area_code'].unique()
    etn_list = df_sp['variabele'].unique()
    groups = list(group_nodes.keys())

    areas_groups = {}
    node_area = {}
    areas_df = {} 
    areas = {}

    for area in area_list:
        areas[area] = {}
        areas_df[area] = {}
        areas_groups[area] = {}

        for etn in etn_list:
            areas_df[area][etn] = int(df_sp[(df_sp['variabele'] == etn) & (df_sp['area_code'] == area)]['amount_per_area'])
            areas[area][etn] = []
        for group in groups:
            areas_groups[area][group] = []

    total = 0
    x = 0
    for etn in etn_dict:
        random.shuffle(etn_dict[etn])
        random.shuffle(area_list)
        total+=len(etn_dict[etn])
        print(etn)
        
        area = 0
        i = 0
     
        while i < len(etn_dict[etn]):

            node = etn_dict[etn][i]
            if len(areas[area][etn]) < areas_df[area][etn] and area < 22:
                areas[area][etn].append(node)
                areas_groups[area][node[1]].append(node[0])
                node_area[node[0]] = area
                i+=1
              
    

            else:
                area+=1
                x += 1
                
                if area > 21:
                    area = 0
                    


    return areas_groups, node_area

In [33]:
total = 0
for x in ['Autochtoon', 'Marokkaans', 'Turks', 'Overig', 'Surinaams']:
    
    print(sum(df_sp[df_sp['variabele'] == i]['amount_per_area']))
    total+=len(etn_dict[x])

total

# print(len(etn_dict['Autochtoon']))

# print()
area_dict, node_area = spatial(etn_dict, group_nodes)

284879
284879
284879
284879
284879
Autochtoon
Marokkaans
Surinaams
Turks
Overig
861000 103

In [30]:
len(node_area)

NameError: name 'node_area' is not defined

In [ ]:
# areas = spatial(etn_dict,)

In [ ]:
# TODO
# Spatial
# Interlayer correlation
import main



'''
Hash function
'''

hash_dict, rehash_dict =main.hash_groups()

'''
Initialize nodes 
'''

df_nodes = pd.read_csv('Data/tab_n(with oplniv).csv')
all_nodes, group_nodes, etn_dict = main.initialize_nodes(df_nodes, hash_dict)

In [ ]:
'''
Initialize edges for multiple layers
'''

layers ='buren', 'c'

barabasi = 0

percentage = 1

reciprocity = 0

In [ ]:
def initialize_edges_links(df_edges,all_nodes, layer ,group_nodes, hash_dict, area_dict,node_area, id_source = None, id_destination = None, source = None, destination = None, barabasi = False, percentage=1, reciprocity=0):     
    '''
    Initializes the links based on the links per group instead of the probability
    '''   
    
    # Initialize all nodes with own link dictionary
    link_dictionary = {}

    for node in all_nodes:
        link_dictionary[node] = set()
      
    

    # Make from all strings integers so we do not have toe loop over pandas dataframe but over numpy array
    initial_list = []

    symetry_dict = {}


    for row in df_edges.iterrows():


        row = row[1]

        dst = hash_dict[f"{row['lft_dst']}, {row['etngrp_dst']}, {row['geslacht_dst']}, {row['oplniv_dst']}"]
        src = hash_dict[f"{row['lft_src']}, {row['etngrp_src']}, {row['geslacht_src']}, {row['oplniv_src']}"]

        initial_list.append(
            (
            dst,
            src,
            int(row['n'])
            )
            )
        
        symetry_dict[(src,dst)] = 0
    initial_list = np.array(initial_list)


    # If layer is huishouden or familie set symetric to True
    if layer == 'huishouden' or layer == 'familie':
        reciprocity = 1

    
    # Initializes the source and destinations lists if not multiprocessed
    if source == None and destination == None:
        source = []
        destination = []
        id_source = []
        id_destination = []

    total_edges = sum(df_edges['n'])

    edges_layd = 0
  
    # Loops through all connections (generated by the initialize node function) and makes links
    for row in initial_list:

        # Identifies source and destination group
        src_group = row[0]
        dst_group = row[1]
        connections = row[2]

        # If te data is symetric (familie, household), initiate a dictionary for the destination group
        if reciprocity:
            connections = connections - symetry_dict[(dst_group, src_group)]
     
        # If there are no connections between the source group and the destination group we continue
        if connections == 0:
            continue

        # Initialize dictionary with the node id as key and initial edges, 1, as value
        dst_nodes = group_nodes[dst_group]
        src_nodes = group_nodes[src_group]
        
        # If Barabasi parameter is on take a sample to put in the initial bin (1 percent is standard)
        if barabasi: 
            dst_nodes_bin = random.sample(dst_nodes, k=(math.ceil(len(dst_nodes)*(percentage/100))))
        
        i = 0
        while i < connections:

            if edges_layd % 10000 == 0:
                print(edges_layd/total_edges)
                print(edges_layd)
            
            while True:
                
                # Take random source node and destination node based on the groups
                if len(src_nodes) > 0 and len(dst_nodes) > 0:
                    
                    src_node = random.choices(src_nodes)[0]
                    dst_node = random.choices(dst_nodes)[0]
                    
                    # CHECK IN WHICH AREA HE IS FROM ==> MAKE DICTIONARY WHERE NODE IS KEY AND AREA IS VALUE
                    # CHOOSE A RANDOM OTHE NODE FROM THAT AREA WITH GROUP SPECIFICS ==> MAKE DICTIONARY WHERE AREA AND GROUP IS KEY AND LIST OF NODES IS VALUE

             
                    if layer == 'buren':
                        area = node_area[src_node]
                        x = 0
# #                         
                        while True:
                           
                            x +=1
                            if x == 1000:
                                dst_node = random.choices(dst_nodes)[0]
                                print(area, src_group, dst_group, connections)
#                                 print(x)
#                                 break
#                             
                            dst_area_nodes = area_dict[area][src_group]
                            if len(dst_area_nodes) > 0:
# 
                                dst_node = random.choices(dst_area_nodes)[0]
                               
                                break
                                
                            else:
                                  break
                                  area+=1
                                  area= area%99
     
                                      
                    
                    # Take random node from the bin
                    if barabasi: dst_node = random.choices(dst_nodes_bin)[0]
                   

                else:
                    break


                # Checks if the source and destination node are not the same and checks if they aren't already linked
                if dst_node != src_node and dst_node not in link_dictionary[src_node]:
                    
                    # If Barabasi append a random node to the bin
                    if barabasi:
                        dst_nodes_bin.append(random.choices(dst_nodes)[0])
               
                        # Add the chosen node to the bin so the chosen node gets a higher weight 
                        if np.random.uniform() < barabasi : dst_nodes_bin.append(dst_node)

                        

                    # Appends both nodes to lists
                    if reciprocity > np.random.uniform() and src_node not in link_dictionary[dst_node]:


                        source.append(dst_group)
                        destination.append(src_group)
                        link_dictionary[dst_node].add(src_node)
                    
                        id_source.append(dst_node)
                        id_destination.append(src_node)
                        
                        symetry_dict[(src_group, dst_group)] += 1

                        if dst_nodes == src_nodes:
                            i += 1
                    source.append(src_group)
                    destination.append(dst_group)
                
                    id_source.append(src_node)
                    id_destination.append(dst_node)

                    link_dictionary[src_node].add(dst_node)

                    break
                
            edges_layd += 1
            i += 1

    print(edges_layd)   
    return source, destination, id_source, id_destination



if __name__ == '__main__':


    for layer_number, layer in enumerate(layers):
        
    
        df_edges = pd.read_csv(f'Data/tab_{layer}.csv')
        source, destination, source_id, destination_id = initialize_edges_links(df_edges, all_nodes, layer ,group_nodes, hash_dict,area_dict,node_area, id_source = None, id_destination = None, source = None, destination = None, barabasi = barabasi, percentage = percentage, reciprocity = reciprocity)


        d = {'source_id': list(source_id), 'destination_id':list(destination_id), 'source_group': list(source), 'destination_group': list(destination)}

        df_ = pd.DataFrame(d)
        
        df_.to_csv(f'Data/NW_data/{layer}_nw_b={barabasi}_{percentage}_percentage.csv')


#     areas

In [ ]:
rehash_dict[8], rehash_dict[6]

In [ ]:
for i in range(98):
    print(area_dict[i][8])

In [ ]:
# x = 0
# for etn in etn_list:
#     print(len(etn_dict[etn]))
#     x += len(etn_dict[etn])
# # len(node_area)
x = 0
for i in group_nodes:
    print(len(group_nodes[i]))
    
    x+= len(group_nodes[i])

x

In [ ]:
len(node_area)

node_area[92303]

In [ ]:
92303 in all_nodes

In [19]:
gender_data = pd.read_csv('../Data/Spatial_data/gender_data.csv')

etn_data = pd.read_csv('../Data/Spatial_data/ethnicity_data.csv')

edu_data = pd.read_csv('../Data/Spatial_data/education_data.csv')
codes = []
etnicities = []
amounts = []
percentages = []
genders = []
educations = []

df = pd.DataFrame()
for i in etn_data.itertuples():
    e = i[3]
    c = i[-1]
    amount = i[-2]
    
    waarde = i[-3]
    
    for j in ['Man', 'Vrouw']:
        
        gender = gender_data[gender_data['area_code'] == c ]
        gender = gender[gender['variabele'] == j]
        gender_waarde = float((gender['waarde'])/100)
        
 
        print(amount)

        for k in [1,2,3]:
            
            education = edu_data[edu_data['area_code'] == c]
            education = education[education['variabele'] == k]
            
            education_waarde = float((education['waarde'])/100)
            
            
            waarde2 = waarde * education_waarde * gender_waarde
  
            amount2 = int(amount * education_waarde * gender_waarde)
        
            amounts.append(amount2)
            codes.append(c)
            percentages.append(waarde)
            etnicities.append(e)
            genders.append(j)
            educations.append(k)
        
df['etngrp'] = etnicities
df['code'] = codes
df['geslacht'] = genders
df['amount'] = amounts
df['oplniv'] = educations

37741
37741
29355
29355
27558
27558
17990
17990
51556
51556
3546
3546
5814
5814
9611
9611
12197
12197
27266
27266
7662
7662
41677
41677
34060
34060
28494
28494
11191
11191
11226
11226
12342
12342
11002
11002
1921
1921
2568
2568
7346
7346
6079
6079
1179
1179
1343
1343
3965
3965
9868
9868
7980
7980
4323
4323
5244
5244
2633
2633
8161
8161
979
979
391
391
3513
3513
9102
9102
8343
8343
845
845
2381
2381
2599
2599
1961
1961
658
658
479
479
953
953
426
426
1908
1908
2221
2221
2899
2899
2371
2371
5103
5103
864
864
1593
1593
1705
1705
2085
2085
1265
1265
672
672
3292
3292
5904
5904
4537
4537
920
920
2183
2183
1901
1901
1369
1369
427
427
4387
4387
11965
11965
5333
5333
1011
1011
916
916
1373
1373
5958
5958
4903
4903
3428
3428
3275
3275
2004
2004
3741
3741
874
874
482
482
1836
1836
4600
4600
4206
4206
372
372
1009
1009
1955
1955
776
776
488
488
336
336
553
553
196
196
26548
26548
19502
19502
18037
18037
13645
13645
34506
34506
3612
3612
5866
5866
5016
5016
12092
12092
16972
16972
7794
7794
25050
25050
23334
23334
17661
17661
5760
5760
7934
7934
6143
6143
5726
5726
1472
1472
7004
7004
14956
14956
6249
6249

In [120]:
etn_data.amount_per_area.sum()

869603

In [18]:
df.amount.sum()

867937

In [20]:
df

         etngrp  code geslacht  amount  oplniv
0    Autochtoon     0      Man    2536       1
1    Autochtoon     0      Man    4878       2
2    Autochtoon     0      Man   12097       3
3    Autochtoon     0    Vrouw    2369       1
4    Autochtoon     0    Vrouw    4557       2
..          ...   ...      ...     ...     ...
655      Overig    21      Man    1313       2
656      Overig    21      Man     763       3
657      Overig    21    Vrouw    1021       1
658      Overig    21    Vrouw    1373       2
659      Overig    21    Vrouw     798       3

[660 rows x 5 columns]

In [24]:
# importing product
from itertools import product
  
# apply product method
x = list(product(df['geslacht'], df['etngrp'] ))

In [32]:
df.groupby(['geslacht','etngrp', 'oplniv']).size().reset_index().to_numpy()

array([['Man', 'Autochtoon', 1, 22],
       ['Man', 'Autochtoon', 2, 22],
       ['Man', 'Autochtoon', 3, 22],
       ['Man', 'Marokkaans', 1, 22],
       ['Man', 'Marokkaans', 2, 22],
       ['Man', 'Marokkaans', 3, 22],
       ['Man', 'Overig', 1, 22],
       ['Man', 'Overig', 2, 22],
       ['Man', 'Overig', 3, 22],
       ['Man', 'Surinaams', 1, 22],
       ['Man', 'Surinaams', 2, 22],
       ['Man', 'Surinaams', 3, 22],
       ['Man', 'Turks', 1, 22],
       ['Man', 'Turks', 2, 22],
       ['Man', 'Turks', 3, 22],
       ['Vrouw', 'Autochtoon', 1, 22],
       ['Vrouw', 'Autochtoon', 2, 22],
       ['Vrouw', 'Autochtoon', 3, 22],
       ['Vrouw', 'Marokkaans', 1, 22],
       ['Vrouw', 'Marokkaans', 2, 22],
       ['Vrouw', 'Marokkaans', 3, 22],
       ['Vrouw', 'Overig', 1, 22],
       ['Vrouw', 'Overig', 2, 22],
       ['Vrouw', 'Overig', 3, 22],
       ['Vrouw', 'Surinaams', 1, 22],
       ['Vrouw', 'Surinaams', 2, 22],
       ['Vrouw', 'Surinaams', 3, 22],
       ['Vrouw', 'Turks', 1, 22],
       ['Vrouw', 'Turks', 2, 22],
       ['Vrouw', 'Turks', 3, 22]], dtype=object)