In [2]:
from IPython.display import display
import pandas as pd

In [5]:
names = ['werkschool', 'buren', 'familie', 'huishouden']
categories = ['geslacht', 'oplniv', 'lft', 'etngrp']
for name in names:
    print('\n')
    print(name)
    for category in categories:
        df = pd.read_csv(f'Data/Descriptives/Theils_t/{name}_{category}2.csv')
        display(df)

werkschool

  Unnamed: 0 Source      Man    Vrouw      gini    Atkins     Theil
0        Man    Man  7475300  6564010  0.032455  0.001054  0.003041
1      Vrouw  Vrouw  6547460  8775680  0.072708  0.005315  0.015308

,Unnamed: 0,Source,1,2,3,gini,Atkins,Theil
0,1,1.0,6447710.0,1325870.0,751950.0,0.445389,0.187773,0.349324
1,2,2.0,1320520.0,4281310.0,2702050.0,0.237703,0.051060,0.090419
2,3,3.0,711140.0,2569120.0,9252780.0,0.454353,0.198974,0.352188

,Unnamed: 0,Source,"[0,20)","[20,30)","[30,40)","[40,50)","[50,60)","[60,70)","[70,80)",gini,Atkins,Theil
0,"[0,20)","[0,20)",5823780,628740,184670,85380,64060,19260,120,0.789661,0.606291,0.708667
1,"[20,30)","[20,30)",633020,3793020,1647610,712630,575990,235300,5030,0.538358,0.280972,0.272805
2,"[30,40)","[30,40)",186190,1642330,2335640,1027030,822950,299560,3040,0.481150,0.248531,0.213165
3,"[40,50)","[40,50)",82990,728630,1076410,766340,737000,299500,2140,0.388921,0.214367,0.167052
4,"[50,60)","[50,60)",65380,598840,838850,749480,855600,372630,3290,0.367445,0.204763,0.156622
5,"[60,70)","[60,70)",19560,243750,306240,304000,374500,185070,4320,0.358341,0.194908,0.152499
6,"[70,80)","[70,80)",100,4670,3200,2450,3130,5290,3740,0.260914,0.113919,0.085501

,Unnamed: 0,Source,Autochtoon,Marokkaans,Overig,Surinaams,Turks,gini,Atkins,Theil
0,Autochtoon,Autochtoon,7838770,785040,3718620,833430,382650,0.526483,0.246807,0.311134
1,Marokkaans,Marokkaans,803490,667610,658090,224860,284860,0.233431,0.054214,0.064110
2,Overig,Overig,3758000,657700,3974380,691680,330790,0.441431,0.196353,0.238192
3,Surinaams,Surinaams,877730,230040,727610,464290,110370,0.337304,0.105510,0.122583
4,Turks,Turks,401850,286410,335860,107850,210470,0.212565,0.042002,0.049130

buren

  Unnamed: 0 Source      Man    Vrouw      gini    Atkins     Theil
0        Man    Man  9224070  4301290  0.181983  0.034294  0.097788
1      Vrouw  Vrouw  4298900  4058540  0.014380  0.000207  0.000597

,Unnamed: 0,Source,1,2,3,gini,Atkins,Theil
0,1,1.0,2923100.0,1629980.0,1659720.0,0.138759,0.019594,0.036596
1,2,2.0,1602730.0,1137940.0,1330320.0,0.076114,0.004903,0.008943
2,3,3.0,1642640.0,1334290.0,8622080.0,0.418874,0.170323,0.320918

,Unnamed: 0,Source,"[0,20)","[20,30)","[30,40)","[40,50)","[50,60)","[60,70)","[70,80)","[80,120]",gini,Atkins,Theil
0,"[0,20)","[0,20)",952130,531420,590420,536570,476500,301440,175750,47510,0.317229,0.106093,0.090459
1,"[20,30)","[20,30)",508690,5969380,522110,332340,293500,196580,97620,20840,0.704210,0.452530,0.526087
2,"[30,40)","[30,40)",585420,534460,1268030,409830,326900,249220,108180,18460,0.431076,0.177881,0.158602
3,"[40,50)","[40,50)",534600,336560,411770,419170,295230,196510,102450,17480,0.318233,0.118514,0.094610
4,"[50,60)","[50,60)",477180,313760,330860,295930,342600,229620,108570,16660,0.278661,0.104270,0.081095
5,"[60,70)","[60,70)",301040,201640,245260,195700,231240,182700,112530,13640,0.238164,0.084847,0.064219
6,"[70,80)","[70,80)",174530,101680,110240,104970,111510,98760,77690,4740,0.222440,0.090609,0.065810
7,"[80,120]","[80,120]",44390,20740,18830,17180,14530,15330,1680,0,0.396424,0.222676,0.160784

,Unnamed: 0,Source,Autochtoon,Marokkaans,Overig,Surinaams,Turks,gini,Atkins,Theil
0,Autochtoon,Autochtoon,3983140,410350,2256430,367810,249240,0.515011,0.243100,0.303052
1,Marokkaans,Marokkaans,405190,518860,384660,121430,219930,0.237595,0.053460,0.062589
2,Overig,Overig,2263600,385670,7619080,373750,234390,0.612669,0.342140,0.445176
3,Surinaams,Surinaams,366700,121440,385520,218290,64040,0.307345,0.088568,0.103912
4,Turks,Turks,243050,216500,231710,64270,177750,0.176376,0.041598,0.046046

familie

  Unnamed: 0 Source      Man    Vrouw      gini    Atkins     Theil
0        Man    Man  1566530  1714430  0.022539  0.000508  0.001466
1      Vrouw  Vrouw  1714420   989800  0.133979  0.018285  0.052433

,Unnamed: 0,Source,1,2,3,gini,Atkins,Theil
0,1,1.0,2048100.0,640140.0,433680.0,0.344749,0.108385,0.202952
1,2,2.0,640130.0,458810.0,350680.0,0.133115,0.015070,0.027524
2,3,3.0,433670.0,350680.0,629290.0,0.131391,0.014855,0.027322

,Unnamed: 0,Source,"[0,20)","[20,30)","[30,40)","[40,50)","[50,60)","[60,70)","[70,80)","[80,120]",gini,Atkins,Theil
0,"[0,20)","[0,20)",1088410,177190,219590,224120,201570,59920,44170,3710,0.557050,0.296322,0.297101
1,"[20,30)","[20,30)",177190,164120,114980,74640,96250,54490,15590,3820,0.384999,0.161437,0.131162
2,"[30,40)","[30,40)",219580,114980,498780,78400,51010,61320,20890,600,0.560668,0.290306,0.271927
3,"[40,50)","[40,50)",224120,74640,78400,129340,75380,31740,27700,370,0.431511,0.201494,0.164401
4,"[50,60)","[50,60)",201560,96250,51010,75380,161900,49250,20460,6750,0.421894,0.160780,0.144665
5,"[60,70)","[60,70)",59920,54490,61320,31740,49250,129600,45890,530,0.317373,0.142295,0.106595
6,"[70,80)","[70,80)",44170,15590,20890,27700,20460,45890,208750,9910,0.515215,0.226968,0.254801
7,"[80,120]","[80,120]",3710,3820,600,370,6750,530,9910,63820,0.711666,0.456585,0.503264

,Unnamed: 0,Source,Autochtoon,Marokkaans,Overig,Surinaams,Turks,gini,Atkins,Theil
0,Autochtoon,Autochtoon,1549040,55720,198290,47070,19120,0.687137,0.443217,0.603584
1,Marokkaans,Marokkaans,55720,1148520,13860,1000,1360,0.770005,0.634245,0.836995
2,Overig,Overig,198290,13860,1739620,16070,3760,0.741763,0.565313,0.734411
3,Surinaams,Surinaams,47070,1000,16070,400510,40,0.729097,0.557008,0.695292
4,Turks,Turks,19120,1360,3760,40,434910,0.773100,0.645420,0.850126

huishouden

  Unnamed: 0 Source      Man    Vrouw      gini    Atkins     Theil
0        Man    Man  1223870  2180960  0.140549  0.020160  0.057773
1      Vrouw  Vrouw  2180960   557080  0.296541  0.097429  0.271207

,Unnamed: 0,Source,1,2,3,gini,Atkins,Theil
0,1,1.0,1716650.0,401380.0,305000.0,0.388398,0.142928,0.269202
1,2,2.0,401380.0,467810.0,452590.0,0.033505,0.001060,0.001918
2,3,3.0,305000.0,452590.0,1640470.0,0.371264,0.127189,0.238405

,Unnamed: 0,Source,"[0,20)","[20,30)","[30,40)","[40,50)","[50,60)","[60,70)","[70,80)","[80,120]",gini,Atkins,Theil
0,"[0,20)","[0,20)",767120,34930,99480,131750,136630,6400,410,0,0.689580,0.480699,0.462126
1,"[20,30)","[20,30)",34930,138780,229370,35560,30960,13660,710,0,0.610991,0.382358,0.336472
2,"[30,40)","[30,40)",99480,229370,1258780,105010,12470,6640,580,0,0.754639,0.559104,0.570996
3,"[40,50)","[40,50)",131750,35560,105010,167870,90490,6360,30,0,0.508446,0.349840,0.249693
4,"[50,60)","[50,60)",136630,30960,12470,90490,285730,66590,8800,0,0.575647,0.326771,0.283274
5,"[60,70)","[60,70)",6400,13660,6640,6360,66590,257020,114200,20,0.670483,0.429854,0.408286
6,"[70,80)","[70,80)",410,710,580,30,8800,114200,577390,93340,0.769498,0.610895,0.601675
7,"[80,120]","[80,120]",0,0,0,0,0,20,93340,241400,0.805263,0.760238,0.715086

,Unnamed: 0,Source,Autochtoon,Marokkaans,Overig,Surinaams,Turks,gini,Atkins,Theil
0,Autochtoon,Autochtoon,1598980,6500,307700,18870,4170,0.721162,0.543700,0.672041
1,Marokkaans,Marokkaans,6500,475440,4300,90,10,0.787326,0.704023,0.923297
2,Overig,Overig,307700,4300,3030230,5180,4510,0.758377,0.627030,0.790063
3,Surinaams,Surinaams,18870,90,5180,97520,0,0.703008,0.536287,0.623424
4,Turks,Turks,4170,10,4510,0,238040,0.779119,0.685596,0.889950

In [9]:
names = ['werkschool', 'buren', 'familie', 'huishouden']
categories = ['geslacht', 'oplniv', 'lft', 'etngrp']
for name in names:
    print('\n')
    print(name)
    for category in categories:
        df = pd.read_csv(f'Data/Descriptives/Theils_t/{name}_{category}2.csv')
        display(df[['Source', 'Theil']])

werkschool

TypeError: publish() got an unexpected keyword argument 'index'